automation/Advanced Website Form to Pipedrive CRM with International Phone Support & WhatsApp.json
{
  "id": 7382,
  "name": "Advanced Website Form to Pipedrive CRM with International Phone Support & WhatsApp",
  "views": 30,
  "recentViews": 5,
  "totalViews": 30,
  "createdAt": "2025-08-14T12:33:03.040Z",
  "description": "# Advanced Form Submission to CRM Automation with International Phone Support\n## Who's it for\nSales teams, marketing professionals, and business owners who need sophisticated lead management with international phone number support, automated CRM record creation, intelligent duplicate detection, and multi-channel team notifications.\n## What it does\nThis advanced workflow automatically processes form submissions from your website and creates a complete, intelligent CRM structure in Pipedrive. It transforms raw form data into organized sales records including companies, contacts, deals, and relevant notes while handling international phone number formatting and providing real-time team notifications via Discord and WhatsApp messaging.\n## How it works\nThe workflow follows an intelligent automation process with four distinct scenarios:\nForm Trigger: Captures form submissions from your website (Webflow in this example)\nAdvanced Phone Processing: Automatically detects and formats international phone numbers with proper country codes for 20+ countries including France, Belgium, Switzerland, Germany, Spain, Italy, Morocco, Algeria, Tunisia, and more\nIntelligent CRM Logic: Uses a sophisticated 4-scenario approach:\n\nScenario A: Existing Organization + Existing Person - Links records and creates new deal\nScenario B: Existing Organization + New Person - Creates person, links to organization, creates deal\nScenario C: New Organization + Existing Person - Creates organization, links person, creates deal\nScenario D: New Organization + New Person - Creates complete new structure from scratch\n\nEnhanced Data Management: Adds lead source tracking, custom properties, and conditional data enhancement\nMulti-Channel Communication: Sends formatted alerts to Discord and personalized WhatsApp messages to leads\n## Requirements\n\nWebflow account (or any platform that supports webhook triggers)\nPipedrive CRM account with proper API credentials\nTeam notification service: Discord, Slack, Microsoft Teams, email service, or any webhook-compatible notification tool\nWhatsApp Business API access for lead messaging\nInternational phone number handling capability\n\n## How to set up\n### Step 1: Configure your form trigger\nDefault setup: The template uses Webflow Form Trigger with site ID configuration\nAlternative platforms: Replace with webhook trigger for other platforms (WordPress, custom websites, etc.)\nWebhook configuration: Set up your website's form to send data to the n8n webhook URL\nForm fields: Ensure your form captures the necessary fields:\n\nPrénom (First Name)\nNom (Last Name)\nEntreprise (Company)\nMail professionnel (Professional Email)\nTéléphone pro (Professional Phone)\nURL du site internet (Website URL)\nMessage\n\n### Step 2: Configure API credentials\nSet up the following credentials in n8n:\nWebflow OAuth2: For form trigger authentication (or webhook authentication for other platforms)\nPipedrive API: For CRM record creation and management - ensure proper permissions for organizations, persons, deals, and notes\nDiscord Bot API: For team notifications with guild and channel access\nWhatsApp Business API: For automated lead messaging with phone number ID configuration\n### Step 3: Customize international phone formatting\nThe \"international dialing code\" node automatically handles:\nEuropean countries: France (+33), Belgium (+32), Switzerland (+41), Germany (+49), Spain (+34), Italy (+39), Portugal (+351)\nNorth African countries: Morocco (+212), Algeria (+213), Tunisia (+216)\nGlobal coverage: US/Canada (+1), UK (+44), and many Asian countries\nFallback handling: Defaults to French formatting for unrecognized patterns\nError management: Uses +330000000000 as fallback for invalid numbers\n### Step 4: Configure Pipedrive settings\nAdjust Pipedrive-specific settings in deal creation nodes:\nDeal pipeline stage: Currently set to default stage (customize for your pipeline)\nDeal ownership: Configure owner_id for appropriate team member assignment\nCurrency settings: Adjust currency code for your business region\nCustom properties: Lead source automatically set to \"Growth AI\" (customize as needed)\n### Step 5: Set up team notifications\nConfigure your preferred notification system:\nDiscord (default): Set guild ID: 1377297267014504520, channel ID: 1380469490139009106\nAlternative platforms: Replace Discord node with Slack, Teams, email, or custom webhook\nMessage formatting: Customize notification content and structure\nMulti-channel setup: Add multiple notification nodes for different channels\n### Step 6: Configure WhatsApp messaging\nSet up automated lead engagement:\nPhone number ID: Configure WhatsApp Business API phone number (currently: 752773604591912)\nMessage personalization: Uses prospect's first name and customizable content\nInternational compatibility: Works with formatted international phone numbers\nMessage templates: Customize welcome messages and follow-up content\n## How to customize the workflow\n### Form platform integration\nWebflow: Use the existing Webflow trigger with site ID configuration\nWordPress: Replace with webhook trigger and configure Contact Form 7, Gravity Forms, or WPForms\nCustom websites: Set up webhook trigger with your form's POST endpoint\nLanding page builders: Configure webhook integration (Unbounce, Leadpages, Instapage, etc.)\nForm field mapping: Adjust the \"Data refinement\" node for your specific form structure\n### Advanced CRM customization\nPipeline management: Configure different stage IDs for various lead sources\nLead scoring: Add conditional logic for deal values based on form responses\nCustom fields: Map additional form fields to Pipedrive custom properties\nMultiple pipelines: Route different form types to different sales pipelines\nOwnership rules: Implement round-robin or territory-based assignment logic\n### International phone number expansion\nThe phone formatting system supports extensive customization:\nAdditional countries: Add new country patterns to the JavaScript code\nRegional preferences: Modify default formatting rules for specific regions\nValidation rules: Implement stricter phone number validation\nCarrier detection: Add mobile vs. landline detection logic\n### Notification enhancements\nMulti-platform notifications: Send to Discord, Slack, Teams, and email simultaneously\nConditional notifications: Route different lead types to different channels\nRich formatting: Add embeds, attachments, or rich text formatting\nEscalation rules: Implement priority-based notification routing\nIntegration expansion: Connect to internal tools or third-party notification services\n### Data validation and enrichment\nEmail validation: Add email verification steps before CRM creation\nCompany enrichment: Integrate with data enrichment services (Clearbit, ZoomInfo, Apollo)\nDuplicate detection: Enhanced logic to check for existing contacts across multiple fields\nLead qualification: Implement sophisticated scoring based on form responses and external data\nData cleaning: Add standardization for company names, job titles, and other fields\n## Advanced conditional logic features\n### Intelligent scenario routing\nThe workflow uses sophisticated logic to determine the correct processing path:\nOrganization detection: Exact matching search for existing companies\nPerson identification: Full name matching within relevant organization contexts\nRelationship preservation: Maintains proper links between organizations, persons, and deals\nData consistency: Ensures no duplicate records while preserving historical relationships\n### Smart data handling\nEnhanced conditional processing includes:\nPhone number intelligence: Automatic international formatting with country detection\nMessage processing: Creates deal notes only when message field contains meaningful content\nURL handling: Adds website URLs as separate notes when provided\nEmpty field management: Gracefully handles incomplete form submissions\nCustom property management: Adds lead source tracking and other metadata\n### Error handling and resilience\nGraceful failures: Workflow continues even if individual steps fail\nData validation: Comprehensive checks for required fields before processing\nNotification reliability: Ensures team is notified even if some CRM operations fail\nLogging capabilities: Detailed error tracking for troubleshooting\nRollback mechanisms: Ability to handle partial failures without data corruption\n## Results interpretation\n### CRM structure created\nFor each form submission, the workflow creates:\nOrganization record: Complete company information with proper formatting\nPerson record: Contact information linked to correct organization with phone formatting\nDeal record: Sales opportunity with appropriate stage, owner, and metadata\nEnhanced notes: Separate notes for messages and website URLs when provided\nProper relationships: Full linking between organization, person, and deal records\nCustom tracking: Lead source attribution and other custom properties\n### Team notifications and engagement\nComprehensive communication includes:\nDiscord notifications: Formatted team alerts with complete prospect information\nWhatsApp engagement: Personalized messages to leads with international number support\nImmediate alerts: Real-time notifications for instant follow-up capability\nFormatted display: Clean, organized presentation of all prospect data\nMulti-channel flexibility: Easy adaptation to any notification platform\n## Advanced use cases\n### International lead generation\nGlobal forms: Handle submissions from multiple countries with proper phone formatting\nMulti-language support: Process forms in different languages with consistent data structure\nRegional routing: Route leads to appropriate regional sales teams based on phone country codes\nCurrency handling: Automatic currency assignment based on detected country\n### Sophisticated lead management\nLead scoring: Advanced qualification based on company size, industry, and message content\nProgressive profiling: Build complete prospect profiles over multiple interactions\nEngagement tracking: Monitor response rates and optimize messaging\nAttribution analysis: Track lead sources and optimize marketing spend\n### Enterprise integration\nCustom CRM fields: Map to complex Pipedrive custom field structures\nMultiple pipelines: Route leads to different sales processes based on criteria\nTeam assignment: Intelligent routing based on territory, expertise, or workload\nCompliance handling: Ensure data processing meets regional privacy requirements\n## Workflow architecture details\n### Processing phases\n\nForm capture and data extraction: Webflow trigger processes submitted data\nInternational phone formatting: Advanced JavaScript processing for global numbers\nOrganization discovery: Intelligent search and creation logic\nPerson management: Sophisticated duplicate detection and relationship management\nDeal creation: Context-aware opportunity generation with proper associations\nEnhanced communication: Multi-channel notifications and lead engagement\n\n### Performance characteristics\nProcessing time: Typically completes within 10-15 seconds for complex scenarios\nReliability: Built-in error handling ensures high success rates\nScalability: Handles high-volume form submissions without performance degradation\nFlexibility: Easy customization for different business requirements and CRM configurations\n## Limitations and considerations\nPlatform dependencies: Currently optimized for Webflow and Pipedrive but adaptable\nPhone number coverage: Supports 20+ countries but may need expansion for specific regions\nCRM limitations: Requires proper Pipedrive API permissions and rate limit considerations\nForm structure: Field mapping requires customization for different form designs\nLanguage considerations: Currently configured for French field names but easily adaptable\nNotification dependencies: Requires proper configuration of Discord and WhatsApp APIs for full functionality",
  "workflow": {
    "meta": {
      "instanceId": "393ca9e36a1f81b0f643c72792946a5fe5e49eb4864181ba4032e5a408278263"
    },
    "nodes": [
      {
        "id": "fe4e1bc8-20fa-4a68-905d-ec3ddfac1357",
        "name": "Data refinement",
        "type": "n8n-nodes-base.set",
        "position": [
          -1840,
          1248
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "691e681b-b79e-4372-8afd-bdbaf0881c11",
                "name": "Prenom",
                "type": "string",
                "value": "={{ $json.payload.data['Prénom'] }}"
              },
              {
                "id": "c425fd31-6f20-4bc7-939d-ff3bdf63314e",
                "name": "Nom",
                "type": "string",
                "value": "={{ $json.payload.data.Nom }}"
              },
              {
                "id": "65ee47ca-19e9-490a-b647-0cb383ca21a6",
                "name": "Entreprise",
                "type": "string",
                "value": "={{ $json.payload.data.Entreprise }}"
              },
              {
                "id": "f0b97b9e-f621-42a9-b53e-1a32b277b588",
                "name": "Mail professionnel",
                "type": "string",
                "value": "={{ $json.payload.data['Mail professionnel'] }}"
              },
              {
                "id": "e25cb1ae-0514-485a-b93c-18bdb6ec16ba",
                "name": "Téléphone",
                "type": "string",
                "value": "={{ $json.payload.data['Téléphone pro'] }}"
              },
              {
                "id": "729eb9b0-0a3a-4f38-8fcb-226a6574c9c9",
                "name": "URL du site internet",
                "type": "string",
                "value": "={{ $json.payload.data['URL du site internet'] }}"
              },
              {
                "id": "91c587be-2a62-4dcd-b16e-7c644e0bbcda",
                "name": "Message",
                "type": "string",
                "value": "={{ $json.payload.data.Message }}"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "de704664-66bd-4d59-a5a7-201de6d6161d",
        "name": "Create Organization",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          -912,
          1248
        ],
        "parameters": {
          "name": "={{ $('Data refinement').item.json.Entreprise }}",
          "resource": "organization",
          "additionalFields": {}
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "b6ec98ec-2ab0-420c-828c-2b8432301938",
        "name": "Form Trigger",
        "type": "n8n-nodes-base.webflowTrigger",
        "position": [
          -2416,
          1248
        ],
        "webhookId": "53bcc9fa-3e52-451e-800d-8c747b173ff9",
        "parameters": {
          "site": "6825df5b20329ba581df4914"
        },
        "credentials": {
          "webflowOAuth2Api": {
            "id": "CbSzY9RPrUDbhOdg",
            "name": "Growth AI"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "91ceb3e7-1350-4256-be7b-cbeebbcb7722",
        "name": "Search an organization",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          -1312,
          1248
        ],
        "parameters": {
          "term": "={{ $('Data refinement').item.json.Entreprise }}",
          "limit": 10,
          "resource": "organization",
          "operation": "search",
          "additionalFields": {
            "exactMatch": true
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1,
        "alwaysOutputData": true
      },
      {
        "id": "78aa5756-4696-4fe3-b8c8-80e8d29fb0ce",
        "name": "If Organization exists",
        "type": "n8n-nodes-base.if",
        "position": [
          -1120,
          1248
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "a2b14d78-0253-480a-bb37-c64dee0f50dd",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.name }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "d2fc20b3-e4b6-4c96-88ee-21dbe9f4cc2d",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          336,
          2656
        ],
        "parameters": {
          "color": 4,
          "width": 1248,
          "height": 768,
          "content": "# Scenario D: New Organization + New Person"
        },
        "typeVersion": 1
      },
      {
        "id": "88474f56-643f-4862-b98b-b9cce056abac",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          336,
          1760
        ],
        "parameters": {
          "width": 1248,
          "height": 784,
          "content": "# Scenario C: New Organization + Existing Person"
        },
        "typeVersion": 1
      },
      {
        "id": "a9e02897-ed76-47f0-87ec-c0bfce47f3bc",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          336,
          832
        ],
        "parameters": {
          "color": 2,
          "width": 1248,
          "height": 784,
          "content": "# Scenario B: Existing Organization + New Person"
        },
        "typeVersion": 1
      },
      {
        "id": "f969c2c4-0f8a-4b04-9b72-1b6749e193bc",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          336,
          -32
        ],
        "parameters": {
          "color": 3,
          "width": 1248,
          "height": 784,
          "content": "# Scenario A: Existing Organization + Existing Person"
        },
        "typeVersion": 1
      },
      {
        "id": "4da77fb9-37aa-42f6-8160-f8287bcf8dd0",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2608,
          1120
        ],
        "parameters": {
          "width": 576,
          "height": 272,
          "content": "# Phase 1: Form Submission Trigger"
        },
        "typeVersion": 1
      },
      {
        "id": "7cb3c91a-6130-496a-a4e1-fcaf366c4f17",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2608,
          1424
        ],
        "parameters": {
          "width": 576,
          "height": 448,
          "content": "### What you do:\nComplete the contact form on the website with your business information\nProvide required details including name, company, email, phone, website URL, and message\nSubmit the form to initiate the automated lead processing\n\n### What the system does:\nReceives form data via Webflow webhook trigger (adaptable to other form platforms)\nCaptures all submitted information including contact details and business context\nInitiates the automated lead processing workflow immediately\nPrepares data for CRM integration and intelligent routing\n\n### Result:\n✅ Lead data captured automatically from any form platform\n✅ Immediate workflow activation upon form submission\n✅ All contact information secured and ready for processing\n✅ No manual data entry required for lead management\n"
        },
        "typeVersion": 1
      },
      {
        "id": "62e80f6d-f201-4efa-8f34-0d7464fa640a",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1984,
          1120
        ],
        "parameters": {
          "color": 2,
          "width": 576,
          "height": 272,
          "content": "# Phase 2: Data Processing and Phone Number Formatting"
        },
        "typeVersion": 1
      },
      {
        "id": "10c7d1e3-0f6a-499c-b9db-dd3007d1026c",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1984,
          1424
        ],
        "parameters": {
          "color": 2,
          "width": 576,
          "height": 320,
          "content": "### What the system does:\nExtracts and cleans all form field data into standardized format\nProcesses phone numbers intelligently using advanced international formatting\nDetects country codes automatically from phone number patterns\nFormats phone numbers with proper international prefixes (+33, +1, +44, etc.)\nHandles multiple international formats including French, European, and global numbers\nApplies fallback formatting for unrecognized number patterns\n\n### Result:\n✅ Clean, standardized contact data ready for CRM integration\n✅ International phone numbers properly formatted for WhatsApp messaging\n✅ Consistent data quality across all lead records\n✅ Automatic handling of various phone number formats\n"
        },
        "typeVersion": 1
      },
      {
        "id": "f2b7d25d-22c1-404a-ac84-ae537b03607e",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1360,
          1120
        ],
        "parameters": {
          "color": 5,
          "width": 576,
          "height": 272,
          "content": "# Phase 3: Organization Discovery and Management"
        },
        "typeVersion": 1
      },
      {
        "id": "065ad4dc-fd70-43e5-a0dc-e23307ca9dc9",
        "name": "Sticky Note9",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1360,
          1424
        ],
        "parameters": {
          "color": 5,
          "width": 576,
          "height": 144,
          "content": "### What the system does:\nSearches existing CRM (Pipedrive) for the company name\nUses exact matching to identify existing organizations\nRoutes workflow based on organization existence\nCreates new organization if none exists with matching name"
        },
        "typeVersion": 1
      },
      {
        "id": "d49d1e83-8203-485a-86bc-cf85b3f43020",
        "name": "Sticky Note10",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1632,
          -32
        ],
        "parameters": {
          "color": 3,
          "width": 1248,
          "height": 784,
          "content": "# Searches for the person within the known organization\n# Links existing records for deal creation\n# Maintains data consistency across related records"
        },
        "typeVersion": 1
      },
      {
        "id": "022dd480-0b7f-4559-b7d0-04af60c299a4",
        "name": "Sticky Note11",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1632,
          832
        ],
        "parameters": {
          "color": 2,
          "width": 1248,
          "height": 784,
          "content": "# Creates new person record linked to existing organization\n# Preserves organizational relationships and history\n# Adds new contact to established company structure"
        },
        "typeVersion": 1
      },
      {
        "id": "3fa4b9de-ca43-4aba-bfc3-f3c5ccfea6ab",
        "name": "Sticky Note12",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1632,
          1760
        ],
        "parameters": {
          "width": 1248,
          "height": 784,
          "content": "# Creates new organization for the company\n# Links existing person to new organization structure\n# Handles cases where person exists but company is new\n"
        },
        "typeVersion": 1
      },
      {
        "id": "e6c2a386-62c9-4fb0-a452-dfab5bf47011",
        "name": "Sticky Note13",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1632,
          2656
        ],
        "parameters": {
          "color": 4,
          "width": 1248,
          "height": 768,
          "content": "# Creates both organization and person records from scratch\n# Establishes complete new relationship in CRM\n# Sets up full contact and company structure"
        },
        "typeVersion": 1
      },
      {
        "id": "818000c7-9a76-4744-bd93-63737abf18e1",
        "name": "Sticky Note14",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -480,
          832
        ],
        "parameters": {
          "color": 7,
          "width": 784,
          "height": 1632,
          "content": "# Phase 4: Person Record Management"
        },
        "typeVersion": 1
      },
      {
        "id": "6fdde360-211b-4194-a8db-ab586b6e6c5e",
        "name": "Sticky Note16",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -480,
          2528
        ],
        "parameters": {
          "color": 7,
          "width": 784,
          "height": 384,
          "content": "### What the system does:\nSearches for existing persons by full name within relevant organization\nCreates new person records when no match is found\nUpdates existing records with new information when person exists\nAssociates persons with correct organizations automatically\nMaintains custom properties including lead source tracking\nAdds formatted phone numbers and email addresses\n\n### Result:\n✅ Accurate person record management without duplicates\n✅ Complete contact information captured and updated\n✅ Proper organizational relationships maintained\n✅ Lead source tracking for attribution analysis"
        },
        "typeVersion": 1
      },
      {
        "id": "3412b661-5724-4bad-a86b-8494a199da01",
        "name": "Sticky Note15",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          320,
          -208
        ],
        "parameters": {
          "color": 6,
          "width": 2592,
          "height": 3664,
          "content": "# Phase 5: Lead Communication and Engagement Management\n"
        },
        "typeVersion": 1
      },
      {
        "id": "9465a0ef-d701-454f-9211-795a2940335d",
        "name": "Sticky Note17",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          320,
          3488
        ],
        "parameters": {
          "color": 6,
          "width": 2592,
          "height": 528,
          "content": "### What the system does:\nAnalyzes form submission for additional context including messages and website URLs\nCreates comprehensive notes attached to deals preserving all submitted information\nAdds website URL references for business context and competitive research\nSends formatted notifications to Discord sales channel with complete lead details\nProvides immediate team alerts for new prospect activity and coordination\nDelivers personalized WhatsApp messages to leads using properly formatted phone numbers\nSends welcome messages acknowledging inquiries and setting follow-up expectations\nUses personalized messaging with lead's actual name for enhanced engagement\nMaintains professional communication standards across all channels\n\n### Result:\n✅ Complete lead context and intelligence preserved in CRM system\n✅ Instant team awareness with structured information sharing\n✅ Immediate, personalized response to every lead inquiry\n✅ Professional first impression via modern messaging channels\n✅ Sales team has access to original inquiry details and website information\n✅ Collaborative lead qualification process enabled across team\n✅ Clear expectations set for Customer Success Manager follow-up\n✅ Enhanced lead engagement and response rates through multi-channel approach\n✅ Fast response time capability maintaining competitive advantage"
        },
        "typeVersion": 1
      },
      {
        "id": "994dbd5f-d5c3-42f2-a5d5-cb24a804ae2c",
        "name": "international dialing code",
        "type": "n8n-nodes-base.code",
        "position": [
          -1600,
          1248
        ],
        "parameters": {
          "jsCode": "// Nœud Code n8n pour formater les numéros de téléphone avec indicatifs\n// Copiez ce code dans un nœud \"Code\" de n8n\n\n// Configuration des indicatifs par pays/région\nconst countryPrefixes = {\n  // France\n  'FR': {\n    prefix: '+33',\n    patterns: [\n      /^0[1-9]/,           // 01, 02, 03, 04, 05, 06, 07, 08, 09\n      /^[1-9]/             // Sans le 0 initial\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^0/, '');\n      return `+33${cleaned}`;\n    }\n  },\n  \n  // Pays frontaliers de la France\n  // Belgique\n  'BE': {\n    prefix: '+32',\n    patterns: [\n      /^0[2-9]/,           // 02, 03, 04, etc.\n      /^[2-9]/             // Sans le 0 initial\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^0/, '');\n      return `+32${cleaned}`;\n    }\n  },\n  \n  // Suisse\n  'CH': {\n    prefix: '+41',\n    patterns: [\n      /^0[1-9]/,           // 01, 02, etc.\n      /^[1-9]/             // Sans le 0 initial\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^0/, '');\n      return `+41${cleaned}`;\n    }\n  },\n  \n  // Luxembourg\n  'LU': {\n    prefix: '+352',\n    patterns: [\n      /^[2-9]/,            // Commencent par 2-9 (pas de 0 initial)\n      /^6[0-9]/            // Mobiles commencent par 6\n    ],\n    format: (number) => {\n      return `+352${number}`;\n    }\n  },\n  \n  // Allemagne\n  'DE': {\n    prefix: '+49',\n    patterns: [\n      /^0[1-9]/,           // 01, 02, etc.\n      /^[1-9]/             // Sans le 0 initial\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^0/, '');\n      return `+49${cleaned}`;\n    }\n  },\n  \n  // Espagne\n  'ES': {\n    prefix: '+34',\n    patterns: [\n      /^[67]/,             // Mobiles commencent par 6 ou 7\n      /^[89]/              // Fixes commencent par 8 ou 9\n    ],\n    format: (number) => {\n      return `+34${number}`;\n    }\n  },\n  \n  // Italie\n  'IT': {\n    prefix: '+39',\n    patterns: [\n      /^0[1-9]/,           // Fixes commencent par 0\n      /^3[0-9]/            // Mobiles commencent par 3\n    ],\n    format: (number) => {\n      return `+39${number}`;\n    }\n  },\n  \n  // Portugal\n  'PT': {\n    prefix: '+351',\n    patterns: [\n      /^2[1-9]/,           // Fixes région Lisbonne (21, 22, etc.)\n      /^9[1-6]/,           // Mobiles (91, 92, 93, 96)\n      /^[89][0-9]/         // Autres fixes\n    ],\n    format: (number) => {\n      return `+351${number}`;\n    }\n  },\n  \n  // Pays francophones d'Afrique du Nord\n  // Maroc\n  'MA': {\n    prefix: '+212',\n    patterns: [\n      /^0[5-7]/,           // 05, 06, 07\n      /^[5-7]/             // Sans le 0 initial\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^0/, '');\n      return `+212${cleaned}`;\n    }\n  },\n  \n  // Algérie\n  'DZ': {\n    prefix: '+213',\n    patterns: [\n      /^0[1-9]/,           // 01, 02, etc.\n      /^[5-7]/             // Mobiles 5, 6, 7\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^0/, '');\n      return `+213${cleaned}`;\n    }\n  },\n  \n  // Tunisie\n  'TN': {\n    prefix: '+216',\n    patterns: [\n      /^[2-5]/,            // Fixes régionaux (20, 21, 22, etc.)\n      /^[9]/               // Mobiles commencent par 9\n    ],\n    format: (number) => {\n      return `+216${number}`;\n    }\n  },\n  \n  // Autres pays (conservés)\n  // Canada\n  'CA': {\n    prefix: '+1',\n    patterns: [\n      /^1[0-9]{10}$/,      // 1 + 10 chiffres\n      /^[0-9]{10}$/        // 10 chiffres sans le 1\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^1/, '');\n      return `+1${cleaned}`;\n    }\n  },\n  \n  // États-Unis\n  'US': {\n    prefix: '+1',\n    patterns: [\n      /^1[0-9]{10}$/,      // 1 + 10 chiffres\n      /^[0-9]{10}$/        // 10 chiffres sans le 1\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^1/, '');\n      return `+1${cleaned}`;\n    }\n  },\n  \n  // Royaume-Uni\n  'GB': {\n    prefix: '+44',\n    patterns: [\n      /^0[1-9]/,           // 01, 02, etc.\n      /^[1-9]/             // Sans le 0 initial\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^0/, '');\n      return `+44${cleaned}`;\n    }\n  },\n\n  // Pays asiatiques et du Moyen-Orient\n  // Qatar\n  'QA': {\n    prefix: '+974',\n    patterns: [\n      /^[3567]/,           // Mobiles commencent par 3, 5, 6, 7\n      /^4[0-9]/            // Fixes commencent par 4\n    ],\n    format: (number) => {\n      return `+974${number}`;\n    }\n  },\n\n  // Maldives\n  'MV': {\n    prefix: '+960',\n    patterns: [\n      /^[79]/,             // Mobiles commencent par 7 ou 9\n      /^3[0-9]/            // Fixes commencent par 3\n    ],\n    format: (number) => {\n      return `+960${number}`;\n    }\n  },\n\n  // Pakistan\n  'PK': {\n    prefix: '+92',\n    patterns: [\n      /^0[1-9]/,           // Fixes avec 0 initial\n      /^3[0-9]/            // Mobiles commencent par 3\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^0/, '');\n      return `+92${cleaned}`;\n    }\n  },\n\n  // Inde\n  'IN': {\n    prefix: '+91',\n    patterns: [\n      /^0[1-9]/,           // Fixes avec 0 initial\n      /^[6-9]/             // Mobiles commencent par 6, 7, 8, 9\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^0/, '');\n      return `+91${cleaned}`;\n    }\n  },\n\n  // Hong Kong\n  'HK': {\n    prefix: '+852',\n    patterns: [\n      /^[2-3]/,            // Fixes commencent par 2 ou 3\n      /^[5-9]/             // Mobiles commencent par 5, 6, 9\n    ],\n    format: (number) => {\n      return `+852${number}`;\n    }\n  },\n\n  // Corée du Sud\n  'KR': {\n    prefix: '+82',\n    patterns: [\n      /^0[1-9]/,           // Fixes avec 0 initial\n      /^1[0-9]/            // Mobiles commencent par 1\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^0/, '');\n      return `+82${cleaned}`;\n    }\n  },\n\n  // Japon\n  'JP': {\n    prefix: '+81',\n    patterns: [\n      /^0[1-9]/,           // Fixes avec 0 initial\n      /^[789][0-9]/        // Mobiles commencent par 7, 8, 9\n    ],\n    format: (number) => {\n      let cleaned = number.replace(/^0/, '');\n      return `+81${cleaned}`;\n    }\n  }\n};\n\n/**\n * Nettoie un numéro de téléphone en supprimant tous les caractères non numériques\n * @param {string} phoneNumber - Numéro de téléphone brut\n * @returns {string} - Numéro nettoyé\n */\nfunction cleanPhoneNumber(phoneNumber) {\n  if (!phoneNumber || typeof phoneNumber !== 'string') {\n    return '';\n  }\n  \n  // Supprimer tous les caractères non numériques sauf le + au début\n  let cleaned = phoneNumber.trim();\n  \n  // Si le numéro commence déjà par +, on le garde tel quel\n  if (cleaned.startsWith('+')) {\n    return cleaned.replace(/[^\\d+]/g, '');\n  }\n  \n  // Sinon, supprimer tous les caractères non numériques\n  return cleaned.replace(/[^\\d]/g, '');\n}\n\n/**\n * Détecte le pays et formate le numéro de téléphone\n * @param {string} phoneNumber - Numéro de téléphone nettoyé\n * @returns {Object} - Objet avec le numéro formaté et les informations du pays\n */\nfunction detectAndFormatPhoneNumber(phoneNumber) {\n  // Si le numéro commence déjà par +, on considère qu'il est déjà formaté\n  if (phoneNumber.startsWith('+')) {\n    return {\n      formatted: phoneNumber,\n      detected_country: 'Already formatted',\n      confidence: 'high'\n    };\n  }\n  \n  // Parcourir chaque pays pour trouver une correspondance\n  for (const [countryCode, config] of Object.entries(countryPrefixes)) {\n    for (const pattern of config.patterns) {\n      if (pattern.test(phoneNumber)) {\n        return {\n          formatted: config.format(phoneNumber),\n          detected_country: countryCode,\n          confidence: 'high',\n          original: phoneNumber\n        };\n      }\n    }\n  }\n  \n  // Si aucun pattern ne correspond, essayer de deviner par la longueur\n  const length = phoneNumber.length;\n  \n  // Longueurs typiques par défaut (France comme fallback pour l'Europe)\n  if (length === 10 && phoneNumber.startsWith('0')) {\n    return {\n      formatted: countryPrefixes.FR.format(phoneNumber),\n      detected_country: 'FR',\n      confidence: 'medium',\n      original: phoneNumber,\n      reason: 'Fallback: 10 digits starting with 0 (assumed French)'\n    };\n  }\n  \n  if (length === 9 && !phoneNumber.startsWith('0')) {\n    return {\n      formatted: `+33${phoneNumber}`,\n      detected_country: 'FR',\n      confidence: 'low',\n      original: phoneNumber,\n      reason: 'Fallback: 9 digits without 0 (assumed French mobile)'\n    };\n  }\n  \n  // Si on ne peut pas détecter, retourner le numéro original avec un avertissement\n  return {\n    formatted: phoneNumber,\n    detected_country: 'Unknown',\n    confidence: 'none',\n    original: phoneNumber,\n    warning: 'Could not detect country, returned original number'\n  };\n}\n\n// Code principal du nœud n8n\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  try {\n    // Récupérer le numéro de téléphone depuis l'objet spécifié\n    const rawPhoneNumber = $input.first().json['Téléphone'];\n    \n    if (!rawPhoneNumber) {\n      processedItems.push({\n        ...item,\n        json: {\n          ...item.json,\n          phone_formatted: '+330000000000'\n        }\n      });\n      continue;\n    }\n    \n    // Nettoyer et formater le numéro\n    const cleanedNumber = cleanPhoneNumber(rawPhoneNumber);\n    \n    if (!cleanedNumber) {\n      processedItems.push({\n        ...item,\n        json: {\n          ...item.json,\n          phone_formatted: '+330000000000'\n        }\n      });\n      continue;\n    }\n    \n    // Détecter et formater\n    const result = detectAndFormatPhoneNumber(cleanedNumber);\n    \n    // Ajouter seulement le numéro formaté à l'item\n    processedItems.push({\n      ...item,\n      json: {\n        ...item.json,\n        // Numéro formaté avec indicatif\n        phone_formatted: result.formatted\n      }\n    });\n    \n  } catch (error) {\n    // En cas d'erreur, retourner le numéro par défaut\n    processedItems.push({\n      ...item,\n      json: {\n        ...item.json,\n        phone_formatted: '+330000000000'\n      }\n    });\n  }\n}\n\nreturn processedItems;\n\n// Exemple de ce que vous obtiendrez en sortie :\n/*\n{\n  \"phone_formatted\": \"+33612345678\"\n}\n\n// En cas d'erreur ou numéro non trouvé :\n{\n  \"phone_formatted\": \"+330000000000\"\n}\n*/"
        },
        "typeVersion": 2
      },
      {
        "id": "dcd04de8-4352-41cf-a245-32a0795ad0e8",
        "name": "Search Person Scenario C & D",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          -240,
          2240
        ],
        "parameters": {
          "term": "={{ $('Data refinement').item.json.Prenom }} {{ $('Data refinement').item.json.Nom }}",
          "limit": 10,
          "resource": "person",
          "operation": "search",
          "additionalFields": {
            "exactMatch": true
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "executeOnce": false,
        "typeVersion": 1,
        "alwaysOutputData": true
      },
      {
        "id": "73ddab8a-2301-40cf-a613-8fe10baeba32",
        "name": "If Person exists Scenario C & D",
        "type": "n8n-nodes-base.if",
        "position": [
          16,
          2240
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "a2b14d78-0253-480a-bb37-c64dee0f50dd",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.name }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "aa3f2a32-5c17-4790-965a-f18a887c9ee2",
        "name": "Create a person Scenario D",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          384,
          2768
        ],
        "parameters": {
          "name": "={{ $('Data refinement').item.json.Prenom }} {{ $('Data refinement').item.json.Nom }}",
          "resource": "person",
          "additionalFields": {
            "email": [
              "={{ $('Data refinement').item.json['Mail professionnel'] }}"
            ],
            "phone": [],
            "org_id": "={{ $('Create Organization').item.json.id }}"
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "0cd3c69b-384a-4eff-afec-52fd03add7ec",
        "name": "Create Deal Scenario D",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          704,
          2768
        ],
        "parameters": {
          "title": "={{ $('Data refinement').item.json.Entreprise }} - Lead",
          "person_id": "={{ $('Create a person Scenario D').item.json.id }}",
          "associateWith": "person",
          "additionalFields": {}
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "3e33dc33-8365-4113-9846-394fab72dc29",
        "name": "If message Scenario D",
        "type": "n8n-nodes-base.if",
        "position": [
          1152,
          2704
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "6c99e1a3-364d-46d8-97c2-beffdc4048b2",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $('Data refinement').item.json.Message }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "8f64bd92-c925-4832-9096-010985431561",
        "name": "Note message Scenario D",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1376,
          2704
        ],
        "parameters": {
          "content": "={{ $('Data refinement').item.json.Message }}",
          "resource": "note",
          "additionalFields": {
            "deal_id": "={{ $('Create Deal Scenario D').item.json.id }}"
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "2442bc7d-93af-4ddb-81d2-b4af1992369e",
        "name": "If URL Scenario D",
        "type": "n8n-nodes-base.if",
        "position": [
          1152,
          2896
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "536bcc29-bcaf-4b40-8395-136eeba12491",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $('Data refinement').item.json['URL du site internet'] }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "495e1826-ddcb-43eb-b550-42661d8d6e26",
        "name": "Note URL Scenario D",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1376,
          2896
        ],
        "parameters": {
          "content": "={{ $('Data refinement').item.json.payload.data['URL du site internet'] }}",
          "resource": "note",
          "additionalFields": {
            "deal_id": "={{ $('Create Deal Scenario D').item.json.id }}"
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "1d439cef-9282-47da-ab7a-7cb4a296fcb3",
        "name": "Message team Scenario D",
        "type": "n8n-nodes-base.discord",
        "position": [
          1152,
          3056
        ],
        "webhookId": "c8b277a4-ce7e-455e-9ed7-b207426dc7f4",
        "parameters": {
          "content": "=🚨 NOUVELLE DEMANDE DE CONTACT (formulaire)🚨\n\nPrénom : {{ $('Data refinement').item.json.Prenom }}\n\nNom : {{ $('Data refinement').item.json.Nom }}\n\nEntreprise : {{ $('Data refinement').item.json.Entreprise }}\n\nMail : {{ $('Data refinement').item.json['Mail professionnel'] }}\n\nTéléphone : {{ $('Data refinement').item.json['Téléphone'] }}\n\nURL : {{ $('Data refinement').item.json.payload.data['URL du site internet'] }}\n\nMessage : {{ $('Data refinement').item.json.Message }}",
          "guildId": {
            "__rl": true,
            "mode": "list",
            "value": "1377297267014504520",
            "cachedResultUrl": "https://discord.com/channels/1377297267014504520",
            "cachedResultName": "Growth AI"
          },
          "options": {},
          "resource": "message",
          "channelId": {
            "__rl": true,
            "mode": "list",
            "value": "1380469490139009106",
            "cachedResultUrl": "https://discord.com/channels/1377297267014504520/1380469490139009106",
            "cachedResultName": "🤑-nouveaux-prospects"
          }
        },
        "credentials": {
          "discordBotApi": {
            "id": "pnY6XafKnApsBts5",
            "name": "Bender Growth AI"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "20154343-6928-4c75-b473-44fbc8b3ab24",
        "name": "Send message Scenario D",
        "type": "n8n-nodes-base.whatsApp",
        "position": [
          1376,
          3056
        ],
        "webhookId": "56f0f58b-c818-4151-a993-d1061bb81a3f",
        "parameters": {
          "textBody": "=Hello {{ $('Data refinement').item.json.Prenom }},\n\nHere is how you can transform you days into an amazing journey...",
          "operation": "send",
          "phoneNumberId": "752773604591912",
          "additionalFields": {},
          "recipientPhoneNumber": "={{ $('international dialing code').item.json.phone_formatted }}"
        },
        "credentials": {
          "whatsAppApi": {
            "id": "jcnpyvSgT2JMrgFR",
            "name": "WhatsApp Growth Ai"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "90cb6fcc-8e31-4d7f-9c48-08db3cbc4ed6",
        "name": "Update a person Scenario D",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1152,
          3232
        ],
        "parameters": {
          "personId": "={{ $('Create a person Scenario D').item.json.id }}",
          "resource": "person",
          "operation": "update",
          "updateFields": {
            "phone": [
              "={{ $('Data refinement').item.json['Téléphone'] }}"
            ]
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "08038dd4-5867-476c-8a98-78c4f6fb0c11",
        "name": "Create Deal Scenario C",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          688,
          2128
        ],
        "parameters": {
          "title": "={{ $('Data refinement').item.json.Entreprise }} - Lead",
          "person_id": "={{ $('Search Person Scenario C & D').item.json.id }}",
          "associateWith": "person",
          "additionalFields": {}
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "70210f12-f793-4947-a493-011e73ae5ed5",
        "name": "If message Scenario C",
        "type": "n8n-nodes-base.if",
        "position": [
          1152,
          1776
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "6c99e1a3-364d-46d8-97c2-beffdc4048b2",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $('Data refinement').item.json.Message }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "5839114f-261d-48ef-a693-2120a719834d",
        "name": "Note message Scenario C",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1376,
          1776
        ],
        "parameters": {
          "content": "={{ $('Data refinement').item.json.Message }}",
          "resource": "note",
          "additionalFields": {
            "deal_id": "={{ $('Create Deal Scenario C').item.json.id }}"
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "0ee6cfa5-c4e3-40ad-bc13-6d4913013645",
        "name": "If URL Scenario C",
        "type": "n8n-nodes-base.if",
        "position": [
          1152,
          2000
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "536bcc29-bcaf-4b40-8395-136eeba12491",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $('Data refinement').item.json['URL du site internet'] }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "3ef82172-e694-473b-b355-27f0a8540ff7",
        "name": "Note URL Scenario C",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1392,
          1984
        ],
        "parameters": {
          "content": "={{ $('Data refinement').item.json['URL du site internet'] }}",
          "resource": "note",
          "additionalFields": {
            "deal_id": "={{ $('Create Deal Scenario C').item.json.id }}"
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "2f547ba7-6a30-4f4d-b8f0-43333fcdcc7d",
        "name": "Message team Scenario C",
        "type": "n8n-nodes-base.discord",
        "position": [
          1152,
          2160
        ],
        "webhookId": "c8b277a4-ce7e-455e-9ed7-b207426dc7f4",
        "parameters": {
          "content": "=🚨 NOUVELLE DEMANDE DE CONTACT (formulaire)🚨\n\nPrénom : {{ $('Data refinement').item.json.Prenom }}\n\nNom : {{ $('Data refinement').item.json.Nom }}\n\nEntreprise : {{ $('Data refinement').item.json.Entreprise }}\n\nMail : {{ $('Data refinement').item.json['Mail professionnel'] }}\n\nTéléphone : {{ $('Data refinement').item.json['Téléphone'] }}\n\nURL : {{ $('Data refinement').item.json['URL du site internet'] }}\n\nMessage : {{ $('Data refinement').item.json.Message }}",
          "guildId": {
            "__rl": true,
            "mode": "list",
            "value": "1377297267014504520",
            "cachedResultUrl": "https://discord.com/channels/1377297267014504520",
            "cachedResultName": "Growth AI"
          },
          "options": {},
          "resource": "message",
          "channelId": {
            "__rl": true,
            "mode": "list",
            "value": "1380469490139009106",
            "cachedResultUrl": "https://discord.com/channels/1377297267014504520/1380469490139009106",
            "cachedResultName": "🤑-nouveaux-prospects"
          }
        },
        "credentials": {
          "discordBotApi": {
            "id": "pnY6XafKnApsBts5",
            "name": "Bender Growth AI"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "b2584b2b-8f18-4b7c-a246-e082615531b1",
        "name": "Send message Scenario C",
        "type": "n8n-nodes-base.whatsApp",
        "position": [
          1392,
          2160
        ],
        "webhookId": "56f0f58b-c818-4151-a993-d1061bb81a3f",
        "parameters": {
          "textBody": "=Hello {{ $('Data refinement').item.json.Prenom }},\n\nHere is how you can transform you days into an amazing journey...",
          "operation": "send",
          "phoneNumberId": "752773604591912",
          "additionalFields": {},
          "recipientPhoneNumber": "={{ $('international dialing code').item.json.phone_formatted }}"
        },
        "credentials": {
          "whatsAppApi": {
            "id": "jcnpyvSgT2JMrgFR",
            "name": "WhatsApp Growth Ai"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "0c344cee-2a83-43ea-9e33-f146bf11bf90",
        "name": "Update a person Scenario C",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1152,
          2368
        ],
        "parameters": {
          "personId": "={{ $('Search Person Scenario C & D').item.json.id }}",
          "resource": "person",
          "operation": "update",
          "updateFields": {
            "phone": [
              "={{ $('international dialing code').item.json.phone_formatted }}"
            ],
            "customProperties": {
              "property": [
                {
                  "name": "c17f379e66fb0fa2c7e6ddfd986f7aa581086dd4",
                  "value": "Growth Ai"
                }
              ]
            }
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "2630a20f-54c7-4db8-86fa-64f274ed776a",
        "name": "Search Person Scenario A & B",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          -240,
          992
        ],
        "parameters": {
          "term": "={{ $('Data refinement').item.json.Prenom }} {{ $('Data refinement').item.json.Nom }}",
          "resource": "person",
          "operation": "search",
          "additionalFields": {
            "exactMatch": true
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "executeOnce": false,
        "typeVersion": 1,
        "alwaysOutputData": true
      },
      {
        "id": "e45f6fdc-7016-4996-a024-b793f5dbe79a",
        "name": "If Person exists Scenario A & B",
        "type": "n8n-nodes-base.if",
        "position": [
          0,
          992
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "a2b14d78-0253-480a-bb37-c64dee0f50dd",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.name }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "ab7bfd6e-b0f1-45e9-bf26-a252abd0e46b",
        "name": "Create a person Scenario B",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          384,
          1168
        ],
        "parameters": {
          "name": "={{ $('Data refinement').item.json.Prenom }} {{ $('Data refinement').item.json.Nom }}",
          "resource": "person",
          "additionalFields": {
            "email": [
              "={{ $('Data refinement').item.json['Mail professionnel'] }}"
            ],
            "phone": [],
            "org_id": "={{ $('Search an organization').item.json.id }}"
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "baededf0-8b8d-4236-8eaf-164689c9b6f7",
        "name": "Create Deal Scenario B",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          688,
          1168
        ],
        "parameters": {
          "title": "={{ $('Data refinement').item.json.Entreprise }} - Lead",
          "person_id": "={{ $('Create a person Scenario B').item.json.id }}",
          "associateWith": "person",
          "additionalFields": {}
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "141ee09b-1723-41de-98bc-d5778ece5d73",
        "name": "If message Scenario B",
        "type": "n8n-nodes-base.if",
        "position": [
          1136,
          896
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "6c99e1a3-364d-46d8-97c2-beffdc4048b2",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $('Data refinement').item.json.Message }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "9d7d46df-cc34-4217-bcda-7ab0c0e14241",
        "name": "Note message Scenario B",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1360,
          880
        ],
        "parameters": {
          "content": "={{ $('Data refinement').item.json.Message }}",
          "resource": "note",
          "additionalFields": {
            "deal_id": "={{ $('Create Deal Scenario B').item.json.id }}"
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "ef96c292-4ca0-4d59-a73c-9cc475c877ea",
        "name": "If URL Scenario B",
        "type": "n8n-nodes-base.if",
        "position": [
          1136,
          1072
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "536bcc29-bcaf-4b40-8395-136eeba12491",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $('Data refinement').item.json['URL du site internet'] }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "0d7cbbce-2843-4bca-8f56-1f6fa04748f5",
        "name": "Note URL Scenario B",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1360,
          1072
        ],
        "parameters": {
          "content": "={{ $('Data refinement').item.json['URL du site internet'] }}",
          "resource": "note",
          "additionalFields": {
            "deal_id": "={{ $('Create Deal Scenario B').item.json.id }}"
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "0828af19-07cf-464c-b00c-e891c0415a56",
        "name": "Message team Scenario B",
        "type": "n8n-nodes-base.discord",
        "position": [
          1136,
          1264
        ],
        "webhookId": "c8b277a4-ce7e-455e-9ed7-b207426dc7f4",
        "parameters": {
          "content": "=🚨 NOUVELLE DEMANDE DE CONTACT (formulaire)🚨\n\nPrénom : {{ $('Data refinement').item.json.Prenom }}\n\nNom : {{ $('Data refinement').item.json.Nom }}\n\nEntreprise : {{ $('Data refinement').item.json.Entreprise }}\n\nMail : {{ $('Data refinement').item.json['Mail professionnel'] }}\n\nTéléphone : {{ $('Data refinement').item.json['Téléphone'] }}\n\nURL : {{ $('Data refinement').item.json.payload.data['URL du site internet'] }}\n\nMessage : {{ $('Data refinement').item.json.Message }}",
          "guildId": {
            "__rl": true,
            "mode": "list",
            "value": "1377297267014504520",
            "cachedResultUrl": "https://discord.com/channels/1377297267014504520",
            "cachedResultName": "Growth AI"
          },
          "options": {},
          "resource": "message",
          "channelId": {
            "__rl": true,
            "mode": "list",
            "value": "1380469490139009106",
            "cachedResultUrl": "https://discord.com/channels/1377297267014504520/1380469490139009106",
            "cachedResultName": "🤑-nouveaux-prospects"
          }
        },
        "credentials": {
          "discordBotApi": {
            "id": "pnY6XafKnApsBts5",
            "name": "Bender Growth AI"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "1aba00fc-e30e-47f0-9f27-8aef6640ff09",
        "name": "Send message Scenario B",
        "type": "n8n-nodes-base.whatsApp",
        "position": [
          1360,
          1264
        ],
        "webhookId": "56f0f58b-c818-4151-a993-d1061bb81a3f",
        "parameters": {
          "textBody": "=Hello {{ $('Data refinement').item.json.Prenom }},\n\nHere is how you can transform you days into an amazing journey...",
          "operation": "send",
          "phoneNumberId": "752773604591912",
          "additionalFields": {},
          "recipientPhoneNumber": "={{ $('international dialing code').item.json.phone_formatted }}"
        },
        "credentials": {
          "whatsAppApi": {
            "id": "jcnpyvSgT2JMrgFR",
            "name": "WhatsApp Growth Ai"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "f0e98d2a-a148-4d78-8d32-650d3208c66a",
        "name": "Update a person Scenario B",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1136,
          1456
        ],
        "parameters": {
          "personId": "={{ $('Create a person Scenario B').item.json.id }}",
          "resource": "person",
          "operation": "update",
          "updateFields": {
            "phone": [
              "={{ $('international dialing code').item.json.phone_formatted }}"
            ]
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "fa978fb6-6a5f-40e7-bd54-2fc929a61e07",
        "name": "Create Deal Scenario A",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          704,
          224
        ],
        "parameters": {
          "title": "={{ $('Data refinement').item.json.Entreprise }} - Lead ",
          "person_id": "={{ $('Search Person Scenario A & B').item.json.id }}",
          "associateWith": "person",
          "additionalFields": {}
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "beb9bd6d-c829-4bdd-b570-0597c89dce24",
        "name": "If message Scenario A",
        "type": "n8n-nodes-base.if",
        "position": [
          1136,
          64
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "6c99e1a3-364d-46d8-97c2-beffdc4048b2",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $('Data refinement').item.json.Message }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "1df56ecf-0e15-4dd5-b03f-3d892cfe6710",
        "name": "Note message Scenario A",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1360,
          64
        ],
        "parameters": {
          "content": "={{ $('Data refinement').item.json.Message }}",
          "resource": "note",
          "additionalFields": {
            "deal_id": "={{ $('Create Deal Scenario A').item.json.id }}"
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "f928b70c-2951-4fb8-ace6-c1a91f084921",
        "name": "If URL Scenario A",
        "type": "n8n-nodes-base.if",
        "position": [
          1136,
          240
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "536bcc29-bcaf-4b40-8395-136eeba12491",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $('Data refinement').item.json['URL du site internet'] }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "a2921fe2-5d45-422f-ad01-756ba12410cf",
        "name": "Note URL Scenario A",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1360,
          240
        ],
        "parameters": {
          "content": "={{ $('Data refinement').item.json['URL du site internet'] }}",
          "resource": "note",
          "additionalFields": {
            "deal_id": "={{ $('Create Deal Scenario A').item.json.id }}"
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "2fb83600-8924-4712-be6b-bc654858bc39",
        "name": "Message team Scenario A",
        "type": "n8n-nodes-base.discord",
        "position": [
          1136,
          400
        ],
        "webhookId": "c8b277a4-ce7e-455e-9ed7-b207426dc7f4",
        "parameters": {
          "content": "=🚨 NOUVELLE DEMANDE DE CONTACT (formulaire)🚨\n\nPrénom : {{ $('Data refinement').item.json.Prenom }}\n\nNom : {{ $('Data refinement').item.json.Nom }}\n\nEntreprise : {{ $('Data refinement').item.json.Entreprise }}\n\nMail : {{ $('Data refinement').item.json['Mail professionnel'] }}\n\nTéléphone : {{ $('Data refinement').item.json['Téléphone'] }}\n\nURL : {{ $('Data refinement').item.json.payload.data['URL du site internet'] }}\n\nMessage : {{ $('Data refinement').item.json.Message }}",
          "guildId": {
            "__rl": true,
            "mode": "list",
            "value": "1377297267014504520",
            "cachedResultUrl": "https://discord.com/channels/1377297267014504520",
            "cachedResultName": "Growth AI"
          },
          "options": {},
          "resource": "message",
          "channelId": {
            "__rl": true,
            "mode": "list",
            "value": "1380469490139009106",
            "cachedResultUrl": "https://discord.com/channels/1377297267014504520/1380469490139009106",
            "cachedResultName": "🤑-nouveaux-prospects"
          }
        },
        "credentials": {
          "discordBotApi": {
            "id": "pnY6XafKnApsBts5",
            "name": "Bender Growth AI"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "56d73440-031e-4204-bf8d-62bb860235d1",
        "name": "Send message Scenario A",
        "type": "n8n-nodes-base.whatsApp",
        "position": [
          1360,
          400
        ],
        "webhookId": "56f0f58b-c818-4151-a993-d1061bb81a3f",
        "parameters": {
          "textBody": "=Hello {{ $('Data refinement').item.json.Prenom }},\n\nHere is how you can transform you days into an amazing journey...",
          "operation": "send",
          "phoneNumberId": "752773604591912",
          "additionalFields": {},
          "recipientPhoneNumber": "={{ $('international dialing code').item.json.phone_formatted }}"
        },
        "credentials": {
          "whatsAppApi": {
            "id": "jcnpyvSgT2JMrgFR",
            "name": "WhatsApp Growth Ai"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "3ef4dd6e-4712-422e-a716-e58acd338204",
        "name": "Update a person Scenario A",
        "type": "n8n-nodes-base.pipedrive",
        "position": [
          1136,
          576
        ],
        "parameters": {
          "personId": "={{ $('Search Person Scenario A & B').item.json.id }}",
          "resource": "person",
          "operation": "update",
          "updateFields": {
            "phone": [
              "={{ $('international dialing code').item.json.phone_formatted }}"
            ],
            "customProperties": {
              "property": [
                {
                  "name": "c17f379e66fb0fa2c7e6ddfd986f7aa581086dd4",
                  "value": "Growth Ai"
                }
              ]
            }
          }
        },
        "credentials": {
          "pipedriveApi": {
            "id": "i6m1kGabR1OKHcuL",
            "name": "Pipedrive"
          }
        },
        "typeVersion": 1
      }
    ],
    "pinData": {
      "Form Trigger": [
        {
          "payload": {
            "id": "68b9d1a1d76875f049e5f0cc",
            "data": {
              "Nom": "Vaccarizi",
              "Message": "test",
              "Prénom": "Allan",
              "Entreprise": "Growth AI",
              "Téléphone pro": "0760762438",
              "Mail professionnel": "allan@growth-ai.fr",
              "URL du site internet": "agence-n8n.com"
            },
            "name": "Formulaire de contact",
            "formId": "688b54011dc104dda0fd6c2e",
            "pageId": "6825df5c20329ba581df4a27",
            "schema": [],
            "siteId": "6825df5b20329ba581df4914",
            "submittedAt": "2025-09-04T17:51:29.315Z",
            "formElementId": "2ae14dd8-eaf6-16be-e556-3949bccd583a",
            "publishedPath": "/"
          },
          "triggerType": "form_submission"
        }
      ]
    },
    "connections": {
      "Form Trigger": {
        "main": [
          [
            {
              "node": "Data refinement",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Data refinement": {
        "main": [
          [
            {
              "node": "international dialing code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If URL Scenario A": {
        "main": [
          [
            {
              "node": "Note URL Scenario A",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If URL Scenario B": {
        "main": [
          [
            {
              "node": "Note URL Scenario B",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If URL Scenario C": {
        "main": [
          [
            {
              "node": "Note URL Scenario C",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If URL Scenario D": {
        "main": [
          [
            {
              "node": "Note URL Scenario D",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Organization": {
        "main": [
          [
            {
              "node": "Search Person Scenario C & D",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If message Scenario A": {
        "main": [
          [
            {
              "node": "Note message Scenario A",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If message Scenario B": {
        "main": [
          [
            {
              "node": "Note message Scenario B",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If message Scenario C": {
        "main": [
          [
            {
              "node": "Note message Scenario C",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If message Scenario D": {
        "main": [
          [
            {
              "node": "Note message Scenario D",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Deal Scenario A": {
        "main": [
          [
            {
              "node": "If message Scenario A",
              "type": "main",
              "index": 0
            },
            {
              "node": "If URL Scenario A",
              "type": "main",
              "index": 0
            },
            {
              "node": "Message team Scenario A",
              "type": "main",
              "index": 0
            },
            {
              "node": "Update a person Scenario A",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Deal Scenario B": {
        "main": [
          [
            {
              "node": "If message Scenario B",
              "type": "main",
              "index": 0
            },
            {
              "node": "If URL Scenario B",
              "type": "main",
              "index": 0
            },
            {
              "node": "Message team Scenario B",
              "type": "main",
              "index": 0
            },
            {
              "node": "Update a person Scenario B",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Deal Scenario C": {
        "main": [
          [
            {
              "node": "If message Scenario C",
              "type": "main",
              "index": 0
            },
            {
              "node": "If URL Scenario C",
              "type": "main",
              "index": 0
            },
            {
              "node": "Message team Scenario C",
              "type": "main",
              "index": 0
            },
            {
              "node": "Update a person Scenario C",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Deal Scenario D": {
        "main": [
          [
            {
              "node": "If message Scenario D",
              "type": "main",
              "index": 0
            },
            {
              "node": "If URL Scenario D",
              "type": "main",
              "index": 0
            },
            {
              "node": "Message team Scenario D",
              "type": "main",
              "index": 0
            },
            {
              "node": "Update a person Scenario D",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Organization exists": {
        "main": [
          [
            {
              "node": "Search Person Scenario A & B",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Organization",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search an organization": {
        "main": [
          [
            {
              "node": "If Organization exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message team Scenario A": {
        "main": [
          [
            {
              "node": "Send message Scenario A",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message team Scenario B": {
        "main": [
          [
            {
              "node": "Send message Scenario B",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message team Scenario C": {
        "main": [
          [
            {
              "node": "Send message Scenario C",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message team Scenario D": {
        "main": [
          [
            {
              "node": "Send message Scenario D",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a person Scenario B": {
        "main": [
          [
            {
              "node": "Create Deal Scenario B",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a person Scenario D": {
        "main": [
          [
            {
              "node": "Create Deal Scenario D",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "international dialing code": {
        "main": [
          [
            {
              "node": "Search an organization",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Person Scenario A & B": {
        "main": [
          [
            {
              "node": "If Person exists Scenario A & B",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Person Scenario C & D": {
        "main": [
          [
            {
              "node": "If Person exists Scenario C & D",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Person exists Scenario A & B": {
        "main": [
          [
            {
              "node": "Create Deal Scenario A",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a person Scenario B",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Person exists Scenario C & D": {
        "main": [
          [
            {
              "node": "Create Deal Scenario C",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a person Scenario D",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 62,
    "nodeTypes": {
      "n8n-nodes-base.if": {
        "count": 11
      },
      "n8n-nodes-base.set": {
        "count": 1
      },
      "n8n-nodes-base.code": {
        "count": 1
      },
      "n8n-nodes-base.discord": {
        "count": 4
      },
      "n8n-nodes-base.whatsApp": {
        "count": 4
      },
      "n8n-nodes-base.pipedrive": {
        "count": 22
      },
      "n8n-nodes-base.stickyNote": {
        "count": 18
      },
      "n8n-nodes-base.webflowTrigger": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Growth AI",
    "username": "growthai",
    "bio": "",
    "verified": true,
    "links": [
      "https://www.agence-n8n.com/"
    ],
    "avatar": "https://gravatar.com/avatar/e93e43e1e71be1aee89eb849a5396be04c95604624b155a29298b9209e2534c3?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 20,
      "icon": "fa:map-signs",
      "name": "n8n-nodes-base.if",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                "icon": "🏷️",
                "label": "How to automatically manage contributions to open-source projects"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "If",
        "color": "#408000"
      },
      "iconData": {
        "icon": "map-signs",
        "type": "icon"
      },
      "displayName": "If",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 28,
      "icon": "file:pipedrive.svg",
      "name": "n8n-nodes-base.pipedrive",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-to-sync-data-between-two-systems/",
                "icon": "🏬",
                "label": "How to synchronize data between two systems (one-way vs. two-way sync"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.pipedrive/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/pipedrive/"
              }
            ]
          },
          "categories": [
            "Sales"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Pipedrive"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjYwIiBoZWlnaHQ9IjYwIiB2aWV3Qm94PSIwIDAgMzIgMzIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PG1hc2sgaWQ9Im1hc2swMDEiIG1hc2stdHlwZT0iYWxwaGEiIG1hc2tVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzI2MjkyQyI+PHBhdGggZD0iTTIuNzM2OTQgMEgyOS4yNjMxQzMwLjc3NDYgMCAzMiAxLjIyNTA3IDMyIDIuNzM2OTVWMjkuMjYzMUMzMiAzMC43NzQ2IDMwLjc3NDkgMzIgMjkuMjYzMSAzMkgyLjczNjk0QzEuMjI1MzcgMzIgMCAzMC43NzQ5IDAgMjkuMjYzMVYyLjczNjk1QzAgMS4yMjUzNyAxLjIyNTA4IDAgMi43MzY5NCAwWiIgZmlsbD0iIzI2MjkyQyI+PC9wYXRoPjwvbWFzaz48ZyBtYXNrPSJ1cmwoI21hc2swMDEpIiBmaWxsPSIjMjYyOTJDIj48cGF0aCBkPSJNMi43MzY5NCAwSDI5LjI2MzFDMzAuNzc0NiAwIDMyIDEuMjI1MDcgMzIgMi43MzY5NVYyOS4yNjMxQzMyIDMwLjc3NDYgMzAuNzc0OSAzMiAyOS4yNjMxIDMySDIuNzM2OTRDMS4yMjUzNyAzMiAwIDMwLjc3NDkgMCAyOS4yNjMxVjIuNzM2OTVDMCAxLjIyNTM3IDEuMjI1MDggMCAyLjczNjk0IDBaIiBmaWxsPSIjMjYyOTJDIj48L3BhdGg+PC9nPjxtYXNrIGlkPSJtYXNrMSIgbWFzay10eXBlPSJhbHBoYSIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iNyIgeT0iNCIgd2lkdGg9IjE4IiBoZWlnaHQ9IjI0IiBmaWxsPSIjMjYyOTJDIj48cGF0aCBkPSJNMTMuMzM0OCAxMy4xNzY2QzEzLjMzNDggMTUuMzE5NCAxNC40MjE5IDE3LjYzMTEgMTYuODE0MSAxNy42MzExQzE4LjU4ODEgMTcuNjMxMSAyMC4zODE5IDE2LjI0NjEgMjAuMzgxOSAxMy4xNDUxQzIwLjM4MTkgMTAuNDI2NCAxOC45NzE4IDguNjAxMjcgMTYuODczMSA4LjYwMTI3QzE1LjE2MyA4LjYwMTI3IDEzLjMzNDggOS44MDI1OCAxMy4zMzQ4IDEzLjE3NjZaTTE3LjcxNTggNC42MzE1OUMyMi4wMDUxIDQuNjMxNTkgMjQuODg5MSA4LjAyODczIDI0Ljg4OTEgMTMuMDg1NkMyNC44ODkxIDE4LjA2MjkgMjEuODUwOSAyMS41Mzc4IDE3LjUwNzYgMjEuNTM3OEMxNS40MzY4IDIxLjUzNzggMTQuMTEwMyAyMC42NTA5IDEzLjQxNjggMjAuMDA4OUMxMy40MjE3IDIwLjE2MTEgMTMuNDI1IDIwLjMzMTYgMTMuNDI1IDIwLjUxMzZWMjcuMjYzMkg4Ljk4MTY0VjkuMjc5N0M4Ljk4MTY0IDkuMDE4MjQgOC44OTgwMiA4LjkzNTUyIDguNjM4OTcgOC45MzU1Mkg3LjExMDg1VjQuOTk3MjlIMTAuODM5M0MxMi41NTYgNC45OTcyOSAxMi45OTU0IDUuODcwOTcgMTMuMDc5IDYuNTQ0NDRDMTMuNzc1OSA1Ljc2MzQyIDE1LjIyMDQgNC42MzE1OSAxNy43MTU4IDQuNjMxNTlaIiBmaWxsPSIjMjYyOTJDIj48L3BhdGg+PC9tYXNrPjxnIG1hc2s9InVybCgjbWFzazEpIiBmaWxsPSIjMjYyOTJDIj48cGF0aCBkPSJNMTMuMzM0OCAxMy4xNzY2QzEzLjMzNDggMTUuMzE5NCAxNC40MjE5IDE3LjYzMTEgMTYuODE0MSAxNy42MzExQzE4LjU4ODEgMTcuNjMxMSAyMC4zODE5IDE2LjI0NjEgMjAuMzgxOSAxMy4xNDUxQzIwLjM4MTkgMTAuNDI2NCAxOC45NzE4IDguNjAxMjcgMTYuODczMSA4LjYwMTI3QzE1LjE2MyA4LjYwMTI3IDEzLjMzNDggOS44MDI1OCAxMy4zMzQ4IDEzLjE3NjZaTTE3LjcxNTggNC42MzE1OUMyMi4wMDUxIDQuNjMxNTkgMjQuODg5MSA4LjAyODczIDI0Ljg4OTEgMTMuMDg1NkMyNC44ODkxIDE4LjA2MjkgMjEuODUwOSAyMS41Mzc4IDE3LjUwNzYgMjEuNTM3OEMxNS40MzY4IDIxLjUzNzggMTQuMTEwMyAyMC42NTA5IDEzLjQxNjggMjAuMDA4OUMxMy40MjE3IDIwLjE2MTEgMTMuNDI1IDIwLjMzMTYgMTMuNDI1IDIwLjUxMzZWMjcuMjYzMkg4Ljk4MTY0VjkuMjc5N0M4Ljk4MTY0IDkuMDE4MjQgOC44OTgwMiA4LjkzNTUyIDguNjM4OTcgOC45MzU1Mkg3LjExMDg1VjQuOTk3MjlIMTAuODM5M0MxMi41NTYgNC45OTcyOSAxMi45OTU0IDUuODcwOTcgMTMuMDc5IDYuNTQ0NDRDMTMuNzc1OSA1Ljc2MzQyIDE1LjIyMDQgNC42MzE1OSAxNy43MTU4IDQuNjMxNTlaIiBmaWxsPSIjRkZGRkZGIj48L3BhdGg+PC9nPjwvc3ZnPgo="
      },
      "displayName": "Pipedrive",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 2,
          "name": "Sales"
        }
      ]
    },
    {
      "id": 38,
      "icon": "fa:pen",
      "name": "n8n-nodes-base.set",
      "codex": {
        "data": {
          "alias": [
            "Set",
            "JS",
            "JSON",
            "Filter",
            "Transform",
            "Map"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Edit Fields"
      },
      "iconData": {
        "icon": "pen",
        "type": "icon"
      },
      "displayName": "Edit Fields (Set)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 60,
      "icon": "file:discord.svg",
      "name": "n8n-nodes-base.discord",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.discord/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/discord/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Discord"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMTk5IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCI+PHBhdGggZmlsbD0iIzU4NjVGMiIgZD0iTTIxNi44NTYgMTYuNTk3QTIwOC41IDIwOC41IDAgMCAwIDE2NC4wNDIgMGMtMi4yNzUgNC4xMTMtNC45MzMgOS42NDUtNi43NjYgMTQuMDQ2cS0yOS41MzgtNC40NDItNTguNTMzIDBjLTEuODMyLTQuNC00LjU1LTkuOTMzLTYuODQ2LTE0LjA0NmEyMDcuOCAyMDcuOCAwIDAgMC01Mi44NTUgMTYuNjM4QzUuNjE4IDY3LjE0Ny0zLjQ0MyAxMTYuNCAxLjA4NyAxNjQuOTU2YzIyLjE2OSAxNi41NTUgNDMuNjUzIDI2LjYxMiA2NC43NzUgMzMuMTkzQTE2MSAxNjEgMCAwIDAgNzkuNzM1IDE3NS4zYTEzNi40IDEzNi40IDAgMCAxLTIxLjg0Ni0xMC42MzIgMTA5IDEwOSAwIDAgMCA1LjM1Ni00LjIzN2M0Mi4xMjIgMTkuNzAyIDg3Ljg5IDE5LjcwMiAxMjkuNTEgMGExMzIgMTMyIDAgMCAwIDUuMzU1IDQuMjM3IDEzNiAxMzYgMCAwIDEtMjEuODg2IDEwLjY1M2M0LjAwNiA4LjAyIDguNjM4IDE1LjY3IDEzLjg3MyAyMi44NDggMjEuMTQyLTYuNTggNDIuNjQ2LTE2LjYzNyA2NC44MTUtMzMuMjEzIDUuMzE2LTU2LjI4OC05LjA4LTEwNS4wOS0zOC4wNTYtMTQ4LjM2TTg1LjQ3NCAxMzUuMDk1Yy0xMi42NDUgMC0yMy4wMTUtMTEuODA1LTIzLjAxNS0yNi4xOHMxMC4xNDktMjYuMiAyMy4wMTUtMjYuMiAyMy4yMzYgMTEuODA0IDIzLjAxNSAyNi4yYy4wMiAxNC4zNzUtMTAuMTQ4IDI2LjE4LTIzLjAxNSAyNi4xOG04NS4wNTEgMGMtMTIuNjQ1IDAtMjMuMDE0LTExLjgwNS0yMy4wMTQtMjYuMThzMTAuMTQ4LTI2LjIgMjMuMDE0LTI2LjJjMTIuODY3IDAgMjMuMjM2IDExLjgwNCAyMy4wMTUgMjYuMiAwIDE0LjM3NS0xMC4xNDggMjYuMTgtMjMuMDE1IDI2LjE4Ii8+PC9zdmc+"
      },
      "displayName": "Discord",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 132,
      "icon": "file:webflow.svg",
      "name": "n8n-nodes-base.webflowTrigger",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.webflowtrigger/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/webflow/"
              }
            ]
          },
          "categories": [
            "Marketing"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Webflow Trigger"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjcgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9IjEiIHk9IjEiLz48c3ltYm9sIGlkPSJhIiBvdmVyZmxvdz0idmlzaWJsZSI+PGcgZmlsbC1ydWxlPSJub256ZXJvIiBzdHJva2U9Im5vbmUiPjxwYXRoIGZpbGw9IiM0MzUzZmYiIGQ9Ik0wIDMyQzAgMTQuMjcyIDE0LjI3MiAwIDMyIDBzMzIgMTQuMjcyIDMyIDMyLTE0LjI3MiAzMi0zMiAzMlMwIDQ5LjcyOCAwIDMyIi8+PHBhdGggZD0ibTQxLjQgMjguMi0yLjkgOS4xNGMwLS43LTItMTUuODYtMi0xNS44Ni00LjYgMC03LjA0IDMuMjYtOC4zMiA2LjcybC0zLjU0IDkuMTZjMC0uNjYtLjUtOS4wOC0uNS05LjA4YTcuNDggNy40OCAwIDAgMC03LjI2LTYuNzhsMy43NiAyMi45NmM0LjggMCA3LjQtMy4yNiA4Ljc0LTYuNzJsMy03LjhjMCAuMzIgMiAxNC41MiAyIDE0LjUyYTkuMjQgOS4yNCAwIDAgMCA4LjgtNi40Nmw2LjgtMTYuNTJjLTQuOCAwLTcuMzIgMy4yNi04LjYgNi43MnoiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Webflow Trigger",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 27,
          "name": "Marketing"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Sticky Note",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 827,
      "icon": "file:whatsapp.svg",
      "name": "n8n-nodes-base.whatsApp",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.whatsapp/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/whatsapp/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "WhatsApp Business Cloud"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHZpZXdCb3g9IjAgMCA0OCA0OCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0ibTQuODY4IDQzLjMwMyAyLjY5NC05LjgzNWExOC45NCAxOC45NCAwIDAgMS0yLjUzNS05LjQ4OUM1LjAzMiAxMy41MTQgMTMuNTQ4IDUgMjQuMDE0IDVhMTguODcgMTguODcgMCAwIDEgMTMuNDMgNS41NjZBMTguODcgMTguODcgMCAwIDEgNDMgMjMuOTk0Yy0uMDA0IDEwLjQ2NS04LjUyMiAxOC45OC0xOC45ODYgMTguOThoLS4wMDhhMTkgMTkgMCAwIDEtOS4wNzMtMi4zMTF6Ii8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTQuODY4IDQzLjgwM2EuNS41IDAgMCAxLS40ODItLjYzMWwyLjYzOS05LjYzNmExOS41IDE5LjUgMCAwIDEtMi40OTctOS41NTZDNC41MzIgMTMuMjM4IDEzLjI3MyA0LjUgMjQuMDE0IDQuNWExOS4zNyAxOS4zNyAwIDAgMSAxMy43ODQgNS43MTNBMTkuMzYgMTkuMzYgMCAwIDEgNDMuNSAyMy45OTRjLS4wMDQgMTAuNzQxLTguNzQ2IDE5LjQ4LTE5LjQ4NiAxOS40OGExOS41NCAxOS41NCAwIDAgMS05LjE0NC0yLjI3N2wtOS44NzUgMi41ODlhLjUuNSAwIDAgMS0uMTI3LjAxNyIvPjxwYXRoIGZpbGw9IiNjZmQ4ZGMiIGQ9Ik0yNC4wMTQgNWExOC44NyAxOC44NyAwIDAgMSAxMy40MyA1LjU2NkExOC44NyAxOC44NyAwIDAgMSA0MyAyMy45OTRjLS4wMDQgMTAuNDY1LTguNTIyIDE4Ljk4LTE4Ljk4NiAxOC45OGgtLjAwOGExOSAxOSAwIDAgMS05LjA3My0yLjMxMWwtMTAuMDY1IDIuNjQgMi42OTQtOS44MzVhMTguOTQgMTguOTQgMCAwIDEtMi41MzUtOS40ODlDNS4wMzIgMTMuNTE0IDEzLjU0OCA1IDI0LjAxNCA1bTAtMUMxMi45OTggNCA0LjAzMiAxMi45NjIgNC4wMjcgMjMuOTc5YTIwIDIwIDAgMCAwIDIuNDYxIDkuNjIyTDMuOTAzIDQzLjA0YS45OTguOTk4IDAgMCAwIDEuMjE5IDEuMjMxbDkuNjg3LTIuNTRhMjAgMjAgMCAwIDAgOS4xOTcgMi4yNDRjMTEuMDI0IDAgMTkuOTktOC45NjMgMTkuOTk1LTE5Ljk4QTE5Ljg2IDE5Ljg2IDAgMCAwIDM4LjE1MyA5Ljg2IDE5Ljg3IDE5Ljg3IDAgMCAwIDI0LjAxNCA0Ii8+PHBhdGggZmlsbD0iIzQwYzM1MSIgZD0iTTM1LjE3NiAxMi44MzJhMTUuNjcgMTUuNjcgMCAwIDAtMTEuMTU3LTQuNjI2Yy04LjcwNCAwLTE1Ljc4MyA3LjA3Ni0xNS43ODcgMTUuNzc0YTE1Ljc0IDE1Ljc0IDAgMCAwIDIuNDEzIDguMzk2bC4zNzYuNTk3LTEuNTk1IDUuODIxIDUuOTczLTEuNTY2LjU3Ny4zNDJhMTUuNzUgMTUuNzUgMCAwIDAgOC4wMzIgMi4xOTloLjAwNmM4LjY5OCAwIDE1Ljc3Ny03LjA3NyAxNS43OC0xNS43NzZhMTUuNjggMTUuNjggMCAwIDAtNC42MTgtMTEuMTYxIi8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE5LjI2OCAxNi4wNDVjLS4zNTUtLjc5LS43MjktLjgwNi0xLjA2OC0uODItLjI3Ny0uMDEyLS41OTMtLjAxMS0uOTA5LS4wMTFzLS44My4xMTktMS4yNjUuNTk0LTEuNjYxIDEuNjIyLTEuNjYxIDMuOTU2IDEuNyA0LjU5IDEuOTM3IDQuOTA2IDMuMjgyIDUuMjU5IDguMTA0IDcuMTYxYzQuMDA3IDEuNTggNC44MjMgMS4yNjYgNS42OTMgMS4xODdzMi44MDctMS4xNDcgMy4yMDItMi4yNTUuMzk1LTIuMDU3LjI3Ny0yLjI1NWMtLjExOS0uMTk4LS40MzUtLjMxNi0uOTA5LS41NTRzLTIuODA3LTEuMzg1LTMuMjQyLTEuNTQzLS43NTEtLjIzNy0xLjA2OC4yMzhjLS4zMTYuNDc0LTEuMjI1IDEuNTQzLTEuNTAyIDEuODU5cy0uNTU0LjM1Ny0xLjAyOC4xMTktMi4wMDItLjczOC0zLjgxNS0yLjM1NGMtMS40MS0xLjI1Ny0yLjM2Mi0yLjgxLTIuNjM5LTMuMjg1LS4yNzctLjQ3NC0uMDMtLjczMS4yMDgtLjk2OC4yMTMtLjIxMy40NzQtLjU1NC43MTItLjgzMS4yMzctLjI3Ny4zMTYtLjQ3NS40NzQtLjc5MXMuMDc5LS41OTQtLjA0LS44MzFjLS4xMTctLjIzOC0xLjAzOS0yLjU4NC0xLjQ2MS0zLjUyMiIvPjwvc3ZnPg=="
      },
      "displayName": "WhatsApp Business Cloud",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 834,
      "icon": "file:code.svg",
      "name": "n8n-nodes-base.code",
      "codex": {
        "data": {
          "alias": [
            "cpde",
            "Javascript",
            "JS",
            "Python",
            "Script",
            "Custom Code",
            "Function"
          ],
          "details": "The Code node allows you to execute JavaScript in your workflow.",
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Code"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Code",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 39,
      "name": "CRM"
    }
  ],
  "image": []
}