automation/AI Testimonial Extractor Agent- Feedback to Marketing Gold.json
{
  "id": 4449,
  "name": "AI Testimonial Extractor Agent: Feedback to Marketing Gold",
  "totalViews": 520,
  "price": 0,
  "purchaseUrl": null,
  "user": {
    "name": "Yaron Been",
    "username": "yaron-nofluff",
    "bio": "Building AI Agents and Automations | Growth Marketer | Entrepreneur | Book Author & Podcast Host\n\nIf you need any help with Automations, feel free to reach out via linkedin:\nhttps://www.linkedin.com/in/yaronbeen/\n\nAnd check out my Youtube channel:\nhttps://www.youtube.com/@YaronBeen/videos",
    "verified": true,
    "links": [
      "https://www.nofluff.online/automation-services/"
    ],
    "avatar": "https://gravatar.com/avatar/a4e4dcaa1f76ff5266bbf80e8df86d22efda890474c68f7796e72fd82e3f2375?r=pg&d=retro&size=200"
  },
  "description": "\n**Transform raw customer feedback into powerful testimonial quotes automatically.**\n\nThis intelligent workflow monitors feedback forms, uses AI to identify and extract the most emotionally engaging testimonial content, and organizes everything into a searchable database for your marketing campaigns - turning every piece of customer feedback into potential marketing assets.\n\n## 🚀 What It Does\n\n**Smart Feedback Monitoring**: Automatically detects new customer feedback submissions from Google Forms and triggers testimonial extraction within minutes.\n\n**AI-Powered Quote Extraction**: Uses Google Gemini to analyze feedback and extract short, emotionally engaging testimonial quotes while filtering out neutral or irrelevant content.\n\n**Marketing-Ready Output**: Focuses on impactful phrases and statements that work perfectly for websites, social media, ads, and sales materials.\n\n**Automated Database Building**: Creates and maintains a searchable testimonial library in Google Sheets with customer details and extracted quotes.\n\n**Instant Team Notifications**: Sends immediate email alerts to your marketing team with new testimonials, ensuring no valuable social proof goes unused.\n\n## 🎯 Key Benefits\n\n✅ **Never Miss Marketing Gold**: Automatically extract value from every feedback submission  \n✅ **Save 8+ Hours Weekly**: Eliminate manual review of feedback for testimonials  \n✅ **Build Social Proof Library**: Create searchable database of customer quotes  \n✅ **Boost Conversion Rates**: Use authentic testimonials across marketing campaigns  \n✅ **Identify Happy Customers**: Spot satisfied clients for case studies and referrals  \n✅ **Scale Content Creation**: Generate testimonials faster than customers submit feedback  \n\n## 🏢 Perfect For\n\n### **Businesses Needing Social Proof**\n- E-commerce stores showcasing product satisfaction\n- SaaS companies highlighting user success stories\n- Service businesses building trust and credibility\n- Coaches and consultants demonstrating client results\n\n### **Marketing Applications**\n- **Website Content**: Populate testimonial sections automatically\n- **Social Media**: Create quote posts and success story content\n- **Sales Materials**: Include powerful customer quotes in proposals\n- **Email Marketing**: Add authentic testimonials to campaigns\n\n## ⚙️ What's Included\n\n**Complete Workflow Setup**: Ready-to-deploy n8n workflow with all integrations configured\n**Google Forms Integration**: Automatically processes new feedback submissions\n**AI Quote Extraction**: Google Gemini identifies most impactful testimonial content\n**Database Management**: Organized Google Sheets storage with customer information\n**Team Notifications**: Instant email alerts to marketing team members\n**Setup Documentation**: Complete configuration and customization guide\n\n## 🔧 Technical Requirements\n\n- **n8n Platform**: Cloud or self-hosted instance\n- **Google Workspace**: For Forms, Sheets, and Gmail integration\n- **Google Gemini API**: For AI-powered testimonial extraction (free tier available)\n- **Customer Feedback**: Existing or new feedback collection process\n\n## 📊 Before & After Examples\n\n### **Before (Raw Customer Feedback):**\n```\n\"I was really struggling with managing my team's projects and keeping track of all the deadlines. Everything was scattered across different tools and I was spending way too much time just trying to figure out what everyone was working on. Since we started using your project management software about 6 months ago, it's been a complete game changer. Now I can see everything at a glance, our team communication has improved dramatically, and we're actually finishing projects ahead of schedule. The reporting features are amazing too - I can finally show my boss concrete data about our team's productivity. I honestly don't know how we managed without it. The customer support team has been fantastic as well, always quick to help when we had questions during setup.\"\n```\n\n### **After (AI Extracted Testimonial):**\n```\n\"Complete game changer - now I can see everything at a glance, our team communication has improved dramatically, and we're actually finishing projects ahead of schedule.\"\n```\n\n### **Healthcare Example:**\n\n**Raw Feedback:**\n```\n\"I had been dealing with chronic back pain for over 3 years and had tried everything - physical therapy, medication, different doctors. Nothing seemed to help long-term. When I found Dr. Martinez, I was honestly pretty skeptical because I'd been disappointed so many times before. But after our first consultation, I felt hopeful for the first time in years. She really listened to me and explained everything clearly. The treatment plan she developed was comprehensive but manageable. Within just 2 months, I was experiencing significant pain reduction, and now after 6 months, I'm practically pain-free. I can play with my kids again, sleep through the night, and even started hiking on weekends. Dr. Martinez didn't just treat my symptoms - she helped me get my life back.\"\n```\n\n**Extracted Testimonial:**\n```\n\"Within just 2 months, I was experiencing significant pain reduction, and now I'm practically pain-free. Dr. Martinez didn't just treat my symptoms - she helped me get my life back.\"\n```\n\n## 🎨 Customization Options\n\n**Industry-Specific Extraction**: Tailor AI prompts for healthcare, technology, finance, retail terminology\n**Quote Length Control**: Adjust extraction for short punchy quotes vs longer detailed testimonials\n**Sentiment Targeting**: Focus on specific emotions like excitement, relief, satisfaction, transformation\n**Multi-Channel Forms**: Connect multiple feedback sources to one testimonial database\n**Approval Workflows**: Add human review step before testimonials go live\n**CRM Integration**: Connect extracted testimonials to customer records\n\n## 🔄 How It Works\n\n1. **Customer submits feedback** via your Google Form\n2. **Workflow detects new submission** within 1 minute automatically\n3. **AI analyzes feedback content** to identify most impactful statements\n4. **Testimonial quote is extracted** and formatted for marketing use\n5. **Quote is saved to database** with customer details and timestamp\n6. **Marketing team receives email** with new testimonial content\n\n## 💡 Use Case Examples\n\n**SaaS Company**: Automatically extract user success quotes from feature feedback surveys for website testimonials\n\n**E-commerce Store**: Turn product review submissions into powerful testimonial quotes for product pages and ads\n\n**Healthcare Practice**: Extract patient satisfaction quotes from feedback forms for website and marketing materials\n\n**Consulting Firm**: Convert client project feedback into testimonials highlighting business transformation results\n\n## 📈 Expected Results\n\n- **300% increase** in testimonial collection vs manual methods\n- **90% time savings** on testimonial creation and organization\n- **50% improvement** in marketing content authenticity\n- **25% boost** in conversion rates using extracted testimonials\n- **Unlimited scalability** as feedback volume grows\n\n## 🛠️ Setup & Support\n\n**Quick Deployment**: Complete setup in 20 minutes with included guide\n**Pre-Built Prompts**: AI extraction prompts optimized for different industries\n**Template Library**: Ready-to-use feedback forms and testimonial layouts\n**Video Tutorial**: Complete walkthrough from setup to first extracted testimonial\n\n## 📞 Get Help & Learn More\n\n**🎥 Free Video Tutorials**  \nYouTube Channel: [https://www.youtube.com/@YaronBeen/videos](https://www.youtube.com/@YaronBeen/videos)\n- Complete setup and configuration guide\n\n**💼 Professional Support**  \nLinkedIn: [https://www.linkedin.com/in/yaronbeen/](https://www.linkedin.com/in/yaronbeen/)\n- Connect for testimonial marketing strategy consulting\n- Share your social proof automation success stories\n- Access exclusive templates for different business types\n\n**📧 Direct Support**  \nEmail: Yaron@nofluff.online\n- Technical setup assistance and customization help\n- AI prompt optimization for your specific business\n- Integration with existing marketing and CRM systems\n- Response within 24 hours\n",
  "createdAt": "2025-05-28T07:27:22.201Z",
  "nodes": [
    {
      "id": 18,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheets",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Sheet",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                "icon": "❤️",
                "label": "Love at first sight: Ricardo’s n8n journey"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                "icon": "⏲",
                "label": "Creating triggers for n8n workflows using polling"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                "icon": "🍔",
                "label": "How Honest Burgers Use Automation to Save $100k per year"
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\",\"output\"]",
      "defaults": {
        "name": "Google Sheets"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets",
      "typeVersion": 5,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 356,
      "icon": "file:gmail.svg",
      "name": "n8n-nodes-base.gmail",
      "codex": {
        "data": {
          "alias": [
            "email",
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                "icon": "💪",
                "label": "Using Automation to Boost Productivity in the Workplace"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Gmail"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMTkzIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCI+PHBhdGggZmlsbD0iIzQyODVGNCIgZD0iTTU4LjE4MiAxOTIuMDVWOTMuMTRMMjcuNTA3IDY1LjA3NyAwIDQ5LjUwNHYxMjUuMDkxYzAgOS42NTggNy44MjUgMTcuNDU1IDE3LjQ1NSAxNy40NTV6Ii8+PHBhdGggZmlsbD0iIzM0QTg1MyIgZD0iTTE5Ny44MTggMTkyLjA1aDQwLjcyN2M5LjY1OSAwIDE3LjQ1NS03LjgyNiAxNy40NTUtMTcuNDU1VjQ5LjUwNWwtMzEuMTU2IDE3LjgzNy0yNy4wMjYgMjUuNzk4eiIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im01OC4xODIgOTMuMTQtNC4xNzQtMzguNjQ3IDQuMTc0LTM2Ljk4OUwxMjggNjkuODY4bDY5LjgxOC01Mi4zNjQgNC42NyAzNC45OTItNC42NyA0MC42NDRMMTI4IDE0NS41MDR6Ii8+PHBhdGggZmlsbD0iI0ZCQkMwNCIgZD0iTTE5Ny44MTggMTcuNTA0VjkzLjE0TDI1NiA0OS41MDRWMjYuMjMxYzAtMjEuNTg1LTI0LjY0LTMzLjg5LTQxLjg5LTIwLjk0NXoiLz48cGF0aCBmaWxsPSIjQzUyMjFGIiBkPSJtMCA0OS41MDQgMjYuNzU5IDIwLjA3TDU4LjE4MiA5My4xNFYxNy41MDRMNDEuODkgNS4yODZDMjQuNjEtNy42NiAwIDQuNjQ2IDAgMjYuMjN6Ii8+PC9zdmc+"
      },
      "displayName": "Gmail",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Sticky Note",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 841,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheetsTrigger",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.googlesheetstrigger/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Google Sheets Trigger"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 1123,
      "icon": "fa:link",
      "name": "@n8n/n8n-nodes-langchain.chainLlm",
      "codex": {
        "data": {
          "alias": [
            "LangChain"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainllm/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Chains",
              "Root Nodes"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Basic LLM Chain",
        "color": "#909298"
      },
      "iconData": {
        "icon": "link",
        "type": "icon"
      },
      "displayName": "Basic LLM Chain",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1262,
      "icon": "file:google.svg",
      "name": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatgooglegemini/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Language Models",
              "Root Nodes"
            ],
            "Language Models": [
              "Chat Models (Recommended)"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Google Gemini Chat Model"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNDQuNSAyMEgyNHY4LjVoMTEuOEMzNC43IDMzLjkgMzAuMSAzNyAyNCAzN2MtNy4yIDAtMTMtNS44LTEzLTEzczUuOC0xMyAxMy0xM2MzLjEgMCA1LjkgMS4xIDguMSAyLjlsNi40LTYuNEMzNC42IDQuMSAyOS42IDIgMjQgMiAxMS44IDIgMiAxMS44IDIgMjRzOS44IDIyIDIyIDIyYzExIDAgMjEtOCAyMS0yMiAwLTEuMy0uMi0yLjctLjUtNCIvPjwvZGVmcz48Y2xpcFBhdGggaWQ9ImIiPjx1c2UgeGxpbms6aHJlZj0iI2EiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PC9jbGlwUGF0aD48cGF0aCBmaWxsPSIjRkJCQzA1IiBkPSJNMCAzN1YxMWwxNyAxM3oiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im0wIDExIDE3IDEzIDctNi4xTDQ4IDE0VjBIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiMzNEE4NTMiIGQ9Im0wIDM3IDMwLTIzIDcuOSAxTDQ4IDB2NDhIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik00OCA0OCAxNyAyNGwtNC0zIDM1LTEweiIgY2xpcC1wYXRoPSJ1cmwoI2IpIi8+PC9zdmc+"
      },
      "displayName": "Google Gemini Chat Model",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    }
  ],
  "views": 520,
  "recentViews": 1,
  "workflow": {
    "id": "GFNi9RFv4O8aZfzf",
    "meta": {
      "instanceId": "57c71fe69aec521b7d0bd3751d2e0aaa08f8884418e122571610a23c9eb8a65c"
    },
    "name": "AI Testimonial Extractor Agent: Feedback to Marketing Gold",
    "tags": [],
    "nodes": [
      {
        "id": "148abbeb-5366-4b37-8461-e7a5f9f12f1a",
        "name": "Sticky Note - Assistance",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          940,
          560
        ],
        "parameters": {
          "color": 4,
          "width": 440,
          "height": 640,
          "content": "=======================================\n            WORKFLOW ASSISTANCE\n=======================================\nFor any questions or support, please contact:\n    Yaron@nofluff.online\n\nExplore more tips and tutorials here:\n   - YouTube: https://www.youtube.com/@YaronBeen/videos\n   - LinkedIn: https://www.linkedin.com/in/yaronbeen/\n=======================================\n\nAuthor:\nYaron Been\n![Yaron Been](https://1.gravatar.com/avatar/a4e4dcaa1f76ff5266bbf80e8df86d22efda890474c68f7796e72fd82e3f2375?size=512&d=initials)"
        },
        "typeVersion": 1
      },
      {
        "id": "127a9a55-64e8-4798-ac2b-0b79c3d1db25",
        "name": "Sticky Note - Description",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -460,
          360
        ],
        "parameters": {
          "width": 480,
          "content": "Workflow Name: Testimonial Extractor\n\nDescription:\nThis workflow listens for new rows added to a Google Sheet form response, extracts a short emotional testimonial using a language model, writes it back to the sheet, and sends an email notification with the extracted quote."
        },
        "typeVersion": 1
      },
      {
        "id": "aa56fe49-6cda-4d2f-853c-353c106fab01",
        "name": "Google Gemini Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "position": [
          -140,
          940
        ],
        "parameters": {
          "options": {},
          "modelName": "models/gemini-2.0-flash"
        },
        "credentials": {
          "googlePalmApi": {
            "id": "cHiuNFEYYehlLyFW",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "6c6861c2-8d0d-407a-9d9c-e477f33fcfe9",
        "name": "New Form Response Trigger",
        "type": "n8n-nodes-base.googleSheetsTrigger",
        "position": [
          -260,
          580
        ],
        "parameters": {
          "event": "rowAdded",
          "options": {},
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": 352165437,
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14nmSXdGURNj3a1uQsxNcspdN5HrjGl8TA8t-hdQUF2s/edit#gid=352165437",
            "cachedResultName": "Form Responses 1"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "14nmSXdGURNj3a1uQsxNcspdN5HrjGl8TA8t-hdQUF2s",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14nmSXdGURNj3a1uQsxNcspdN5HrjGl8TA8t-hdQUF2s/edit?usp=drivesdk",
            "cachedResultName": "Testimonial"
          }
        },
        "credentials": {
          "googleSheetsTriggerOAuth2Api": {
            "id": "HyhUBfOVRIuLMcGw",
            "name": "Google Sheets Trigger account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "24e5c25a-61f5-4543-a927-392ba5a69305",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -320,
          760
        ],
        "parameters": {
          "width": 220,
          "height": 80,
          "content": " Starts the workflow whenever a user submits new feedback via Google Form."
        },
        "typeVersion": 1
      },
      {
        "id": "a8d7f6b3-41c1-43f2-9f11-d4102e3fe884",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          760
        ],
        "parameters": {
          "width": 220,
          "height": 80,
          "content": "Uses Gemini to generate a concise testimonial quote from user feedback."
        },
        "typeVersion": 1
      },
      {
        "id": "4245358e-744f-42f4-9cd6-fd32480684b5",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          300,
          760
        ],
        "parameters": {
          "width": 220,
          "height": 80,
          "content": "Stores original feedback, extracted quote, and user info in a testimonials tab."
        },
        "typeVersion": 1
      },
      {
        "id": "9bcc0d37-c47e-4b89-b7bd-3f40baca27cf",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          540,
          760
        ],
        "parameters": {
          "width": 220,
          "height": 80,
          "content": "Sends email alert to marketing when a new testimonial is added."
        },
        "typeVersion": 1
      },
      {
        "id": "fd4ec61f-6af7-423e-ac97-43c15d0c19f4",
        "name": "Extract Testimonial with Gemini",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "position": [
          -40,
          580
        ],
        "parameters": {
          "text": "=Extract a short, emotionally engaging testimonial quote from the following user feedback. Ignore neutral or irrelevant text. Only return the quote.\n\"{{ $json.Feedback }}\"\n\nFeedback: \"{{ $json[\"Feedback\"] }}\"\n",
          "promptType": "define"
        },
        "typeVersion": 1.5
      },
      {
        "id": "c72c0de6-cc21-4b9c-8bf8-b7aa6fd90d7b",
        "name": "Save Extracted Testimonial",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          320,
          580
        ],
        "parameters": {
          "columns": {
            "value": {},
            "schema": [
              {
                "id": "Timestamp",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Timestamp",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Name",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Email",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Feedback",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Feedback",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Testimony",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Testimony",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "text",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "text",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "autoMapInputData",
            "matchingColumns": [
              "Testimony"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "appendOrUpdate",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": 352165437,
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14nmSXdGURNj3a1uQsxNcspdN5HrjGl8TA8t-hdQUF2s/edit#gid=352165437",
            "cachedResultName": "Form Responses 1"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "14nmSXdGURNj3a1uQsxNcspdN5HrjGl8TA8t-hdQUF2s",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14nmSXdGURNj3a1uQsxNcspdN5HrjGl8TA8t-hdQUF2s/edit?usp=drivesdk",
            "cachedResultName": "Testimonial"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "pIXaxnRxnyRBTUfl",
            "name": "Google Sheets account 3"
          }
        },
        "typeVersion": 4.5
      },
      {
        "id": "64020a72-449b-489f-8a21-c2371f1af8f5",
        "name": "Notify Marketing Team",
        "type": "n8n-nodes-base.gmail",
        "position": [
          540,
          580
        ],
        "webhookId": "acce1be8-39ab-4f30-8549-9e06614abbf3",
        "parameters": {
          "sendTo": "nataylamesa@gmail.com",
          "message": "={{ $json.text }}",
          "options": {},
          "subject": "New Testimonial Extracted"
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "4xTRVs8hsWgrdhHr",
            "name": "Gmail account 2"
          }
        },
        "typeVersion": 2.1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "6a7b7d30-00a5-47eb-8d18-0a63adbbcbc7",
    "connections": {
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Extract Testimonial with Gemini",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "New Form Response Trigger": {
        "main": [
          [
            {
              "node": "Extract Testimonial with Gemini",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Extracted Testimonial": {
        "main": [
          [
            {
              "node": "Notify Marketing Team",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Testimonial with Gemini": {
        "main": [
          [
            {
              "node": "Save Extracted Testimonial",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 11,
    "nodeTypes": {
      "n8n-nodes-base.gmail": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 6
      },
      "n8n-nodes-base.googleSheets": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.chainLlm": {
        "count": 1
      },
      "n8n-nodes-base.googleSheetsTrigger": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.lmChatGoogleGemini": {
        "count": 1
      }
    }
  },
  "categories": [
    {
      "id": 31,
      "name": "Content Creation"
    },
    {
      "id": 49,
      "name": "AI Summarization"
    }
  ],
  "image": []
}