automation/i18n/fr-FR/Automatically Sync Notion Contacts to Google Contacts with Group Labels.json
{
  "id": 5590,
  "name": "Synchronisez automatiquement les contacts Notion avec les contacts Google en utilisant des étiquettes de groupe",
  "views": 276,
  "recentViews": 1,
  "totalViews": 276,
  "createdAt": "2025-07-02T10:51:59.924Z",
  "description": "## Synchronisez les contacts Notion avec les contacts Google en utilisant des étiquettes de groupe\n\n\n**Aperçu**  \nTransférez sans effort vos contacts Notion vers les contacts Google avec des étiquettes de groupe organisées, simplifiant ainsi la gestion de votre CRM.\n\nCe flux de travail n8n automatise la synchronisation des contacts d'une base de données Notion vers les contacts Google, en appliquant des étiquettes de groupe basées sur les propriétés de Notion. Il se déclenche lors de l'ajout ou de la mise à jour de contacts, garantissant que vos contacts Google sont toujours organisés sans effort manuel.\n\n✨ **Fonctionnalités clés**  \n🔄 **Synchronisation automatique :** Met à jour les contacts Google lorsque des entrées Notion sont ajoutées ou modifiées.  \n🏷️ **Organisation par groupe :** Assigne des étiquettes aux contacts en fonction du champ `property_buy` de Notion.  \n✅ **Prévention des doublons :** Marque les contacts synchronisés dans Notion avec une case à cocher.  \n🛠️ **Personnalisation flexible :** Ajoutez des champs comme l'email dans le nœud “Mapper les champs de contact Notion”.  \n📡 **Nœuds communautaires :** Exploite les nœuds Notion et Google Contacts pour l'intégration.\n\n📋 **Prérequis**  \n**Identifiants requis**  \n- **Jeton API Notion :** Configurez OAuth2 dans n8n. Obtenez votre jeton depuis [les paramètres API de Notion](https://developers.notion.com/).  \n- **OAuth2 des contacts Google :** Configurez dans n8n. Consultez [le guide des contacts Google de n8n](https://docs.n8n.io/integrations/builtin/credentials/google/).  \n- **Base de données Notion :** Doit inclure le nom, le téléphone, les étiquettes (`property_buy`), et une case à cocher “Ajouté aux contacts”.  \n- **n8n auto-hébergé :** Requis pour les nœuds communautaires.\n\n🔄 **Processus de flux de travail**  \n1. **Déclencheur :** S'active sur les nouvelles entrées ou les mises à jour de la base de données Notion.  \n2. **Récupérer les données :** Récupère les détails des contacts (nom, téléphone, étiquettes) depuis Notion.  \n3. **Mapper les champs :** Organise les données dans le nœud “Mapper les champs de contact Notion”.  \n4. **Vérifier les groupes :** Vérifie les groupes de contacts Google existants ; en crée de nouveaux si nécessaire.  \n5. **Synchroniser les contacts :** Ajoute des contacts aux contacts Google avec des étiquettes.  \n6. **Mettre à jour Notion :** Marque les contacts comme synchronisés.  \n**Résultat :** Contacts organisés et étiquetés dans les contacts Google, mis à jour automatiquement.\n\n📊 **Structure des données de sortie**  \n- **Nom :** Prénom du contact provenant de Notion.  \n- **Téléphone :** Numéro de téléphone du contact.  \n- **Étiquettes de groupe :** Assignées à partir du champ `property_buy` de Notion.  \n- **Statut de synchronisation :** Case à cocher Notion mise à jour pour confirmer la synchronisation.\n\n💡 **Conseils Pro**  \n- **Mises à jour en temps réel :** Réglez le nœud Déclencheur Notion pour vérifier chaque minute pour une synchronisation plus rapide.  \n- **Étendre les champs :** Ajoutez des emails ou d'autres champs dans le nœud “Mapper les champs de contact Notion”.  \n- **Étiquettes propres :** Utilisez des étiquettes Notion cohérentes pour une meilleure organisation des contacts Google.  \n- **Tester petit :** Commencez avec un petit ensemble de données pour vérifier la configuration.\n\n🆘 **Dépannage**  \n- **Problèmes d'authentification :** Vérifiez les identifiants OAuth2 de Notion et des contacts Google.  \n- **Échecs de synchronisation :** Assurez-vous que l'ID de la base de données Notion et les noms de champs correspondent au flux de travail.  \n- **Erreurs de groupe :** Vérifiez que les étiquettes `property_buy` sont valides.  \n\n👨‍💻 **Informations sur le créateur**  \n👤 **Créé par : Dan Rahimi**\n🌐 **Site Web :** [DanRahimi.com](https://DanRahimi.com)\n📧 **Email :** [Fa.Danial@gmail.com](mailto:Fa.Danial@gmail.com) \n📺 **YouTube :** [@DanRahimi](https://www.youtube.com/@danrahimi)\n👥 **LinkedIn :** [Dan-Rahimi](https://www.linkedin.com/in/dan-rahimi)\n\n🤝 **Soutien et contributions**  \nVous avez aimé ce flux de travail ? Soutenez mon travail ou explorez plus :  \n☕ [**Offrez-moi un café**](https://www.coff.ee/danrahimi) \n📚 **Cours d'automatisation IA :** Visitez **[DanRahimi.com](https://DanRahimi.com)** pour plus d'articles et de tutoriels sur l'automatisation IA.\n\n**Avertissement :** Ce flux de travail utilise des nœuds communautaires et nécessite une instance n8n auto-hébergée.",
  "workflow": {
    "id": "h7YubkTUmnZrsMQs",
    "meta": {},
    "name": "Sync Contacts from Notion to Google Contacts with Group Labels",
    "tags": [],
    "nodes": [
      {
        "id": "9884a0d6-5969-4e36-9d1e-e9026cfd2fae",
        "name": "Get All Contacts from Notion",
        "type": "n8n-nodes-base.notion",
        "position": [
          260,
          240
        ],
        "parameters": {
          "options": {},
          "resource": "databasePage",
          "operation": "getAll",
          "returnAll": true,
          "databaseId": {
            "__rl": true,
            "mode": "id",
            "value": "Enter your Notion database ID here."
          }
        },
        "credentials": {},
        "typeVersion": 2,
        "alwaysOutputData": true
      },
      {
        "id": "14397583-f0e6-4bc4-9bf1-ac87f80e701a",
        "name": "Find Match Labels",
        "type": "n8n-nodes-base.code",
        "position": [
          1400,
          240
        ],
        "parameters": {
          "jsCode": "// Get raw label from Edit Fields\nconst rawLabel = $('Loop Over Contacts').first().json.label || '';\nconsole.log(\"rawLabel:\", rawLabel);\n\n// Parse if it’s a stringified array, otherwise treat as array or single value\nlet labelNames;\nif (typeof rawLabel === 'string') {\n  try {\n    labelNames = JSON.parse(rawLabel); // Convert \"['Gelatin 180-200']\" to [\"Gelatin 180-200\"]\n  } catch (e) {\n    labelNames = [rawLabel]; // If not valid JSON, treat as single string\n  }\n} else if (Array.isArray(rawLabel)) {\n  labelNames = rawLabel; // Already an array\n} else {\n  labelNames = rawLabel ? [rawLabel] : []; // Fallback\n}\n\nconst contactGroups = $input.first().json.contactGroups || [];\n\nconsole.log(\"labelNames (parsed):\", labelNames);\nconsole.log(\"contactGroups:\", contactGroups);\n\n// Match labels and extract resourceName\nconst matchedLabels = labelNames.map(label => {\n  const group = contactGroups.find(g => \n    g.name.trim().toLowerCase() === label.trim().toLowerCase() && \n    g.groupType === \"USER_CONTACT_GROUP\"\n  );\n  console.log(`Searching for: \"${label}\", Found:`, group);\n  return {\n    name: label,\n    resourceName: group ? [group.resourceName] : null // Wrap resourceName in an array\n  };\n});\n\nconsole.log(\"matchedLabels:\", matchedLabels);\n\nreturn matchedLabels.map(label => ({\n  json: {\n    name: label.name,\n    resourceName: label.resourceName // Now an array like [\"contactGroups/40cf29798a92c131\"]\n  }\n}));"
        },
        "executeOnce": true,
        "typeVersion": 2
      },
      {
        "id": "bc13d96d-951e-4d7a-90ed-af96617647ef",
        "name": "Add Contact to Google Contacts",
        "type": "n8n-nodes-base.googleContacts",
        "position": [
          1880,
          240
        ],
        "parameters": {
          "givenName": "={{ $('Loop Over Contacts').item.json.firstName }}",
          "additionalFields": {
            "group": "={{ $json.resourceName }}",
            "phoneUi": {
              "phoneValues": [
                {
                  "type": "home",
                  "value": "={{ $('Loop Over Contacts').item.json.phone }}"
                }
              ]
            }
          }
        },
        "credentials": {},
        "executeOnce": false,
        "typeVersion": 1
      },
      {
        "id": "d61f9032-9982-4aaf-ab68-c827c345c14d",
        "name": "Workflow Overview",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -40,
          -540
        ],
        "parameters": {
          "width": 1600,
          "height": 520,
          "content": "# Sync Notion Contacts to Google Contacts with Group Labels\nThis workflow syncs contacts from a Notion database to Google Contacts, assigning group labels based on Notion properties. It triggers on new or updated contacts, retrieves details (name, phone, labels), checks/creates Google Contact groups, adds the contact, and updates Notion to mark it as synced.\n\n**Setup Instructions:**\n1. Connect Notion and Google Contacts via OAuth2 in n8n’s credential settings.\n2. Set your Notion database ID in the Notion Trigger node (find it in your Notion database URL, e.g., 0427eb01ed3b4947873382c566f23785).\n3. Ensure Notion database has fields: name, phone, labels, and “Added to Contacts” checkbox.\n4. Test the workflow to confirm syncing.\n\n**Requirements:**\n- Notion account with a contact database.\n- Google Contacts account with OAuth2.\n- **Self-hosted n8n instance required (uses community nodes).**\n\nFor advanced setups, see [Notion’s API guide](https://developers.notion.com/)."
        },
        "typeVersion": 1
      },
      {
        "id": "1c52ad45-98ff-4f32-b58e-81dfe4eda13d",
        "name": "Trigger Explanation",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -40,
          20
        ],
        "parameters": {
          "color": 6,
          "width": 260,
          "height": 520,
          "content": "Triggers the workflow when a new contact is added or an existing contact is updated in the specified Notion database."
        },
        "typeVersion": 1
      },
      {
        "id": "61818fe5-608c-4410-b8fe-f76a203b0123",
        "name": "Field Mapping Guide",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          440,
          20
        ],
        "parameters": {
          "color": 6,
          "width": 220,
          "height": 400,
          "content": "Maps Notion fields (name, phone, labels, added status) to variables for further processing. Customize here to add more fields like email."
        },
        "typeVersion": 1
      },
      {
        "id": "12fb9b67-4b5a-40b0-90f1-f7e896cd47d9",
        "name": "Label Matching Guide",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1340,
          20
        ],
        "parameters": {
          "color": 6,
          "width": 220,
          "height": 400,
          "content": "Matches Notion labels to existing Google Contact groups, parsing labels from Notion’s property_buy field."
        },
        "typeVersion": 1
      },
      {
        "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
        "name": "Already Synced Check Guide",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          920,
          20
        ],
        "parameters": {
          "color": 6,
          "width": 220,
          "height": 400,
          "content": "Checks if the contact has already been synced to Google Contacts using the 'Already Added' field in Notion."
        },
        "typeVersion": 1
      },
      {
        "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
        "name": "Group Existence Check Guide",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1580,
          20
        ],
        "parameters": {
          "color": 6,
          "width": 220,
          "height": 400,
          "content": "Verifies if the specified group label exists in Google Contacts. If not, a new group is created."
        },
        "typeVersion": 1
      },
      {
        "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
        "name": "Create Group Guide",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1580,
          -160
        ],
        "parameters": {
          "color": 6,
          "width": 220,
          "height": 400,
          "content": "Creates a new group in Google Contacts if the specified label doesn’t exist."
        },
        "typeVersion": 1
      },
      {
        "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
        "name": "Add Contact Guide",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1820,
          20
        ],
        "parameters": {
          "color": 6,
          "width": 220,
          "height": 400,
          "content": "Adds the contact to Google Contacts with the specified name, phone, and group labels."
        },
        "typeVersion": 1
      },
      {
        "id": "566b7be5-6090-48eb-acb2-71c0844c240b",
        "name": "Map Notion Contact Fields",
        "type": "n8n-nodes-base.set",
        "position": [
          500,
          240
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "cf7632d2-9983-4c09-8021-7043b8606c48",
                "name": "firstName",
                "type": "string",
                "value": "={{ $json.name }}"
              },
              {
                "id": "bc1f218c-bd1b-4b07-b812-1569f483a838",
                "name": "label",
                "type": "string",
                "value": "={{ $json.property_buy }}"
              },
              {
                "id": "d62010cd-2768-40a4-9279-c4742575a7bd",
                "name": "phone",
                "type": "string",
                "value": "={{ $json.property_phone }}"
              },
              {
                "id": "71fe5268-8798-4641-9395-1c2295c83ae0",
                "name": "Already Added",
                "type": "string",
                "value": "={{ $json.property_added_to_contacts }}"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "8f91fe10-353f-4a03-8ddf-18c8958188aa",
        "name": "Loop Over Contacts",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          760,
          240
        ],
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "typeVersion": 3
      },
      {
        "id": "2d832694-f231-4201-8432-9d032e000d7f",
        "name": "Fetch Google Contact Groups",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1180,
          240
        ],
        "parameters": {
          "url": "https://people.googleapis.com/v1/contactGroups",
          "options": {},
          "sendQuery": true,
          "authentication": "predefinedCredentialType",
          "queryParameters": {
            "parameters": [
              {
                "name": "pageSize",
                "value": "1000"
              }
            ]
          },
          "nodeCredentialType": "googleContactsOAuth2Api"
        },
        "credentials": {},
        "typeVersion": 4.2
      },
      {
        "id": "d9660c1f-9672-4cf0-8196-fee0b0acb8d3",
        "name": "Check Google Contact Group Exists",
        "type": "n8n-nodes-base.if",
        "position": [
          1640,
          240
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "f8e38a64-ace8-49e8-b400-c6609db670e9",
                "operator": {
                  "type": "array",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.resourceName }}",
                "rightValue": "null"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "c913cf75-f9eb-4b27-b5f3-5bae32ee0d86",
        "name": "Mark Contact as Synced in Notion",
        "type": "n8n-nodes-base.notion",
        "position": [
          2080,
          240
        ],
        "parameters": {
          "pageId": {
            "__rl": true,
            "mode": "url",
            "value": "={{ $('Get All Contacts from Notion').item.json.url }}"
          },
          "options": {},
          "resource": "databasePage",
          "operation": "update",
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Added to Contacts|checkbox",
                "checkboxValue": true
              }
            ]
          }
        },
        "credentials": {},
        "typeVersion": 2.2
      },
      {
        "id": "d8f8f322-26c2-4c22-bc74-22db9c67cfd3",
        "name": "Create New Google Contact Group",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1640,
          40
        ],
        "parameters": {
          "url": "https://people.googleapis.com/v1/contactGroups",
          "method": "POST",
          "options": {},
          "jsonBody": "={\n  \"contactGroup\": {\n    \"name\": \"{{ $json.name }}\"\n  }\n} ",
          "sendBody": true,
          "specifyBody": "json",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleContactsOAuth2Api"
        },
        "credentials": {},
        "typeVersion": 4.2
      },
      {
        "id": "8e01eb00-ba8b-495b-bcec-38c50d631357",
        "name": "Check if Contact Already Synced",
        "type": "n8n-nodes-base.if",
        "position": [
          980,
          240
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "a707ab4a-4300-4626-bc72-d0bd6126f733",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $('Map Notion Contact Fields').item.json['Already Added'].toBoolean() }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "7a218d3f-9a76-4f21-a599-f550f3642159",
        "name": "Trigger on New Notion Contact",
        "type": "n8n-nodes-base.notionTrigger",
        "position": [
          40,
          160
        ],
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyWeek"
              }
            ]
          },
          "databaseId": {
            "__rl": true,
            "mode": "id",
            "value": "Enter your Notion database ID here."
          }
        },
        "credentials": {},
        "typeVersion": 1
      },
      {
        "id": "871cfdb2-8353-4347-8b96-23d0deacb3cd",
        "name": "Trigger on Updated Notion Contact",
        "type": "n8n-nodes-base.notionTrigger",
        "position": [
          40,
          360
        ],
        "parameters": {
          "event": "pagedUpdatedInDatabase",
          "pollTimes": {
            "item": [
              {
                "mode": "everyWeek"
              }
            ]
          },
          "databaseId": {
            "__rl": true,
            "mode": "id",
            "value": "Enter your Notion database ID here."
          }
        },
        "credentials": {},
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "c0a0f606-780f-4f03-95d9-6d7ad6c12790",
    "connections": {
      "Find Match Labels": {
        "main": [
          [
            {
              "node": "Check Google Contact Group Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Contacts": {
        "main": [
          [],
          [
            {
              "node": "Check if Contact Already Synced",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map Notion Contact Fields": {
        "main": [
          [
            {
              "node": "Loop Over Contacts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Google Contact Groups": {
        "main": [
          [
            {
              "node": "Find Match Labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Contacts from Notion": {
        "main": [
          [
            {
              "node": "Map Notion Contact Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger on New Notion Contact": {
        "main": [
          [
            {
              "node": "Get All Contacts from Notion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Contact to Google Contacts": {
        "main": [
          [
            {
              "node": "Mark Contact as Synced in Notion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if Contact Already Synced": {
        "main": [
          [
            {
              "node": "Loop Over Contacts",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch Google Contact Groups",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create New Google Contact Group": {
        "main": [
          [
            {
              "node": "Loop Over Contacts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Contact as Synced in Notion": {
        "main": [
          [
            {
              "node": "Loop Over Contacts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Google Contact Group Exists": {
        "main": [
          [
            {
              "node": "Create New Google Contact Group",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Add Contact to Google Contacts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger on Updated Notion Contact": {
        "main": [
          [
            {
              "node": "Get All Contacts from Notion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 20,
    "nodeTypes": {
      "n8n-nodes-base.if": {
        "count": 2
      },
      "n8n-nodes-base.set": {
        "count": 1
      },
      "n8n-nodes-base.code": {
        "count": 1
      },
      "n8n-nodes-base.notion": {
        "count": 2
      },
      "n8n-nodes-base.stickyNote": {
        "count": 8
      },
      "n8n-nodes-base.httpRequest": {
        "count": 2
      },
      "n8n-nodes-base.notionTrigger": {
        "count": 2
      },
      "n8n-nodes-base.googleContacts": {
        "count": 1
      },
      "n8n-nodes-base.splitInBatches": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Dan Rahimi",
    "username": "danrahimi",
    "bio": "",
    "verified": false,
    "links": [
      ""
    ],
    "avatar": "https://gravatar.com/avatar/32a4c8fd19d38aac5d0e9f97f174561772826f7a589e126e887d373e910ce40e?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Demande HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 20,
      "icon": "fa:map-signs",
      "name": "n8n-nodes-base.if",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                "icon": "🏷️",
                "label": "How to automatically manage contributions to open-source projects"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Si",
        "color": "#408000"
      },
      "iconData": {
        "icon": "map-signs",
        "type": "icon"
      },
      "displayName": "If",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 38,
      "icon": "fa:pen",
      "name": "n8n-nodes-base.set",
      "codex": {
        "data": {
          "alias": [
            "Set",
            "JS",
            "JSON",
            "Filter",
            "Transform",
            "Map"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Modifier les champs"
      },
      "iconData": {
        "icon": "pen",
        "type": "icon"
      },
      "displayName": "Edit Fields (Set)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 39,
      "icon": "fa:sync",
      "name": "n8n-nodes-base.splitInBatches",
      "codex": {
        "data": {
          "alias": [
            "Loop",
            "Concatenate",
            "Batch",
            "Split",
            "Split In Batches"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"organization\"]",
      "defaults": {
        "name": "Boucle sur les éléments",
        "color": "#007755"
      },
      "iconData": {
        "icon": "sync",
        "type": "icon"
      },
      "displayName": "Loop Over Items (Split in Batches)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 355,
      "icon": "file:googleContacts.png",
      "name": "n8n-nodes-base.googleContacts",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlecontacts/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Miscellaneous "
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Contacts Google"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAABblBMVEUAAAAbePgac+gac+gac+kjdecac+cac+gYc+kZc+kZc+gac+kac+gacugZc+kac+gac+gZc+gZc+gac+kbdegZc+cac+gacukccegZcukZc+gbcukacugcdOkSbe0UdusbcOQac+j///8ac+kcff38/P4Ycuj9/v8hdusbefUcfPohdOkAWcwldegedOkAbecce/gbd/BfecEbePMadOsAZ+j9/f8Tcuj6+/4qd+oVcukCcOgAZOcAYeYueOk7fOozeen3+PwcfPnT3PgAaejp7frh6PrE0PRJguoATrfq7vvc5PmvwfMAbugEaN3p7vu6yPSOqe9tk+skdutBf+kPcegAYuIeb+AQadkAV84ASsLx9PvX3vTf4/GEou5ijutWh+rQ1ujK0OjL0eYAVeUAaeEAVOGdrd8AXNKHmMtgesEmYMDZ3vKftfCYsPAzd+SerNhjhNKZpc8AUshrg8JWdcBKbr4AQbYAQbUARLRnlWACAAAAIXRSTlMABPf+/Af5+FwTbnfeZEbc2b2tqhtB4XItKXppYC4ODTDZ0Xf+AAAEIUlEQVRIx62XB3faMBDHi+3YTlhJIGnapsNCmNiuBzWOMZsCAbLaNDvde+/97au4NKolF3h5/fMej6Gf73TSnU5n/qFIhPhMaRR5Cv73uEsLCfHs+fNnxcTCJfzzGGjkytRsjFVUiKQqbGx26or/8xgOT8ZnWKjaGU5gkAQuY6uQnYlPjnJ+AqHR5HW1wDA8x0oZJInleIYpqNeTUYRPDGXFaajwDCch6kToM8fwCpwWMR3CplOKJTAsBvEDWEawlFT6H3Rk4sxcDEoYpXEJxubOTERCQyVylsBhlBIKocWJaGSI3Qt5m2GloWIZO38B28bzXcznBWmkhHx+EQ0m2ASL2eE0mxjQOM7zFkN7qWn0PBhrPhBzNIcU5Mlxmr5rmru6Rj6Rh6ljBMOiInHBMbJuVssPHpSrpi5LAXGSgkKO2clpiwmuUanm1G/eKBZv3Kw7tVJwxRhrevIv01EoBJ12G5X7q8DX6v1Kww06LsDoX4aTCpMJ2jVrHVDM5nLZIuigL6WgaSWJTcdVIlpy/ck6yOUAEnpff1KXiZhdj5+EekYNGpa98sYaWAa+lsHaRtmTg6bVGQT68EWuwBEzdnqrGF7tOcSsEXBx4PcUJPZHqdHe6WC4s9NulIidAqcGXs9CYp1k3di78wfOgTt7hi4TqwVnEYpel2M2TySiW3/2HIAsAP7b82d1l0hO3k5e9v0+h6eMTS8dPgRordBKgYeHS9gwnvQ5f8oJhaO2v1t7+vox8PX49dOaS6UMpyR8WFR5iZLrbfZfPrp799HL/qbnhmSmKuJgU5K3N4++9/s/jja3sc9EuJGiONjYLcPQPG//4GDf8zTDwNPC4Y6GwzKrayWzUq067bZTrVZMV9MNwjyCQ92WNd2sOL17693W2lqru36v166Ymk65HRYwWS9V5a3WbXCiZutdo7rhBWBeFUOWSkZmt1YQkssOdJxcN96abY9aKmqT6KZ5E23o7DK2jB4DQGvH0clNQm5PbdfpglwREEL4St3UiO1JJAarVbaQWUAJPa9bkYxgYhDhNlynBUi7g8xs9kwtEGyyGBjl8gqgDfuZmbvlaEQxwGVofBiXIVwAfdhcQR6GahnBuADi0hv7U3oNqdoFzRwtFIjb7zcMovQSRV93PjZBuD7saSxR9Injhl168eVNs5gl1ex8+lwyiOOGPui0w5/fXl0j9Opr/4g1qIOOPmK3919cpXWgG8QRG364F5ZCVMCHeyxNtgZznC3g1KJ1Urxsbo5uSsRxGxoRs5i+kM+PbqXyx61UWBO3yFr88CaOt9hFNDK8fZyHmeHt4zxuHyk6nbKHNa52Ko3YU7XMKt0yj9+sn8XN+tBrAgehnUEQEgqhDSGHrwkj7zYL5AVlwf9r/KvRuUT8+GoUx1ej/34pO/118BdHOVYsQXx1mgAAAABJRU5ErkJggg=="
      },
      "displayName": "Google Contacts",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 11,
          "name": "Miscellaneous"
        }
      ]
    },
    {
      "id": 487,
      "icon": "file:notion.svg",
      "name": "n8n-nodes-base.notion",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.notion/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/notion/"
              }
            ]
          },
          "categories": [
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Notion"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjU4Mjc2IDYuOTc2NzlDOC44MjA0NyA3Ljk4MjM4IDkuMjg0NzkgNy45MDU2NiAxMS42MDkxIDcuNzUwNTdMMzMuNTIwNiA2LjQzNDg4QzMzLjk4NTMgNi40MzQ4OCAzMy41OTg5IDUuOTcxMjcgMzMuNDQzOSA1Ljg5NDIzTDI5LjgwNDkgMy4yNjM0OEMyOS4xMDc2IDIuNzIyMTMgMjguMTc4NiAyLjEwMjE3IDI2LjM5ODIgMi4yNTcyNkw1LjE4MTE1IDMuODA0NzZDNC40MDczNiAzLjg4MTQ4IDQuMjUyODIgNC4yNjgzNyA0LjU2MDk2IDQuNTc4NDdMNy41ODI3NiA2Ljk3Njc5Wk04Ljg5ODI5IDEyLjA4MzNWMzUuMTM4MUM4Ljg5ODI5IDM2LjM3NzEgOS41MTc0NiAzNi44NDA3IDEwLjkxMSAzNi43NjRMMzQuOTkxOSAzNS4zNzA2QzM2LjM4NjIgMzUuMjkzOSAzNi41NDE1IDM0LjQ0MTcgMzYuNTQxNSAzMy40MzUyVjEwLjUzNTFDMzYuNTQxNSA5LjUzMDE5IDM2LjE1NDkgOC45ODgyOSAzNS4zMDE0IDkuMDY1NjRMMTAuMTM2NyAxMC41MzUxQzkuMjA3OTkgMTAuNjEzMSA4Ljg5ODIxIDExLjA3NzcgOC44OTgyMSAxMi4wODMzSDguODk4MjlaTTMyLjY3MDggMTMuMzJDMzIuODI1MiAxNC4wMTcgMzIuNjcwOCAxNC43MTMzIDMxLjk3MjUgMTQuNzkxN0wzMC44MTIzIDE1LjAyMjlWMzIuMDQzNEMyOS44MDQ5IDMyLjU4NDggMjguODc1OSAzMi44OTQ0IDI4LjEwMTggMzIuODk0NEMyNi44NjI1IDMyLjg5NDQgMjYuNTUyMSAzMi41MDcyIDI1LjYyMzcgMzEuMzQ3NEwxOC4wMzQzIDE5LjQzMjlWMzAuOTYwNUwyMC40MzU5IDMxLjUwMjRDMjAuNDM1OSAzMS41MDI0IDIwLjQzNTkgMzIuODk0NCAxOC40OTgzIDMyLjg5NDRMMTMuMTU2OCAzMy4yMDQyQzEzLjAwMTYgMzIuODk0NCAxMy4xNTY4IDMyLjEyMTQgMTMuNjk4NiAzMS45NjY1TDE1LjA5MjUgMzEuNTgwMlYxNi4zMzg1TDEzLjE1NzIgMTYuMTgzNEMxMy4wMDE5IDE1LjQ4NjQgMTMuMzg4NSAxNC40ODE0IDE0LjQ3MzMgMTQuNDAzNUwyMC4yMDM1IDE0LjAxNzJMMjguMTAxOCAyNi4wODY4VjE1LjQwOTdMMjYuMDg4MSAxNS4xNzg2QzI1LjkzMzUgMTQuMzI2NSAyNi41NTIxIDEzLjcwNzggMjcuMzI2NSAxMy42MzExTDMyLjY3MDggMTMuMzJaTTMuMzk5NzMgMS43MTU5OEwyNS40Njg4IDAuMDkwNzQ1N0MyOC4xNzkgLTAuMTQxNjg4IDI4Ljg3NjMgMC4wMTQwMjQ1IDMwLjU3OTYgMS4yNTEzNUwzNy42MjQzIDYuMjAyNzZDMzguNzg2NyA3LjA1NDIxIDM5LjE3NDIgNy4yODYwMiAzOS4xNzQyIDguMjE0MTlWMzUuMzcwNkMzOS4xNzQyIDM3LjA3MjYgMzguNTU0MiAzOC4wNzkxIDM2LjM4NjUgMzguMjMzMUwxMC43NTc3IDM5Ljc4MDdDOS4xMzA0OSAzOS44NTgzIDguMzU2MDcgMzkuNjI2NCA3LjUwMzkyIDM4LjU0MjZMMi4zMTYwOCAzMS44MTE3QzEuMzg2NTggMzAuNTcyNiAxIDI5LjY0NTcgMSAyOC41NjEzVjQuNDIyODNDMSAzLjAzMTA1IDEuNjIwMTkgMS44NzAwNSAzLjM5OTczIDEuNzE1OThWMS43MTU5OFoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo="
      },
      "displayName": "Notion",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 488,
      "icon": "file:notion.svg",
      "name": "n8n-nodes-base.notionTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.notiontrigger/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/notion/"
              }
            ]
          },
          "categories": [
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Déclencheur Notion"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjU4Mjc2IDYuOTc2NzlDOC44MjA0NyA3Ljk4MjM4IDkuMjg0NzkgNy45MDU2NiAxMS42MDkxIDcuNzUwNTdMMzMuNTIwNiA2LjQzNDg4QzMzLjk4NTMgNi40MzQ4OCAzMy41OTg5IDUuOTcxMjcgMzMuNDQzOSA1Ljg5NDIzTDI5LjgwNDkgMy4yNjM0OEMyOS4xMDc2IDIuNzIyMTMgMjguMTc4NiAyLjEwMjE3IDI2LjM5ODIgMi4yNTcyNkw1LjE4MTE1IDMuODA0NzZDNC40MDczNiAzLjg4MTQ4IDQuMjUyODIgNC4yNjgzNyA0LjU2MDk2IDQuNTc4NDdMNy41ODI3NiA2Ljk3Njc5Wk04Ljg5ODI5IDEyLjA4MzNWMzUuMTM4MUM4Ljg5ODI5IDM2LjM3NzEgOS41MTc0NiAzNi44NDA3IDEwLjkxMSAzNi43NjRMMzQuOTkxOSAzNS4zNzA2QzM2LjM4NjIgMzUuMjkzOSAzNi41NDE1IDM0LjQ0MTcgMzYuNTQxNSAzMy40MzUyVjEwLjUzNTFDMzYuNTQxNSA5LjUzMDE5IDM2LjE1NDkgOC45ODgyOSAzNS4zMDE0IDkuMDY1NjRMMTAuMTM2NyAxMC41MzUxQzkuMjA3OTkgMTAuNjEzMSA4Ljg5ODIxIDExLjA3NzcgOC44OTgyMSAxMi4wODMzSDguODk4MjlaTTMyLjY3MDggMTMuMzJDMzIuODI1MiAxNC4wMTcgMzIuNjcwOCAxNC43MTMzIDMxLjk3MjUgMTQuNzkxN0wzMC44MTIzIDE1LjAyMjlWMzIuMDQzNEMyOS44MDQ5IDMyLjU4NDggMjguODc1OSAzMi44OTQ0IDI4LjEwMTggMzIuODk0NEMyNi44NjI1IDMyLjg5NDQgMjYuNTUyMSAzMi41MDcyIDI1LjYyMzcgMzEuMzQ3NEwxOC4wMzQzIDE5LjQzMjlWMzAuOTYwNUwyMC40MzU5IDMxLjUwMjRDMjAuNDM1OSAzMS41MDI0IDIwLjQzNTkgMzIuODk0NCAxOC40OTgzIDMyLjg5NDRMMTMuMTU2OCAzMy4yMDQyQzEzLjAwMTYgMzIuODk0NCAxMy4xNTY4IDMyLjEyMTQgMTMuNjk4NiAzMS45NjY1TDE1LjA5MjUgMzEuNTgwMlYxNi4zMzg1TDEzLjE1NzIgMTYuMTgzNEMxMy4wMDE5IDE1LjQ4NjQgMTMuMzg4NSAxNC40ODE0IDE0LjQ3MzMgMTQuNDAzNUwyMC4yMDM1IDE0LjAxNzJMMjguMTAxOCAyNi4wODY4VjE1LjQwOTdMMjYuMDg4MSAxNS4xNzg2QzI1LjkzMzUgMTQuMzI2NSAyNi41NTIxIDEzLjcwNzggMjcuMzI2NSAxMy42MzExTDMyLjY3MDggMTMuMzJaTTMuMzk5NzMgMS43MTU5OEwyNS40Njg4IDAuMDkwNzQ1N0MyOC4xNzkgLTAuMTQxNjg4IDI4Ljg3NjMgMC4wMTQwMjQ1IDMwLjU3OTYgMS4yNTEzNUwzNy42MjQzIDYuMjAyNzZDMzguNzg2NyA3LjA1NDIxIDM5LjE3NDIgNy4yODYwMiAzOS4xNzQyIDguMjE0MTlWMzUuMzcwNkMzOS4xNzQyIDM3LjA3MjYgMzguNTU0MiAzOC4wNzkxIDM2LjM4NjUgMzguMjMzMUwxMC43NTc3IDM5Ljc4MDdDOS4xMzA0OSAzOS44NTgzIDguMzU2MDcgMzkuNjI2NCA3LjUwMzkyIDM4LjU0MjZMMi4zMTYwOCAzMS44MTE3QzEuMzg2NTggMzAuNTcyNiAxIDI5LjY0NTcgMSAyOC41NjEzVjQuNDIyODNDMSAzLjAzMTA1IDEuNjIwMTkgMS44NzAwNSAzLjM5OTczIDEuNzE1OThWMS43MTU5OFoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo="
      },
      "displayName": "Notion Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 834,
      "icon": "file:code.svg",
      "name": "n8n-nodes-base.code",
      "codex": {
        "data": {
          "alias": [
            "cpde",
            "Javascript",
            "JS",
            "Python",
            "Script",
            "Custom Code",
            "Function"
          ],
          "details": "The Code node allows you to execute JavaScript in your workflow.",
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Code"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Code",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 39,
      "name": "CRM"
    }
  ],
  "image": []
}