automation/i18n/fr-FR/Automate Post-Interview Feedback Reminders using Google Sheets, Slack, and Gmail.json
{
  "id": 7987,
  "name": "Automatiser les rappels de retour d'entretien post-entretien en utilisant Google Sheets, Slack et Gmail",
  "views": 6,
  "recentViews": 0,
  "totalViews": 6,
  "createdAt": "2025-08-28T10:32:04.202Z",
  "description": "# Envoyer des rappels de retour d'entretien post-entretien de Google Sheets à Slack (avec une option de secours par email)\n\nCe flux de travail n8n automatise le processus d'envoi de rappels de retour d'entretien post-entretien aux intervieweurs. Il vérifie quotidiennement une feuille Google pour les entrées de retour en attente et envoie des DM Slack personnalisés ou des rappels par email en fonction de la disponibilité des ID Slack. Il garantit des suivis cohérents et élimine le suivi manuel.\n\n## Pour qui est-ce\n\n* Équipes RH et d'acquisition de talents\n* Coordinateurs de recrutement\n* Chefs d'équipe en ingénierie/design/produit menant des entretiens\n* Quiconque gérant la collecte de retours d'entretien en utilisant Google Sheets et Slack\n\n## Comment ça fonctionne\n\n1. **Déclencheur** : Le flux de travail commence chaque jour à 18h00 en utilisant le **Déclencheur de planification**.\n2. **Récupérer les données** : Il lit une feuille Google avec des entrées d'entretien via le nœud **Google Sheets (Lire la feuille)**.\n3. **Vérifier la soumission de retour** : Un **nœud IF** filtre les entrées où le retour n'a pas été marqué comme « Oui ». \n4. **Vérification Slack** : Un autre **nœud IF** vérifie si un ID Slack valide est présent.\n\t* Si **l'ID Slack existe** : Envoie un rappel DM Slack.\n\t* Si **l'ID Slack est manquant** : Envoie un rappel de secours par email en utilisant Gmail.\n5. **Mettre à jour le statut** : Met à jour la feuille pour marquer le rappel comme envoyé, évitant ainsi les doublons futurs.\n\n## Comment configurer\n\n1. Préparez une feuille Google avec les colonnes : `candidate_email`, `interviewer_email`, `feedback_submitted`, `slack_id`, `reminder_sent`.\n2. Connectez vos comptes Google Sheets, Slack et Gmail dans n8n.\n3. Réglez le Déclencheur de planification à votre heure préférée (par exemple, 18h00).\n4. Mappez les colonnes correctes dans chaque nœud.\n5. Déployez et testez le flux de travail.\n\n## Exigences\n\n* Une instance n8n fonctionnelle.\n* Google Sheets avec des données de retour structurées.\n* Espace de travail Slack et jeton de bot avec autorisations DM.\n* Compte Gmail connecté à n8n pour les rappels de secours.\n* Intervieweurs listés avec soit un ID Slack soit un email valide.\n\n## Comment personnaliser\n\n* Changez le calendrier (par exemple, exécutez-le toutes les heures ou certains jours).\n* Personnalisez les modèles de message Slack ou Email.\n* Ajoutez un formatage conditionnel pour différents types d'entretien ou rôles.\n* Intégrez des colonnes supplémentaires pour enregistrer les horodatages ou les tentatives.\n* Étendez à MS Teams ou d'autres fournisseurs d'email.\n\n## Modules complémentaires\n\n* **Horodatage Google Sheets** : Enregistrez l'heure exacte à laquelle les rappels ont été envoyés.\n* **Support de rappel multilingue** : Basé sur la langue préférée de l'intervieweur.\n* **Liens automatiques vers le formulaire de retour** : Intégrez dynamiquement des liens Google Form dans les messages.\n* **Intégration Notion ou Airtable** : Étendez le suivi à d'autres plateformes.\n\n## Exemples de cas d'utilisation\n\n* Un recruteur gérant plus de 10 entretiens par jour s'assure que les retours sont collectés dans les 24 heures.\n* Un responsable technique automatise les rappels pour que les membres du panel remplissent les fiches de score des candidats.\n* Les équipes RH l'utilisent lors des pics de recrutement pour éliminer les goulets d'étranglement des retours.\n\n## Dépannage courant\n\n| **Problème** | **Cause possible** | **Solution** |\n| ---------------------------- | --------------------------------- | ------------------------------------------------------- |\n| Rappels non envoyés | Déclencheur de planification non déclenché | Vérifiez l'expression cron ou les paramètres de fuseau horaire |\n| Messages Slack non livrés | ID Slack manquant ou invalide | Assurez-vous que les ID Slack sont correctement mappés dans la feuille |\n| Emails non envoyés | Nœud Gmail non autorisé | Reconnectez les identifiants Gmail dans n8n |\n| Entrées rappelées plusieurs fois | Feuille non mise à jour après le rappel | Confirmez que le nœud de mise à jour marque `reminder_sent` comme « Oui » |\n| Erreurs de bot Slack | Autorisations insuffisantes | Assurez-vous que le bot a la permission d'envoyer des DM |\n\n## Besoin d'aide ?\n\nBesoin d'aide pour configurer cela ou souhaitez-vous le personnaliser davantage pour votre flux de travail de recrutement ? Envoyez simplement un message à notre équipe d'automatisation n8n chez WeblineIndia — nous sommes là pour vous aider à rationaliser votre processus de retour d'entretien !",
  "workflow": {
    "id": "kLHXGgGMQNnfjVW8",
    "meta": {
      "instanceId": "14e4c77104722ab186539dfea5182e419aecc83d85963fe13f6de862c875ebfa",
      "templateCredsSetupCompleted": true
    },
    "name": "Send Post‑Interview Feedback Nudges from Google Sheets to Slack (with Email Fallback)",
    "tags": [],
    "nodes": [
      {
        "id": "3c94fc35-7f70-44f8-8084-74ef9e86305e",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -180,
          -20
        ],
        "parameters": {
          "width": 1620,
          "height": 560,
          "content": "## Send Post‑Interview Feedback Nudges from Google Sheets to Slack (with Email Fallback)"
        },
        "typeVersion": 1
      },
      {
        "id": "7915c9b3-beea-41c6-a1d8-34dd1a5b52c1",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -180,
          580
        ],
        "parameters": {
          "width": 1620,
          "height": 380,
          "content": "## Description:\n- The workflow starts with a Schedule Trigger node named \"Daily Reminder Trigger\", which runs every day at 6:00 PM to initiate the process.\n\n- The next node, named \"Fetch Interview Feedback Data\", is a Google Sheets (Read Sheet) node that pulls all the interview entries from a spreadsheet.\n\n- An IF node named \"Check If Feedback Is Submitted\" filters the entries, allowing only those where the Feedback Submitted field is not marked as \"Yes\" to move forward.\n\n- The next IF node named \"Check for Slack ID\" evaluates whether a valid Slack ID exists for each pending feedback row.\n\n- If Slack ID exists, the workflow proceeds to the \"Send Slack Reminder\" node, which is a Slack (Post Message) node sending a personalized DM reminder to the interviewer.\n\n- If Slack ID is missing, the workflow uses the \"Send Email Reminder\" node, a Gmail (Send Message) node, to send an email notification to the interviewer.\n\n- Regardless of whether the reminder was sent via Slack or Email, the final step is handled by a Google Sheets (Append or Update) node named \"Update Reminder Status\".\n\n- This node updates the sheet and marks the Reminder Sent or Feedback Submitted column as \"Yes\" to prevent further reminders for the same entry in future workflow executions."
        },
        "typeVersion": 1
      },
      {
        "id": "38bcc7d4-df73-4ccb-a7a0-618540a48310",
        "name": "Daily Reminder Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -120,
          160
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 18
              }
            ]
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "ee420d16-40b5-4faf-9501-bc9a8228ec04",
        "name": "Fetch Interview Feedback Data",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          120,
          160
        ],
        "parameters": {
          "options": {},
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": 1780789038,
            "cachedResultUrl": "",
            "cachedResultName": "Interview_Feedback"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1cQ-TBf3-dqo7njDYzYpxpASYFvEp8lIzH7vpIqTLcwc",
            "cachedResultUrl": "",
            "cachedResultName": "N8N_Email_Attachment"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "zkQXt1viHat7vaB3",
            "name": "Google Sheets account 6"
          }
        },
        "typeVersion": 4.6
      },
      {
        "id": "3440d46a-fd6b-428c-a77b-06b03b522847",
        "name": "Check If Feedback Is Submitted",
        "type": "n8n-nodes-base.if",
        "position": [
          360,
          160
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "28cdc419-2495-4936-bdee-f871ba07cc2d",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json[\"Feedback Submitted (Y/N)\"] }}",
                "rightValue": "Y"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "c9fff58b-e8f0-40b7-90b1-c6fb63416ef0",
        "name": "Check for Slack ID",
        "type": "n8n-nodes-base.if",
        "position": [
          640,
          180
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "42475361-d80f-44c0-b7b6-b3bd15a6281e",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json[\"Candidate Slack Id\"] }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "f2ac87d5-06d8-417c-aeed-f41fb49085e1",
        "name": "Send Slack Reminder",
        "type": "n8n-nodes-base.slack",
        "position": [
          940,
          300
        ],
        "webhookId": "6d603894-f9e9-4cf8-8f53-f69810fa4e78",
        "parameters": {
          "text": "={{ $json[\"Areas of Improvement\"] }}",
          "user": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json[\"Candidate Slack Id\"] }}"
          },
          "select": "user",
          "otherOptions": {}
        },
        "credentials": {
          "slackApi": {
            "id": "HlObxWRUmnuebuJP",
            "name": "Interview_feedback_Slack"
          }
        },
        "typeVersion": 2.3
      },
      {
        "id": "3564776b-8617-4857-95b7-c12ba50a3268",
        "name": "Send Email Reminder",
        "type": "n8n-nodes-base.gmail",
        "position": [
          940,
          60
        ],
        "webhookId": "9ec6e88c-d28e-460f-bc29-ff97b4024526",
        "parameters": {
          "sendTo": "={{ $json[\"Candidate Email\"] }}",
          "message": "={{ $json[\"Areas of Improvement\"] }}",
          "options": {
            "appendAttribution": false
          },
          "subject": "={{ $json.Recommendation }}",
          "emailType": "text"
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "YqeBbKp4FvFiADc0",
            "name": "Gmail account 7"
          }
        },
        "typeVersion": 2.1
      },
      {
        "id": "c6513c53-c950-4eb8-bb75-d21167549b3a",
        "name": "Update Reminder Status",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          1200,
          180
        ],
        "parameters": {
          "columns": {
            "value": {
              "Position": "={{ $('Check for Slack ID').item.json.Position }}",
              "Strengths": "={{ $('Check for Slack ID').item.json.Strengths }}",
              "Interview ID": "={{ $('Check for Slack ID').item.json[\"Interview ID\"] }}",
              "Candidate Name": "={{ $('Check for Slack ID').item.json[\"Candidate Name\"] }}",
              "Interview Date": "={{ $('Check for Slack ID').item.json[\"Interview Date\"] }}",
              "Rating (1–5)": "={{ $('Check for Slack ID').item.json[\"Rating (1–5)\"] }}",
              "Recommendation": "={{ $('Check for Slack ID').item.json.Recommendation }}",
              "Candidate Email": "={{ $('Check for Slack ID').item.json[\"Candidate Email\"] }}",
              "Interview Stage": "={{ $('Check for Slack ID').item.json[\"Interview Stage\"] }}",
              "Interviewer Name": "={{ $('Check for Slack ID').item.json[\"Interviewer Name\"] }}",
              "Skills Evaluated": "={{ $('Check for Slack ID').item.json[\"Skills Evaluated\"] }}",
              "Candidate Slack Id": "={{ $('Check for Slack ID').item.json[\"Candidate Slack Id\"] }}",
              "Additional Comments": "={{ $('Check for Slack ID').item.json[\"Additional Comments\"] }}",
              "Areas of Improvement": "={{ $('Check for Slack ID').item.json[\"Areas of Improvement\"] }}",
              "Feedback Submitted (Y/N)": "=Y"
            },
            "schema": [
              {
                "id": "Interview ID",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Interview ID",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Candidate Name",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Candidate Name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Candidate Email",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Candidate Email",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Candidate Slack Id",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Candidate Slack Id",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Interviewer Name",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Interviewer Name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Interview Date",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Interview Date",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Interview Stage",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Interview Stage",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Position",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Position",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Skills Evaluated",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Skills Evaluated",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Rating (1–5)",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Rating (1–5)",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Strengths",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Strengths",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Areas of Improvement",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Areas of Improvement",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Recommendation",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Recommendation",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Additional Comments",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Additional Comments",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Feedback Submitted (Y/N)",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Feedback Submitted (Y/N)",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "Feedback Submitted (Y/N)"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "appendOrUpdate",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": 1780789038,
            "cachedResultUrl": "",
            "cachedResultName": "Interview_Feedback"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1cQ-TBf3-dqo7njDYzYpxpASYFvEp8lIzH7vpIqTLcwc",
            "cachedResultUrl": "",
            "cachedResultName": "N8N_Email_Attachment"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "zkQXt1viHat7vaB3",
            "name": "Google Sheets account 6"
          }
        },
        "typeVersion": 4.6,
        "alwaysOutputData": true
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "254a0e91-bb2b-4271-8036-a3908acde0ae",
    "connections": {
      "Check for Slack ID": {
        "main": [
          [
            {
              "node": "Send Email Reminder",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Slack Reminder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Email Reminder": {
        "main": [
          [
            {
              "node": "Update Reminder Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Slack Reminder": {
        "main": [
          [
            {
              "node": "Update Reminder Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily Reminder Trigger": {
        "main": [
          [
            {
              "node": "Fetch Interview Feedback Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Reminder Status": {
        "main": [
          []
        ]
      },
      "Fetch Interview Feedback Data": {
        "main": [
          [
            {
              "node": "Check If Feedback Is Submitted",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check If Feedback Is Submitted": {
        "main": [
          [],
          [
            {
              "node": "Check for Slack ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 9,
    "nodeTypes": {
      "n8n-nodes-base.if": {
        "count": 2
      },
      "n8n-nodes-base.gmail": {
        "count": 1
      },
      "n8n-nodes-base.slack": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 2
      },
      "n8n-nodes-base.googleSheets": {
        "count": 2
      },
      "n8n-nodes-base.scheduleTrigger": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "WeblineIndia",
    "username": "weblineindia",
    "bio": "A Leading Software Engineering, Consulting & Outsourcing Services Company in USA & India serving Clients Globally since 1999.",
    "verified": true,
    "links": [
      "https://www.weblineindia.com/"
    ],
    "avatar": "https://gravatar.com/avatar/a229d43aefca4588581583c58bb37b4773aebbdf4c1fef86a08bb1d38eae91fa?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 18,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheets",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Sheet",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                "icon": "❤️",
                "label": "Love at first sight: Ricardo’s n8n journey"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                "icon": "⏲",
                "label": "Creating triggers for n8n workflows using polling"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                "icon": "🍔",
                "label": "How Honest Burgers Use Automation to Save $100k per year"
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\",\"output\"]",
      "defaults": {
        "name": "Google Sheets"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets",
      "typeVersion": 5,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 20,
      "icon": "fa:map-signs",
      "name": "n8n-nodes-base.if",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                "icon": "🏷️",
                "label": "How to automatically manage contributions to open-source projects"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Si",
        "color": "#408000"
      },
      "iconData": {
        "icon": "map-signs",
        "type": "icon"
      },
      "displayName": "If",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 40,
      "icon": "file:slack.svg",
      "name": "n8n-nodes-base.slack",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                "icon": "👦",
                "label": "Build your own virtual assistant with n8n: A step by step guide"
              },
              {
                "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                "icon": "👏",
                "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.slack/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/slack/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Slack"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgMTUwLjg1MiAxNTAuODUyIj48dXNlIHhsaW5rOmhyZWY9IiNhIiB4PSIuOTI2IiB5PSIuOTI2Ii8+PHN5bWJvbCBpZD0iYSIgb3ZlcmZsb3c9InZpc2libGUiPjxnIHN0cm9rZS13aWR0aD0iMS44NTIiPjxwYXRoIGZpbGw9IiNlMDFlNWEiIHN0cm9rZT0iI2UwMWU1YSIgZD0iTTQwLjc0MSA5My41NWMwLTguNzM1IDYuNjA3LTE1Ljc3MiAxNC44MTUtMTUuNzcyczE0LjgxNSA3LjAzNyAxNC44MTUgMTUuNzcydjM4LjgyNGMwIDguNzM3LTYuNjA3IDE1Ljc3NC0xNC44MTUgMTUuNzc0cy0xNC44MTUtNy4wMzctMTQuODE1LTE1Ljc3MnoiLz48cGF0aCBmaWxsPSIjZWNiMjJkIiBzdHJva2U9IiNlY2IyMmQiIGQ9Ik05My41NSAxMDcuNDA4Yy04LjczNSAwLTE1Ljc3Mi02LjYwNy0xNS43NzItMTQuODE1czcuMDM3LTE0LjgxNSAxNS43NzItMTQuODE1aDM4LjgyNmM4LjczNSAwIDE1Ljc3MiA2LjYwNyAxNS43NzIgMTQuODE1cy03LjAzNyAxNC44MTUtMTUuNzcyIDE0LjgxNXoiLz48cGF0aCBmaWxsPSIjMmZiNjdjIiBzdHJva2U9IiMyZmI2N2MiIGQ9Ik03Ny43NzggMTUuNzcyQzc3Ljc3OCA3LjAzNyA4NC4zODUgMCA5Mi41OTMgMHMxNC44MTUgNy4wMzcgMTQuODE1IDE1Ljc3MnYzOC44MjZjMCA4LjczNS02LjYwNyAxNS43NzItMTQuODE1IDE1Ljc3MnMtMTQuODE1LTcuMDM3LTE0LjgxNS0xNS43NzJ6Ii8+PHBhdGggZmlsbD0iIzM2YzVmMSIgc3Ryb2tlPSIjMzZjNWYxIiBkPSJNMTUuNzcyIDcwLjM3MUM3LjAzNyA3MC4zNzEgMCA2My43NjMgMCA1NS41NTZzNy4wMzctMTQuODE1IDE1Ljc3Mi0xNC44MTVoMzguODI2YzguNzM1IDAgMTUuNzcyIDYuNjA3IDE1Ljc3MiAxNC44MTVzLTcuMDM3IDE0LjgxNS0xNS43NzIgMTQuODE1eiIvPjxnIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiPjxwYXRoIGZpbGw9IiNlY2IyMmQiIHN0cm9rZT0iI2VjYjIyZCIgZD0iTTc3Ljc3OCAxMzMuMzMzYzAgOC4yMDggNi42MDcgMTQuODE1IDE0LjgxNSAxNC44MTVzMTQuODE1LTYuNjA3IDE0LjgxNS0xNC44MTUtNi42MDctMTQuODE1LTE0LjgxNS0xNC44MTVINzcuNzc4eiIvPjxwYXRoIGZpbGw9IiMyZmI2N2MiIHN0cm9rZT0iIzJmYjY3YyIgZD0iTTEzMy4zMzQgNzAuMzcxaC0xNC44MTVWNTUuNTU2YzAtOC4yMDcgNi42MDctMTQuODE1IDE0LjgxNS0xNC44MTVzMTQuODE1IDYuNjA3IDE0LjgxNSAxNC44MTUtNi42MDcgMTQuODE1LTE0LjgxNSAxNC44MTV6Ii8+PHBhdGggZmlsbD0iI2UwMWU1YSIgc3Ryb2tlPSIjZTAxZTVhIiBkPSJNMTQuODE1IDc3Ljc3OEgyOS42M3YxNC44MTVjMCA4LjIwNy02LjYwNyAxNC44MTUtMTQuODE1IDE0LjgxNVMwIDEwMC44IDAgOTIuNTkzczYuNjA3LTE0LjgxNSAxNC44MTUtMTQuODE1eiIvPjxwYXRoIGZpbGw9IiMzNmM1ZjEiIHN0cm9rZT0iIzM2YzVmMSIgZD0iTTcwLjM3MSAxNC44MTVWMjkuNjNINTUuNTU2Yy04LjIwNyAwLTE0LjgxNS02LjYwNy0xNC44MTUtMTQuODE1UzQ3LjM0OCAwIDU1LjU1NiAwczE0LjgxNSA2LjYwNyAxNC44MTUgMTQuODE1eiIvPjwvZz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Slack",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 356,
      "icon": "file:gmail.svg",
      "name": "n8n-nodes-base.gmail",
      "codex": {
        "data": {
          "alias": [
            "email",
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                "icon": "💪",
                "label": "Using Automation to Boost Productivity in the Workplace"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Gmail"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMTkzIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCI+PHBhdGggZmlsbD0iIzQyODVGNCIgZD0iTTU4LjE4MiAxOTIuMDVWOTMuMTRMMjcuNTA3IDY1LjA3NyAwIDQ5LjUwNHYxMjUuMDkxYzAgOS42NTggNy44MjUgMTcuNDU1IDE3LjQ1NSAxNy40NTV6Ii8+PHBhdGggZmlsbD0iIzM0QTg1MyIgZD0iTTE5Ny44MTggMTkyLjA1aDQwLjcyN2M5LjY1OSAwIDE3LjQ1NS03LjgyNiAxNy40NTUtMTcuNDU1VjQ5LjUwNWwtMzEuMTU2IDE3LjgzNy0yNy4wMjYgMjUuNzk4eiIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im01OC4xODIgOTMuMTQtNC4xNzQtMzguNjQ3IDQuMTc0LTM2Ljk4OUwxMjggNjkuODY4bDY5LjgxOC01Mi4zNjQgNC42NyAzNC45OTItNC42NyA0MC42NDRMMTI4IDE0NS41MDR6Ii8+PHBhdGggZmlsbD0iI0ZCQkMwNCIgZD0iTTE5Ny44MTggMTcuNTA0VjkzLjE0TDI1NiA0OS41MDRWMjYuMjMxYzAtMjEuNTg1LTI0LjY0LTMzLjg5LTQxLjg5LTIwLjk0NXoiLz48cGF0aCBmaWxsPSIjQzUyMjFGIiBkPSJtMCA0OS41MDQgMjYuNzU5IDIwLjA3TDU4LjE4MiA5My4xNFYxNy41MDRMNDEuODkgNS4yODZDMjQuNjEtNy42NiAwIDQuNjQ2IDAgMjYuMjN6Ii8+PC9zdmc+"
      },
      "displayName": "Gmail",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 839,
      "icon": "fa:clock",
      "name": "n8n-nodes-base.scheduleTrigger",
      "codex": {
        "data": {
          "alias": [
            "Time",
            "Scheduler",
            "Polling",
            "Cron",
            "Interval"
          ],
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\",\"schedule\"]",
      "defaults": {
        "name": "Déclencheur de planification",
        "color": "#31C49F"
      },
      "iconData": {
        "icon": "clock",
        "type": "icon"
      },
      "displayName": "Schedule Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 17,
      "name": "RH"
    },
    {
      "id": 51,
      "name": "IA multimodale"
    }
  ],
  "image": []
}