automation/i18n/fr-FR/Automate Newsletter Creation & Client Delivery with GPT-4O, Google Sheets.json
{
  "id": 5694,
  "name": "Automatiser la création de newsletters et la livraison aux clients avec GPT-4O, Google Sheets",
  "views": 3136,
  "recentViews": 9,
  "totalViews": 3136,
  "createdAt": "2025-07-05T10:36:50.555Z",
  "description": "## Comment ça fonctionne\n\nCe flux de travail automatise l'ensemble du **processus de gestion des newsletters** de la création de contenu à la livraison aux clients, en utilisant **Google Sheets**, **génération de contenu par IA**, **Google Drive** et **Gmail**.\n\nQue vous soyez un créateur de contenu, une agence de marketing ou un propriétaire de petite entreprise, ce flux de travail vous aide à **automatiser la création de newsletters** et à **gérer les communications avec les clients** grâce à des flux de travail d'approbation intégrés — tous déclenchés à partir d'une simple feuille de calcul.\n\n## 🎯 Cas d'utilisation\n\nIdéal pour :\n- **Équipes marketing** rationalisant la distribution de newsletters\n- **Agences** gérant plusieurs newsletters de clients  \n- **Créateurs de contenu** automatisant les communications régulières\n- **Petites entreprises** maintenant l'engagement des clients\n\n## Instructions de configuration\n\n### 1. Téléchargez la feuille de calcul\n\n- Nom du fichier : `Gestion_Newsletter`\n- Structure de la feuille :\n  | ID | Sujet | Nom du client | Email du client | Statut | Date de création | Date d'envoi |\n- Ajoutez des sujets de newsletter et définissez leur `Statut` comme `En attente`\n\n### 2. Configurez les nœuds Google Sheets\n\nConnectez votre **compte Google** à :\n- `Obtenir le sujet de la feuille de newsletter`\n- `Sélectionner les enregistrements à envoyer par email au client`\n- `Obtenir l'adresse email du client`\n- `Mettre à jour le statut en Généré`\n- `Mettre à jour le statut en Envoyé`\n\n### 3. Ajoutez des identifiants API\n\n- **Clé API OpenAI** → pour la génération de contenu par IA\n- **Accès Google Drive** → pour le stockage de documents\n- **Compte Gmail** → pour l'envoi de newsletters et de notifications\n\n### 4. Activez le flux de travail\n\nUne fois en ligne, le flux de travail :\n1. **Chemin manuel** : Générer le contenu de la newsletter à partir des sujets en attente\n2. **Chemin programmé** : Envoyer automatiquement les newsletters approuvées aux clients\n3. Suivre les mises à jour de statut tout au long du processus\n4. Stocker le contenu généré dans Google Drive\n5. Envoyer des notifications administratives et des emails aux clients\n\n## 🔁 Logique du flux de travail\n\n### Flux de travail principal (Génération de contenu)\n1. **Déclencheur** : Activation manuelle pour la création de newsletters\n2. **Récupérer** : Sujets en attente depuis Google Sheets\n3. **Valider** : Confirmation de statut (En attente uniquement)\n4. **Générer** : Contenu de newsletter HTML alimenté par IA\n5. **Stocker** : Télécharger sur Google Drive\n6. **Notifier** : Envoyer un email de confirmation à l'administrateur\n7. **Mettre à jour** : Marquer le statut comme \"Généré\"\n\n### Flux de travail programmé (Distribution aux clients)\n1. **Déclencheur** : Activation basée sur un calendrier\n2. **Récupérer** : Newsletters approuvées depuis Google Sheets\n3. **Valider** : Confirmation de statut (Approuvé uniquement)\n4. **Rechercher** : Adresses email des clients\n5. **Boucle** : Traiter plusieurs destinataires\n6. **Envoyer** : Newsletters personnalisées via Gmail\n7. **Mettre à jour** : Marquer le statut comme \"Envoyé\"\n\n## 🧩 Descriptions des nœuds\n\n| Nom du nœud | Description |\n|-------------|-------------|\n| Lorsque vous cliquez sur 'Tester le flux de travail' | Déclencheur manuel pour commencer la génération de newsletters |\n| Obtenir le sujet de la feuille de newsletter | Récupère les sujets de newsletter en attente depuis Google Sheets |\n| Valider le statut comme En attente | Vérifie si le statut est 'En attente' pour le traitement |\n| Créer HTML pour la newsletter | Génération de contenu alimentée par IA utilisant OpenAI |\n| Préparer les données pour créer un document Word | Formate le contenu généré pour la création de documents |\n| Télécharger le document sur Google Drive | Stocke les newsletters complètes dans Google Drive |\n| Envoyer un email à l'administrateur | Notifie les administrateurs de l'achèvement |\n| Mettre à jour le statut en Généré | Marque les éléments traités comme 'Générés' |\n| Déclencheur programmé | Déclencheur automatisé pour la distribution des emails aux clients |\n| Sélectionner les enregistrements à envoyer par email au client | Récupère les newsletters approuvées pour l'envoi |\n| Valider le statut comme Approuvé | S'assure que seul le contenu approuvé est traité |\n| Obtenir l'adresse email du client | Récupère les informations de contact du client |\n| Boucle sur les éléments | Traite plusieurs destinataires de newsletters |\n| Envoyer un email au client | Livrer des newsletters personnalisées via Gmail |\n| Mettre à jour le statut comme Envoyé | Marque les newsletters comme livrées avec succès |\n\n## 🛠️ Conseils de personnalisation\n\n- Modifiez les invites IA pour différents styles et tons de contenu\n- Ajoutez des notifications Slack au lieu de ou en plus de Gmail\n- Exportez dans différents formats (PDF, Word, etc.)\n- Planifiez plusieurs heures d'envoi pour différents segments de clients\n- Ajoutez des flux de travail d'approbation avec des déclencheurs webhook\n- Intégrez avec des systèmes CRM pour la gestion des clients\n\n## 📒 Notes autocollantes suggérées pour le flux de travail\n\n| Nœud/Section | Contenu de la note autocollante |\n|---------------|-------------------------------|\n| Déclencheur manuel | \"Cliquez pour commencer le processus de génération de newsletters\" |\n| Génération de contenu IA | \"Personnalisez les invites ici pour différents styles de newsletters\" |\n| Téléchargement sur Google Drive | \"Stockage organisé - changez la structure des dossiers si nécessaire\" |\n| Notification par email à l'administrateur | \"Mettez à jour les adresses email des administrateurs et les modèles de notification\" |\n| Déclencheur programmé | \"Définissez les heures d'envoi optimales pour votre audience\" |\n| Boucle d'email client | \"Gère l'envoi en masse - surveille les erreurs de livraison\" |\n| Mises à jour de statut | \"Maintient une trace d'audit - empêche le traitement en double\" |\n\n## 📎 Fichiers requis\n\n| Nom du fichier | Objectif |\n|----------------|---------|\n| Newsletter_Gestion.xlsx | Feuille Google pour gérer les sujets, les clients et le suivi des statuts |\n| Client_Base_de_données.xlsx | Informations de contact des clients et préférences |\n| Newsletter_Flux_de_travail.json | Export principal du flux de travail n8n pour cette automatisation |\n\n\n## 🧪 Conseils de test\n\n- Ajoutez un sujet de test avec statut = `En attente` et exécutez le déclencheur manuel\n- Vérifiez que la génération de contenu IA produit un HTML de qualité\n- Vérifiez le téléchargement sur Google Drive et l'organisation des dossiers\n- Testez la livraison des emails administratifs et le formatage\n- Ajoutez un client de test avec un email valide pour le flux de travail programmé\n- Surveillez les journaux de flux de travail pour les réponses API et les erreurs\n- Confirmez que les mises à jour de statut se produisent à chaque étape\n\n## 🏷 Tags et catégories suggérés\n\n- #Newsletter\n- #EmailMarketing\n- #GénérationDeContenu\n- #CommunicationClient\n- #Automatisation\n- #GoogleWorkspace\n- #ContenuIA\n- #AutomatisationMarketing\n- #GestionDeFluxDeTravail\n- #ProcessusCommercial\n\n## 🔧 Prérequis\n\n- Compte Google Workspace (Sheets, Drive, Gmail)\n- Compte OpenAI avec accès à GPT-4\n- Instance n8n (Cloud ou auto-hébergée)\n- Compréhension de base de Google Sheets et du marketing par email\n\n## 📊 Performance attendue\n\n- **Temps de configuration** : 30-45 minutes\n- **Exécutions mensuelles** : 100-500 (varie selon la fréquence des newsletters)\n- **Temps de traitement** : 2-5 minutes par newsletter\n- **Scalabilité** : Gère efficacement 100+ clients\n\n## 🚨 Notes importantes\n\n- Assurez-vous que les autorisations API Google appropriées sont configurées\n- Surveillez l'utilisation de l'API OpenAI et les limites de taux\n- Configurez la gestion des erreurs pour les échecs de livraison d'emails\n- Sauvegardez régulièrement vos données Google Sheets\n- Testez soigneusement avant le déploiement en production\n\n## 💡 Fonctionnalités avancées\n\n- **Flux de travail d'approbation** : Ajoutez des étapes d'approbation manuelles entre la génération et l'envoi\n- **Tests A/B** : Créez plusieurs versions et suivez les performances\n- **Intégration d'analytique** : Connectez-vous à Google Analytics pour le suivi\n- **Support multilingue** : Générez du contenu dans différentes langues\n- **Personnalisation dynamique** : Utilisez les données des clients pour un contenu personnalisé",
  "workflow": {
    "id": "TEMPLATE_WORKFLOW_ID",
    "meta": {
      "instanceId": "TEMPLATE_INSTANCE_ID",
      "templateCredsSetupCompleted": false
    },
    "name": "Newsletter",
    "tags": [],
    "nodes": [
      {
        "id": "88924d6c-0524-45c6-8982-b43bc79951c6",
        "name": "When clicking 'Test workflow'",
        "type": "n8n-nodes-base.manualTrigger",
        "notes": "🚀 START HERE: Click to generate newsletters from pending topics in your Google Sheet",
        "position": [
          -40,
          -180
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "d386375c-ecac-4335-a29a-cd39d9233f07",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "notes": "⏰ AUTOMATED: Runs daily to send approved newsletters to clients. Configure timing in settings.",
        "position": [
          -40,
          230
        ],
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "ca49af2b-0d7f-4aa1-b63c-dc828bfeb7d6",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "notes": "🔄 BATCH PROCESSING: Handles multiple client emails efficiently. Prevents rate limiting and ensures reliable delivery.",
        "position": [
          840,
          230
        ],
        "parameters": {
          "options": {}
        },
        "typeVersion": 3
      },
      {
        "id": "2208eb0e-a0aa-4082-905b-166fa521b75a",
        "name": "Get topic from newsletter sheet",
        "type": "n8n-nodes-base.googleSheets",
        "notes": "📊 FETCH TOPICS: Gets all pending newsletter topics from your Google Sheet. Only processes items with 'Pending' status.",
        "position": [
          180,
          -180
        ],
        "parameters": {
          "options": {},
          "filtersUI": {
            "values": [
              {
                "lookupValue": "Pending",
                "lookupColumn": "Status"
              }
            ]
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0",
            "cachedResultName": "Topic"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "YOUR_GOOGLE_SHEET_ID_HERE",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk",
            "cachedResultName": "Newsletter"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets Account"
          }
        },
        "typeVersion": 4.5,
        "alwaysOutputData": true
      },
      {
        "id": "2b47d026-a70e-40d5-a2c4-4f07551f0eef",
        "name": "Validate Status as Pending",
        "type": "n8n-nodes-base.if",
        "notes": "✅ DATE FILTER: Only processes newsletters scheduled for today. Prevents processing old or future-dated items.",
        "position": [
          400,
          -180
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "2d883784-6213-45b4-944f-55c0ffcc19b6",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.Date }}",
                "rightValue": "={{ new Date().toLocaleDateString('en-US') }}"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "448be138-181b-4bda-95dd-66d632635256",
        "name": "Create HTML for Newsletter",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "notes": "🤖 AI MAGIC: Uses GPT-4O to create professional HTML newsletter content. Customize the prompt here for different styles and tones.",
        "position": [
          620,
          -180
        ],
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o",
            "cachedResultName": "GPT-4O"
          },
          "options": {},
          "messages": {
            "values": [
              {
                "content": "=Create an HTML newsletter on the topic:{{ $json.Topic }}. \n Include these hook sentences:{{ $json.hooks }} . \n Structure with a header, body paragraphs, and footer\n"
              }
            ]
          }
        },
        "credentials": {
          "openAiApi": {
            "id": "OPENAI_CREDENTIAL_ID",
            "name": "OpenAI Account"
          }
        },
        "typeVersion": 1.8
      },
      {
        "id": "f552d84a-9d14-4cb1-89d7-d99bc9784a5e",
        "name": "Prepare Data to create word doc",
        "type": "n8n-nodes-base.code",
        "notes": "🔧 FORMAT PREP: Converts AI-generated HTML into proper file format for Google Drive upload. Auto-generates timestamped filename.",
        "position": [
          996,
          -180
        ],
        "parameters": {
          "jsCode": "// Get HTML content from current input\nconst htmlContent = $input.first().json.message.content;\n\n// Generate filename with current date\nconst currentDate = new Date().toISOString().split('T')[0];\nconst filename = `document_${currentDate}.html`;\n\n// Convert string to binary buffer\nconst buffer = Buffer.from(htmlContent, 'utf8');\n\nreturn [{\n  json: {\n    fileName: filename,\n    mimeType: 'text/html'\n  },\n  binary: {\n    data: buffer\n  }\n}];"
        },
        "typeVersion": 2
      },
      {
        "id": "f2421bc4-2045-46c9-beab-ff5459b4a17c",
        "name": "Upload doc to google drive",
        "type": "n8n-nodes-base.googleDrive",
        "notes": "💾 CLOUD STORAGE: Saves the newsletter to your Google Drive 'Newsletter' folder. Creates shareable link for easy access.",
        "position": [
          1216,
          -180
        ],
        "parameters": {
          "name": "=newsletter-{{ $('Get topic from newsletter sheet').item.json.Date }}.html",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive",
            "cachedResultName": "My Drive"
          },
          "options": {},
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
            "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID",
            "cachedResultName": "Newsletter"
          },
          "inputDataFieldName": "=data"
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "GOOGLE_DRIVE_CREDENTIAL_ID",
            "name": "Google Drive Account"
          }
        },
        "typeVersion": 3
      },
      {
        "id": "6b39c176-25cf-4b47-a25c-8b886f0709ba",
        "name": "Send an email to admin",
        "type": "n8n-nodes-base.gmail",
        "notes": "📧 ADMIN ALERT: Notifies you when newsletter is ready for review. Update email address to yours. Includes Google Drive link.",
        "position": [
          1436,
          -180
        ],
        "webhookId": "WEBHOOK_ID_PLACEHOLDER",
        "parameters": {
          "sendTo": "admin@yourcompany.com",
          "message": "=Review the attached newsletter  {{ $json.webViewLink }}",
          "options": {},
          "subject": "=Newsletter Preview for {{ $('Get topic from newsletter sheet').item.json.Date }} and HTML body attached",
          "emailType": "text"
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "GMAIL_ADMIN_CREDENTIAL_ID",
            "name": "Gmail Admin Account"
          }
        },
        "typeVersion": 2.1
      },
      {
        "id": "8e7c42de-3fd8-4acc-afdb-83491674bf7b",
        "name": "Update Status as Generated",
        "type": "n8n-nodes-base.googleSheets",
        "notes": "📝 TRACKING UPDATE: Marks newsletter as 'Generated' in Google Sheet. Adds timestamp and document URL for audit trail.",
        "position": [
          1656,
          -180
        ],
        "parameters": {
          "columns": {
            "value": {
              "Date": "={{ $('Get topic from newsletter sheet').item.json.Date }}",
              "Status": "Generated",
              "Timestamp": "={{ $('Upload doc to google drive').item.json.createdTime }}",
              "Document URL": "={{ $('Upload doc to google drive').item.json.webViewLink }}"
            },
            "schema": [
              {
                "id": "Date",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Date",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Topic",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "Topic",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "hooks",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "hooks",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Status",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Timestamp",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Timestamp",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Document URL",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Document URL",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "type": "string",
                "display": true,
                "removed": true,
                "readOnly": true,
                "required": false,
                "displayName": "row_number",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "Date"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "update",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0",
            "cachedResultName": "Topic"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "YOUR_GOOGLE_SHEET_ID_HERE",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk",
            "cachedResultName": "Newsletter"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets Account"
          }
        },
        "typeVersion": 4.5
      },
      {
        "id": "0f6f5d15-dbd9-415b-923d-81809708542d",
        "name": "Validate Status as Approved",
        "type": "n8n-nodes-base.if",
        "notes": "✅ APPROVAL CHECK: Only sends newsletters with 'Approved' status. Prevents accidental sending of unreviewed content.",
        "position": [
          400,
          230
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "b3730359-d11f-4a9c-aa5f-f4dcc1f0702e",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.Status }}",
                "rightValue": "Approved"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "f03eed28-1c06-401e-8c4b-ba5b5891b048",
        "name": "Pick records to send email to client",
        "type": "n8n-nodes-base.googleSheets",
        "notes": "📬 CLIENT QUEUE: Fetches all newsletter records ready for client delivery. Runs on schedule to automate sending.",
        "position": [
          180,
          230
        ],
        "parameters": {
          "options": {},
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0",
            "cachedResultName": "Topic"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "YOUR_GOOGLE_SHEET_ID_HERE",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk",
            "cachedResultName": "Newsletter"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets Account"
          }
        },
        "typeVersion": 4.5
      },
      {
        "id": "23ae0b93-f121-493b-a0d1-80fc748137a2",
        "name": "Get Client email address",
        "type": "n8n-nodes-base.googleSheets",
        "notes": "👥 CLIENT LOOKUP: Gets email addresses from the 'Email' sheet. Maintains separate client database for easy management.",
        "position": [
          620,
          230
        ],
        "parameters": {
          "options": {},
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "YOUR_EMAIL_SHEET_GID",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=YOUR_EMAIL_SHEET_GID",
            "cachedResultName": "Email"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "YOUR_GOOGLE_SHEET_ID_HERE",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk",
            "cachedResultName": "Newsletter"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets Account"
          }
        },
        "typeVersion": 4.5
      },
      {
        "id": "4281a45c-5af5-4311-bca6-aaee14152afc",
        "name": "Send email to client",
        "type": "n8n-nodes-base.gmail",
        "notes": "📤 CLIENT DELIVERY: Sends newsletter to individual clients via Gmail. Customize subject line and message template here.",
        "position": [
          1060,
          280
        ],
        "webhookId": "CLIENT_WEBHOOK_ID_PLACEHOLDER",
        "parameters": {
          "sendTo": "={{ $json.Email }}",
          "message": "=Attached is the newsletter  {{ $('Pick records to send email to client').item.json['Document URL'] }}",
          "options": {},
          "subject": "Newsletter",
          "emailType": "text"
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "GMAIL_CLIENT_CREDENTIAL_ID",
            "name": "Gmail Client Account"
          }
        },
        "typeVersion": 2.1
      },
      {
        "id": "c2634a85-88f6-49b5-bd14-6e03336a49f2",
        "name": "Update status as Sent",
        "type": "n8n-nodes-base.googleSheets",
        "notes": "✅ COMPLETION TRACKING: Marks newsletter as 'Sent' to prevent duplicate deliveries. Maintains complete audit trail.",
        "position": [
          1060,
          80
        ],
        "parameters": {
          "columns": {
            "value": {
              "Date": "={{ $('Pick records to send email to client').item.json.Date }}",
              "Status": "Sent"
            },
            "schema": [
              {
                "id": "Date",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Date",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Topic",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "Topic",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "hooks",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "hooks",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Status",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Timestamp",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "Timestamp",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Document URL",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "Document URL",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "type": "string",
                "display": true,
                "removed": true,
                "readOnly": true,
                "required": false,
                "displayName": "row_number",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "Date"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "update",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0",
            "cachedResultName": "Topic"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "YOUR_GOOGLE_SHEET_ID_HERE",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk",
            "cachedResultName": "Newsletter"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets Account"
          }
        },
        "typeVersion": 4.5
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "TEMPLATE_VERSION_ID",
    "connections": {
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Update status as Sent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send email to client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Pick records to send email to client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send email to client": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send an email to admin": {
        "main": [
          [
            {
              "node": "Update Status as Generated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Client email address": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create HTML for Newsletter": {
        "main": [
          [
            {
              "node": "Prepare Data to create word doc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload doc to google drive": {
        "main": [
          [
            {
              "node": "Send an email to admin",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Status as Pending": {
        "main": [
          [
            {
              "node": "Create HTML for Newsletter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Status as Approved": {
        "main": [
          [
            {
              "node": "Get Client email address",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking 'Test workflow'": {
        "main": [
          [
            {
              "node": "Get topic from newsletter sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get topic from newsletter sheet": {
        "main": [
          [
            {
              "node": "Validate Status as Pending",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Data to create word doc": {
        "main": [
          [
            {
              "node": "Upload doc to google drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick records to send email to client": {
        "main": [
          [
            {
              "node": "Validate Status as Approved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 15,
    "nodeTypes": {
      "n8n-nodes-base.if": {
        "count": 2
      },
      "n8n-nodes-base.code": {
        "count": 1
      },
      "n8n-nodes-base.gmail": {
        "count": 2
      },
      "n8n-nodes-base.googleDrive": {
        "count": 1
      },
      "n8n-nodes-base.googleSheets": {
        "count": 5
      },
      "n8n-nodes-base.manualTrigger": {
        "count": 1
      },
      "n8n-nodes-base.splitInBatches": {
        "count": 1
      },
      "n8n-nodes-base.scheduleTrigger": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.openAi": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Amit Mehta",
    "username": "amitswba",
    "bio": "I'm a workflow automation expert with 15+ years in IT industry. I build smart, scalable n8n workflows for AI automation, marketing, CRM, and SaaS integrations. My focus is on simplifying business processes with tools like OpenAI, WhatsApp, Gmail, and Airtable. I help teams and solopreneurs automate smarter, reduce manual tasks, and grow faster—one workflow at a time.",
    "verified": true,
    "links": [
      ""
    ],
    "avatar": "https://gravatar.com/avatar/c3baa00d9fcacd0553252e41631479f7c16aa442aff264c27888c3f4ad137a77?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 18,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheets",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Sheet",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                "icon": "❤️",
                "label": "Love at first sight: Ricardo’s n8n journey"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                "icon": "⏲",
                "label": "Creating triggers for n8n workflows using polling"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                "icon": "🍔",
                "label": "How Honest Burgers Use Automation to Save $100k per year"
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\",\"output\"]",
      "defaults": {
        "name": "Google Sheets"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets",
      "typeVersion": 5,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 20,
      "icon": "fa:map-signs",
      "name": "n8n-nodes-base.if",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                "icon": "🏷️",
                "label": "How to automatically manage contributions to open-source projects"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Si",
        "color": "#408000"
      },
      "iconData": {
        "icon": "map-signs",
        "type": "icon"
      },
      "displayName": "If",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 39,
      "icon": "fa:sync",
      "name": "n8n-nodes-base.splitInBatches",
      "codex": {
        "data": {
          "alias": [
            "Loop",
            "Concatenate",
            "Batch",
            "Split",
            "Split In Batches"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"organization\"]",
      "defaults": {
        "name": "Boucle sur les éléments",
        "color": "#007755"
      },
      "iconData": {
        "icon": "sync",
        "type": "icon"
      },
      "displayName": "Loop Over Items (Split in Batches)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 58,
      "icon": "file:googleDrive.svg",
      "name": "n8n-nodes-base.googleDrive",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledrive/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Google Drive"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgODEgNzMiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzAwNjZkYSIgZD0ibTYuMDQ4IDYxLjI2IDMuNTI4IDYuMDk0Yy43MzMgMS4yODMgMS43ODcgMi4yOTEgMy4wMjQgMy4wMjRsMTIuNi0yMS44MUgwYTguMyA4LjMgMCAwIDAgMS4xIDQuMTI0eiIvPjxwYXRoIGZpbGw9IiMwMGFjNDciIGQ9Ik00MCAyMi45MSAyNy40IDEuMWMtMS4yMzcuNzMzLTIuMjkxIDEuNzQxLTMuMDI0IDMuMDI0TDEuMSA0NC40NDVBOC4zIDguMyAwIDAgMCAwIDQ4LjU2OGgyNS4yeiIvPjxwYXRoIGZpbGw9IiNlYTQzMzUiIGQ9Ik02Ny40IDcwLjM3OGMxLjIzNy0uNzMzIDIuMjkxLTEuNzQxIDMuMDI0LTMuMDI0bDEuNDY2LTIuNTIgNy4wMS0xMi4xNDJhOC4zIDguMyAwIDAgMCAxLjEtNC4xMjRINTQuNzk4bDUuMzYzIDEwLjUzOHoiLz48cGF0aCBmaWxsPSIjMDA4MzJkIiBkPSJNNDAgMjIuOTEgNTIuNiAxLjFDNTEuMzYzLjM2NyA0OS45NDMgMCA0OC40NzcgMEgzMS41MjRjLTEuNDY2IDAtMi44ODcuNDEyLTQuMTI0IDEuMXoiLz48cGF0aCBmaWxsPSIjMjY4NGZjIiBkPSJNNTQuNzk5IDQ4LjU2OEgyNS4ybC0xMi42IDIxLjgxYzEuMjM3LjczMyAyLjY1NyAxLjEgNC4xMjQgMS4xaDQ2LjU1MmMxLjQ2NiAwIDIuODg3LS40MTIgNC4xMjQtMS4xeiIvPjxwYXRoIGZpbGw9IiNmZmJhMDAiIGQ9Ik02Ny4yNjIgMjQuMjg0IDU1LjYyNCA0LjEyNEM1NC44OTEgMi44NDEgNTMuODM3IDEuODMzIDUyLjYgMS4xTDQwIDIyLjkxbDE0LjggMjUuNjU5aDI1LjE1NWE4LjMgOC4zIDAgMCAwLTEuMS00LjEyNHoiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Google Drive",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        }
      ]
    },
    {
      "id": 356,
      "icon": "file:gmail.svg",
      "name": "n8n-nodes-base.gmail",
      "codex": {
        "data": {
          "alias": [
            "email",
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                "icon": "💪",
                "label": "Using Automation to Boost Productivity in the Workplace"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Gmail"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMTkzIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCI+PHBhdGggZmlsbD0iIzQyODVGNCIgZD0iTTU4LjE4MiAxOTIuMDVWOTMuMTRMMjcuNTA3IDY1LjA3NyAwIDQ5LjUwNHYxMjUuMDkxYzAgOS42NTggNy44MjUgMTcuNDU1IDE3LjQ1NSAxNy40NTV6Ii8+PHBhdGggZmlsbD0iIzM0QTg1MyIgZD0iTTE5Ny44MTggMTkyLjA1aDQwLjcyN2M5LjY1OSAwIDE3LjQ1NS03LjgyNiAxNy40NTUtMTcuNDU1VjQ5LjUwNWwtMzEuMTU2IDE3LjgzNy0yNy4wMjYgMjUuNzk4eiIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im01OC4xODIgOTMuMTQtNC4xNzQtMzguNjQ3IDQuMTc0LTM2Ljk4OUwxMjggNjkuODY4bDY5LjgxOC01Mi4zNjQgNC42NyAzNC45OTItNC42NyA0MC42NDRMMTI4IDE0NS41MDR6Ii8+PHBhdGggZmlsbD0iI0ZCQkMwNCIgZD0iTTE5Ny44MTggMTcuNTA0VjkzLjE0TDI1NiA0OS41MDRWMjYuMjMxYzAtMjEuNTg1LTI0LjY0LTMzLjg5LTQxLjg5LTIwLjk0NXoiLz48cGF0aCBmaWxsPSIjQzUyMjFGIiBkPSJtMCA0OS41MDQgMjYuNzU5IDIwLjA3TDU4LjE4MiA5My4xNFYxNy41MDRMNDEuODkgNS4yODZDMjQuNjEtNy42NiAwIDQuNjQ2IDAgMjYuMjN6Ii8+PC9zdmc+"
      },
      "displayName": "Gmail",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 834,
      "icon": "file:code.svg",
      "name": "n8n-nodes-base.code",
      "codex": {
        "data": {
          "alias": [
            "cpde",
            "Javascript",
            "JS",
            "Python",
            "Script",
            "Custom Code",
            "Function"
          ],
          "details": "The Code node allows you to execute JavaScript in your workflow.",
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Code"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Code",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 838,
      "icon": "fa:mouse-pointer",
      "name": "n8n-nodes-base.manualTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lorsque vous cliquez sur ‘Exécuter le flux de travail’",
        "color": "#909298"
      },
      "iconData": {
        "icon": "mouse-pointer",
        "type": "icon"
      },
      "displayName": "Manual Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 839,
      "icon": "fa:clock",
      "name": "n8n-nodes-base.scheduleTrigger",
      "codex": {
        "data": {
          "alias": [
            "Time",
            "Scheduler",
            "Polling",
            "Cron",
            "Interval"
          ],
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\",\"schedule\"]",
      "defaults": {
        "name": "Déclencheur programmé",
        "color": "#31C49F"
      },
      "iconData": {
        "icon": "clock",
        "type": "icon"
      },
      "displayName": "Schedule Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1250,
      "icon": "file:openAi.svg",
      "name": "@n8n/n8n-nodes-langchain.openAi",
      "codex": {
        "data": {
          "alias": [
            "LangChain",
            "ChatGPT",
            "DallE",
            "whisper",
            "audio",
            "transcribe",
            "tts",
            "assistant"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-langchain.openai/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Agents",
              "Miscellaneous",
              "Root Nodes"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "OpenAI"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM2Ljg2NzEgMTYuMzcxOEMzNy43NzQ2IDEzLjY0OCAzNy40NjIxIDEwLjY2NDIgMzYuMDEwOCA4LjE4NjYxQzMzLjgyODIgNC4zODY1MyAyOS40NDA3IDIuNDMxNDkgMjUuMTU1NiAzLjM1MTUxQzIzLjI0OTMgMS4yMDM5NiAyMC41MTA1IC0wLjAxNzMxNDggMTcuNjM5MiAwLjAwMDE4NTUzM0MxMy4yNTkxIC0wLjAwOTgxNDY4IDkuMzcyNzMgMi44MTAyNSA4LjAyNTIgNi45Nzc4M0M1LjIxMTM5IDcuNTU0MSAyLjc4MjU4IDkuMzE1MzggMS4zNjEzIDExLjgxMTdDLTAuODM3NDkzIDE1LjYwMTggLTAuMzM2MjMyIDIwLjM3OTQgMi42MDEzMyAyMy42Mjk0QzEuNjkzODEgMjYuMzUzMiAyLjAwNjMyIDI5LjMzNzEgMy40NTc2IDMxLjgxNDZDNS42NDAxNSAzNS42MTQ3IDEwLjAyNzcgMzcuNTY5NyAxNC4zMTI4IDM2LjY0OTdDMTYuMjE3OSAzOC43OTczIDE4Ljk1NzkgNDAuMDE4NSAyMS44MjkyIDM5Ljk5OThDMjYuMjExOCA0MC4wMTEgMzAuMDk5NCAzNy4xODg1IDMxLjQ0NjkgMzMuMDE3MUMzNC4yNjA4IDMyLjQ0MDkgMzYuNjg5NiAzMC42Nzk2IDM4LjExMDggMjguMTgzM0M0MC4zMDcxIDI0LjM5MzIgMzkuODA0NiAxOS42MTk0IDM2Ljg2ODMgMTYuMzY5M0wzNi44NjcxIDE2LjM3MThaTTIxLjgzMTcgMzcuMzg2QzIwLjA3OCAzNy4zODg1IDE4LjM3OTIgMzYuNzc0NyAxNy4wMzI5IDM1LjY1MDlDMTcuMDk0MSAzNS42MTg1IDE3LjIwMDQgMzUuNTU5NyAxNy4yNjkxIDM1LjUxNzJMMjUuMjM0MyAzMC45MTcxQzI1LjY0MTggMzAuNjg1OCAyNS44OTE4IDMwLjI1MjEgMjUuODg5MyAyOS43ODMzVjE4LjU1NDNMMjkuMjU1NiAyMC40OTgxQzI5LjI5MTkgMjAuNTE1NiAyOS4zMTU3IDIwLjU1MDYgMjkuMzIwNyAyMC41OTA2VjI5Ljg4OTZDMjkuMzE1NyAzNC4wMjQ3IDI1Ljk2NjggMzcuMzc3MiAyMS44MzE3IDM3LjM4NlpNNS43MjY0IDMwLjUwNzFDNC44NDc2MyAyOC45ODk2IDQuNTMxMzcgMjcuMjEwOCA0LjgzMjYzIDI1LjQ4NDVDNC44OTEzOCAyNS41MTk1IDQuOTk1MTMgMjUuNTgzMiA1LjA2ODg4IDI1LjYyNTdMMTMuMDM0MSAzMC4yMjU4QzEzLjQzNzggMzAuNDYyMSAxMy45Mzc4IDMwLjQ2MjEgMTQuMzQyOCAzMC4yMjU4TDI0LjA2NjggMjQuNjEwN1YyOC40OTgzQzI0LjA2OTMgMjguNTM4MyAyNC4wNTA1IDI4LjU3NyAyNC4wMTkzIDI4LjYwMkwxNS45Njc5IDMzLjI1MDlDMTIuMzgxNSAzNS4zMTU5IDcuODAxNDQgMzQuMDg4NCA1LjcyNzY1IDMwLjUwNzFINS43MjY0Wk0zLjYzMDEgMTMuMTIwNUM0LjUwNTEyIDExLjYwMDQgNS44ODY0IDEwLjQzNzkgNy41MzE0NCA5LjgzNDE1QzcuNTMxNDQgOS45MDI5IDcuNTI3NjkgMTAuMDI0MSA3LjUyNzY5IDEwLjEwOTJWMTkuMzEwNkM3LjUyNTE5IDE5Ljc3ODEgNy43NzUxOSAyMC4yMTE5IDguMTgxNDUgMjAuNDQzMUwxNy45MDU0IDI2LjA1N0wxNC41MzkxIDI4LjAwMDhDMTQuNTA1MyAyOC4wMjMzIDE0LjQ2MjggMjguMDI3IDE0LjQyNTMgMjguMDEwOEw2LjM3MjY2IDIzLjM1ODJDMi43OTM4MyAyMS4yODU2IDEuNTY2MzEgMTYuNzA2OCAzLjYyODg1IDEzLjEyMTdMMy42MzAxIDEzLjEyMDVaTTMxLjI4ODIgMTkuNTU2OUwyMS41NjQyIDEzLjk0MTdMMjQuOTMwNiAxMS45OTkyQzI0Ljk2NDMgMTEuOTc2NyAyNS4wMDY4IDExLjk3MjkgMjUuMDQ0MyAxMS45ODkyTDMzLjA5NyAxNi42MzhDMzYuNjgyMSAxOC43MDkzIDM3LjkxMDggMjMuMjk1NyAzNS44Mzk1IDI2Ljg4MDhDMzQuOTYzMyAyOC4zOTgzIDMzLjU4MzIgMjkuNTYwOCAzMS45Mzk1IDMwLjE2NThWMjAuNjg5NEMzMS45NDMyIDIwLjIyMTkgMzEuNjk0NSAxOS43ODk0IDMxLjI4OTQgMTkuNTU2OUgzMS4yODgyWk0zNC42MzgzIDE0LjUxNDJDMzQuNTc5NSAxNC40NzggMzQuNDc1OCAxNC40MTU1IDM0LjQwMiAxNC4zNzNMMjYuNDM2OCA5Ljc3Mjg5QzI2LjAzMzEgOS41MzY2NCAyNS41MzMxIDkuNTM2NjQgMjUuMTI4MSA5Ljc3Mjg5TDE1LjQwNDEgMTUuMzg4VjExLjUwMDRDMTUuNDAxNiAxMS40NjA0IDE1LjQyMDQgMTEuNDIxNyAxNS40NTE2IDExLjM5NjdMMjMuNTAzIDYuNzUxNThDMjcuMDg5NCA0LjY4Mjc5IDMxLjY3NDUgNS45MTQwNiAzMy43NDIgOS41MDE2NEMzNC42MTU4IDExLjAxNjcgMzQuOTMyIDEyLjc5MDUgMzQuNjM1OCAxNC41MTQySDM0LjYzODNaTTEzLjU3NDEgMjEuNDQzMUwxMC4yMDY1IDE5LjQ5OTRDMTAuMTcwMiAxOS40ODE5IDEwLjE0NjUgMTkuNDQ2OCAxMC4xNDE1IDE5LjQwNjhWMTAuMTA3OUMxMC4xNDQgNS45Njc4MSAxMy41MDI4IDIuNjEyNzQgMTcuNjQyOSAyLjYxNTI0QzE5LjM5NDIgMi42MTUyNCAyMS4wODkyIDMuMjMwMjUgMjIuNDM1NSA0LjM1MDI4QzIyLjM3NDMgNC4zODI3OCAyMi4yNjkzIDQuNDQxNTMgMjIuMTk5MiA0LjQ4NDAzTDE0LjIzNDEgOS4wODQxM0MxMy44MjY2IDkuMzE1MzggMTMuNTc2NiA5Ljc0Nzg5IDEzLjU3OTEgMTAuMjE2N0wxMy41NzQxIDIxLjQ0MDZWMjEuNDQzMVpNMTUuNDAyOSAxNy41MDA2TDE5LjczNDIgMTQuOTk5M0wyNC4wNjU1IDE3LjQ5OTNWMjIuNTAwN0wxOS43MzQyIDI1LjAwMDdMMTUuNDAyOSAyMi41MDA3VjE3LjUwMDZaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K"
      },
      "displayName": "OpenAI",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 33,
      "name": "Médias sociaux"
    },
    {
      "id": 51,
      "name": "IA multimodale"
    }
  ],
  "image": []
}