automation/i18n/fr-FR/Automated Google Drive to Facebook Ads- One-Click Video Marketing Workflow.json
{
  "id": 4620,
  "name": "Automatisation Google Drive vers Facebook Ads : Flux de travail de marketing vidéo en un clic",
  "views": 1371,
  "recentViews": 1,
  "totalViews": 1371,
  "createdAt": "2025-06-03T11:23:55.059Z",
  "description": "Cette automatisation n8n à la pointe de la technologie est un puissant outil de marketing numérique conçu pour rationaliser le processus de transformation des vidéos Google Drive en actifs publicitaires Facebook. En connectant intelligemment le stockage cloud, le téléchargement de vidéos et les plateformes de création d'annonces, ce flux de travail :\n\n1. **Découvre le contenu marketing** : \n   - Scanne automatiquement Google Drive\n   - Identifie les matériaux de marketing vidéo\n   - Élimine la recherche manuelle de contenu\n\n2. **Distribution vidéo sans faille** :\n   - Télécharge les fichiers vidéo sélectionnés\n   - Télécharge directement sur Facebook\n   - Prépare les vidéos pour la publicité\n\n3. **Génération instantanée de créations publicitaires** :\n   - Crée des créations publicitaires Facebook\n   - Exploite le contenu vidéo téléchargé\n   - Accélère la configuration des campagnes marketing\n\n4. **Intégration automatisée des plateformes** :\n   - Connecte Google Drive et Facebook\n   - Réduit l'intervention manuelle\n   - Accélère le déploiement de contenu\n\n## Avantages clés\n- 🤖 **Automatisation complète** : Marketing vidéo sans contact\n- 💡 **Gestion intelligente du contenu** : Distribution vidéo sans effort\n- 📊 **Configuration rapide des campagnes** : Génération rapide de créations publicitaires\n- 🌐 **Synchronisation multi-plateformes** : Flux de contenu sans faille\n\n## Architecture du flux de travail\n\n### 🔹 Étape 1 : Découverte de contenu\n- **Déclencheur manuel** : Initiation du flux de travail\n- **Intégration Google Drive** : Scanning des fichiers vidéo\n- **Sélection de fichiers intelligente** :\n  - Identifie les fichiers vidéo MP4\n  - Prépare à l'utilisation marketing\n\n### 🔹 Étape 2 : Préparation de la vidéo\n- **Téléchargement automatique**\n- **Validation des fichiers**\n- **Mise en forme prête pour le marketing**\n\n### 🔹 Étape 3 : Téléchargement sur Facebook\n- **Téléchargement direct de la vidéo**\n- **Intégration du compte publicitaire**\n- **Transfert de plateforme sans faille**\n\n### 🔹 Étape 4 : Génération de créations publicitaires\n- **Configuration créative automatisée**\n- **Création d'annonces basées sur des vidéos**\n- **Préparation instantanée des actifs marketing**\n\n## Cas d'utilisation potentiels\n- **Équipes de marketing numérique** : Déploiement rapide de contenu\n- **Gestionnaires de médias sociaux** : Création d'annonces rationalisée\n- **Créateurs de contenu** : Marketing vidéo efficace\n- **Propriétaires de petites entreprises** : Flux de travail publicitaire simplifié\n- **Agences de marketing** : Distribution de contenu évolutive\n\n## Exigences de configuration\n1. **Google Drive**\n   - Compte Google connecté\n   - Dossier vidéo configuré\n   - Paramètres de partage appropriés\n\n2. **Facebook Ads**\n   - Identifiants de compte publicitaire\n   - Configuration de l'ID de page\n   - Jeton d'accès API\n\n3. **Installation n8n**\n   - Instance cloud ou auto-hébergée\n   - Configuration du flux de travail\n   - Gestion des identifiants API\n\n## Suggestions d'amélioration future\n- 🤖 Sélection de vidéos alimentée par l'IA\n- 📊 Intégration du suivi des performances\n- 🔔 Notifications de lancement de campagne\n- 🌐 Déploiement d'annonces multi-plateformes\n- 🧠 Routage de contenu intelligent\n\n## Considérations techniques\n- Mettre en œuvre une gestion robuste des erreurs\n- Utiliser une authentification API sécurisée\n- Maintenir un traitement de fichiers flexible\n- Assurer la conformité avec les directives des plateformes\n\n## Directives éthiques\n- Respecter les droits d'auteur et d'utilisation\n- Maintenir des pratiques de marketing transparentes\n- Assurer une sélection de contenu appropriée\n- Fournir des divulgations publicitaires claires\n\n## Amélioration des performances des hashtags 🚀\n#AutomatisationMarketing #PublicitéVidéo #FacebookAds #MarketingNumérique #MarketingDeContenu #MarketingIA #AutomatisationFluxDeTravail #StratégieMédiasSociaux #AdTech #InnovationMarketing\n\n## Visualisation du flux de travail\n\n```plaintext\n[Déclencheur Manuel]\n    ⬇️\n[Lister les Vidéos Drive]\n    ⬇️\n[Télécharger la Vidéo]\n    ⬇️\n[Télécharger sur Facebook]\n    ⬇️\n[Créer Création Publicitaire]\n```\n\n## Contactez-moi\n\n**Prêt à révolutionner votre marketing numérique ?**\n\n📧 **Email** : Yaron@nofluff.online\n\n🎥 **YouTube** : [@YaronBeen](https://www.youtube.com/@YaronBeen/videos)\n\n💼 **LinkedIn** : [Yaron Been](https://www.linkedin.com/in/yaronbeen/)\n\n**Transformez votre flux de travail marketing avec des solutions intelligentes et automatisées !**",
  "workflow": {
    "id": "nkYXWToCsTu0oQCu",
    "meta": {
      "instanceId": "57c71fe69aec521b7d0bd3751d2e0aaa08f8884418e122571610a23c9eb8a65c",
      "templateCredsSetupCompleted": true
    },
    "name": "drive_fb_ads",
    "tags": [],
    "nodes": [
      {
        "id": "39f9d135-0594-483d-bb62-c3e7bd355ba6",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          0,
          0
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "4439237c-49fb-4864-ba9e-09341136f326",
        "name": "List Drive Videos",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          200,
          0
        ],
        "parameters": {
          "name": "video1.pdf",
          "options": {}
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "pIW55BNPyp4T9msu",
            "name": "Google Drive account 2"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "1214fa7b-8768-46c8-bd44-e35e58ae7bc4",
        "name": "Download Video",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          400,
          0
        ],
        "parameters": {
          "fileId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "options": {},
          "operation": "download"
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "pIW55BNPyp4T9msu",
            "name": "Google Drive account 2"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "5a08b369-b001-4c7d-a839-1f035c04fed2",
        "name": "Upload Video to FB",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          600,
          0
        ],
        "parameters": {
          "url": "https://graph-video.facebook.com/v19.0/{{ $json.ad_account_id }}/advideos",
          "options": {},
          "authentication": "headerAuth"
        },
        "typeVersion": 3
      },
      {
        "id": "b00251d7-db53-44d0-8c9b-6c461208e51a",
        "name": "Create Ad Creative",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          800,
          0
        ],
        "parameters": {
          "url": "https://graph.facebook.com/v19.0/{{ $json.ad_account_id }}/adcreatives",
          "options": {},
          "authentication": "headerAuth"
        },
        "typeVersion": 3
      },
      {
        "id": "5fbd0846-cda3-49fa-8b0b-f5fda2198ce2",
        "name": "Extract Video ID",
        "type": "n8n-nodes-base.function",
        "position": [
          720,
          180
        ],
        "parameters": {
          "functionCode": "return items.map(item => ({ json: {\n  video_id: item.json.id,\n  ad_account_id: 'act_YOUR_AD_ACCOUNT_ID',\n  page_id: 'YOUR_PAGE_ID'\n} }));"
        },
        "typeVersion": 1
      },
      {
        "id": "376af680-b958-4f28-bb46-e278974badad",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -160,
          -200
        ],
        "parameters": {
          "width": 460,
          "height": 120,
          "content": "Automatically fetches all MP4 videos from a Google Drive folder, downloads each video, uploads it to Facebook as an ad video, and creates an ad creative using the uploaded video."
        },
        "typeVersion": 1
      },
      {
        "id": "939f6448-9c5a-4be6-9138-eacd7588668b",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -40,
          160
        ],
        "parameters": {
          "width": 150,
          "height": 80,
          "content": "Starts the workflow manually"
        },
        "typeVersion": 1
      },
      {
        "id": "d272eedd-0871-43a7-baa6-c5f3249d0f8b",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          180,
          160
        ],
        "parameters": {
          "width": 150,
          "height": 80,
          "content": "Fetches video files (MP4) from Google Drive"
        },
        "typeVersion": 1
      },
      {
        "id": "f89e6cf7-f352-4463-a59f-cb690e571ee4",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          380,
          160
        ],
        "parameters": {
          "width": 150,
          "height": 80,
          "content": "Downloads the selected video"
        },
        "typeVersion": 1
      },
      {
        "id": "e71a87a8-816f-4ec3-95f1-84dc7e53a1c2",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          560,
          160
        ],
        "parameters": {
          "width": 150,
          "height": 80,
          "content": "Uploads video to Facebook Ad Account"
        },
        "typeVersion": 1
      },
      {
        "id": "b5c42829-5e8c-4693-aa4d-005eac224ca0",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          740,
          380
        ],
        "parameters": {
          "width": 210,
          "height": 80,
          "content": "Prepares ID and Ad Account/Page info"
        },
        "typeVersion": 1
      },
      {
        "id": "3125893f-bf28-4472-96ce-dcab1726a0b2",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          840,
          160
        ],
        "parameters": {
          "width": 170,
          "height": 80,
          "content": "Creates the ad creative using uploaded video"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "c70b52c1-6804-4fbc-b924-7ed1c2a4126d",
    "connections": {
      "Download Video": {
        "main": [
          [
            {
              "node": "Upload Video to FB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "List Drive Videos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Video ID": {
        "main": [
          [
            {
              "node": "Create Ad Creative",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Drive Videos": {
        "main": [
          [
            {
              "node": "Download Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Video to FB": {
        "main": [
          [
            {
              "node": "Extract Video ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 13,
    "nodeTypes": {
      "n8n-nodes-base.function": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 7
      },
      "n8n-nodes-base.googleDrive": {
        "count": 2
      },
      "n8n-nodes-base.httpRequest": {
        "count": 2
      },
      "n8n-nodes-base.manualTrigger": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Yaron Been",
    "username": "yaron-nofluff",
    "bio": "Building AI Agents and Automations | Growth Marketer | Entrepreneur | Book Author & Podcast Host\n\nIf you need any help with Automations, feel free to reach out via linkedin:\nhttps://www.linkedin.com/in/yaronbeen/\n\nAnd check out my Youtube channel:\nhttps://www.youtube.com/@YaronBeen/videos",
    "verified": true,
    "links": [
      "https://www.nofluff.online/automation-services/"
    ],
    "avatar": "https://gravatar.com/avatar/a4e4dcaa1f76ff5266bbf80e8df86d22efda890474c68f7796e72fd82e3f2375?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 14,
      "icon": "fa:code",
      "name": "n8n-nodes-base.function",
      "codex": {
        "data": {
          "alias": [
            "Code",
            "Javascript",
            "Custom Code",
            "Script",
            "cpde"
          ],
          "details": "The Function node allows you to execute JavaScript in your workflow. Unlike the Function Item node, this node does not operate on incoming node data per-item. Instead, you must iterate over multiple items of incoming data yourself. This can be useful if you're performing data transformation where you want to manipulate the number of items being outputted by the node (i.e. 1 item is inputted in with nested object, 10 items are outputted without any nested objects)",
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-goals-level-up-your-vocabulary-with-vonage-and-n8n/",
                "icon": "🎯",
                "label": "2021 Goals: Level Up Your Vocabulary With Vonage and n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/why-i-chose-n8n-over-zapier-in-2020/",
                "icon": "😍",
                "label": "Why I chose n8n over Zapier in 2020"
              },
              {
                "url": "https://n8n.io/blog/how-to-host-virtual-coffee-breaks-with-n8n/",
                "icon": "☕️",
                "label": "How to host virtual coffee breaks with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                "icon": "⏲",
                "label": "Creating triggers for n8n workflows using polling"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                "icon": "👦",
                "label": "Build your own virtual assistant with n8n: A step by step guide"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                "icon": "👏",
                "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/tracking-time-spent-in-meetings-with-google-calendar-twilio-and-n8n/",
                "icon": "🗓",
                "label": "Tracking Time Spent in Meetings With Google Calendar, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-error-workflows-in-n8n/",
                "icon": "🌪",
                "label": "Creating Error Workflows in n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Fonction",
        "color": "#FF9922"
      },
      "iconData": {
        "icon": "code",
        "type": "icon"
      },
      "displayName": "Function",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Demande HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 58,
      "icon": "file:googleDrive.svg",
      "name": "n8n-nodes-base.googleDrive",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledrive/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Google Drive"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgODEgNzMiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzAwNjZkYSIgZD0ibTYuMDQ4IDYxLjI2IDMuNTI4IDYuMDk0Yy43MzMgMS4yODMgMS43ODcgMi4yOTEgMy4wMjQgMy4wMjRsMTIuNi0yMS44MUgwYTguMyA4LjMgMCAwIDAgMS4xIDQuMTI0eiIvPjxwYXRoIGZpbGw9IiMwMGFjNDciIGQ9Ik00MCAyMi45MSAyNy40IDEuMWMtMS4yMzcuNzMzLTIuMjkxIDEuNzQxLTMuMDI0IDMuMDI0TDEuMSA0NC40NDVBOC4zIDguMyAwIDAgMCAwIDQ4LjU2OGgyNS4yeiIvPjxwYXRoIGZpbGw9IiNlYTQzMzUiIGQ9Ik02Ny40IDcwLjM3OGMxLjIzNy0uNzMzIDIuMjkxLTEuNzQxIDMuMDI0LTMuMDI0bDEuNDY2LTIuNTIgNy4wMS0xMi4xNDJhOC4zIDguMyAwIDAgMCAxLjEtNC4xMjRINTQuNzk4bDUuMzYzIDEwLjUzOHoiLz48cGF0aCBmaWxsPSIjMDA4MzJkIiBkPSJNNDAgMjIuOTEgNTIuNiAxLjFDNTEuMzYzLjM2NyA0OS45NDMgMCA0OC40NzcgMEgzMS41MjRjLTEuNDY2IDAtMi44ODcuNDEyLTQuMTI0IDEuMXoiLz48cGF0aCBmaWxsPSIjMjY4NGZjIiBkPSJNNTQuNzk5IDQ4LjU2OEgyNS4ybC0xMi42IDIxLjgxYzEuMjM3LjczMyAyLjY1NyAxLjEgNC4xMjQgMS4xaDQ2LjU1MmMxLjQ2NiAwIDIuODg3LS40MTIgNC4xMjQtMS4xeiIvPjxwYXRoIGZpbGw9IiNmZmJhMDAiIGQ9Ik02Ny4yNjIgMjQuMjg0IDU1LjYyNCA0LjEyNEM1NC44OTEgMi44NDEgNTMuODM3IDEuODMzIDUyLjYgMS4xTDQwIDIyLjkxbDE0LjggMjUuNjU5aDI1LjE1NWE4LjMgOC4zIDAgMCAwLTEuMS00LjEyNHoiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Google Drive",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note Collante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 838,
      "icon": "fa:mouse-pointer",
      "name": "n8n-nodes-base.manualTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lorsque vous cliquez sur ‘Exécuter le flux de travail’",
        "color": "#909298"
      },
      "iconData": {
        "icon": "mouse-pointer",
        "type": "icon"
      },
      "displayName": "Manual Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 33,
      "name": "Médias Sociaux"
    }
  ],
  "image": []
}