automation/i18n/fr-FR/Content Summarizer via Webhook (ApyHub).json
{
  "id": 4603,
  "name": "Résumé de contenu via Webhook (ApyHub)",
  "views": 529,
  "recentViews": 0,
  "totalViews": 529,
  "createdAt": "2025-06-02T16:53:59.893Z",
  "description": "Ce modèle n8n vous permet de résumer instantanément de longs textes en envoyant une simple requête webhook. En intégrant l'API de résumé d'ApyHub, vous pouvez distiller des articles, des rapports ou des messages complexes en résumés concis, augmentant ainsi considérablement l'efficacité dans divers domaines.\n\n---\n\n# 🔧 Comment ça fonctionne\n- **Recevoir le Webhook de Contenu :** Ce nœud agit comme point d'entrée, écoutant les requêtes POST entrantes. Il attend un corps JSON contenant :\n  - ***content*** : Le long texte que vous souhaitez résumer.\n  - ***summary_length (optionnel)*** : La longueur souhaitée du résumé (par exemple, 'court', 'moyen', 'long'). Par défaut, c'est 'moyen'. Et un en-tête contenant votre apy-token pour l'API ApyHub.\n- **Démarrer le travail de résumé :** Ce nœud envoie une requête POST au point de terminaison de résumé d'ApyHub (api.apyhub.com/sharpapi/api/v1/content/summarize). Il passe le contenu et la summary_length du corps du webhook, ainsi que votre apy-token des en-têtes. ApyHub traite le texte de manière asynchrone, et ce nœud renvoie immédiatement un job_id.\n- **Obtenir le résultat du résumé :** Étant donné que le résumé d'ApyHub est un processus asynchrone, ce nœud est crucial. Il interroge le point de terminaison de statut de travail d'ApyHub (api.apyhub.com/sharpapi/api/v1/content/summarize/job/status/{{job_id}}) en utilisant le job_id obtenu à l'étape précédente. Il continue de vérifier le statut jusqu'à ce que le résumé soit terminé, moment auquel il récupère le texte résumé final.\n- **Répondre avec le contenu résumé :** Ce nœud renvoie le texte résumé final et distillé au service qui a initié le webhook.\n\n---\n\n# 👤 Pour qui est-ce ?\n### Ce flux de travail est extrêmement utile pour :\n\n- **Créateurs de contenu & Marketeurs :** Résumer rapidement des articles pour des extraits sur les réseaux sociaux, des newsletters par e-mail ou des introductions de billets de blog.\n- **Chercheurs & Étudiants :** Obtenir efficacement l'essentiel des articles académiques, des rapports ou de longs documents sans lire chaque mot.\n- **Équipes de support client & de vente :** Résumer les demandes des clients, les longues chaînes d'e-mails ou les transcriptions d'appels pour comprendre rapidement les problèmes clés ou les points de discussion.\n- **Agrégateurs de nouvelles & Surveillance des médias :** Générer automatiquement des résumés d'articles de nouvelles provenant de diverses sources pour une consommation rapide.\n- **Professionnels des affaires :** Condenser des rapports longs, des procès-verbaux de réunions ou des mises à jour de projets en résumés digestes pour des parties prenantes occupées.\n- **Juridique & Conformité :** Résumer des documents juridiques ou des textes réglementaires pour mettre en évidence des clauses ou des changements critiques.\n- **Quiconque confronté à une surcharge d'informations :** L'utiliser pour gagner du temps et extraire des informations clés d'une quantité écrasante de texte.\n\n\n\n---\n\n# 📑Structure des données\nLorsque vous déclenchez le webhook, envoyez une **requête POST** avec un **corps JSON** et un **apy-token** dans les **en-têtes** :\n\n```\n{\n  \"content\": \"Votre très long texte va ici. Cela pourrait être un article, un rapport, une transcription ou tout autre contenu textuel que vous souhaitez résumer. Plus le texte est long, plus le résumé devient précieux !\",\n  \"summary_length\": \"moyen\" // Optionnel : \"court\", \"moyen\" ou \"long\"\n}\n```\n\n## En-têtes :\n```\napy-token: VOTRE_CLE_API_APYHUB\n```\n*Remarque : Vous devrez obtenir une clé API d'ApyHub pour utiliser leurs services API. Ils proposent généralement un niveau gratuit pour les tests.*\n\nLe flux de travail renverra une réponse JSON similaire à celle-ci (le contenu du résumé variera en fonction de l'entrée) :\n\n```\n{\n  \"summary\": \"Max Verstappen pense que le Grand Prix de Las Vegas est '99% spectacle et 1% événement sportif', ne se réjouissant pas du razzmatazz. D'autres pilotes, comme Fernando Alonso, étaient plus équivoques sur le battage médiatique, reconnaissant l'investissement et le spectacle. Lewis Hamilton a loué l'énergie de la ville mais a souligné que c'est 'un business, en fin de compte', croyant qu'il y aura encore de bonnes courses.\",\n  \"status\": \"terminé\",\n  \"result_file_id\": \"...\" // ApyHub pourrait fournir un ID de fichier pour des résultats plus volumineux\n}\n```\n\n---\n\n# ⚙️ Instructions de configuration\n- **Obtenez une clé API ApyHub :**\n  - Allez sur https://apyhub.com/ et inscrivez-vous pour obtenir votre clé API.\n- **Importer le flux de travail :** Dans votre éditeur n8n, cliquez sur \"Importer depuis JSON\" et collez le JSON de flux de travail fourni.\n- **Configurer le chemin du webhook :**\n  - Double-cliquez sur le nœud Recevoir le Webhook de Contenu.\n  - Dans le champ 'Path', définissez un chemin unique et descriptif (par exemple, /summarize-content).\n- **Activer le flux de travail :** Enregistrez et activez le flux de travail.\n\n---\n\n# 📝 Conseils\nCe résumeur de contenu est un composant puissant. Voici comment le dynamiser et en faire une partie indispensable de votre arsenal d'automatisation :\n\n- **Intégrer avec le stockage de documents/fichiers :**\n- ***Google Drive/Dropbox/OneDrive :*** Résumer automatiquement les documents téléchargés sur ces services. Ajoutez un déclencheur de nouveaux fichiers (si disponible pour votre service) ou un nœud Cron pour vérifier régulièrement les nouveaux fichiers. Ensuite, lisez le contenu du fichier, passez-le à ce résumeur et enregistrez le résumé dans un dossier désigné ou comme commentaire sur le fichier original.\n- ***Systèmes CRM/CMS :*** Extraire de longues notes, interactions clients ou brouillons d'articles de votre CRM/CMS, les résumer et mettre à jour les enregistrements avec la version concise.\n- **Traitement et triage des e-mails :**\n  - ***Déclencheur d'e-mail :*** Utilisez un nœud E-mail pour déclencher le flux de travail lorsque de nouveaux e-mails arrivent. Extraire le corps de l'e-mail, le résumer, puis :\n    - Envoyer un résumé abrégé comme notification à votre Slack ou Telegram.\n    - Ajouter un résumé à un outil de gestion des tâches (par exemple, Trello, Asana) pour un triage plus rapide.\n    - Créer un résumé pour un digest d'e-mail.\n- **Intégration de bot Slack/Discord :**\n  - Créez une commande Slack/Discord (en utilisant un webhook personnalisé ou un nœud Slack/Discord dédié) où les utilisateurs peuvent coller du texte long. Le bot renvoie ensuite la version résumée au canal.\n- **Longueur et options de résumé dynamiques :**\n  - Permettre à l'utilisateur de spécifier la summary_length (court, moyen, long) dans le corps du webhook, comme déjà implémenté.\n  - Explorer la documentation d'ApyHub pour plus de paramètres (s'il y en a) et les passer dynamiquement.\n- **Gestion des erreurs et retour d'information utilisateur :**\n  - Ajouter un nœud IF après Obtenir le résultat du résumé pour vérifier le statut : 'échec' ou messages d'erreur. Si une erreur se produit, renvoyez un message utile à l'appelant du webhook ou une alerte interne.\n  - Pour les textes très longs qui pourraient dépasser les limites de l'API, ajoutez un nœud Fonction pour tronquer le contenu d'entrée s'il est trop long et notifier l'utilisateur.\n- **Support multilingue (si ApyHub l'offre) :**\n  - Si ApyHub prend en charge le résumé dans plusieurs langues, étendez le webhook pour accepter un paramètre de langue et le passer à l'API.\n- **Web Scraping & Résumés d'articles :**\n  - Combinez cela avec un nœud de requête HTTP pour extraire du contenu d'une page web (par exemple, un article de nouvelles). Ensuite, passez le texte de l'article extrait à ce résumeur pour obtenir des aperçus rapides.\n- **Stockage de données & Archivage :**\n  - Stockez le contenu original avec son résumé dans une base de données (par exemple, PostgreSQL, MongoDB) ou une simple feuille de calcul (Google Sheets, Airtable). Cela crée une archive résumée et consultable de votre contenu.\n- **Génération de rapports automatisée :**\n  - Si vous recevez des rapports quotidiens/hebdomadaires, utilisez ce flux de travail pour résumer les sections clés, puis compilez ces résumés dans un digest ou un tableau de bord concis à l'aide d'un nœud de fusion et envoyez-le automatiquement.",
  "workflow": {
    "id": "OxmCguByCxCKPcQm",
    "meta": {
      "instanceId": "1777696fb9fddfee653e70940936c2b1e28ba1f1bde53b7182fbd6eb01988706"
    },
    "name": "Content Summarizer via Webhook (ApyHub)",
    "tags": [],
    "nodes": [
      {
        "id": "ee098e2b-3cfa-4c0c-9ad7-caf1fd4abe74",
        "name": "Note for Webhook Trigger",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -100,
          240
        ],
        "parameters": {
          "width": 280,
          "height": 340,
          "content": "This node listens for incoming POST requests. It expects a JSON body with a 'content' property (the text to summarize) and a 'summary_length' (optional, e.g., 'short', 'medium', 'long'). Your 'apy-token' must be provided in the request headers."
        },
        "typeVersion": 1
      },
      {
        "id": "dca324db-c26d-400a-bab9-e3200f78407c",
        "name": "Note for Start Summarization Job",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          220,
          240
        ],
        "parameters": {
          "color": 2,
          "width": 260,
          "height": 340,
          "content": "This node sends a POST request to ApyHub's summarization API. It passes the 'content' from the webhook body and your 'apy-token' from the headers. It initiates the summarization job and returns a 'job_id'."
        },
        "typeVersion": 1
      },
      {
        "id": "325504c9-8c6e-4b6a-9479-88bd85ca92a9",
        "name": "Note for Get Summarization Result",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          520,
          240
        ],
        "parameters": {
          "color": 3,
          "width": 260,
          "height": 340,
          "content": "This node polls ApyHub's API using the 'job_id' to check the status of the summarization. Once the status is 'finished', it retrieves the summarized content. This ensures you get the result only when processing is complete."
        },
        "typeVersion": 1
      },
      {
        "id": "fd5bf412-b7b4-4b36-b1d4-71f2bc2012ce",
        "name": "Note for Webhook Response",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          820,
          240
        ],
        "parameters": {
          "color": 4,
          "height": 340,
          "content": "This node sends the final summarized text back to the original caller of the webhook. You can insert other nodes before this to store, share, or further process the summarized content."
        },
        "typeVersion": 1
      },
      {
        "id": "cbf7a742-47c7-4a9e-8803-36a428097750",
        "name": "Start Summarization Job",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          300,
          420
        ],
        "parameters": {
          "url": "=https://api.apyhub.com/sharpapi/api/v1/content/summarize",
          "method": "POST",
          "options": {},
          "jsonBody": "={\n  \"content\": \"{{ $json.body.content }}\",\n  \"summary_length\": \"{{ $json.body.summary_length || 'medium' }}\"\n}",
          "sendBody": true,
          "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"apy-token\": \"{{ $json.headers['apy-token'] }}\"\n}",
          "sendHeaders": true,
          "specifyBody": "json",
          "specifyHeaders": "json"
        },
        "typeVersion": 4.2
      },
      {
        "id": "d1fb7874-f72c-4298-a95f-04ea3c75bcc2",
        "name": "Receive Content Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          -20,
          420
        ],
        "webhookId": "6f7b6d29-ed7c-4251-9810-d127d5c36ad0-unique-id",
        "parameters": {
          "path": "summarize-content",
          "options": {},
          "httpMethod": "POST",
          "responseMode": "responseNode"
        },
        "typeVersion": 2
      },
      {
        "id": "5d70b7ab-ff27-4a21-a976-718466b5dd17",
        "name": "Respond with Summarized Content",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          900,
          420
        ],
        "parameters": {
          "options": {},
          "respondWith": "allIncomingItems"
        },
        "typeVersion": 1.2
      },
      {
        "id": "2faf0d84-3195-479c-9843-fbdcedf3d419",
        "name": "Get Summarization Result",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          600,
          420
        ],
        "parameters": {
          "url": "=https://api.apyhub.com/sharpapi/api/v1/content/summarize/job/status/{{ $json.job_id }}",
          "options": {},
          "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"apy-token\": \"{{ $('Receive Content Webhook').item.json.headers['apy-token'] }}\"\n}",
          "sendHeaders": true,
          "specifyHeaders": "json"
        },
        "typeVersion": 4.2
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "1fd30d32-1f0c-46fc-9af7-ace9d9190fb2",
    "connections": {
      "Receive Content Webhook": {
        "main": [
          [
            {
              "node": "Start Summarization Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Summarization Job": {
        "main": [
          [
            {
              "node": "Get Summarization Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Summarization Result": {
        "main": [
          [
            {
              "node": "Respond with Summarized Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 8,
    "nodeTypes": {
      "n8n-nodes-base.webhook": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 4
      },
      "n8n-nodes-base.httpRequest": {
        "count": 2
      },
      "n8n-nodes-base.respondToWebhook": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "ist00dent",
    "username": "ist00dent",
    "bio": "I’m a dedicated automation engineer passionate about no-code and low-code solutions. I design and implement robust n8n workflows—integrating APIs, databases, and messaging—to eliminate manual tasks and accelerate delivery. Leveraging Python and C#, I build scalable, adaptable automations that empower teams to focus on high-value work.",
    "verified": true,
    "links": [
      ""
    ],
    "avatar": "https://gravatar.com/avatar/89bf012566ef32a63cb1460b2d6c4afdf6defda1e36968c03d6ea868b6bcf33b?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Requête HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 47,
      "icon": "file:webhook.svg",
      "name": "n8n-nodes-base.webhook",
      "codex": {
        "data": {
          "alias": [
            "HTTP",
            "API",
            "Build",
            "WH"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                "icon": "👏",
                "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-custom-incident-response-workflows-with-n8n/",
                "label": "How to automate every step of an incident response workflow"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.webhook/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Webhook"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCI+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTM1IDM3Yy0yLjIgMC00LTEuOC00LTRzMS44LTQgNC00IDQgMS44IDQgNC0xLjggNC00IDQiLz48cGF0aCBmaWxsPSIjMzc0NzRmIiBkPSJNMzUgNDNjLTMgMC01LjktMS40LTcuOC0zLjdsMy4xLTIuNWMxLjEgMS40IDIuOSAyLjMgNC43IDIuMyAzLjMgMCA2LTIuNyA2LTZzLTIuNy02LTYtNmMtMSAwLTIgLjMtMi45LjdsLTEuNyAxTDIzLjMgMTZsMy41LTEuOSA1LjMgOS40YzEtLjMgMi0uNSAzLS41IDUuNSAwIDEwIDQuNSAxMCAxMFM0MC41IDQzIDM1IDQzIi8+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTE0IDQzQzguNSA0MyA0IDM4LjUgNCAzM2MwLTQuNiAzLjEtOC41IDcuNS05LjdsMSAzLjlDOS45IDI3LjkgOCAzMC4zIDggMzNjMCAzLjMgMi43IDYgNiA2czYtMi43IDYtNnYtMmgxNXY0SDIzLjhjLS45IDQuNi01IDgtOS44IDgiLz48cGF0aCBmaWxsPSIjZTkxZTYzIiBkPSJNMTQgMzdjLTIuMiAwLTQtMS44LTQtNHMxLjgtNCA0LTQgNCAxLjggNCA0LTEuOCA0LTQgNCIvPjxwYXRoIGZpbGw9IiMzNzQ3NGYiIGQ9Ik0yNSAxOWMtMi4yIDAtNC0xLjgtNC00czEuOC00IDQtNCA0IDEuOCA0IDQtMS44IDQtNCA0Ii8+PHBhdGggZmlsbD0iI2U5MWU2MyIgZD0ibTE1LjcgMzQtMy40LTIgNS45LTkuN2MtMi0xLjktMy4yLTQuNS0zLjItNy4zIDAtNS41IDQuNS0xMCAxMC0xMHMxMCA0LjUgMTAgMTBjMCAuOS0uMSAxLjctLjMgMi41bC0zLjktMWMuMS0uNS4yLTEgLjItMS41IDAtMy4zLTIuNy02LTYtNnMtNiAyLjctNiA2YzAgMi4xIDEuMSA0IDIuOSA1LjFsMS43IDF6Ii8+PC9zdmc+"
      },
      "displayName": "Webhook",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 535,
      "icon": "file:webhook.svg",
      "name": "n8n-nodes-base.respondToWebhook",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.respondtowebhook/"
              }
            ]
          },
          "categories": [
            "Core Nodes",
            "Utility"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Répondre au Webhook"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCI+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTM1IDM3Yy0yLjIgMC00LTEuOC00LTRzMS44LTQgNC00IDQgMS44IDQgNC0xLjggNC00IDQiLz48cGF0aCBmaWxsPSIjMzc0NzRmIiBkPSJNMzUgNDNjLTMgMC01LjktMS40LTcuOC0zLjdsMy4xLTIuNWMxLjEgMS40IDIuOSAyLjMgNC43IDIuMyAzLjMgMCA2LTIuNyA2LTZzLTIuNy02LTYtNmMtMSAwLTIgLjMtMi45LjdsLTEuNyAxTDIzLjMgMTZsMy41LTEuOSA1LjMgOS40YzEtLjMgMi0uNSAzLS41IDUuNSAwIDEwIDQuNSAxMCAxMFM0MC41IDQzIDM1IDQzIi8+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTE0IDQzQzguNSA0MyA0IDM4LjUgNCAzM2MwLTQuNiAzLjEtOC41IDcuNS05LjdsMSAzLjlDOS45IDI3LjkgOCAzMC4zIDggMzNjMCAzLjMgMi43IDYgNiA2czYtMi43IDYtNnYtMmgxNXY0SDIzLjhjLS45IDQuNi01IDgtOS44IDgiLz48cGF0aCBmaWxsPSIjZTkxZTYzIiBkPSJNMTQgMzdjLTIuMiAwLTQtMS44LTQtNHMxLjgtNCA0LTQgNCAxLjggNCA0LTEuOCA0LTQgNCIvPjxwYXRoIGZpbGw9IiMzNzQ3NGYiIGQ9Ik0yNSAxOWMtMi4yIDAtNC0xLjgtNC00czEuOC00IDQtNCA0IDEuOCA0IDQtMS44IDQtNCA0Ii8+PHBhdGggZmlsbD0iI2U5MWU2MyIgZD0ibTE1LjcgMzQtMy40LTIgNS45LTkuN2MtMi0xLjktMy4yLTQuNS0zLjItNy4zIDAtNS41IDQuNS0xMCAxMC0xMHMxMCA0LjUgMTAgMTBjMCAuOS0uMSAxLjctLjMgMi41bC0zLjktMWMuMS0uNS4yLTEgLjItMS41IDAtMy4zLTIuNy02LTYtNnMtNiAyLjctNiA2YzAgMi4xIDEuMSA0IDIuOSA1LjFsMS43IDF6Ii8+PC9zdmc+"
      },
      "displayName": "Respond to Webhook",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 7,
          "name": "Utility"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 35,
      "name": "Extraction de documents"
    },
    {
      "id": 49,
      "name": "Résumé AI"
    }
  ],
  "image": []
}