automation/i18n/fr-FR/Convert Voice Memos to Blog Posts with Deepgram, GPT-3.5 & Google Sheets Dashboard.json
{
  "id": 8246,
  "name": "Convertir des mémos vocaux en articles de blog avec Deepgram, GPT-3.5 et le tableau de bord Google Sheets",
  "views": 0,
  "recentViews": 0,
  "totalViews": 0,
  "createdAt": "2025-09-04T10:02:38.186Z",
  "description": "## Mémos vocaux en article de blog avec Deepgram, GPT-3.5 et Softr pour les créateurs  \n### *Transformez les mémos vocaux en articles de blog publiés en utilisant l'IA et l'automatisation*\n\nNe laissez pas de grandes idées disparaître dans votre application Notes. Ce flux de travail transforme vos **mémos vocaux en articles de blog soignés, articles LinkedIn ou bulletins d'information** — automatiquement.\n\nParfait pour :\n- Les coachs et créateurs de cours qui enseignent mieux en parlant\n- Les personnes au foyer partageant leur sagesse sans taper\n- Les solopreneurs construisant leur autorité sans épuisement\n- Quiconque pense à voix haute mais déteste écrire\n\nLe flux de travail :\n1. 🎙️ Transcrit votre mémo vocal en utilisant **Deepgram** (via le nœud Voice to Text de n8n)\n2. ✍️ Réécrit en un article prêt à être publié en utilisant **GPT-3.5**\n3. 🖼️ Génère une **image à la une** en utilisant HTML to Image\n4. 📊 Enregistre l'article dans **Google Sheets** comme votre calendrier de contenu\n5. 📨 Vous envoie un brouillon par e-mail pour révision\n6. 🖥️ Se synchronise avec votre **tableau de bord Softr** pour la planification visuelle du contenu\n\nPas de saisie. Pas de regard sur un écran vide. Parlez simplement — et publiez.\n\n---\n\n## Prérequis\n\nAvant d'utiliser ce flux de travail, assurez-vous d'avoir les comptes suivants :\n\n| Service | Objectif | Offre gratuite disponible ? |\n|--------|--------|----------------------|\n| [n8n](https://n8n.io) | Orchestrer l'automatisation | Oui |\n| [Deepgram](https://deepgram.com) | Transcription vocale | Oui (offre gratuite) |\n| [OpenAI](https://openai.com) | Écriture IA (GPT-3.5 ou GPT-4) | Oui |\n| [Google Sheets](https://sheets.google.com) | Stocker les brouillons de blog et les métadonnées | Oui |\n| [SMTP Email](https://smtp.email) | Envoyer des e-mails de brouillon (par exemple, Gmail) | Oui (via mot de passe d'application) |\n| [Softr](https://softr.io) | Créer un tableau de bord de contenu visuel | Oui |\n\n🔐 Vous aurez besoin de clés API pour : Deepgram, OpenAI et SMTP  \n✅ Tous les identifiants doivent être stockés en toute sécurité dans n8n\n\n---\n\n## Configuration de Google Sheets\n\nVotre feuille Google doit avoir les **colonnes** suivantes pour que le flux de travail fonctionne correctement :\n\n| Nom de la colonne | Objectif | Exemple |\n|------------|--------|--------|\n| `Date` | Date de création de l'article | 2025-09-05 |\n| `Title` | Titre de l'article de blog (généré par IA ou personnalisé) | \"Ce que j'ai appris sur les limites\" |\n| `Content` | Corps de l'article généré par IA | \"Aujourd'hui, j'ai réalisé...\" |\n| `Image_URL` | Lien vers l'image à la une générée | https://.../image.png |\n| `Status` | Statut de publication | Brouillon, Publié, Révisé |\n| `Audio_URL` (optionnel) | Lien vers le mémo vocal original | https://.../memo.mp3 |\n\n📌 **Astuce** : Nommez votre feuille **\"Calendrier de contenu\"** et partagez-la avec votre compte de service n8n ou utilisez OAuth.\n\n---\n\n## Instructions de configuration étape par étape\n\n### 1. Importer le flux de travail dans n8n\n1. Allez sur votre tableau de bord n8n.\n2. Cliquez sur **Flux de travail &gt; Créer à partir de JSON**.\n3. Collez le JSON fourni.\n4. Cliquez sur **Importer**.\n\n### 2. Configurer les identifiants\nPour chaque service, allez à **Identifiants &gt; Ajouter nouveau** :\n- **Deepgram** : Entrez votre clé API\n- **OpenAI** : Utilisez votre clé API GPT\n- **Google Sheets** : Connectez-vous via OAuth ou compte de service\n- **SMTP** : Entrez vos identifiants d'e-mail (par exemple, mot de passe d'application Gmail)\n\n🔐 Ne jamais coder en dur les clés — utilisez toujours le système d'identifiants sécurisé de n8n.\n\n### 3. Configurer l'invite IA\nDans le nœud **HubGPT : Réécrire en tant qu'article de blog** :\n- Modifiez l'invite pour correspondre à votre ton :\n  ```text\n  Réécrivez ce mémo vocal brut en un article de blog chaleureux et engageant :\n  {{ $json[\"text\"] }}\n  Utilisez des paragraphes courts, un ton amical, et terminez par une question pour engager les lecteurs.",
  "workflow": {
    "id": "voice-to-blog-v2",
    "name": "Voice Memo to Blog Post with Deepgram, GPT-3.5 & Softr for Creators",
    "tags": [
      "voice-to-text",
      "ai-writing",
      "blog-automation",
      "content-creation",
      "google-sheets",
      "html-to-image",
      "softr",
      "solopreneur",
      "homemaker",
      "n8n",
      "deepgram",
      "openai"
    ],
    "nodes": [
      {
        "name": "Trigger: Voice Memo Workflow",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Sticky: 🎙️ Step 1 – Submit Voice Memo URL",
        "type": "n8n-nodes-base.stickyNote",
        "color": "#FFF9C4",
        "notes": "🎙️ **How to Use**\n\nPaste the public URL of your voice memo (MP3/WAV) here.\n\n💡 *Sources*: Google Drive, Dropbox, iCloud, or any public link.\n\n✅ *Tip*: Use iOS Shortcuts or Make.com to auto-send memos to this workflow.",
        "position": [
          250,
          150
        ],
        "direction": "vertical",
        "parameters": {
          "content": ""
        },
        "typeVersion": 1,
        "notesAlignment": "left"
      },
      {
        "name": "Voice to Text",
        "type": "n8n-nodes-base.voiceToText",
        "position": [
          450,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Sticky: 🧠 Step 2 – Transcribe with Deepgram",
        "type": "n8n-nodes-base.stickyNote",
        "color": "#C8E6C9",
        "notes": "🧠 **AI Transcription**\n\nUses Deepgram to convert your voice memo into accurate text.\n\n🔊 *Supports*: Long pauses, accents, background noise.\n\n⏱️ *Fast*: Transcribes 1 hour in ~12 seconds.",
        "position": [
          450,
          150
        ],
        "direction": "vertical",
        "parameters": {
          "content": ""
        },
        "typeVersion": 1,
        "notesAlignment": "left"
      },
      {
        "name": "HubGPT: Rewrite as Blog Post",
        "type": "n8n-nodes-base.hubGpt",
        "position": [
          650,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Sticky: ✍️ Step 3 – Polish with GPT-3.5",
        "type": "n8n-nodes-base.stickyNote",
        "color": "#BBDEFB",
        "notes": "✍️ **AI Rewriting**\n\nTransforms raw transcript into a reader-friendly blog post.\n\n🎨 *Customize*: Edit the prompt to match your brand voice.\n\n💡 *Pro Tip*: Add “Include 3 bullet points” or “Add a call-to-action” to the prompt.",
        "position": [
          650,
          150
        ],
        "direction": "vertical",
        "parameters": {
          "content": ""
        },
        "typeVersion": 1,
        "notesAlignment": "left"
      },
      {
        "name": "HTML to Image",
        "type": "n8n-nodes-base.htmlToImage",
        "position": [
          850,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Sticky: 🖼️ Step 4 – Generate Featured Image",
        "type": "n8n-nodes-base.stickyNote",
        "color": "#F8BBD0",
        "notes": "🖼️ **Auto-Generate Image**\n\nCreates a clean, branded featured image for blogs or social media.\n\n🔧 *Customize*: Edit HTML/CSS to match your brand colors/fonts.\n\n📥 *Output*: Image URL saved to Google Sheets.",
        "position": [
          850,
          150
        ],
        "direction": "vertical",
        "parameters": {
          "content": ""
        },
        "typeVersion": 1,
        "notesAlignment": "left"
      },
      {
        "name": "Google Sheets: Save to Calendar",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          1050,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Sticky: 📊 Step 5 – Log in Content Calendar",
        "type": "n8n-nodes-base.stickyNote",
        "color": "#E1BEE7",
        "notes": "📊 **Centralize Your Content**\n\nSaves all data to Google Sheets — your source of truth.\n\n🔗 *Softr Sync*: Connect this sheet to Softr for a visual dashboard.\n\n🔄 *Automate*: Add filters to skip published posts.",
        "position": [
          1050,
          150
        ],
        "direction": "vertical",
        "parameters": {
          "content": ""
        },
        "typeVersion": 1,
        "notesAlignment": "left"
      },
      {
        "name": "Email: Send Draft",
        "type": "n8n-nodes-base.email",
        "position": [
          1250,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Sticky: 📨 Step 6 – Review via Email",
        "type": "n8n-nodes-base.stickyNote",
        "color": "#FFECB3",
        "notes": "📨 **Human-in-the-Loop**\n\nEmails you the draft for final review before publishing.\n\n✅ *Best Practice*: Forward to editor or VA for polish.\n\n🚀 *Next Step*: Add WordPress/Medium node to auto-publish after approval.",
        "position": [
          1250,
          150
        ],
        "direction": "vertical",
        "parameters": {
          "content": ""
        },
        "typeVersion": 1,
        "notesAlignment": "left"
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "parallel"
    },
    "createdAt": "2025-09-04T00:00:00.000Z",
    "updatedAt": "2025-09-04T00:00:00.000Z",
    "versionId": "2.0",
    "connections": {
      "HTML to Image": {
        "main": [
          [
            {
              "node": "Google Sheets: Save to Calendar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Voice to Text": {
        "main": [
          [
            {
              "node": "HubGPT: Rewrite as Blog Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HubGPT: Rewrite as Blog Post": {
        "main": [
          [
            {
              "node": "HTML to Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets: Save to Calendar": {
        "main": [
          [
            {
              "node": "Email: Send Draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 1,
  "workflowInfo": {
    "nodeCount": 12,
    "nodeTypes": {
      "n8n-nodes-base.email": {
        "count": 1
      },
      "n8n-nodes-base.hubGpt": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 6
      },
      "n8n-nodes-base.htmlToImage": {
        "count": 1
      },
      "n8n-nodes-base.voiceToText": {
        "count": 1
      },
      "n8n-nodes-base.googleSheets": {
        "count": 1
      },
      "n8n-nodes-base.manualTrigger": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Shelly-Ann Davy",
    "username": "SheCodesFlow",
    "bio": "Founder of The Workflow Muse & @SheCodesFlow.\n\nI craft elegant, task-focused automations for creators, founders, and soft-tech enthusiasts.\n\n“Automate with grace. Scale with power.”",
    "verified": true,
    "links": [
      "http://tiny.cc/theworkflowmuse"
    ],
    "avatar": "https://gravatar.com/avatar/10e840c97c344b18a1b76ce8a870056c68568e2af9c961a6237d572c2f373afb?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 18,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheets",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Sheet",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                "icon": "❤️",
                "label": "Love at first sight: Ricardo’s n8n journey"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                "icon": "⏲",
                "label": "Creating triggers for n8n workflows using polling"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                "icon": "🍔",
                "label": "How Honest Burgers Use Automation to Save $100k per year"
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\",\"output\"]",
      "defaults": {
        "name": "Google Sheets"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets",
      "typeVersion": 5,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 838,
      "icon": "fa:mouse-pointer",
      "name": "n8n-nodes-base.manualTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lorsque vous cliquez sur ‘Exécuter le flux de travail’",
        "color": "#909298"
      },
      "iconData": {
        "icon": "mouse-pointer",
        "type": "icon"
      },
      "displayName": "Manual Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 31,
      "name": "Création de contenu"
    },
    {
      "id": 51,
      "name": "IA multimodale"
    }
  ],
  "image": []
}