automation/i18n/fr-FR/Create Dynamic Crypto Market Monitors with Gemini AI and Telegram Bot.json
{
  "id": 7678,
  "name": "Créer des Moniteurs de Marché Crypto Dynamiques avec Gemini AI et Telegram Bot",
  "totalViews": 69,
  "price": 0,
  "purchaseUrl": null,
  "user": {
    "name": "jellyfish",
    "username": "jellyfish",
    "bio": "",
    "verified": false,
    "links": [
      ""
    ],
    "avatar": "https://gravatar.com/avatar/9b8390dac0d86cba4255dd6f560a4aed84865c4d0a98c6111d728e0a9b2a4fa0?r=pg&d=retro&size=200"
  },
  "description": "**Description du Modèle**\nCette description détaille l'objectif du modèle, son fonctionnement et ses principales caractéristiques. Vous pouvez le copier et l'utiliser directement.\n\n**Aperçu**\nC'est un puissant \"méta-flux\" n8n qui agit comme un Superviseur. Grâce à un simple bot Telegram, vous pouvez créer, gérer et supprimer dynamiquement d'innombrables agents de surveillance de marché indépendants, pilotés par l'IA (Watchdogs).\n\nCe modèle est une mise en œuvre parfaite du concept de \"Workflowception\" (flux de travail gérant des flux de travail) dans n8n, montrant comment atteindre une automatisation ultime en tirant parti de l'API n8n.\n\n**Comment ça fonctionne ?**\nInterface du Bot Telegram :\nExécutez toutes les opérations en envoyant des commandes à votre propre Bot Telegram :\n\n```\n/add SYMBOLE INTERVALLE PROMPT : Ajouter une nouvelle tâche de surveillance.\n\n/delete SYMBOLE : Supprimer une tâche de surveillance existante.\n\n/list : Lister toutes les tâches de surveillance actuellement en cours.\n\n/help : Obtenir des informations d'aide.\n```\nUtilisez le Bot Telegram pour contrôler\n![image.png](fileId:2166)\n\nLe flux de travail du watchdog créé ci-dessous\n![image.png](fileId:2167)\n\n**Gestion Dynamique des Flux de Travail :**\nLors de la réception d'une commande /add, le système de Superviseur lit un modèle \"Watchdog\", remplit vos paramètres fournis (comme la paire de trading et l'intervalle de temps), puis crée automatiquement un tout nouveau flux de travail indépendant via l'API n8n et l'active.\n\n**Stockage Persistant :**\nToutes les tâches de surveillance sont stockées dans une base de données PostgreSQL, garantissant que vos configurations sont en sécurité même si n8n redémarre. L'ID de chaque flux de travail nouvellement créé est également écrit dans la base de données pour faciliter les opérations de suppression futures.\n\n**Analyse Alimentée par l'IA :**\nChaque flux de travail \"Watchdog\" créé fonctionne selon un calendrier, récupère automatiquement le dernier graphique en chandelier et appelle un modèle d'IA multimodal (Gemini). Il envoie à l'IA à la fois l'image du graphique et vos conditions basées sur du texte personnalisé (par exemple, \"cassure au-dessus du précédent sommet sur un volume élevé\" ou \"casser en dessous de la MA20 sur 4 heures\") pour analyse, permettant une véritable interprétation intelligente des graphiques et un déclenchement d'alerte.\n\n**Caractéristiques Clés**\nWorkflowception : Un exemple parfait d'un flux de travail utilisant une API pour créer, activer et supprimer d'autres flux de travail.\n\nContrôle Total via Telegram : Gérez vos bots de surveillance de n'importe où, à tout moment, sans avoir besoin de vous connecter à l'interface n8n.\n\nAnalyse Visuelle par IA : Allez au-delà des simples alertes de prix. Laissez une IA \"lire\" les graphiques pour vous permettre des alertes intelligentes complexes, basées sur des motifs et des indicateurs.\n\nPersistant & Extensible : Construit sur PostgreSQL pour la stabilité et la fiabilité. Vous pouvez facilement ajouter plus de commandes personnalisées.",
  "createdAt": "2025-08-21T03:46:49.403Z",
  "nodes": [
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Requête HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 20,
      "icon": "fa:map-signs",
      "name": "n8n-nodes-base.if",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                "icon": "🏷️",
                "label": "How to automatically manage contributions to open-source projects"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Si",
        "color": "#408000"
      },
      "iconData": {
        "icon": "map-signs",
        "type": "icon"
      },
      "displayName": "If",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 30,
      "icon": "file:postgres.svg",
      "name": "n8n-nodes-base.postgres",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                "icon": "❤️",
                "label": "Love at first sight: Ricardo’s n8n journey"
              },
              {
                "url": "https://n8n.io/blog/why-i-chose-n8n-over-zapier-in-2020/",
                "icon": "😍",
                "label": "Why I chose n8n over Zapier in 2020"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                "icon": "🍔",
                "label": "How Honest Burgers Use Automation to Save $100k per year"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.postgres/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/postgres/"
              }
            ]
          },
          "categories": [
            "Development",
            "Data & Storage"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Postgres"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNzkgODEiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzAwMCIgZD0iTTc3LjM5MSA0Ny45MjJjLS40NjYtMS40MTItMS42ODgtMi4zOTYtMy4yNjgtMi42MzItLjc0NS0uMTExLTEuNTk4LS4wNjQtMi42MDguMTQ0LTEuNzYuMzYzLTMuMDY1LjUwMS00LjAxOC41MjggMy41OTYtNi4wNzIgNi41MjEtMTIuOTk3IDguMjA0LTE5LjUxNSAyLjcyMi0xMC41NCAxLjI2OC0xNS4zNDEtLjQzMi0xNy41MTNDNzAuNzcgMy4xODUgNjQuMjA2LjA5NyA1Ni4yODcuMDAyYy00LjIyNC0uMDUyLTcuOTMzLjc4Mi05Ljg2NyAxLjM4MmEzNyAzNyAwIDAgMC01Ljc3LS41MjhjLTMuODA5LS4wNjEtNy4xNzQuNzctMTAuMDUgMi40NzZhNDYgNDYgMCAwIDAtNy4wOTgtMS43ODJDMTYuNTYxLjQxMSAxMC45NjggMS4yOTkgNi44NzYgNC4xOSAxLjkyMiA3LjY4OS0uMzc1IDEzLjc3LjA1IDIyLjI2MmMuMTM1IDIuNjk2IDEuNjQzIDEwLjkgNC4wMTggMTguNjggMS4zNjUgNC40NzIgMi44MiA4LjE4NSA0LjMyNiAxMS4wMzggMi4xMzUgNC4wNDYgNC40MTkgNi40MjggNi45ODQgNy4yODQgMS40MzguNDc5IDQuMDQ5LjgxNCA2Ljc5Ny0xLjQ3M2E2IDYgMCAwIDAgMS40MjkgMS4yM2MuNzgzLjQ5NCAxLjc0Ljg5NyAyLjY5NiAxLjEzNiAzLjQ0Ni44NjIgNi42NzQuNjQ2IDkuNDI3LS41NjFsLjA0MSAxLjM2Mi4wNiAxLjg5OWMuMTYzIDQuMDY0LjQ0IDcuMjIzIDEuMjU5IDkuNDM0LjA0NS4xMjIuMTA1LjMwNy4xNjkuNTAzLjQwOSAxLjI1MSAxLjA5MiAzLjM0NiAyLjgzIDQuOTg3IDEuOCAxLjY5OSAzLjk3OCAyLjIyIDUuOTcyIDIuMjIgMSAwIDEuOTU1LS4xMzEgMi43OTItLjMxMSAyLjk4NC0uNjM5IDYuMzczLTEuNjE0IDguODI0LTUuMTA0IDIuMzE4LTMuMyAzLjQ0NC04LjI3IDMuNjQ4LTE2LjEwMWwuMDc0LS42MzQuMDQ4LS40MTQuNTQ2LjA0OC4xNDEuMDFjMy4wMzkuMTM4IDYuNzU1LS41MDYgOS4wMzctMS41NjYgMS44MDMtLjgzNyA3LjU4Mi0zLjg4OCA2LjIyMS04LjAwNyIvPjxwYXRoIGZpbGw9IiMzMzY3OTEiIGQ9Ik03Mi4xOTUgNDguNzIzYy05LjAzNiAxLjg2NC05LjY1Ny0xLjE5NS05LjY1Ny0xLjE5NSA5LjU0MS0xNC4xNTcgMTMuNTI5LTMyLjEyNyAxMC4wODctMzYuNTI1QzYzLjIzNS0uOTk0IDQ2Ljk4MSA0LjY4IDQ2LjcxIDQuODI3bC0uMDg3LjAxNmMtMS43ODUtLjM3MS0zLjc4My0uNTkxLTYuMDI5LS42MjgtNC4wODktLjA2Ny03LjE5IDEuMDcyLTkuNTQ0IDIuODU3IDAgMC0yOC45OTUtMTEuOTQ1LTI3LjY0NyAxNS4wMjMuMjg3IDUuNzM3IDguMjIzIDQzLjQxIDE3LjY4OSAzMi4wMzEgMy40Ni00LjE2MSA2LjgwMy03LjY3OSA2LjgwMy03LjY3OSAxLjY2IDEuMTAzIDMuNjQ4IDEuNjY2IDUuNzMyIDEuNDYzbC4xNjItLjEzN2E2LjMgNi4zIDAgMCAwIC4wNjUgMS42MmMtMi40MzkgMi43MjUtMS43MjIgMy4yMDMtNi41OTcgNC4yMDYtNC45MzMgMS4wMTctMi4wMzUgMi44MjYtLjE0MyAzLjI5OSAyLjI5NC41NzQgNy42IDEuMzg2IDExLjE4NS0zLjYzM2wtLjE0My41NzNjLjk1Ni43NjUgMS42MjYgNC45NzggMS41MTQgOC43OTdzLS4xODggNi40NDEuNTY1IDguNDg5IDEuNTAzIDYuNjU2IDcuOTEyIDUuMjgyYzUuMzU1LTEuMTQ4IDguMTMtNC4xMjEgOC41MTYtOS4wODEuMjc0LTMuNTI2Ljg5NC0zLjAwNS45MzMtNi4xNThsLjQ5Ny0xLjQ5M2MuNTczLTQuNzguMDkxLTYuMzIyIDMuMzktNS42MDVsLjgwMi4wN2MyLjQyOC4xMSA1LjYwNi0uMzkxIDcuNDcxLTEuMjU3IDQuMDE2LTEuODY0IDYuMzk4LTQuOTc2IDIuNDM4LTQuMTU4Ii8+PHBhdGggZD0iTTMyLjc0NyAyNC42NmMtLjgxNC0uMTEzLTEuNTUyLS4wMDgtMS45MjUuMjc0YS43LjcgMCAwIDAtLjI5Mi40N2MtLjA0Ny4zMzYuMTg4LjcwNy4zMzMuODk4LjQwOS41NDIgMS4wMDYuOTE1IDEuNTk4Ljk5N2EyIDIgMCAwIDAgLjI1Ni4wMThjLjk4NiAwIDEuODgzLS43NjggMS45NjItMS4zMzUuMDk5LS43MS0uOTMyLTEuMTgzLTEuOTMxLTEuMzIybTI2Ljk3NS4wMjJjLS4wNzgtLjU1Ni0xLjA2OC0uNzE1LTIuMDA3LS41ODRzLTEuODQ4LjU1NC0xLjc3MiAxLjExMmMuMDYxLjQzNC44NDQgMS4xNzQgMS43NzEgMS4xNzRxLjExNyAwIC4yMzctLjAxNmMuNjE5LS4wODYgMS4wNzMtLjQ3OSAxLjI4OC0uNzA1LjMyOS0uMzQ1LjUxOC0uNzMuNDg0LS45OG0xNS40NzcgMjMuODI4Yy0uMzQ1LTEuMDQyLTEuNDUzLTEuMzc3LTMuMjk2LS45OTctNS40NzEgMS4xMjktNy40My4zNDctOC4wNzMtLjEyNyA0LjI1Mi02LjQ3OCA3Ljc1LTE0LjMwOCA5LjYzNy0yMS42MTQuODk0LTMuNDYxIDEuMzg4LTYuNjc1IDEuNDI4LTkuMjk0LjA0NS0yLjg3Ni0uNDQ1LTQuOTg4LTEuNDU1LTYuMjc5LTQuMDcyLTUuMjAzLTEwLjA0OC03Ljk5NC0xNy4yODMtOC4wNy00Ljk3My0uMDU2LTkuMTc1IDEuMjE3LTkuOTkgMS41NzVhMjUgMjUgMCAwIDAtNS42MjItLjcyMmMtMy43MzQtLjA2LTYuOTYxLjgzNC05LjYzMyAyLjY1NWE0MyA0MyAwIDAgMC03LjgyOC0yLjA1MmMtNi4zNDItMS4wMjEtMTEuMzgxLS4yNDgtMTQuOTc4IDIuMy00LjI5MSAzLjA0LTYuMjcyIDguNDc1LTUuODg4IDE2LjE1Mi4xMjkgMi41ODMgMS42MDEgMTAuNTI5IDMuOTIzIDE4LjEzOSAzLjA1NyAxMC4wMTYgNi4zOCAxNS42ODYgOS44NzcgMTYuODUyYTQuNCA0LjQgMCAwIDAgMS40MDIuMjMyYzEuMjc2IDAgMi44MzktLjU3NSA0LjQ2Ni0yLjUzMWExNjEgMTYxIDAgMCAxIDYuMTU2LTYuOTY2IDkuOSA5LjkgMCAwIDAgNC40MjkgMS4xOTFsLjAxLjEyMWMtLjMxLjM2OC0uNTY0LjY5LS43ODEuOTY1LTEuMDcgMS4zNTgtMS4yOTMgMS42NDEtNC43MzggMi4zNTEtLjk4LjIwMi0zLjU4Mi43MzgtMy42MiAyLjU2My0uMDQxIDEuOTkzIDMuMDc2IDIuODMgMy40MzEgMi45MTkgMS4yMzguMzEgMi40My40NjMgMy41NjguNDYzIDIuNzY2IDAgNS4yLS45MDkgNy4xNDUtMi42NjgtLjA2IDcuMTA2LjIzNiAxNC4xMDcgMS4wODkgMTYuMjQxLjY5OSAxLjc0NiAyLjQwNiA2LjAxNCA3Ljc5OCA2LjAxNC43OTEgMCAxLjY2Mi0uMDkyIDIuNjItLjI5NyA1LjYyNy0xLjIwNyA4LjA3MS0zLjY5NCA5LjAxNi05LjE3Ny41MDYtMi45MyAxLjM3NC05LjkyOCAxLjc4Mi0xMy42ODIuODYyLjI2OSAxLjk3MS4zOTIgMy4xNy4zOTIgMi41MDEgMCA1LjM4Ny0uNTMxIDcuMTk3LTEuMzcyIDIuMDMzLS45NDQgNS43MDItMy4yNjEgNS4wMzctNS4yNzR6TTYxLjggMjMuMTQ3Yy0uMDE5IDEuMTA4LS4xNzEgMi4xMTQtLjMzMyAzLjE2NC0uMTc0IDEuMTI5LS4zNTQgMi4yOTctLjM5OSAzLjcxNS0uMDQ1IDEuMzc5LjEyOCAyLjgxNC4yOTQgNC4yLjMzNyAyLjgwMS42ODIgNS42ODUtLjY1NSA4LjUzMWExMSAxMSAwIDAgMS0uNTkyLTEuMjE4Yy0uMTY2LS40MDMtLjUyNy0xLjA1LTEuMDI3LTEuOTQ2LTEuOTQ0LTMuNDg3LTYuNDk3LTExLjY1Mi00LjE2Ny0xNC45ODQuNjk0LS45OTIgMi40NTYtMi4wMTEgNi44NzktMS40NjN6TTU2LjQzOSA0LjM3NGM2LjQ4Mi4xNDMgMTEuNjA5IDIuNTY4IDE1LjI0IDcuMjA3IDIuNzg0IDMuNTU4LS4yODIgMTkuNzQ5LTkuMTU4IDMzLjcxNmwtLjI2OS0uMzM5LS4xMTItLjE0YzIuMjk0LTMuNzg4IDEuODQ1LTcuNTM2IDEuNDQ2LTEwLjg1OS0uMTY0LTEuMzY0LS4zMTktMi42NTItLjI4LTMuODYxLjA0MS0xLjI4My4yMS0yLjM4Mi4zNzQtMy40NDYuMjAyLTEuMzExLjQwNy0yLjY2Ny4zNS00LjI2NWExLjggMS44IDAgMCAwIC4wMzctLjYwMWMtLjE0NC0xLjUzMy0xLjg5NC02LjEyLTUuNDYyLTEwLjI3My0xLjk1MS0yLjI3MS00Ljc5Ny00LjgxMy04LjY4Mi02LjUyN2EyOS4zIDI5LjMgMCAwIDEgNi41MTUtLjYxMnpNMjAuMTY3IDUzLjI5OGMtMS43OTMgMi4xNTUtMy4wMzEgMS43NDItMy40MzggMS42MDctMi42NTMtLjg4NS01LjczLTYuNDkxLTguNDQ0LTE1LjM4Mi0yLjM0OC03LjY5My0zLjcyLTE1LjQyOC0zLjgyOS0xNy41OTctLjM0My02Ljg2IDEuMzItMTEuNjQxIDQuOTQzLTE0LjIxIDUuODk2LTQuMTgxIDE1LjU4OS0xLjY3OSAxOS40ODQtLjQwOWwtLjE3LjE2M2MtNi4zOTEgNi40NTUtNi4yNCAxNy40ODMtNi4yMjQgMTguMTU3YTIyIDIyIDAgMCAwIC4wNTEgMS4xMzVjLjExIDEuODU1LjMxNSA1LjMwNy0uMjMyIDkuMjE3LS41MDggMy42MzMuNjEyIDcuMTg5IDMuMDcyIDkuNzU2cS4zODMuMzk4Ljc5NS43NWExNjQgMTY0IDAgMCAwLTYuMDA4IDYuODE0em02LjgzLTkuMTEzYy0xLjk4My0yLjA2OS0yLjg4NC00Ljk0Ny0yLjQ3MS03Ljg5Ni41NzctNC4xMy4zNjQtNy43MjcuMjUtOS42NTlsLS4wMzktLjY5NGMuOTM0LS44MjggNS4yNjEtMy4xNDYgOC4zNDYtMi40MzkgMS40MDguMzIzIDIuMjY2IDEuMjgxIDIuNjIzIDIuOTMxIDEuODQ2IDguNTM5LjI0NCAxMi4wOTgtMS4wNDMgMTQuOTU3LS4yNjUuNTg5LS41MTYgMS4xNDYtLjczIDEuNzIybC0uMTY2LjQ0NWMtLjQyIDEuMTI2LS44MTEgMi4xNzMtMS4wNTMgMy4xNjctMi4xMDgtLjAwNi00LjE1OS0uOTA3LTUuNzE4LTIuNTM0em0uMzI0IDExLjUxNmE1IDUgMCAwIDEtMS40OTQtLjY0MmMuMjcxLS4xMjguNzU0LS4zMDEgMS41OTEtLjQ3NCA0LjA1Mi0uODM0IDQuNjc4LTEuNDIzIDYuMDQ1LTMuMTU4LjMxMy0uMzk4LjY2OS0uODQ5IDEuMTYtMS4zOTguNzMzLS44MjEgMS4wNjgtLjY4MiAxLjY3Ni0uNDMuNDkzLjIwNC45NzIuODIxIDEuMTY3IDEuNTAxLjA5Mi4zMjEuMTk1LjkzLS4xNDMgMS40MDQtMi44NTUgMy45OTctNy4wMTUgMy45NDYtMTAuMDAzIDMuMTk4em0yMS4yMDcgMTkuNzM1Yy00Ljk1NyAxLjA2Mi02LjcxMy0xLjQ2Ny03Ljg2OS00LjM1OS0uNzQ3LTEuODY3LTEuMTEzLTEwLjI4NS0uODUzLTE5LjU4MmExLjEgMS4xIDAgMCAwLS4wNDgtLjM1NiA1IDUgMCAwIDAtLjEzOS0uNjU3Yy0uMzg3LTEuMzUzLTEuMzMxLTIuNDg0LTIuNDYyLTIuOTUzLS40NS0uMTg2LTEuMjc1LS41MjgtMi4yNjctLjI3NC4yMTItLjg3MS41NzgtMS44NTUuOTc2LTIuOTIxbC4xNjctLjQ0OGMuMTg4LS41MDUuNDIzLTEuMDI5LjY3My0xLjU4MyAxLjM0Ny0yLjk5MiAzLjE5Mi03LjA5MSAxLjE5LTE2LjM1LS43NS0zLjQ2OC0zLjI1NC01LjE2MS03LjA1LTQuNzY4LTIuMjc2LjIzNS00LjM1OCAxLjE1NC01LjM5NiAxLjY4cS0uMzM0LjE2OS0uNjE4LjMyOWMuMjktMy40OTQgMS4zODUtMTAuMDI0IDUuNDgxLTE0LjE1NiAyLjU3OS0yLjYwMSA2LjAxNC0zLjg4NiAxMC4xOTktMy44MTcgOC4yNDYuMTM1IDEzLjUzNCA0LjM2NyAxNi41MTggNy44OTMgMi41NzEgMy4wMzkgMy45NjQgNi4xIDQuNTIgNy43NTEtNC4xNzktLjQyNS03LjAyMi40LTguNDYzIDIuNDYtMy4xMzUgNC40ODEgMS43MTUgMTMuMTc4IDQuMDQ2IDE3LjM1OC40MjcuNzY2Ljc5NiAxLjQyOC45MTIgMS43MDkuNzU5IDEuODM5IDEuNzQyIDMuMDY3IDIuNDU5IDMuOTY0LjIyLjI3NS40MzMuNTQxLjU5Ni43NzQtMS4yNjYuMzY1LTMuNTM5IDEuMjA4LTMuMzMyIDUuNDIyLS4xNjcgMi4xMTUtMS4zNTYgMTIuMDE2LTEuOTU5IDE1LjUxNC0uNzk3IDQuNjIxLTIuNDk3IDYuMzQzLTcuMjc5IDcuMzY4em0yMC42OTMtMjMuNjhjLTEuMjk0LjYwMS0zLjQ2IDEuMDUyLTUuNTE4IDEuMTQ4LTIuMjczLjEwNy0zLjQzLS4yNTUtMy43MDItLjQ3Ny0uMTI4LTIuNjI2Ljg1LTIuOTAxIDEuODg0LTMuMTkxLjE2My0uMDQ2LjMyMS0uMDkuNDc0LS4xNDRhNCA0IDAgMCAwIC4zMTMuMjNjMS44MjcgMS4yMDYgNS4wODUgMS4zMzYgOS42ODUuMzg2bC4wNS0uMDFjLS42Mi41OC0xLjY4MiAxLjM1OS0zLjE4NyAyLjA1OHoiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Postgres",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 5,
          "name": "Development"
        }
      ]
    },
    {
      "id": 49,
      "icon": "file:telegram.svg",
      "name": "n8n-nodes-base.telegram",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                "icon": "💪",
                "label": "Using Automation to Boost Productivity in the Workplace"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-telegram-bots-with-n8n-a-no-code-platform/",
                "icon": "💬",
                "label": "Creating Telegram Bots with n8n, a No-Code Platform"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.telegram/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/telegram/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Telegram"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjYgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzM3YWVlMiIgZD0iTTAgMzJjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMyczMyLTE0LjMyNyAzMi0zMlM0OS42NzMgMCAzMiAwIDAgMTQuMzI3IDAgMzIiLz48cGF0aCBmaWxsPSIjYzhkYWVhIiBkPSJtMjEuNjYxIDM0LjMzOCAzLjc5NyAxMC41MDhzLjQ3NS45ODMuOTgzLjk4MyA4LjA2OC03Ljg2NCA4LjA2OC03Ljg2NGw4LjQwNy0xNi4yMzctMjEuMTE5IDkuODk4eiIvPjxwYXRoIGZpbGw9IiNhOWM2ZDgiIGQ9Im0yNi42OTUgMzcuMDM0LS43MjkgNy43NDZzLS4zMDUgMi4zNzMgMi4wNjggMGw0LjY0NC00LjIwMyIvPjxwYXRoIGQ9Im0yMS43MyAzNC43MTItNy44MDktMi41NDVzLS45MzItLjM3OC0uNjMzLTEuMjM3Yy4wNjItLjE3Ny4xODYtLjMyOC41NTktLjU4OCAxLjczMS0xLjIwNiAzMi4wMjgtMTIuMDk2IDMyLjAyOC0xMi4wOTZzLjg1Ni0uMjg4IDEuMzYxLS4wOTdjLjIzMS4wODguMzc4LjE4Ny41MDMuNTQ4LjA0NS4xMzIuMDcxLjQxMS4wNjguNjg5LS4wMDMuMjAxLS4wMjcuMzg2LS4wNDUuNjc4LS4xODQgMi45NzgtNS43MDYgMjUuMTk4LTUuNzA2IDI1LjE5OHMtLjMzIDEuMy0xLjUxNCAxLjM0NWMtLjQzMi4wMTYtLjk1Ni0uMDcxLTEuNTgyLS42MS0yLjMyMy0xLjk5OC0xMC4zNTItNy4zOTQtMTIuMTI2LTguNThhLjM0LjM0IDAgMCAxLS4xNDYtLjIzOWMtLjAyNS0uMTI1LjEwOC0uMjguMTA4LS4yOHMxMy45OC0xMi40MjcgMTQuMzUyLTEzLjczMWMuMDI5LS4xMDEtLjA3OS0uMTUxLS4yMjYtLjEwNy0uOTI5LjM0Mi0xNy4wMjUgMTAuNTA2LTE4LjgwMSAxMS42MjktLjEwNC4wNjYtLjM5NS4wMjMtLjM5NS4wMjMiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Telegram",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 50,
      "icon": "file:telegram.svg",
      "name": "n8n-nodes-base.telegramTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/creating-telegram-bots-with-n8n-a-no-code-platform/",
                "icon": "💬",
                "label": "Creating Telegram Bots with n8n, a No-Code Platform"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.telegramtrigger/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/telegram/"
              }
            ]
          },
          "categories": [
            "Communication"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Déclencheur Telegram"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjYgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzM3YWVlMiIgZD0iTTAgMzJjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMyczMyLTE0LjMyNyAzMi0zMlM0OS42NzMgMCAzMiAwIDAgMTQuMzI3IDAgMzIiLz48cGF0aCBmaWxsPSIjYzhkYWVhIiBkPSJtMjEuNjYxIDM0LjMzOCAzLjc5NyAxMC41MDhzLjQ3NS45ODMuOTgzLjk4MyA4LjA2OC03Ljg2NCA4LjA2OC03Ljg2NGw4LjQwNy0xNi4yMzctMjEuMTE5IDkuODk4eiIvPjxwYXRoIGZpbGw9IiNhOWM2ZDgiIGQ9Im0yNi42OTUgMzcuMDM0LS43MjkgNy43NDZzLS4zMDUgMi4zNzMgMi4wNjggMGw0LjY0NC00LjIwMyIvPjxwYXRoIGQ9Im0yMS43MyAzNC43MTItNy44MDktMi41NDVzLS45MzItLjM3OC0uNjMzLTEuMjM3Yy4wNjItLjE3Ny4xODYtLjMyOC41NTktLjU4OCAxLjczMS0xLjIwNiAzMi4wMjgtMTIuMDk2IDMyLjAyOC0xMi4wOTZzLjg1Ni0uMjg4IDEuMzYxLS4wOTdjLjIzMS4wODguMzc4LjE4Ny41MDMuNTQ4LjA0NS4xMzIuMDcxLjQxMS4wNjguNjg5LS4wMDMuMjAxLS4wMjcuMzg2LS4wNDUuNjc4LS4xODQgMi45NzgtNS43MDYgMjUuMTk4LTUuNzA2IDI1LjE5OHMtLjMzIDEuMy0xLjUxNCAxLjM0NWMtLjQzMi4wMTYtLjk1Ni0uMDcxLTEuNTgyLS42MS0yLjMyMy0xLjk5OC0xMC4zNTItNy4zOTQtMTIuMTI2LTguNThhLjM0LjM0IDAgMCAxLS4xNDYtLjIzOWMtLjAyNS0uMTI1LjEwOC0uMjguMTA4LS4yOHMxMy45OC0xMi40MjcgMTQuMzUyLTEzLjczMWMuMDI5LS4xMDEtLjA3OS0uMTUxLS4yMjYtLjEwNy0uOTI5LjM0Mi0xNy4wMjUgMTAuNTA2LTE4LjgwMSAxMS42MjktLjEwNC4wNjYtLjM5NS4wMjMtLjM5NS4wMjMiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Telegram Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        }
      ]
    },
    {
      "id": 112,
      "icon": "fa:map-signs",
      "name": "n8n-nodes-base.switch",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "If",
            "Path",
            "Filter",
            "Condition",
            "Logic",
            "Branch",
            "Case"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                "icon": "👦",
                "label": "Build your own virtual assistant with n8n: A step by step guide"
              },
              {
                "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                "icon": "🏷️",
                "label": "How to automatically manage contributions to open-source projects"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.switch/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Interrupteur",
        "color": "#506000"
      },
      "iconData": {
        "icon": "map-signs",
        "type": "icon"
      },
      "displayName": "Switch",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 834,
      "icon": "file:code.svg",
      "name": "n8n-nodes-base.code",
      "codex": {
        "data": {
          "alias": [
            "cpde",
            "Javascript",
            "JS",
            "Python",
            "Script",
            "Custom Code",
            "Function"
          ],
          "details": "The Code node allows you to execute JavaScript in your workflow.",
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Code"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Code",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "views": 69,
  "recentViews": 14,
  "workflow": {
    "id": "Ny9z9pagXSVaZDRt",
    "meta": {
      "instanceId": "0ebffe66be2ea4fbaaa1bf139c315512a2543884e5ce6d776f31c748d2d8c005",
      "templateCredsSetupCompleted": true
    },
    "name": "Supervisor template",
    "tags": [],
    "nodes": [
      {
        "id": "ac10d615-30a7-42c1-ba26-95e1910a2574",
        "name": "Error Authorization",
        "type": "n8n-nodes-base.telegram",
        "position": [
          -144,
          -160
        ],
        "webhookId": "ec13ff32-9853-4b09-882d-8674e1db92a5",
        "parameters": {
          "text": "=Hi ~ {{ $json.message.chat.username }}\nYou are not authorized, thk !",
          "chatId": "={{ $json.message.chat.id }}",
          "additionalFields": {
            "appendAttribution": false,
            "reply_to_message_id": "={{ $json.message.message_id }}"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "WDgUm2xLk6YE4vSG",
            "name": "Tg-Watch-Dog"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "e183e45c-cdb1-47d3-ba39-3f663f4ae235",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "position": [
          96,
          -512
        ],
        "parameters": {
          "rules": {
            "values": [
              {
                "outputKey": "start",
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "032f2ecc-3100-43cc-82db-aa44866cdf4d",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "start"
                    }
                  ]
                },
                "renameOutput": true
              },
              {
                "outputKey": "help",
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "d73cb511-1cef-488c-b5b8-13d31f900f97",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "help"
                    }
                  ]
                },
                "renameOutput": true
              },
              {
                "outputKey": "add",
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "8d2cbba2-dbf6-43e7-a2ea-7bb4c0d52627",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "add"
                    }
                  ]
                },
                "renameOutput": true
              },
              {
                "outputKey": "list",
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "29a24cc8-d341-40a7-bf1d-660e078bca25",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "list"
                    }
                  ]
                },
                "renameOutput": true
              },
              {
                "outputKey": "delete",
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "953a9f37-fd41-4b60-b9da-c88a3d15c02c",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.command }}",
                      "rightValue": "delete"
                    }
                  ]
                },
                "renameOutput": true
              }
            ]
          },
          "options": {}
        },
        "typeVersion": 3.2
      },
      {
        "id": "fc2c866e-b1fb-4a93-b87d-204dcc90b2a2",
        "name": "Test return success",
        "type": "n8n-nodes-base.telegram",
        "position": [
          656,
          -880
        ],
        "webhookId": "c3f5afb5-cdfe-402c-b864-7fa69a793991",
        "parameters": {
          "text": "=Hi ~ {{ $json.message.chat.username }}\nTest return Success !",
          "chatId": "={{ $('Authorization').first().json.message.chat.id }}",
          "additionalFields": {
            "appendAttribution": false,
            "reply_to_message_id": "={{ $('Authorization').first().json.message.message_id }}"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "WDgUm2xLk6YE4vSG",
            "name": "Tg-Watch-Dog"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "82274131-1eb2-4cde-9211-3883d0879ce9",
        "name": "Parse user text",
        "type": "n8n-nodes-base.code",
        "position": [
          -144,
          -464
        ],
        "parameters": {
          "jsCode": "// 从输入数据中获取消息的核心信息\nconst message = $input.item.json.message;\nconst text = message.text.trim(); // 使用 trim() 移除首尾多余空格\nconst chatId = message.chat.id;\n\n// 初始化一个标准的结果对象\nconst result = {\n  chatId: chatId,\n  command: null,\n  symbol: null,\n  interval: null,\n  prompt: null,\n  error: null\n};\n\n// 使用正则表达式来捕获指令和其后的所有内容\nconst baseRegex = /^\\/(\\w+)\\s*(.*)$/;\nconst baseMatch = text.match(baseRegex);\n\n// 如果连基础的 /<command> 格式都匹配不上，直接返回错误\nif (!baseMatch) {\n  result.error = \"无法识别的指令格式。\";\n  return result;\n}\n\n// 提取指令和参数部分\nconst command = baseMatch[1].toLowerCase();\nconst argsString = baseMatch[2]; // 指令后面的所有参数字符串\n\nresult.command = command;\n\n// 使用 switch 语句来根据不同的指令进行解析\nswitch (command) {\n  case 'add':\n    // 解析 /add SYMBOL INTERVAL PROMPT\n    const addArgs = argsString.match(/^([A-Z0-9]+)\\s+([a-zA-Z0-9]+)\\s+(.*)$/);\n    if (addArgs) {\n      result.symbol = addArgs[1];\n      result.interval = addArgs[2];\n      result.prompt = addArgs[3];\n    } else {\n      result.error = \"`/add` 指令格式错误。正确格式: /add <SYMBOL> <INTERVAL> <PROMPT>\";\n    }\n    break;\n\n  case 'search':\n    // 解析 /search SYMBOL INTERVAL\n    const searchArgs = argsString.match(/^([A-Z0-9]+)\\s+([a-zA-Z0-9]+)$/);\n    if (searchArgs) {\n      result.symbol = searchArgs[1];\n      result.interval = searchArgs[2];\n    } else {\n      result.error = \"`/search` 指令格式错误。正确格式: /search <SYMBOL> <INTERVAL>\";\n    }\n    break;\n\n  case 'start':\n  case 'help':\n    // 这两个指令没有参数，所以不需要额外解析\n    // 如果 argsString 不是空的，说明用户多输入了内容，但我们选择忽略\n    break;\n  case 'list':\n    break;\n  case 'delete':\n    // 解析 /delete SYMBOL\n    // 正则表达式只匹配一个参数 (交易对)\n    const deleteArgs = argsString.match(/^([A-Z0-9]+)$/);\n    if (deleteArgs) {\n      result.symbol = deleteArgs[1];\n    } else {\n      result.error = \"`/delete` 指令格式错误。正确格式: /delete <SYMBOL>\";\n    }\n    break;\n\n  default:\n    // 如果指令不在我们的处理列表里\n    result.error = `未知的指令: /${command}`;\n    break;\n}\n\n// 返回最终解析的结果\nreturn result;"
        },
        "typeVersion": 2
      },
      {
        "id": "7e9596ad-49ee-40f5-84de-6d589a51e939",
        "name": "Code",
        "type": "n8n-nodes-base.code",
        "position": [
          880,
          -528
        ],
        "parameters": {
          "jsCode": "// 从输入数据中获取参数\nconst symbol = $('Switch').first().json.symbol || 'BTCUSDT';\nconst interval = $('Switch').first().json.interval || '1h';\nconst prompt = $('Switch').first().json.prompt || '跌破新低';\n\n// 根据 interval 设置调度规则\nlet scheduleRule;\nif (interval === '1h') {\n  scheduleRule = {\n    \"interval\": [\n      {\n        \"field\": \"hours\",\n        \"hoursInterval\": 1\n      }\n    ]\n  };\n} else if (interval === '15m') {\n  scheduleRule = {\n    \"interval\": [\n      {\n        \"field\": \"minutes\",\n        \"minutesInterval\": 15\n      }\n    ]\n  };\n} else if (interval === '1d') {\n  scheduleRule = {\n    \"interval\": [\n      {\n        \"field\": \"days\",\n        \"daysInterval\": 1\n      }\n    ]\n  };\n} else {\n  scheduleRule = {\n    \"interval\": [\n      {\n        \"field\": \"hours\",\n        \"hoursInterval\": 1\n      }\n    ]\n  };\n}\n\n// 修复 Code 节点的 JavaScript 代码 - 去掉双重转义\nconst codeNodeJS = \"// --- 我们只修改了这一行 ---\\n// 获取 AI 节点输出的、嵌套较深的原始字符串\\nconst aiRawOutput = $json.content.parts[0].text;\\n\\n// --- 后续代码与之前完全相同，无需改动 ---\\n\\n// 使用正则表达式来提取被 ´´´ 包裹的 JSON 字符串部分\\nconst jsonMatch = aiRawOutput.match(/\\\\{[\\\\s\\\\S]*\\\\}/);\\n\\n// 检查是否成功找到了 JSON 字符串\\nif (jsonMatch && jsonMatch[0]) {\\n  try {\\n    // 将提取出来的纯 JSON 字符串，解析成一个真正的 JSON 对象\\n    const parsedData = JSON.parse(jsonMatch[0]);\\n    \\n    // 将这个解析后的对象作为本节点的输出\\n    return {\\n      json: parsedData\\n    };\\n  } catch (error) {\\n    // 如果解析失败，返回错误信息\\n    return { json: { error: \\\"解析JSON失败\\\", details: error.message } };\\n  }\\n}\\n\\n// 如果连 JSON 字符串都找不到，也返回错误信息\\nreturn { json: { error: \\\"在AI输出中未找到JSON块\\\" } };\";\n\n// 生成符合 n8n API 要求的 workflow JSON\nconst workflowJson = {\n  \"name\": \"WatchDog-\" + symbol,\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"operation\": \"executeQuery\",\n        \"query\": \"SELECT * FROM watchdog WHERE symbol = '\" + symbol + \"';\",\n        \"options\": {}\n      },\n      \"type\": \"n8n-nodes-base.postgres\",\n      \"typeVersion\": 2,\n      \"position\": [-176, -80],\n      \"name\": \"Execute a SQL query\",\n      \"credentials\": {\n        \"postgres\": {\n          \"id\": \"cOj0Kt9xrVLHTEvg\",\n          \"name\": \"Self-PostgreSQL\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"rule\": scheduleRule\n      },\n      \"type\": \"n8n-nodes-base.scheduleTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [-864, -80],\n      \"name\": \"Schedule Trigger\"\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"7931ff5e-f133-4a07-b81a-7a2c3251e73d\",\n              \"name\": \"symbol\",\n              \"value\": \"=\" + symbol,\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.4,\n      \"position\": [-416, -80],\n      \"name\": \"Symbol\"\n    },\n    {\n      \"parameters\": {\n        \"method\": \"GET\",\n        \"url\": \"https://api.chart-img.com/v1/tradingview/advanced-chart/storage\",\n        \"authentication\": \"genericCredentialType\",\n        \"genericAuthType\": \"httpHeaderAuth\",\n        \"sendQuery\": true,\n        \"queryParameters\": {\n          \"parameters\": [\n            {\n              \"name\": \"symbol\",\n              \"value\": \"BINANCE:\" + symbol\n            },\n            {\n              \"name\": \"interval\",\n              \"value\": interval\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4,\n      \"position\": [32, -80],\n      \"name\": \"Get Image URL\",\n      \"alwaysOutputData\": true,\n      \"retryOnFail\": true,\n      \"credentials\": {\n        \"httpHeaderAuth\": {\n          \"id\": \"9UoBK15KWPsdtqWd\",\n          \"name\": \"Chart-Image-1\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"resource\": \"image\",\n        \"operation\": \"analyze\",\n        \"modelId\": {\n          \"__rl\": true,\n          \"value\": \"models/gemini-2.5-flash\",\n          \"mode\": \"list\",\n          \"cachedResultName\": \"models/gemini-2.5-flash\"\n        },\n        \"text\": \"={{ $('Prompt').item.json.prompt }}\\n这是用户prompt:{{ $('Execute a SQL query').item.json.user_prompt }}\\n\",\n        \"imageUrls\": \"={{ $json.url }}\",\n        \"options\": {}\n      },\n      \"type\": \"@n8n/n8n-nodes-langchain.googleGemini\",\n      \"typeVersion\": 1,\n      \"position\": [240, -80],\n      \"name\": \"Analyze image\",\n      \"retryOnFail\": true,\n      \"credentials\": {\n        \"googlePalmApi\": {\n          \"id\": \"cDsR8cQyCG3zNb4H\",\n          \"name\": \"ad-7\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"mode\": \"runOnceForEachItem\",\n        \"jsCode\": codeNodeJS\n      },\n      \"type\": \"n8n-nodes-base.code\",\n      \"typeVersion\": 2,\n      \"position\": [464, -80],\n      \"name\": \"Code\"\n    },\n    {\n      \"parameters\": {\n        \"rules\": {\n          \"values\": [\n            {\n              \"conditions\": {\n                \"options\": {\n                  \"caseSensitive\": true,\n                  \"leftValue\": \"\",\n                  \"typeValidation\": \"strict\",\n                  \"version\": 2\n                },\n                \"conditions\": [\n                  {\n                    \"leftValue\": \"={{ $json.is_alert }}\",\n                    \"rightValue\": \"N\",\n                    \"operator\": {\n                      \"type\": \"string\",\n                      \"operation\": \"equals\"\n                    }\n                  }\n                ],\n                \"combinator\": \"and\"\n              },\n              \"renameOutput\": true,\n              \"outputKey\": \"N\"\n            },\n            {\n              \"conditions\": {\n                \"options\": {\n                  \"caseSensitive\": true,\n                  \"leftValue\": \"\",\n                  \"typeValidation\": \"strict\",\n                  \"version\": 2\n                },\n                \"conditions\": [\n                  {\n                    \"leftValue\": \"={{ $json.is_alert }}\",\n                    \"rightValue\": \"Y\",\n                    \"operator\": {\n                      \"type\": \"string\",\n                      \"operation\": \"equals\"\n                    }\n                  }\n                ],\n                \"combinator\": \"and\"\n              },\n              \"renameOutput\": true,\n              \"outputKey\": \"Y\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"type\": \"n8n-nodes-base.switch\",\n      \"typeVersion\": 3,\n      \"position\": [-608, 176],\n      \"name\": \"Switch\"\n    },\n    {\n      \"parameters\": {\n        \"chatId\": \"-10011111\",\n        \"text\": \"=<b>内容分析：</b>\\n{{ $json.alert_content }}\",\n        \"additionalFields\": {\n          \"appendAttribution\": false,\n          \"parse_mode\": \"HTML\",\n          \"message_thread_id\": 162\n        }\n      },\n      \"type\": \"n8n-nodes-base.telegram\",\n      \"typeVersion\": 1,\n      \"position\": [-400, 272],\n      \"name\": \"Send a text message\",\n      \"credentials\": {\n        \"telegramApi\": {\n          \"id\": \"WeVmUCGtDb8kVLoc\",\n          \"name\": \"Tg N8N bot\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"operation\": \"sendPhoto\",\n        \"chatId\": \"-1001111111\",\n        \"file\": \"={{ $('Get Image URL').item.json.url }}\",\n        \"additionalFields\": {\n          \"message_thread_id\": 162\n        }\n      },\n      \"type\": \"n8n-nodes-base.telegram\",\n      \"typeVersion\": 1,\n      \"position\": [-176, 272],\n      \"name\": \"Send a photo message\",\n      \"credentials\": {\n        \"telegramApi\": {\n          \"id\": \"WeVmUCGtDb8kVLoc\",\n          \"name\": \"Tg N8N bot\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"2921ed36-5239-41fa-8f5c-6728de9eba65\",\n              \"name\": \"prompt\",\n              \"value\": \"=角色\\n你是一个顶级的 K 线量化分析引擎。你的唯一任务是基于图表（Image）和用户条件（User Prompt），对市场信号进行客观裁决。\\n\\n指令\\n解析: 解析 User Prompt。\\n\\n提取: 从图表（Image）中提取所有关键数据（如最新价、均线值、高/低点）。\\n\\n裁决: 将提取的数据与解析后的条件进行比对，得出 True/False 结果。\\n\\n输出: 生成一个纯净的 JSON 对象作为你唯一的最终回复。不要包含任何解释。\\n\\n词库 (唯一的释义标准)\\n行为:\\n\\n突破: 收盘价 > 参考价。\\n\\n跌破: 收盘价 < 参考价。\\n\\n站上: 当前价/收盘价 > 参考价。\\n\\n触及: K 线的最高价或最低价达到参考价。\\n\\n参考:\\n\\n均线 (MA): 例如 MA20，指简单移动平均线。\\n\\n前高/前低: 可视范围内的显著波段高/低点。\\n\\n新高/新低: 在指定周期内（如 1小时、20根K线内）的最高/最低价。\\n\\n修饰:\\n\\n放量: 成交量显著高于近期平均值（如 > 5周期均量）。\\n\\n输出格式 (严格遵守)\\n你的全部输出必须且只能是以下 JSON 对象：\\n{\\n\\\"is_alert\\\": \\\"Y | N\\\",\\n\\\"alert_content\\\": \\\"触发或未触发的具体原因描述，并包含关键数据。\\\"\\n}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.4,\n      \"position\": [-656, -80],\n      \"name\": \"Prompt\"\n    }\n  ],\n  \"connections\": {\n    \"Schedule Trigger\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Prompt\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Symbol\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Execute a SQL query\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Execute a SQL query\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Get Image URL\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Get Image URL\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Analyze image\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Analyze image\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Code\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Code\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Switch\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Switch\": {\n      \"main\": [\n        [],\n        [\n          {\n            \"node\": \"Send a text message\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Send a text message\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Send a photo message\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Prompt\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Symbol\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"settings\": {}\n};\n\n// 返回生成的 workflow JSON\nreturn { json: workflowJson };"
        },
        "retryOnFail": true,
        "typeVersion": 2,
        "alwaysOutputData": true
      },
      {
        "id": "a408b5d8-43c4-4695-bc5a-78a2d9e6f8ea",
        "name": "Create Workflow",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1104,
          -528
        ],
        "parameters": {
          "url": "http://localhost:5678/api/v1/workflows",
          "method": "POST",
          "options": {
            "allowUnauthorizedCerts": true
          },
          "jsonBody": "={{ $json}}",
          "sendBody": true,
          "specifyBody": "json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "pvkTsOFr2OoC9RpW",
            "name": "N8N-API-KEY"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "e68d5c6d-9f97-41c2-a6af-fd1bc383c10e",
        "name": "Activate",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1360,
          -528
        ],
        "parameters": {
          "url": "=http://localhost:5678/api/v1/workflows/{{ $json.id }}/activate",
          "method": "POST",
          "options": {},
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "pvkTsOFr2OoC9RpW",
            "name": "N8N-API-KEY"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "9a90e49a-e992-45f9-8f5b-eb51eacc495a",
        "name": "Add Data",
        "type": "n8n-nodes-base.postgres",
        "position": [
          656,
          -528
        ],
        "parameters": {
          "query": "INSERT INTO watchdog (symbol, user_prompt)\nVALUES ('{{ $json.symbol }}', '{{ $json.prompt }}')\nON CONFLICT (symbol)\nDO UPDATE SET user_prompt = EXCLUDED.user_prompt;",
          "options": {},
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "cOj0Kt9xrVLHTEvg",
            "name": "Self-PostgreSQL"
          }
        },
        "typeVersion": 2.6
      },
      {
        "id": "61a33fa9-3e54-4106-b6be-ecd4e3cdff33",
        "name": "Merge All list",
        "type": "n8n-nodes-base.code",
        "position": [
          880,
          -352
        ],
        "parameters": {
          "jsCode": "// 获取上一个节点传来的所有 item 数组\nconst items = $input.all();\n\n// 创建一个空数组，用来存放格式化后的每一行文本\nconst formattedLines = [];\n\n// 遍历每一个 item\nfor (const item of items) {\n  // 从每个 item 的 json 数据中提取 symbol 和 user_prompt\n  const symbol = item.json.symbol;\n  const user_prompt = item.json.user_prompt;\n\n  // 【修改点】使用 Markdown 的反引号(`)将 symbol 包裹起来\n  // 这会让它在 Telegram 中显示为蓝色可复制的等宽字体\n  const line = `\\`${symbol}\\`: ${user_prompt}`;\n  \n  // 将这行文本添加到数组中\n  formattedLines.push(line);\n}\n\n// 将数组中的所有行用换行符（\\n）连接成一个完整的、多行的字符串\nconst listAsText = formattedLines.join('\\n');\n\n// 返回包含这个最终字符串的单个 item\nreturn {\n  json: {\n    listText: listAsText\n  }\n};\n"
        },
        "typeVersion": 2
      },
      {
        "id": "5ee9424f-b554-4d67-b477-ab32676a82ba",
        "name": "Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          -752,
          -352
        ],
        "webhookId": "86422a87-0120-4420-9d5d-ad0492aee2b8",
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": {
            "id": "WDgUm2xLk6YE4vSG",
            "name": "Tg-Watch-Dog"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "cc2bac2d-06ef-4b2f-ae98-b4ae4e48e9f2",
        "name": "WatchDog Success",
        "type": "n8n-nodes-base.telegram",
        "position": [
          1600,
          -528
        ],
        "webhookId": "08db187e-b8fb-48a3-b958-7b0ba3811eb9",
        "parameters": {
          "text": "=Wtach Dog for {{ $('Parse user text').item.json.symbol }} Return success !",
          "chatId": "={{ $('Authorization').first().json.message.chat.id }}",
          "additionalFields": {
            "appendAttribution": false,
            "reply_to_message_id": "={{ $('Authorization').first().json.message.message_id }}"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "WDgUm2xLk6YE4vSG",
            "name": "Tg-Watch-Dog"
          }
        },
        "retryOnFail": true,
        "typeVersion": 1.2,
        "alwaysOutputData": false
      },
      {
        "id": "f697a327-159e-467a-aa5f-bd1cfb7f6aee",
        "name": "Get list",
        "type": "n8n-nodes-base.postgres",
        "position": [
          656,
          -352
        ],
        "parameters": {
          "query": "SELECT * FROM watchdog;",
          "options": {},
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "cOj0Kt9xrVLHTEvg",
            "name": "Self-PostgreSQL"
          }
        },
        "typeVersion": 2.6
      },
      {
        "id": "9a64d1fe-e297-4c77-a9a0-7a9014942edc",
        "name": "Send list",
        "type": "n8n-nodes-base.telegram",
        "position": [
          1104,
          -352
        ],
        "webhookId": "4cbf7622-ef90-44e1-a913-4ea917880aee",
        "parameters": {
          "text": "=List\n{{ $json.listText }}",
          "chatId": "={{ $('Authorization').first().json.message.chat.id }}",
          "additionalFields": {
            "parse_mode": "MarkdownV2",
            "appendAttribution": false,
            "reply_to_message_id": "={{ $('Authorization').first().json.message.message_id }}"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "WDgUm2xLk6YE4vSG",
            "name": "Tg-Watch-Dog"
          }
        },
        "retryOnFail": true,
        "typeVersion": 1.2,
        "alwaysOutputData": false
      },
      {
        "id": "5d6add8d-fa73-4d30-a490-47a624628669",
        "name": "Return help manu",
        "type": "n8n-nodes-base.telegram",
        "position": [
          656,
          -704
        ],
        "webhookId": "e346b005-4523-4e39-b370-0c1c9bc219f6",
        "parameters": {
          "text": "=This is the command list\n/help - Get the help list\n/start - Test bot authorized?\n/add - Add symbol to watchdog SQL\n/delete - Delete a symbol in watchdog SQL\n/search - Search the status of a symbol",
          "chatId": "={{ $('Authorization').first().json.message.chat.id }}",
          "additionalFields": {
            "appendAttribution": false,
            "reply_to_message_id": "={{ $('Authorization').first().json.message.message_id }}"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "WDgUm2xLk6YE4vSG",
            "name": "Tg-Watch-Dog"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "d999e630-582a-43a0-869b-bd19b2bef00f",
        "name": "Update workflow id",
        "type": "n8n-nodes-base.postgres",
        "position": [
          1360,
          -704
        ],
        "parameters": {
          "table": {
            "__rl": true,
            "mode": "list",
            "value": "watchdog",
            "cachedResultName": "watchdog"
          },
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "columns": {
            "value": {
              "symbol": "={{ $('Parse user text').first().json.symbol }}",
              "workflow_id": "={{$json.id}}"
            },
            "schema": [
              {
                "id": "id",
                "type": "number",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "id",
                "defaultMatch": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "symbol",
                "type": "string",
                "display": true,
                "removed": false,
                "required": true,
                "displayName": "symbol",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "user_prompt",
                "type": "string",
                "display": true,
                "removed": true,
                "required": true,
                "displayName": "user_prompt",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "workflow_id",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "workflow_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "symbol"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "update"
        },
        "credentials": {
          "postgres": {
            "id": "cOj0Kt9xrVLHTEvg",
            "name": "Self-PostgreSQL"
          }
        },
        "typeVersion": 2.6
      },
      {
        "id": "8e6c050d-270c-405a-bc06-3cb0fa052b1c",
        "name": "Get workflow id",
        "type": "n8n-nodes-base.postgres",
        "position": [
          656,
          -144
        ],
        "parameters": {
          "query": "SELECT * FROM watchdog Where symbol = '{{ $json.symbol }}'",
          "options": {},
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "cOj0Kt9xrVLHTEvg",
            "name": "Self-PostgreSQL"
          }
        },
        "typeVersion": 2.6
      },
      {
        "id": "d054f258-5a8b-4061-9bea-90d619900cf8",
        "name": "Delete the Workflow",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          880,
          -144
        ],
        "parameters": {
          "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflow_id }}",
          "method": "DELETE",
          "options": {},
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "pvkTsOFr2OoC9RpW",
            "name": "N8N-API-KEY"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "807d9c1c-f2c9-44f5-bc63-7d6a19bb8304",
        "name": "Delete the row",
        "type": "n8n-nodes-base.postgres",
        "position": [
          1120,
          -144
        ],
        "parameters": {
          "table": {
            "__rl": true,
            "mode": "list",
            "value": "watchdog",
            "cachedResultName": "watchdog"
          },
          "where": {
            "values": [
              {
                "value": "={{ $('Get workflow id').item.json.symbol }}",
                "column": "symbol"
              }
            ]
          },
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "options": {},
          "operation": "deleteTable",
          "deleteCommand": "delete"
        },
        "credentials": {
          "postgres": {
            "id": "cOj0Kt9xrVLHTEvg",
            "name": "Self-PostgreSQL"
          }
        },
        "typeVersion": 2.6
      },
      {
        "id": "0ef67cc9-1d5e-406a-8736-ee07777bf741",
        "name": "WatchDog Success1",
        "type": "n8n-nodes-base.telegram",
        "position": [
          1328,
          -144
        ],
        "webhookId": "90cabb38-5d4b-4afe-8caf-713280264e73",
        "parameters": {
          "text": "=Delete for {{ $('Parse user text').item.json.symbol }} Success ",
          "chatId": "={{ $('Authorization').first().json.message.chat.id }}",
          "additionalFields": {
            "appendAttribution": false,
            "reply_to_message_id": "={{ $('Authorization').first().json.message.message_id }}"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "WDgUm2xLk6YE4vSG",
            "name": "Tg-Watch-Dog"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "fd74a0fa-717b-41fa-9a12-92063b2dc82a",
        "name": "Authorization",
        "type": "n8n-nodes-base.if",
        "position": [
          -416,
          -352
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "7374aeb6-2a79-474b-90ee-783e412f5247",
                "operator": {
                  "type": "number",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.message.from.id }}",
                "rightValue": 111111
              },
              {
                "id": "6de78c03-587a-47e9-9b91-452183a83982",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.message.entities[0].type }}",
                "rightValue": "bot_command"
              }
            ]
          }
        },
        "typeVersion": 2.2
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "ad97ca01-b134-4410-830b-430415ea98da",
    "connections": {
      "Code": {
        "main": [
          [
            {
              "node": "Create Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Test return success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return help manu",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Add Data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get list",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get workflow id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger": {
        "main": [
          [
            {
              "node": "Authorization",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Activate": {
        "main": [
          [
            {
              "node": "WatchDog Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Data": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get list": {
        "main": [
          [
            {
              "node": "Merge All list",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Authorization": {
        "main": [
          [
            {
              "node": "Parse user text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Authorization",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete the row": {
        "main": [
          [
            {
              "node": "WatchDog Success1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge All list": {
        "main": [
          [
            {
              "node": "Send list",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Workflow": {
        "main": [
          [
            {
              "node": "Activate",
              "type": "main",
              "index": 0
            },
            {
              "node": "Update workflow id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get workflow id": {
        "main": [
          [
            {
              "node": "Delete the Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse user text": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete the Workflow": {
        "main": [
          [
            {
              "node": "Delete the row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 20,
    "nodeTypes": {
      "n8n-nodes-base.if": {
        "count": 1
      },
      "n8n-nodes-base.code": {
        "count": 3
      },
      "n8n-nodes-base.switch": {
        "count": 1
      },
      "n8n-nodes-base.postgres": {
        "count": 5
      },
      "n8n-nodes-base.telegram": {
        "count": 6
      },
      "n8n-nodes-base.httpRequest": {
        "count": 3
      },
      "n8n-nodes-base.telegramTrigger": {
        "count": 1
      }
    }
  },
  "categories": [
    {
      "id": 47,
      "name": "Chatbot IA"
    },
    {
      "id": 51,
      "name": "IA Multimodale"
    }
  ],
  "image": [
    {
      "id": 2166,
      "url": "https://n8niostorageaccount.blob.core.windows.net/n8nio-strapi-blobs-prod/assets/image_6192f20d4c.png"
    },
    {
      "id": 2167,
      "url": "https://n8niostorageaccount.blob.core.windows.net/n8nio-strapi-blobs-prod/assets/image_ff0a13ef2b.png"
    }
  ]
}