automation/i18n/fr-FR/Daily AI News Summaries with Gemini 2.5 Flash to Telegram.json
{
  "id": 6095,
  "name": "Résumé quotidien des actualités IA avec Gemini 2.5 Flash sur Telegram",
  "views": 703,
  "recentViews": 1,
  "totalViews": 703,
  "createdAt": "2025-07-17T15:14:13.419Z",
  "description": "## Recevez des briefings quotidiens sur l'IA dans Telegram avec Gemini & n8n\n\nVous en avez assez de parcourir d'innombrables articles pour rester informé sur l'intelligence artificielle ? Ce flux de travail vous transforme en analyste d'intelligence en récupérant automatiquement les dernières actualités sur l'IA, en utilisant Gemini de Google pour créer un résumé professionnel, et en livrant un briefing soigné directement dans votre chat Telegram.\n\nArrêtez de courir après les nouvelles et laissez les informations venir à vous\\! 🚀\n\n### 🚀 Ce que fait ce flux de travail\n\n  * **📰 Surveille un flux RSS :** Se déclenche automatiquement chaque fois qu'un nouvel article est publié sur le flux d'actualités IA spécifié (`artificialintelligence-news.com`).\n  * **🧠 Récupère le contenu de l'article :** Utilise [Jina AI](https://jina.ai/) pour lire et extraire le texte complet et propre du lien de l'article.\n  * **🤖 Génère un rapport IA :** Exploite la puissance du modèle **Google Gemini 2.5 Flash** pour analyser l'article et générer un briefing d'intelligence structuré et perspicace basé sur un prompt spécialisé.\n  * **📨 Livré à Telegram :** Envoie le rapport final, parfaitement formaté en markdown, en tant que message à votre chat Telegram choisi.\n\n### 🛠️ Ce dont vous aurez besoin pour commencer\n\n  * Une instance **[n8n](https://n8n.io/)** (cloud ou auto-hébergée).\n  * **[Identifiants Jina AI](https://jina.ai/)** : Vous aurez besoin d'une clé API de Jina AI. Vous pouvez en obtenir une sur le [site de Jina AI](https://jina.ai/).\n  * **[Identifiants Google Gemini](https://ai.google.dev/)** : Vous aurez besoin d'une clé API pour le modèle Gemini. Vous pouvez en générer une gratuitement depuis [Google AI Studio](https://aistudio.google.com/app/apikey).\n  * **[Identifiants du Bot Telegram](https://www.google.com/search?q=https://n8n.io/integrations/n8n-nodes-base.telegram/)** : Vous aurez besoin d'un jeton de bot Telegram et de l'ID de votre chat de destination. Vous pouvez apprendre comment les obtenir dans la [documentation Telegram de n8n](https://docs.n8n.io/integrations/credentials/telegram/).\n\n### ⚙️ Comment utiliser ce flux de travail\n\n1.  **Copiez le flux de travail** : Cliquez sur \"Utiliser le modèle\" pour importer ce flux de travail dans votre toile n8n.\n2.  **Configurer le nœud Jina AI** :\n      * Sélectionnez le nœud \"Lire les nouvelles du site d'actualités IA\".\n      * Dans la section \"Identifiants\", ajoutez votre clé API Jina AI.\n3.  **Configurer le nœud Gemini** :\n      * Sélectionnez le nœud \"Gemini 2.5 Flash\" sur la toile.\n      * Dans la section \"Identifiants\", ajoutez votre clé API Google Gemini.\n4.  **Configurer le nœud Telegram** :\n      * Sélectionnez le nœud \"Envoyer un message texte\".\n      * Ajoutez vos identifiants API Telegram.\n      * Dans le champ \"ID de chat\", entrez le chat, le groupe ou l'ID de canal spécifique où vous souhaitez recevoir les briefings d'actualités.\n5.  **Activez le flux de travail** : Appuyez sur le bouton \"Activer\" dans le coin supérieur droit. Votre analyste IA automatisé est maintenant en ligne\\!\n\n### ✨ Bonus : Élargissez votre briefing d'intelligence\n\nLe prompt dans le nœud \"Générer un rapport\" est conçu pour synthétiser des informations provenant de plusieurs sources. Vous pouvez facilement étendre ce flux de travail pour créer des rapports encore plus complets :\n\n1.  **Ajoutez un autre flux RSS** : Copiez le nœud \"Flux d'actualités IA\" et changez l'`URL du flux` vers une autre source.\n2.  **Connectez les nœuds** : Faites glisser la sortie du nouveau nœud de flux RSS vers le nœud \"Lire les nouvelles du site d'actualités IA\".\n3.  **C'est tout\\!** Le flux de travail traitera maintenant les articles des deux flux et le nœud Gemini identifiera automatiquement les thèmes communs et les histoires uniques comme indiqué dans le prompt.",
  "workflow": {
    "id": "zDkzvOtSzX6bWfNH",
    "meta": {
      "instanceId": "e57d916222032d19fc69f0f34e059f722d4f608515cab84ee2db9eaaa4240714",
      "templateCredsSetupCompleted": true
    },
    "name": "AI News to Telegram",
    "tags": [],
    "nodes": [
      {
        "id": "0977ff6e-f60d-4ace-aa2f-97b26c624703",
        "name": "Generate Report",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "position": [
          528,
          112
        ],
        "parameters": {
          "text": "=You are an expert AI Technology Analyst. Your task is to process scraped articles from two distinct news sources: \"AI Tech Suite News\" and \"AI-News\". Your goal is to synthesize this information into a single, concise, and insightful daily intelligence briefing.\n\nAnalyze the content from both sources to identify the most significant news, find common themes, and highlight unique stories from each. The final output must be a well-structured report formatted using ONLY the following Telegram-supported HTML tags: <b>, <i>, <u>, <s>, <code>, <pre>, and <a>. For lists, DO NOT use <ul>, <ol>, or <li> tags. Instead, create lists by starting each item on a new line with a hyphen character (-).\n\n\n**Input Data:**\n\n* **Data from AI-News:**\n    `\nTitle : {{ $json.title }}\nContent : {{ $json.content }}\nPublished : {{ $json.publishedTime }}\n`\n\n**Required Output Structure:**\n\n---\n\n**Today's AI Intelligence Briefing**\n**Date:** {{ new Date().toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' }) }}\n\n**Top Headlines**\n*(Identify the 3-4 most critical and impactful news items from across both sources. Present them as concise, single-sentence bullet points.)*\n* * * **Deep Dive: Major Developments & Common Themes**\n*(Analyze stories covered by both sources. For each major theme or event, provide a 2-3 sentence summary explaining the key points, the companies involved, and why it's significant. Use bold subheadings for each theme.)*\n\n**Theme/Story 1:**\n...\n\n**Theme/Story 2:**\n...\n\n\n**IMPORTANT** : Generate Text that can be sent to telegram chat as text message.",
          "batching": {},
          "promptType": "define"
        },
        "typeVersion": 1.7
      },
      {
        "id": "7132f95b-8154-411b-9b2c-9956e8744fc8",
        "name": "Gemini 2.5 Flash",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "position": [
          736,
          -32
        ],
        "parameters": {
          "options": {}
        },
        "credentials": {
          "googlePalmApi": {
            "id": "CRAXPLUPIbNPKb58",
            "name": "Google Gemini API"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "7bace8d8-2a5e-4eb8-89fd-ee9e44f128ff",
        "name": "Send a text message",
        "type": "n8n-nodes-base.telegram",
        "position": [
          1024,
          112
        ],
        "webhookId": "e82b0b62-3f1e-43b9-8785-7beb669ef7db",
        "parameters": {
          "text": "={{ $json.text }}",
          "chatId": "CHAT_ID",
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "G3ahQAPH5eCYY6FB",
            "name": "Telegram account"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "9583e193-69f6-45e5-a346-9afc4bcc3e28",
        "name": "AI-News Feed",
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "position": [
          -80,
          112
        ],
        "parameters": {
          "feedUrl": "https://www.artificialintelligence-news.com/feed/",
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "id": "c6bc8303-859f-4f94-8610-d68cb02ab9c6",
        "name": "Read News from AI News Website",
        "type": "n8n-nodes-base.jinaAi",
        "position": [
          224,
          112
        ],
        "parameters": {
          "url": "={{ $json.link }}",
          "options": {},
          "requestOptions": {}
        },
        "credentials": {
          "jinaAiApi": {
            "id": "n4cj9W8wOfjdQiaB",
            "name": "Jina AI account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "3e84bc24-1aab-4d23-b34b-a76edd077111",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -176,
          -112
        ],
        "parameters": {
          "width": 288,
          "height": 576,
          "content": "## **`AI-News Feed`**\n\nThis is the starting point of the workflow.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n* **Action:** Triggers automatically every minute.\n* **Source:** Fetches new articles from the RSS feed at `https://www.artificialintelligence-news.com/feed/`.\n* **Output:** Sends the new article's title, link, and other metadata to the next node."
        },
        "typeVersion": 1
      },
      {
        "id": "a517cd26-0a88-4441-8e67-550fdb111c5b",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          128,
          -112
        ],
        "parameters": {
          "color": 7,
          "width": 288,
          "height": 576,
          "content": "## **`Read News from AI News Website`**\n\nThis node gets the full content of the news article.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n* **Action:** Takes the `link` from the RSS Feed node.\n* **Service:** Uses Jina AI to \"scrape\" or read the full text from that link.\n* **Output:** Provides the clean content of the article to the report generation node.\n"
        },
        "typeVersion": 1
      },
      {
        "id": "41df0193-7200-46b1-a8c1-d82d975aa2ab",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          432,
          -112
        ],
        "parameters": {
          "color": 2,
          "width": 464,
          "height": 576,
          "content": "## **`Generate Report`**\n\nThis is the *`brain`* of the workflow.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n* **Action:** Uses the Gemini model to create a summary based on the prompt and the scraped article content.\n* **Function:** Uses the detailed prompt and the Gemini model to analyze the input and generate a structured news report.\n* **Output:** Sends the final, formatted report text to the Telegram node.\n"
        },
        "typeVersion": 1
      },
      {
        "id": "d38ce4da-0ccc-4eb6-a6c1-01b15b873535",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          912,
          -112
        ],
        "parameters": {
          "color": 6,
          "width": 320,
          "height": 576,
          "content": "## **`Send a text message in Telegram`**\n\nThis is the final step that sends the result.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n* **Action:** Takes the final report (`text` output) from the \"Generate Report\" node.\n* **Destination:** Sends this report as a message to your specified Telegram Chat ID.\n* **Result:** You receive the AI-generated news briefing in Telegram."
        },
        "typeVersion": 1
      },
      {
        "id": "6ba04be9-4cd6-4a06-b35d-eb9ecd56a2e0",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -480,
          -112
        ],
        "parameters": {
          "color": 3,
          "width": 288,
          "height": 576,
          "content": "## Workflow Summary: AI News to Telegram\n\nThis workflow automates the process of creating and delivering AI-powered news summaries.\n\n**End-to-End Process:**\n1.  **Trigger:** The workflow starts when a new article is published on the **AI-News** RSS feed.\n2.  **Scrape:** It uses **Jina AI** to read the full content of that article from its link.\n3.  **Analyze:** The scraped text is sent to the **Gemini 2.5 Flash LLM**.\n4.  **Generate:** The AI generates a structured summary based on a custom analyst prompt.\n5.  **Deliver:** The final, formatted report is sent as a message to a specific chat on **Telegram**.\n\n**Goal:** To provide automated, concise briefings of the latest articles from AI-News directly to Telegram."
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "7e8007df-6f0f-4612-934e-798ab660f92e",
    "connections": {
      "AI-News Feed": {
        "main": [
          [
            {
              "node": "Read News from AI News Website",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Report": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 2.5 Flash": {
        "ai_languageModel": [
          [
            {
              "node": "Generate Report",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Read News from AI News Website": {
        "main": [
          [
            {
              "node": "Generate Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 10,
    "nodeTypes": {
      "n8n-nodes-base.jinaAi": {
        "count": 1
      },
      "n8n-nodes-base.telegram": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 5
      },
      "@n8n/n8n-nodes-langchain.chainLlm": {
        "count": 1
      },
      "n8n-nodes-base.rssFeedReadTrigger": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.lmChatGoogleGemini": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Harsh Maniya",
    "username": "harshmaniya1",
    "bio": "Crafting Intelligent AI Solutions | AI Engineer building the next generation of intelligent workflows on n8n. Automating the complex, one node at a time.",
    "verified": true,
    "links": [
      "https://x.com/HarshhManiya"
    ],
    "avatar": "https://gravatar.com/avatar/ae32ae0741752e90c2e3e94aa16a68b89b48c24b685b86dbb54ade7ed21218d7?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 49,
      "icon": "file:telegram.svg",
      "name": "n8n-nodes-base.telegram",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                "icon": "💪",
                "label": "Using Automation to Boost Productivity in the Workplace"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-telegram-bots-with-n8n-a-no-code-platform/",
                "icon": "💬",
                "label": "Creating Telegram Bots with n8n, a No-Code Platform"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.telegram/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/telegram/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Telegram"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjYgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzM3YWVlMiIgZD0iTTAgMzJjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMyczMyLTE0LjMyNyAzMi0zMlM0OS42NzMgMCAzMiAwIDAgMTQuMzI3IDAgMzIiLz48cGF0aCBmaWxsPSIjYzhkYWVhIiBkPSJtMjEuNjYxIDM0LjMzOCAzLjc5NyAxMC41MDhzLjQ3NS45ODMuOTgzLjk4MyA4LjA2OC03Ljg2NCA4LjA2OC03Ljg2NGw4LjQwNy0xNi4yMzctMjEuMTE5IDkuODk4eiIvPjxwYXRoIGZpbGw9IiNhOWM2ZDgiIGQ9Im0yNi42OTUgMzcuMDM0LS43MjkgNy43NDZzLS4zMDUgMi4zNzMgMi4wNjggMGw0LjY0NC00LjIwMyIvPjxwYXRoIGQ9Im0yMS43MyAzNC43MTItNy44MDktMi41NDVzLS45MzItLjM3OC0uNjMzLTEuMjM3Yy4wNjItLjE3Ny4xODYtLjMyOC41NTktLjU4OCAxLjczMS0xLjIwNiAzMi4wMjgtMTIuMDk2IDMyLjAyOC0xMi4wOTZzLjg1Ni0uMjg4IDEuMzYxLS4wOTdjLjIzMS4wODguMzc4LjE4Ny41MDMuNTQ4LjA0NS4xMzIuMDcxLjQxMS4wNjguNjg5LS4wMDMuMjAxLS4wMjcuMzg2LS4wNDUuNjc4LS4xODQgMi45NzgtNS43MDYgMjUuMTk4LTUuNzA2IDI1LjE5OHMtLjMzIDEuMy0xLjUxNCAxLjM0NWMtLjQzMi4wMTYtLjk1Ni0uMDcxLTEuNTgyLS42MS0yLjMyMy0xLjk5OC0xMC4zNTItNy4zOTQtMTIuMTI2LTguNThhLjM0LjM0IDAgMCAxLS4xNDYtLjIzOWMtLjAyNS0uMTI1LjEwOC0uMjguMTA4LS4yOHMxMy45OC0xMi40MjcgMTQuMzUyLTEzLjczMWMuMDI5LS4xMDEtLjA3OS0uMTUxLS4yMjYtLjEwNy0uOTI5LjM0Mi0xNy4wMjUgMTAuNTA2LTE4LjgwMSAxMS42MjktLjEwNC4wNjYtLjM5NS4wMjMtLjM5NS4wMjMiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Telegram",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1123,
      "icon": "fa:link",
      "name": "@n8n/n8n-nodes-langchain.chainLlm",
      "codex": {
        "data": {
          "alias": [
            "LangChain"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainllm/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Chains",
              "Root Nodes"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Chaîne LLM de base",
        "color": "#909298"
      },
      "iconData": {
        "icon": "link",
        "type": "icon"
      },
      "displayName": "Basic LLM Chain",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1227,
      "icon": "fa:rss",
      "name": "n8n-nodes-base.rssFeedReadTrigger",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.rssfeedreadtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Déclencheur de flux RSS",
        "color": "#b02020"
      },
      "iconData": {
        "icon": "rss",
        "type": "icon"
      },
      "displayName": "RSS Feed Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1262,
      "icon": "file:google.svg",
      "name": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatgooglegemini/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Language Models",
              "Root Nodes"
            ],
            "Language Models": [
              "Chat Models (Recommended)"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Modèle de chat Google Gemini"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNDQuNSAyMEgyNHY4LjVoMTEuOEMzNC43IDMzLjkgMzAuMSAzNyAyNCAzN2MtNy4yIDAtMTMtNS44LTEzLTEzczUuOC0xMyAxMy0xM2MzLjEgMCA1LjkgMS4xIDguMSAyLjlsNi40LTYuNEMzNC42IDQuMSAyOS42IDIgMjQgMiAxMS44IDIgMiAxMS44IDIgMjRzOS44IDIyIDIyIDIyYzExIDAgMjEtOCAyMS0yMiAwLTEuMy0uMi0yLjctLjUtNCIvPjwvZGVmcz48Y2xpcFBhdGggaWQ9ImIiPjx1c2UgeGxpbms6aHJlZj0iI2EiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PC9jbGlwUGF0aD48cGF0aCBmaWxsPSIjRkJCQzA1IiBkPSJNMCAzN1YxMWwxNyAxM3oiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im0wIDExIDE3IDEzIDctNi4xTDQ4IDE0VjBIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiMzNEE4NTMiIGQ9Im0wIDM3IDMwLTIzIDcuOSAxTDQ4IDB2NDhIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik00OCA0OCAxNyAyNGwtNC0zIDM1LTEweiIgY2xpcC1wYXRoPSJ1cmwoI2IpIi8+PC9zdmc+"
      },
      "displayName": "Google Gemini Chat Model",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1297,
      "icon": "file:jinaAi.svg",
      "name": "n8n-nodes-base.jinaAi",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.jinaai/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/jinaai/"
              }
            ]
          },
          "categories": [
            "Miscellaneous"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Jina AI"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTI4cHgiIGhlaWdodD0iMTI4cHgiIHZpZXdCb3g9IjAgMCAxMjggMTI4IiB2ZXJzaW9uPSIxLjEiPgo8ZyBpZD0ic3VyZmFjZTEiPgo8cGF0aCBzdHlsZT0iIHN0cm9rZTpub25lO2ZpbGwtcnVsZTpldmVub2RkO2ZpbGw6cmdiKDAlLDAlLDAlKTtmaWxsLW9wYWNpdHk6MTsiIGQ9Ik0gMzUuMjQyMTg4IDExNC4yMTg3NSBDIDQ4LjgxNjQwNiAxMTQuMjE4NzUgNTkuODIwMzEyIDEwMy4yMTQ4NDQgNTkuODIwMzEyIDg5LjY0MDYyNSBDIDU5LjgyMDMxMiA3Ni4wNjY0MDYgNDguODE2NDA2IDY1LjA2MjUgMzUuMjQyMTg4IDY1LjA2MjUgQyAyMS42Njc5NjkgNjUuMDYyNSAxMC42NjQwNjIgNzYuMDY2NDA2IDEwLjY2NDA2MiA4OS42NDA2MjUgQyAxMC42NjQwNjIgMTAzLjIxNDg0NCAyMS42Njc5NjkgMTE0LjIxODc1IDM1LjI0MjE4OCAxMTQuMjE4NzUgWiBNIDExMS40MzM1OTQgMTAuNzQ2MDk0IEMgMTE0LjcxMDkzOCAxMC43NDYwOTQgMTE3LjMzMjAzMSAxMy4zNzEwOTQgMTE3LjMzMjAzMSAxNi42NDQ1MzEgTCAxMTcuMzMyMDMxIDY0LjY1NjI1IEMgMTE3LjMzMjAzMSA5Mi4wMTU2MjUgOTUuMjEwOTM4IDExNC4zMDQ2ODggNjguMTc1NzgxIDExNC42Mjg5MDYgTCA2OC4xNzU3ODEgNjQuNzM0Mzc1IEwgNjguMDE1NjI1IDE2LjU2NjQwNiBDIDY4LjAxNTYyNSAxMy4yODkwNjIgNzAuNjMyODEyIDEwLjY2Nzk2OSA3My45MTQwNjIgMTAuNjY3OTY5IEwgMTEyLjA4OTg0NCAxMC42Njc5NjkgWiBNIDExMS40MzM1OTQgMTAuNzQ2MDk0ICIvPgo8L2c+Cjwvc3ZnPgo="
      },
      "displayName": "Jina AI",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 11,
          "name": "Miscellaneous"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 43,
      "name": "Productivité personnelle"
    },
    {
      "id": 49,
      "name": "Résumé IA"
    }
  ],
  "image": []
}