automation/i18n/fr-FR/Extract Business Contact Leads from Google Maps with RapidAPI and Google Sheets.json
{
  "id": 5794,
  "name": "Extraire des prospects commerciaux à partir de Google Maps avec RapidAPI et Google Sheets",
  "views": 1271,
  "recentViews": 3,
  "totalViews": 1271,
  "createdAt": "2025-07-08T19:55:29.802Z",
  "description": "[**Suivez-moi sur LinkedIn pour plus !**](https://www.linkedin.com/in/javier-hitavb/)\n\n**Catégorie :** Génération de prospects, Collecte de données, Intelligence d'affaires\n\n**Tags :** génération-de-prospects, google-maps, rapidapi, données-entreprises, extraction-de-contacts, google-sheets, prévention-des-doublons, automatisation\n\n**Niveau de difficulté :** Intermédiaire\n\n**Temps de configuration estimé :** 15-20 minutes\n\n## Description du modèle\n\n### Aperçu\n\nCe puissant flux de travail n8n automatise l'extraction d'informations commerciales complètes à partir de Google Maps en utilisant des recherches basées sur des mots-clés via le service de données commerciales locales de RapidAPI. Parfait pour **la génération de prospects**, **la recherche de marché** et **l'analyse concurrentielle**, ce modèle collecte intelligemment des données commerciales, y compris des coordonnées, des profils de médias sociaux et des informations de localisation tout en prévenant les doublons et en optimisant l'utilisation de l'API.\n\n### Caractéristiques clés\n\n- **🔍 Grattage de Google Maps basé sur des mots-clés** : Recherchez tout type d'entreprise dans n'importe quel emplacement en utilisant des requêtes en langage naturel\n- **📧 Extraction d'informations de contact** : Extrait automatiquement les e-mails, numéros de téléphone et profils de médias sociaux (LinkedIn, Instagram, Facebook, etc.)\n- **🚫 Prévention intelligente des doublons** : La détection des doublons à deux niveaux permet d'économiser 50-80 % sur les coûts de l'API en évitant les recherches déjà traitées et en prévenant les entrées d'entreprises en double\n- **📊 Intégration avec Google Sheets** : Stockage de données sans faille avec organisation et structure automatiques\n- **🌍 Support multi-emplacements** : Traitez plusieurs villes, régions ou pays en une seule exécution de flux de travail\n- **⚡ Limitation de taux et gestion des erreurs** : Des délais intégrés et une gestion des erreurs garantissent une exécution fiable et ininterrompue\n- **💰 Optimisation des coûts** : Le regroupement intelligent et la prévention des doublons minimisent l'utilisation de l'API et les coûts\n- **📱 Collecte de données complète** : Rassemblez des noms d'entreprises, adresses, évaluations, avis, sites Web, statut de vérification, et plus encore\n\n### Prérequis\n\n#### Services et comptes requis\n1. **Compte RapidAPI** avec abonnement à l'[API ",
  "workflow": {
    "meta": {
      "instanceId": "ea94475e7076b2e72d3d36bb4202c7da062eea5a94e247647c6066ed6cd6f743",
      "templateCredsSetupCompleted": true
    },
    "nodes": [
      {
        "id": "a4df4dee-6fda-4051-99d0-63824e197820",
        "name": "Start Lead Generation",
        "type": "n8n-nodes-base.manualTrigger",
        "notes": "🚀 Click here to start extracting Google Maps business leads. Ensure your search criteria are configured in the Google Sheets 'keyword_searches' tab first.",
        "position": [
          -360,
          -320
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "51c45a00-0d87-4ff0-836c-5354e332f802",
        "name": "Configure Search Parameters",
        "type": "n8n-nodes-base.set",
        "notes": "⚙️ Prepares API search parameters from Google Sheets data. Modify the limit (max 100) and other parameters as needed for your use case.",
        "position": [
          1100,
          -300
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "b7344336-0887-40f5-b853-276eb1dba1bf",
                "name": "search",
                "type": "string",
                "value": "={{ $json.query }}"
              },
              {
                "id": "1eb2f614-e6e7-4b0f-bc39-02ce929873e6",
                "name": "latitude",
                "type": "string",
                "value": "={{ $json.lat }}"
              },
              {
                "id": "0cf94d77-ef0d-4b06-bbb1-c3040dd60a24",
                "name": "longitude",
                "type": "string",
                "value": "={{ $json.lon }}"
              },
              {
                "id": "0fc8e386-f81a-44b4-a5c4-162c1d85fd46",
                "name": "region",
                "type": "string",
                "value": "={{ $json.country_iso_code }}"
              },
              {
                "id": "c368eb39-dfc9-4790-987f-b97fd0297245",
                "name": "language",
                "type": "string",
                "value": "EN"
              },
              {
                "id": "cdb5db50-6d2f-4b80-9e47-4ace539290ba",
                "name": "zoom",
                "type": "string",
                "value": "13"
              },
              {
                "id": "d47e2e85-bcc8-48d0-a8a2-8b1d04bd2a16",
                "name": "limit",
                "type": "string",
                "value": "100"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "e6385c2d-4f61-495a-93ab-766541fa4579",
        "name": "Google Maps API Request",
        "type": "n8n-nodes-base.httpRequest",
        "notes": "🗺️ Calls RapidAPI's Local Business Data service to extract comprehensive business information from Google Maps, including emails and social media contacts.",
        "onError": "continueRegularOutput",
        "position": [
          1460,
          -300
        ],
        "parameters": {
          "url": "https://local-business-data.p.rapidapi.com/search-in-area",
          "options": {},
          "jsonQuery": "={\"query\":\"{{ $json.search }}\"\n  ,\"lat\":\"{{ $json.latitude }}\"\n  ,\"lng\":\"{{ $json.longitude }}\"\n  ,\"zoom\":\"{{ $json.zoom }}\"\n  ,\"limit\":\"{{ $json.limit }}\"\n  ,\"language\":\"{{ $json.language }}\"\n  ,\"region\":\"{{ $json.region }}\"\n  ,\"extract_emails_and_contacts\":\"true\"} ",
          "sendQuery": true,
          "specifyQuery": "json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "1UBwOxs2haJZLITp",
            "name": "Google Maps API"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "5ddb7eca-5989-4572-9ef6-d7f74f566b33",
        "name": "Parse Business Data",
        "type": "n8n-nodes-base.code",
        "notes": "🔄 Processes API response and extracts all business information including contact details, social media profiles, and location data into a structured format.",
        "position": [
          1800,
          -300
        ],
        "parameters": {
          "jsCode": "// Get the input data\nconst inputData = $input.first().json;\n\n// Try to find the data array and parameters\nlet data, parameters;\n\n// Check if inputData is the array directly\nif (Array.isArray(inputData)) {\n  // If inputData is an array, look for the object with data property\n  const dataObj = inputData.find(item => item.data);\n  if (dataObj) {\n    data = dataObj.data;\n    parameters = dataObj.parameters;\n  }\n} else if (inputData.data) {\n  // If inputData is an object with data property\n  data = inputData.data;\n  parameters = inputData.parameters;\n}\n\n// If we still don't have data, return an error\nif (!data || !Array.isArray(data)) {\n  return [{ json: { error: \"Could not find data array\", inputStructure: Object.keys(inputData) } }];\n}\n\n// Helper function to extract emails as comma-separated string\nfunction extractEmails(emailsArray) {\n  if (!emailsArray || !Array.isArray(emailsArray) || emailsArray.length === 0) {\n    return null;\n  }\n  return emailsArray.join(', ');\n}\n\n// Process each business\nconst outputData = data.map(business => ({\n  // Search parameters\n  query: parameters?.query || null,\n  language: parameters?.language || null,\n  lat: parameters?.lat || null,\n  lon: parameters?.lng || parameters?.lon || null,\n  zoom: parameters?.zoom || null,\n  limit: parameters?.limit || null,\n  \n  // Business data\n  business_id: business.business_id || null,\n  place_id: business.place_id || null,\n  phone_number: business.phone_number || null,\n  name: business.name || null,\n  full_address: business.full_address || null,\n  review_count: business.review_count || null,\n  rating: business.rating || null,\n  website: business.website || null,\n  verified: business.verified || null,\n  type: business.type || null,\n  reviews_link: business.reviews_link || null,\n  place_link: business.place_link || null,\n  about_summary: business.about?.summary || null,\n  address: business.address || null,\n  price_level: business.price_level || null,\n  district: business.district || null,\n  street_address: business.street_address || null,\n  city: business.city || null,\n  zipcode: business.zipcode || null,\n  state: business.state || null,\n  country: business.country || null,\n  \n  // Extract emails and social media contacts\n  email: extractEmails(business.emails_and_contacts?.emails),\n  linkedin: business.emails_and_contacts?.linkedin || null,\n  instagram: business.emails_and_contacts?.instagram || null,\n  \n  // Additional social media fields\n  facebook: business.emails_and_contacts?.facebook || null,\n  twitter: business.emails_and_contacts?.twitter || null,\n  youtube: business.emails_and_contacts?.youtube || null,\n  tiktok: business.emails_and_contacts?.tiktok || null,\n  pinterest: business.emails_and_contacts?.pinterest || null,\n  snapchat: business.emails_and_contacts?.snapchat || null,\n  github: business.emails_and_contacts?.github || null,\n  yelp: business.emails_and_contacts?.yelp || null,\n  \n  // Additional phone numbers from emails_and_contacts\n  additional_phones: business.emails_and_contacts?.phone_numbers?.length > 0 \n    ? business.emails_and_contacts.phone_numbers.join(', ') \n    : null\n}));\n\n// Return the processed data\nreturn outputData.map(item => ({ json: item }));"
        },
        "typeVersion": 2,
        "alwaysOutputData": true
      },
      {
        "id": "e88dbb0c-d2d6-4a3b-a4c1-0862a2755f4a",
        "name": "Load Search Criteria",
        "type": "n8n-nodes-base.googleSheets",
        "notes": "📋 Reads search criteria from the 'keyword_searches' sheet. Only processes rows marked with 'X' in the 'select' column for targeted lead generation.",
        "position": [
          80,
          -540
        ],
        "parameters": {
          "options": {},
          "filtersUI": {
            "values": [
              {
                "lookupValue": "X",
                "lookupColumn": "select"
              }
            ]
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "keyword_searches"
          },
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "YOUR_GOOGLE_SHEET_ID"
          }
        },
        "typeVersion": 4.6
      },
      {
        "id": "c7deb7f2-0df6-4929-9996-7e17bc6c493a",
        "name": "Process Each Location",
        "type": "n8n-nodes-base.splitInBatches",
        "notes": "🔄 Loops through each selected search criteria to avoid overwhelming the API and ensure reliable processing of multiple locations.",
        "position": [
          740,
          -320
        ],
        "parameters": {
          "options": {}
        },
        "typeVersion": 3
      },
      {
        "id": "932ee9e5-1924-4fa1-b7ed-b76817d8d1a0",
        "name": "Save New Leads",
        "type": "n8n-nodes-base.googleSheets",
        "notes": "💾 Saves only new business leads to the 'stores_data' sheet. Duplicates are filtered out by the previous merge step.",
        "position": [
          2100,
          -300
        ],
        "parameters": {
          "columns": {
            "value": {
              "lat": "={{ $json.lat }}",
              "lon": "={{ $json.lon }}",
              "city": "={{ $json.city }}",
              "name": "={{ $json.name }}",
              "type": "={{ $json.type }}",
              "zoom": "={{ $json.zoom }}",
              "email": "={{ $json.email }}",
              "limit": "={{ $json.limit }}",
              "query": "={{ $json.query }}",
              "state": "={{ $json.state }}",
              "rating": "={{ $json.rating }}",
              "address": "={{ $json.full_address }}",
              "country": "={{ $json.country }}",
              "website": "={{ $json.website }}",
              "district": "={{ $json.district }}",
              "language": "={{ $json.language }}",
              "linkedin": "={{ $json.linkedin }}",
              "place_id": "={{ $json.place_id }}",
              "verified": "={{ $json.verified }}",
              "zip_code": "={{ $json.zipcode }}",
              "instagram": "={{ $json.instagram }}",
              "place_link": "={{ $json.place_link }}",
              "business_id": "={{ $json.business_id }}",
              "price_level": "={{ $json.price_level }}",
              "full_address": "={{ $json.full_address }}",
              "phone_number": "={{ $json.phone_number }}",
              "review_count": "={{ $json.review_count }}",
              "reviews_link": "={{ $json.reviews_link }}",
              "about_summary": "={{ $json.about_summary }}",
              "street_address": "={{ $json.street_address }}",
              "additional_phones": "={{ $json.additional_phones }}"
            },
            "schema": [
              {
                "id": "business_id",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "business_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "query",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "query",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "name",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "phone_number",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "phone_number",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "email",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "email",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "website",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "website",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "full_address",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "full_address",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "rating",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "rating",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "linkedin",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "linkedin",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "instagram",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "instagram",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "append",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "stores_data"
          },
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "YOUR_GOOGLE_SHEET_ID"
          }
        },
        "typeVersion": 4.6
      },
      {
        "id": "8a36189b-b07f-4af1-bc55-f0c835251927",
        "name": "Rate Limit Delay",
        "type": "n8n-nodes-base.wait",
        "notes": "⏱️ 10-second delay between API calls to respect rate limits and prevent being blocked. Adjust timing based on your API plan.",
        "position": [
          2100,
          -20
        ],
        "webhookId": "0bb83f04-8260-42b7-b108-632b91040a0e",
        "parameters": {
          "amount": 10
        },
        "typeVersion": 1.1
      },
      {
        "id": "53044569-b459-4825-8ce5-a82c2d80fb45",
        "name": "Load Existing Leads",
        "type": "n8n-nodes-base.googleSheets",
        "notes": "📊 Reads existing leads from the database to enable duplicate detection and prevent re-processing the same businesses.",
        "position": [
          60,
          -40
        ],
        "parameters": {
          "options": {},
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "stores_data"
          },
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "YOUR_GOOGLE_SHEET_ID"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YnLHwhwL7bsy8LoY",
            "name": "Google Sheets account"
          }
        },
        "typeVersion": 4.6
      },
      {
        "id": "511e0baf-8741-431f-9c88-b2e2237b9ebb",
        "name": "Filter New Searches",
        "type": "n8n-nodes-base.merge",
        "notes": "🔍 Smart duplicate prevention: Only processes search criteria that haven't been executed before, saving API calls and avoiding duplicate data.",
        "position": [
          440,
          -320
        ],
        "parameters": {
          "mode": "combine",
          "options": {},
          "joinMode": "keepNonMatches",
          "outputDataFrom": "input1",
          "fieldsToMatchString": "query, lat"
        },
        "typeVersion": 3.2
      },
      {
        "id": "73efc100-3000-4936-a67b-30bdde13ba7d",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -840,
          -520
        ],
        "parameters": {
          "color": 4,
          "width": 400,
          "height": 620,
          "content": "# Google Maps Lead Generation Workflow\n\n## 🎯 **Overview**\nThis workflow extracts business leads from Google Maps with contact information and stores them in Google Sheets with intelligent duplicate prevention.\n\n## 📋 **Before Starting:**\n1. Set up RapidAPI account with Local Business Data API\n2. Create Google Sheet with 'keyword_searches' and 'stores_data' tabs\n3. Configure credentials in n8n\n4. Add your search queries to Google Sheets\n\n## 🚀 **How to Use:**\n- Mark search queries with 'X' in select column\n- Click 'Start Lead Generation' to begin\n- Workflow automatically prevents duplicates\n- Results saved to 'stores_data' sheet"
        },
        "typeVersion": 1
      },
      {
        "id": "45ee9c11-3bf7-44dc-8359-cedf43e7c100",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -280,
          -940
        ],
        "parameters": {
          "color": 5,
          "width": 350,
          "height": 400,
          "content": "## 📊 **INPUT DATA STRUCTURE**\n\n**keyword_searches** sheet columns:\n```\n| select | query | lat | lon | country_iso_code |\n|--------|-------|-----|-----|------------------|\n| X | Restaurants Madrid | 40.4168 | -3.7038 | ES |\n| X | Hair Salons NYC | 40.7589 | -73.9851 | US |\n```\n\n**Tips:**\n- Use 'X' to mark queries for processing\n- Be specific with search terms\n- Include accurate coordinates\n- Use 2-letter country codes"
        },
        "typeVersion": 1
      },
      {
        "id": "96e90ea0-93e3-4f95-a51a-1d37c17c4476",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          340,
          -740
        ],
        "parameters": {
          "color": 6,
          "width": 320,
          "height": 740,
          "content": "## 🔄 **DUPLICATE PREVENTION**\n\nThis workflow has **2-level duplicate prevention:**\n\n**Level 1: Search Level**\n- Compares new queries with existing data\n- Skips queries already processed\n- Saves API costs (50-80% reduction)\n\n**Level 2: Business Level**\n- Each business has unique business_id\n- Prevents duplicate business entries\n- Maintains data integrity"
        },
        "typeVersion": 1
      },
      {
        "id": "a31ffc0b-2bdd-419c-97b9-583af5b91e3a",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          960,
          -520
        ],
        "parameters": {
          "color": 7,
          "width": 320,
          "height": 200,
          "content": "## ⚙️ **API CONFIGURATION**\n\n**Search Parameters:**\n- **Limit**: 100 results max per query\n- **Zoom**: 13 (city-wide) to 18 (local)\n- **Language**: EN, ES, FR, etc.\n- **Extract Contacts**: Always enabled\n\n**Rate Limiting:**\n- 10 seconds between requests\n- Prevents API blocking\n- Adjustable based on your plan"
        },
        "typeVersion": 1
      },
      {
        "id": "20ddcaad-738a-4bed-93ff-c7a044c3fc21",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1420,
          -720
        ],
        "parameters": {
          "color": 5,
          "width": 540,
          "height": 400,
          "content": "## 📱 **EXTRACTED DATA**\n\n**Business Information:**\n- Name, address, phone, website\n- Rating, reviews, verification status\n- Business type, price level\n\n**Contact Details:**\n- Email addresses\n- LinkedIn, Instagram profiles\n- Facebook, Twitter, YouTube\n- Additional phone numbers\n\n**Location Data:**\n- Full address, coordinates\n- City, state, country, zip code"
        },
        "typeVersion": 1
      },
      {
        "id": "20ccaa92-bf61-4f75-a81b-d6b1e0f550b5",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2160,
          -660
        ],
        "parameters": {
          "color": 3,
          "width": 350,
          "height": 340,
          "content": "## 📈 **EXECUTION FLOW**\n\n**1.** Load search criteria (marked with X)\n**2.** Load existing leads for comparison\n**3.** Filter out already processed searches\n**4.** Loop through each new search\n**5.** Configure API parameters\n**6.** Call Google Maps API\n**7.** Parse and structure data\n**8.** Save new leads to sheet\n**9.** Wait 10 seconds (rate limiting)\n**10.** Continue to next search\n\n✅ **Result**: Clean, organized lead database without duplicates!"
        },
        "typeVersion": 1
      }
    ],
    "pinData": {},
    "connections": {
      "Save New Leads": {
        "main": [
          [
            {
              "node": "Rate Limit Delay",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rate Limit Delay": {
        "main": [
          [
            {
              "node": "Process Each Location",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter New Searches": {
        "main": [
          [
            {
              "node": "Process Each Location",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Existing Leads": {
        "main": [
          [
            {
              "node": "Filter New Searches",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Parse Business Data": {
        "main": [
          [
            {
              "node": "Save New Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Search Criteria": {
        "main": [
          [
            {
              "node": "Filter New Searches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Each Location": {
        "main": [
          [],
          [
            {
              "node": "Configure Search Parameters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Lead Generation": {
        "main": [
          [
            {
              "node": "Load Search Criteria",
              "type": "main",
              "index": 0
            },
            {
              "node": "Load Existing Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Maps API Request": {
        "main": [
          [
            {
              "node": "Parse Business Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configure Search Parameters": {
        "main": [
          [
            {
              "node": "Google Maps API Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 16,
    "nodeTypes": {
      "n8n-nodes-base.set": {
        "count": 1
      },
      "n8n-nodes-base.code": {
        "count": 1
      },
      "n8n-nodes-base.wait": {
        "count": 1
      },
      "n8n-nodes-base.merge": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 6
      },
      "n8n-nodes-base.httpRequest": {
        "count": 1
      },
      "n8n-nodes-base.googleSheets": {
        "count": 3
      },
      "n8n-nodes-base.manualTrigger": {
        "count": 1
      },
      "n8n-nodes-base.splitInBatches": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Javier Hita",
    "username": "javierhita",
    "bio": "Building Automation tools as a Data Analyst for over 6 years, N8N is a great tool to leverage that background.",
    "verified": true,
    "links": [
      "https://www.linkedin.com/in/javier-hitavb/"
    ],
    "avatar": "https://gravatar.com/avatar/a22926e0c6bba7b02af9d29d925b789f4266d08685009f9cc7b24992459977d4?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 18,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheets",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Sheet",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                "icon": "❤️",
                "label": "Love at first sight: Ricardo’s n8n journey"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                "icon": "⏲",
                "label": "Creating triggers for n8n workflows using polling"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                "icon": "🍔",
                "label": "How Honest Burgers Use Automation to Save $100k per year"
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\",\"output\"]",
      "defaults": {
        "name": "Google Sheets"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets",
      "typeVersion": 5,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Requête HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 24,
      "icon": "file:merge.svg",
      "name": "n8n-nodes-base.merge",
      "codex": {
        "data": {
          "alias": [
            "Join",
            "Concatenate",
            "Wait"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-to-sync-data-between-two-systems/",
                "icon": "🏬",
                "label": "How to synchronize data between two systems (one-way vs. two-way sync"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                "icon": "👦",
                "label": "Build your own virtual assistant with n8n: A step by step guide"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.merge/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Fusionner"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTc3XzUxOCkiPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAgNDhDMCAyMS40OTAzIDIxLjQ5MDMgMCA0OCAwSDExMkMxMzguNTEgMCAxNjAgMjEuNDkwMyAxNjAgNDhWNTZIMTk2LjI1MkMyNDAuNDM1IDU2IDI3Ni4yNTIgOTEuODE3MiAyNzYuMjUyIDEzNlYxOTJDMjc2LjI1MiAyMTQuMDkxIDI5NC4xNjEgMjMyIDMxNi4yNTIgMjMySDM1MlYyMjRDMzUyIDE5Ny40OSAzNzMuNDkgMTc2IDQwMCAxNzZINDY0QzQ5MC41MSAxNzYgNTEyIDE5Ny40OSA1MTIgMjI0VjI4OEM1MTIgMzE0LjUxIDQ5MC41MSAzMzYgNDY0IDMzNkg0MDBDMzczLjQ5IDMzNiAzNTIgMzE0LjUxIDM1MiAyODhWMjgwSDMxNi4yNTJDMjk0LjE2MSAyODAgMjc2LjI1MiAyOTcuOTA5IDI3Ni4yNTIgMzIwVjM3NkMyNzYuMjUyIDQyMC4xODMgMjQwLjQzNSA0NTYgMTk2LjI1MiA0NTZIMTYwVjQ2NEMxNjAgNDkwLjUxIDEzOC41MSA1MTIgMTEyIDUxMkg0OEMyMS40OTAzIDUxMiAwIDQ5MC41MSAwIDQ2NFY0MDBDMCAzNzMuNDkgMjEuNDkwMyAzNTIgNDggMzUySDExMkMxMzguNTEgMzUyIDE2MCAzNzMuNDkgMTYwIDQwMFY0MDhIMTk2LjI1MkMyMTMuOTI1IDQwOCAyMjguMjUyIDM5My42NzMgMjI4LjI1MiAzNzZWMzIwQzIyOC4yNTIgMjk0Ljc4NCAyMzguODU5IDI3Mi4wNDQgMjU1Ljg1MyAyNTZDMjM4Ljg1OSAyMzkuOTU2IDIyOC4yNTIgMjE3LjIxNiAyMjguMjUyIDE5MlYxMzZDMjI4LjI1MiAxMTguMzI3IDIxMy45MjUgMTA0IDE5Ni4yNTIgMTA0SDE2MFYxMTJDMTYwIDEzOC41MSAxMzguNTEgMTYwIDExMiAxNjBINDhDMjEuNDkwMyAxNjAgMCAxMzguNTEgMCAxMTJWNDhaTTEwNCA0OEMxMDguNDE4IDQ4IDExMiA1MS41ODE3IDExMiA1NlYxMDRDMTEyIDEwOC40MTggMTA4LjQxOCAxMTIgMTA0IDExMkg1NkM1MS41ODE3IDExMiA0OCAxMDguNDE4IDQ4IDEwNFY1NkM0OCA1MS41ODE3IDUxLjU4MTcgNDggNTYgNDhIMTA0Wk00NTYgMjI0QzQ2MC40MTggMjI0IDQ2NCAyMjcuNTgyIDQ2NCAyMzJWMjgwQzQ2NCAyODQuNDE4IDQ2MC40MTggMjg4IDQ1NiAyODhINDA4QzQwMy41ODIgMjg4IDQwMCAyODQuNDE4IDQwMCAyODBWMjMyQzQwMCAyMjcuNTgyIDQwMy41ODIgMjI0IDQwOCAyMjRINDU2Wk0xMTIgNDA4QzExMiA0MDMuNTgyIDEwOC40MTggNDAwIDEwNCA0MDBINTZDNTEuNTgxNyA0MDAgNDggNDAzLjU4MiA0OCA0MDhWNDU2QzQ4IDQ2MC40MTggNTEuNTgxNyA0NjQgNTYgNDY0SDEwNEMxMDguNDE4IDQ2NCAxMTIgNDYwLjQxOCAxMTIgNDU2VjQwOFoiIGZpbGw9IiM1NEI4QzkiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTc3XzUxOCI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Merge",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 38,
      "icon": "fa:pen",
      "name": "n8n-nodes-base.set",
      "codex": {
        "data": {
          "alias": [
            "Set",
            "JS",
            "JSON",
            "Filter",
            "Transform",
            "Map"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Modifier les champs"
      },
      "iconData": {
        "icon": "pen",
        "type": "icon"
      },
      "displayName": "Edit Fields (Set)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 39,
      "icon": "fa:sync",
      "name": "n8n-nodes-base.splitInBatches",
      "codex": {
        "data": {
          "alias": [
            "Loop",
            "Concatenate",
            "Batch",
            "Split",
            "Split In Batches"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"organization\"]",
      "defaults": {
        "name": "Boucle sur les éléments",
        "color": "#007755"
      },
      "iconData": {
        "icon": "sync",
        "type": "icon"
      },
      "displayName": "Loop Over Items (Split in Batches)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 514,
      "icon": "fa:pause-circle",
      "name": "n8n-nodes-base.wait",
      "codex": {
        "data": {
          "alias": [
            "pause",
            "sleep",
            "delay",
            "timeout"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.wait/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Flow"
            ]
          }
        }
      },
      "group": "[\"organization\"]",
      "defaults": {
        "name": "Attendre",
        "color": "#804050"
      },
      "iconData": {
        "icon": "pause-circle",
        "type": "icon"
      },
      "displayName": "Wait",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 834,
      "icon": "file:code.svg",
      "name": "n8n-nodes-base.code",
      "codex": {
        "data": {
          "alias": [
            "cpde",
            "Javascript",
            "JS",
            "Python",
            "Script",
            "Custom Code",
            "Function"
          ],
          "details": "The Code node allows you to execute JavaScript in your workflow.",
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Code"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Code",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 838,
      "icon": "fa:mouse-pointer",
      "name": "n8n-nodes-base.manualTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lorsque vous cliquez sur ‘Exécuter le flux de travail’",
        "color": "#909298"
      },
      "iconData": {
        "icon": "mouse-pointer",
        "type": "icon"
      },
      "displayName": "Manual Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 37,
      "name": "Génération de prospects"
    }
  ],
  "image": [],
  "Local Business Data": "\n   - Abonnez-vous à un plan (le plan de base prend en charge 1000 requêtes/mois)\n\n2. **Obtenir les identifiants API**\n   - Copiez votre `X-RapidAPI-Key` depuis le tableau de bord de l'API\n   - Notez l'hôte : `local-business-data.p.rapidapi.com`\n\n3. **Configurer les identifiants n8n**\n   - Dans n8n : Paramètres → Identifiants → Créer nouveau\n   - Type : Authentification par en-tête HTTP\n   - Nom : `RapidAPI Local Business Data`\n   - Ajoutez les en-têtes :\n     - `X-RapidAPI-Key` : `YOUR_API_KEY`\n     - `X-RapidAPI-Host` : `local-business-data.p.rapidapi.com`\n\n#### Étape 2 : Configuration de Google Sheets\n\n1. **Activer l'API Google Sheets**\n   - Allez sur [Google Cloud Console](https://console.cloud.google.com)\n   - Activez l'API Google Sheets pour votre projet\n   - Créez des identifiants OAuth2\n\n2. **Configurer les identifiants n8n**\n   - Dans n8n : Paramètres → Identifiants → Créer nouveau\n   - Type : API OAuth2 Google Sheets\n   - Suivez le processus de configuration OAuth2\n\n3. **Créer la structure de Google Sheet**\n\nCréez une nouvelle feuille Google avec ces onglets :\n\n**feuille keyword_searches :**\n```\n| sélectionner | requête | lat | lon | code_iso_pays |\n|--------------|--------|-----|-----|----------------|\n| X            | Restaurants Madrid | 40.4168 | -3.7038 | ES |\n| X            | Salons de coiffure Brooklyn | 40.6782 | -73.9442 | US |\n| X            | Cafés Paris | 48.8566 | 2.3522 | FR |\n```\n\n**feuille stores_data :**\n```\nLe flux de travail créera automatiquement des colonnes pour les données commerciales, y compris :\nbusiness_id, nom, numéro_de_téléphone, e-mail, site_web, adresse_complete, évaluation, \ncompte_avis, linkedin, instagram, requête, lat, lon, et 25+ autres champs\n```\n\n#### Étape 3 : Configuration du flux de travail\n\n1. **Importer le flux de travail**\n   - Copiez le JSON fourni\n   - Dans n8n : Importer depuis JSON\n\n2. **Mettre à jour les valeurs de remplacement**\n   - Remplacez `YOUR_GOOGLE_SHEET_ID` par votre véritable ID de feuille Google\n   - Mettez à jour les références d'identifiants pour correspondre à votre configuration\n\n3. **Configurer les paramètres de recherche** (facultatif)\n   - Ajustez `limit` : 1-100 résultats par requête (par défaut : 100)\n   - Modifiez `zoom` : 10-18 rayon de recherche (par défaut : 13)\n   - Changez `language` : EN, ES, FR, etc. (par défaut : EN)\n\n### Comment ça fonctionne\n\n#### Processus de flux de travail\n\n1. **Charger les critères de recherche** : Lit les requêtes marquées par \"X\" depuis la feuille `keyword_searches`\n2. **Charger les données existantes** : Récupère les données déjà traitées pour la détection des doublons\n3. **Filtrer les nouvelles recherches** : La fusion intelligente identifie uniquement les nouvelles combinaisons requête+localisation\n4. **Traiter chaque emplacement** : Le traitement séquentiel empêche la surcharge de l'API\n5. **Configurer les paramètres** : Prépare les paramètres de recherche à partir des données de la feuille\n6. **Requête API** : Appelle RapidAPI pour extraire les informations commerciales\n7. **Analyser les données** : Structure et nettoie toutes les informations commerciales\n8. **Enregistrer les résultats** : Stocke les nouveaux prospects dans la feuille `stores_data`\n9. **Limitation de taux** : Délai de 10 secondes entre les requêtes\n10. **Boucle** : Continue jusqu'à ce que toutes les nouvelles recherches soient traitées\n\n#### Logique de prévention des doublons\n\n**Niveau de recherche** : Compare les nouvelles requêtes avec les données existantes en utilisant la combinaison requête+latitude, en évitant les recherches déjà traitées.\n\n**Niveau commercial** : Chaque entreprise reçoit un `business_id` unique pour prévenir les entrées en double même à travers différentes recherches.\n\n### Données extraites\n\n#### Informations commerciales\n- Nom de l'entreprise, adresse complète, numéro de téléphone\n- URL du site Web, évaluation Google My Business et nombre d'avis\n- Type d'entreprise, niveau de prix, statut de vérification\n- Coordonnées géographiques (latitude/longitude)\n- Détails de localisation (rue, ville, état, pays, code postal)\n\n#### Détails de contact\n- Adresses e-mail (lorsqu'elles sont publiquement disponibles)\n- Profils de médias sociaux : LinkedIn, Instagram, Facebook, Twitter, YouTube, TikTok, Pinterest\n- Numéros de téléphone supplémentaires\n- Liens directs vers Google Maps et les avis\n\n#### Métadonnées de recherche\n- Requête de recherche originale et paramètres\n- Horodatage d'extraction et données géographiques\n- Détails de la réponse API pour le suivi\n\n### Cas d'utilisation\n\n#### **Génération de prospects**\n- Générer des listes de prospects ciblés pour les ventes B2B\n- Créer des bases de données clients spécifiques à un emplacement\n- Créer des listes de contacts spécifiques à un secteur\n- Développer des stratégies de vente basées sur le territoire\n\n#### **Recherche de marché**\n- Analyser la densité des concurrents sur les marchés cibles\n- Étudier la distribution des entreprises\n"
}