automation/i18n/fr-FR/Extract Website URLs from Sitemap.XML for SEO Analysis.json
{
  "id": 4671,
  "name": "Extraire les URL des sites Web à partir de Sitemap.XML pour l'analyse SEO",
  "views": 4842,
  "recentViews": 5,
  "totalViews": 4842,
  "createdAt": "2025-06-05T03:47:49.851Z",
  "description": "## Aperçu\nCe flux de travail n8n automatise le processus de crawl d'un sitemap de site Web pour extraire des URL, ce qui est particulièrement utile pour l'analyse SEO, l'audit de site Web ou la surveillance de contenu. En tirant parti des nœuds de n8n, le flux de travail récupère le sitemap à partir d'une URL spécifiée, traite les données XML et extrait les URL individuelles, qui peuvent ensuite être converties en un fichier téléchargeable ou intégrées à des outils comme Google Sheets.\n\n## Comment ça fonctionne\nLe flux de travail fonctionne de manière séquentielle, utilisant une série de nœuds pour récupérer, analyser et traiter les données du sitemap :\n1. **Déclencheur** : S'initie lorsque l'utilisateur clique sur \"Tester le flux de travail\" (nœud `Déclencheur manuel`).\n2. **Définir l'URL** : Définit le domaine de base (par exemple, `https://phu.io.vn/`) pour le sitemap (nœud `Définir l'URL`).\n3. **Explorer le Sitemap** : Récupère le fichier sitemap principal (`sitemap.xml`) à partir du domaine spécifié en utilisant une requête HTTP (nœud `Explorer le sitemap`).\n4. **Analyser XML** : Convertit le sitemap XML en un format JSON pour un traitement plus facile (nœud `XML`).\n5. **Diviser le Sitemap** : Extrait les entrées individuelles du sitemap (par exemple, les balises `&lt;sitemap&gt;`) à partir des données analysées (nœud `Diviser`).\n6. **Explorer le Sous-Sitemap** : Récupère chaque URL de sous-sitemap répertoriée dans le sitemap principal (nœud `Explorer le sitemap 2`).\n7. **Analyser le Sous-Sitemap XML** : Convertit le sous-sitemap XML en JSON (nœud `XML 2`).\n8. **Diviser les URL** : Extrait les URL individuelles (par exemple, les balises `&lt;url&gt;`) à partir du sous-sitemap (nœud `Diviser 2`).\n9. **Convertir en Fichier** : Enregistre les URL extraites dans un fichier pour téléchargement ou utilisation ultérieure (nœud `Convertir en Fichier`).\n\nCe flux de travail prend en charge à la fois les fichiers sitemap uniques et les index de sitemap qui référencent plusieurs sous-sitemaps, garantissant une extraction complète des URL.\n\n## Comment utiliser\nPour mettre en œuvre ce flux de travail dans n8n, suivez ces étapes :\n1. **Configurer n8n** : Assurez-vous d'avoir une instance n8n active (Cloud, npm ou auto-hébergée). Consultez la [documentation n8n](https://docs.n8n.io/choose-n8n/) pour les instructions de configuration.\n2. **Importer le Flux de Travail** : Copiez le JSON du fichier `Extraire les URL des sites Web à partir de Sitemap.XML pour l'analyse SEO.json` et importez-le dans votre instance n8n via l'éditeur de flux de travail.\n3. **Configurer le Domaine** :\n   - Dans le nœud `Définir l'URL`, mettez à jour le paramètre `Domaine` avec l'URL de base du site Web cible (par exemple, `https://example.com/`).\n   - Alternativement, dans le nœud `Explorer le sitemap`, collez directement l'URL complète du sitemap si connue (par exemple, `https://example.com/sitemap.xml`).\n4. **Tester le Flux de Travail** :\n   - Cliquez sur \"Tester le flux de travail\" pour exécuter le nœud `Déclencheur manuel`.\n   - Vérifiez que le flux de travail récupère le sitemap et traite les URL correctement.\n5. **Télécharger ou Intégrer** :\n   - Le nœud `Convertir en Fichier` génère un fichier contenant les URL extraites.\n   - En option, remplacez ce nœud par un nœud Google Sheets pour ajouter des URL à une feuille de calcul. Consultez la [documentation du nœud Google Sheets](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/) pour la configuration.\n6. **Enregistrer et Activer** : Enregistrez le flux de travail et activez-le pour une utilisation en production si nécessaire, en utilisant un déclencheur comme un calendrier ou un webhook (voir [Nœud de Déclenchement](https://docs.n8n.io/glossary/#trigger-node-n8n)).\n\n## Exigences\n- **Instance n8n** : Une instance n8n active (version 1.0 ou ultérieure recommandée) sur n8n Cloud, npm ou auto-hébergée (Docker). Voir [Choisissez votre n8n](https://docs.n8n.io/choose-n8n/) pour plus de détails.\n- **Connaissances Techniques** : Compréhension de base de l'interface utilisateur de l'éditeur n8n et de la configuration des nœuds. La familiarité avec les sitemaps XML est utile mais pas obligatoire.\n- **Permissions** : Pour les configurations auto-hébergées, assurez-vous que le processus n8n a accès au réseau pour récupérer l'URL du sitemap. Pour les déploiements Docker, vérifiez les permissions comme indiqué dans le [guide de migration n8n v1.0](https://docs.n8n.io/1-0-migration-checklist/#docker).\n- **Optionnel** : Si vous intégrez avec Google Sheets, des identifiants Google Sheets valides sont requis (voir [Identifiants](https://docs.n8n.io/credentials/)).\n- **Configuration du Timeout** : Les nœuds de requête HTTP (`Explorer le sitemap` et `Explorer le sitemap 2`) ont un timeout de 10 secondes. Ajustez le paramètre `timeout` dans les paramètres du nœud si vous traitez avec des serveurs à réponse lente.\n\n## FAQ\n**Q : Que se passe-t-il si le sitemap est volumineux ou contient de nombreux sous-sitemaps ?**  \nR : Le flux de travail gère les index de sitemap en divisant et en traitant chaque sous-sitemap individuellement. Pour des sitemaps très volumineux, assurez-vous que votre instance n8n dispose de ressources suffisantes (mémoire et CPU) pour éviter des problèmes de performance. Consultez [Mise à l'échelle de n8n](https://docs.n8n.io/hosting/scaling/) pour des conseils d'optimisation.\n\n**Q : Puis-je utiliser ce flux de travail avec une URL de sitemap spécifique au lieu d'un domaine ?**  \nR : Oui, dans le nœud `Explorer le sitemap`, remplacez le paramètre `url` (`{{ $json.Domain }}sitemap.xml`) par l'URL directe du sitemap (par exemple, `https://example.com/sitemap.xml`). Mettez à jour les notes du nœud pour plus de clarté.\n\n**Q : Pourquoi reçois-je une erreur de timeout ?**  \nR : Les nœuds de requête HTTP ont un timeout par défaut de 10 secondes. Si le serveur cible est lent, augmentez la valeur `timeout` dans le paramètre `options` des nœuds `Explorer le sitemap` ou `Explorer le sitemap 2`.\n\n**Q : Comment puis-je enregistrer les URL dans Google Sheets au lieu d'un fichier ?**  \nR : Remplacez le nœud `Convertir en Fichier` par un nœud Google Sheets. Configurez-le avec vos identifiants Google Sheets et mappez le champ `loc` du nœud `Diviser 2` à la colonne de feuille de calcul souhaitée. Consultez la [documentation du nœud Google Sheets](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/).\n\n**Q : Ce flux de travail est-il compatible avec les anciennes versions de n8n ?**  \nR : Le flux de travail utilise des nœuds compatibles avec la version 1.0 de n8n et ultérieure. Pour les anciennes versions, vérifiez les fonctionnalités obsolètes (par exemple, le support MySQL) dans le [guide de migration n8n v1.0](https://docs.n8n.io/1-0-migration-checklist/).\n\n**Q : Puis-je automatiser ce flux de travail pour qu'il s'exécute périodiquement ?**  \nR : Oui, remplacez le nœud `Déclencheur manuel` par un nœud `Déclencheur de calendrier` pour exécuter le flux de travail à intervalles réguliers. Consultez [Nœuds de Déclenchement](https://docs.n8n.io/glossary/#trigger-node-n8n) pour les détails de configuration.\n\nPour plus d'assistance, consultez le [Forum de la Communauté n8n](https://community.n8n.io/) ou soumettez un problème sur le [dépôt GitHub de n8n](https://github.com/n8n-io/n8n).\n\n## Besoin d'aide pour personnaliser ?\nContactez-moi pour des conseils et du soutien ou ajoutez-moi sur [Facebook](https://www.facebook.com/lethuaphu) ou [email](mailto:lethuaphu15@gmail.com).",
  "workflow": {
    "id": "n2iZmshLmcXubEpo",
    "meta": {
      "instanceId": "e704ee1a5300eff6019042bec66778b3a26c1aec8f3e21c554a16dd7216a94ee",
      "templateCredsSetupCompleted": true
    },
    "name": "Extract Website URLs from Sitemap.XML for SEO Analysis",
    "tags": [
      {
        "id": "MePRktFsL1ttwWdT",
        "name": "website",
        "createdAt": "2025-05-12T18:47:34.764Z",
        "updatedAt": "2025-05-12T18:47:34.764Z"
      },
      {
        "id": "xutdortHHmV1yNZB",
        "name": "SEO",
        "createdAt": "2025-03-24T16:18:45.828Z",
        "updatedAt": "2025-03-24T16:18:45.828Z"
      }
    ],
    "nodes": [
      {
        "id": "6d91a84e-bf2b-4118-9e35-5baecda1b14b",
        "name": "XML",
        "type": "n8n-nodes-base.xml",
        "position": [
          340,
          -40
        ],
        "parameters": {
          "options": {}
        },
        "typeVersion": 1
      },
      {
        "id": "65f12b51-d34c-4e87-b581-e29370eb0554",
        "name": "When clicking ‘Test workflow’",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          -320,
          -40
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "b82a0bce-0dd4-4a64-b60a-64ea4021bee5",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "position": [
          560,
          -40
        ],
        "parameters": {
          "options": {},
          "fieldToSplitOut": "sitemapindex.sitemap"
        },
        "typeVersion": 1
      },
      {
        "id": "0e97abde-ba13-4889-979d-0f0e5b085dcb",
        "name": "Set URL",
        "type": "n8n-nodes-base.set",
        "notes": "Set full URL - not domain",
        "position": [
          -100,
          -40
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "fa078c97-4c7c-4c08-a011-5527661997c6",
                "name": "Domain",
                "type": "string",
                "value": "https://phu.io.vn/"
              }
            ]
          }
        },
        "notesInFlow": true,
        "typeVersion": 3.4
      },
      {
        "id": "146a5e34-d64a-450b-8354-770c90547325",
        "name": "Convert to File",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          1440,
          -40
        ],
        "parameters": {
          "options": {},
          "binaryPropertyName": "={{ $json.loc }}"
        },
        "typeVersion": 1.1
      },
      {
        "id": "0c1f8d18-ca4b-4996-9928-abbc6d45b227",
        "name": "Crawl sitemap",
        "type": "n8n-nodes-base.httpRequest",
        "notes": "or past sitemap URL at here",
        "position": [
          120,
          -40
        ],
        "parameters": {
          "url": "={{ $json.Domain }}sitemap.xml",
          "options": {
            "timeout": 10000
          },
          "responseFormat": "string"
        },
        "notesInFlow": true,
        "typeVersion": 1
      },
      {
        "id": "eaa43363-d059-4c66-8851-7e85d4fb5bd3",
        "name": "Crawl sitemap 2",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          780,
          -40
        ],
        "parameters": {
          "url": "={{ $json.loc }}",
          "options": {
            "timeout": 10000
          },
          "responseFormat": "string"
        },
        "typeVersion": 1
      },
      {
        "id": "692efb13-a6ce-4667-842b-614cf9ee8315",
        "name": "XML 2",
        "type": "n8n-nodes-base.xml",
        "position": [
          1000,
          -40
        ],
        "parameters": {
          "options": {}
        },
        "typeVersion": 1
      },
      {
        "id": "88a15568-352f-4997-ae2b-522a2713843d",
        "name": "Split Out 2",
        "type": "n8n-nodes-base.splitOut",
        "position": [
          1220,
          -40
        ],
        "parameters": {
          "options": {},
          "fieldToSplitOut": "urlset.url"
        },
        "typeVersion": 1
      },
      {
        "id": "e0e0fb12-1dc5-4665-9530-6b53ed7dc593",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -160,
          -240
        ],
        "parameters": {
          "width": 440,
          "height": 360,
          "content": "## Set website URL at node 1 (or paste sitemap URL at node 2)"
        },
        "typeVersion": 1
      },
      {
        "id": "fc9d88ce-4ec0-4581-b1ff-7c007bdf5f0b",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1340,
          -200
        ],
        "parameters": {
          "color": 4,
          "width": 300,
          "height": 320,
          "content": "## Download file at here\n(or replace this node = Gooogle sheet node)\n"
        },
        "typeVersion": 1
      },
      {
        "id": "39f13360-e94d-4b33-b258-5e8837daab4f",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -980,
          -460
        ],
        "parameters": {
          "color": 6,
          "width": 600,
          "height": 940,
          "content": "# FAQ\n## Q: What happens if the sitemap is large or contains many sub-sitemaps?\n\nA: The workflow handles sitemap indexes by splitting and processing each sub-sitemap individually. For very large sitemaps, ensure your n8n instance has sufficient resources (memory and CPU) to avoid performance issues. See Scaling n8n for optimization tips.\n\n## Q: Can I use this workflow with a specific sitemap URL instead of a domain?\n\nA: Yes, in the Crawl sitemap node, replace the url parameter ({{ $json.Domain }}sitemap.xml) with the direct sitemap URL (e.g., https://example.com/sitemap.xml). Update the node’s notes for clarity.\n\n## Q: Why am I getting a timeout error?\n\nA: The HTTP Request nodes have a default timeout of 10 seconds. If the target server is slow, increase the timeout value in the options parameter of the Crawl sitemap or Crawl sitemap 2 nodes.\n\n## Q: How can I save the URLs to Google Sheets instead of a file?\n\nA: Replace the Convert to File node with a Google Sheets node. Configure it with your Google Sheets credentials and map the loc field from the Split Out 2 node to the desired spreadsheet column. Refer to the Google Sheets node documentation.\n\n## Q: Is this workflow compatible with older n8n versions?\n\nA: The workflow uses nodes compatible with n8n version 1.0 and later. For older versions, check for deprecated features (e.g., MySQL support) in the n8n v1.0 migration guide."
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "d2ef17d5-a482-4b0d-b48a-83d5bd146b9f",
    "connections": {
      "XML": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML 2": {
        "main": [
          [
            {
              "node": "Split Out 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set URL": {
        "main": [
          [
            {
              "node": "Crawl sitemap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Crawl sitemap 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out 2": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crawl sitemap": {
        "main": [
          [
            {
              "node": "XML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          []
        ]
      },
      "Crawl sitemap 2": {
        "main": [
          [
            {
              "node": "XML 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Set URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 12,
    "nodeTypes": {
      "n8n-nodes-base.set": {
        "count": 1
      },
      "n8n-nodes-base.xml": {
        "count": 2
      },
      "n8n-nodes-base.splitOut": {
        "count": 2
      },
      "n8n-nodes-base.stickyNote": {
        "count": 3
      },
      "n8n-nodes-base.httpRequest": {
        "count": 2
      },
      "n8n-nodes-base.convertToFile": {
        "count": 1
      },
      "n8n-nodes-base.manualTrigger": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Le Thua Phu",
    "username": "lethuaphu",
    "bio": "I'm passionate about leveraging n8n to create seamless workflows that blend AI capabilities with data automation. Based in Vietnam, I specialize in building efficient, scalable solutions to streamline business processes and unlock the power of data. Excited to connect, share insights, and contribute to the n8n community!\n",
    "verified": false,
    "links": [
      ""
    ],
    "avatar": "https://gravatar.com/avatar/245ef6abb128b73ed457bca1817692c746557e030151c586022d1e7f404bee18?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Requête HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 38,
      "icon": "fa:pen",
      "name": "n8n-nodes-base.set",
      "codex": {
        "data": {
          "alias": [
            "Set",
            "JS",
            "JSON",
            "Filter",
            "Transform",
            "Map"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Modifier les Champs"
      },
      "iconData": {
        "icon": "pen",
        "type": "icon"
      },
      "displayName": "Edit Fields (Set)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 48,
      "icon": "fa:file-code",
      "name": "n8n-nodes-base.xml",
      "codex": {
        "data": {
          "alias": [
            "Parse"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.xml/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "XML",
        "color": "#333377"
      },
      "iconData": {
        "icon": "file-code",
        "type": "icon"
      },
      "displayName": "XML",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note Collante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 838,
      "icon": "fa:mouse-pointer",
      "name": "n8n-nodes-base.manualTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lors de l'appui sur ‘Exécuter le flux de travail’",
        "color": "#909298"
      },
      "iconData": {
        "icon": "mouse-pointer",
        "type": "icon"
      },
      "displayName": "Manual Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1234,
      "icon": "file:convertToFile.svg",
      "name": "n8n-nodes-base.convertToFile",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Spreadsheet",
            "Excel",
            "xls",
            "xlsx",
            "ods",
            "tabular",
            "encode",
            "encoding",
            "Move Binary Data",
            "Binary",
            "File",
            "JSON",
            "HTML",
            "ICS",
            "iCal",
            "RTF",
            "64",
            "Base64"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.converttofile/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Files",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Convertir en Fichier"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjc2MTkgMkMxMy4yNDM3IDIgMTIuODIzNiAyLjQyMDA5IDEyLjgyMzYgMi45MzgzMVYxNS4yNTI2QzEzLjMxOTkgMTUuNDY0MyAxMy43ODUxIDE1Ljc3MiAxNC4xOTEgMTYuMTc1N0wyMS4yMjgzIDIzLjE3MzlDMjIuMDU0OCAyMy45OTU4IDIyLjUxOTUgMjUuMTEzMiAyMi41MTk1IDI2LjI3ODhDMjIuNTE5NSAyNy40NDQzIDIyLjA1NDggMjguNTYxOCAyMS4yMjgzIDI5LjM4MzdMMTQuMTkxIDM2LjM4MTlDMTMuNzg1IDM2Ljc4NTYgMTMuMzE5OSAzNy4wOTMyIDEyLjgyMzYgMzcuMzA1VjM3LjM1MjdDMTIuODIzNiAzNy44NzA5IDEzLjI0MzcgMzguMjkxIDEzLjc2MTkgMzguMjkxSDM5LjA2MTdDMzkuNTc5OSAzOC4yOTEgNDAgMzcuODcwOSA0MCAzNy4zNTI3TDQwIDE1Ljc5NEgyNy4xNDQzQzI2LjYyNjEgMTUuNzk0IDI2LjIwNiAxNS4zNzM5IDI2LjIwNiAxNC44NTU3VjJIMTMuNzYxOVoiIGZpbGw9IiMzQTQyRTkiLz4KPHBhdGggZD0iTTI4Ljg2NDUgMkMyOC43NzgxIDIgMjguNzA4MSAyLjA3MDAyIDI4LjcwODEgMi4xNTYzOVYxMi44MjI3QzI4LjcwODEgMTMuMDgxOCAyOC45MTgyIDEzLjI5MTkgMjkuMTc3MyAxMy4yOTE5SDM5Ljg0MzZDMzkuOTMgMTMuMjkxOSA0MCAxMy4yMjE5IDQwIDEzLjEzNTVMNDAgMTIuNjI2M0M0MCAxMi4zNzc4IDM5LjkwMTQgMTIuMTM5NSAzOS43MjYgMTEuOTYzNkwzMC4wNjEgMi4yNzU2MUMyOS44ODUgMi4wOTkxNiAyOS42NDYgMiAyOS4zOTY3IDJIMjguODY0NVoiIGZpbGw9IiMzQTQyRTkiLz4KPHBhdGggZD0iTTkuNzcyNjggMzQuNjAwM0M5LjA0MTg2IDMzLjg2NTQgOS4wNDUxNyAzMi42NzcyIDkuNzgwMDcgMzEuOTQ2NEwxMy42MzE1IDI4LjExNjNMMC45MzgzMTEgMjguMTE2M0MwLjQyMDA5NiAyOC4xMTYzIC0yLjI2NTE5ZS0wOCAyNy42OTYyIDAgMjcuMTc4TDguMjAyOTdlLTA4IDI1LjMwMTRDMS4wNDY4MmUtMDcgMjQuNzgzMiAwLjQyMDA5NSAyNC4zNjMxIDAuOTM4MzExIDI0LjM2MzFIMTMuNTUyOUw5Ljc4MDA3IDIwLjYxMTJDOS4wNDUxNyAxOS44ODA0IDkuMDQxODYgMTguNjkyMiA5Ljc3MjY4IDE3Ljk1NzNDMTAuNTAzNSAxNy4yMjI0IDExLjY5MTcgMTcuMjE5MSAxMi40MjY2IDE3Ljk0OTlMMTkuNDYzOSAyNC45NDgxQzE5LjgxODEgMjUuMzAwNCAyMC4wMTczIDI1Ljc3OTMgMjAuMDE3MyAyNi4yNzg4QzIwLjAxNzMgMjYuNzc4MyAxOS44MTgxIDI3LjI1NzIgMTkuNDYzOSAyNy42MDk1TDEyLjQyNjYgMzQuNjA3N0MxMS42OTE3IDM1LjMzODUgMTAuNTAzNSAzNS4zMzUyIDkuNzcyNjggMzQuNjAwM1oiIGZpbGw9IiMzQTQyRTkiLz4KPC9zdmc+Cg=="
      },
      "displayName": "Convert to File",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1239,
      "icon": "file:splitOut.svg",
      "name": "n8n-nodes-base.splitOut",
      "codex": {
        "data": {
          "alias": [
            "Split",
            "Nested",
            "Transform",
            "Array",
            "List",
            "Item"
          ],
          "details": "",
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitout/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Diviser"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJub25lIj48ZyBmaWxsPSIjOUI2REQ1IiBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTQ4MCAxNDhjMC02LjYyNy01LjM3My0xMi0xMi0xMkgzMjJjLTYuNjI3IDAtMTIgNS4zNzMtMTIgMTJ2MjRjMCA2LjYyNyA1LjM3MyAxMiAxMiAxMmgxNDZjNi42MjcgMCAxMi01LjM3MyAxMi0xMnptMCA5NmMwLTYuNjI3LTUuMzczLTEyLTEyLTEySDMyMmMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnYyNGMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDE0NmM2LjYyNyAwIDEyLTUuMzczIDEyLTEyem0wIDk2YzAtNi42MjctNS4zNzMtMTItMTItMTJIMzIyYy02LjYyNyAwLTEyIDUuMzczLTEyIDEydjI0YzAgNi42MjcgNS4zNzMgMTIgMTIgMTJoMTQ2YzYuNjI3IDAgMTItNS4zNzMgMTItMTJ6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48cGF0aCBkPSJNNDM4IDc2YzAgNi42MjctNS4zNzMgMTItMTIgMTJIMzA5Ljc4M2MtMTcuNjczIDAtMzIgMTQuMzI3LTMyIDMydjU2YzAgMjYuOTc4LTEwLjI3MiA1MS41NTctMjcuMTE5IDcwLjAzOS01LjA1NSA1LjU0NS01LjA1NSAxNC4zNzcgMCAxOS45MjIgMTYuODQ3IDE4LjQ4MiAyNy4xMTkgNDMuMDYxIDI3LjExOSA3MC4wMzl2NTZjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMySDQyNmM2LjYyNyAwIDEyIDUuMzczIDEyIDEydjI0YzAgNi42MjctNS4zNzMgMTItMTIgMTJIMzA5Ljc4M2MtNDQuMTgzIDAtODAtMzUuODE3LTgwLTgwdi01NmMwLTMwLjkyOC0yNS4wNzItNTYtNTYtNTZhNS43ODMgNS43ODMgMCAwIDEtNS43ODMtNS43ODN2LTM2LjQzNGE1Ljc4MyA1Ljc4MyAwIDAgMSA1Ljc4My01Ljc4M2MzMC45MjggMCA1Ni0yNS4wNzIgNTYtNTZ2LTU2YzAtNDQuMTgzIDM1LjgxNy04MCA4MC04MEg0MjZjNi42MjcgMCAxMiA1LjM3MyAxMiAxMnoiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMzYgMjQ0YzAtNi42MjctNS4zNzMtMTItMTItMTJIMTJjLTYuNjI3IDAtMTIgNS4zNzMtMTIgMTJ2MjRjMCA2LjYyNyA1LjM3MyAxMiAxMiAxMmgxMTJjNi42MjcgMCAxMi01LjM3MyAxMi0xMnoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvZz48ZGVmcz48Y2xpcFBhdGggaWQ9ImEiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik01MTIgMEgwdjUxMmg1MTJ6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+"
      },
      "displayName": "Split Out",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 32,
      "name": "Recherche de Marché"
    }
  ],
  "image": []
}