automation/i18n/fr-FR/Find Jobs via Telegram Bot- AI-Powered LinkedIn, Indeed & Monster Scraper.json
{
  "id": 8275,
  "name": "Trouvez des emplois via le bot Telegram : Scraper LinkedIn, Indeed et Monster alimenté par l'IA",
  "views": 110,
  "recentViews": 9,
  "totalViews": 110,
  "createdAt": "2025-09-05T05:13:19.843Z",
  "description": "## 🚀 Transformez votre recherche d'emploi avec le bot Telegram alimenté par l'IA\n\nTransformez la recherche d'emploi en une expérience conversationnelle ! Ce bot Telegram intelligent extrait automatiquement les offres d'emploi de LinkedIn, Indeed et Monster, filtre les postes en vente et marketing, et livre des résultats personnalisés directement dans votre chat.\n\n## ✨ Caractéristiques clés\n\n- **Commandes Telegram interactives** : Recherches simples `/jobs [mot-clé] [emplacement]`\n- **Scraping multi-plateforme** : Collecte de données simultanée à partir de 3 grands sites d'emploi\n- **Filtrage alimenté par l'IA** : Détection intelligente de la pertinence et classification par niveau d'expérience\n- **Notifications en temps réel** : Alertes d'emploi instantanées livrées sur Telegram\n- **Stockage de données automatisé** : Enregistre les résultats dans Google Sheets et Airtable\n- **Suppression des doublons** : Dé-duplication avancée entre les plateformes\n- **Expérience mobile-first** : Fonctionnalité complète de recherche d'emploi via Telegram\n\n## 🎯 Parfait pour\n\n- **Professionnels de la vente** : Responsables de comptes, représentants commerciaux, développement commercial\n- **Experts en marketing** : Marketeurs numériques, responsables marketing, spécialistes de la croissance  \n- **Recruteurs** : Sourcing de candidats rationalisé et analyse du marché de l'emploi\n- **Chercheurs d'emploi** : Découverte d'emploi sans les mains avec notifications instantanées\n\n## 🛠️ Exigences de configuration\n\n### Identifiants requis :\n- **Jeton de bot Telegram** : Créez un bot via @BotFather\n- **API Bright Data** : Service de scraping web professionnel (ensembles de données LinkedIn/Indeed)\n- **OAuth2 Google Sheets** : Pour l'intégration des feuilles de calcul\n- **Jeton Airtable** : Stockage et gestion de base de données\n\n### Prérequis :\n- Instance n8n avec HTTPS activé (nécessaire pour les webhooks Telegram)\n- Nom de domaine valide avec certificat SSL\n- Compréhension de base des commandes de bot Telegram\n\n## 🔧 Comment ça fonctionne\n\n### **Expérience utilisateur :**\n1. Envoyez `/start` pour activer le bot et voir les commandes disponibles\n2. Utilisez `/jobs sales manager New York` pour rechercher des postes spécifiques\n3. Recevez instantanément des résultats d'emploi formatés dans Telegram\n4. Cliquez sur les liens \"Postuler maintenant\" pour accéder directement aux offres d'emploi\n5. Tous les emplois sont automatiquement enregistrés dans vos feuilles de calcul connectées\n\n### **Dans les coulisses :**\n1. **Traitement des commandes** : Le bot analyse l'entrée de l'utilisateur pour les mots-clés et l'emplacement\n2. **Scraping parallèle** : Appels API simultanés à LinkedIn, Indeed et Monster\n3. **Traitement par IA** : Filtrage intelligent, détection du niveau d'expérience, identification du travail à distance\n4. **Amélioration des données** : Extraction de salaire, suppression des doublons, scoring de pertinence\n5. **Stockage multi-format** : Enregistrement automatique dans Google Sheets, Airtable et exportation JSON\n6. **Réponse en temps réel** : Résultats formatés livrés dans le chat Telegram\n\n## 🎨 Commandes du bot Telegram\n\n- `/start` - Message de bienvenue et aperçu des commandes\n- `/jobs [mot-clé] [emplacement]` - Rechercher des emplois (par exemple, `/jobs marketing manager remote`)\n- `/help` - Afficher des informations d'aide détaillées\n- `/status` - Vérifier l'état du bot et l'activité récente\n\n## 📊 Exemple de sortie\n\nLe bot livre des résultats d'emploi magnifiquement formatés :\n\n🎯 Résultats de recherche d'emploi 🎯\n\n7 opportunités pertinentes trouvées\nPlateformes : linkedin, indeed, monster\nEmplois à distance : 3\n\n───────────────────\n\n💼 Responsable des ventes senior\n🏢 TechCorp Industries\n📍 New York, NY\n💰 80 000 $ - 120 000 $\n🌐 Télétravail disponible\n📊 niveau senior\n🔗 Postuler maintenant\n\n\n## 🔒 Sécurité et meilleures pratiques\n\n- **Limitation de taux** : Conformité intégrée à l'API Telegram (30 requêtes/seconde)\n- **Gestion des erreurs** : Récupération des échecs de manière élégante avec des messages conviviaux  \n- **Validation des entrées** : Entrée utilisateur assainie pour prévenir les attaques par injection\n- **Gestion des identifiants** : Stockage sécurisé des clés API utilisant le système d'identifiants n8n\n- **Application de HTTPS** : Nécessaire pour l'intégration de webhook Telegram en production\n\n## 📈 Avantages et ROI\n\n- **Réduction de 95 % du temps** : Découverte d'emploi automatisée contre recherche manuelle\n- **Couverture multi-sources** : Accès simultané à 3 grandes plateformes d'emploi  \n- **Accessibilité mobile** : Recherchez des emplois n'importe où en utilisant l'application mobile Telegram\n- **Alertes en temps réel** : Ne manquez jamais de nouvelles opportunités avec des notifications instantanées\n- **Organisation des données** : Gestion automatique des feuilles de calcul pour le suivi des emplois\n- **Intelligence de marché** : Analyse complète du marché de l'emploi et des tendances\n\n## 🚀 Personnalisation avancée\n\n- **Mots-clés personnalisés** : Modifiez la logique de filtrage pour des secteurs spécifiques\n- **Ciblage géographique** : Ajustez les paramètres de recherche géographique\n- **Niveaux d'expérience** : Affinez la détection des niveaux senior/mid/entry\n- **Plateformes supplémentaires** : Ajoutez facilement d'autres sites d'emploi via des requêtes HTTP\n- **Planification des notifications** : Configurez des alertes d'emploi automatisées périodiques\n- **Intégration d'équipe** : Déployez pour plusieurs utilisateurs ou canaux d'équipe\n\n## 💡 Cas d'utilisation\n\n- **Chercheurs d'emploi individuels** : Assistant personnel de recherche d'emploi\n- **Agences de recrutement** : Sourcing de candidats rationalisé\n- **Équipes de vente** : Surveillance des opportunités spécifiques à un territoire  \n- **Départements marketing** : Analyse des tendances du secteur et suivi des concurrents\n- **Coachs de carrière** : Recherche de marché pour les clients et identification des opportunités\n\nPrêt à révolutionner votre recherche d'emploi ? Déployez ce flux de travail et commencez à recevoir des opportunités d'emploi personnalisées directement dans Telegram !",
  "workflow": {
    "meta": {
      "version": "2.0",
      "instanceId": "workflow_job_scraper_telegram"
    },
    "tags": [
      "telegram",
      "job-scraping",
      "sales",
      "marketing",
      "automation",
      "ai"
    ],
    "nodes": [
      {
        "id": "telegram_trigger",
        "name": "Telegram Bot Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          260,
          200
        ],
        "parameters": {
          "updates": [
            "message"
          ]
        },
        "credentials": {
          "telegramApi": {
            "id": "telegram_bot_credentials",
            "name": "Job Scraper Bot"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "telegram_command_filter",
        "name": "Command Filter",
        "type": "n8n-nodes-base.filter",
        "position": [
          480,
          200
        ],
        "parameters": {
          "conditions": {
            "options": {
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{$json.message.text}}",
                "rightValue": "/start"
              }
            ]
          }
        },
        "typeVersion": 2
      },
      {
        "id": "job_search_filter",
        "name": "Job Search Filter",
        "type": "n8n-nodes-base.filter",
        "position": [
          480,
          350
        ],
        "parameters": {
          "conditions": {
            "options": {
              "leftValue": "",
              "caseSensitive": false,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "operator": {
                  "type": "string",
                  "operation": "startsWith"
                },
                "leftValue": "={{$json.message.text}}",
                "rightValue": "/jobs"
              }
            ]
          }
        },
        "typeVersion": 2
      },
      {
        "id": "welcome_message",
        "name": "Send Welcome Message",
        "type": "n8n-nodes-base.telegram",
        "position": [
          700,
          200
        ],
        "parameters": {
          "text": "🤖 **Job Scraper Bot Activated!** 🚀\n\n*Welcome to your personal job hunting assistant!*\n\n**Available Commands:**\n/jobs [keyword] [location] - Search for jobs\n/status - Check bot status\n/help - Show this help\n\n**Examples:**\n• `/jobs sales manager New York`\n• `/jobs marketing remote`\n• `/jobs developer San Francisco`\n\n*Let me find the perfect job opportunities for you!* 💼",
          "chatId": "={{$json.message.chat.id}}",
          "resource": "message",
          "operation": "sendMessage",
          "parseMode": "Markdown"
        },
        "credentials": {
          "telegramApi": {
            "id": "telegram_bot_credentials",
            "name": "Job Scraper Bot"
          }
        },
        "typeVersion": 1.1
      },
      {
        "id": "parse_job_command",
        "name": "Parse Job Command",
        "type": "n8n-nodes-base.code",
        "position": [
          700,
          350
        ],
        "parameters": {
          "jsCode": "// Parse Telegram job search command\nconst message = $input.first().json.message;\nconst text = message.text;\nconst chatId = message.chat.id;\nconst userId = message.from.id;\nconst userName = message.from.first_name || 'User';\n\n// Parse command: /jobs [keyword] [location]\nconst parts = text.split(' ');\nlet keyword = 'sales marketing';\nlet location = 'New York';\n\nif (parts.length >= 2) {\n  keyword = parts.slice(1, -1).join(' ') || 'sales marketing';\n  location = parts[parts.length - 1] || 'New York';\n}\n\n// If only one parameter, treat as keyword\nif (parts.length === 2) {\n  keyword = parts[1];\n  location = 'New York';\n}\n\n// Create search parameters\nconst searchParams = {\n  keyword: keyword,\n  location: location,\n  chatId: chatId,\n  userId: userId,\n  userName: userName,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    ...searchParams,\n    originalMessage: message,\n    searchQuery: `${keyword} in ${location}`\n  }\n}];"
        },
        "typeVersion": 2
      },
      {
        "id": "search_status_message",
        "name": "Send Search Status",
        "type": "n8n-nodes-base.telegram",
        "position": [
          920,
          350
        ],
        "parameters": {
          "text": "🔍 **Searching for Jobs...**\n\n*Keyword:* `{{$json.keyword}}`\n*Location:* `{{$json.location}}`\n\n*Please wait while I scan LinkedIn, Indeed, and Monster for the best opportunities...* ⏳",
          "chatId": "={{$json.chatId}}",
          "resource": "message",
          "operation": "sendMessage",
          "parseMode": "Markdown"
        },
        "credentials": {
          "telegramApi": {
            "id": "telegram_bot_credentials",
            "name": "Job Scraper Bot"
          }
        },
        "typeVersion": 1.1
      },
      {
        "id": "linkedin_scraper_telegram",
        "name": "LinkedIn Jobs Scraper",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1140,
          250
        ],
        "parameters": {
          "url": "https://api.brightdata.com/datasets/v3/trigger",
          "method": "POST",
          "options": {
            "retry": {
              "enabled": true,
              "maxTries": 3,
              "waitBetween": 2000
            },
            "timeout": 30000
          },
          "sendBody": true,
          "sendHeaders": true,
          "authentication": "genericCredentialType",
          "bodyParameters": {
            "parameters": [
              {
                "name": "dataset_id",
                "value": "gd_lpfbbndm1xnopbrcr0"
              },
              {
                "name": "country",
                "value": "US"
              },
              {
                "name": "keyword",
                "value": "={{$json.keyword}}"
              },
              {
                "name": "location",
                "value": "={{$json.location}}"
              }
            ]
          },
          "genericAuthType": "httpHeaderAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "typeVersion": 4.1
      },
      {
        "id": "indeed_scraper_telegram",
        "name": "Indeed Jobs Scraper",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1140,
          350
        ],
        "parameters": {
          "url": "https://api.brightdata.com/datasets/v3/trigger",
          "method": "POST",
          "options": {
            "retry": {
              "enabled": true,
              "maxTries": 3,
              "waitBetween": 2000
            },
            "timeout": 30000
          },
          "sendBody": true,
          "sendHeaders": true,
          "authentication": "genericCredentialType",
          "bodyParameters": {
            "parameters": [
              {
                "name": "dataset_id",
                "value": "gd_l4dx9j9sscpvs7no2"
              },
              {
                "name": "what",
                "value": "={{$json.keyword}}"
              },
              {
                "name": "where",
                "value": "={{$json.location}}"
              }
            ]
          },
          "genericAuthType": "httpHeaderAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "typeVersion": 4.1
      },
      {
        "id": "monster_scraper_telegram",
        "name": "Monster Jobs Scraper",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1140,
          450
        ],
        "parameters": {
          "url": "https://api.monster.com/job-search/v2/search",
          "method": "GET",
          "options": {
            "retry": {
              "enabled": true,
              "maxTries": 3,
              "waitBetween": 2000
            },
            "timeout": 30000
          },
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{$json.keyword}}"
              },
              {
                "name": "where",
                "value": "={{$json.location}}"
              },
              {
                "name": "page",
                "value": "1"
              }
            ]
          }
        },
        "typeVersion": 4.1
      },
      {
        "id": "telegram_job_processor",
        "name": "Process Jobs for Telegram",
        "type": "n8n-nodes-base.code",
        "position": [
          1360,
          350
        ],
        "parameters": {
          "jsCode": "// Enhanced job processing with Telegram context\nconst items = $input.all();\nconst processedJobs = [];\nlet chatId, userName, searchQuery;\n\n// Get Telegram context from first item\nif (items.length > 0 && items[0].json.chatId) {\n  chatId = items[0].json.chatId;\n  userName = items[0].json.userName || 'User';\n  searchQuery = items[0].json.searchQuery || 'jobs';\n}\n\nfor (const item of items) {\n  const source = item.json;\n  \n  // Skip items that are just telegram context\n  if (source.chatId && !source.company_name && !source.jobkey && !source.jobId) {\n    continue;\n  }\n  \n  // Determine source platform\n  let platform = 'unknown';\n  if (source.company_name || source.job_title) {\n    platform = 'linkedin';\n  } else if (source.jobkey || source.jobtitle) {\n    platform = 'indeed';\n  } else if (source.jobId) {\n    platform = 'monster';\n  }\n  \n  // Standardize job data structure\n  const standardizedJob = {\n    platform: platform,\n    job_id: source.job_id || source.jobkey || source.jobId || '',\n    title: source.job_title || source.jobtitle || source.title || '',\n    company: source.company_name || source.company || source.companyName || '',\n    location: source.location || source.formattedLocation || '',\n    description: source.description || source.snippet || '',\n    salary: source.salary || source.salary_formatted || '',\n    url: source.url || source.link || '',\n    posted_date: source.date_posted || source.date || source.postDate || '',\n    scraped_at: new Date().toISOString(),\n    // Telegram context\n    telegram_chat_id: chatId,\n    telegram_user: userName,\n    search_query: searchQuery,\n    // Enhanced filtering\n    is_relevant: checkRelevance(source.job_title || source.title || '', source.description || source.snippet || ''),\n    experience_level: extractExperience(source.description || source.snippet || ''),\n    remote_option: checkRemote(source.description || source.snippet || ''),\n    salary_range: extractSalary(source.salary || source.salary_formatted || '')\n  };\n  \n  processedJobs.push({ json: standardizedJob });\n}\n\n// Filter and deduplicate\nconst filteredJobs = processedJobs.filter(job => job.json.is_relevant);\nconst uniqueJobs = [];\nconst seen = new Set();\n\nfor (const job of filteredJobs) {\n  const key = `${job.json.title}-${job.json.company}`.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (!seen.has(key) && uniqueJobs.length < 10) { // Limit to 10 jobs for Telegram\n    seen.add(key);\n    uniqueJobs.push(job);\n  }\n}\n\n// Add summary statistics\nif (uniqueJobs.length > 0 && chatId) {\n  const summary = {\n    json: {\n      telegram_chat_id: chatId,\n      telegram_user: userName,\n      search_query: searchQuery,\n      total_jobs_found: uniqueJobs.length,\n      platforms_searched: [...new Set(uniqueJobs.map(job => job.json.platform))],\n      remote_jobs: uniqueJobs.filter(job => job.json.remote_option).length,\n      search_timestamp: new Date().toISOString(),\n      is_summary: true\n    }\n  };\n  uniqueJobs.unshift(summary);\n}\n\nfunction checkRelevance(title, description) {\n  const text = (title + ' ' + description).toLowerCase();\n  const keywords = ['sales', 'marketing', 'business development', 'account manager', 'digital marketing', \n                   'marketing manager', 'sales representative', 'business analyst', 'account executive'];\n  return keywords.some(keyword => text.includes(keyword));\n}\n\nfunction extractExperience(description) {\n  const senior_keywords = ['senior', '5+ years', 'lead', 'principal', 'director'];\n  const entry_keywords = ['entry level', '0-2 years', 'junior', 'associate'];\n  const text = description.toLowerCase();\n  \n  if (senior_keywords.some(keyword => text.includes(keyword))) return 'senior';\n  if (entry_keywords.some(keyword => text.includes(keyword))) return 'entry';\n  return 'mid';\n}\n\nfunction checkRemote(description) {\n  return description.toLowerCase().includes('remote') || \n         description.toLowerCase().includes('work from home') ||\n         description.toLowerCase().includes('telecommute');\n}\n\nfunction extractSalary(salary) {\n  if (!salary) return 'Not specified';\n  // Clean and format salary information\n  return salary.replace(/[^0-9$,k-]/gi, '').substring(0, 50);\n}\n\nreturn uniqueJobs;"
        },
        "typeVersion": 2
      },
      {
        "id": "format_telegram_message",
        "name": "Format Jobs Message",
        "type": "n8n-nodes-base.code",
        "position": [
          1580,
          350
        ],
        "parameters": {
          "jsCode": "// Format jobs for Telegram message\nconst items = $input.all();\nlet chatId, userName, summary;\nconst jobs = [];\n\n// Separate summary from jobs\nfor (const item of items) {\n  if (item.json.is_summary) {\n    summary = item.json;\n    chatId = item.json.telegram_chat_id;\n    userName = item.json.telegram_user;\n  } else {\n    jobs.push(item.json);\n  }\n}\n\nif (jobs.length === 0) {\n  return [{\n    json: {\n      telegram_chat_id: chatId,\n      telegram_message: `😞 **No Jobs Found**\\n\\n*Sorry ${userName}, I couldn't find any relevant job opportunities for your search.*\\n\\n*Try different keywords or locations!*`,\n      has_jobs: false\n    }\n  }];\n}\n\n// Create formatted message\nlet message = `🎯 **Job Search Results** 🎯\\n\\n`;\nmessage += `*Found ${summary.total_jobs_found} relevant opportunities*\\n`;\nmessage += `*Platforms: ${summary.platforms_searched.join(', ')}*\\n`;\nmessage += `*Remote jobs: ${summary.remote_jobs}*\\n\\n`;\nmessage += `───────────────────\\n\\n`;\n\n// Format individual jobs\nfor (let i = 0; i < Math.min(jobs.length, 5); i++) {\n  const job = jobs[i];\n  const platformIcon = {\n    'linkedin': '💼',\n    'indeed': '🔍', \n    'monster': '👹'\n  }[job.platform] || '💼';\n  \n  message += `${platformIcon} **${job.title}**\\n`;\n  message += `🏢 *${job.company}*\\n`;\n  message += `📍 ${job.location}\\n`;\n  \n  if (job.salary_range && job.salary_range !== 'Not specified') {\n    message += `💰 ${job.salary_range}\\n`;\n  }\n  \n  if (job.remote_option) {\n    message += `🌐 *Remote Available*\\n`;\n  }\n  \n  message += `📊 *${job.experience_level} level*\\n`;\n  \n  if (job.url) {\n    message += `🔗 [Apply Now](${job.url})\\n`;\n  }\n  \n  message += `\\n───────────────────\\n\\n`;\n}\n\nif (jobs.length > 5) {\n  message += `*... and ${jobs.length - 5} more jobs available!*\\n\\n`;\n}\n\nmessage += `⚡ *Use /jobs [keyword] [location] for new search*\\n`;\nmessage += `💾 *Jobs saved to Google Sheets & Airtable*`;\n\nreturn [{\n  json: {\n    telegram_chat_id: chatId,\n    telegram_message: message,\n    has_jobs: true,\n    job_count: jobs.length,\n    formatted_jobs: jobs.slice(0, 5)\n  }\n}];"
        },
        "typeVersion": 2
      },
      {
        "id": "send_job_results",
        "name": "Send Job Results",
        "type": "n8n-nodes-base.telegram",
        "position": [
          1800,
          350
        ],
        "parameters": {
          "text": "={{$json.telegram_message}}",
          "chatId": "={{$json.telegram_chat_id}}",
          "options": {
            "disable_web_page_preview": true
          },
          "resource": "message",
          "operation": "sendMessage",
          "parseMode": "Markdown"
        },
        "credentials": {
          "telegramApi": {
            "id": "telegram_bot_credentials",
            "name": "Job Scraper Bot"
          }
        },
        "typeVersion": 1.1
      },
      {
        "id": "telegram_google_sheets",
        "name": "Save to Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          1580,
          500
        ],
        "parameters": {
          "options": {
            "useAppend": true
          },
          "operation": "appendOrUpdate",
          "sheetName": "Telegram_Jobs",
          "documentId": "your_google_sheet_id",
          "authentication": "oAuth2",
          "columnToMatchOn": "job_id"
        },
        "typeVersion": 4
      },
      {
        "id": "telegram_airtable",
        "name": "Save to Airtable",
        "type": "n8n-nodes-base.airtable",
        "position": [
          1580,
          600
        ],
        "parameters": {
          "baseId": "your_airtable_base_id",
          "options": {
            "bulkSize": 10,
            "ignoreMissingColumns": true
          },
          "tableId": "telegram_jobs_table",
          "operation": "create",
          "authentication": "airtableTokenApi"
        },
        "typeVersion": 2
      },
      {
        "id": "usage_analytics",
        "name": "Log Usage Analytics",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1800,
          500
        ],
        "parameters": {
          "url": "https://hooks.zapier.com/hooks/catch/YOUR_WEBHOOK_ID/",
          "method": "POST",
          "options": {
            "timeout": 10000
          },
          "jsonBody": "={{ {\n  \"user_id\": $json.telegram_user,\n  \"chat_id\": $json.telegram_chat_id,\n  \"search_query\": $json.search_query,\n  \"jobs_found\": $json.job_count,\n  \"timestamp\": $json.search_timestamp,\n  \"platform\": \"telegram\",\n  \"workflow\": \"job_search\"\n} }}",
          "sendBody": true,
          "specifyBody": "json"
        },
        "typeVersion": 4.1
      }
    ],
    "settings": {
      "callerPolicy": "workflowsFromSameOwner",
      "saveManualExecutions": true
    },
    "updatedAt": "2025-09-05T11:41:00.000Z",
    "versionId": "2",
    "staticData": {},
    "connections": {
      "Command Filter": {
        "main": [
          [
            {
              "node": "Send Welcome Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Job Search Filter": {
        "main": [
          [
            {
              "node": "Parse Job Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Job Command": {
        "main": [
          [
            {
              "node": "Send Search Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Search Status": {
        "main": [
          [
            {
              "node": "LinkedIn Jobs Scraper",
              "type": "main",
              "index": 0
            },
            {
              "node": "Indeed Jobs Scraper",
              "type": "main",
              "index": 0
            },
            {
              "node": "Monster Jobs Scraper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Jobs Message": {
        "main": [
          [
            {
              "node": "Send Job Results",
              "type": "main",
              "index": 0
            },
            {
              "node": "Log Usage Analytics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Indeed Jobs Scraper": {
        "main": [
          [
            {
              "node": "Process Jobs for Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Monster Jobs Scraper": {
        "main": [
          [
            {
              "node": "Process Jobs for Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Bot Trigger": {
        "main": [
          [
            {
              "node": "Command Filter",
              "type": "main",
              "index": 0
            },
            {
              "node": "Job Search Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LinkedIn Jobs Scraper": {
        "main": [
          [
            {
              "node": "Process Jobs for Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Jobs for Telegram": {
        "main": [
          [
            {
              "node": "Format Jobs Message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Save to Google Sheets",
              "type": "main",
              "index": 0
            },
            {
              "node": "Save to Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "triggerCount": 1
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 15,
    "nodeTypes": {
      "n8n-nodes-base.code": {
        "count": 3
      },
      "n8n-nodes-base.filter": {
        "count": 2
      },
      "n8n-nodes-base.airtable": {
        "count": 1
      },
      "n8n-nodes-base.telegram": {
        "count": 3
      },
      "n8n-nodes-base.httpRequest": {
        "count": 4
      },
      "n8n-nodes-base.googleSheets": {
        "count": 1
      },
      "n8n-nodes-base.telegramTrigger": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Tegar karunia ilham",
    "username": "tegarkaruniailham",
    "bio": "Helping business owners & marketers automate their processes with n8n. Specialist in custom workflows, API integrations, and template development.\n\n📈 100+ successful automation projects\n🔧 Premium n8n templates available\n💡 Free consultation for custom automation\n\nBook a consultation for your business digital transformation!\"",
    "verified": true,
    "links": [
      "https://x.com/contencreators"
    ],
    "avatar": "https://gravatar.com/avatar/c9c7885830c7dc0a52fd349b4683aea215d91d726b223dc37e5324c98ce5201c?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 2,
      "icon": "file:airtable.svg",
      "name": "n8n-nodes-base.airtable",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-goals-level-up-your-vocabulary-with-vonage-and-n8n/",
                "icon": "🎯",
                "label": "2021 Goals: Level Up Your Vocabulary With Vonage and n8n"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/sending-sms-the-low-code-way-with-airtable-twilio-programmable-sms-and-n8n/",
                "icon": "📱",
                "label": "Sending SMS the Low-Code Way with Airtable, Twilio Programmable SMS, and n8n"
              },
              {
                "url": "https://n8n.io/blog/automating-conference-organization-processes-with-n8n/",
                "icon": "🙋‍♀️",
                "label": "Automating Conference Organization Processes with n8n"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.airtable/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/airtable/"
              }
            ]
          },
          "categories": [
            "Data & Storage"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Airtable"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDAgMTcwIj48cGF0aCBmaWxsPSIjZmNiNDAwIiBkPSJNODkgNC44IDE2LjIgMzQuOWMtNC4xIDEuNy00IDcuNC4xIDkuMWw3My4yIDI5YzYuNCAyLjYgMTMuNiAyLjYgMjAgMGw3My4yLTI5YzQuMS0xLjYgNC4xLTcuNC4xLTkuMWwtNzMtMzAuMUMxMDMuMiAyIDk1LjcgMiA4OSA0LjgiLz48cGF0aCBmaWxsPSIjMThiZmZmIiBkPSJNMTA1LjkgODguOXY3Mi41YzAgMy40IDMuNSA1LjggNi43IDQuNWw4MS42LTMxLjdjMS45LS43IDMuMS0yLjUgMy4xLTQuNVY1Ny4yYzAtMy40LTMuNS01LjgtNi43LTQuNUwxMDkgODQuM2MtMS45LjgtMy4xIDIuNi0zLjEgNC42Ii8+PHBhdGggZmlsbD0iI2Y4MmI2MCIgZD0ibTg2LjkgOTIuNi0yNC4yIDExLjctMi41IDEuMkw5LjEgMTMwYy0zLjIgMS42LTcuNC0uOC03LjQtNC40VjU3LjVjMC0xLjMuNy0yLjQgMS42LTMuM3EuNi0uNiAxLjItLjljMS4yLS43IDMtLjkgNC40LS4zbDc3LjUgMzAuN2M0IDEuNSA0LjMgNy4xLjUgOC45Ii8+PHBhdGggZmlsbD0iI2JhMWU0NSIgZD0ibTg2LjkgOTIuNi0yNC4yIDExLjctNTkuNC01MHEuNi0uNiAxLjItLjljMS4yLS43IDMtLjkgNC40LS4zbDc3LjUgMzAuN2M0IDEuNCA0LjMgNyAuNSA4LjgiLz48L3N2Zz4="
      },
      "displayName": "Airtable",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        }
      ]
    },
    {
      "id": 18,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheets",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Sheet",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                "icon": "❤️",
                "label": "Love at first sight: Ricardo’s n8n journey"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                "icon": "⏲",
                "label": "Creating triggers for n8n workflows using polling"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                "icon": "🍔",
                "label": "How Honest Burgers Use Automation to Save $100k per year"
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\",\"output\"]",
      "defaults": {
        "name": "Google Sheets"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets",
      "typeVersion": 5,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Demande HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 49,
      "icon": "file:telegram.svg",
      "name": "n8n-nodes-base.telegram",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                "icon": "💪",
                "label": "Using Automation to Boost Productivity in the Workplace"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-telegram-bots-with-n8n-a-no-code-platform/",
                "icon": "💬",
                "label": "Creating Telegram Bots with n8n, a No-Code Platform"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.telegram/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/telegram/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Telegram"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjYgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzM3YWVlMiIgZD0iTTAgMzJjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMyczMyLTE0LjMyNyAzMi0zMlM0OS42NzMgMCAzMiAwIDAgMTQuMzI3IDAgMzIiLz48cGF0aCBmaWxsPSIjYzhkYWVhIiBkPSJtMjEuNjYxIDM0LjMzOCAzLjc5NyAxMC41MDhzLjQ3NS45ODMuOTgzLjk4MyA4LjA2OC03Ljg2NCA4LjA2OC03Ljg2NGw4LjQwNy0xNi4yMzctMjEuMTE5IDkuODk4eiIvPjxwYXRoIGZpbGw9IiNhOWM2ZDgiIGQ9Im0yNi42OTUgMzcuMDM0LS43MjkgNy43NDZzLS4zMDUgMi4zNzMgMi4wNjggMGw0LjY0NC00LjIwMyIvPjxwYXRoIGQ9Im0yMS43MyAzNC43MTItNy44MDktMi41NDVzLS45MzItLjM3OC0uNjMzLTEuMjM3Yy4wNjItLjE3Ny4xODYtLjMyOC41NTktLjU4OCAxLjczMS0xLjIwNiAzMi4wMjgtMTIuMDk2IDMyLjAyOC0xMi4wOTZzLjg1Ni0uMjg4IDEuMzYxLS4wOTdjLjIzMS4wODguMzc4LjE4Ny41MDMuNTQ4LjA0NS4xMzIuMDcxLjQxMS4wNjguNjg5LS4wMDMuMjAxLS4wMjcuMzg2LS4wNDUuNjc4LS4xODQgMi45NzgtNS43MDYgMjUuMTk4LTUuNzA2IDI1LjE5OHMtLjMzIDEuMy0xLjUxNCAxLjM0NWMtLjQzMi4wMTYtLjk1Ni0uMDcxLTEuNTgyLS42MS0yLjMyMy0xLjk5OC0xMC4zNTItNy4zOTQtMTIuMTI2LTguNThhLjM0LjM0IDAgMCAxLS4xNDYtLjIzOWMtLjAyNS0uMTI1LjEwOC0uMjguMTA4LS4yOHMxMy45OC0xMi40MjcgMTQuMzUyLTEzLjczMWMuMDI5LS4xMDEtLjA3OS0uMTUxLS4yMjYtLjEwNy0uOTI5LjM0Mi0xNy4wMjUgMTAuNTA2LTE4LjgwMSAxMS42MjktLjEwNC4wNjYtLjM5NS4wMjMtLjM5NS4wMjMiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Telegram",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 50,
      "icon": "file:telegram.svg",
      "name": "n8n-nodes-base.telegramTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/creating-telegram-bots-with-n8n-a-no-code-platform/",
                "icon": "💬",
                "label": "Creating Telegram Bots with n8n, a No-Code Platform"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.telegramtrigger/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/telegram/"
              }
            ]
          },
          "categories": [
            "Communication"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Déclencheur Telegram"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjYgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzM3YWVlMiIgZD0iTTAgMzJjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMyczMyLTE0LjMyNyAzMi0zMlM0OS42NzMgMCAzMiAwIDAgMTQuMzI3IDAgMzIiLz48cGF0aCBmaWxsPSIjYzhkYWVhIiBkPSJtMjEuNjYxIDM0LjMzOCAzLjc5NyAxMC41MDhzLjQ3NS45ODMuOTgzLjk4MyA4LjA2OC03Ljg2NCA4LjA2OC03Ljg2NGw4LjQwNy0xNi4yMzctMjEuMTE5IDkuODk4eiIvPjxwYXRoIGZpbGw9IiNhOWM2ZDgiIGQ9Im0yNi42OTUgMzcuMDM0LS43MjkgNy43NDZzLS4zMDUgMi4zNzMgMi4wNjggMGw0LjY0NC00LjIwMyIvPjxwYXRoIGQ9Im0yMS43MyAzNC43MTItNy44MDktMi41NDVzLS45MzItLjM3OC0uNjMzLTEuMjM3Yy4wNjItLjE3Ny4xODYtLjMyOC41NTktLjU4OCAxLjczMS0xLjIwNiAzMi4wMjgtMTIuMDk2IDMyLjAyOC0xMi4wOTZzLjg1Ni0uMjg4IDEuMzYxLS4wOTdjLjIzMS4wODguMzc4LjE4Ny41MDMuNTQ4LjA0NS4xMzIuMDcxLjQxMS4wNjguNjg5LS4wMDMuMjAxLS4wMjcuMzg2LS4wNDUuNjc4LS4xODQgMi45NzgtNS43MDYgMjUuMTk4LTUuNzA2IDI1LjE5OHMtLjMzIDEuMy0xLjUxNCAxLjM0NWMtLjQzMi4wMTYtLjk1Ni0uMDcxLTEuNTgyLS42MS0yLjMyMy0xLjk5OC0xMC4zNTItNy4zOTQtMTIuMTI2LTguNThhLjM0LjM0IDAgMCAxLS4xNDYtLjIzOWMtLjAyNS0uMTI1LjEwOC0uMjguMTA4LS4yOHMxMy45OC0xMi40MjcgMTQuMzUyLTEzLjczMWMuMDI5LS4xMDEtLjA3OS0uMTUxLS4yMjYtLjEwNy0uOTI5LjM0Mi0xNy4wMjUgMTAuNTA2LTE4LjgwMSAxMS42MjktLjEwNC4wNjYtLjM5NS4wMjMtLjM5NS4wMjMiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Telegram Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        }
      ]
    },
    {
      "id": 834,
      "icon": "file:code.svg",
      "name": "n8n-nodes-base.code",
      "codex": {
        "data": {
          "alias": [
            "cpde",
            "Javascript",
            "JS",
            "Python",
            "Script",
            "Custom Code",
            "Function"
          ],
          "details": "The Code node allows you to execute JavaScript in your workflow.",
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Code"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Code",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 844,
      "icon": "fa:filter",
      "name": "n8n-nodes-base.filter",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The Filter node can be used to filter items based on a condition. If the condition is met, the item will be passed on to the next node. If the condition is not met, the item will be omitted. Conditions can be combined together by AND(meet all conditions), or OR(meet at least one condition).",
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.filter/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Filtre",
        "color": "#229eff"
      },
      "iconData": {
        "icon": "filter",
        "type": "icon"
      },
      "displayName": "Filter",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 43,
      "name": "Productivité personnelle"
    },
    {
      "id": 47,
      "name": "Chatbot IA"
    }
  ],
  "image": []
}