automation/i18n/fr-FR/Find & Verify Business Emails Automatically with OpenRouter, Serper & Prospeo.json
{
  "id": 3817,
  "name": "Trouvez et vérifiez automatiquement les e-mails professionnels avec OpenRouter, Serper et Prospeo",
  "views": 1095,
  "recentViews": 1,
  "totalViews": 1095,
  "createdAt": "2025-05-01T09:50:42.047Z",
  "description": "#### **Pour qui est ce modèle ?**\n\nÉquipes de croissance, SDR, recruteurs, ou toute personne qui chasse régulièrement des e-mails professionnels difficiles à trouver et préférerait passer du temps à contacter plutôt qu'à deviner les formats.\n\n#### **Quel problème ce flux de travail résout-il ?**\n\nAssembler manuellement des modèles d'e-mails, les vérifier dans un vérificateur et mettre à jour une feuille de suivi est lent et sujet aux erreurs. Ce modèle automatise l'ensemble du processus—recherche, deviner, vérifier et enregistrer—pour que vous puissiez appuyer sur **Démarrer** et regarder les lignes se remplir avec des adresses prêtes à être envoyées.\n\n#### **Ce que fait ce flux de travail**\n\n1. **Tirer des leads frais** – Récupère uniquement les lignes dans votre Google Sheet où `Statut` = `FAUX`.\n2. **Trouver le modèle de l'entreprise** – Interroge **Serper.dev** pour des extraits et les envoie à **Gemini Flash** (via OpenRouter) pour repérer le format d'e-mail dominant.\n3. **Construire l'adresse** – Construit un e-mail probable pour chaque prénom/nom.\n4. **Vérifier en temps réel** – Pinge **Prospeo** par défaut (API) *ou* vous permet de nettoyer en masse dans **Sparkle.io**.\n5. **Écrire en retour** – Met à jour la feuille avec le modèle, l'e-mail, la confiance, le statut de vérification, et change `Statut` en `VRAI`.\n6. **Boucle jusqu'à ce que ce soit fait** – Fonctionne par lots afin que vous ne rencontriez jamais de limites d'API.\n\n---\n\n### 🆓 **Magie du niveau gratuit (jusqu'à \\~2 500 contacts/mois)**\n\n| Service        | Allocation gratuite                | Comment ce modèle l'utilise                                                            |\n| -------------- | ----------------------------- | ------------------------------------------------------------------------------------ |\n| **Serper.dev** | 2 500 recherches/mo             | Récupère trois extraits d'e-mails publics par domaine pour apprendre le modèle                  |\n| **Sparkle.io** | 10 000 vérifications en masse/jour | Option de *téléchargement manuel*—parfait pour nettoyer vos 2,5k premiers e-mails à zéro coût |\n| **Prospeo**    | 75 appels API/mo             | Intégré si vous préférez une vérification *entièrement automatisée*                                |\n\n**Flux de travail rapide Sparkle :**\n\n1. Laissez le modèle générer des e-mails.\n2. Exportez la colonne “E-mail” au format CSV → téléchargez sur Sparkle.io.\n3. Téléchargez les résultats et collez le \"statut_de_vérification\" dans la feuille (ou ajoutez un petit sous-flux d'importation n8n).\n\n---\n\n#### **Configuration (5 minutes)**\n\n1. **Copiez la Google Sheet** liée dans la note collante et collez son ID dans les nœuds *Obtenir des lignes* et *Mettre à jour des lignes*.\n2. Ajoutez des identifiants pour Google Sheets, Serper (X-API-KEY), OpenRouter, et *optionnellement* Prospeo.\n3. Appuyez sur **Exécuter le flux de travail**—c'est tout.\n\n---\n\n#### **Comment personnaliser**\n\n* **Préférez Sparkle pour le volume :** Ignorez le nœud Prospeo, exportez les e-mails en un clic, vérifiez en masse dans Sparkle, et réimportez les résultats.\n* **Échangez la source de recherche :** Remplacez le nœud HTTP *Obtenir le modèle d'e-mail* par Bing, Brave, etc.\n* **Étendez l'enrichissement :** Ajoutez des recherches de numéros de téléphone ou des scrapers LinkedIn avant le nœud *Mettre à jour des lignes*.\n* **Exécution automatique :** Remplacez le déclencheur manuel par un nœud Cron pour que la feuille se nettoie chaque matin.\n\n---\n\n### **Ressources supplémentaires**\n\n| Outil                                                                                                                              | But                                   | Lien                                                     |\n| --------------------------------------------------------------------------------------------------------------------------------- | ----------------------------------------- | -------------------------------------------------------- |\n| **Prospeo** – Vérification d'e-mail prête à l'API<br><sub>**Offre spéciale :** 20 % de crédits gratuits pour les 3 premiers mois sur n'importe quel plan en utilisant ce lien !</sub> | Validation de boîte aux lettres en temps réel, appel unique | [prospeo.io](https://prospeo.io/?via=naveen) |\n| **Sparkle.io** – Vérificateur en masse à haut volume (téléchargement manuel)                                                                        | Quota quotidien gratuit de 10 000 vérifications  | [app.sparkle.io/sign‑up](https://app.sparkle.io/sign-up) |\n| **OpenRouter** – Passerelle API pour Gemini Flash et d'autres LLMs                                                                        | Une clé déverrouille plusieurs modèles de pointe  | [openrouter.ai](https://openrouter.ai/)                  |\n| **Serper.dev** – API de recherche Google                                                                                                | 2 500 recherches/mois sur le niveau gratuit     | [serper.dev](https://serper.dev/)                        |\n\nAjoutez les clés pertinentes ou les détails d'inscription de ces liens, déposez-les dans les identifiants n8n correspondants, et vous êtes prêt à enrichir vos 2 500 premiers contacts à zéro coût. Bonne construction !\n",
  "workflow": {
    "id": "ttpfi7eLWpC3Hdxi",
    "meta": {
      "instanceId": "6fbb2e76a4f4743fb890492ba219000e5322811de9fe9ceb63aae628bc0e9ca4",
      "templateCredsSetupCompleted": true
    },
    "name": "My workflow 11",
    "tags": [],
    "nodes": [
      {
        "id": "19cfc4f3-a220-4788-8e19-c6abbf65b948",
        "name": "When clicking ‘Test workflow’",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          240,
          460
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "75cfd806-858f-4355-9d93-820620098657",
        "name": "Get Rows",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          460,
          460
        ],
        "parameters": {
          "options": {},
          "filtersUI": {
            "values": [
              {
                "lookupValue": "false",
                "lookupColumn": "Status"
              }
            ]
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rZk6P7OyIiRX6Z4DuGDy_WDKOmdbhkAr7c4keuDz2cc/edit#gid=0",
            "cachedResultName": "Emails"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1rZk6P7OyIiRX6Z4DuGDy_WDKOmdbhkAr7c4keuDz2cc",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rZk6P7OyIiRX6Z4DuGDy_WDKOmdbhkAr7c4keuDz2cc/edit?usp=drivesdk",
            "cachedResultName": "Find Emails"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "4",
            "name": "Google Sheets account"
          }
        },
        "typeVersion": 4.5,
        "alwaysOutputData": true
      },
      {
        "id": "58350462-bdd6-4e97-abb8-97458b2ad169",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "onError": "continueRegularOutput",
        "position": [
          1340,
          320
        ],
        "parameters": {
          "text": "=You can use the below information to extract email pattern for {{ $('Get Rows').item.json.Domain }}\n\nSnippet1: {{ $('Get Email Pattern').item.json.organic[0].snippet }}\nSnippet2: {{ $('Get Email Pattern').item.json.organic[1].snippet }}\nSnippet3: {{ $('Get Email Pattern').item.json.organic[2].snippet }}\n\nUse the extracted email pattern to build email address for:\nFirst Name: {{ $('Get Rows').item.json['First Name'] }}\nLast Name: {{ $('Get Rows').item.json['Last Name'] }}\nDomain: {{ $('Get Rows').item.json.Domain }}",
          "options": {
            "systemMessage": "=You are an expert email pattern analyzer and constructor. Your task is to:\n\n1. Analyze three website snippets from a domain to identify the common email pattern used at that company.\n2. Based on your analysis, construct a likely email address for a specific person using their first name, last name, and the company domain.\n\n## Rules for pattern identification:\n- Look for any visible email addresses in the snippets (e.g., contact@company.com, j.smith@domain.com)\n- Identify patterns such as:\n  * first.last@domain.com\n  * first_last@domain.com\n  * firstlast@domain.com\n  * first@domain.com\n  * first.initial.last@domain.com\n  * last.first@domain.com\n  * firstinitiallast@domain.com\n  * lastfirst@domain.com\n  * etc.\n\n## If no clear pattern is found:\n- Suggest the most probable pattern based on common business email conventions\n- Rank your confidence level in the suggested pattern (high, medium, low)\n- Propose 1-2 alternative patterns as backups\n\n## Output format:\n1. **Identified Pattern**: [pattern description]\n2. **Confidence**: [high/medium/low]\n3. **Constructed Email**: [email address using the pattern]\n4. **Alternative Formats**: [1-2 backup email formats if confidence is not high]\n\nImportant: Your entire response must be valid JSON only, with no explanatory text before or after. Do not include markdown formatting, backticks, or code blocks around the JSON.\n\n\nBe precise, analytical, and logical in your pattern detection and email construction."
          },
          "promptType": "define",
          "hasOutputParser": true
        },
        "notesInFlow": false,
        "retryOnFail": false,
        "typeVersion": 1.9
      },
      {
        "id": "bcb79bcf-55f6-406c-9fea-ff6d09f8bcae",
        "name": "OpenRouter Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "position": [
          1260,
          600
        ],
        "parameters": {
          "model": "openai/o3-mini",
          "options": {}
        },
        "credentials": {
          "openRouterApi": {
            "id": "as3Nrpj9fJwXfB8s",
            "name": "OpenRouter account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "c5ea7423-66d2-448e-90f2-934f41cc946f",
        "name": "Structured Output Parser",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "position": [
          1600,
          600
        ],
        "parameters": {
          "jsonSchemaExample": "{\n  \"identifiedPattern\": \"first.last@domain.com\",\n  \"confidence\": \"high\",\n  \"constructedEmail\": \"john.doe@example.com\",\n  \"alternativeFormats\": [\n    \"j.doe@example.com\",\n    \"john@example.com\"\n  ]\n}"
        },
        "typeVersion": 1.2
      },
      {
        "id": "6d33e7da-b138-4853-a615-4617df2b5736",
        "name": "Verify Email",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1720,
          320
        ],
        "parameters": {
          "url": "=https://api.prospeo.io/email-verifier",
          "method": "POST",
          "options": {
            "redirect": {
              "redirect": {}
            }
          },
          "sendBody": true,
          "authentication": "genericCredentialType",
          "bodyParameters": {
            "parameters": [
              {
                "name": "email",
                "value": "={{ $json.output.constructedEmail }}"
              }
            ]
          },
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "iy0AUIpuers7IfwW",
            "name": "Prospeo Header Auth"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "a96ce029-3c43-408d-bf8f-7d06071d6213",
        "name": "Update Rows",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          1940,
          460
        ],
        "parameters": {
          "columns": {
            "value": {
              "ID": "={{ $('Get Rows').item.json.ID }}",
              "Email": "={{ $('AI Agent').item.json.output.constructedEmail }}",
              "Status": "TRUE",
              "Confidence": "={{ $('AI Agent').item.json.output.confidence }}",
              "Email Status": "={{ $json.response.email_status }}",
              "Email Pattern": "={{ $('AI Agent').item.json.output.identifiedPattern }}"
            },
            "schema": [
              {
                "id": "ID",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "ID",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "First Name",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "First Name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Last Name",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Last Name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Website",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Website",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Domain",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Domain",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Email Pattern",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Email Pattern",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Email",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Confidence",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Confidence",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Email Status",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Email Status",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Status",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "ID"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "appendOrUpdate",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rZk6P7OyIiRX6Z4DuGDy_WDKOmdbhkAr7c4keuDz2cc/edit#gid=0",
            "cachedResultName": "Emails"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1rZk6P7OyIiRX6Z4DuGDy_WDKOmdbhkAr7c4keuDz2cc",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rZk6P7OyIiRX6Z4DuGDy_WDKOmdbhkAr7c4keuDz2cc/edit?usp=drivesdk",
            "cachedResultName": "Find Emails"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "4",
            "name": "Google Sheets account"
          }
        },
        "typeVersion": 4.5
      },
      {
        "id": "9c987841-2034-4489-99d4-5d600f816679",
        "name": "Get Email Pattern",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          680,
          460
        ],
        "parameters": {
          "url": "https://google.serper.dev/search",
          "method": "POST",
          "options": {
            "redirect": {
              "redirect": {}
            }
          },
          "sendBody": true,
          "authentication": "genericCredentialType",
          "bodyParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "=site:rocketreach.co email pattern for {{ $json.Domain }}"
              }
            ]
          },
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "KTwiEEvaHRmqJsB9",
            "name": "serpr.dev Header Auth account"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "1e0e9523-76bc-4bf3-8061-7980248df3d7",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          1140,
          380
        ],
        "parameters": {
          "options": {}
        },
        "typeVersion": 3
      },
      {
        "id": "cf462ecb-1392-4486-b017-73172971a03a",
        "name": "Has Snippet Results?",
        "type": "n8n-nodes-base.if",
        "position": [
          900,
          460
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "857568fd-ee3e-4d86-8853-2db9dd810c55",
                "operator": {
                  "type": "array",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.organic }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "80200a67-ca87-4775-bf91-40e9c0b4ad61",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "parameters": {
          "width": 600,
          "height": 300,
          "content": "## 📨 Find Emails – Basic  \nAutomates **Google Sheets → Serper → Gemini Flash → Prospeo/Sparkle → Sheets**  \n\n1. Pull rows where `Status = FALSE`  \n2. Scrape 3 RocketReach snippets with **Serper.dev**  \n3. Detect email pattern & build address (Gemini Flash via **OpenRouter**)  \n4. Verify (**Prospeo API** or Sparkle bulk)  \n5. Write back ➜ set `Status = TRUE`\n\n<!-- Ideal users: SDRs, recruiters, growth teams -->"
        },
        "typeVersion": 1
      },
      {
        "id": "55375484-6dcc-4f69-a88a-5aa43432f870",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          820,
          0
        ],
        "parameters": {
          "color": 5,
          "width": 880,
          "height": 300,
          "content": "> ## 🔧 Quick setup\n>\n> **Google Sheet**  \n> Copy → https://docs.google.com/spreadsheets/d/1rZk6P7OyIiRX6Z4DuGDy_WDKOmdbhkAr7c4keuDz2cc/edit?usp=sharing  \n\n\n> **API keys**  \n\n> • Serper → header **X‑API‑KEY** in *Get Email Pattern*  \n> • OpenRouter → creds on *OpenRouter Chat Model*  \n> • Prospeo → header **X‑KEY** in *Verify Email*\n>\n> Need volume? export the \"Email\" column and bulk‑verify free in Sparkle (10 k/day).\n"
        },
        "typeVersion": 1
      },
      {
        "id": "ffc1edd6-14e4-4051-b7ea-82bc219050f5",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1900,
          0
        ],
        "parameters": {
          "color": 4,
          "width": 600,
          "height": 300,
          "content": "### ➡️ Columns updated\n\n* **Email** – constructed address  \n* **Email Pattern** – e.g. `first.last@`  \n* **Confidence** – high / medium / low  \n* **Email Status** – `deliverable`, `risky`, etc.  \n* **Status** – flips to `TRUE`\n\n<!-- Feel free to add Phone, LinkedIn URL, etc. in Update Rows mapping -->"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "1c56475c-a2e6-4c84-9082-1e7b729c0e39",
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "Verify Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Rows": {
        "main": [
          [
            {
              "node": "Get Email Pattern",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Rows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Email": {
        "main": [
          [
            {
              "node": "Update Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Email Pattern": {
        "main": [
          [
            {
              "node": "Has Snippet Results?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Has Snippet Results?": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Get Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 13,
    "nodeTypes": {
      "n8n-nodes-base.if": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 3
      },
      "n8n-nodes-base.httpRequest": {
        "count": 2
      },
      "n8n-nodes-base.googleSheets": {
        "count": 2
      },
      "n8n-nodes-base.manualTrigger": {
        "count": 1
      },
      "n8n-nodes-base.splitInBatches": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.agent": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.lmChatOpenRouter": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.outputParserStructured": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Naveen Choudhary",
    "username": "n8nstein",
    "bio": "I create AI-driven n8n workflows that turn repetitive tasks into smooth, hands-off automations. Want to explore an idea? Book a quick consult: https://cal.com/nickchoudhary/30min",
    "verified": true,
    "links": [
      "https://www.linkedin.com/in/naveen-choudhary/"
    ],
    "avatar": "https://gravatar.com/avatar/6d9ee4873c6912965622290c866bbb3edf795dd73d3c8b16b7c5886db7e59070?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 18,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheets",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Sheet",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                "icon": "❤️",
                "label": "Love at first sight: Ricardo’s n8n journey"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                "icon": "⏲",
                "label": "Creating triggers for n8n workflows using polling"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                "icon": "🍔",
                "label": "How Honest Burgers Use Automation to Save $100k per year"
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\",\"output\"]",
      "defaults": {
        "name": "Google Sheets"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets",
      "typeVersion": 5,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Demande HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 20,
      "icon": "fa:map-signs",
      "name": "n8n-nodes-base.if",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                "icon": "🏷️",
                "label": "How to automatically manage contributions to open-source projects"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Si",
        "color": "#408000"
      },
      "iconData": {
        "icon": "map-signs",
        "type": "icon"
      },
      "displayName": "If",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 39,
      "icon": "fa:sync",
      "name": "n8n-nodes-base.splitInBatches",
      "codex": {
        "data": {
          "alias": [
            "Loop",
            "Concatenate",
            "Batch",
            "Split",
            "Split In Batches"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"organization\"]",
      "defaults": {
        "name": "Boucle sur les éléments",
        "color": "#007755"
      },
      "iconData": {
        "icon": "sync",
        "type": "icon"
      },
      "displayName": "Loop Over Items (Split in Batches)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note collante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 838,
      "icon": "fa:mouse-pointer",
      "name": "n8n-nodes-base.manualTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lorsque vous cliquez sur ‘Exécuter le flux de travail’",
        "color": "#909298"
      },
      "iconData": {
        "icon": "mouse-pointer",
        "type": "icon"
      },
      "displayName": "Manual Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1119,
      "icon": "fa:robot",
      "name": "@n8n/n8n-nodes-langchain.agent",
      "codex": {
        "data": {
          "alias": [
            "LangChain",
            "Chat",
            "Conversational",
            "Plan and Execute",
            "ReAct",
            "Tools"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Agents",
              "Root Nodes"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Agent AI",
        "color": "#404040"
      },
      "iconData": {
        "icon": "robot",
        "type": "icon"
      },
      "displayName": "AI Agent",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1179,
      "icon": "fa:code",
      "name": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "codex": {
        "data": {
          "alias": [
            "json",
            "zod"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.outputparserstructured/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Output Parsers"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Analyseur de sortie structuré"
      },
      "iconData": {
        "icon": "code",
        "type": "icon"
      },
      "displayName": "Structured Output Parser",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1281,
      "icon": "file:openrouter.svg",
      "name": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatopenrouter/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Language Models",
              "Root Nodes"
            ],
            "Language Models": [
              "Chat Models (Recommended)"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Modèle de chat OpenRouter"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjOTRBM0I4IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0aXRsZT5PcGVuUm91dGVyPC90aXRsZT48cGF0aCBkPSJNMTYuODA0IDEuOTU3bDcuMjIgNC4xMDV2LjA4N0wxNi43MyAxMC4yMWwuMDE3LTIuMTE3LS44MjEtLjAzYy0xLjA1OS0uMDI4LTEuNjExLjAwMi0yLjI2OC4xMS0xLjA2NC4xNzUtMi4wMzguNTc3LTMuMTQ3IDEuMzUyTDguMzQ1IDExLjAzYy0uMjg0LjE5NS0uNDk1LjMzNi0uNjguNDU1bC0uNTE1LjMyMi0uMzk3LjIzNC4zODUuMjMuNTMuMzM4Yy40NzYuMzE0IDEuMTcuNzk2IDIuNzAxIDEuODY2IDEuMTEuNzc1IDIuMDgzIDEuMTc3IDMuMTQ3IDEuMzUybC4zLjA0NWMuNjk0LjA5MSAxLjM3NS4wOTQgMi44MjUuMDMzbC4wMjItMi4xNTkgNy4yMiA0LjEwNXYuMDg3TDE2LjU4OSAyMmwuMDE0LTEuODYyLS42MzUuMDIyYy0xLjM4Ni4wNDItMi4xMzcuMDAyLTMuMTM4LS4xNjItMS42OTQtLjI4LTMuMjYtLjkyNi00Ljg4MS0yLjA1OWwtMi4xNTgtMS41YTIxLjk5NyAyMS45OTcgMCAwMC0uNzU1LS40OThsLS40NjctLjI4YTU1LjkyNyA1NS45MjcgMCAwMC0uNzYtLjQzQzIuOTA4IDE0LjczLjU2MyAxNC4xMTYgMCAxNC4xMTZWOS44ODhsLjE0LjAwNGMuNTY0LS4wMDcgMi45MS0uNjIyIDMuODA5LTEuMTI0bDEuMDE2LS41OC40MzgtLjI3NGMuNDI4LS4yOCAxLjA3Mi0uNzI2IDIuNjg2LTEuODUzIDEuNjIxLTEuMTMzIDMuMTg2LTEuNzggNC44ODEtMi4wNTkgMS4xNTItLjE5IDEuOTc0LS4yMTMgMy44MTQtLjEzOGwuMDItMS45MDd6Ij48L3BhdGg+PC9zdmc+Cg=="
      },
      "displayName": "OpenRouter Chat Model",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 37,
      "name": "Génération de leads"
    },
    {
      "id": 49,
      "name": "Résumé AI"
    }
  ],
  "image": []
}