automation/i18n/fr-FR/Generate Azure VM Timeline Reports with Google Gemini AI Chat Assistant.json
{
  "id": 4513,
  "name": "Générer des rapports de chronologie de VM Azure avec l'assistant de chat Google Gemini AI",
  "views": 475,
  "recentViews": 0,
  "totalViews": 475,
  "createdAt": "2025-05-30T13:38:24.059Z",
  "description": "Un assistant de chat alimenté par l'IA qui analyse l'activité des machines virtuelles Azure et génère des rapports de chronologie détaillés montrant les changements d'état des VM, les métriques de performance et les événements opérationnels au fil du temps.\n\n## Comment ça fonctionne\n\nLe flux de travail commence par un déclencheur de chat qui accepte les requêtes des utilisateurs concernant l'analyse des VM Azure. Un agent Google Gemini AI traite ces demandes et utilise six outils spécialisés pour rassembler des données VM complètes à partir des API Azure. L'agent interroge les groupes de ressources, récupère les configurations de VM et les vues d'instance, extrait les métriques de performance (CPU, réseau, disque I/O) et collecte les événements des journaux d'activité. Il analyse ensuite ces données pour créer des rapports de chronologie montrant ce qui est arrivé aux VM pendant des périodes spécifiées, par défaut les 90 derniers jours, sauf si l'utilisateur spécifie autrement.\n\n## Prérequis\n\nPour utiliser ce modèle, vous aurez besoin de :\n\n- instance n8n (cloud ou auto-hébergée)\n- abonnement Azure avec des machines virtuelles\n- identifiants API OAuth2 de Microsoft Azure Monitor\n- identifiants API Google Gemini\n- autorisations Azure appropriées pour lire les données VM et les journaux d'activité\n\n## Instructions de configuration\n\n1. **Importez le modèle dans n8n.**\n2. **Configurez les identifiants :**  \n   - Ajoutez les identifiants API OAuth2 de Microsoft Azure Monitor avec des autorisations de lecture pour les VM et les journaux d'activité\n   - Ajoutez les identifiants API Google Gemini\n3. **Mettez à jour les paramètres du flux de travail :**  \n   - Ouvrez le nœud \"Définir les variables communes\"  \n   - Remplacez `&lt;votre identifiant d'abonnement azure ici&gt;` par votre véritable identifiant d'abonnement Azure\n4. **Configurez les déclencheurs :**  \n   - Le déclencheur de chat générera automatiquement une URL de webhook pour recevoir les messages de chat\n   - Aucune configuration de déclencheur supplémentaire n'est nécessaire\n5. **Testez la configuration pour vous assurer qu'elle fonctionne.**\n\n## Considérations de sécurité\n\nUtilisez les autorisations Azure minimales requises (rôle de lecteur sur l'abonnement ou les groupes de ressources). Stockez les identifiants API en toute sécurité dans le magasin d'identifiants n8n. L'API Azure Monitor a des limites de taux, donc évitez les demandes concurrentes excessives. Les sessions de chat utilisent une mémoire basée sur la session qui persiste pendant les conversations mais ne conserve pas les données entre les sessions de chat séparées.\n\n## Extension du modèle\n\nVous pouvez ajouter d'autres outils de surveillance Azure comme des métriques de disque, des journaux de groupes de sécurité réseau ou des données d'Application Insights. L'agent IA peut être amélioré avec des outils supplémentaires pour l'analyse des coûts Azure, des recommandations de sécurité ou des actions de remédiation automatisées. Vous pourriez également vous intégrer à des systèmes d'alerte ou exporter des rapports vers un stockage externe ou des plateformes de reporting.",
  "workflow": {
    "meta": {
      "instanceId": "dc70be25ab3de91313745487daa53ea6b35f677ae326eae305310e197f986f71",
      "templateCredsSetupCompleted": true
    },
    "nodes": [
      {
        "id": "214c1831-bd0d-431a-b811-bc29122f5bf1",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          1092,
          -780
        ],
        "parameters": {
          "text": "={{ $('When chat message received').item.json.chatInput }}",
          "options": {
            "systemMessage": "=You are an assistant that queries the user's Azure subscription for various Azure virtual machine information.\n\nThrough your tools, you have the ability to query information in Azure such as resource groups and virtual machines.\n\nYour task is to carefully analyze all information about one or more VMs and provide a timeline report to the user including VM state changes, CPU, network, disk activity, etc. The report will be broken down by VM and provide a historical timeline of what happened to a VM during that time.\n\nDo not ask the user questions unless absolutely necessary. He relies on you to make your own decisions.\n\nBy default, the user needs all events starting 90 days ago and newer but can override that with a request.\n\n"
          },
          "promptType": "define"
        },
        "typeVersion": 1.8
      },
      {
        "id": "1c5bee5e-bbd8-4a0c-bcdf-817540cf5b0f",
        "name": "Set Common Variables",
        "type": "n8n-nodes-base.set",
        "position": [
          720,
          -780
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "942ba480-59b8-4a77-a36d-6f198b2b76b4",
                "name": "azure_subscription_id",
                "type": "string",
                "value": "<your azure subscription id here>"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "f2bc18f2-aa40-43b5-8738-0faa64aa5beb",
        "name": "Get VM Performance Stats",
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "position": [
          1060,
          -500
        ],
        "parameters": {
          "url": "=https://management.azure.com/subscriptions/{{ $json.azure_subscription_id }}/resourceGroups/{azure_resource_group_name}/providers/Microsoft.Compute/virtualMachines/{vm_name}/providers/microsoft.insights/metrics",
          "sendQuery": true,
          "authentication": "predefinedCredentialType",
          "parametersQuery": {
            "values": [
              {
                "name": "api-version",
                "value": "2018-01-01",
                "valueProvider": "fieldValue"
              },
              {
                "name": "metricnames",
                "value": "Percentage CPU,Network In,Network Out,Disk Read Bytes,Disk Write Bytes",
                "valueProvider": "fieldValue"
              },
              {
                "name": "timespan",
                "value": "{from_time}/{to_time}&interval={interval}",
                "valueProvider": "fieldValue"
              },
              {
                "name": "aggregation",
                "value": "average,maximum",
                "valueProvider": "fieldValue"
              }
            ]
          },
          "toolDescription": "This tool returns performance metrics for a specific virtual machine (VM) in Azure. These metrics come from Azure Monitor and provide time-series data that helps you understand how the VM is performing over time. This includes key metrics like CPU usage (Percentage CPU), disk I/O, network in/out, and available memory, depending on what’s enabled for monitoring.\n\nYou can use query parameters (e.g., metricnames, timespan, interval, aggregation) to control which metrics are returned, over what time period, and at what granularity. The response includes metadata like the unit of measurement, timestamps, and aggregated values (e.g., average, minimum, maximum). This endpoint is commonly used for monitoring, alerting, and troubleshooting VM performance.",
          "nodeCredentialType": "microsoftAzureMonitorOAuth2Api",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "azure_resource_group_name",
                "type": "string"
              },
              {
                "name": "vm_name",
                "type": "string"
              },
              {
                "name": "from_time",
                "type": "string",
                "description": "2025-05-18T20:01:52Z"
              },
              {
                "name": "to_time",
                "type": "string"
              },
              {
                "name": "interval",
                "description": " ISO 8601 duration format Options: PT1M (1min), PT5M (5min), PT15M (15min), PT30M (30min), PT1H (1hr), PT6H (6hr), PT12H (12hr), P1D (1day)"
              }
            ]
          }
        },
        "credentials": {
          "microsoftAzureMonitorOAuth2Api": {
            "id": "jUzjMChitb3DNqcr",
            "name": "Microsoft Azure Monitor"
          }
        },
        "typeVersion": 1.1
      },
      {
        "id": "58093475-6b4a-44b7-8a94-783de4c662f4",
        "name": "When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "position": [
          500,
          -780
        ],
        "webhookId": "def18753-6744-4666-8062-9cc37938ff3c",
        "parameters": {
          "options": {}
        },
        "typeVersion": 1.1
      },
      {
        "id": "006eb130-f4e6-4f6b-af5a-0f045eef9426",
        "name": "Google Gemini Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "position": [
          600,
          -520
        ],
        "parameters": {
          "options": {},
          "modelName": "models/gemini-2.5-pro-preview-05-06"
        },
        "credentials": {
          "googlePalmApi": {
            "id": "MeEjlKe69mU8qQ3w",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "838e66a3-0b0e-441d-aa02-d9dda32e3ce7",
        "name": "Simple Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          820,
          -460
        ],
        "parameters": {
          "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
          "sessionIdType": "customKey"
        },
        "typeVersion": 1.3
      },
      {
        "id": "30acbfb9-6938-475c-a97c-c8e9f93d8034",
        "name": "Get Azure Resource Groups",
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "position": [
          1280,
          -520
        ],
        "parameters": {
          "url": "=https://management.azure.com/subscriptions/{{ $json.azure_subscription_id }}/resourcegroups?api-version=2021-04-01",
          "fields": "name, type",
          "dataField": "value",
          "authentication": "predefinedCredentialType",
          "fieldsToInclude": "selected",
          "toolDescription": "This tool returns a list of resource groups within the specified Azure subscription. A resource group is a container that holds related Azure resources like virtual machines, storage accounts, and databases. This API is useful for inventory, organization, and automation tasks.\n\nEach resource group object in the response includes basic metadata such as the name, location (region), id, and properties.provisioningState. It may also contain tags if they are defined. This endpoint is typically used to get an overview of how resources are grouped and managed across a subscription, and it’s often the first step in workflows that involve resource discovery or filtering by location or naming convention.",
          "optimizeResponse": true,
          "nodeCredentialType": "microsoftAzureMonitorOAuth2Api"
        },
        "credentials": {
          "microsoftAzureMonitorOAuth2Api": {
            "id": "jUzjMChitb3DNqcr",
            "name": "Microsoft Azure Monitor"
          }
        },
        "typeVersion": 1.1
      },
      {
        "id": "b5cd2f51-dde8-410f-a622-78d87bca9883",
        "name": "Get VM Information",
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "position": [
          1680,
          -680
        ],
        "parameters": {
          "url": "=https://management.azure.com/subscriptions/{{ $json.azure_subscription_id}}/resourceGroups/{azure_resource_group_name}/providers/Microsoft.Compute/virtualMachines",
          "fields": "name,location,tags,properties.hardwareProfile.vmSize",
          "dataField": "value",
          "sendQuery": true,
          "authentication": "predefinedCredentialType",
          "fieldsToInclude": "selected",
          "parametersQuery": {
            "values": [
              {
                "name": "api-version",
                "value": "2023-03-01",
                "valueProvider": "fieldValue"
              }
            ]
          },
          "toolDescription": "This tool returns a list of all virtual machines (VMs) within a specific resource group under a given subscription. The response is a JSON object that includes metadata for each VM, such as the VM name, location (Azure region), provisioning state, VM size (e.g., Standard_D2s_v3), OS type, and associated resources like network interfaces and storage profiles. Each VM entry may also include tags, availability zone info, and reference links to related resources like disks, NICs, or the OS image used.\n\nThis endpoint does not include live runtime data like power state or metrics (e.g., CPU usage). To get those, you’d need to call separate endpoints such as instance view (/virtualMachines/{vmName}/instanceView). The primary use case for this endpoint is inventory management—enumerating and describing all VMs in a group for configuration or auditing purposes.",
          "optimizeResponse": true,
          "nodeCredentialType": "microsoftAzureMonitorOAuth2Api",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "azure_resource_group_name",
                "type": "string"
              }
            ]
          }
        },
        "credentials": {
          "microsoftAzureMonitorOAuth2Api": {
            "id": "jUzjMChitb3DNqcr",
            "name": "Microsoft Azure Monitor"
          }
        },
        "typeVersion": 1.1
      },
      {
        "id": "0159f464-6fb5-4ddf-8536-5dc7798bc484",
        "name": "Get VM Events",
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "position": [
          1980,
          -940
        ],
        "parameters": {
          "url": "=https://management.azure.com/subscriptions/{{ $json.azure_subscription_id }}/providers/microsoft.insights/eventtypes/management/values",
          "fields": "category.localizedValue, level, resourceGroupName, operationName.localizedValue, properties.title, properties.details, properties.type, properties.cause,eventTimestamp",
          "dataField": "value",
          "sendQuery": true,
          "authentication": "predefinedCredentialType",
          "fieldsToInclude": "selected",
          "parametersQuery": {
            "values": [
              {
                "name": "api-version",
                "value": "2015-04-01",
                "valueProvider": "fieldValue"
              },
              {
                "name": "$filter",
                "value": "=eventTimestamp ge '{{ $if('{start_timestamp}', '{start_timestamp}', DateTime.utc().minus({ days: 90 }).startOf('second').toISO()) }}'\n    {{ $if({vm_name}, ` and resourceId eq '/SUBSCRIPTIONS/${$json.azure_subscription_id}/RESOURCEGROUPS/{resource_group_name}/PROVIDERS/MICROSOFT.COMPUTE/VIRTUALMACHINES/{vm_name}`, ` and resourceGroupName eq '{resource_group_name}'`) }}'\n}",
                "valueProvider": "fieldValue"
              }
            ]
          },
          "toolDescription": "This tool returns a list of Azure Activity Log events related to management operations within a specific subscription. These events capture control-plane actions performed on Azure resources, such as creating, updating, or deleting virtual machines, storage accounts, resource groups, role assignments, and more. The log includes data on who initiated the action, when it occurred, what the operation was, its result (e.g. Succeeded, Failed), and which resource was affected.\n\nEach event in the response contains detailed fields such as eventTimestamp, operationName, status, caller, resourceId, and correlationId. This data is commonly used for auditing, compliance, and security monitoring. You can apply filters using query parameters like time range ($filter) to retrieve logs from a specific period. These logs do not contain data-plane information (like reading from a VM or querying a database)—only control-plane actions that change Azure resource state or configuration.",
          "optimizeResponse": true,
          "nodeCredentialType": "microsoftAzureMonitorOAuth2Api",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "resource_group_name",
                "type": "string",
                "description": "Required"
              },
              {
                "name": "vm_name",
                "type": "string",
                "description": "Not required"
              },
              {
                "name": "start_timestamp",
                "type": "string",
                "description": "Not required. Value requires timestamp in ISO 8601 format. Convert for the user if another format is provided."
              }
            ]
          }
        },
        "credentials": {
          "microsoftAzureMonitorOAuth2Api": {
            "id": "jUzjMChitb3DNqcr",
            "name": "Microsoft Azure Monitor"
          }
        },
        "typeVersion": 1.1
      },
      {
        "id": "560c6ffe-e248-4b26-8752-db8be5e4056d",
        "name": "Get Current Date",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "position": [
          1840,
          -780
        ],
        "parameters": {
          "name": "get_current_date",
          "jsCode": "const curDate = new Date().toISOString()\nreturn curDate",
          "description": "Call this tool to get the current date"
        },
        "typeVersion": 1.1
      },
      {
        "id": "3adb5a18-38fe-4b94-9f5f-6937d51fe90f",
        "name": "Get VM Instance View",
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "position": [
          1500,
          -560
        ],
        "parameters": {
          "url": "=https://management.azure.com/subscriptions/{{ $json.azure_subscription_id }}/resourceGroups/{azure_resource_group_name}/providers/Microsoft.Compute/virtualMachines/{vm_name}/instanceView",
          "sendQuery": true,
          "authentication": "predefinedCredentialType",
          "parametersQuery": {
            "values": [
              {
                "name": "api-version",
                "value": "2023-09-01",
                "valueProvider": "fieldValue"
              }
            ]
          },
          "toolDescription": "This tool returns the instance view of a specific virtual machine. This provides runtime details that aren’t available through the standard VM configuration API. It includes information such as the VM’s power state (e.g., PowerState/running, stopped), provisioning status, and boot diagnostics.\n\nThe response also contains detailed status codes for each component of the VM, such as the OS disk, data disks, and VM agent. These status entries help diagnose health or startup issues. Unlike the general VM list, this endpoint is focused on the current operational state of the VM and is commonly used in monitoring dashboards or automation scripts that need to respond to VM lifecycle events.",
          "nodeCredentialType": "microsoftAzureMonitorOAuth2Api",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "azure_resource_group_name",
                "type": "string"
              },
              {
                "name": "vm_name",
                "type": "string"
              }
            ]
          }
        },
        "credentials": {
          "microsoftAzureMonitorOAuth2Api": {
            "id": "jUzjMChitb3DNqcr",
            "name": "Microsoft Azure Monitor"
          }
        },
        "typeVersion": 1.1
      }
    ],
    "pinData": {},
    "connections": {
      "AI Agent": {
        "main": [
          []
        ]
      },
      "Get VM Events": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Get Current Date": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get VM Information": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get VM Instance View": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Set Common Variables": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get VM Performance Stats": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get Azure Resource Groups": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "Set Common Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 11,
    "nodeTypes": {
      "n8n-nodes-base.set": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.agent": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.toolCode": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.chatTrigger": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.toolHttpRequest": {
        "count": 5
      },
      "@n8n/n8n-nodes-langchain.lmChatGoogleGemini": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.memoryBufferWindow": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Adam Bertram",
    "username": "adbertram",
    "bio": "",
    "verified": true,
    "links": [
      "https://x.com/adbertram"
    ],
    "avatar": "https://gravatar.com/avatar/d0b9d42e21e5622713f8b693aa5c0f9244d5f7dd200ed29b8398f52dee5de337?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 38,
      "icon": "fa:pen",
      "name": "n8n-nodes-base.set",
      "codex": {
        "data": {
          "alias": [
            "Set",
            "JS",
            "JSON",
            "Filter",
            "Transform",
            "Map"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Modifier les champs"
      },
      "iconData": {
        "icon": "pen",
        "type": "icon"
      },
      "displayName": "Edit Fields (Set)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1119,
      "icon": "fa:robot",
      "name": "@n8n/n8n-nodes-langchain.agent",
      "codex": {
        "data": {
          "alias": [
            "LangChain",
            "Chat",
            "Conversational",
            "Plan and Execute",
            "ReAct",
            "Tools"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Agents",
              "Root Nodes"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Agent IA",
        "color": "#404040"
      },
      "iconData": {
        "icon": "robot",
        "type": "icon"
      },
      "displayName": "AI Agent",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1163,
      "icon": "fa:database",
      "name": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.memorybufferwindow/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Memory"
            ],
            "Memory": [
              "For beginners"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Mémoire simple"
      },
      "iconData": {
        "icon": "database",
        "type": "icon"
      },
      "displayName": "Simple Memory",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1197,
      "icon": "fa:code",
      "name": "@n8n/n8n-nodes-langchain.toolCode",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.toolcode/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Tools"
            ],
            "Tools": [
              "Recommended Tools"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Outil de code"
      },
      "iconData": {
        "icon": "code",
        "type": "icon"
      },
      "displayName": "Code Tool",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1247,
      "icon": "fa:comments",
      "name": "@n8n/n8n-nodes-langchain.chatTrigger",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-langchain.chattrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes",
            "Langchain"
          ]
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lorsque le message de chat est reçu"
      },
      "iconData": {
        "icon": "comments",
        "type": "icon"
      },
      "displayName": "Chat Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1262,
      "icon": "file:google.svg",
      "name": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatgooglegemini/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Language Models",
              "Root Nodes"
            ],
            "Language Models": [
              "Chat Models (Recommended)"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Modèle de chat Google Gemini"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNDQuNSAyMEgyNHY4LjVoMTEuOEMzNC43IDMzLjkgMzAuMSAzNyAyNCAzN2MtNy4yIDAtMTMtNS44LTEzLTEzczUuOC0xMyAxMy0xM2MzLjEgMCA1LjkgMS4xIDguMSAyLjlsNi40LTYuNEMzNC42IDQuMSAyOS42IDIgMjQgMiAxMS44IDIgMiAxMS44IDIgMjRzOS44IDIyIDIyIDIyYzExIDAgMjEtOCAyMS0yMiAwLTEuMy0uMi0yLjctLjUtNCIvPjwvZGVmcz48Y2xpcFBhdGggaWQ9ImIiPjx1c2UgeGxpbms6aHJlZj0iI2EiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PC9jbGlwUGF0aD48cGF0aCBmaWxsPSIjRkJCQzA1IiBkPSJNMCAzN1YxMWwxNyAxM3oiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im0wIDExIDE3IDEzIDctNi4xTDQ4IDE0VjBIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiMzNEE4NTMiIGQ9Im0wIDM3IDMwLTIzIDcuOSAxTDQ4IDB2NDhIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik00OCA0OCAxNyAyNGwtNC0zIDM1LTEweiIgY2xpcC1wYXRoPSJ1cmwoI2IpIi8+PC9zdmc+"
      },
      "displayName": "Google Gemini Chat Model",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1268,
      "icon": "file:httprequest.svg",
      "name": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.toolhttprequest/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Tools"
            ],
            "Tools": [
              "Recommended Tools"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Demande HTTP"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+PHBhdGggZmlsbD0iIzAwMDRGNSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNDAgMjBDNDAgOC45NTMgMzEuMDQ3IDAgMjAgMFMwIDguOTUzIDAgMjBzOC45NTMgMjAgMjAgMjAgMjAtOC45NTMgMjAtMjBNMjAgMzYuOTQ2Yy0xLjExNSAwLTIuODYyLS45NzktNC41LTQuMjQ3LS43MDQtMS40MDctMS4zMDQtMy4xNTYtMS43NDctNS4wMTRIMjYuMTljLS4zODYgMS44NTUtLjk4NiAzLjYwNS0xLjY5IDUuMDE0LTEuNjM4IDMuMjY4LTMuMzg1IDQuMjQ3LTQuNSA0LjI0N00xMi45MDYgMjBjMCAxLjYxLjEwMyAzLjE2NC4yOTQgNC42M2gxMy42YTM2IDM2IDAgMCAwIC4yOTQtNC42M2MwLTEuNjEtLjEwMy0zLjE2NC0uMjk0LTQuNjNIMTMuMmEzNiAzNiAwIDAgMC0uMjk0IDQuNjNNMjAgMy4wNTRjMS4xMTUgMCAyLjg2Mi45NzcgNC41IDQuMjQ2LjcwNyAxLjQxNCAxLjMwNyAzLjEwNyAxLjY5MiA1LjAxNUgxMy43NWMuNDQzLTEuOTEgMS4wNDQtMy42MDIgMS43NS01LjAxNCAxLjYzOC0zLjI3IDMuMzg1LTQuMjQ3IDQuNS00LjI0N00zMC4xNDggMjBjMC0xLjU5LS4wOTQtMy4xMzgtLjMyNS00LjYzaDYuNDgxYy40MjEgMS40NzIuNjQyIDMuMDI2LjY0MiA0LjYzcy0uMjIgMy4xNTgtLjY0MiA0LjYzaC02LjQ4MWMuMjMxLTEuNDkyLjMyNS0zLjA0LjMyNS00LjYzTTI2LjI3NyA0LjI1NWMxLjM2IDIuMTA1IDIuNDM0IDQuODc3IDMuMSA4LjA2aDUuNzI4YTE2Ljk4IDE2Ljk4IDAgMCAwLTguODI4LTguMDZtLTE1LjY1NCA4LjA2aC01LjczYzEuODU4LTMuNjQ3IDUtNi41MzIgOC44My04LjA2LTEuMzYgMi4xMDUtMi40MzQgNC44NzctMy4xIDguMDZNMy4wNTQgMjBjMCAxLjYwMy4yMjMgMy4xNTcuNjQgNC42M2g2LjQyOGE0MCA0MCAwIDAgMS0uMjctNC42M2MwLTEuNTk0LjA5NC0zLjE0Mi4yNy00LjYzSDMuNjk1YTE3IDE3IDAgMCAwLS42NCA0LjYzbTIzLjIyMyAxNS43NDNjMS4zNi0yLjEwNCAyLjQzNC00Ljg3NSAzLjEtOC4wNThoNS43MjhhMTYuOTYgMTYuOTYgMCAwIDEtOC44MjggOC4wNThtLTEyLjU1NCAwYTE3IDE3IDAgMCAxLTguODMtOC4wNThoNS43M2MuNjY2IDMuMTgzIDEuNzQgNS45NTQgMy4xIDguMDU4IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4="
      },
      "displayName": "HTTP Request Tool",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 16,
      "name": "DevOps"
    },
    {
      "id": 47,
      "name": "Chatbot IA"
    }
  ],
  "image": []
}