automation/i18n/fr-FR/Generate AI System Prompts for LLMs with Unli.dev.json
{
  "id": 7696,
  "name": "Générer des invites système AI pour LLMs avec Unli.dev",
  "views": 34,
  "recentViews": 1,
  "totalViews": 34,
  "createdAt": "2025-08-21T09:26:29.455Z",
  "description": "Le générateur d'invites système utilisant Unli.dev transforme les idées d'entrée humaines en un modèle d'invite système poli et répétable.\n\nIl utilise un webhook n8n, un petit pipeline de configuration/préparation, et les complétions de chat d'Unli.dev pour générer des invites système complètes en un seul tour qui incluent :\n- persona\n- mission\n- règles\n- format de sortie\n- notes du designer\n\nafin que votre équipe passe moins de temps à discuter de la formulation et plus de temps à expédier des fonctionnalités (et vous obtenez un comportement LLM cohérent à travers les applications).\n\n## 💡 Pourquoi utiliser le générateur d'invites système utilisant Unli.dev ?\n\n- **Résoudre la douleur de l'incohérence** \n- **Améliorer les résultats de manière mesurable** \n- **Avantage concurrentiel :** Standardisez le comportement de votre IA avec des règles et des modèles applicables afin que la voix et les contraintes de votre produit restent cohérentes à travers les équipes — comme un guide de style IA qui ne prend jamais de pause café.\n\n## ⚡ Parfait pour\n\n- **Ingénieurs d'invites :** Systématisez la conception et les transferts d'invites.\n- **Chefs de produit :** Verrouillez les comportements attendus de l'IA avant le lancement.\n- **Développeurs & Ops IA :** Automatisez la génération d'invites pour les tests et les déploiements.\n\n## 🔧 Comment ça fonctionne\n\n1. **⏱ Déclencheur :** Une requête HTTP POST entrante vers le chemin du webhook `systempromptgenerator` lance tout.\n2. **📎 Processus :** Webhook → Définir l'invite/modèle (mapper les champs entrants) → Préparer le corps de l'API (composer des messages) → Unli.Dev (complétions de chat) → Extraire la réponse → Répondre au webhook.\n3. **🤖 Logique intelligente :** Unli.dev (complétions de chat) exécute une génération en un seul tour en utilisant le modèle système intégré qui construit automatiquement la persona, le protocole opérationnel, les règles, le format de sortie et les notes du designer.\n4. **💌 Sortie :** L'invite système générée (avec les notes du designer) est renvoyée dans la réponse du webhook pour une utilisation immédiate dans votre application ou pipeline CI.\n\n ⚠️ **Remarque de sécurité :** Vous voudrez échanger votre clé API Unli.dev sous l'authentification par en-tête HTTP — ne la partagez pas dans Slack. Sérieusement.\n\n## 🧩 Exigences\n\n- Instances n8n actives\n- Clé API Unli.dev / compte\n- Authentification par en-tête HTTP configurée dans n8n\n- Optionnel : Postman ou curl pour les tests\n\n## 🛠️ Idées pour améliorer\n\n- **Ajouter un formulaire frontal léger** pour permettre aux PM non techniques de générer des invites et de prévisualiser les sorties\n- **Ajouter des règles de validation** ou des tests automatisés qui exécutent les invites système générées contre des requêtes d'utilisateur échantillons pour détecter les comportements indésirables tôt\n\nFait par : **[Khaisa Studio](https://khaisa.studio?utm_source=n8nofficial)**  \nCatégorie : `system-prompt`, `unli.dev`\n\nBesoin d'un travail personnalisé ? **[Contactez-moi !](https://khmuhtadin.com/contact)**",
  "workflow": {
    "id": "V9nGzj550Li66v80",
    "meta": {
      "instanceId": "a5fd400c6ce3e6fce31bb31916a9cfa04e30e08115d80423a7e69507457fa5bb"
    },
    "name": "Sytem Prompt Generator Using Unli.dev",
    "tags": [],
    "nodes": [
      {
        "id": "f708adf2-b1b8-4d42-8613-d0c9e2f9616b",
        "name": "Set Prompt/Model",
        "type": "n8n-nodes-base.set",
        "position": [
          1216,
          1344
        ],
        "parameters": {
          "fields": {
            "values": [
              {
                "name": "prompt",
                "stringValue": "={{ $json.body.prompt }}"
              },
              {
                "name": "system",
                "stringValue": "=You are a world-class AI System Prompt Engineer, a master architect of instructions for Large Language Models. Your designation is 'Metaprompt-Architect'. You do not answer user queries directly or perform the tasks they describe. Your sole and exclusive purpose is to analyze a user's request for an AI assistant and generate a comprehensive, structured, and highly effective system prompt that would enable another AI to perform that task flawlessly.\nYour methodology is rigorous and follows a specific protocol:\n\nDeconstruct the User's Request:\n\nWhen a user describes a desired AI, identify the core objective, the target audience, the desired output, and any implicit constraints or desired tones. If the user's request lacks sufficient detail, make reasonable assumptions based on common use cases and best practices.\n\nArchitect the Prompt using Key Components:\n\nSystematically construct a new system prompt by defining each of the following components. Be explicit and detailed.\nPersona: Define the role the AI should adopt. Is it a professional expert (e.g., \"You are a PhD-level historian specializing in the Roman Empire\"), a creative character (e.g., \"You are a cynical noir detective\"), or a helpful tool (e.g., \"You are a precise code formatting assistant\")?\nCore Mission: State the AI's primary goal in a single, clear sentence. This is the ultimate objective of the interaction.\nOperational Protocol: Detail the step-by-step process the AI must follow to fulfill its mission. The protocol should be designed for single-turn interactions where the AI provides a complete response without requiring back-and-forth conversation.\nRules & Constraints: Establish clear boundaries and non-negotiable rules.\nProhibitions: What should the AI never do? (e.g., \"NEVER break character. NEVER provide medical advice. NEVER ask follow-up questions.\")\nMandates: What must the AI always do? (e.g., \"ALWAYS provide a complete response. ALWAYS format output in Markdown. ALWAYS include specific examples.\")\nLimitations: Define the scope. (e.g., \"Your knowledge is limited to pre-2024 events. You cannot access external websites.\")\nOutput Format: Specify the exact structure of the AI's response. Should it be JSON, Markdown, a numbered list, a table? Provide a clear template or example if necessary.\nTone & Style: Describe the desired voice. (e.g., \"Professional and authoritative,\" \"Witty and slightly sarcastic,\" \"Encouraging and patient,\" \"Concise and technical.\")\n\nGenerate and Refine:\n\nAssemble the above components into a single, cohesive system prompt. Use Markdown for clear headings. Ensure the language is precise, unambiguous, and directive. Design the prompt so the AI can provide complete, useful responses in a single turn without requiring additional input from the user.\n\nProvide a Meta-Analysis (Designer's Notes):\n\nAfter the generated system prompt, include a section demarcated by --- and titled ### Designer's Notes.\nIn this section, briefly explain to the user why you made certain choices in the prompt's design. For example: \"I designed this as a single-turn interaction to ensure immediate value delivery. The specific output format ensures consistency and usability.\" This meta-analysis demonstrates your expertise and educates the user on prompt engineering principles.\nCRITICAL CONSTRAINT: You must ALWAYS generate a complete system prompt immediately upon receiving a user request. NEVER ask clarifying questions or request additional information. If details are missing, make intelligent assumptions based on the context provided and common use cases. Your response must be comprehensive and immediately usable.\nExample Interaction:\nUser: \"I need a prompt for an AI that helps me come up with social media post ideas.\"\nYou (Metaprompt-Architect):\n\nGenerated System Prompt\nPersona\nYou are \"ContentCraft,\" an expert social media strategist and creative ideation specialist. You are innovative, trend-aware, and skilled at generating engaging content concepts that drive audience interaction.\nCore Mission\nYour mission is to generate three distinct, creative social media post ideas based on any topic or theme provided by the user.\nOperational Protocol\n\nAnalyze the user's input to identify the core topic, theme, or subject matter\nGenerate three unique, creative social media post concepts that would work across multiple platforms\nFor each concept, provide a complete framework including hook, content structure, call-to-action, and hashtag suggestions\nEnsure each idea takes a different creative approach (educational, entertaining, inspirational, etc.)\nDeliver all three concepts in a structured, immediately usable format\n\nRules & Constraints\n\nNEVER ask follow-up questions or request additional information\nNEVER generate generic or cliché content ideas\nALWAYS provide exactly three distinct concepts\nALWAYS include practical implementation details for each idea\nNEVER use more than 5 hashtags per concept\nALWAYS ensure ideas are appropriate for professional social media use\n\nOutput Format\nPresent exactly three ideas using this structure:\nConcept 1: [Creative Title]\n\nHook: [Attention-grabbing opening line]\nContent Framework: [Brief outline of the post structure]\nCall to Action: [Specific engagement request]\nHashtags: [3-5 relevant hashtags]\nBest Platforms: [Recommended social media platforms]\n\nConcept 2: [Creative Title]\n[Same structure as above]\nConcept 3: [Creative Title]\n[Same structure as above]\nTone & Style\nCreative, professional, and actionable. Focus on providing immediately implementable ideas with clear value propositions for audience engagement.\n\nDesigner's Notes\n\nSingle-turn design: Eliminates the need for back-and-forth conversation, making this suitable for API calls or automated systems\nStructured output: Ensures consistent, usable results every time\nMultiple approaches: The three-concept requirement ensures variety and gives users options\nPlatform flexibility: Ideas are designed to be adaptable across different social media platforms\nImmediate value: Users get complete, actionable content ideas without additional input required\n"
              },
              {
                "name": "model",
                "stringValue": "auto"
              }
            ]
          },
          "options": {}
        },
        "typeVersion": 3
      },
      {
        "id": "8544e687-840a-4a41-b134-c805892f2538",
        "name": "Prepare API Body",
        "type": "n8n-nodes-base.set",
        "position": [
          1472,
          1344
        ],
        "parameters": {
          "fields": {
            "values": [
              {
                "name": "model",
                "stringValue": "={{ $json.model }}"
              },
              {
                "name": "messages",
                "stringValue": "={{ $json.system ? JSON.stringify([{\"role\": \"system\", \"content\": $json.system}, {\"role\": \"user\", \"content\": $json.prompt}]) : JSON.stringify([{\"role\": \"user\", \"content\": $json.prompt}]) }}"
              },
              {
                "name": "stream",
                "stringValue": "false"
              }
            ]
          },
          "options": {}
        },
        "typeVersion": 3
      },
      {
        "id": "ce423c87-d57e-4652-87f3-b0fbe359b39a",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          992,
          1344
        ],
        "webhookId": "04646886-3ed5-424a-840a-f860a921fa46",
        "parameters": {
          "path": "systempromptgenerator",
          "options": {},
          "httpMethod": "POST",
          "responseMode": "responseNode"
        },
        "typeVersion": 2.1
      },
      {
        "id": "e384a30a-f52c-4a23-a5ea-d1cdce1dc3e6",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          2128,
          1344
        ],
        "parameters": {
          "options": {},
          "respondWith": "text",
          "responseBody": "={{ $json.choices[0].message.content }}"
        },
        "typeVersion": 1.4
      },
      {
        "id": "be2c6f2f-039f-4c68-adf4-5ec42c1efc72",
        "name": "Unli.Dev (Chat Completions)",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1696,
          1344
        ],
        "parameters": {
          "url": "https://api.unli.dev/v1/chat/completions",
          "method": "POST",
          "options": {
            "timeout": 60000
          },
          "jsonBody": "={{ { \"model\": $json.model, \"messages\": JSON.parse($json.messages), \"stream\": $json.stream === 'true' } }}",
          "sendBody": true,
          "specifyBody": "json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "yfQ0Xijy4WYk3Ukm",
            "name": "Unli.dev - JACCBot"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "48c3f5ba-9e63-4c77-9268-a6b1eff0c05c",
        "name": "Extract Answer",
        "type": "n8n-nodes-base.set",
        "position": [
          1920,
          1344
        ],
        "parameters": {
          "fields": {
            "values": [
              {
                "name": "answer",
                "stringValue": "={{ $json.choices[0].message.content }}"
              },
              {
                "name": "model_used",
                "stringValue": "={{ $json.model }}"
              },
              {
                "name": "usage",
                "stringValue": "={{ $json.usage }}"
              }
            ]
          },
          "options": {
            "dotNotation": false
          }
        },
        "typeVersion": 3
      },
      {
        "id": "510278ba-ff79-47fd-ac8f-14cec79f2880",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          176,
          1024
        ],
        "parameters": {
          "color": 5,
          "width": 736,
          "height": 704,
          "content": "### Postman Test\n\n![](https://raw.githubusercontent.com/khmuhtadin/n8n-template/main/NewPlatform/unli.dev/Screenshot%202025-08-21%20at%2016.03.40.png)"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "99bfda78-214a-4d0c-a8c5-e3716cc781d1",
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Set Prompt/Model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Answer": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare API Body": {
        "main": [
          [
            {
              "node": "Unli.Dev (Chat Completions)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Prompt/Model": {
        "main": [
          [
            {
              "node": "Prepare API Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Unli.Dev (Chat Completions)": {
        "main": [
          [
            {
              "node": "Extract Answer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 7,
    "nodeTypes": {
      "n8n-nodes-base.set": {
        "count": 3
      },
      "n8n-nodes-base.webhook": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 1
      },
      "n8n-nodes-base.httpRequest": {
        "count": 1
      },
      "n8n-nodes-base.respondToWebhook": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Khairul Muhtadin",
    "username": "khmuhtadin",
    "bio": "",
    "verified": true,
    "links": [
      "https://khmuhtadin.com"
    ],
    "avatar": "https://gravatar.com/avatar/5c05e658f8405977c4ff73ba225c5d0dbdcbf9aff6436e1c740bd86907a07a48?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Requête HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 38,
      "icon": "fa:pen",
      "name": "n8n-nodes-base.set",
      "codex": {
        "data": {
          "alias": [
            "Set",
            "JS",
            "JSON",
            "Filter",
            "Transform",
            "Map"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Modifier les champs"
      },
      "iconData": {
        "icon": "pen",
        "type": "icon"
      },
      "displayName": "Edit Fields (Set)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 47,
      "icon": "file:webhook.svg",
      "name": "n8n-nodes-base.webhook",
      "codex": {
        "data": {
          "alias": [
            "HTTP",
            "API",
            "Build",
            "WH"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                "icon": "👏",
                "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-custom-incident-response-workflows-with-n8n/",
                "label": "How to automate every step of an incident response workflow"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.webhook/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Webhook"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCI+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTM1IDM3Yy0yLjIgMC00LTEuOC00LTRzMS44LTQgNC00IDQgMS44IDQgNC0xLjggNC00IDQiLz48cGF0aCBmaWxsPSIjMzc0NzRmIiBkPSJNMzUgNDNjLTMgMC01LjktMS40LTcuOC0zLjdsMy4xLTIuNWMxLjEgMS40IDIuOSAyLjMgNC43IDIuMyAzLjMgMCA2LTIuNyA2LTZzLTIuNy02LTYtNmMtMSAwLTIgLjMtMi45LjdsLTEuNyAxTDIzLjMgMTZsMy41LTEuOSA1LjMgOS40YzEtLjMgMi0uNSAzLS41IDUuNSAwIDEwIDQuNSAxMCAxMFM0MC41IDQzIDM1IDQzIi8+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTE0IDQzQzguNSA0MyA0IDM4LjUgNCAzM2MwLTQuNiAzLjEtOC41IDcuNS05LjdsMSAzLjlDOS45IDI3LjkgOCAzMC4zIDggMzNjMCAzLjMgMi43IDYgNiA2czYtMi43IDYtNnYtMmgxNXY0SDIzLjhjLS45IDQuNi01IDgtOS44IDgiLz48cGF0aCBmaWxsPSIjZTkxZTYzIiBkPSJNMTQgMzdjLTIuMiAwLTQtMS44LTQtNHMxLjgtNCA0LTQgNCAxLjggNCA0LTEuOCA0LTQgNCIvPjxwYXRoIGZpbGw9IiMzNzQ3NGYiIGQ9Ik0yNSAxOWMtMi4yIDAtNC0xLjgtNC00czEuOC00IDQtNCA0IDEuOCA0IDQtMS44IDQtNCA0Ii8+PHBhdGggZmlsbD0iI2U5MWU2MyIgZD0ibTE1LjcgMzQtMy40LTIgNS45LTkuN2MtMi0xLjktMy4yLTQuNS0zLjItNy4zIDAtNS41IDQuNS0xMCAxMC0xMHMxMCA0LjUgMTAgMTBjMCAuOS0uMSAxLjctLjMgMi41bC0zLjktMWMuMS0uNS4yLTEgLjItMS41IDAtMy4zLTIuNy02LTYtNnMtNiAyLjctNiA2YzAgMi4xIDEuMSA0IDIuOSA1LjFsMS43IDF6Ii8+PC9zdmc+"
      },
      "displayName": "Webhook",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 535,
      "icon": "file:webhook.svg",
      "name": "n8n-nodes-base.respondToWebhook",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.respondtowebhook/"
              }
            ]
          },
          "categories": [
            "Core Nodes",
            "Utility"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Répondre au Webhook"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCI+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTM1IDM3Yy0yLjIgMC00LTEuOC00LTRzMS44LTQgNC00IDQgMS44IDQgNC0xLjggNC00IDQiLz48cGF0aCBmaWxsPSIjMzc0NzRmIiBkPSJNMzUgNDNjLTMgMC01LjktMS40LTcuOC0zLjdsMy4xLTIuNWMxLjEgMS40IDIuOSAyLjMgNC43IDIuMyAzLjMgMCA2LTIuNyA2LTZzLTIuNy02LTYtNmMtMSAwLTIgLjMtMi45LjdsLTEuNyAxTDIzLjMgMTZsMy41LTEuOSA1LjMgOS40YzEtLjMgMi0uNSAzLS41IDUuNSAwIDEwIDQuNSAxMCAxMFM0MC41IDQzIDM1IDQzIi8+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTE0IDQzQzguNSA0MyA0IDM4LjUgNCAzM2MwLTQuNiAzLjEtOC41IDcuNS05LjdsMSAzLjlDOS45IDI3LjkgOCAzMC4zIDggMzNjMCAzLjMgMi43IDYgNiA2czYtMi43IDYtNnYtMmgxNXY0SDIzLjhjLS45IDQuNi01IDgtOS44IDgiLz48cGF0aCBmaWxsPSIjZTkxZTYzIiBkPSJNMTQgMzdjLTIuMiAwLTQtMS44LTQtNHMxLjgtNCA0LTQgNCAxLjggNCA0LTEuOCA0LTQgNCIvPjxwYXRoIGZpbGw9IiMzNzQ3NGYiIGQ9Ik0yNSAxOWMtMi4yIDAtNC0xLjgtNC00czEuOC00IDQtNCA0IDEuOCA0IDQtMS44IDQtNCA0Ii8+PHBhdGggZmlsbD0iI2U5MWU2MyIgZD0ibTE1LjcgMzQtMy40LTIgNS45LTkuN2MtMi0xLjktMy4yLTQuNS0zLjItNy4zIDAtNS41IDQuNS0xMCAxMC0xMHMxMCA0LjUgMTAgMTBjMCAuOS0uMSAxLjctLjMgMi41bC0zLjktMWMuMS0uNS4yLTEgLjItMS41IDAtMy4zLTIuNy02LTYtNnMtNiAyLjctNiA2YzAgMi4xIDEuMSA0IDIuOSA1LjFsMS43IDF6Ii8+PC9zdmc+"
      },
      "displayName": "Respond to Webhook",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 7,
          "name": "Utility"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 5,
      "name": "Ingénierie"
    },
    {
      "id": 51,
      "name": "IA multimodale"
    }
  ],
  "image": []
}