automation/i18n/fr-FR/Generate Multi-Platform Content from Forms using Tavily Research and OpenAI.json
{
  "id": 8649,
  "name": "Générer du contenu multi-plateforme à partir de formulaires en utilisant Tavily Research et OpenAI",
  "views": 0,
  "recentViews": 0,
  "totalViews": 0,
  "createdAt": "2025-09-16T13:46:32.881Z",
  "description": "## Ce flux de travail automatise la création de contenu multi-plateforme en transformant les soumissions de formulaires en articles de blog, publications LinkedIn et publications Facebook sur mesure en utilisant l'IA et la recherche web\n\n### **Ce qui rend cela différent :**\n- **Génération de contenu multi-plateforme** - Crée du contenu optimisé pour le blog, LinkedIn et Facebook simultanément\n- **Adaptation de contenu alimentée par l'IA** - Utilise OpenAI pour adapter le contenu au public et au format uniques de chaque plateforme\n- **Intégration de la recherche web** - Exploite l'API Tavily pour rassembler des informations pertinentes et à jour sur n'importe quel sujet\n- **Saisie basée sur des formulaires** - Interface de formulaire simple pour spécifier le sujet du contenu et le public cible\n- **Flux de travail automatisé** - Automatisation de bout en bout de la soumission de formulaire à la livraison de contenu\n- **Intégration Slack** - Livrer tout le contenu généré via une notification Slack pour un examen et un partage faciles\n\n### **Principaux avantages de la création de contenu automatisée :**\n- **Efficacité temporelle** - Génère trois pièces de contenu différentes en une seule exécution de flux de travail\n- **Optimisation de la plateforme** - Chaque pièce de contenu est spécifiquement conçue pour sa plateforme prévue\n- **Contenu basé sur la recherche** - Intègre des informations web actuelles pour un contenu précis et pertinent\n- **Voix de marque cohérente** - L'IA garantit un ton et un message cohérents sur toutes les plateformes\n- **Production de contenu évolutive** - Gère plusieurs demandes de contenu sans intervention manuelle\n- **Livraison centralisée** - Tout le contenu est livré à un seul endroit pour une gestion facile\n\n---\n\n## Pour qui est-ce\n\nCe modèle est conçu pour **les spécialistes du marketing de contenu, les gestionnaires de médias sociaux, les propriétaires de petites entreprises, les agences de marketing et les créateurs de contenu** qui ont besoin de produire un contenu cohérent et de haute qualité sur plusieurs plateformes. Il est parfait pour les entreprises qui souhaitent rationaliser leur processus de création de contenu, maintenir une voix de marque cohérente et tirer parti de l'IA pour créer un contenu spécifique à la plateforme qui résonne avec leur public cible.\n\n## Comment cela fonctionne / Ce que cela fait\n\nCe flux de travail crée un **système de création de contenu automatisé** qui transforme les soumissions de formulaires en contenu multi-plateforme. Le système :\n\n1. **Reçoit des soumissions de formulaires** avec le sujet du contenu et le public cible via le déclencheur de formulaire n8n\n2. **Extrait les paramètres de recherche** des données du formulaire pour se préparer à la recherche web\n3. **Recherche sur le web** en utilisant l'API Tavily pour rassembler des informations pertinentes et actuelles sur le sujet\n4. **Traite les résultats de recherche** en divisant et en agrégeant le contenu pour le traitement par l'IA\n5. **Génère du contenu spécifique à la plateforme** en utilisant des agents OpenAI pour les formats LinkedIn, Facebook et blog\n6. **Agrège tout le contenu** en une seule sortie avec toutes les versions des trois plateformes\n7. **Envoie une notification Slack** avec tout le contenu généré pour examen et distribution\n\n**Innovation clé : Génération de contenu IA multi-plateforme** - Contrairement aux outils de contenu traditionnels qui créent une seule pièce de contenu, ce système génère automatiquement trois versions différentes optimisées pour le public unique de chaque plateforme, les exigences de format et les modèles d'engagement, le tout basé sur la recherche web actuelle et l'adaptation alimentée par l'IA.\n\n## Comment configurer\n\n### 1. Configurer le déclencheur de formulaire\n- Configurez le déclencheur de formulaire n8n avec les champs \"Sujet du contenu\" et \"Public cible\"\n- Configurez les paramètres du formulaire et les règles de validation\n- Testez la fonctionnalité de soumission de formulaire\n- Assurez-vous que le flux de données est correct vers les nœuds suivants\n\n### 2. Configurer l'API OpenAI\n- Configurez les identifiants de l'API OpenAI dans n8n\n- Assurez-vous d'un accès API approprié et des limites de quota\n- Configurez le nœud du modèle de chat OpenAI pour la génération de contenu\n- Testez la connectivité du modèle IA et la qualité de la réponse\n\n### 3. Configurer l'API Tavily\n- **Obtenez votre clé API** : Inscrivez-vous sur [tavily.com](https://tavily.com) et obtenez votre clé API depuis le tableau de bord\n- **Ajoutez la clé API au flux de travail** : Dans le nœud de requête HTTP \"Recherche Web\", remplacez `\"AJOUTEZ VOTRE CLÉ API ICI\"` par votre véritable clé API Tavily\n- **Exemple de configuration** :\n  ```json\n  {\n    \"api_key\": \"votre-clé-api-ici\",\n    \"query\": \"{{ $json.query.replace(/\\\"/g, '\\\\\\\"') }}\",\n    \"search_depth\": \"de base\",\n    \"include_answer\": true,\n    \"topic\": \"actualités\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n  }\n  ```\n- **Configurer les paramètres de recherche** : Assurez-vous que max_results est défini sur 3 et search_depth sur \"de base\" pour des performances optimales\n- **Tester la connectivité API** : Exécutez une exécution de test pour vérifier que les résultats de recherche sont retournés correctement\n\n### 4. Configurer l'intégration Slack\n- Configurez les identifiants de l'API Slack dans n8n\n- Configurez l'ID du canal Slack pour la livraison de contenu\n- Configurez le formatage des messages approprié pour l'affichage du contenu\n- Testez la livraison de notifications Slack\n\n### 5. Tester le flux de travail complet\n- Soumettez un formulaire de test avec un sujet de contenu et un public cible d'exemple\n- Vérifiez que la recherche web retourne des résultats pertinents\n- Vérifiez que l'IA génère un contenu approprié pour les trois plateformes\n- Confirmez que la notification Slack contient tout le contenu généré\n\n## Exigences\n\n- **Instance n8n** avec des capacités de déclencheur de formulaire et de requête HTTP\n- **Accès à l'API OpenAI** pour la génération de contenu alimentée par l'IA\n- **Identifiants de l'API Tavily** pour la fonctionnalité de recherche web\n- **Espace de travail Slack** avec accès API pour la livraison de contenu\n- **Connexion Internet active** pour les interactions API en temps réel\n\n## Comment personnaliser le flux de travail\n\n### Modifier les paramètres de génération de contenu\n- Ajustez le nombre de résultats de recherche web (actuellement fixé à 3)\n- Ajoutez plus d'options de profondeur de recherche (de base, avancée, complète)\n- Implémentez des contrôles de longueur de contenu pour différentes plateformes\n- Ajoutez des préférences de ton et de style de contenu\n\n### Améliorer les capacités de l'IA\n- Personnalisez les invites de l'IA pour des secteurs ou niches spécifiques\n- Ajoutez le support pour plusieurs langues\n- Implémentez la cohérence de la voix de marque sur toutes les plateformes\n- Ajoutez un scoring de qualité de contenu et une optimisation\n\n### Élargir les sources de contenu\n- Intégrez des API de recherche supplémentaires (Google Search, Bing, etc.)\n- Ajoutez le support pour l'intégration de bases de connaissances internes\n- Implémentez la détection de sujets tendance\n- Ajoutez l'analyse de contenu concurrent\n\n### Améliorer la livraison de contenu\n- Ajoutez des notifications par e-mail en plus de Slack\n- Implémentez des capacités de planification de contenu\n- Ajoutez des flux de travail d'approbation de contenu\n- Implémentez le suivi des performances de contenu\n\n### Fonctionnalités commerciales\n- Ajoutez des analyses de contenu et des métriques de performance\n- Implémentez des tests A/B pour différentes versions de contenu\n- Ajoutez une intégration de calendrier de contenu\n- Implémentez des fonctionnalités de collaboration d'équipe\n\n## Caractéristiques clés\n\n- **Génération de contenu multi-plateforme** - Crée du contenu optimisé pour le blog, LinkedIn et Facebook\n- **Adaptation de contenu alimentée par l'IA** - Adapte le contenu aux exigences uniques de chaque plateforme\n- **Intégration de la recherche web** - Intègre des informations actuelles et pertinentes provenant de recherches web\n- **Saisie basée sur des formulaires** - Interface simple pour spécifier le sujet du contenu et le public cible\n- **Flux de travail automatisé** - Automatisation de bout en bout de la soumission de formulaire à la livraison de contenu\n- **Optimisation spécifique à la plateforme** - Chaque pièce de contenu suit les meilleures pratiques de la plateforme\n- **Intégration Slack** - Livraison centralisée de tout le contenu généré\n- **Production de contenu évolutive** - Gère efficacement plusieurs demandes de contenu\n\n## Points forts de l'architecture technique\n\n### Génération de contenu alimentée par l'IA\n- **Intégration OpenAI** - Modèle de langage avancé pour la création de contenu\n- **Invites spécifiques à la plateforme** - Instructions IA adaptées pour chaque plateforme sociale\n- **Optimisation du contenu** - L'IA garantit un formatage et un ton appropriés à la plateforme\n- **Cohérence de qualité** - Maintient la voix de marque sur tout le contenu généré\n\n### Intégration de la recherche web\n- **API Tavily** - Recherche web complète avec extraction de contenu\n- **Données en temps réel** - Accès à des informations actuelles et pertinentes\n- **Agrégation de contenu** - Combine plusieurs sources pour une couverture complète\n- **Optimisation de recherche** - Construction de requêtes efficace pour de meilleurs résultats\n\n### Système de saisie basé sur des formulaires\n- **Déclencheur de formulaire n8n** - Interface de saisie simple et conviviale\n- **Validation des données** - Assure que les champs requis sont correctement remplis\n- **Extraction de paramètres** - Convertit les données du formulaire en paramètres de recherche et de génération\n- **Gestion des erreurs** - Gestion élégante des entrées incomplètes ou invalides\n\n### Sortie multi-plateforme\n- **Optimisation LinkedIn** - Ton professionnel avec un formatage spécifique à l'industrie\n- **Adaptation Facebook** - Contenu engageant et partageable avec une longueur appropriée\n- **Formatage de blog** - Contenu long complet et optimisé pour le SEO\n- **Livraison unifiée** - Tout le contenu est livré via une seule notification Slack\n\n## Cas d'utilisation\n\n- **Agences de marketing de contenu** ayant besoin d'une création de contenu multi-plateforme efficace\n- **Petites entreprises** nécessitant une présence cohérente sur les réseaux sociaux\n- **Équipes marketing** cherchant à rationaliser les flux de production de contenu\n- **Entrepreneurs solo** ayant besoin de contenu professionnel sans embaucher de rédacteurs\n- **Marques de commerce électronique** nécessitant un contenu axé sur les produits pour plusieurs canaux\n- **Services professionnels** nécessitant un contenu de leadership éclairé sur plusieurs plateformes\n- **Organisateurs d'événements** nécessitant un contenu promotionnel pour différents canaux sociaux\n- **Institutions éducatives** nécessitant du contenu pour l'engagement et le recrutement des étudiants\n\n## Valeur commerciale\n\n- **Efficacité temporelle** - Réduit le temps de création de contenu de plusieurs heures à quelques minutes\n- **Économies de coûts** - Élimine le besoin de plusieurs créateurs de contenu ou agences\n- **Cohérence** - Maintient la voix de marque et le message sur toutes les plateformes\n- **Scalabilité** - Gère des demandes de contenu illimitées sans ressources supplémentaires\n- **Assurance qualité** - L'IA garantit un contenu de qualité professionnelle à chaque fois\n- **Portée multi-plateforme** - Maximise la distribution de contenu sur les principaux canaux sociaux\n- **Intégration de recherche** - Intègre des informations actuelles pour un contenu pertinent et opportun\n\nCe modèle révolutionne la création de contenu en combinant l'écriture alimentée par l'IA avec la recherche web en temps réel, créant un système automatisé qui produit un contenu de haute qualité, optimisé pour les plateformes pour le blog, LinkedIn et Facebook à partir d'une simple soumission de formulaire.",
  "workflow": {
    "id": "PZXlvjDt64MrjzPR",
    "meta": {
      "instanceId": "50631c03cbd88440965b74e5a58aada5437cbc43e90372b516e36154908ad374",
      "templateCredsSetupCompleted": true
    },
    "name": "Content Creation System from form Input",
    "tags": [],
    "nodes": [
      {
        "id": "1fbbb8dd-d930-4c70-9f30-e01e2ece00ce",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          1104,
          -272
        ],
        "parameters": {
          "include": "specifiedFields",
          "options": {},
          "aggregate": "aggregateAllItemData",
          "fieldsToInclude": "title, raw_content"
        },
        "typeVersion": 1
      },
      {
        "id": "256df7ac-6c5b-4d95-8d99-9c5dde9018b8",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "position": [
          832,
          -272
        ],
        "parameters": {
          "options": {},
          "fieldToSplitOut": "results"
        },
        "typeVersion": 1
      },
      {
        "id": "a83d46fe-64f6-4440-9982-91b255fa2dcd",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          208,
          208
        ],
        "parameters": {
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "WXVOHmv3WY7Aw0or",
            "name": "OpenAi account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "6bd92e7e-80f5-454b-91ee-f124642e5890",
        "name": "Set Search Fields",
        "type": "n8n-nodes-base.set",
        "position": [
          192,
          -272
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "b493a3c6-939a-4301-9257-055b80c28d7a",
                "name": "query",
                "type": "string",
                "value": "={{ $json['Content Subject'] }}"
              },
              {
                "id": "e2813669-08fd-4d0d-a215-b0634032330b",
                "name": "targetAudience",
                "type": "string",
                "value": "={{ $json['Target Audience'] }}"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "1ea6ed2f-32b6-4a1c-b97c-87d13276880e",
        "name": "Blog Writer",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          528,
          -32
        ],
        "parameters": {
          "text": "=Article Content:\n{{ $('Aggregate').item.json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}",
          "agent": "conversationalAgent",
          "options": {
            "systemMessage": "=** System Role **\n\nYou are a skilled and creative blog writer capable of crafting engaging, concise, and well-structured two-paragraph blog articles based on provided content.\n\n\n** Task Specification **\n\nWrite a two-paragraph blog article using the provided content\n\nEnsure the blog is coherent, engaging, and informative for a general audience\n\nUse a professional yet friendly tone\n\nMaintain a logical structure that flows from introduction to conclusion\n\n\n** Specifics and Context **\n\nThis task is designed to create short, high-quality blog content\n\nThe goal is to capture attention while clearly delivering the intended message\n\nYour writing helps brands or individuals build thought leadership and connect with their audience\n\n\n** Examples **\nInput:\nContent: \"Remote work has grown 44% in the last five years. Benefits include flexibility and reduced commute times. Challenges include maintaining productivity and combating isolation.\"\n\nOutput:\nRemote work has become a transformative trend, with a 44% increase in adoption over the past five years. The appeal lies in its flexibility, allowing employees to tailor their schedules and eliminate time-consuming commutes. This shift has unlocked new possibilities for work-life balance and broadened the talent pool for businesses willing to embrace remote setups.\n\nHowever, remote work isn’t without its challenges. Employees often face difficulties in maintaining productivity outside a structured office environment and struggle with feelings of isolation. Addressing these concerns requires thoughtful solutions, such as virtual collaboration tools and strategies to foster connection, ensuring remote work remains both productive and fulfilling.\n\nInput:\nContent: \"The Mediterranean diet includes fruits, vegetables, whole grains, and healthy fats like olive oil. Studies show it reduces the risk of heart disease and supports brain health.\"\n\nOutput:\nThe Mediterranean diet has long been celebrated as one of the healthiest eating patterns in the world. Emphasizing fresh fruits, vegetables, whole grains, and heart-healthy fats like olive oil, this diet is as delicious as it is nutritious. Its flavorful diversity makes it easy to adopt and sustain, whether you’re enjoying a vibrant Greek salad or a wholesome bowl of minestrone.\n\nWhat sets the Mediterranean diet apart is its scientifically backed health benefits. Numerous studies highlight its ability to reduce the risk of heart disease and support cognitive health, making it a cornerstone for longevity and wellness. By prioritizing natural, unprocessed foods, this lifestyle offers a sustainable approach to eating well and living better.\n\n\n** Reminders **\n\nMaintain clarity and logical flow between paragraphs\n\nKeep the tone professional and engaging\n\nStay concise and aligned with the provided content"
          },
          "promptType": "define"
        },
        "typeVersion": 1.7
      },
      {
        "id": "7d994219-af88-460d-8592-f934f3014d17",
        "name": "LinkedIn",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          -96,
          -32
        ],
        "parameters": {
          "text": "=Article Content:\n{{ $json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}",
          "agent": "conversationalAgent",
          "options": {
            "systemMessage": "=** System Role **\n\nYou are a professional LinkedIn content specialist who turns articles into high-performing LinkedIn posts aimed at specific professional audiences.\n\n\n** Task Details **\n\nUse the article provided to create a LinkedIn post that is:\n\nClear, engaging, and optimized for mobile reading\n\nTailored to the professional goals and interests of the target audience\n\nWritten in plain text only (no formatting), with line breaks for readability\n\nIncludes 1–2 emojis to add personality\n\nOffers real, practical value and includes a call to action\n\nEnds with 3–5 relevant hashtags\n\nOutput should contain only the final post text — nothing more\n\n\n** Post Requirements **\n\nKeep the tone human and conversational\n\nStay within 3,000 characters\n\nThe post should capture the essence of the article while aligning with what matters most to the audience\n\n\n** Example **\nInput: Article on productivity hacks for managers\nOutput:\n🔥 Ready to boost your productivity?\n\nManagers — if you're drowning in meetings and feeling the pressure, here's your reminder that working smarter is possible.\n\n👉 Try these simple shifts:\n\nUse the Eisenhower Matrix to sort priorities\n\nBlock out deep work sessions on your calendar\n\nDelegate more to free up mental space\n\nWhat’s helped you stay on top of things lately?\nDrop your favorite time-saving tip in the comments 👇\n\n#Leadership #WorkSmarter #TimeManagement #Productivity #CareerGrowth\n\n\n** Key Reminders **\n\nMatch the content to the audience's pain points, language, and motivation\n\nAlways include 1–2 emojis, a strong CTA, and useful takeaways\n\nUse clean, broken-up plain text (no formatting or extra output)"
          },
          "promptType": "define"
        },
        "typeVersion": 1.7
      },
      {
        "id": "691204b8-7bdd-4d71-8eff-c49ac1ee54d5",
        "name": "Facebook",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          208,
          -32
        ],
        "parameters": {
          "text": "=Article Content:\n{{ $('Aggregate').item.json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}",
          "agent": "conversationalAgent",
          "options": {
            "systemMessage": "=** System Role **\n\nYou are an expert Facebook content creator who transforms articles into concise, high-impact posts crafted for a specific audience.\n\n\n** Task Specification **\n\nUsing the provided article, create a Facebook post that is:\n\nShort, attention-grabbing, and easy to read on mobile\n\nDesigned to match the interests, needs, and goals of the target audience\n\nIncludes 1–2 emojis to add personality\n\nProvides value or insight and includes a clear call to action\n\nContains 1–3 relevant hashtags\n\nOutputs only the post content — nothing else\n\n\n** Specifics and Context **\n\nThe post should capture the core idea of the article in one engaging message\n\nIt must get attention fast, deliver value immediately, and spark interaction (likes, comments, or shares)\n\n\n** Example **\nInput: Article about productivity tips for managers\nOutput:\n🔥 Too many meetings and tasks?\nHere’s how smart managers stay ahead:\n\nPrioritize with the Eisenhower Matrix\n\nBlock time to focus\n\nDelegate more, stress less\n\nWhat’s your favorite way to stay productive? Drop it below ⬇️\n\n#Productivity #Leadership #WorkSmart\n\n\n** Reminders **\n\nKeep the tone friendly and conversational\n\nUse emojis to highlight key points, not overload the post\n\nMake sure the content is relevant and valuable to the audience\n\nOnly provide the final post text, nothing extra"
          },
          "promptType": "define"
        },
        "typeVersion": 1.7
      },
      {
        "id": "fb3330ca-56a7-4c54-af49-65f230465eb1",
        "name": "Search Web",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          512,
          -272
        ],
        "parameters": {
          "url": "https://api.tavily.com/search",
          "method": "POST",
          "options": {},
          "jsonBody": "={\n    \"api_key\": \"ADD YOU API KEY HERE\",\n    \"query\": \"{{ $json.query.replace(/\"/g, '\\\\\"') }}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
          "sendBody": true,
          "specifyBody": "json"
        },
        "typeVersion": 4.2
      },
      {
        "id": "351d8e10-e171-469e-927c-28be4c7df2ed",
        "name": "On form submission",
        "type": "n8n-nodes-base.formTrigger",
        "position": [
          -128,
          -272
        ],
        "webhookId": "f3fbf6cc-67f3-47a6-a0fd-6493b256c1ac",
        "parameters": {
          "options": {},
          "formTitle": "Content Details",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Content Subject",
                "requiredField": true
              },
              {
                "fieldLabel": "Target Audience",
                "requiredField": true
              }
            ]
          }
        },
        "typeVersion": 2.3
      },
      {
        "id": "278d42ee-d12a-400a-afef-18c0a2c35b08",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "position": [
          848,
          -32
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "83daae30-5da1-4138-9780-1252bafd874d",
                "name": "Blog",
                "type": "string",
                "value": "={{ $json.output }}"
              },
              {
                "id": "b613b682-5c84-4042-8720-a1d688b072a1",
                "name": "Facebook",
                "type": "string",
                "value": "={{ $('Facebook').item.json.output }}"
              },
              {
                "id": "9ec90307-c1f8-4cdc-9b99-7d369b833ad3",
                "name": "Linkedin",
                "type": "string",
                "value": "={{ $('LinkedIn').item.json.output }}"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "350912b9-91d8-478b-abd7-189242d890f3",
        "name": "Completed Notification",
        "type": "n8n-nodes-base.slack",
        "position": [
          1056,
          -32
        ],
        "webhookId": "0a1c0309-0a0b-4e37-972d-b229684c2d52",
        "parameters": {
          "text": "=✅ The Content Generated on the Topic of: {{ $('On form submission').item.json[\"Content Subject\"] }}\n\n\nBlog Post: \n{{ $json.Blog }}\n\n\nFacebook Post:\n{{ $json.Facebook }}\n\n\nLinkedin Post:\n{{ $json.Linkedin }}",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "id",
            "value": "C099YS0V3M2"
          },
          "otherOptions": {}
        },
        "credentials": {
          "slackApi": {
            "id": "VI4wP9VPIS3KDiow",
            "name": "Slack account"
          }
        },
        "executeOnce": true,
        "typeVersion": 2.2
      },
      {
        "id": "9473dd44-97cb-45af-86d6-4cc7fdd8a6eb",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -832,
          -272
        ],
        "parameters": {
          "width": 672,
          "height": 576,
          "content": "## Content Creation System from Form Input\n\n**This workflow automates multi-platform content creation by transforming form submissions into tailored blog posts, LinkedIn posts, and Facebook posts using AI and web research**\n\n## How it works / What it does\n\nThis workflow creates an **automated content creation system** that transforms form submissions into multi-platform content. The system:\n\n1. **Receives form submissions** with content subject and target audience through n8n form trigger\n2. **Extracts search parameters** from form data to prepare for web research\n3. **Searches the web** using Tavily API to gather relevant, current information on the topic\n4. **Processes search results** by splitting and aggregating content for AI processing\n5. **Generates platform-specific content** using OpenAI agents for LinkedIn, Facebook, and blog formats\n6. **Aggregates all content** into a single output with all three platform versions\n7. **Sends Slack notification** with all generated content for review and distribution\n\n### Configure Tavily API\n- **Get your API key**: Sign up at [tavily.com](https://tavily.com) and obtain your API key from the dashboard\n- **Add API key to workflow**: In the \"Search Web\" HTTP Request node, replace `\"ADD YOU API KEY HERE\"` with your actual Tavily API key"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "b67d5a28-bcf7-4ae3-8d28-97f9e1c4f209",
    "connections": {
      "Facebook": {
        "main": [
          [
            {
              "node": "Blog Writer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LinkedIn": {
        "main": [
          [
            {
              "node": "Facebook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "LinkedIn",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Web": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Blog Writer": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Completed Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "LinkedIn",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Facebook",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Blog Writer",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Set Search Fields": {
        "main": [
          [
            {
              "node": "Search Web",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "Set Search Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 1,
  "workflowInfo": {
    "nodeCount": 12,
    "nodeTypes": {
      "n8n-nodes-base.set": {
        "count": 2
      },
      "n8n-nodes-base.slack": {
        "count": 1
      },
      "n8n-nodes-base.splitOut": {
        "count": 1
      },
      "n8n-nodes-base.aggregate": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 1
      },
      "n8n-nodes-base.formTrigger": {
        "count": 1
      },
      "n8n-nodes-base.httpRequest": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.agent": {
        "count": 3
      },
      "@n8n/n8n-nodes-langchain.lmChatOpenAi": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Omer Fayyaz",
    "username": "omerfayyaz",
    "bio": "n8n Expert with deep experience in designing and implementing automation workflows that optimize business processes, reduce manual effort, and improve scalability. Skilled in integrating n8n with diverse platforms, APIs, and enterprise systems to deliver end-to-end automation solutions. With 13+ years of background in web development (PHP & JavaScript), I bring strong technical expertise to create custom, reliable, and efficient workflows.",
    "verified": true,
    "links": [
      "https://omerfayyaz.com/"
    ],
    "avatar": "https://gravatar.com/avatar/5ba82ebcfff353e2cd7732613829dc3df56cbb5d73264d57f4ee38a664a96af1?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Requête HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 38,
      "icon": "fa:pen",
      "name": "n8n-nodes-base.set",
      "codex": {
        "data": {
          "alias": [
            "Set",
            "JS",
            "JSON",
            "Filter",
            "Transform",
            "Map"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Modifier les champs"
      },
      "iconData": {
        "icon": "pen",
        "type": "icon"
      },
      "displayName": "Edit Fields (Set)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 40,
      "icon": "file:slack.svg",
      "name": "n8n-nodes-base.slack",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                "icon": "👦",
                "label": "Build your own virtual assistant with n8n: A step by step guide"
              },
              {
                "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                "icon": "👏",
                "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.slack/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/slack/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Slack"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgMTUwLjg1MiAxNTAuODUyIj48dXNlIHhsaW5rOmhyZWY9IiNhIiB4PSIuOTI2IiB5PSIuOTI2Ii8+PHN5bWJvbCBpZD0iYSIgb3ZlcmZsb3c9InZpc2libGUiPjxnIHN0cm9rZS13aWR0aD0iMS44NTIiPjxwYXRoIGZpbGw9IiNlMDFlNWEiIHN0cm9rZT0iI2UwMWU1YSIgZD0iTTQwLjc0MSA5My41NWMwLTguNzM1IDYuNjA3LTE1Ljc3MiAxNC44MTUtMTUuNzcyczE0LjgxNSA3LjAzNyAxNC44MTUgMTUuNzcydjM4LjgyNGMwIDguNzM3LTYuNjA3IDE1Ljc3NC0xNC44MTUgMTUuNzc0cy0xNC44MTUtNy4wMzctMTQuODE1LTE1Ljc3MnoiLz48cGF0aCBmaWxsPSIjZWNiMjJkIiBzdHJva2U9IiNlY2IyMmQiIGQ9Ik05My41NSAxMDcuNDA4Yy04LjczNSAwLTE1Ljc3Mi02LjYwNy0xNS43NzItMTQuODE1czcuMDM3LTE0LjgxNSAxNS43NzItMTQuODE1aDM4LjgyNmM4LjczNSAwIDE1Ljc3MiA2LjYwNyAxNS43NzIgMTQuODE1cy03LjAzNyAxNC44MTUtMTUuNzcyIDE0LjgxNXoiLz48cGF0aCBmaWxsPSIjMmZiNjdjIiBzdHJva2U9IiMyZmI2N2MiIGQ9Ik03Ny43NzggMTUuNzcyQzc3Ljc3OCA3LjAzNyA4NC4zODUgMCA5Mi41OTMgMHMxNC44MTUgNy4wMzcgMTQuODE1IDE1Ljc3MnYzOC44MjZjMCA4LjczNS02LjYwNyAxNS43NzItMTQuODE1IDE1Ljc3MnMtMTQuODE1LTcuMDM3LTE0LjgxNS0xNS43NzJ6Ii8+PHBhdGggZmlsbD0iIzM2YzVmMSIgc3Ryb2tlPSIjMzZjNWYxIiBkPSJNMTUuNzcyIDcwLjM3MUM3LjAzNyA3MC4zNzEgMCA2My43NjMgMCA1NS41NTZzNy4wMzctMTQuODE1IDE1Ljc3Mi0xNC44MTVoMzguODI2YzguNzM1IDAgMTUuNzcyIDYuNjA3IDE1Ljc3MiAxNC44MTVzLTcuMDM3IDE0LjgxNS0xNS43NzIgMTQuODE1eiIvPjxnIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiPjxwYXRoIGZpbGw9IiNlY2IyMmQiIHN0cm9rZT0iI2VjYjIyZCIgZD0iTTc3Ljc3OCAxMzMuMzMzYzAgOC4yMDggNi42MDcgMTQuODE1IDE0LjgxNSAxNC44MTVzMTQuODE1LTYuNjA3IDE0LjgxNS0xNC44MTUtNi42MDctMTQuODE1LTE0LjgxNS0xNC44MTVINzcuNzc4eiIvPjxwYXRoIGZpbGw9IiMyZmI2N2MiIHN0cm9rZT0iIzJmYjY3YyIgZD0iTTEzMy4zMzQgNzAuMzcxaC0xNC44MTVWNTUuNTU2YzAtOC4yMDcgNi42MDctMTQuODE1IDE0LjgxNS0xNC44MTVzMTQuODE1IDYuNjA3IDE0LjgxNSAxNC44MTUtNi42MDcgMTQuODE1LTE0LjgxNSAxNC44MTV6Ii8+PHBhdGggZmlsbD0iI2UwMWU1YSIgc3Ryb2tlPSIjZTAxZTVhIiBkPSJNMTQuODE1IDc3Ljc3OEgyOS42M3YxNC44MTVjMCA4LjIwNy02LjYwNyAxNC44MTUtMTQuODE1IDE0LjgxNVMwIDEwMC44IDAgOTIuNTkzczYuNjA3LTE0LjgxNSAxNC44MTUtMTQuODE1eiIvPjxwYXRoIGZpbGw9IiMzNmM1ZjEiIHN0cm9rZT0iIzM2YzVmMSIgZD0iTTcwLjM3MSAxNC44MTVWMjkuNjNINTUuNTU2Yy04LjIwNyAwLTE0LjgxNS02LjYwNy0xNC44MTUtMTQuODE1UzQ3LjM0OCAwIDU1LjU1NiAwczE0LjgxNSA2LjYwNyAxNC44MTUgMTQuODE1eiIvPjwvZz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Slack",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1119,
      "icon": "fa:robot",
      "name": "@n8n/n8n-nodes-langchain.agent",
      "codex": {
        "data": {
          "alias": [
            "LangChain",
            "Chat",
            "Conversational",
            "Plan and Execute",
            "ReAct",
            "Tools"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Agents",
              "Root Nodes"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Agent IA",
        "color": "#404040"
      },
      "iconData": {
        "icon": "robot",
        "type": "icon"
      },
      "displayName": "AI Agent",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1153,
      "icon": "file:openAiLight.svg",
      "name": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatopenai/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Language Models",
              "Root Nodes"
            ],
            "Language Models": [
              "Chat Models (Recommended)"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Modèle de chat OpenAI"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM2Ljg2NzEgMTYuMzcxOEMzNy43NzQ2IDEzLjY0OCAzNy40NjIxIDEwLjY2NDIgMzYuMDEwOCA4LjE4NjYxQzMzLjgyODIgNC4zODY1MyAyOS40NDA3IDIuNDMxNDkgMjUuMTU1NiAzLjM1MTUxQzIzLjI0OTMgMS4yMDM5NiAyMC41MTA1IC0wLjAxNzMxNDggMTcuNjM5MiAwLjAwMDE4NTUzM0MxMy4yNTkxIC0wLjAwOTgxNDY4IDkuMzcyNzMgMi44MTAyNSA4LjAyNTIgNi45Nzc4M0M1LjIxMTM5IDcuNTU0MSAyLjc4MjU4IDkuMzE1MzggMS4zNjEzIDExLjgxMTdDLTAuODM3NDkzIDE1LjYwMTggLTAuMzM2MjMyIDIwLjM3OTQgMi42MDEzMyAyMy42Mjk0QzEuNjkzODEgMjYuMzUzMiAyLjAwNjMyIDI5LjMzNzEgMy40NTc2IDMxLjgxNDZDNS42NDAxNSAzNS42MTQ3IDEwLjAyNzcgMzcuNTY5NyAxNC4zMTI4IDM2LjY0OTdDMTYuMjE3OSAzOC43OTczIDE4Ljk1NzkgNDAuMDE4NSAyMS44MjkyIDM5Ljk5OThDMjYuMjExOCA0MC4wMTEgMzAuMDk5NCAzNy4xODg1IDMxLjQ0NjkgMzMuMDE3MUMzNC4yNjA4IDMyLjQ0MDkgMzYuNjg5NiAzMC42Nzk2IDM4LjExMDggMjguMTgzM0M0MC4zMDcxIDI0LjM5MzIgMzkuODA0NiAxOS42MTk0IDM2Ljg2ODMgMTYuMzY5M0wzNi44NjcxIDE2LjM3MThaTTIxLjgzMTcgMzcuMzg2QzIwLjA3OCAzNy4zODg1IDE4LjM3OTIgMzYuNzc0NyAxNy4wMzI5IDM1LjY1MDlDMTcuMDk0MSAzNS42MTg0IDE3LjIwMDQgMzUuNTU5NyAxNy4yNjkxIDM1LjUxNzJMMjUuMjM0MyAzMC45MTcxQzI1LjY0MTggMzAuNjg1OCAyNS44OTE4IDMwLjI1MjEgMjUuODg5MyAyOS43ODMzVjE4LjU1NDNMMjkuMjU1NyAyMC40OTgxQzI5LjI5MTkgMjAuNTE1NiAyOS4zMTU3IDIwLjU1MDYgMjkuMzIwNyAyMC41OTA2VjI5Ljg4OTZDMjkuMzE1NyAzNC4wMjQ3IDI1Ljk2NjggMzcuMzc3MiAyMS44MzE3IDM3LjM4NlpNNS43MjY0IDMwLjUwNzFDNC44NDc2MyAyOC45ODk2IDQuNTMxMzcgMjcuMjEwOCA0LjgzMjYzIDI1LjQ4NDVDNC44OTEzOCAyNS41MTk1IDQuOTk1MTMgMjUuNTgzMiA1LjA2ODg4IDI1LjYyNTdMMTMuMDM0MSAzMC4yMjU4QzEzLjQzNzggMzAuNDYyMSAxMy45Mzc4IDMwLjQ2MjEgMTQuMzQyOCAzMC4yMjU4TDI0LjA2NjggMjQuNjEwN1YyOC40OTgzQzI0LjA2OTMgMjguNTM4MyAyNC4wNTA1IDI4LjU3NyAyNC4wMTkzIDI4LjYwMkwxNS45Njc5IDMzLjI1MDlDMTIuMzgxNSAzNS4zMTU5IDcuODAxNDQgMzQuMDg4NCA1LjcyNzY1IDMwLjUwNzFINS43MjY0Wk0zLjYzMDEgMTMuMTIwNUM0LjUwNTEyIDExLjYwMDQgNS44ODY0IDEwLjQzNzkgNy41MzE0NCA5LjgzNDE1QzcuNTMxNDQgOS45MDI5IDcuNTI3NjkgMTAuMDI0MiA3LjUyNzY5IDEwLjEwOTJWMTkuMzEwNkM3LjUyNTE5IDE5Ljc3ODEgNy43NzUxOSAyMC4yMTE5IDguMTgxNDUgMjAuNDQzMUwxNy45MDU0IDI2LjA1N0wxNC41MzkxIDI4LjAwMDhDMTQuNTA1MyAyOC4wMjMzIDE0LjQ2MjggMjguMDI3IDE0LjQyNTMgMjguMDEwOEw2LjM3MjY2IDIzLjM1ODJDMi43OTM4MyAyMS4yODU2IDEuNTY2MzEgMTYuNzA2OCAzLjYyODg1IDEzLjEyMTdMMy42MzAxIDEzLjEyMDVaTTMxLjI4ODIgMTkuNTU2OUwyMS41NjQyIDEzLjk0MTdMMjQuOTMwNiAxMS45OTkyQzI0Ljk2NDMgMTEuOTc2NyAyNS4wMDY4IDExLjk3MjkgMjUuMDQ0MyAxMS45ODkyTDMzLjA5NyAxNi42MzhDMzYuNjgyMSAxOC43MDkzIDM3LjkxMDggMjMuMjk1NyAzNS44Mzk1IDI2Ljg4MDhDMzQuOTYzMyAyOC4zOTgzIDMzLjU4MzIgMjkuNTYwOCAzMS45Mzk1IDMwLjE2NThWMjAuNjg5NEMzMS45NDMyIDIwLjIyMTkgMzEuNjk0NSAxOS43ODk0IDMxLjI4OTQgMTkuNTU2OUgzMS4yODgyWk0zNC42MzgzIDE0LjUxNDJDMzQuNTc5NSAxNC40NzggMzQuNDc1OCAxNC40MTU1IDM0LjQwMiAxNC4zNzNMMjYuNDM2OCA5Ljc3Mjg5QzI2LjAzMzEgOS41MzY2NCAyNS41MzMxIDkuNTM2NjQgMjUuMTI4MSA5Ljc3Mjg5TDE1LjQwNDEgMTUuMzg4VjExLjUwMDRDMTUuNDAxNiAxMS40NjA0IDE1LjQyMDQgMTEuNDIxNyAxNS40NTE2IDExLjM5NjdMMjMuNTAzIDYuNzUxNThDMjcuMDg5NCA0LjY4Mjc5IDMxLjY3NDUgNS45MTQwNiAzMy43NDIgOS41MDE2NEMzNC42MTU4IDExLjAxNjcgMzQuOTMyIDEyLjc5MDUgMzQuNjM1OCAxNC41MTQySDM0LjYzODNaTTEzLjU3NDEgMjEuNDQzMUwxMC4yMDY1IDE5LjQ5OTRDMTAuMTcwMiAxOS40ODE5IDEwLjE0NjUgMTkuNDQ2OCAxMC4xNDE1IDE5LjQwNjhWMTAuMTA3OUMxMC4xNDQgNS45Njc4MSAxMy41MDI4IDIuNjEyNzQgMTcuNjQyOSAyLjYxNTI0QzE5LjM5NDIgMi42MTUyNCAyMS4wODkyIDMuMjMwMjUgMjIuNDM1NSA0LjM1MDI4QzIyLjM3NDMgNC4zODI3OCAyMi4yNjkzIDQuNDQxNTMgMjIuMTk5MiA0LjQ4NDAzTDE0LjIzNDEgOS4wODQxM0MxMy44MjY2IDkuMzE1MzggMTMuNTc2NiA5Ljc0Nzg5IDEzLjU3OTEgMTAuMjE2N0wxMy41NzQxIDIxLjQ0MDZWMjEuNDQzMVpNMTUuNDAyOSAxNy41MDA2TDE5LjczNDIgMTQuOTk5M0wyNC4wNjU1IDE3LjQ5OTNWMjIuNTAwN0wxOS43MzQyIDI1LjAwMDdMMTUuNDAyOSAyMi41MDA3VjE3LjUwMDZaIiBmaWxsPSIjN0Q3RDg3Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "OpenAI Chat Model",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1225,
      "icon": "file:form.svg",
      "name": "n8n-nodes-base.formTrigger",
      "codex": {
        "data": {
          "alias": [
            "table",
            "submit",
            "post"
          ],
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.formtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Other Trigger Nodes"
            ]
          }
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "À la soumission du formulaire"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NiIgaGVpZ2h0PSI0MCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzAwQjdCQyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMzQuOTc4IDM3LjczMmExLjU2IDEuNTYgMCAwIDEtMS41NjIgMS41NjNINi4yNmExLjU2IDEuNTYgMCAwIDEtMS41NjMtMS41NjNWOS42MDdjMC0uNDA1LjE1Ny0uNzk0LjQzOC0xLjA4Nmw2LjMwNC02LjUzMXY1LjM0NEg4LjIxM2ExLjE3MiAxLjE3MiAwIDEgMCAwIDIuMzQzaDQuNDNhMS4xNyAxLjE3IDAgMCAwIDEuMTcxLTEuMTcxVi4yMzJoMTkuNjAyYTEuNTYgMS41NiAwIDAgMSAxLjU2MiAxLjU2M3YxMC4zMjdsLTIuODYgMi44Ni04LjI1MiA4LjI3NmE0MTMuMDA2IDQxMy4wMDYgMCAwIDEtMS42NTQgMS42NjJsLS4zMzcuMzM3YTIgMiAwIDAgMC0uNTU3IDEuMDhMMjAuMyAzMS45MjJjLS4xMDguNjM4LS4yMTUgMS4wNzkuMjExIDEuNDE4LjQwMy4zMi45LjE3NCAxLjU0LjA2Nmw1LjQwOC0uOTI4YTIgMiAwIDAgMCAxLjA4LS41NTZsNi40NC02LjQyOXptLTI0LjAzLTIxLjI2NWExLjE4IDEuMTggMCAwIDAgMS4xNzEgMS4xNzJoMTMuMTYzYTEuMTcyIDEuMTcyIDAgMSAwIDAtMi4zNDRIMTIuMTE5YTEuMTcgMS4xNyAwIDAgMC0xLjE3MiAxLjE3Mm03LjI5NCAxNC43NjZhMS4xNyAxLjE3IDAgMCAwLTEuMTcyLTEuMTcySDEyLjEyYTEuMTcyIDEuMTcyIDAgMSAwIDAgMi4zNDNoNC45NTFhMS4xNyAxLjE3IDAgMCAwIDEuMTcyLTEuMTcybS44Ni03LjM5MWExLjE3IDEuMTcgMCAwIDAtMS4xNzItMS4xNzJoLTUuODExYTEuMTcyIDEuMTcyIDAgMSAwIDAgMi4zNDNoNS44MWExLjE2NCAxLjE2NCAwIDAgMCAxLjE3My0xLjE3MSIgY2xpcC1ydWxlPSJldmVub2RkIi8+PHBhdGggZmlsbD0iIzAwQjdCQyIgZD0ibTMzLjUzMiAxNi4zOTcgNC4yODktNC4yODkgMy43NTggMy43MSAxLjYxNy0xLjYxNiAyLjI1OCAyLjI1N2MuMjE4LjIxOC4zNC41MTMuMzQzLjgyLS4wMDIuMzExLS4xMjUuNjA4LS4zNDQuODNsLTYuODA0IDYuNzk2YTEuMTMgMS4xMyAwIDAgMS0uODI4LjM0MyAxLjE1IDEuMTUgMCAwIDEtLjgyOC0uMzQzIDEuMTggMS4xOCAwIDAgMSAwLTEuNjU3bDUuOTc2LTUuOTY4LTEuMzEyLTEuMzEzLTEuMzgzIDEuNDE0LTEzLjE0OSAxMy4xMjUtNC42MTcuNzgyLjc4Mi00LjYxNy4zMzYtLjMzNyAyLjU2MiAyLjU1NWExLjEgMS4xIDAgMCAwIC44MjguMzQ0Yy4zMTIuMDA1LjYxMi0uMTIuODI4LS4zNDRhMS4xOCAxLjE4IDAgMCAwIDAtMS42NTZsLTIuNTYyLTIuNTYyek00NC43MzYgMTIuMjRjMCAuNDE0LS4xNjMuODEtLjQ1NCAxLjEwMmwtLjkyMi45MTQtMy44NTItMy44MjguOTMtLjkzYTEuNTYzIDEuNTYzIDAgMCAxIDIuMjAzIDBsMS42NCAxLjY0MWMuMjkxLjI5My40NTUuNjkuNDU1IDEuMTAyIi8+PC9zdmc+"
      },
      "displayName": "n8n Form Trigger",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1236,
      "icon": "file:aggregate.svg",
      "name": "n8n-nodes-base.aggregate",
      "codex": {
        "data": {
          "alias": [
            "Aggregate",
            "Combine",
            "Flatten",
            "Transform",
            "Array",
            "List",
            "Item"
          ],
          "details": "",
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.aggregate/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Agréger"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJub25lIj48ZyBmaWxsPSIjRkY2RDVBIiBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTMyIDE0OGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDE0NmM2LjYyNyAwIDEyIDUuMzczIDEyIDEydjI0YzAgNi42MjctNS4zNzMgMTItMTIgMTJINDRjLTYuNjI3IDAtMTItNS4zNzMtMTItMTJ6bTAgOTZjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxNDZjNi42MjcgMCAxMiA1LjM3MyAxMiAxMnYyNGMwIDYuNjI3LTUuMzczIDEyLTEyIDEySDQ0Yy02LjYyNyAwLTEyLTUuMzczLTEyLTEyem0wIDk2YzAtNi42MjcgNS4zNzMtMTIgMTItMTJoMTQ2YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjRjMCA2LjYyNy01LjM3MyAxMi0xMiAxMkg0NGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjxwYXRoIGQ9Ik03NCA3NmMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDExNi4yMTdjMTcuNjczIDAgMzIgMTQuMzI3IDMyIDMydjU2YzAgMjYuOTc4IDEwLjI3MiA1MS41NTcgMjcuMTE5IDcwLjAzOSA1LjA1NSA1LjU0NSA1LjA1NSAxNC4zNzcgMCAxOS45MjItMTYuODQ3IDE4LjQ4Mi0yNy4xMTkgNDMuMDYxLTI3LjExOSA3MC4wMzl2NTZjMCAxNy42NzMtMTQuMzI3IDMyLTMyIDMySDg2Yy02LjYyNyAwLTEyIDUuMzczLTEyIDEydjI0YzAgNi42MjcgNS4zNzMgMTIgMTIgMTJoMTE2LjIxN2M0NC4xODMgMCA4MC0zNS44MTcgODAtODB2LTU2YzAtMzAuOTI4IDI1LjA3Mi01NiA1Ni01NmE1Ljc4MyA1Ljc4MyAwIDAgMCA1Ljc4My01Ljc4M3YtMzYuNDM0YTUuNzgzIDUuNzgzIDAgMCAwLTUuNzgzLTUuNzgzYy0zMC45MjggMC01Ni0yNS4wNzItNTYtNTZ2LTU2YzAtNDQuMTgzLTM1LjgxNy04MC04MC04MEg4NmMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnoiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zNzYgMjQ0YzAtNi42MjcgNS4zNzMtMTIgMTItMTJoMTEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjRjMCA2LjYyNy01LjM3MyAxMi0xMiAxMkgzODhjLTYuNjI3IDAtMTItNS4zNzMtMTItMTJ6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4="
      },
      "displayName": "Aggregate",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1239,
      "icon": "file:splitOut.svg",
      "name": "n8n-nodes-base.splitOut",
      "codex": {
        "data": {
          "alias": [
            "Split",
            "Nested",
            "Transform",
            "Array",
            "List",
            "Item"
          ],
          "details": "",
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitout/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Diviser"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJub25lIj48ZyBmaWxsPSIjOUI2REQ1IiBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTQ4MCAxNDhjMC02LjYyNy01LjM3My0xMi0xMi0xMkgzMjJjLTYuNjI3IDAtMTIgNS4zNzMtMTIgMTJ2MjRjMCA2LjYyNyA1LjM3MyAxMiAxMiAxMmgxNDZjNi42MjcgMCAxMi01LjM3MyAxMi0xMnptMCA5NmMwLTYuNjI3LTUuMzczLTEyLTEyLTEySDMyMmMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnYyNGMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDE0NmM2LjYyNyAwIDEyLTUuMzczIDEyLTEyem0wIDk2YzAtNi42MjctNS4zNzMtMTItMTItMTJIMzIyYy02LjYyNyAwLTEyIDUuMzczLTEyIDEydjI0YzAgNi42MjcgNS4zNzMgMTIgMTIgMTJoMTQ2YzYuNjI3IDAgMTItNS4zNzMgMTItMTJ6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48cGF0aCBkPSJNNDM4IDc2YzAgNi42MjctNS4zNzMgMTItMTIgMTJIMzA5Ljc4M2MtMTcuNjczIDAtMzIgMTQuMzI3LTMyIDMydjU2YzAgMjYuOTc4LTEwLjI3MiA1MS41NTctMjcuMTE5IDcwLjAzOS01LjA1NSA1LjU0NS01LjA1NSAxNC4zNzcgMCAxOS45MjIgMTYuODQ3IDE4LjQ4MiAyNy4xMTkgNDMuMDYxIDI3LjExOSA3MC4wMzl2NTZjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMySDQyNmM2LjYyNyAwIDEyIDUuMzczIDEyIDEydjI0YzAgNi42MjctNS4zNzMgMTItMTIgMTJIMzA5Ljc4M2MtNDQuMTgzIDAtODAtMzUuODE3LTgwLTgwdi01NmMwLTMwLjkyOC0yNS4wNzItNTYtNTYtNTZhNS43ODMgNS43ODMgMCAwIDEtNS43ODMtNS43ODN2LTM2LjQzNGE1Ljc4MyA1Ljc4MyAwIDAgMSA1Ljc4My01Ljc4M2MzMC45MjggMCA1Ni0yNS4wNzIgNTYtNTZ2LTU2YzAtNDQuMTgzIDM1LjgxNy04MCA4MC04MEg0MjZjNi42MjcgMCAxMiA1LjM3MyAxMiAxMnoiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMzYgMjQ0YzAtNi42MjctNS4zNzMtMTItMTItMTJIMTJjLTYuNjI3IDAtMTIgNS4zNzMtMTIgMTJ2MjRjMCA2LjYyNyA1LjM3MyAxMiAxMiAxMmgxMTJjNi42MjcgMCAxMi01LjM3MyAxMi0xMnoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvZz48ZGVmcz48Y2xpcFBhdGggaWQ9ImEiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik01MTIgMEgwdjUxMmg1MTJ6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+"
      },
      "displayName": "Split Out",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 31,
      "name": "Création de contenu"
    },
    {
      "id": 51,
      "name": "IA multimodale"
    }
  ],
  "image": []
}