automation/i18n/fr-FR/Google Play Review Intelligence with Bright Data & Telegram Alerts.json
{
  "id": 5071,
  "name": "Intelligence des avis Google Play avec Bright Data et alertes Telegram",
  "views": 211,
  "recentViews": 0,
  "totalViews": 211,
  "createdAt": "2025-06-20T12:25:55.367Z",
  "description": "# Intelligence des avis Google Play avec Bright Data et alertes Telegram\n\n## Aperçu\nCe flux de travail n8n automatise le processus de collecte des avis du Google Play Store, d'analyse des performances des applications et d'envoi d'alertes pour les applications mal notées. Il s'intègre à Bright Data pour le web scraping, Google Sheets pour le stockage des données et Telegram pour les notifications.\n\n## Composants du flux de travail\n\n### 1. **✅ Formulaire d'entrée de déclenchement**\n- **Type :** Déclencheur de formulaire\n- **But :** Initie le flux de travail avec les entrées de l'utilisateur\n- **Champs d'entrée :**\n  - URL (URL de l'application Google Play Store)\n  - Nombre d'avis à récupérer\n- **Fonction :** Capture les exigences de l'utilisateur pour commencer le processus de collecte\n\n### 2. **🚀 Demande de collecte**\n- **Type :** Demande HTTP (POST)\n- **But :** Envoie une demande de collecte à l'API Bright Data\n- **Point de terminaison :** `https://api.brightdata.com/datasets/v3/trigger`\n- **Paramètres :**\n  - ID du jeu de données : `gd_m6zagkt024uwvvwuyu`\n  - Inclure les erreurs : `true`\n  - Limiter les résultats multiples : `5`\n- **Champs de sortie personnalisés :**\n  - `url`, `review_id`, `reviewer_name`, `review_date`\n  - `review_rating`, `review`, `app_url`, `app_title`\n  - `app_developer`, `app_images`, `app_rating`\n  - `app_number_of_reviews`, `app_what_new`\n  - `app_content_rating`, `app_country`, `num_of_reviews`\n\n### 3. **🔄 Vérifier l'état de la collecte**\n- **Type :** Demande HTTP (GET)\n- **But :** Surveille l'avancement du travail de collecte\n- **Point de terminaison :** `https://api.brightdata.com/datasets/v3/progress/{snapshot_id}`\n- **Fonction :** Vérifie si la collecte du jeu de données est terminée\n\n### 4. **⏱️ Attendre la réponse 45 sec**\n- **Type :** Noeud d'attente\n- **But :** Met en œuvre un mécanisme de sondage\n- **Durée :** 45 secondes\n- **Fonction :** Met en pause le flux de travail avant de vérifier à nouveau l'état\n\n### 5. **🧩 Vérifier l'achèvement**\n- **Type :** Condition IF\n- **But :** Évalue l'état d'achèvement de la collecte\n- **Condition :** `status === \"ready\"`\n- **Logique :**\n  - **Vrai :** Procède à la récupération des données\n  - **Faux :** Retourne à la vérification de l'état\n\n### 6. **📥 Récupérer les données collectées**\n- **Type :** Demande HTTP (GET)\n- **But :** Récupère les données collectées finales\n- **Point de terminaison :** `https://api.brightdata.com/datasets/v3/snapshot/{snapshot_id}`\n- **Format :** JSON\n- **Fonction :** Télécharge les données d'avis et d'application complètes\n\n### 7. **📊 Enregistrer dans Google Sheet**\n- **Type :** Noeud Google Sheets\n- **But :** Stocke les données collectées pour analyse\n- **Opération :** Ajouter des lignes\n- **Cible :** Document Google Sheet spécifié\n- **Mapping des données :**\n  - URL, ID d'avis, Nom du critique, Date de l'avis\n  - Note de l'avis, Texte de l'avis, Note de l'application\n  - Nombre d'avis de l'application, Quoi de neuf dans l'application, Pays de l'application\n\n### 8. **⚠️ Vérifier les notes basses**\n- **Type :** Condition IF\n- **But :** Identifie les applications mal performantes\n- **Condition :** `review_rating &lt; 4`\n- **Logique :**\n  - **Vrai :** Déclenche une notification d'alerte\n  - **Faux :** Aucune action entreprise\n\n### 9. **📣 Envoyer une alerte à Telegram**\n- **Type :** Noeud Telegram\n- **But :** Envoie des alertes de performance\n- **Format du message :**\n  ```\n  ⚠️ *Alerte de performance d'application faible*\n  📱 *Application :* {app_title}\n  🧑‍💻 *Développeur :* {app_developer}\n  ⭐ *Note :* {app_rating}\n  📝 *Avis :* {app_number_of_reviews}\n  🔗 [Voir sur le Play Store]({url})\n  ```\n\n## Flux de travail\n\n```\nFormulaire d'entrée → Démarrer la collecte → Vérifier l'état → Attendre 45s → Vérifier l'achèvement\n                                    ↑              ↓\n                                    └──── Boucle ────┘\n                                           ↓\n                          Récupérer les données → Enregistrer dans la feuille & Vérifier les notes\n                                                      ↓\n                                              Envoyer l'alerte Telegram\n```\n\n## Exigences de configuration\n\n### Clés API et identifiants\n- **Clé API Bright Data :** Requise pour le web scraping\n- **OAuth2 Google Sheets :** Pour l'accès au stockage des données\n- **Jeton de bot Telegram :** Pour les notifications d'alerte\n\n### Paramètres de configuration\n- **ID de la feuille Google :** Identifiant de la feuille de calcul cible\n- **ID de chat Telegram :** Destination des alertes\n- **ID d'instance N8N :** Identifiant de l'instance de flux de travail\n\n## Caractéristiques clés\n\n### Collecte de données\n- Extraction complète des métadonnées des applications\n- Analyse du contenu et des notes des avis\n- Informations sur le développeur et le pays\n- Métriques de performance du magasin d'applications\n\n### Surveillance de la qualité\n- Détection automatisée des notes basses\n- Alertes de performance en temps réel\n- Archivage continu des données\n\n### Capacités d'intégration\n- Service de web scraping Bright Data\n- Persistance des données Google Sheets\n- Notifications instantanées Telegram\n- Surveillance de l'état basée sur le sondage\n\n## Cas d'utilisation\n\n1. **Surveillance des performances des applications**\n   - Suivre les tendances des notes au fil du temps\n   - Identifier les modèles de sentiment des utilisateurs\n   - Surveiller les performances des concurrents\n\n2. **Assurance qualité**\n   - Alerte précoce pour les baisses de notes\n   - Analyse des retours clients\n   - Gestion de la réputation sur le marché\n\n3. **Intelligence d'affaires**\n   - Analyse du sentiment des avis\n   - Évaluation des performances\n   - Support à la décision stratégique\n\n## Notes techniques\n\n- **Intervalle de sondage :** Vérifications de l'état toutes les 45 secondes\n- **Seuil de notation :** Alertes déclenchées pour des notes &lt; 4\n- **Format des données :** JSON avec mapping de champs structuré\n- **Gestion des erreurs :** Inclut le suivi des erreurs dans les demandes de jeu de données\n- **Limitation des résultats :** Maximum de 5 résultats multiples par demande\n\nPour toute question ou assistance, veuillez contacter :\ninfo@incrementors.com\nou remplissez ce formulaire https://www.incrementors.com/contact-us/",
  "workflow": {
    "id": "0Om9VswvKOf2cyjY",
    "meta": {
      "instanceId": "YOUR_N8N_INSTANCE_ID",
      "templateCredsSetupCompleted": true
    },
    "name": "Comprehensive Google Play Review Intelligence System with Bright Data Integration & Telegram Alerts",
    "tags": [],
    "nodes": [
      {
        "id": "81566f57-58b6-4876-ad16-3b585bbf75d4",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -580,
          60
        ],
        "parameters": {
          "color": 6,
          "width": 360,
          "height": 260,
          "content": "Evaluates if the dataset scraping process is complete (status: \"ready\"). Loops if not."
        },
        "typeVersion": 1
      },
      {
        "id": "5c6189f3-3e89-4dc0-84f6-6641c213bc8c",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -940,
          20
        ],
        "parameters": {
          "color": 5,
          "width": 300,
          "height": 300,
          "content": "Pauses the workflow for 45 seconds before checking the status again — used for polling Bright Data API.\n\n"
        },
        "typeVersion": 1
      },
      {
        "id": "82192678-1180-4491-a629-926a566f0c47",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1260,
          20
        ],
        "parameters": {
          "color": 4,
          "width": 280,
          "height": 280,
          "content": "Checks the current processing status of the dataset request using the snapshot ID."
        },
        "typeVersion": 1
      },
      {
        "id": "a39574eb-692e-45f9-ba8a-b18ca5b8bd6c",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1580,
          20
        ],
        "parameters": {
          "width": 280,
          "height": 280,
          "content": "Sends a POST request to Bright Data API to start scraping reviews and app details based on user input.\n\n"
        },
        "typeVersion": 1
      },
      {
        "id": "9d64ea9a-bd63-4231-b459-90376f8b4eb6",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1900,
          20
        ],
        "parameters": {
          "color": 3,
          "width": 280,
          "height": 280,
          "content": "Triggers the workflow with user input — takes Google Play Store URL and number of reviews to fetch.\n\n"
        },
        "typeVersion": 1
      },
      {
        "id": "656204ee-b437-4e61-8a73-745365ec45c2",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -140,
          40
        ],
        "parameters": {
          "color": 2,
          "width": 320,
          "height": 280,
          "content": "Retrieves the final scraped data (reviews and app info) once the dataset is ready.\n\n"
        },
        "typeVersion": 1
      },
      {
        "id": "8489a0c1-ff08-4293-b9a1-9d60840b2a5d",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          300,
          -220
        ],
        "parameters": {
          "color": 6,
          "width": 300,
          "height": 280,
          "content": "Appends selected app and review data into a connected Google Sheet for storage.\n\n"
        },
        "typeVersion": 1
      },
      {
        "id": "c1cc4ad6-fd24-4198-ad99-e6cb15f038d8",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          280,
          120
        ],
        "parameters": {
          "color": 4,
          "width": 280,
          "height": 320,
          "content": "Filters out reviews with rating below 4 to flag low-performing apps."
        },
        "typeVersion": 1
      },
      {
        "id": "1f8ee417-cef0-4496-aa6c-d89fd798dbb6",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          600,
          120
        ],
        "parameters": {
          "color": 3,
          "width": 300,
          "height": 320,
          "content": "Sends a Telegram alert if the app has low ratings, indicating poor performance."
        },
        "typeVersion": 1
      },
      {
        "id": "b275d814-2941-455e-b256-710e14569221",
        "name": "✅ Trigger Input Form",
        "type": "n8n-nodes-base.formTrigger",
        "position": [
          -1800,
          120
        ],
        "webhookId": "b32a8f46-3345-40a0-b500-7bec7aa1be49",
        "parameters": {
          "options": {},
          "formTitle": "Google Play Store",
          "formFields": {
            "values": [
              {
                "fieldLabel": "URL"
              },
              {
                "fieldType": "number",
                "fieldLabel": "No of review"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "afcfa8b5-c5bb-4636-88dc-7c8ada2b7aa4",
        "name": "🚀 Start Scraping Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -1500,
          120
        ],
        "parameters": {
          "url": "https://api.brightdata.com/datasets/v3/trigger",
          "method": "POST",
          "options": {},
          "jsonBody": "={\n  \"input\": [\n    {\n      \"url\": \"{{ $json.URL }}\",\n      \"num_of_reviews\": {{ $json[\"No of review\"] }},\n      \"country\": \"US\"\n    }\n  ],\n  \"custom_output_fields\": [\n    \"url\",\n    \"review_id\",\n    \"reviewer_name\",\n    \"review_date\",\n    \"review_rating\",\n    \"review\",\n    \"app_url\",\n    \"app_title\",\n    \"app_developer\",\n    \"app_images\",\n    \"app_rating\",\n    \"app_number_of_reviews\",\n    \"app_what_new\",\n    \"app_content_rating\",\n    \"app_country\",\n    \"num_of_reviews\"\n  ]\n}\n",
          "sendBody": true,
          "sendQuery": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "queryParameters": {
            "parameters": [
              {
                "name": "dataset_id",
                "value": "gd_m6zagkt024uwvvwuyu"
              },
              {
                "name": "include_errors",
                "value": "true"
              },
              {
                "name": "limit_multiple_results",
                "value": "5"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer BRIGHT_DATA_API_KEY"
              }
            ]
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "31fe5e15-7520-42a1-a818-0391b156ea16",
        "name": "🔄 Check Scrape Status",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -1160,
          120
        ],
        "parameters": {
          "url": "=https://api.brightdata.com/datasets/v3/progress/{{ $json.snapshot_id }}",
          "options": {},
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer BRIGHT_DATA_API_KEY"
              }
            ]
          }
        },
        "typeVersion": 4.2,
        "alwaysOutputData": true
      },
      {
        "id": "de081ff7-c9a0-43e1-8748-976e7eff0490",
        "name": "⏱️ Wait for Response 45 sec",
        "type": "n8n-nodes-base.wait",
        "position": [
          -840,
          120
        ],
        "webhookId": "10b45556-5e91-4387-abd0-f9078b220286",
        "parameters": {
          "amount": 45
        },
        "typeVersion": 1.1
      },
      {
        "id": "68fcadf3-b117-4dd3-baf5-bc1c904c168a",
        "name": "🧩 Verify Completion",
        "type": "n8n-nodes-base.if",
        "position": [
          -460,
          120
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "or",
            "conditions": [
              {
                "id": "35ed620d-b5d5-4e97-bcc5-52b283d85616",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.status }}",
                "rightValue": "ready"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "4adb27d2-b056-4a72-aefe-b7482f55d6ee",
        "name": "📥 Fetch Scraped Data",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -40,
          120
        ],
        "parameters": {
          "url": "=https://api.brightdata.com/datasets/v3/snapshot/{{ $json.snapshot_id }}",
          "options": {},
          "sendQuery": true,
          "sendHeaders": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "format",
                "value": "json"
              }
            ]
          },
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer BRIGHT_DATA_API_KEY"
              }
            ]
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "b81d03b8-6d18-4539-be74-3beb853bdf35",
        "name": "📊 Save to Google Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          380,
          -120
        ],
        "parameters": {
          "columns": {
            "value": {
              "url": "={{ $json.url }}",
              "review": "={{ $json.review }}",
              "review_id": "={{ $json.review_id }}",
              "app_rating": "={{ $json.app_rating }}",
              "app_country": "={{ $json.app_country }}",
              "review_date": "={{ $json.review_date }}",
              "app_what_new": "={{ $json.app_what_new }}",
              "review_rating": "={{ $json.review_rating }}",
              "reviewer_name": "={{ $json.reviewer_name }}",
              "app_number_of_reviews": "={{ $json.app_number_of_reviews }}"
            },
            "schema": [
              {
                "id": "url",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "url",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "review_id",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "review_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "reviewer_name",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "reviewer_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "review_date",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "review_date",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "review_rating",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "review_rating",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "review",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "review",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "app_url",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "app_url",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "app_title",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "app_title",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "app_developer",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "app_developer",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "app_images",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "app_images",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "app_rating",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "app_rating",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "app_number_of_reviews",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "app_number_of_reviews",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "app_what_new",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "app_what_new",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "app_content_rating",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "app_content_rating",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "app_country",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "app_country",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "num_of_reviews",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "num_of_reviews",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "append",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0",
            "cachedResultName": "Sheet1"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "YOUR_GOOGLE_SHEET_ID",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit",
            "cachedResultName": "Google Play Review Scraper"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets OAuth2"
          }
        },
        "typeVersion": 4.6
      },
      {
        "id": "0a0c0cbb-694d-47b8-80ee-235df0a9a426",
        "name": "⚠️ Check Low Ratings",
        "type": "n8n-nodes-base.if",
        "position": [
          360,
          240
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "90bfec56-9510-4bc5-a4c6-aa155bfaf15a",
                "operator": {
                  "type": "number",
                  "operation": "lt"
                },
                "leftValue": "={{ $json.review_rating }}",
                "rightValue": 4
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "9508b6fa-f1d5-4ca9-8ca7-8e4a0a18f638",
        "name": "📣 Send Alert to Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          680,
          260
        ],
        "webhookId": "3f2bb749-4267-49fa-8d69-7906504504e3",
        "parameters": {
          "text": "=⚠️ *Low App Performance Alert*  📱 *App:* {{ $json.app_title }} 🧑‍💻 *Developer:* {{ $json.app_developer }} ⭐ *Rating:* {{ $json.app_rating }} 📝 *Reviews:* {{ $json.app_number_of_reviews }}  🔗 [View on Play Store]({{ $json.url }})",
          "chatId": "YOUR_TELEGRAM_CHAT_ID",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": {
            "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
            "name": "Telegram Bot"
          }
        },
        "typeVersion": 1.2
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "bea43585-0122-4277-8298-80674d93c326",
    "connections": {
      "✅ Trigger Input Form": {
        "main": [
          [
            {
              "node": "🚀 Start Scraping Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🧩 Verify Completion": {
        "main": [
          [
            {
              "node": "📥 Fetch Scraped Data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "🔄 Check Scrape Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📥 Fetch Scraped Data": {
        "main": [
          [
            {
              "node": "📊 Save to Google Sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "⚠️ Check Low Ratings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⚠️ Check Low Ratings": {
        "main": [
          [],
          [
            {
              "node": "📣 Send Alert to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔄 Check Scrape Status": {
        "main": [
          [
            {
              "node": "⏱️ Wait for Response 45 sec",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🚀 Start Scraping Request": {
        "main": [
          [
            {
              "node": "🔄 Check Scrape Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⏱️ Wait for Response 45 sec": {
        "main": [
          [
            {
              "node": "🧩 Verify Completion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 18,
    "nodeTypes": {
      "n8n-nodes-base.if": {
        "count": 2
      },
      "n8n-nodes-base.wait": {
        "count": 1
      },
      "n8n-nodes-base.telegram": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 9
      },
      "n8n-nodes-base.formTrigger": {
        "count": 1
      },
      "n8n-nodes-base.httpRequest": {
        "count": 3
      },
      "n8n-nodes-base.googleSheets": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Incrementors",
    "username": "incrementors",
    "bio": "",
    "verified": true,
    "links": [
      "https://www.incrementors.com/"
    ],
    "avatar": "https://gravatar.com/avatar/e09b4b6a8c5a00f886a9eedf3be23a4af5a50cc216cd6b2aee2a12c2dfba99dd?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 18,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheets",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Sheet",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                "icon": "❤️",
                "label": "Love at first sight: Ricardo’s n8n journey"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                "icon": "⏲",
                "label": "Creating triggers for n8n workflows using polling"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                "icon": "🍔",
                "label": "How Honest Burgers Use Automation to Save $100k per year"
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\",\"output\"]",
      "defaults": {
        "name": "Google Sheets"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets",
      "typeVersion": 5,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Demande HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 20,
      "icon": "fa:map-signs",
      "name": "n8n-nodes-base.if",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                "icon": "🏷️",
                "label": "How to automatically manage contributions to open-source projects"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Si",
        "color": "#408000"
      },
      "iconData": {
        "icon": "map-signs",
        "type": "icon"
      },
      "displayName": "If",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 49,
      "icon": "file:telegram.svg",
      "name": "n8n-nodes-base.telegram",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                "icon": "💪",
                "label": "Using Automation to Boost Productivity in the Workplace"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-telegram-bots-with-n8n-a-no-code-platform/",
                "icon": "💬",
                "label": "Creating Telegram Bots with n8n, a No-Code Platform"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.telegram/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/telegram/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Telegram"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjYgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzM3YWVlMiIgZD0iTTAgMzJjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMyczMyLTE0LjMyNyAzMi0zMlM0OS42NzMgMCAzMiAwIDAgMTQuMzI3IDAgMzIiLz48cGF0aCBmaWxsPSIjYzhkYWVhIiBkPSJtMjEuNjYxIDM0LjMzOCAzLjc5NyAxMC41MDhzLjQ3NS45ODMuOTgzLjk4MyA4LjA2OC03Ljg2NCA4LjA2OC03Ljg2NGw4LjQwNy0xNi4yMzctMjEuMTE5IDkuODk4eiIvPjxwYXRoIGZpbGw9IiNhOWM2ZDgiIGQ9Im0yNi42OTUgMzcuMDM0LS43MjkgNy43NDZzLS4zMDUgMi4zNzMgMi4wNjggMGw0LjY0NC00LjIwMyIvPjxwYXRoIGQ9Im0yMS43MyAzNC43MTItNy44MDktMi41NDVzLS45MzItLjM3OC0uNjMzLTEuMjM3Yy4wNjItLjE3Ny4xODYtLjMyOC41NTktLjU4OCAxLjczMS0xLjIwNiAzMi4wMjgtMTIuMDk2IDMyLjAyOC0xMi4wOTZzLjg1Ni0uMjg4IDEuMzYxLS4wOTdjLjIzMS4wODguMzc4LjE4Ny41MDMuNTQ4LjA0NS4xMzIuMDcxLjQxMS4wNjguNjg5LS4wMDMuMjAxLS4wMjcuMzg2LS4wNDUuNjc4LS4xODQgMi45NzgtNS43MDYgMjUuMTk4LTUuNzA2IDI1LjE5OHMtLjMzIDEuMy0xLjUxNCAxLjM0NWMtLjQzMi4wMTYtLjk1Ni0uMDcxLTEuNTgyLS42MS0yLjMyMy0xLjk5OC0xMC4zNTItNy4zOTQtMTIuMTI2LTguNThhLjM0LjM0IDAgMCAxLS4xNDYtLjIzOWMtLjAyNS0uMTI1LjEwOC0uMjguMTA4LS4yOHMxMy45OC0xMi40MjcgMTQuMzUyLTEzLjczMWMuMDI5LS4xMDEtLjA3OS0uMTUxLS4yMjYtLjEwNy0uOTI5LjM0Mi0xNy4wMjUgMTAuNTA2LTE4LjgwMSAxMS42MjktLjEwNC4wNjYtLjM5NS4wMjMtLjM5NS4wMjMiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Telegram",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 514,
      "icon": "fa:pause-circle",
      "name": "n8n-nodes-base.wait",
      "codex": {
        "data": {
          "alias": [
            "pause",
            "sleep",
            "delay",
            "timeout"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.wait/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Flow"
            ]
          }
        }
      },
      "group": "[\"organization\"]",
      "defaults": {
        "name": "Attendre",
        "color": "#804050"
      },
      "iconData": {
        "icon": "pause-circle",
        "type": "icon"
      },
      "displayName": "Wait",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1225,
      "icon": "file:form.svg",
      "name": "n8n-nodes-base.formTrigger",
      "codex": {
        "data": {
          "alias": [
            "table",
            "submit",
            "post"
          ],
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.formtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Other Trigger Nodes"
            ]
          }
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "À la soumission du formulaire"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NiIgaGVpZ2h0PSI0MCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzAwQjdCQyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMzQuOTc4IDM3LjczMmExLjU2IDEuNTYgMCAwIDEtMS41NjIgMS41NjNINi4yNmExLjU2IDEuNTYgMCAwIDEtMS41NjMtMS41NjNWOS42MDdjMC0uNDA1LjE1Ny0uNzk0LjQzOC0xLjA4Nmw2LjMwNC02LjUzMXY1LjM0NEg4LjIxM2ExLjE3MiAxLjE3MiAwIDEgMCAwIDIuMzQzaDQuNDNhMS4xNyAxLjE3IDAgMCAwIDEuMTcxLTEuMTcxVi4yMzJoMTkuNjAyYTEuNTYgMS41NiAwIDAgMSAxLjU2MiAxLjU2M3YxMC4zMjdsLTIuODYgMi44Ni04LjI1MiA4LjI3NmE0MTMuMDA2IDQxMy4wMDYgMCAwIDEtMS42NTQgMS42NjJsLS4zMzcuMzM3YTIgMiAwIDAgMC0uNTU3IDEuMDhMMjAuMyAzMS45MjJjLS4xMDguNjM4LS4yMTUgMS4wNzkuMjExIDEuNDE4LjQwMy4zMi45LjE3NCAxLjU0LjA2Nmw1LjQwOC0uOTI4YTIgMiAwIDAgMCAxLjA4LS41NTZsNi40NC02LjQyOXptLTI0LjAzLTIxLjI2NWExLjE4IDEuMTggMCAwIDAgMS4xNzEgMS4xNzJoMTMuMTYzYTEuMTcyIDEuMTcyIDAgMSAwIDAtMi4zNDRIMTIuMTE5YTEuMTcgMS4xNyAwIDAgMC0xLjE3MiAxLjE3Mm03LjI5NCAxNC43NjZhMS4xNyAxLjE3IDAgMCAwLTEuMTcyLTEuMTcySDEyLjEyYTEuMTcyIDEuMTcyIDAgMSAwIDAgMi4zNDNoNC45NTFhMS4xNyAxLjE3IDAgMCAwIDEuMTcyLTEuMTcybS44Ni03LjM5MWExLjE3IDEuMTcgMCAwIDAtMS4xNzItMS4xNzJoLTUuODExYTEuMTcyIDEuMTcyIDAgMSAwIDAgMi4zNDNoNS44MWExLjE2NCAxLjE2NCAwIDAgMCAxLjE3My0xLjE3MSIgY2xpcC1ydWxlPSJldmVub2RkIi8+PHBhdGggZmlsbD0iIzAwQjdCQyIgZD0ibTMzLjUzMiAxNi4zOTcgNC4yODktNC4yODkgMy43NTggMy43MSAxLjYxNy0xLjYxNiAyLjI1OCAyLjI1N2MuMjE4LjIxOC4zNC41MTMuMzQzLjgyLS4wMDIuMzExLS4xMjUuNjA4LS4zNDQuODNsLTYuODA0IDYuNzk2YTEuMTMgMS4xMyAwIDAgMS0uODI4LjM0MyAxLjE1IDEuMTUgMCAwIDEtLjgyOC0uMzQzIDEuMTggMS4xOCAwIDAgMSAwLTEuNjU3bDUuOTc2LTUuOTY4LTEuMzEyLTEuMzEzLTEuMzgzIDEuNDE0LTEzLjE0OSAxMy4xMjUtNC42MTcuNzgyLjc4Mi00LjYxNy4zMzYtLjMzNyAyLjU2MiAyLjU1NWExLjEgMS4xIDAgMCAwIC44MjguMzQ0Yy4zMTIuMDA1LjYxMi0uMTIuODI4LS4zNDRhMS4xOCAxLjE4IDAgMCAwIDAtMS42NTZsLTIuNTYyLTIuNTYyek00NC43MzYgMTIuMjRjMCAuNDE0LS4xNjMuODEtLjQ1NCAxLjEwMmwtLjkyMi45MTQtMy44NTItMy44MjguOTMtLjkzYTEuNTYzIDEuNTYzIDAgMCAxIDIuMjAzIDBsMS42NCAxLjY0MWMuMjkxLjI5My40NTUuNjkuNDU1IDEuMTAyIi8+PC9zdmc+"
      },
      "displayName": "n8n Form Trigger",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 32,
      "name": "Recherche de marché"
    }
  ],
  "image": []
}