automation/i18n/fr-FR/JSON Data Utility- Extract Key-Value Pairs by Index.json
{
  "id": 6615,
  "name": "Utilitaire de données JSON : Extraire des paires clé-valeur par index",
  "views": 39,
  "recentViews": 0,
  "totalViews": 39,
  "createdAt": "2025-07-29T08:58:46.887Z",
  "description": "## Extraire une paire clé-valeur par index du JSON vers des champs dans n8n\n\nCe modèle prend un objet JSON et un **index de ligne** et renvoie exactement une **paire clé-valeur** à cet index. C'est un outil pratique lorsque vous n'avez besoin que d'une seule entrée d'une charge utile JSON structurée (par exemple, choisir un champ de formulaire pour une logique en aval).\n\n## Pour qui est-ce\n- Créateurs qui souhaitent un **sélecteur JSON** rapide sans écrire de logique de parsing complète.\n- Développeurs testant des charges utiles API ou construisant des **preuves de concept**.\n- Ops/analystes qui ont besoin de **prélever un seul champ** pour des e-mails, des documents ou des notifications.\n\n## Comment ça fonctionne\n1. **Déclencheur manuel** (`Lorsque vous cliquez sur 'Tester le flux de travail'`) démarre le flux.\n2. **Définir → Noeud JSON d'entrée** contient votre charge utile d'exemple avec :\n   - `myData` : un objet de paires clé → valeur.\n   - `rowIndex` : un index basé sur 0 indiquant quelle paire extraire.\n3. **Code (Python) → Trouver la paire clé-valeur** itère `myData` et renvoie `[key, value]` à `rowIndex` comme `result`.\n4. **Définir → Clé** associe `result[0]` à un champ nommé `result`.\n5. **Définir → Valeur** associe `result[1]` à un champ nommé `result[1]`.\n6. La **clé** et la **valeur** sélectionnées sont ensuite disponibles pour tous les nœuds en aval.\n\n## Comment configurer\n1. Ouvrez le flux de travail et sélectionnez **Noeud JSON d'entrée**.\n2. Remplacez l'exemple par votre propre JSON :\n   ```json\n   {\n     \"myData\": { \"name\": \"Alice\", \"age\": \"30\", \"city\": \"Paris\" },\n     \"rowIndex\": \"1\"\n   }\n   ```\n3. Cliquez sur **Exécuter le flux de travail**. Vérifiez les nœuds **Clé** et **Valeur** pour les sorties.\n\n## Exigences\n- n8n en cours d'exécution (cloud ou auto-hébergé).\n- **Noeud de code (Python)** activé dans votre version de n8n.\n- Structure de charge utile d'entrée :\n  - `myData` : objet avec clés/valeurs\n  - `rowIndex` : entier (basé sur 0)\n\n## Comment personnaliser\n- **Choisir par nom de clé** (au lieu de l'index) : ajustez le code Python pour rechercher une clé spécifique.\n- **Gérer les objets/tableaux imbriqués** : parcourir ou aplatir la structure avant de sélectionner.\n- **Changer la forme de sortie** : renvoyer `{ \"key\": ..., \"value\": ... }` ou écrire directement dans les champs du nœud suivant.\n- **Valider les entrées** : ajouter des vérifications pour `rowIndex` hors limites, `myData` non objet, ou objets vides.\n\n## Add-ons\n- **Intégration Webhook** : Remplacez le Déclencheur manuel par un Webhook pour accepter des JSON en direct.\n- **Garde de schéma** : Ajoutez une étape If/Fonction pour garantir que `myData` est un objet et que `rowIndex` est numérique.\n- **Journal d'audit** : Ajoutez la clé/valeur sélectionnée à Google Sheets ou à une base de données.\n\n## Exemples de cas d'utilisation\n- Extraire un champ d'une grande réponse API à inclure dans un **e-mail**.\n- Extraire une réponse spécifique d'une **soumission de formulaire** pour un routage conditionnel.\n- Lire une paire de configuration d'un **objet de paramètres** pour contrôler une étape en aval.\n\n## Dépannage courant\n| Problème | Cause possible | Solution |\n|---|---|---|\n| “Index hors limites” | `rowIndex` est supérieur au nombre de clés | Utilisez un index valide basé sur 0 ; ajoutez une protection dans le nœud de code pour limiter ou par défaut. |\n| Mauvaise clé renvoyée | L'**ordre** des clés de l'objet diffère des attentes | L'ordre des clés d'objet n'est pas garanti à travers les sources—préférez **choisir par nom de clé** pour plus de fiabilité. |\n| Sortie vide/invalides | `myData` n'est pas un objet ou est vide | Assurez-vous que `myData` est un objet plat avec au moins une clé. |\n| Erreurs Python | L'environnement d'exécution Python du nœud de code n'est pas disponible | Activez Python dans le nœud de code ou convertissez l'extrait en JavaScript. |\n| Incompatibilité de type de valeur | La valeur n'est pas une chaîne | Convertissez si nécessaire dans le nœud de définition ou normalisez les types dans le nœud de code. |\n\n## Besoin d'aide ?\nSi vous souhaitez que cela **choisisse par clé**, gère le **JSON imbriqué**, accepte des données via **Webhook** ou soit entièrement personnalisé selon vos besoins, écrivez-nous et nous adapterons le modèle à votre cas d'utilisation exact.",
  "workflow": {
    "id": "LSZHMsAomkKlMfYR",
    "meta": {
      "instanceId": "14e4c77104722ab186539dfea5182e419aecc83d85963fe13f6de862c875ebfa"
    },
    "name": "📄 Extract Key Value from JSON - n8n Workflow",
    "tags": [],
    "nodes": [
      {
        "id": "9ef4197b-17d8-42aa-b771-2b151763298a",
        "name": "When clicking ‘Test workflow’",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          -40,
          -20
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "7fa816d2-60e4-42bc-9803-3e49ceb7a4ab",
        "name": "Input JSON Node",
        "type": "n8n-nodes-base.set",
        "position": [
          140,
          -20
        ],
        "parameters": {
          "mode": "raw",
          "options": {},
          "jsonOutput": "{\n  \"myData\": {\n    \"name\": \"Alice\",\n    \"age\": \"30\",\n    \"city\": \"Paris\"\n  },\n  \"rowIndex\": \"1\"\n}\n\n"
        },
        "typeVersion": 3.4
      },
      {
        "id": "c2a948b4-65b5-490d-8e4c-cdb6b39ad70e",
        "name": "Find Key-Value Pair",
        "type": "n8n-nodes-base.code",
        "position": [
          340,
          -20
        ],
        "parameters": {
          "language": "python",
          "pythonCode": "import json\nans=[]\nind = (_input.first().json.rowIndex)\nind=int(ind)\n\nfor i in _input.first().json.myData:\n  if ind==0:\n    ans.append(i)\n    ans.append(_input.first().json.myData[i])\n    break\n  ind=ind-1\n\n# Return in valid n8n format\nreturn [{\"json\": {\"result\": ans}}]\n\n\n\n\n"
        },
        "typeVersion": 2,
        "alwaysOutputData": true
      },
      {
        "id": "c2f94136-8254-44b6-abe2-39caa814b036",
        "name": "Key",
        "type": "n8n-nodes-base.set",
        "position": [
          600,
          -140
        ],
        "parameters": {
          "options": {
            "dotNotation": false,
            "ignoreConversionErrors": true
          },
          "assignments": {
            "assignments": [
              {
                "id": "243bbcc4-ff8a-4af5-b80b-96c524d33118",
                "name": "result",
                "type": "array",
                "value": "={{ $json.result[0] }}"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "1e6f42da-e376-463b-acc5-37a5454d55d3",
        "name": "Value",
        "type": "n8n-nodes-base.set",
        "position": [
          600,
          120
        ],
        "parameters": {
          "options": {
            "dotNotation": false,
            "ignoreConversionErrors": true
          },
          "assignments": {
            "assignments": [
              {
                "id": "5b20ed91-93b0-45b4-b555-5d7a3cff672e",
                "name": "result[1]",
                "type": "string",
                "value": "={{ $json.result[1] }}"
              }
            ]
          }
        },
        "typeVersion": 3.4
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "fc8d479a-c821-44d1-9b46-f617cbfb5e25",
    "connections": {
      "Key": {
        "main": [
          []
        ]
      },
      "Input JSON Node": {
        "main": [
          [
            {
              "node": "Find Key-Value Pair",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Key-Value Pair": {
        "main": [
          [
            {
              "node": "Key",
              "type": "main",
              "index": 0
            },
            {
              "node": "Value",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Input JSON Node",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 5,
    "nodeTypes": {
      "n8n-nodes-base.set": {
        "count": 3
      },
      "n8n-nodes-base.code": {
        "count": 1
      },
      "n8n-nodes-base.manualTrigger": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "WeblineIndia",
    "username": "weblineindia",
    "bio": "A Leading Software Engineering, Consulting & Outsourcing Services Company in USA & India serving Clients Globally since 1999.",
    "verified": true,
    "links": [
      "https://www.weblineindia.com/"
    ],
    "avatar": "https://gravatar.com/avatar/a229d43aefca4588581583c58bb37b4773aebbdf4c1fef86a08bb1d38eae91fa?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 38,
      "icon": "fa:pen",
      "name": "n8n-nodes-base.set",
      "codex": {
        "data": {
          "alias": [
            "Set",
            "JS",
            "JSON",
            "Filter",
            "Transform",
            "Map"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Modifier les champs"
      },
      "iconData": {
        "icon": "pen",
        "type": "icon"
      },
      "displayName": "Edit Fields (Set)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 834,
      "icon": "file:code.svg",
      "name": "n8n-nodes-base.code",
      "codex": {
        "data": {
          "alias": [
            "cpde",
            "Javascript",
            "JS",
            "Python",
            "Script",
            "Custom Code",
            "Function"
          ],
          "details": "The Code node allows you to execute JavaScript in your workflow.",
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Code"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Code",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 838,
      "icon": "fa:mouse-pointer",
      "name": "n8n-nodes-base.manualTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lorsque vous cliquez sur ‘Exécuter le flux de travail’",
        "color": "#909298"
      },
      "iconData": {
        "icon": "mouse-pointer",
        "type": "icon"
      },
      "displayName": "Manual Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 5,
      "name": "Ingénierie"
    }
  ],
  "image": []
}