automation/i18n/fr-FR/Monitor Solar Energy Production & Send Alerts with Gmail, Google Sheets, and Slack.json
{
  "id": 7125,
  "name": "Surveillance de la production d'énergie solaire et envoi d'alertes avec Gmail, Google Sheets et Slack",
  "views": 103,
  "recentViews": 1,
  "totalViews": 103,
  "createdAt": "2025-08-07T07:44:38.489Z",
  "description": "# Flux de travail d'alerte de surveillance de la production d'énergie solaire\n\nCe flux de travail surveille automatiquement la production d'énergie solaire toutes les 2 heures en récupérant des données de l'API Energidataservice. Si la production d'énergie tombe en dessous d'un seuil prédéfini, il notifie instantanément les utilisateurs par e-mail. Sinon, il enregistre les données dans une feuille Google et publie un résumé quotidien sur Slack.\n\n## Pour qui est-ce\n\n* Équipes d'énergie renouvelable surveillant la production solaire.\n* Gestionnaires d'installations et superviseurs de centrales électriques.\n* Agents de conformité ESG suivant les indicateurs de durabilité.\n* Développeurs ou analystes automatisant le reporting de l'énergie solaire.\n\n## Comment ça fonctionne\n\n1. **Déclencheur :** Le flux de travail commence toutes les 2 heures en utilisant un déclencheur de planification.\n2. **Récupération de données :** Un nœud de requête HTTP récupère les données de production d'énergie solaire depuis l'API Energidataservice.\n3. **Traitement :** Un nœud de code filtre les entrées avec une production inférieure au seuil minimum.\n4. **Prise de décision :** Un nœud If vérifie si des entrées à faible production sont présentes.\n5. **Alertes :** Si une faible production est détectée, un e-mail est envoyé via le nœud Gmail.\n6. **Journalisation :** Si toutes les entrées sont valides, elles sont enregistrées dans une feuille Google.\n7. **Résumé Slack :** Un nœud Slack publie les données du résumé de la feuille pour une visibilité en fin de journée.\n\n## Comment configurer\n\n1. **Déclencheur de planification :** Configurer pour s'exécuter toutes les 2 heures.\n2. **Nœud de requête HTTP :**\n\t* Méthode : `GET`\n\t* URL : `https://api.energidataservice.dk/dataset/YourDatasetHere`\n\t* Ajouter les en-têtes et paramètres nécessaires selon les exigences de l'API.\n3. **Nœud de code :** Définir la logique pour filtrer les entrées où `solar_energy_production &lt; required_threshold`.\n4. **Nœud If :** Utiliser `items.length &gt; 0` pour vérifier les entrées à faible production.\n5. **Nœud Gmail :**\n\t* Authentifier avec les identifiants Gmail.\n\t* Personnaliser le destinataire et le modèle de message.\n6. **Nœud Google Sheets :**\n\t* Se connecter à une feuille de calcul.\n\t* Mapper les colonnes appropriées.\n7. **Nœud Slack :**\n\t* Utiliser les identifiants OAuth2 de Slack.\n\t* Spécifier le canal et le contenu du message.\n\n## Exigences\n\n* Instance n8n Cloud ou auto-hébergée.\n* Accès à l'API Energidataservice.\n* Compte Gmail (avec intégration OAuth2 n8n).\n* Compte Google Sheets et ID de feuille.\n* Espace de travail Slack et application avec les autorisations appropriées.\n\n## Comment personnaliser\n\n* **Changer la fréquence :** Ajuster l'intervalle du déclencheur de planification (par exemple, toutes les heures ou 4 fois par jour).\n* **Ajustement du seuil :** Modifier la valeur dans le nœud de code pour changer la production solaire minimale acceptable.\n* **Routage des alertes :** Mettre à jour les destinataires Gmail ou remplacer Gmail par Microsoft Outlook/SendGrid.\n* **Format de la feuille :** Ajouter ou supprimer des colonnes dans la feuille Google en fonction des métriques supplémentaires (par exemple, données éoliennes ou nucléaires).\n* **Publication sur Slack :** Personnaliser les messages Slack en utilisant Markdown pour une meilleure lisibilité.\n\n## Modules complémentaires\n\n* **Nœud Telegram :** Envoyer des alertes à un groupe Telegram au lieu d'un e-mail.\n* **Webhook Discord :** Pousser des mises à jour vers un canal Discord.\n* **Déclencheur Webhook n8n :** L'étendre pour recevoir des notifications de mise à jour de production externes.\n* **Integromat/Make ou Zapier :** Pour une intégration multi-plateforme avec des CRM ou des outils de billetterie.\n\n## Exemples de cas d'utilisation\n\n* **Entreprises de services publics :** Détecter et agir automatiquement sur les sous-performances solaires pour maintenir la stabilité du réseau.\n* **Opérateurs de fermes solaires :** Enregistrer des données de production propres pour des rapports d'audit et de conformité.\n* **Équipes de durabilité :** Suivre la performance quotidienne et les anomalies sans vérifications manuelles.\n* **Propriétaires de systèmes solaires domestiques :** Recevoir une notification si la génération solaire tombe en dessous des attentes.\n\n## Dépannage courant\n\n| **Problème** | **Cause possible** | **Solution** |\n| -------------------------------------- | -------------------------------------- | ------------------------------------------------------------------- |\n| La requête HTTP échoue | Clé API manquante ou URL incorrecte | Vérifiez le point de terminaison de l'API, les paramètres et les en-têtes d'authentification |\n| Gmail n'envoie pas d'alertes | Identifiants Gmail manquants ou invalides | Ré-authentifier Gmail OAuth2 dans les identifiants n8n |\n| Aucune donnée enregistrée dans Google Sheet | Mapping incorrect ou autorisations de feuille | Assurez-vous que la feuille existe, que les colonnes correspondent et que les identifiants sont corrects |\n| Le nœud Slack échoue | Jeton invalide ou ID de canal manquant | Reconnecter les identifiants Slack et vérifier les autorisations |\n| Le nœud de code renvoie vide | La logique de filtrage peut être trop stricte | Valider le format des données et assouplir la condition de seuil |\n\n## Besoin d'aide ?\n\nBesoin d'aide pour configurer cela ou le personnaliser pour votre propre cas d'utilisation de surveillance solaire ou énergétique ?\n\n✅ Configurez-le sur votre instance n8n Cloud ou auto-hébergée\n✅ Personnalisez-le pour votre propre API ou source de données\n✅ Modifiez les alertes pour convenir à vos outils internes (Teams, Discord, SMS, etc.)\n\n👉 Contactez simplement notre équipe [n8n automation](https://www.weblineindia.com/n8n-automation/) chez WeblineIndia, nous serons heureux de vous aider.",
  "workflow": {
    "id": "xJ07Z5jW0ZtOFRRn",
    "meta": {
      "instanceId": "14e4c77104722ab186539dfea5182e419aecc83d85963fe13f6de862c875ebfa",
      "templateCredsSetupCompleted": true
    },
    "name": "Solar Energy Production Monitoring Alert Workflow",
    "tags": [],
    "nodes": [
      {
        "id": "39adba14-16e8-4a0d-bf52-5fa72a2db102",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -760,
          -240
        ],
        "parameters": {
          "width": 1440,
          "height": 440,
          "content": "## Solar Energy Production Monitoring Alert Workflow"
        },
        "typeVersion": 1
      },
      {
        "id": "6a3798bc-bcd7-4b63-baad-be18c170d2de",
        "name": "Trigger: Every 2 Hours",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -640,
          -60
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 2
              }
            ]
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "fee7d77b-1e95-4b93-9251-a9e4f1136b57",
        "name": "Fetch Solar Production Data",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -420,
          -60
        ],
        "parameters": {
          "url": "",
          "options": {}
        },
        "typeVersion": 4.2
      },
      {
        "id": "0e2e4a6e-e4cf-4987-85e0-ac34aa69ca76",
        "name": "Filter Low Production Entries",
        "type": "n8n-nodes-base.code",
        "position": [
          -200,
          -60
        ],
        "parameters": {
          "jsCode": "const inputArray = $input.first().json.records;\n\nconst alerts = [];\n\nfor (const data of inputArray) {\n  if (data.TotalCon &lt; 1000) {\n    alerts.push({\n      json: {\n        ...data,\n        alert: `⚠️ TotalCon too low: ${data.TotalCon}`\n      }\n    });\n  }\n}\n\nreturn alerts;\n"
        },
        "typeVersion": 2
      },
      {
        "id": "3163b670-6b90-4c67-8e6b-f027010c9c8d",
        "name": "Check for Low Production",
        "type": "n8n-nodes-base.if",
        "position": [
          20,
          -60
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "6c5b6428-1b08-45d7-8ee8-9fb17f47e89a",
                "operator": {
                  "type": "number",
                  "operation": "lt"
                },
                "leftValue": "={{ $json.TotalCon }}",
                "rightValue": 1000
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "86160f80-56e9-4049-ba79-5301fe042e47",
        "name": "Send Email Alert (Low Production)",
        "type": "n8n-nodes-base.gmail",
        "position": [
          240,
          -160
        ],
        "webhookId": "6d6ef4be-c6aa-42e8-87fa-dc0ce6e5cffe",
        "parameters": {
          "sendTo": "",
          "message": "=Dear Team,  This is to inform you that the emergency power production has dropped below the acceptable threshold as of {{ $json.HourUTC }}.  Details:  Production Level: {{ $json.TotalCon }} MW  Threshold Level: 1000 MW  This could potentially impact dependent systems or operations. Please take immediate action to investigate and restore power production to safe levels.  If you require assistance or further diagnostics, kindly escalate to the relevant maintenance or energy management team.  Stay safe, [Your System Name / Monitoring Service]",
          "options": {},
          "subject": "Critical Alert: Emergency Power Generation Below Threshold"
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "YqeBbKp4FvFiADc0",
            "name": "Gmail account 7"
          }
        },
        "typeVersion": 2.1
      },
      {
        "id": "ff45f4cb-f910-4d3d-ae20-9395761543e5",
        "name": "Log Valid Production Data",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          240,
          40
        ],
        "parameters": {
          "columns": {
            "value": {
              "alert": "={{ $json.alert }}",
              "HourDK": "={{ $json.HourDK }}",
              "HourUTC": "={{ $json.HourUTC }}",
              "TotalCon": "={{ $json.TotalCon }}",
              "PriceArea": "={{ $json.PriceArea }}",
              "ConsumerType_DE35": "={{ $json.ConsumerType_DE35 }}"
            },
            "schema": [
              {
                "id": "HourUTC",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "HourUTC",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "HourDK",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "HourDK",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "PriceArea",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "PriceArea",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "ConsumerType_DE35",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "ConsumerType_DE35",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "TotalCon",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "TotalCon",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "alert",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "alert",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "HourUTC"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "appendOrUpdate",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": 1111398960,
            "cachedResultUrl": "",
            "cachedResultName": "energy_production"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1cQ-TBf3-dqo7njDYzYpxpASYFvEp8lIzH7vpIqTLcwc",
            "cachedResultUrl": "",
            "cachedResultName": "N8N_Email_Attachment"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "",
            "name": "Google Sheets account 6"
          }
        },
        "typeVersion": 4.6
      },
      {
        "id": "ebcb1b27-011c-4f82-816a-a0ba3b157325",
        "name": "Post Summary to Slack",
        "type": "n8n-nodes-base.slack",
        "position": [
          460,
          40
        ],
        "webhookId": "6aad9533-f27d-40d3-a566-3e3df9707410",
        "parameters": {
          "text": "={{ $json.TotalCon }}",
          "user": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "select": "user",
          "otherOptions": {}
        },
        "credentials": {
          "slackApi": {
            "id": "",
            "name": "Interview_feedback_Slack"
          }
        },
        "typeVersion": 2.3
      },
      {
        "id": "99700ad8-ab8c-45a2-a37a-f6d7b0f761fa",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -760,
          240
        ],
        "parameters": {
          "width": 1440,
          "height": 480,
          "content": "## **Node Breakdown & Descriptions:**\n\n* The workflow starts with a **Schedule Trigger** node named **\"Trigger: Every 2 Hours\"**, which runs every 2 hours throughout the day to automate regular monitoring of solar energy production levels from the energy provider.\n\n* The next node, named **\"Fetch Solar Production Data\"**, is an HTTP Request node that fetches the latest solar energy production data from the Energidataservice API. This data includes hourly production values which will be analyzed for performance thresholds.\n\n* The **Code** node named **\"Filter Low Production Entries\"** processes the API response and filters entries where the solar energy production is below a defined minimum threshold. It outputs only the relevant records for further conditional handling.\n\n* The **If** node named **\"Check for Low Production\"** checks whether any low-production entries exist from the filtered list. If yes (true), the flow continues to alert the user; if no (false), the data is logged for reference.\n\n* If the condition is true, the **Gmail** node named **\"Send Email Alert (Low Production)\"** is triggered to notify users via email. The email includes details about the affected production entries and serves as an early warning for corrective action.\n\n* If the condition is false, the **Google Sheets** node named **\"Log Valid Production Data\"** appends the acceptable power production data into a connected Google Sheet. This allows maintaining a history of normal production records for tracking.\n\n* Finally, the **Slack** node named **\"Post Summary to Slack\"** sends a message to a specified Slack channel with the latest production data logged in Google Sheets. This acts as an end-of-day summary for visibility and team awareness.\n\n"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "9874b516-8f7f-47a9-a12a-fc2d48cf9751",
    "connections": {
      "Trigger: Every 2 Hours": {
        "main": [
          [
            {
              "node": "Fetch Solar Production Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check for Low Production": {
        "main": [
          [
            {
              "node": "Send Email Alert (Low Production)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Valid Production Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Valid Production Data": {
        "main": [
          [
            {
              "node": "Post Summary to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Solar Production Data": {
        "main": [
          [
            {
              "node": "Filter Low Production Entries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Low Production Entries": {
        "main": [
          [
            {
              "node": "Check for Low Production",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 9,
    "nodeTypes": {
      "n8n-nodes-base.if": {
        "count": 1
      },
      "n8n-nodes-base.code": {
        "count": 1
      },
      "n8n-nodes-base.gmail": {
        "count": 1
      },
      "n8n-nodes-base.slack": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 2
      },
      "n8n-nodes-base.httpRequest": {
        "count": 1
      },
      "n8n-nodes-base.googleSheets": {
        "count": 1
      },
      "n8n-nodes-base.scheduleTrigger": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "WeblineIndia",
    "username": "weblineindia",
    "bio": "A Leading Software Engineering, Consulting & Outsourcing Services Company in USA & India serving Clients Globally since 1999.",
    "verified": true,
    "links": [
      "https://www.weblineindia.com/"
    ],
    "avatar": "https://gravatar.com/avatar/a229d43aefca4588581583c58bb37b4773aebbdf4c1fef86a08bb1d38eae91fa?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 18,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheets",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Sheet",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                "icon": "❤️",
                "label": "Love at first sight: Ricardo’s n8n journey"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                "icon": "⏲",
                "label": "Creating triggers for n8n workflows using polling"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                "icon": "🍔",
                "label": "How Honest Burgers Use Automation to Save $100k per year"
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\",\"output\"]",
      "defaults": {
        "name": "Google Sheets"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets",
      "typeVersion": 5,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Requête HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 20,
      "icon": "fa:map-signs",
      "name": "n8n-nodes-base.if",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                "icon": "🏷️",
                "label": "How to automatically manage contributions to open-source projects"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Si",
        "color": "#408000"
      },
      "iconData": {
        "icon": "map-signs",
        "type": "icon"
      },
      "displayName": "If",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 40,
      "icon": "file:slack.svg",
      "name": "n8n-nodes-base.slack",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                "icon": "👦",
                "label": "Build your own virtual assistant with n8n: A step by step guide"
              },
              {
                "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                "icon": "👏",
                "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.slack/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/slack/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Slack"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgMTUwLjg1MiAxNTAuODUyIj48dXNlIHhsaW5rOmhyZWY9IiNhIiB4PSIuOTI2IiB5PSIuOTI2Ii8+PHN5bWJvbCBpZD0iYSIgb3ZlcmZsb3c9InZpc2libGUiPjxnIHN0cm9rZS13aWR0aD0iMS44NTIiPjxwYXRoIGZpbGw9IiNlMDFlNWEiIHN0cm9rZT0iI2UwMWU1YSIgZD0iTTQwLjc0MSA5My41NWMwLTguNzM1IDYuNjA3LTE1Ljc3MiAxNC44MTUtMTUuNzcyczE0LjgxNSA3LjAzNyAxNC44MTUgMTUuNzcydjM4LjgyNGMwIDguNzM3LTYuNjA3IDE1Ljc3NC0xNC44MTUgMTUuNzc0cy0xNC44MTUtNy4wMzctMTQuODE1LTE1Ljc3MnoiLz48cGF0aCBmaWxsPSIjZWNiMjJkIiBzdHJva2U9IiNlY2IyMmQiIGQ9Ik05My41NSAxMDcuNDA4Yy04LjczNSAwLTE1Ljc3Mi02LjYwNy0xNS43NzItMTQuODE1czcuMDM3LTE0LjgxNSAxNS43NzItMTQuODE1aDM4LjgyNmM4LjczNSAwIDE1Ljc3MiA2LjYwNyAxNS43NzIgMTQuODE1cy03LjAzNyAxNC44MTUtMTUuNzcyIDE0LjgxNXoiLz48cGF0aCBmaWxsPSIjMmZiNjdjIiBzdHJva2U9IiMyZmI2N2MiIGQ9Ik03Ny43NzggMTUuNzcyQzc3Ljc3OCA3LjAzNyA4NC4zODUgMCA5Mi41OTMgMHMxNC44MTUgNy4wMzcgMTQuODE1IDE1Ljc3MnYzOC44MjZjMCA4LjczNS02LjYwNyAxNS43NzItMTQuODE1IDE1Ljc3MnMtMTQuODE1LTcuMDM3LTE0LjgxNS0xNS43NzJ6Ii8+PHBhdGggZmlsbD0iIzM2YzVmMSIgc3Ryb2tlPSIjMzZjNWYxIiBkPSJNMTUuNzcyIDcwLjM3MUM3LjAzNyA3MC4zNzEgMCA2My43NjMgMCA1NS41NTZzNy4wMzctMTQuODE1IDE1Ljc3Mi0xNC44MTVoMzguODI2YzguNzM1IDAgMTUuNzcyIDYuNjA3IDE1Ljc3MiAxNC44MTVzLTcuMDM3IDE0LjgxNS0xNS43NzIgMTQuODE1eiIvPjxnIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiPjxwYXRoIGZpbGw9IiNlY2IyMmQiIHN0cm9rZT0iI2VjYjIyZCIgZD0iTTc3Ljc3OCAxMzMuMzMzYzAgOC4yMDggNi42MDcgMTQuODE1IDE0LjgxNSAxNC44MTVzMTQuODE1LTYuNjA3IDE0LjgxNS0xNC44MTUtNi42MDctMTQuODE1LTE0LjgxNS0xNC44MTVINzcuNzc4eiIvPjxwYXRoIGZpbGw9IiMyZmI2N2MiIHN0cm9rZT0iIzJmYjY3YyIgZD0iTTEzMy4zMzQgNzAuMzcxaC0xNC44MTVWNTUuNTU2YzAtOC4yMDcgNi42MDctMTQuODE1IDE0LjgxNS0xNC44MTVzMTQuODE1IDYuNjA3IDE0LjgxNSAxNC44MTUtNi42MDcgMTQuODE1LTE0LjgxNSAxNC44MTV6Ii8+PHBhdGggZmlsbD0iI2UwMWU1YSIgc3Ryb2tlPSIjZTAxZTVhIiBkPSJNMTQuODE1IDc3Ljc3OEgyOS42M3YxNC44MTVjMCA4LjIwNy02LjYwNyAxNC44MTUtMTQuODE1IDE0LjgxNVMwIDEwMC44IDAgOTIuNTkzczYuNjA3LTE0LjgxNSAxNC44MTUtMTQuODE1eiIvPjxwYXRoIGZpbGw9IiMzNmM1ZjEiIHN0cm9rZT0iIzM2YzVmMSIgZD0iTTcwLjM3MSAxNC44MTVWMjkuNjNINTUuNTU2Yy04LjIwNyAwLTE0LjgxNS02LjYwNy0xNC44MTUtMTQuODE1UzQ3LjM0OCAwIDU1LjU1NiAwczE0LjgxNSA2LjYwNyAxNC44MTUgMTQuODE1eiIvPjwvZz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Slack",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 356,
      "icon": "file:gmail.svg",
      "name": "n8n-nodes-base.gmail",
      "codex": {
        "data": {
          "alias": [
            "email",
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                "icon": "💪",
                "label": "Using Automation to Boost Productivity in the Workplace"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Gmail"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMTkzIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCI+PHBhdGggZmlsbD0iIzQyODVGNCIgZD0iTTU4LjE4MiAxOTIuMDVWOTMuMTRMMjcuNTA3IDY1LjA3NyAwIDQ5LjUwNHYxMjUuMDkxYzAgOS42NTggNy44MjUgMTcuNDU1IDE3LjQ1NSAxNy40NTV6Ii8+PHBhdGggZmlsbD0iIzM0QTg1MyIgZD0iTTE5Ny44MTggMTkyLjA1aDQwLjcyN2M5LjY1OSAwIDE3LjQ1NS03LjgyNiAxNy40NTUtMTcuNDU1VjQ5LjUwNWwtMzEuMTU2IDE3LjgzNy0yNy4wMjYgMjUuNzk4eiIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im01OC4xODIgOTMuMTQtNC4xNzQtMzguNjQ3IDQuMTc0LTM2Ljk4OUwxMjggNjkuODY4bDY5LjgxOC01Mi4zNjQgNC42NyAzNC45OTItNC42NyA0MC42NDRMMTI4IDE0NS41MDR6Ii8+PHBhdGggZmlsbD0iI0ZCQkMwNCIgZD0iTTE5Ny44MTggMTcuNTA0VjkzLjE0TDI1NiA0OS41MDRWMjYuMjMxYzAtMjEuNTg1LTI0LjY0LTMzLjg5LTQxLjg5LTIwLjk0NXoiLz48cGF0aCBmaWxsPSIjQzUyMjFGIiBkPSJtMCA0OS41MDQgMjYuNzU5IDIwLjA3TDU4LjE4MiA5My4xNFYxNy41MDRMNDEuODkgNS4yODZDMjQuNjEtNy42NiAwIDQuNjQ2IDAgMjYuMjN6Ii8+PC9zdmc+"
      },
      "displayName": "Gmail",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note collante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 834,
      "icon": "file:code.svg",
      "name": "n8n-nodes-base.code",
      "codex": {
        "data": {
          "alias": [
            "cpde",
            "Javascript",
            "JS",
            "Python",
            "Script",
            "Custom Code",
            "Function"
          ],
          "details": "The Code node allows you to execute JavaScript in your workflow.",
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Code"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Code",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 839,
      "icon": "fa:clock",
      "name": "n8n-nodes-base.scheduleTrigger",
      "codex": {
        "data": {
          "alias": [
            "Time",
            "Scheduler",
            "Polling",
            "Cron",
            "Interval"
          ],
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\",\"schedule\"]",
      "defaults": {
        "name": "Déclencheur de planification",
        "color": "#31C49F"
      },
      "iconData": {
        "icon": "clock",
        "type": "icon"
      },
      "displayName": "Schedule Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 5,
      "name": "Ingénierie"
    },
    {
      "id": 51,
      "name": "IA multimodale"
    }
  ],
  "image": []
}