automation/i18n/fr-FR/On-Demand Email Newsletter Summaries from Gmail to Telegram with GPT-4.1-mini.json
{
  "id": 7254,
  "name": "Résumé des newsletters par e-mail à la demande de Gmail à Telegram avec GPT-4.1-mini",
  "views": 167,
  "recentViews": 1,
  "totalViews": 167,
  "createdAt": "2025-08-11T14:23:07.352Z",
  "description": "## Résumé\nEnvoyez un nombre à votre bot Telegram (par exemple, 2) et obtenez un résumé bien formaté de toutes les newsletters Gmail reçues depuis cette date. Chaque e-mail est résumé par un LLM en sujets concis, fusionnés en un seul message Telegram, automatiquement divisés en morceaux pour respecter les limites de Telegram, et formatés en toute sécurité en HTML.\n\n## Ce que fait ce flux de travail\n-  Se déclenche sur votre message Telegram contenant un nombre de jours, par exemple, 1, 2, 7\n-  Récupère tous les messages Gmail depuis cette date en utilisant une requête de recherche personnalisée, éventuellement filtrée par expéditeurs\n-  Récupère et décode le HTML de chaque e-mail, le sujet, le nom de l'expéditeur, la date\n-  Invite un LLM (GPT‑4.1‑mini) à produire un résumé JSON cohérent des sujets par e-mail\n-  Fusionne les sujets de tous les e-mails en un seul résumé\n-  Construit un message lisible et numéroté (avec des titres en gras)\n-  Le divise en parties de 3 500 caractères et assainit le Markdown pour un HTML sûr pour Telegram\n-  Envoie le résumé à votre chat Telegram avec l'aperçu désactivé\n\n## Applications et identifiants\n-  Gmail OAuth2 : compte Gmail\n-  Telegram : compte Telegram (bot)\n-  OpenAI : compte OpenAi\n\n## Cas d'utilisation typiques\n-  Résumés de newsletters quotidiens/hebdomadaires personnels ou d'équipe dans Telegram\n-  Flux sélectionnés d'expéditeurs compilés à la demande\n-  Briefings de connaissances légers sans quitter Telegram\n\n## Comment cela fonctionne (nœud par nœud)\n-  Déclencheur Telegram\n\t- Attend votre message (par exemple, \"2\"). L'ID de chat est restreint à votre ID Telegram pour des raisons de sécurité.\n-  Obtenir des jours (Code)\n\t- Prend le nombre de jours depuis le message Telegram\n\t- Calcule YYYY/MM/DD pour le filtre après : de Gmail\n-  Obtenir de nombreux messages (Gmail → getAll, returnAll : true)\n\t- Utilise un filtre q personnalisé comme :\n    =(from:____@____.com) OR (from:____@____.com) OR (from:____@____.com -\"____\") after:{{ $json.dateString }}\n\t- Renvoie une liste d'IDs de message\n-  Boucle sur les éléments (Diviser en lots)\n\t- Itère à travers chaque ID de message\n-  Obtenir un message (Gmail → get)\n\t- Récupère le message/payload complet pour l'e-mail actuel\n-  Obtenir les données du message (Code)\n\t- Extrait le HTML du payload de Gmail (body/parts)\n\t- Normalise l'expéditeur pour n'avoir que le nom\n  \t- Formate la date au format JJ.MM.AAAA\n  \t- Transmet html, sujet, de, date en avant\n-  Nettoyer (Code)\n  \t- Convertit JJ.MM.AAAA → MM.JJ (pour la brièveté de l'invite)\n  \t- Transmet html, sujet, de, date au LLM\n-  Message un modèle (OpenAI, modèle : gpt‑4.1‑mini, sortie JSON)\n  \t- L'invite indique :\n    \t\t- Produire JSON : { \"topics\": [ { \"title\", \"descr\", \"subject\", \"from\", \"date\" } ] }\n    \t- Diviser les blocs multi-news en sujets séparés\n    \t- Combiner ou ignorer des blocs spécifiques pour des expéditeurs particuliers (espaces réservés ____)\n    \t- Garde le sujet non traduit ; autres valeurs en ____ langue\n    \t- Injecte le sujet/de/date/html de l'e-mail actuel\n-  Boucle sur les éléments (continue)\n  \t- Après que toutes les itérations soient terminées, les résultats agrégés par e-mail sont disponibles\n-  Fusionner (Code)\n  \t- Aplati les tableaux de sujets de tous les e-mails traités en une seule liste de sujets combinés\n-  Créer un message TG (Code)\n  \t- Rendre une liste numérotée :\n    \t- 1. Titre (gras)\n    \t- Brève description\n    \t- Sujet original\n    \t- De — Date\n-  Diviser (Code)\n  \t- Divise en morceaux de 3 500 caractères pour rester en dessous de la limite de 4 096 de Telegram avec la surcharge HTML\n-  Assainir (Code)\n  \t- Échappe &, &lt;, &gt;\n  \t- Corrige les * et _ déséquilibrés\n  \t- Convertit les marqueurs Markdown de base en HTML Telegram\n-  Envoyer un message (Telegram)\n  \t- Envoie chaque partie avec parse_mode=HTML, aperçus désactivés\n\nCarte des nœuds\n| Nœud | Type | But |\n|---|---|---|\n| Déclencheur Telegram | Déclencheur | Recevoir la commande daysAgo de Telegram |\n| Obtenir des jours | Code | Calculer Gmail après :YYYY/MM/DD à partir de daysAgo |\n| Obtenir de nombreux messages | Gmail (getAll) | Rechercher des e-mails depuis la date avec des filtres from : personnalisés |\n| Boucle sur les éléments | Diviser en lots | Itérer les messages un par un |\n| Obtenir un message | Gmail (get) | Récupérer le payload complet du message |\n| Obtenir les données du message | Code | Extraire HTML/sujet/de/date ; normaliser l'expéditeur et la date |\n| Nettoyer | Code | Reformatter la date et transmettre les champs au LLM |\n| Message un modèle | OpenAI | Résumer l'e-mail en sujets JSON |\n| Fusionner | Code | Fusionner les sujets de tous les e-mails |\n| Créer un message TG | Code | Construire un texte digest convivial |\n| Diviser | Code | Diviser en parties de 3 500 caractères |\n| Assainir | Code | Échapper HTML et mapper Markdown vers HTML Telegram |\n| Envoyer un message | Telegram | Livrer le digest au chat Telegram |\n\n## Avant de commencer\n-  Créez un bot Telegram et obtenez son jeton (via @BotFather)\n-  Obtenez votre ID utilisateur Telegram pour restreindre l'accès\n-  Connectez Gmail OAuth2 dans n8n\n-  Ajoutez votre clé API OpenAI\n-  Importez le JSON de flux de travail fourni dans n8n\n\n## Instructions de configuration\n1) Telegram\n-  Nœud Déclencheur Telegram :\n  \t- additionalFields.chatIds = votre ID utilisateur Telegram\n-  Nœud Envoyer un message :\n  \t- chatId = votre ID utilisateur Telegram\n  \t- parse_mode = HTML\n  \t- disable_web_page_preview = true\n\n2) Gmail\n-  Connectez un identifiant Gmail OAuth2 (compte Gmail)\n-  Dans Obtenir de nombreux messages, ajustez filters.q à vos expéditeurs et règles :\n \t - Exemple : =(from:news@publisher.com) OR (from:briefs@media.com -\"promo\") after:{{ $json.dateString }}\n-  Si nécessaire, ajoutez des filtres label : ou category :\n\n3) OpenAI\n-  Message un modèle :\n  \t- Modèle : gpt‑4.1‑mini (peut être échangé contre gpt‑4o‑mini ou votre préféré)\n \t - Mettez à jour les espaces réservés de l'invite :\n   \t\t - ____ langue → votre langue cible\n   \t\t - ____ règles d'expéditeur → vos cas spéciaux (combiner des blocs, ignorer des sections)\n\n4) Sécurité et formatage\n-  Gardez parse_mode=HTML dans Telegram\n-  Le nœud Assainir est conçu uniquement pour `<b>` et `<i>` ; évitez d'autres balises HTML\n-  Le nœud Diviser utilise 3 500 caractères par partie pour rester en sécurité sous les limites de Telegram\n\n## Comment utiliser\n-  Dans Telegram, envoyez un nombre indiquant \"jours auparavant\"\n  \t- Exemple : 2 → interrogera Gmail après la date d'il y a 2 jours\n-  Le flux de travail compile et renvoie un résumé dans votre chat\n-  Relancez à tout moment avec un nouveau nombre\n\n## Idées de personnalisation\n-  Étiquettes au lieu de recherche globale : q = label:Newsletters after:{{ $json.dateString }}\n-  Contrôle de la fenêtre temporelle : ajoutez before : ou des plages de dates exactes\n-  Langue différente : définissez la ____ langue dans l'invite LLM\n-  Choix du modèle : échangez contre des modèles moins chers/plus rapides si le volume est élevé\n-  Taille des morceaux : ajustez de 3 500 à vos besoins\n-  Formatage : ajustez Créer un message TG pour inclure des liens analysés à partir du HTML (si vous ajoutez une étape d'analyse HTML)\n\n## Limites et notes\n-  Les messages Telegram sont limités à ~4 096 caractères ; nous divisons en 3 500 par partie\n-  Gmail \"after:\" utilise YYYY/MM/DD et l'interprétation des dates par Google ; l'heure de votre serveur n8n influence la date calculée\n-  L'utilisation de LLM entraîne des coûts et une latence proportionnels à la taille et au nombre d'e-mails\n-  L'extraction HTML est robuste pour les structures Gmail typiques mais peut nécessiter des ajustements pour des mises en page MIME exotiques\n\n## Confidentialité et sécurité\n-  Les e-mails sont envoyés à OpenAI pour résumé - assurez-vous que cela est acceptable pour vos politiques de données\n-  Le déclencheur Telegram restreint l'accès au chat ; gardez vos chatIds verrouillés\n-  Évitez d'envoyer du HTML brut à Telegram ; comptez sur le nœud Assainir\n\nFormat de sortie d'exemple (Telegram)\n1. Titre du sujet en gras\n\nDescription en une phrase\n\nLigne de sujet originale\n→ Nom de l'expéditeur — JJ.MM.AAAA\n\n2. Titre du sujet suivant\n\n...\n\n## Conseils et dépannage\n-  Vous avez des résumés vides ? Vérifiez filters.q de Gmail et assurez-vous qu'il y a vraiment des e-mails après la date calculée\n-  Erreurs de modèle ou JSON vide ? Réduisez la complexité de l'invite ou changez de modèle\n-  Problèmes de formatage HTML dans Telegram ? Assurez-vous que parse_mode=HTML et ne gardez que `<b>`, `<i>`\n-  Longs messages non livrés en entier ? Réduisez la taille des morceaux de 3 500\n\n## Étiquettes\n-  gmail, telegram, openai, llm, newsletters, digest, résumé, automatisation\n\n## Journal des modifications\n-  v1 : Version initiale avec filtres d'expéditeur, fusion de sujets, assainissement HTML Telegram, et fenêtre temporelle à la demande via message Telegram\n",
  "workflow": {
    "id": "nCr0DSvP0NQHbFEn",
    "meta": {
      "instanceId": "93438a4980e64a583ea2325b4dc5eae4c4c531c30461a48c79a4b262b5c53893",
      "templateCredsSetupCompleted": true
    },
    "name": "email → tg public",
    "tags": [
      {
        "id": "TIMIlK5hNxVuDAlg",
        "name": "public",
        "createdAt": "2025-08-11T13:46:00.810Z",
        "updatedAt": "2025-08-11T13:46:00.810Z"
      }
    ],
    "nodes": [
      {
        "id": "54461eef-b4f1-4e29-aa87-674842f889e4",
        "name": "Get many messages",
        "type": "n8n-nodes-base.gmail",
        "position": [
          384,
          64
        ],
        "webhookId": "22795477-c7f5-4c56-90aa-dde033c00e5f",
        "parameters": {
          "filters": {
            "q": "=(from:____@____.com) OR (from:____@____.com) OR (from:____@____.com -\"____\") after:{{ $json.dateString }}"
          },
          "operation": "getAll",
          "returnAll": true
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "sqe7HFlBnGaSLwH9",
            "name": "Gmail account"
          }
        },
        "typeVersion": 2.1
      },
      {
        "id": "2673b554-b1b8-422e-8075-1cedbd5d6235",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          -64,
          64
        ],
        "webhookId": "82fb11e5-394d-4a57-a1ef-5eae17c4c1bd",
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {
            "chatIds": "your_tg_id"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "ki2yZMrnSvQn6aN0",
            "name": "Telegram account"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "cff69481-a8da-4ea1-b78a-3e6d94b54493",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          608,
          64
        ],
        "parameters": {
          "options": {}
        },
        "typeVersion": 3
      },
      {
        "id": "37f59023-026e-44f5-b2b2-f0e37fe8c6d8",
        "name": "Get a message",
        "type": "n8n-nodes-base.gmail",
        "position": [
          832,
          64
        ],
        "webhookId": "4a621c46-2308-40f2-b56e-c6ec6ddf950d",
        "parameters": {
          "simple": false,
          "options": {},
          "messageId": "={{ $json.id }}",
          "operation": "get"
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "sqe7HFlBnGaSLwH9",
            "name": "Gmail account"
          }
        },
        "typeVersion": 2.1
      },
      {
        "id": "16d90be1-d6fb-487e-a836-643021da12e1",
        "name": "Get days",
        "type": "n8n-nodes-base.code",
        "position": [
          160,
          64
        ],
        "parameters": {
          "jsCode": "// input: daysAgo (number of days)\nconst daysAgo = parseInt($json[\"message\"][\"text\"], 10);\nconst date = new Date();\ndate.setDate(date.getDate() - daysAgo);\nconst yyyy = date.getFullYear();\nconst mm = String(date.getMonth() + 1).padStart(2, '0');\nconst dd = String(date.getDate()).padStart(2, '0');\nreturn [{ dateString: `${yyyy}/${mm}/${dd}` }];"
        },
        "typeVersion": 2
      },
      {
        "id": "79126930-ced7-40e2-947b-466e9b1417fa",
        "name": "Get message data",
        "type": "n8n-nodes-base.code",
        "position": [
          1056,
          64
        ],
        "parameters": {
          "jsCode": "function extractHtml(payload) {\n  if (!payload) return '';\n  if (payload.body && payload.body.data) {\n    return Buffer.from(payload.body.data, 'base64').toString('utf-8');\n  }\n  function findHtmlPart(parts) {\n    for (const part of parts) {\n      if (part.mimeType === 'text/html' && part.body && part.body.data) {\n        return Buffer.from(part.body.data, 'base64').toString('utf-8');\n      }\n      if (part.parts) {\n        const result = findHtmlPart(part.parts);\n        if (result) return result;\n      }\n    }\n    return '';\n  }\n  if (payload.parts) {\n    const html = findHtmlPart(payload.parts);\n    if (html) return html;\n  }\n  return '';\n}\n\nlet html = $json.html || '';\nif (!html && $json.payload) {\n  html = extractHtml($json.payload);\n}\nif (!html && $json.text) {\n  html = $json.text;\n}\n\n// Clean 'from': keep only the sender's name\nlet from = $json.from?.text || $json.from || '';\nconst match = from.match(/^\\\"?([^\\\"<]+)\\\"?\\s*<[^>]+>$/);\nif (match) {\n  from = match[1].trim();\n}\n\n// Convert date to DD.MM.YYYY format\nlet date = $json.date || '';\nlet formattedDate = date;\nif (date) {\n  const d = new Date(date);\n  const day = String(d.getDate()).padStart(2, '0');\n  const month = String(d.getMonth() + 1).padStart(2, '0');\n  const year = d.getFullYear();\n  formattedDate = `${day}.${month}.${year}`;\n}\n\nconst subject = $json.subject || '';\n\nreturn [{\n  html,\n  subject,\n  from,\n  date: formattedDate\n}];\n"
        },
        "typeVersion": 2
      },
      {
        "id": "7a00feb1-4fb2-43a3-8ea3-6c023e138a4c",
        "name": "Merge",
        "type": "n8n-nodes-base.code",
        "position": [
          832,
          -128
        ],
        "parameters": {
          "jsCode": "/**\n * This code is intended for use in the \"Code\" node in n8n.\n * It merges the 'topics' arrays from multiple incoming items into a single array.\n *\n * Incoming data (items) have the following structure:\n * [\n * { json: { message: { content: { topics: [...] } } } },\n * { json: { message: { content: { topics: [...] } } } },\n * ...\n * ]\n */\n\n// We use the flatMap method, which is a combination of map and flat.\n// It iterates over each item (item) in the incoming array (items),\n// extracts the 'topics' array and immediately flattens all arrays into one.\nconst allTopics = items.flatMap(item => {\n  // We use optional chaining (?.) for safe access to the nested property.\n  // This prevents an error if 'message' or 'content' is missing in any of the items.\n  // If the path is not found, return an empty array [], so flatMap can work correctly.\n  return item.json?.message?.content?.topics || [];\n});\n\n// The \"Code\" node must return an array of objects.\n// We return one object containing the 'json' property with our merged 'topics' array.\n// This result will be available at the output of the node for further use.\nreturn [{\n  json: {\n    topics: allTopics\n  }\n}];\n"
        },
        "typeVersion": 2
      },
      {
        "id": "222dd34e-19b9-46aa-98ba-8f014457fbd4",
        "name": "Create TG message",
        "type": "n8n-nodes-base.code",
        "position": [
          1056,
          -128
        ],
        "parameters": {
          "jsCode": "const topics = $json.topics;\nconst list = topics.map((t, idx) =>\n  `${idx + 1}. *${t.title}*\\n\\n${t.descr}\\n\\n${t.subject}\\n→ ${t.from} - ${t.date}`\n).join('\\n\\n');\n\nreturn [{ json: { message: `${list}` } }];\n"
        },
        "typeVersion": 2
      },
      {
        "id": "de2c745d-e575-4670-ac3a-fbdd6e5ba6a2",
        "name": "Sanitize",
        "type": "n8n-nodes-base.code",
        "position": [
          1568,
          -128
        ],
        "parameters": {
          "jsCode": "/**\n * This code is intended for use in the \"Code\" node in n8n.\n * It prepares text for sending to Telegram in 'HTML' mode.\n * 1. Fixes \"broken\" formatting (*...* and _..._) by adding a closing symbol if their count is odd.\n * 2. Converts *text* to <b>text</b> and _text_ to <i>text</i>, even if the text spans multiple lines.\n * 3. Escapes basic HTML characters (<, >, &) for safety.\n *\n * IMPORTANT: In the Telegram node, Parse Mode must be set to HTML.\n *\n * The code processes EACH incoming item in the array.\n */\n\nconst correctedItems = items.map(item => {\n  // FIXED: Use the 'text' key that comes from the \"Split\" node.\n  let text = item.json.text;\n\n  if (!text) {\n    return item;\n  }\n\n  // --- STEP 1: Fix unbalanced formatting characters ---\n  const fixUnbalanced = (str, char) => {\n    // Use new RegExp to create a dynamic regular expression\n    const count = (str.match(new RegExp(`\\\\${char}`, 'g')) || []).length;\n    if (count % 2 !== 0) {\n      return str + char;\n    }\n    return str;\n  };\n\n  text = fixUnbalanced(text, '*');\n  text = fixUnbalanced(text, '_');\n\n  // --- STEP 2: Convert to safe HTML ---\n  // First, escape basic characters in the entire text so they don't conflict with tags.\n  let safeText = text\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n\n  // Now replace Markdown with HTML tags.\n  // Use the 's' (dotAll) flag so '.' also matches newline characters.\n  // This is important for your multi-line italics.\n  safeText = safeText\n    .replace(/\\*(.*?)\\*/gs, '<b>$1</b>')\n    .replace(/_(.*?)_/gs, '<i>$1</i>');\n\n\n  // Update the 'text' field in the current item.\n  // In the Telegram node, use {{ $json.text }}\n  item.json.text = safeText;\n\n  // Return the modified item.\n  return item;\n});\n\n// Return the full array of processed items.\nreturn correctedItems;\n"
        },
        "typeVersion": 2
      },
      {
        "id": "57984a3f-ccb0-4e14-bac8-4d83ad89bb44",
        "name": "Split",
        "type": "n8n-nodes-base.code",
        "position": [
          1280,
          -128
        ],
        "parameters": {
          "jsCode": "const CHUNK = 3500;\nconst txt = $json.message;\nconst parts = txt.match(/[\\s\\S]{1,3500}/g) || [];\nreturn parts.map(p => ({ json: { text: p } }));\n"
        },
        "typeVersion": 2
      },
      {
        "id": "f1b7cbb8-7ae7-4699-97c2-354a0b82684b",
        "name": "Clean",
        "type": "n8n-nodes-base.code",
        "position": [
          1280,
          64
        ],
        "parameters": {
          "jsCode": "/**\n * This code is intended for use in the \"Code\" node in n8n.\n * Its task is to prepare data from the Gmail node for the next node (LLM).\n * It does not parse HTML, it only passes it along with other fields.\n *\n * Incoming data (items) is the result of the Gmail node.\n * [\n * { json: { html: \"...\", subject: \"...\", from: \"...\", date: \"DD.MM.YYYY\" } }\n * ]\n *\n * The code converts the date from \"DD.MM.YYYY\" to \"MM.DD\" and passes\n * all the necessary fields (html, subject, from, date) to the next step.\n */\n\n// Use .map() to transform each incoming item.\nconst results = items.map(item => {\n  // Extract the required fields from the incoming JSON.\n  const { html, subject, from, date: originalDate } = item.json;\n\n  // Check for required fields.\n  if (!html || !originalDate) {\n    // If there is no data, return null to filter this item later.\n    return null;\n  }\n\n  // 1. Split the date string into components (day, month, year).\n  const [day, month] = originalDate.split('.').slice(0, 2);\n\n  // 2. Form a new string in the format \"MM.DD\".\n  const newDate = `${month}.${day}`;\n\n  // 3. Return a new object in the structure expected by\n  // the next node (LLM).\n  return {\n    json: {\n      html,\n      subject,\n      from,\n      date: newDate\n    }\n  };\n});\n\n// Filter out empty results and return the array for the next node.\nreturn results.filter(item => item !== null);\n"
        },
        "typeVersion": 2
      },
      {
        "id": "a9eb6447-cc67-4364-9994-bcdb37824980",
        "name": "Send a message",
        "type": "n8n-nodes-base.telegram",
        "position": [
          1856,
          -128
        ],
        "webhookId": "e96216d9-8481-459f-a004-1572609f86d4",
        "parameters": {
          "text": "={{ $json.text }}\n",
          "chatId": "your_tg_id",
          "additionalFields": {
            "parse_mode": "HTML",
            "appendAttribution": false,
            "disable_web_page_preview": true
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "ki2yZMrnSvQn6aN0",
            "name": "Telegram account"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "452b5f0c-db00-4cfe-9229-c61162476228",
        "name": "Message a model",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "position": [
          1504,
          136
        ],
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini",
            "cachedResultName": "GPT-4.1-MINI"
          },
          "options": {},
          "messages": {
            "values": [
              {
                "content": "=You are a specialist in analyzing email newsletters. Create a brief summary of the email in JSON format:\n\n`{ \"topics\": [ { \"title\": ..., \"descr\": ..., \"subject\": ..., \"from\": ..., \"date\": ... } ] }`\n\nFor each news item within a block, create a separate topic with a brief one-sentence description, even if they are listed or under a single headline. Do not combine them into one topic.\n\nHowever, if the email is from ____, combine each block (for example, \"____\") by listing the topics in the description.\n\nIf the email is from ____, ignore the sections \"____\" and \"____\".\n\nAll values in your JSON must be in ____ language, except for the subject. The subject—{{ $json.subject }}—must remain untranslated.\n\nHere is the subject: {{ $json.subject }}\nHere is the from: {{ $json.from }}\nHere is the date: {{ $json.date }}\n\nHere is the email:\n{{ $json.html }}"
              }
            ]
          },
          "jsonOutput": true
        },
        "credentials": {
          "openAiApi": {
            "id": "UZtYaio4OAcJGlV9",
            "name": "OpenAi account"
          }
        },
        "typeVersion": 1.8
      },
      {
        "id": "fc2f7ecd-5a40-4f15-8a4f-055280b762e3",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -64,
          -224
        ],
        "parameters": {
          "color": 4,
          "width": 320,
          "height": 240,
          "content": "## Try this out!\nSend a number to your Telegram bot (e.g., 2) and get a neatly formatted digest of all Gmail newsletters received since that date. Each email is summarized by an LLM into concise topics, merged into a single Telegram message, automatically split into chunks to fit Telegram limits, and safely formatted as HTML."
        },
        "typeVersion": 1
      },
      {
        "id": "e9af2dfe-5a7b-4a55-8d78-39d82048a7b4",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          592,
          16
        ],
        "parameters": {
          "color": 7,
          "width": 1168,
          "height": 272,
          "content": "## Iterates over each message"
        },
        "typeVersion": 1
      },
      {
        "id": "27bbab62-1efb-4384-9d22-829a6515e855",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          816,
          -192
        ],
        "parameters": {
          "color": 7,
          "width": 880,
          "height": 192,
          "content": "## Clean up the text and forms the final message"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "56e514d0-6916-476f-992d-246d29f02f11",
    "connections": {
      "Clean": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Create TG message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split": {
        "main": [
          [
            {
              "node": "Sanitize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get days": {
        "main": [
          [
            {
              "node": "Get many messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sanitize": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a message": {
        "main": [
          [
            {
              "node": "Get message data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get message data": {
        "main": [
          [
            {
              "node": "Clean",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Get days",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create TG message": {
        "main": [
          [
            {
              "node": "Split",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many messages": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 16,
    "nodeTypes": {
      "n8n-nodes-base.code": {
        "count": 7
      },
      "n8n-nodes-base.gmail": {
        "count": 2
      },
      "n8n-nodes-base.telegram": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 3
      },
      "n8n-nodes-base.splitInBatches": {
        "count": 1
      },
      "n8n-nodes-base.telegramTrigger": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.openAi": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Vlad Arbatov",
    "username": "vladzima",
    "bio": "VP of Engineering. Machine Learning, NLP, Computer Vision, Geospatial, Navigation, Data Analysis, Generative Models, Healthcare.\n\nOver 20 years in delivering client-centric tools and driving multinational cross-functional engineering teams. I've been there and everywhere and beyond.",
    "verified": true,
    "links": [
      "https://arbatov.dev"
    ],
    "avatar": "https://gravatar.com/avatar/3ea41acb36cd9bbc703294d0e945819b2e248f2bb8d31d43aadcb71bdea486a7?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 39,
      "icon": "fa:sync",
      "name": "n8n-nodes-base.splitInBatches",
      "codex": {
        "data": {
          "alias": [
            "Loop",
            "Concatenate",
            "Batch",
            "Split",
            "Split In Batches"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"organization\"]",
      "defaults": {
        "name": "Boucle sur les éléments",
        "color": "#007755"
      },
      "iconData": {
        "icon": "sync",
        "type": "icon"
      },
      "displayName": "Loop Over Items (Split in Batches)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 49,
      "icon": "file:telegram.svg",
      "name": "n8n-nodes-base.telegram",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                "icon": "💪",
                "label": "Using Automation to Boost Productivity in the Workplace"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-telegram-bots-with-n8n-a-no-code-platform/",
                "icon": "💬",
                "label": "Creating Telegram Bots with n8n, a No-Code Platform"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.telegram/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/telegram/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Telegram"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjYgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzM3YWVlMiIgZD0iTTAgMzJjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMyczMyLTE0LjMyNyAzMi0zMlM0OS42NzMgMCAzMiAwIDAgMTQuMzI3IDAgMzIiLz48cGF0aCBmaWxsPSIjYzhkYWVhIiBkPSJtMjEuNjYxIDM0LjMzOCAzLjc5NyAxMC41MDhzLjQ3NS45ODMuOTgzLjk4MyA4LjA2OC03Ljg2NCA4LjA2OC03Ljg2NGw4LjQwNy0xNi4yMzctMjEuMTE5IDkuODk4eiIvPjxwYXRoIGZpbGw9IiNhOWM2ZDgiIGQ9Im0yNi42OTUgMzcuMDM0LS43MjkgNy43NDZzLS4zMDUgMi4zNzMgMi4wNjggMGw0LjY0NC00LjIwMyIvPjxwYXRoIGQ9Im0yMS43MyAzNC43MTItNy44MDktMi41NDVzLS45MzItLjM3OC0uNjMzLTEuMjM3Yy4wNjItLjE3Ny4xODYtLjMyOC41NTktLjU4OCAxLjczMS0xLjIwNiAzMi4wMjgtMTIuMDk2IDMyLjAyOC0xMi4wOTZzLjg1Ni0uMjg4IDEuMzYxLS4wOTdjLjIzMS4wODguMzc4LjE4Ny41MDMuNTQ4LjA0NS4xMzIuMDcxLjQxMS4wNjguNjg5LS4wMDMuMjAxLS4wMjcuMzg2LS4wNDUuNjc4LS4xODQgMi45NzgtNS43MDYgMjUuMTk4LTUuNzA2IDI1LjE5OHMtLjMzIDEuMy0xLjUxNCAxLjM0NWMtLjQzMi4wMTYtLjk1Ni0uMDcxLTEuNTgyLS42MS0yLjMyMy0xLjk5OC0xMC4zNTItNy4zOTQtMTIuMTI2LTguNThhLjM0LjM0IDAgMCAxLS4xNDYtLjIzOWMtLjAyNS0uMTI1LjEwOC0uMjguMTA4LS4yOHMxMy45OC0xMi40MjcgMTQuMzUyLTEzLjczMWMuMDI5LS4xMDEtLjA3OS0uMTUxLS4yMjYtLjEwNy0uOTI5LjM0Mi0xNy4wMjUgMTAuNTA2LTE4LjgwMSAxMS42MjktLjEwNC4wNjYtLjM5NS4wMjMtLjM5NS4wMjMiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Telegram",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 50,
      "icon": "file:telegram.svg",
      "name": "n8n-nodes-base.telegramTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/creating-telegram-bots-with-n8n-a-no-code-platform/",
                "icon": "💬",
                "label": "Creating Telegram Bots with n8n, a No-Code Platform"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.telegramtrigger/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/telegram/"
              }
            ]
          },
          "categories": [
            "Communication"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Déclencheur Telegram"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjYgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzM3YWVlMiIgZD0iTTAgMzJjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMyczMyLTE0LjMyNyAzMi0zMlM0OS42NzMgMCAzMiAwIDAgMTQuMzI3IDAgMzIiLz48cGF0aCBmaWxsPSIjYzhkYWVhIiBkPSJtMjEuNjYxIDM0LjMzOCAzLjc5NyAxMC41MDhzLjQ3NS45ODMuOTgzLjk4MyA4LjA2OC03Ljg2NCA4LjA2OC03Ljg2NGw4LjQwNy0xNi4yMzctMjEuMTE5IDkuODk4eiIvPjxwYXRoIGZpbGw9IiNhOWM2ZDgiIGQ9Im0yNi42OTUgMzcuMDM0LS43MjkgNy43NDZzLS4zMDUgMi4zNzMgMi4wNjggMGw0LjY0NC00LjIwMyIvPjxwYXRoIGQ9Im0yMS43MyAzNC43MTItNy44MDktMi41NDVzLS45MzItLjM3OC0uNjMzLTEuMjM3Yy4wNjItLjE3Ny4xODYtLjMyOC41NTktLjU4OCAxLjczMS0xLjIwNiAzMi4wMjgtMTIuMDk2IDMyLjAyOC0xMi4wOTZzLjg1Ni0uMjg4IDEuMzYxLS4wOTdjLjIzMS4wODguMzc4LjE4Ny41MDMuNTQ4LjA0NS4xMzIuMDcxLjQxMS4wNjguNjg5LS4wMDMuMjAxLS4wMjcuMzg2LS4wNDUuNjc4LS4xODQgMi45NzgtNS43MDYgMjUuMTk4LTUuNzA2IDI1LjE5OHMtLjMzIDEuMy0xLjUxNCAxLjM0NWMtLjQzMi4wMTYtLjk1Ni0uMDcxLTEuNTgyLS42MS0yLjMyMy0xLjk5OC0xMC4zNTItNy4zOTQtMTIuMTI2LTguNThhLjM0LjM0IDAgMCAxLS4xNDYtLjIzOWMtLjAyNS0uMTI1LjEwOC0uMjguMTA4LS4yOHMxMy45OC0xMi40MjcgMTQuMzUyLTEzLjczMWMuMDI5LS4xMDEtLjA3OS0uMTUxLS4yMjYtLjEwNy0uOTI5LjM0Mi0xNy4wMjUgMTAuNTA2LTE4LjgwMSAxMS42MjktLjEwNC4wNjYtLjM5NS4wMjMtLjM5NS4wMjMiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Telegram Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        }
      ]
    },
    {
      "id": 356,
      "icon": "file:gmail.svg",
      "name": "n8n-nodes-base.gmail",
      "codex": {
        "data": {
          "alias": [
            "email",
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                "icon": "💪",
                "label": "Using Automation to Boost Productivity in the Workplace"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Gmail"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMTkzIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCI+PHBhdGggZmlsbD0iIzQyODVGNCIgZD0iTTU4LjE4MiAxOTIuMDVWOTMuMTRMMjcuNTA3IDY1LjA3NyAwIDQ5LjUwNHYxMjUuMDkxYzAgOS42NTggNy44MjUgMTcuNDU1IDE3LjQ1NSAxNy40NTV6Ii8+PHBhdGggZmlsbD0iIzM0QTg1MyIgZD0iTTE5Ny44MTggMTkyLjA1aDQwLjcyN2M5LjY1OSAwIDE3LjQ1NS03LjgyNiAxNy40NTUtMTcuNDU1VjQ5LjUwNWwtMzEuMTU2IDE3LjgzNy0yNy4wMjYgMjUuNzk4eiIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im01OC4xODIgOTMuMTQtNC4xNzQtMzguNjQ3IDQuMTc0LTM2Ljk4OUwxMjggNjkuODY4bDY5LjgxOC01Mi4zNjQgNC42NyAzNC45OTItNC42NyA0MC42NDRMMTI4IDE0NS41MDR6Ii8+PHBhdGggZmlsbD0iI0ZCQkMwNCIgZD0iTTE5Ny44MTggMTcuNTA0VjkzLjE0TDI1NiA0OS41MDRWMjYuMjMxYzAtMjEuNTg1LTI0LjY0LTMzLjg5LTQxLjg5LTIwLjk0NXoiLz48cGF0aCBmaWxsPSIjQzUyMjFGIiBkPSJtMCA0OS41MDQgMjYuNzU5IDIwLjA3TDU4LjE4MiA5My4xNFYxNy41MDRMNDEuODkgNS4yODZDMjQuNjEtNy42NiAwIDQuNjQ2IDAgMjYuMjN6Ii8+PC9zdmc+"
      },
      "displayName": "Gmail",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 834,
      "icon": "file:code.svg",
      "name": "n8n-nodes-base.code",
      "codex": {
        "data": {
          "alias": [
            "cpde",
            "Javascript",
            "JS",
            "Python",
            "Script",
            "Custom Code",
            "Function"
          ],
          "details": "The Code node allows you to execute JavaScript in your workflow.",
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Code"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Code",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1250,
      "icon": "file:openAi.svg",
      "name": "@n8n/n8n-nodes-langchain.openAi",
      "codex": {
        "data": {
          "alias": [
            "LangChain",
            "ChatGPT",
            "DallE",
            "whisper",
            "audio",
            "transcribe",
            "tts",
            "assistant"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-langchain.openai/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Agents",
              "Miscellaneous",
              "Root Nodes"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "OpenAI"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM2Ljg2NzEgMTYuMzcxOEMzNy43NzQ2IDEzLjY0OCAzNy40NjIxIDEwLjY2NDIgMzYuMDEwOCA4LjE4NjYxQzMzLjgyODIgNC4zODY1MyAyOS40NDA3IDIuNDMxNDkgMjUuMTU1NiAzLjM1MTUxQzIzLjI0OTMgMS4yMDM5NiAyMC41MTA1IC0wLjAxNzMxNDggMTcuNjM5MiAwLjAwMDE4NTUzM0MxMy4yNTkxIC0wLjAwOTgxNDY4IDkuMzcyNzMgMi44MTAyNSA4LjAyNTIgNi45Nzc4M0M1LjIxMTM5IDcuNTU0MSAyLjc4MjU4IDkuMzE1MzggMS4zNjEzIDExLjgxMTdDLTAuODM3NDkzIDE1LjYwMTggLTAuMzM2MjMyIDIwLjM3OTQgMi42MDEzMyAyMy42Mjk0QzEuNjkzODEgMjYuMzUzMiAyLjAwNjMyIDI5LjMzNzEgMy40NTc2IDMxLjgxNDZDNS42NDAxNSAzNS42MTQ3IDEwLjAyNzcgMzcuNTY5NyAxNC4zMTI4IDM2LjY0OTdDMTYuMjE3OSAzOC43OTczIDE4Ljk1NzkgNDAuMDE4NSAyMS44MjkyIDM5Ljk5OThDMjYuMjExOCA0MC4wMTEgMzAuMDk5NCAzNy4xODg1IDMxLjQ0NjkgMzMuMDE3MUMzNC4yNjA4IDMyLjQ0MDkgMzYuNjg5NiAzMC42Nzk2IDM4LjExMDggMjguMTgzM0M0MC4zMDcxIDI0LjM5MzIgMzkuODA0NiAxOS42MTk0IDM2Ljg2ODMgMTYuMzY5M0wzNi44NjcxIDE2LjM3MThaTTIxLjgzMTcgMzcuMzg2QzIwLjA3OCAzNy4zODg1IDE4LjM3OTIgMzYuNzc0NyAxNy4wMzI5IDM1LjY1MDlDMTcuMDk0MSAzNS42MTg1IDE3LjIwMDQgMzUuNTU5NyAxNy4yNjkxIDM1LjUxNzJMMjUuMjM0MyAzMC45MTcxQzI1LjY0MTggMzAuNjg1OCAyNS44OTE4IDMwLjI1MjEgMjUuODg5MyAyOS43ODMzVjE4LjU1NDNMMjkuMjU1NiAyMC40OTgxQzI5LjI5MTkgMjAuNTE1NiAyOS4zMTU3IDIwLjU1MDYgMjkuMzIwNyAyMC41OTA2VjI5Ljg4OTZDMjkuMzE1NyAzNC4wMjQ3IDI1Ljk2NjggMzcuMzc3MiAyMS44MzE3IDM3LjM4NlpNNS43MjY0IDMwLjUwNzFDNC44NDc2MyAyOC45ODk2IDQuNTMxMzcgMjcuMjEwOCA0LjgzMjYzIDI1LjQ4NDVDNC44OTEzOCAyNS41MTk1IDQuOTk1MTMgMjUuNTgzMiA1LjA2ODg4IDI1LjYyNTdMMTMuMDM0MSAzMC4yMjU4QzEzLjQzNzggMzAuNDYyMSAxMy45Mzc4IDMwLjQ2MjEgMTQuMzQyOCAzMC4yMjU4TDI0LjA2NjggMjQuNjEwN1YyOC40OTgzQzI0LjA2OTMgMjguNTM4MyAyNC4wNTA1IDI4LjU3NyAyNC4wMTkzIDI4LjYwMkwxNS45Njc5IDMzLjI1MDlDMTIuMzgxNSAzNS4zMTU5IDcuODAxNDQgMzQuMDg4NCA1LjcyNzY1IDMwLjUwNzFINS43MjY0Wk0zLjYzMDEgMTMuMTIwNUM0LjUwNTEyIDExLjYwMDQgNS44ODY0IDEwLjQzNzkgNy41MzE0NCA5LjgzNDE1QzcuNTMxNDQgOS45MDI5IDcuNTI3NjkgMTAuMDI0MSA3LjUyNzY5IDEwLjEwOTJWMTkuMzEwNkM3LjUyNTE5IDE5Ljc3ODEgNy43NzUxOSAyMC4yMTE5IDguMTgxNDUgMjAuNDQzMUwxNy45MDU0IDI2LjA1N0wxNC41MzkxIDI4LjAwMDhDMTQuNTA1MyAyOC4wMjMzIDE0LjQ2MjggMjguMDI3IDE0LjQyNTMgMjguMDEwOEw2LjM3MjY2IDIzLjM1ODJDMi43OTM4MyAyMS4yODU2IDEuNTY2MzEgMTYuNzA2OCAzLjYyODg1IDEzLjEyMTdMMy42MzAxIDEzLjEyMDVaTTMxLjI4ODIgMTkuNTU2OUwyMS41NjQyIDEzLjk0MTdMMjQuOTMwNiAxMS45OTkyQzI0Ljk2NDMgMTEuOTc2NyAyNS4wMDY4IDExLjk3MjkgMjUuMDQ0MyAxMS45ODkyTDMzLjA5NyAxNi42MzhDMzYuNjgyMSAxOC43MDkzIDM3LjkxMDggMjMuMjk1NyAzNS44Mzk1IDI2Ljg4MDhDMzQuOTYzMyAyOC4zOTgzIDMzLjU4MzIgMjkuNTYwOCAzMS45Mzk1IDMwLjE2NThWMjAuNjg5NEMzMS45NDMyIDIwLjIyMTkgMzEuNjk0NSAxOS43ODk0IDMxLjI4OTQgMTkuNTU2OUgzMS4yODgyWk0zNC42MzgzIDE0LjUxNDJDMzQuNTc5NSAxNC40NzggMzQuNDc1OCAxNC40MTU1IDM0LjQwMiAxNC4zNzNMMjYuNDM2OCA5Ljc3Mjg5QzI2LjAzMzEgOS41MzY2NCAyNS41MzMxIDkuNTM2NjQgMjUuMTI4MSA5Ljc3Mjg5TDE1LjQwNDEgMTUuMzg4VjExLjUwMDRDMTUuNDAxNiAxMS40NjA0IDE1LjQyMDQgMTEuNDIxNyAxNS40NTE2IDExLjM5NjdMMjMuNTAzIDYuNzUxNThDMjcuMDg5NCA0LjY4Mjc5IDMxLjY3NDUgNS45MTQwNiAzMy43NDIgOS41MDE2NEMzNC42MTU4IDExLjAxNjcgMzQuOTMyIDEyLjc5MDUgMzQuNjM1OCAxNC41MTQySDM0LjYzODNaTTEzLjU3NDEgMjEuNDQzMUwxMC4yMDY1IDE5LjQ5OTRDMTAuMTcwMiAxOS40ODE5IDEwLjE0NjUgMTkuNDQ2OCAxMC4xNDE1IDE5LjQwNjhWMTAuMTA3OUMxMC4xNDQgNS45Njc4MSAxMy41MDI4IDIuNjEyNzQgMTcuNjQyOSAyLjYxNTI0QzE5LjM5NDIgMi42MTUyNCAyMS4wODkyIDMuMjMwMjUgMjIuNDM1NSA0LjM1MDI4QzIyLjM3NDMgNC4zODI3OCAyMi4yNjkzIDQuNDQxNTMgMjIuMTk5MiA0LjQ4NDAzTDE0LjIzNDEgOS4wODQxM0MxMy44MjY2IDkuMzE1MzggMTMuNTc2NiA5Ljc0Nzg5IDEzLjU3OTEgMTAuMjE2N0wxMy41NzQxIDIxLjQ0MDZWMjEuNDQzMVpNMTUuNDAyOSAxNy41MDA2TDE5LjczNDIgMTQuOTk5M0wyNC4wNjU1IDE3LjQ5OTNWMjIuNTAwN0wxOS43MzQyIDI1LjAwMDdMMTUuNDAyOSAyMi41MDA3VjE3LjUwMDZaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K"
      },
      "displayName": "OpenAI",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 43,
      "name": "Productivité personnelle"
    },
    {
      "id": 51,
      "name": "IA multimodale"
    }
  ],
  "image": []
}