automation/i18n/fr-FR/Process Documents & Build Semantic Search with OpenAI, Gemini & Qdrant.json
{
  "id": 7882,
  "name": "Traiter des documents et construire une recherche sémantique avec OpenAI, Gemini et Qdrant",
  "views": 224,
  "recentViews": 4,
  "totalViews": 224,
  "createdAt": "2025-08-26T06:39:37.815Z",
  "description": "## 🎯 Aperçu\n\nCe flux de travail n8n automatise le processus d'ingestion de documents provenant de plusieurs sources (Google Drive et formulaires web) dans une base de données vectorielle Qdrant pour des capacités de recherche sémantique. Il gère le traitement par lots, l'analyse des documents, la génération d'embeddings et le stockage de vecteurs - tout en maintenant une gestion appropriée des erreurs et un suivi de l'exécution.\n\n## 🚀 Caractéristiques clés\n\n- **Sources d'entrée doubles** : Accepte des fichiers provenant à la fois de dossiers Google Drive et de téléchargements de formulaires web\n- **Traitement par lots** : Traite les fichiers un à un pour éviter les problèmes de mémoire et garantir la fiabilité\n- **Analyse alimentée par l'IA** : Utilise Google Gemini pour extraire des métadonnées et comprendre le contexte des documents\n- **Embeddings vectoriels** : Génère des embeddings OpenAI pour des capacités de recherche sémantique\n- **Nettoyage automatisé** : Supprime optionnellement les fichiers traités de Google Drive (configurable)\n- **Traitement en boucle** : Gère efficacement plusieurs fichiers avec des nœuds de séparation en lots\n- **Interface de chat interactive** : Chatbot intégré pour tester des requêtes de recherche sémantique contre des documents indexés\n\n## 📋 Cas d'utilisation\n\n- **Création de base de connaissances** : Construire des dépôts de documents consultables pour les organisations\n- **Conformité documentaire** : Traiter et indexer des documents juridiques/réglementaires (comme les documents de travail équitable)\n- **Gestion de contenu** : Catégoriser et stocker automatiquement les documents téléchargés\n- **Bibliothèques de recherche** : Créer des capacités de recherche sémantique pour des articles de recherche ou des rapports\n- **Support client** : Permettre des réponses instantanées aux questions de politique et de documentation via l'interface de chat\n\n## 🔧 Composants du flux de travail\n\n### Méthodes d'entrée\n\n1. **Intégration Google Drive**\n   - Surveille un dossier spécifique pour de nouveaux fichiers\n   - Traite les fichiers existants en mode par lots\n   - Prend en charge la conversion automatique de fichiers en PDF\n\n2. **Téléchargement de formulaire web**\n   - Formulaire public pour la soumission de documents\n   - Accepte des fichiers PDF, DOCX, DOC et CSV\n   - Traite plusieurs téléchargements de fichiers en une seule soumission\n\n### Pipeline de traitement\n\n1. **Séparation de fichiers** : Sépare plusieurs téléchargements en éléments individuels\n2. **Analyse de documents** : Google Gemini extrait la compréhension des documents\n3. **Extraction de texte** : Convertit les documents en texte brut\n4. **Génération d'embeddings** : Crée des embeddings vectoriels via OpenAI\n5. **Stockage de vecteurs** : Insère des documents avec des embeddings dans Qdrant\n6. **Contrôle de boucle** : Gère le traitement par lots avec une gestion d'état appropriée\n\n### Nœuds clés\n\n- **Séparer en lots** : Traite les fichiers un à un avec `reset: false` pour maintenir l'état\n- **Google Gemini** : Analyse les documents pour le contexte et les métadonnées\n- **Langchain Vector Store** : Gère l'insertion dans Qdrant avec des embeddings\n- **Requête HTTP** : Appels API directs pour des opérations personnalisées\n- **Interface de chat** : Chatbot interactif pour tester des requêtes de recherche vectorielle\n\n## 🛠️ Mise en œuvre technique\n\n### Logique de traitement par lots\n\nLe flux de travail utilise un mécanisme de boucle astucieux :\n- `Séparer en lots` avec `batchSize: 1` garantit le traitement d'un seul fichier\n- `reset: false` maintient l'état de la boucle à travers les itérations\n- La boucle continue jusqu'à ce que tous les fichiers soient traités\n\n### Gestion des erreurs\n\n- Tous les nœuds incluent des options `continueOnFail` lorsque cela est approprié\n- Les journaux d'exécution sont préservés pour le débogage\n- La suppression de fichiers n'a lieu qu'après une insertion réussie\n\n### Flux de données\n\n```\nTéléchargement de formulaire → Séparer les fichiers → Boucle par lots → Analyser → Insérer → Boucle retour\nGoogle Drive → Lister les fichiers → Boucle par lots → Télécharger → Analyser → Insérer → Supprimer → Boucle retour\n```\n\n## 📊 Considérations de performance\n\n- **Temps de traitement** : ~20-30 secondes par fichier\n- **Taille de lot** : Réglée sur 1 pour la fiabilité (configurable)\n- **Utilisation de la mémoire** : Optimisée pour des fichiers de moins de 10 Mo\n- **Coûts API** : Utilise des embeddings OpenAI (modèle text-embedding-3-large)\n\n## 🔐 Identifiants requis\n\n1. **Google Drive OAuth2** : Pour l'accès et la gestion des fichiers\n2. **API OpenAI** : Pour la génération d'embeddings\n3. **API Qdrant** : Pour les opérations de base de données vectorielle\n4. **API Google Gemini** : Pour l'analyse de documents\n\n## 💡 Conseils de mise en œuvre\n\n1. **Commencer petit** : Tester avec quelques fichiers avant de traiter de grands lots\n2. **Surveiller les coûts** : Suivre l'utilisation de l'API OpenAI pour la génération d'embeddings\n3. **Sauvegarder d'abord** : Envisager d'archiver au lieu de supprimer les fichiers traités\n4. **Vérifier les collections** : S'assurer que la collection Qdrant existe avant de lancer\n\n## 🎨 Options de personnalisation\n\n- **Changer de modèle d'embedding** : Passer à `text-embedding-3-small` pour des économies de coûts\n- **Ajuster la taille des morceaux** : Modifier les paramètres de séparation de texte pour différents types de documents\n- **Ajouter des métadonnées** : Étendre l'invite de Gemini pour extraire des champs spécifiques\n- **Archiver vs Supprimer** : Remplacer l'opération de suppression par un déplacement vers le dossier \"traité\"\n\n## 📈 Application dans le monde réel\n\nCe flux de travail a été développé pour traiter des documents commerciaux et des accords juridiques, les rendant consultables via des requêtes sémantiques. Il est particulièrement utile pour les organisations traitant de grands volumes de documentation réglementaire qui doivent être rapidement accessibles et consultables.\n\n### Test de l'interface de chat\n\nL'interface de chatbot intégrée permet aux utilisateurs de :\n- Interroger des documents traités en utilisant un langage naturel\n- Tester les capacités de recherche sémantique en temps réel\n- Vérifier l'indexation et la précision de la récupération des documents\n- Poser des questions sur des sujets spécifiques (par exemple, \"Quels sont les taux de rémunération pour les employés juniors ?\")\n- Obtenir des réponses instantanées alimentées par l'IA basées sur le contenu indexé\n\n## 🌟 Avantages\n\n- **Automatisation** : Élimine le traitement manuel des documents\n- **Scalabilité** : Gère des fichiers individuels ou des téléchargements en masse\n- **Intelligence** : Compréhension alimentée par l'IA du contenu des documents\n- **Flexibilité** : Plusieurs sources d'entrée et options de traitement\n- **Fiabilité** : Gestion robuste des erreurs et de l'état\n\n## 👨‍💻 À propos du créateur\n\n**Jeremy Dawes** est le PDG de [Jezweb](https://www.jezweb.com.au), spécialisé dans les solutions de déploiement d'IA et d'automatisation. Ce flux de travail représente une automatisation pratique et prête pour la production qui résout de réels défis commerciaux tout en maintenant simplicité et fiabilité.\n\n## 📝 Remarques\n\n- Le flux de travail gère intelligemment le modèle de téléchargement de formulaire n8n où plusieurs fichiers créent un seul élément avec plusieurs propriétés binaires (Files_0, Files_1, etc.)\n- Le modèle Séparer en lots avec `reset: false` est crucial pour une exécution correcte de la boucle\n- L'intégration directe de l'API offre plus de contrôle que les implémentations Langchain pures\n\n## 🔗 Ressources\n\n- [Documentation Qdrant](https://qdrant.tech/documentation/)\n- [Embeddings OpenAI](https://platform.openai.com/docs/guides/embeddings)\n- [Documentation n8n](https://docs.n8n.io/)\n- [Jezweb](https://www.jezweb.com.au) - Solutions d'IA et d'automatisation\n\n---\n\n*Ce flux de travail démontre une automatisation pratique qui relie la gestion des documents aux capacités modernes de l'IA, créant des systèmes de traitement de documents intelligents qui évoluent avec vos besoins.*",
  "workflow": {
    "id": "7np7XO05qTRGi5Fr",
    "meta": {
      "instanceId": "3612a0c89f35a354ddd1216385240db51b4635fde7cae2a0d5004be915b832f3",
      "templateCredsSetupCompleted": true
    },
    "name": "Store Files in Qdrant CLOUD Fairwork",
    "tags": [],
    "nodes": [
      {
        "id": "2fca2a63-71ab-423d-a9d9-c94958891fc2",
        "name": "Download File",
        "type": "n8n-nodes-base.googleDrive",
        "onError": "continueRegularOutput",
        "position": [
          -112,
          160
        ],
        "parameters": {
          "fileId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          },
          "options": {
            "binaryPropertyName": "pdf-document",
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "application/pdf",
                "sheetsToFormat": "application/pdf",
                "slidesToFormat": "application/pdf",
                "drawingsToFormat": "application/pdf"
              }
            }
          },
          "operation": "download"
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Wd6AIw29vj1j04ym",
            "name": "Google Drive team@jezweb.net"
          }
        },
        "typeVersion": 3
      },
      {
        "id": "a91f9540-cace-4603-b9bf-5d1756edd00d",
        "name": "Insert to Qdrant",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "position": [
          352,
          272
        ],
        "parameters": {
          "mode": "insert",
          "options": {},
          "qdrantCollection": {
            "__rl": true,
            "mode": "id",
            "value": "fairwork"
          }
        },
        "credentials": {
          "qdrantApi": {
            "id": "Y0928F9UfBPpK6NI",
            "name": "QdrantApi CLOUD team-jezweb-net fairwork"
          }
        },
        "typeVersion": 1.3
      },
      {
        "id": "2cb3650f-519a-4827-bc29-6317941f0b1e",
        "name": "Embeddings OpenAI",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "position": [
          208,
          544
        ],
        "parameters": {
          "model": "text-embedding-3-large",
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "31ZcSDx93u4ldljZ",
            "name": "OpenAi account 2"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "23796c89-e29b-4788-97aa-4fcd296d1dee",
        "name": "Delete File",
        "type": "n8n-nodes-base.googleDrive",
        "onError": "continueRegularOutput",
        "position": [
          416,
          112
        ],
        "parameters": {
          "fileId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('Download File').item.json.id }}"
          },
          "options": {},
          "operation": "deleteFile"
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Wd6AIw29vj1j04ym",
            "name": "Google Drive team@jezweb.net"
          }
        },
        "executeOnce": true,
        "typeVersion": 3
      },
      {
        "id": "8ab7a876-456f-46e4-b91f-9c31511a499e",
        "name": "🔵 Workflow Overview",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1568,
          -240
        ],
        "parameters": {
          "color": 5,
          "width": 716,
          "height": 688,
          "content": "## 🔵 PROCESS & DELETE GOOGLE DRIVE FILES\n\n**Dual-Trigger System:**\n📍 **Auto Mode:** New files trigger immediately\n\n**What it does:**\n1. Monitors/lists files from Google Drive folder\n2. Downloads and processes each file\n3. Converts to vector embeddings\n4. Stores in Qdrant for semantic search\n5. **DELETES** processed files from Drive\n\n**Use Cases:**\n• Continuous document ingestion\n• Batch processing existing files\n• Building searchable knowledge base"
        },
        "typeVersion": 1
      },
      {
        "id": "9e6fd226-7d0a-4a9e-9fee-be8baabbe12f",
        "name": "🟡 Trigger Configuration",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1568,
          -592
        ],
        "parameters": {
          "color": 4,
          "width": 708,
          "height": 284,
          "content": "## 🟡 Setup Tasks\n**Google Drive Auto-Trigger:**\n• Configure Google Oauth. Set that in use for the Google Drive nodes.\n• Make a new folder, the workflow will delete files so DO NOT use this on a folder with existing files unless you want them to be removed once the processing is done!\n• If you do not want files deleted you could change the delete to a move function.\n• Update the folder name to the one to use\n• Change the polling time to be suitable frequency for the New File in Google Drive\n• Update the Qdrant connection details on both of its nodes.\n• Update the OpenAI embeddings with your account."
        },
        "typeVersion": 1
      },
      {
        "id": "4c350c67-0bc2-4a5c-abe7-86d1d1d08069",
        "name": "🟢 Batch Processing Logic",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -816,
          -240
        ],
        "parameters": {
          "color": 6,
          "width": 900,
          "height": 688,
          "content": "## 🟢 BATCH PROCESSING FLOW\n\n**Split In Batches Node:**\n• Batch size = 1 (one file at a time)\n• Reset = false (maintains state)\n• Loops through ALL files\n\n**Why Process One at a Time?**\n✓ Prevents memory issues\n✓ Better error handling\n✓ Cleaner execution logs\n✓ Allows file deletion tracking\n\n**Loop Flow:**\n1. List files → 2. Process one →\n3. Delete it → 4. Back to list →\n5. Get next file → Repeat"
        },
        "typeVersion": 1
      },
      {
        "id": "198c026a-7dbf-4a2d-9292-842d80839983",
        "name": "🔴 DELETE WARNING",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          864,
          -240
        ],
        "parameters": {
          "color": 3,
          "width": 404,
          "height": 608,
          "content": "## 🔴 ⚠️ CRITICAL WARNING ⚠️\n\n### FILES ARE PERMANENTLY DELETED!\n\n**This workflow DELETES files after processing**\n• No undo available\n• No recycle bin\n• Files are gone forever\n\n**Before Running:**\n☑️ Backup important documents\n☑️ Test with non-critical files first\n☑️ Verify Qdrant insertion works\n☑️ Consider archive option instead\n\n💡 **Alternative:** Change Delete node\nto Move node for archiving"
        },
        "typeVersion": 1
      },
      {
        "id": "71d6f6d4-3544-4149-9d57-1ed471c4453d",
        "name": "🟢 Document Pipeline",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          144,
          -240
        ],
        "parameters": {
          "color": 7,
          "width": 644,
          "height": 1028,
          "content": "## 🟢 DOCUMENT PROCESSING\n\n**Processing Pipeline:**\n\n📄 **Download** → Binary data\n📝 **Load** → Extract text content\n✂️ **Chunk** → 1500 tokens, 250 overlap. You might want to change that to suit your document size and complexity.\n🔢 **Embed** → OpenAI vectors\n💾 **Store** → Qdrant collection\n🗑️ **Delete** → Remove from Drive\n\n**Supported Formats:**\n• Google Drive Converts Files to PDF for easier ingestion\n\n**Chunking Strategy:**\n• Optimized for semantic search\n• Maintains context with overlap"
        },
        "typeVersion": 1
      },
      {
        "id": "75015003-24ad-4b35-96c2-841658876f0d",
        "name": "🟡 Setup Requirements",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -816,
          -832
        ],
        "parameters": {
          "color": 4,
          "width": 436,
          "height": 520,
          "content": "## 🟡 SETUP REQUIREMENTS\n\n**Required Credentials:**\n1️⃣ **Google Drive OAuth2**\n   • Read, write, delete permissions\n2️⃣ **OpenAI API Key**\n   • For text-embedding-3-large model\n3️⃣ **Qdrant Connection**\n   • API endpoint and key\n\n**RAG Configuration Steps:**\n✅ Update folder ID in triggers\n✅ Change collection name in Qdrant\n✅ Adjust chunk size if needed\n✅ Set batch size for your needs\n\n💡 **Model Options:**\n• text-embedding-3-large (best)\n• text-embedding-3-small (cheaper)"
        },
        "typeVersion": 1
      },
      {
        "id": "7423b1d9-ea96-4539-8bfa-07a9d0e59d95",
        "name": "🟣 Performance Tips",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          192,
          -832
        ],
        "parameters": {
          "color": 4,
          "width": 484,
          "height": 516,
          "content": "## 🟣 PERFORMANCE & OPTIMIZATION\n\n**Processing Time Estimates:**\n• 1 file: ~20-30 seconds\n• 10 files: ~3-5 minutes\n• 50 files: ~15-20 minutes\n• 150 files: ~45-60 minutes\n\n**Cost Optimization:**\n• Use text-embedding-3-small for lower cost\n• Batch during off-peak hours\n• Monitor OpenAI API usage\n\n**Performance Tips:**\n✓ Keep files under 10MB each\n✓ Use dedicated processing folder\n✓ Clear Qdrant periodically\n✓ Monitor execution logs"
        },
        "typeVersion": 1
      },
      {
        "id": "dc184d65-48ab-42cf-95cd-c14397227aaa",
        "name": "🟠 Troubleshooting",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -336,
          -832
        ],
        "parameters": {
          "color": 4,
          "width": 484,
          "height": 520,
          "content": "## 🟠 TROUBLESHOOTING GUIDE\n\n**Common Issues:**\n\n🔄 **Infinite Loop?**\n• Check reset: false in Split node\n• Verify Delete node is working\n\n⏱️ **Timeout Errors?**\n• Reduce files in folder\n• Process in smaller batches\n• Check file sizes\n\n🚫 **Files Not Processing?**\n• Check folder permissions\n• Verify file formats\n• Ensure workflow is ACTIVE\n\n💾 **Qdrant Errors?**\n• Verify collection exists\n• Check API credentials\n• Monitor storage limits"
        },
        "typeVersion": 1
      },
      {
        "id": "c6878ad3-4888-481d-9029-18a58417501a",
        "name": "🟣 Alternative Approaches",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1312,
          -240
        ],
        "parameters": {
          "width": 384,
          "height": 596,
          "content": "## 🟣 ALTERNATIVE OPTIONS\n\n**Instead of DELETE:**\n\n📁 **Archive to Folder:**\n• Create 'processed' folder\n• Use Move operation instead\n• Maintains file backup\n\n🏷️ **Add Metadata:**\n• Tag processed files\n• Add custom properties\n• Track processing date\n\n🔄 **Duplicate Check:**\n• Query Qdrant first\n• Skip if already exists\n• Prevents duplicates\n\n💡 **Pro Tip:** Fork workflow\nfor different collections"
        },
        "typeVersion": 1
      },
      {
        "id": "0e420eac-4046-4eee-9646-687c64a3e1c1",
        "name": "🟡 Setup Requirements1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1568,
          -832
        ],
        "parameters": {
          "color": 4,
          "width": 708,
          "height": 216,
          "content": "## 🟡 WHY THIS WORKFLOW\n\n**Simple way to get documents into Qdrant**\nMaking it easy to get files into Qdrant, sharing a Google Folder to someone so they can add files.\n\n**Thanks for checking out this workflow, I hope it was helpful.**\nJeremy Dawes, Jezweb [www.jezweb.com.au]"
        },
        "typeVersion": 1
      },
      {
        "id": "a3d0f647-0685-44b4-bf83-ba082560a926",
        "name": "Insert to Qdrant1",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "position": [
          -480,
          688
        ],
        "parameters": {
          "mode": "insert",
          "options": {},
          "qdrantCollection": {
            "__rl": true,
            "mode": "id",
            "value": "fairwork"
          }
        },
        "credentials": {
          "qdrantApi": {
            "id": "Y0928F9UfBPpK6NI",
            "name": "QdrantApi CLOUD team-jezweb-net fairwork"
          }
        },
        "typeVersion": 1.3
      },
      {
        "id": "2d62982c-cd7c-40fa-bfd2-578fcaed7bba",
        "name": "Embeddings OpenAI1",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "position": [
          -624,
          960
        ],
        "parameters": {
          "model": "text-embedding-3-large",
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "31ZcSDx93u4ldljZ",
            "name": "OpenAi account 2"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "cd85b0ae-0fe1-4fdf-964b-3748640e14da",
        "name": "Data Loader for Google Drive Files",
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "position": [
          464,
          448
        ],
        "parameters": {
          "options": {},
          "dataType": "binary",
          "textSplittingMode": "custom"
        },
        "typeVersion": 1.1
      },
      {
        "id": "f5d618c7-c4ee-4560-a16a-5309fbe361c5",
        "name": "Data Loader for Form Files",
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "position": [
          -320,
          880
        ],
        "parameters": {
          "options": {},
          "dataType": "binary",
          "textSplittingMode": "custom"
        },
        "typeVersion": 1.1
      },
      {
        "id": "a20b1220-7b95-4096-b1de-c7af0ee7835d",
        "name": "File Upload Form",
        "type": "n8n-nodes-base.formTrigger",
        "position": [
          -1472,
          672
        ],
        "webhookId": "cf14c028-7ee0-42d6-b1d2-2cce20b02967",
        "parameters": {
          "options": {
            "path": "32aaa027-a092-4e33-89b9-f03b83b0aea3",
            "ignoreBots": true,
            "appendAttribution": false,
            "respondWithOptions": {
              "values": {
                "formSubmittedText": "Files are being uploaded"
              }
            }
          },
          "formTitle": "Upload Files to Vector Database",
          "formFields": {
            "values": [
              {
                "fieldType": "file",
                "fieldLabel": "Files",
                "requiredField": true,
                "acceptFileTypes": ".pdf,.docx,.doc,csv"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "cc7f894c-f018-488b-bc8c-6a3d75910dde",
        "name": "🟢 Batch Processing Logic1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1600,
          528
        ],
        "parameters": {
          "color": 6,
          "width": 1684,
          "height": 672,
          "content": "## 🟢 MANUAL FORM PROCESSING FLOW\n\nAdds files from a form in a batch, processing one at a time."
        },
        "typeVersion": 1
      },
      {
        "id": "0389fee9-a06c-4ac5-9530-bffe9f6aa2ac",
        "name": "Recursive Character Text Splitter 1",
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "position": [
          576,
          624
        ],
        "parameters": {
          "options": {},
          "chunkSize": 1500,
          "chunkOverlap": 250
        },
        "typeVersion": 1
      },
      {
        "id": "e333e2f9-52c0-4778-a0fe-399a43bfafca",
        "name": "Recursive Character Text Splitter 2",
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "position": [
          -416,
          1040
        ],
        "parameters": {
          "options": {},
          "chunkSize": 1500,
          "chunkOverlap": 250
        },
        "typeVersion": 1
      },
      {
        "id": "8b4b799b-7762-4502-add7-675b53f69481",
        "name": "Split Form Batches",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          -928,
          672
        ],
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "typeVersion": 3
      },
      {
        "id": "39729576-9753-4aab-afd7-e6f7f6d1f97c",
        "name": "List Files in Google Drive Folder",
        "type": "n8n-nodes-base.googleDrive",
        "onError": "continueRegularOutput",
        "position": [
          -592,
          160
        ],
        "parameters": {
          "limit": 1,
          "filter": {
            "driveId": {
              "mode": "list",
              "value": "My Drive"
            },
            "folderId": {
              "__rl": true,
              "mode": "list",
              "value": "1RDHwOiI6DdnDxf2vQbVXS4yi_spMSZUk",
              "cachedResultUrl": "https://drive.google.com/drive/folders/1RDHwOiI6DdnDxf2vQbVXS4yi_spMSZUk",
              "cachedResultName": "fairwork"
            }
          },
          "options": {},
          "resource": "fileFolder"
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Wd6AIw29vj1j04ym",
            "name": "Google Drive team@jezweb.net"
          }
        },
        "retryOnFail": true,
        "typeVersion": 3
      },
      {
        "id": "1b331bfb-1be4-4dd1-aaec-31ad0bc5a4e2",
        "name": "New File In Google Drive Folder",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "position": [
          -1104,
          -64
        ],
        "parameters": {
          "event": "fileCreated",
          "options": {},
          "pollTimes": {
            "item": [
              {
                "mode": "everyHour"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "mode": "list",
            "value": "1RDHwOiI6DdnDxf2vQbVXS4yi_spMSZUk",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1RDHwOiI6DdnDxf2vQbVXS4yi_spMSZUk",
            "cachedResultName": "fairwork"
          }
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Wd6AIw29vj1j04ym",
            "name": "Google Drive team@jezweb.net"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "9e4c6209-edf9-4660-a866-fd3355e56135",
        "name": "Split Form Files",
        "type": "n8n-nodes-base.code",
        "position": [
          -1216,
          672
        ],
        "parameters": {
          "jsCode": "// Get all items from the form upload\nconst items = $input.all();\nconst outputItems = [];\n\n// Process each item\nfor (const item of items) {\n  const binaryData = item.binary || {};\n  \n  // Extract all file properties (Files_0, Files_1, etc.)\n  const fileKeys = Object.keys(binaryData).filter(key => key.startsWith('Files_'));\n  \n  // Create separate items for each file\n  for (const fileKey of fileKeys) {\n    const file = binaryData[fileKey];\n    outputItems.push({\n      json: {\n        fileName: file.fileName,\n        mimeType: file.mimeType,\n        fileSize: file.fileSize,\n        fileExtension: file.fileExtension\n      },\n      binary: {\n        data: file\n      }\n    });\n  }\n}\n\nreturn outputItems;"
        },
        "typeVersion": 2
      },
      {
        "id": "bc98d692-9bce-491e-9d25-5ec9c811028c",
        "name": "When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "position": [
          960,
          640
        ],
        "webhookId": "82bbd685-b7b5-4dbb-b7c8-4441c9755cca",
        "parameters": {
          "options": {}
        },
        "typeVersion": 1.3
      },
      {
        "id": "39c5d3a1-55cb-4e93-8297-7251f3e05c11",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          1168,
          640
        ],
        "parameters": {
          "options": {}
        },
        "typeVersion": 2.2
      },
      {
        "id": "561b3d53-549c-4167-a1f5-06ee9d302ffe",
        "name": "Qdrant Vector Store",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "position": [
          1344,
          896
        ],
        "parameters": {
          "mode": "retrieve-as-tool",
          "topK": 10,
          "options": {},
          "toolDescription": "Retrieve information from the vector store to help answer the users questions.",
          "qdrantCollection": {
            "__rl": true,
            "mode": "list",
            "value": "fairwork",
            "cachedResultName": "fairwork"
          }
        },
        "credentials": {
          "qdrantApi": {
            "id": "Y0928F9UfBPpK6NI",
            "name": "QdrantApi CLOUD team-jezweb-net fairwork"
          }
        },
        "typeVersion": 1.3
      },
      {
        "id": "770b9276-97bb-49bd-970c-807eeebb659b",
        "name": "Embeddings OpenAI2",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "position": [
          1440,
          1104
        ],
        "parameters": {
          "model": "text-embedding-3-large",
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "31ZcSDx93u4ldljZ",
            "name": "OpenAi account 2"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "d4c712d3-43aa-46ad-9021-9349cec9c1d4",
        "name": "Google Gemini Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "position": [
          1040,
          960
        ],
        "parameters": {
          "options": {
            "temperature": 0.4
          }
        },
        "credentials": {
          "googlePalmApi": {
            "id": "lBQrszvhtstelPlO",
            "name": "Google Gemini(PaLM) Api account 4"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "5861e0f5-32d7-42f2-a121-a50653f48a53",
        "name": "Simple Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          1184,
          848
        ],
        "parameters": {
          "contextWindowLength": 50
        },
        "typeVersion": 1.3
      },
      {
        "id": "4f0978fa-756c-4200-af79-a7b6ec310a6b",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          864,
          464
        ],
        "parameters": {
          "color": 4,
          "width": 832,
          "height": 816,
          "content": "## Chat Bot Demo\n** This chatbot will let you chat with your Qdrant vector data"
        },
        "typeVersion": 1
      },
      {
        "id": "9d7977b5-37f8-4442-b6c4-1e393b9dbf9e",
        "name": "Manually Trigger Workflow",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          -1104,
          256
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "79ab8384-c14e-469d-a9c8-2c672507df93",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          1136,
          224
        ],
        "parameters": {
          "mode": "chooseBranch"
        },
        "typeVersion": 3.2
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1",
      "saveManualExecutions": true,
      "saveExecutionProgress": true,
      "saveDataErrorExecution": "all",
      "saveDataSuccessExecution": "all"
    },
    "versionId": "c65f059d-85aa-4e40-9766-5f919ac52ec0",
    "connections": {
      "Merge": {
        "main": [
          [
            {
              "node": "List Files in Google Drive Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete File": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download File": {
        "main": [
          [
            {
              "node": "Delete File",
              "type": "main",
              "index": 0
            },
            {
              "node": "Insert to Qdrant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "File Upload Form": {
        "main": [
          [
            {
              "node": "Split Form Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert to Qdrant": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Split Form Files": {
        "main": [
          [
            {
              "node": "Split Form Batches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "main": [],
        "ai_embedding": [
          [
            {
              "node": "Insert to Qdrant",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Insert to Qdrant1": {
        "main": [
          [
            {
              "node": "Split Form Batches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI1": {
        "ai_embedding": [
          [
            {
              "node": "Insert to Qdrant1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI2": {
        "ai_embedding": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Split Form Batches": {
        "main": [
          [],
          [
            {
              "node": "Insert to Qdrant1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Qdrant Vector Store": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Manually Trigger Workflow": {
        "main": [
          [
            {
              "node": "List Files in Google Drive Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Data Loader for Form Files": {
        "ai_document": [
          [
            {
              "node": "Insert to Qdrant1",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "New File In Google Drive Folder": {
        "main": [
          [
            {
              "node": "List Files in Google Drive Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Files in Google Drive Folder": {
        "main": [
          [
            {
              "node": "Download File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Data Loader for Google Drive Files": {
        "main": [],
        "ai_document": [
          [
            {
              "node": "Insert to Qdrant",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter 1": {
        "ai_textSplitter": [
          [
            {
              "node": "Data Loader for Google Drive Files",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter 2": {
        "ai_textSplitter": [
          [
            {
              "node": "Data Loader for Form Files",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 35,
    "nodeTypes": {
      "n8n-nodes-base.code": {
        "count": 1
      },
      "n8n-nodes-base.merge": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 12
      },
      "n8n-nodes-base.formTrigger": {
        "count": 1
      },
      "n8n-nodes-base.googleDrive": {
        "count": 3
      },
      "n8n-nodes-base.manualTrigger": {
        "count": 1
      },
      "n8n-nodes-base.splitInBatches": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.agent": {
        "count": 1
      },
      "n8n-nodes-base.googleDriveTrigger": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.chatTrigger": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.embeddingsOpenAi": {
        "count": 3
      },
      "@n8n/n8n-nodes-langchain.vectorStoreQdrant": {
        "count": 3
      },
      "@n8n/n8n-nodes-langchain.lmChatGoogleGemini": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.memoryBufferWindow": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.documentDefaultDataLoader": {
        "count": 2
      },
      "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter": {
        "count": 2
      }
    }
  },
  "user": {
    "name": "Jez",
    "username": "jez",
    "bio": "I'm passionate about combining traditional web development with AI and automation to create impactful online solutions. As Founder & CEO of Jezweb, an award-winning Newcastle, Australia agency, I lead a 30+ person team delivering high-quality web design, development, and hosting services to over 3000 clients.",
    "verified": true,
    "links": [
      "https://www.jezweb.com.au"
    ],
    "avatar": "https://gravatar.com/avatar/5f6cbb73f1a61b0bea48b1fac47a94e693ca6f6bc2359eff9c7e68159698efc6?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 24,
      "icon": "file:merge.svg",
      "name": "n8n-nodes-base.merge",
      "codex": {
        "data": {
          "alias": [
            "Join",
            "Concatenate",
            "Wait"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-to-sync-data-between-two-systems/",
                "icon": "🏬",
                "label": "How to synchronize data between two systems (one-way vs. two-way sync"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                "icon": "👦",
                "label": "Build your own virtual assistant with n8n: A step by step guide"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.merge/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Fusionner"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTc3XzUxOCkiPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAgNDhDMCAyMS40OTAzIDIxLjQ5MDMgMCA0OCAwSDExMkMxMzguNTEgMCAxNjAgMjEuNDkwMyAxNjAgNDhWNTZIMTk2LjI1MkMyNDAuNDM1IDU2IDI3Ni4yNTIgOTEuODE3MiAyNzYuMjUyIDEzNlYxOTJDMjc2LjI1MiAyMTQuMDkxIDI5NC4xNjEgMjMyIDMxNi4yNTIgMjMySDM1MlYyMjRDMzUyIDE5Ny40OSAzNzMuNDkgMTc2IDQwMCAxNzZINDY0QzQ5MC41MSAxNzYgNTEyIDE5Ny40OSA1MTIgMjI0VjI4OEM1MTIgMzE0LjUxIDQ5MC41MSAzMzYgNDY0IDMzNkg0MDBDMzczLjQ5IDMzNiAzNTIgMzE0LjUxIDM1MiAyODhWMjgwSDMxNi4yNTJDMjk0LjE2MSAyODAgMjc2LjI1MiAyOTcuOTA5IDI3Ni4yNTIgMzIwVjM3NkMyNzYuMjUyIDQyMC4xODMgMjQwLjQzNSA0NTYgMTk2LjI1MiA0NTZIMTYwVjQ2NEMxNjAgNDkwLjUxIDEzOC41MSA1MTIgMTEyIDUxMkg0OEMyMS40OTAzIDUxMiAwIDQ5MC41MSAwIDQ2NFY0MDBDMCAzNzMuNDkgMjEuNDkwMyAzNTIgNDggMzUySDExMkMxMzguNTEgMzUyIDE2MCAzNzMuNDkgMTYwIDQwMFY0MDhIMTk2LjI1MkMyMTMuOTI1IDQwOCAyMjguMjUyIDM5My42NzMgMjI4LjI1MiAzNzZWMzIwQzIyOC4yNTIgMjk0Ljc4NCAyMzguODU5IDI3Mi4wNDQgMjU1Ljg1MyAyNTZDMjM4Ljg1OSAyMzkuOTU2IDIyOC4yNTIgMjE3LjIxNiAyMjguMjUyIDE5MlYxMzZDMjI4LjI1MiAxMTguMzI3IDIxMy45MjUgMTA0IDE5Ni4yNTIgMTA0SDE2MFYxMTJDMTYwIDEzOC41MSAxMzguNTEgMTYwIDExMiAxNjBINDhDMjEuNDkwMyAxNjAgMCAxMzguNTEgMCAxMTJWNDhaTTEwNCA0OEMxMDguNDE4IDQ4IDExMiA1MS41ODE3IDExMiA1NlYxMDRDMTEyIDEwOC40MTggMTA4LjQxOCAxMTIgMTA0IDExMkg1NkM1MS41ODE3IDExMiA0OCAxMDguNDE4IDQ4IDEwNFY1NkM0OCA1MS41ODE3IDUxLjU4MTcgNDggNTYgNDhIMTA0Wk00NTYgMjI0QzQ2MC40MTggMjI0IDQ2NCAyMjcuNTgyIDQ2NCAyMzJWMjgwQzQ2NCAyODQuNDE4IDQ2MC40MTggMjg4IDQ1NiAyODhINDA4QzQwMy41ODIgMjg4IDQwMCAyODQuNDE4IDQwMCAyODBWMjMyQzQwMCAyMjcuNTgyIDQwMy41ODIgMjI0IDQwOCAyMjRINDU2Wk0xMTIgNDA4QzExMiA0MDMuNTgyIDEwOC40MTggNDAwIDEwNCA0MDBINTZDNTEuNTgxNyA0MDAgNDggNDAzLjU4MiA0OCA0MDhWNDU2QzQ4IDQ2MC40MTggNTEuNTgxNyA0NjQgNTYgNDY0SDEwNEMxMDguNDE4IDQ2NCAxMTIgNDYwLjQxOCAxMTIgNDU2VjQwOFoiIGZpbGw9IiM1NEI4QzkiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTc3XzUxOCI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Merge",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 39,
      "icon": "fa:sync",
      "name": "n8n-nodes-base.splitInBatches",
      "codex": {
        "data": {
          "alias": [
            "Loop",
            "Concatenate",
            "Batch",
            "Split",
            "Split In Batches"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"organization\"]",
      "defaults": {
        "name": "Boucle sur les éléments",
        "color": "#007755"
      },
      "iconData": {
        "icon": "sync",
        "type": "icon"
      },
      "displayName": "Loop Over Items (Split in Batches)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 58,
      "icon": "file:googleDrive.svg",
      "name": "n8n-nodes-base.googleDrive",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledrive/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Google Drive"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgODEgNzMiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzAwNjZkYSIgZD0ibTYuMDQ4IDYxLjI2IDMuNTI4IDYuMDk0Yy43MzMgMS4yODMgMS43ODcgMi4yOTEgMy4wMjQgMy4wMjRsMTIuNi0yMS44MUgwYTguMyA4LjMgMCAwIDAgMS4xIDQuMTI0eiIvPjxwYXRoIGZpbGw9IiMwMGFjNDciIGQ9Ik00MCAyMi45MSAyNy40IDEuMWMtMS4yMzcuNzMzLTIuMjkxIDEuNzQxLTMuMDI0IDMuMDI0TDEuMSA0NC40NDVBOC4zIDguMyAwIDAgMCAwIDQ4LjU2OGgyNS4yeiIvPjxwYXRoIGZpbGw9IiNlYTQzMzUiIGQ9Ik02Ny40IDcwLjM3OGMxLjIzNy0uNzMzIDIuMjkxLTEuNzQxIDMuMDI0LTMuMDI0bDEuNDY2LTIuNTIgNy4wMS0xMi4xNDJhOC4zIDguMyAwIDAgMCAxLjEtNC4xMjRINTQuNzk4bDUuMzYzIDEwLjUzOHoiLz48cGF0aCBmaWxsPSIjMDA4MzJkIiBkPSJNNDAgMjIuOTEgNTIuNiAxLjFDNTEuMzYzLjM2NyA0OS45NDMgMCA0OC40NzcgMEgzMS41MjRjLTEuNDY2IDAtMi44ODcuNDEyLTQuMTI0IDEuMXoiLz48cGF0aCBmaWxsPSIjMjY4NGZjIiBkPSJNNTQuNzk5IDQ4LjU2OEgyNS4ybC0xMi42IDIxLjgxYzEuMjM3LjczMyAyLjY1NyAxLjEgNC4xMjQgMS4xaDQ2LjU1MmMxLjQ2NiAwIDIuODg3LS40MTIgNC4xMjQtMS4xeiIvPjxwYXRoIGZpbGw9IiNmZmJhMDAiIGQ9Ik02Ny4yNjIgMjQuMjg0IDU1LjYyNCA0LjEyNEM1NC44OTEgMi44NDEgNTMuODM3IDEuODMzIDUyLjYgMS4xTDQwIDIyLjkxbDE0LjggMjUuNjU5aDI1LjE1NWE4LjMgOC4zIDAgMCAwLTEuMS00LjEyNHoiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Google Drive",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        }
      ]
    },
    {
      "id": 531,
      "icon": "file:googleDrive.svg",
      "name": "n8n-nodes-base.googleDriveTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.googledrivetrigger/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Déclencheur Google Drive"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgODEgNzMiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzAwNjZkYSIgZD0ibTYuMDQ4IDYxLjI2IDMuNTI4IDYuMDk0Yy43MzMgMS4yODMgMS43ODcgMi4yOTEgMy4wMjQgMy4wMjRsMTIuNi0yMS44MUgwYTguMyA4LjMgMCAwIDAgMS4xIDQuMTI0eiIvPjxwYXRoIGZpbGw9IiMwMGFjNDciIGQ9Ik00MCAyMi45MSAyNy40IDEuMWMtMS4yMzcuNzMzLTIuMjkxIDEuNzQxLTMuMDI0IDMuMDI0TDEuMSA0NC40NDVBOC4zIDguMyAwIDAgMCAwIDQ4LjU2OGgyNS4yeiIvPjxwYXRoIGZpbGw9IiNlYTQzMzUiIGQ9Ik02Ny40IDcwLjM3OGMxLjIzNy0uNzMzIDIuMjkxLTEuNzQxIDMuMDI0LTMuMDI0bDEuNDY2LTIuNTIgNy4wMS0xMi4xNDJhOC4zIDguMyAwIDAgMCAxLjEtNC4xMjRINTQuNzk4bDUuMzYzIDEwLjUzOHoiLz48cGF0aCBmaWxsPSIjMDA4MzJkIiBkPSJNNDAgMjIuOTEgNTIuNiAxLjFDNTEuMzYzLjM2NyA0OS45NDMgMCA0OC40NzcgMEgzMS41MjRjLTEuNDY2IDAtMi44ODcuNDEyLTQuMTI0IDEuMXoiLz48cGF0aCBmaWxsPSIjMjY4NGZjIiBkPSJNNTQuNzk5IDQ4LjU2OEgyNS4ybC0xMi42IDIxLjgxYzEuMjM3LjczMyAyLjY1NyAxLjEgNC4xMjQgMS4xaDQ2LjU1MmMxLjQ2NiAwIDIuODg3LS40MTIgNC4xMjQtMS4xeiIvPjxwYXRoIGZpbGw9IiNmZmJhMDAiIGQ9Ik02Ny4yNjIgMjQuMjg0IDU1LjYyNCA0LjEyNEM1NC44OTEgMi44NDEgNTMuODM3IDEuODMzIDUyLjYgMS4xTDQwIDIyLjkxbDE0LjggMjUuNjU5aDI1LjE1NWE4LjMgOC4zIDAgMCAwLTEuMS00LjEyNHoiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Google Drive Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 834,
      "icon": "file:code.svg",
      "name": "n8n-nodes-base.code",
      "codex": {
        "data": {
          "alias": [
            "cpde",
            "Javascript",
            "JS",
            "Python",
            "Script",
            "Custom Code",
            "Function"
          ],
          "details": "The Code node allows you to execute JavaScript in your workflow.",
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Code"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Code",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 838,
      "icon": "fa:mouse-pointer",
      "name": "n8n-nodes-base.manualTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lors de l'exécution du flux de travail",
        "color": "#909298"
      },
      "iconData": {
        "icon": "mouse-pointer",
        "type": "icon"
      },
      "displayName": "Manual Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1119,
      "icon": "fa:robot",
      "name": "@n8n/n8n-nodes-langchain.agent",
      "codex": {
        "data": {
          "alias": [
            "LangChain",
            "Chat",
            "Conversational",
            "Plan and Execute",
            "ReAct",
            "Tools"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Agents",
              "Root Nodes"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Agent IA",
        "color": "#404040"
      },
      "iconData": {
        "icon": "robot",
        "type": "icon"
      },
      "displayName": "AI Agent",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1141,
      "icon": "file:openAiLight.svg",
      "name": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.embeddingsopenai/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Embeddings"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Embeddings OpenAI"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM2Ljg2NzEgMTYuMzcxOEMzNy43NzQ2IDEzLjY0OCAzNy40NjIxIDEwLjY2NDIgMzYuMDEwOCA4LjE4NjYxQzMzLjgyODIgNC4zODY1MyAyOS40NDA3IDIuNDMxNDkgMjUuMTU1NiAzLjM1MTUxQzIzLjI0OTMgMS4yMDM5NiAyMC41MTA1IC0wLjAxNzMxNDggMTcuNjM5MiAwLjAwMDE4NTUzM0MxMy4yNTkxIC0wLjAwOTgxNDY4IDkuMzcyNzMgMi44MTAyNSA4LjAyNTIgNi45Nzc4M0M1LjIxMTM5IDcuNTU0MSAyLjc4MjU4IDkuMzE1MzggMS4zNjEzIDExLjgxMTdDLTAuODM3NDkzIDE1LjYwMTggLTAuMzM2MjMyIDIwLjM3OTQgMi42MDEzMyAyMy42Mjk0QzEuNjkzODEgMjYuMzUzMiAyLjAwNjMyIDI5LjMzNzEgMy40NTc2IDMxLjgxNDZDNS42NDAxNSAzNS42MTQ3IDEwLjAyNzcgMzcuNTY5NyAxNC4zMTI4IDM2LjY0OTdDMTYuMjE3OSAzOC43OTczIDE4Ljk1NzkgNDAuMDE4NSAyMS44MjkyIDM5Ljk5OThDMjYuMjExOCA0MC4wMTEgMzAuMDk5NCAzNy4xODg1IDMxLjQ0NjkgMzMuMDE3MUMzNC4yNjA4IDMyLjQ0MDkgMzYuNjg5NiAzMC42Nzk2IDM4LjExMDggMjguMTgzM0M0MC4zMDcxIDI0LjM5MzIgMzkuODA0NiAxOS42MTk0IDM2Ljg2ODMgMTYuMzY5M0wzNi44NjcxIDE2LjM3MThaTTIxLjgzMTcgMzcuMzg2QzIwLjA3OCAzNy4zODg1IDE4LjM3OTIgMzYuNzc0NyAxNy4wMzI5IDM1LjY1MDlDMTcuMDk0MSAzNS42MTg0IDE3LjIwMDQgMzUuNTU5NyAxNy4yNjkxIDM1LjUxNzJMMjUuMjM0MyAzMC45MTcxQzI1LjY0MTggMzAuNjg1OCAyNS44OTE4IDMwLjI1MjEgMjUuODg5MyAyOS43ODMzVjE4LjU1NDNMMjkuMjU1NyAyMC40OTgxQzI5LjI5MTkgMjAuNTE1NiAyOS4zMTU3IDIwLjU1MDYgMjkuMzIwNyAyMC41OTA2VjI5Ljg4OTZDMjkuMzE1NyAzNC4wMjQ3IDI1Ljk2NjggMzcuMzc3MiAyMS44MzE3IDM3LjM4NlpNNS43MjY0IDMwLjUwNzFDNC44NDc2MyAyOC45ODk2IDQuNTMxMzcgMjcuMjEwOCA0LjgzMjYzIDI1LjQ4NDVDNC44OTEzOCAyNS41MTk1IDQuOTk1MTMgMjUuNTgzMiA1LjA2ODg4IDI1LjYyNTdMMTMuMDM0MSAzMC4yMjU4QzEzLjQzNzggMzAuNDYyMSAxMy45Mzc4IDMwLjQ2MjEgMTQuMzQyOCAzMC4yMjU4TDI0LjA2NjggMjQuNjEwN1YyOC40OTgzQzI0LjA2OTMgMjguNTM4MyAyNC4wNTA1IDI4LjU3NyAyNC4wMTkzIDI4LjYwMkwxNS45Njc5IDMzLjI1MDlDMTIuMzgxNSAzNS4zMTU5IDcuODAxNDQgMzQuMDg4NCA1LjcyNzY1IDMwLjUwNzFINS43MjY0Wk0zLjYzMDEgMTMuMTIwNUM0LjUwNTEyIDExLjYwMDQgNS44ODY0IDEwLjQzNzkgNy41MzE0NCA5LjgzNDE1QzcuNTMxNDQgOS45MDI5IDcuNTI3NjkgMTAuMDI0MiA3LjUyNzY5IDEwLjEwOTJWMTkuMzEwNkM3LjUyNTE5IDE5Ljc3ODEgNy43NzUxOSAyMC4yMTE5IDguMTgxNDUgMjAuNDQzMUwxNy45MDU0IDI2LjA1N0wxNC41MzkxIDI4LjAwMDhDMTQuNTA1MyAyOC4wMjMzIDE0LjQ2MjggMjguMDI3IDE0LjQyNTMgMjguMDEwOEw2LjM3MjY2IDIzLjM1ODJDMi43OTM4MyAyMS4yODU2IDEuNTY2MzEgMTYuNzA2OCAzLjYyODg1IDEzLjEyMTdMMy42MzAxIDEzLjEyMDVaTTMxLjI4ODIgMTkuNTU2OUwyMS41NjQyIDEzLjk0MTdMMjQuOTMwNiAxMS45OTkyQzI0Ljk2NDMgMTEuOTc2NyAyNS4wMDY4IDExLjk3MjkgMjUuMDQ0MyAxMS45ODkyTDMzLjA5NyAxNi42MzhDMzYuNjgyMSAxOC43MDkzIDM3LjkxMDggMjMuMjk1NyAzNS44Mzk1IDI2Ljg4MDhDMzQuOTYzMyAyOC4zOTgzIDMzLjU4MzIgMjkuNTYwOCAzMS45Mzk1IDMwLjE2NThWMjAuNjg5NEMzMS45NDMyIDIwLjIyMTkgMzEuNjk0NSAxOS43ODk0IDMxLjI4OTQgMTkuNTU2OUgzMS4yODgyWk0zNC42MzgzIDE0LjUxNDJDMzQuNTc5NSAxNC40NzggMzQuNDc1OCAxNC40MTU1IDM0LjQwMiAxNC4zNzNMMjYuNDM2OCA5Ljc3Mjg5QzI2LjAzMzEgOS41MzY2NCAyNS41MzMxIDkuNTM2NjQgMjUuMTI4MSA5Ljc3Mjg5TDE1LjQwNDEgMTUuMzg4VjExLjUwMDRDMTUuNDAxNiAxMS40NjA0IDE1LjQyMDQgMTEuNDIxNyAxNS40NTE2IDExLjM5NjdMMjMuNTAzIDYuNzUxNThDMjcuMDg5NCA0LjY4Mjc5IDMxLjY3NDUgNS45MTQwNiAzMy43NDIgOS41MDE2NEMzNC42MTU4IDExLjAxNjcgMzQuOTMyIDEyLjc5MDUgMzQuNjM1OCAxNC41MTQySDM0LjYzODNaTTEzLjU3NDEgMjEuNDQzMUwxMC4yMDY1IDE5LjQ5OTRDMTAuMTcwMiAxOS40ODE5IDEwLjE0NjUgMTkuNDQ2OCAxMC4xNDE1IDE5LjQwNjhWMTAuMTA3OUMxMC4xNDQgNS45Njc4MSAxMy41MDI4IDIuNjEyNzQgMTcuNjQyOSAyLjYxNTI0QzE5LjM5NDIgMi42MTUyNCAyMS4wODkyIDMuMjMwMjUgMjIuNDM1NSA0LjM1MDI4QzIyLjM3NDMgNC4zODI3OCAyMi4yNjkzIDQuNDQxNTMgMjIuMTk5MiA0LjQ4NDAzTDE0LjIzNDEgOS4wODQxM0MxMy44MjY2IDkuMzE1MzggMTMuNTc2NiA5Ljc0Nzg5IDEzLjU3OTEgMTAuMjE2N0wxMy41NzQxIDIxLjQ0MDZWMjEuNDQzMVpNMTUuNDAyOSAxNy41MDA2TDE5LjczNDIgMTQuOTk5M0wyNC4wNjU1IDE3LjQ5OTNWMjIuNTAwN0wxOS43MzQyIDI1LjAwMDdMMTUuNDAyOSAyMi41MDA3VjE3LjUwMDZaIiBmaWxsPSIjN0Q3RDg3Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "Embeddings OpenAI",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1163,
      "icon": "fa:database",
      "name": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.memorybufferwindow/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Memory"
            ],
            "Memory": [
              "For beginners"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Mémoire simple"
      },
      "iconData": {
        "icon": "database",
        "type": "icon"
      },
      "displayName": "Simple Memory",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1191,
      "icon": "fa:grip-lines-vertical",
      "name": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.textsplitterrecursivecharactertextsplitter/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Text Splitters"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Diviseur de texte de caractère récursif"
      },
      "iconData": {
        "icon": "grip-lines-vertical",
        "type": "icon"
      },
      "displayName": "Recursive Character Text Splitter",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1225,
      "icon": "file:form.svg",
      "name": "n8n-nodes-base.formTrigger",
      "codex": {
        "data": {
          "alias": [
            "table",
            "submit",
            "post"
          ],
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.formtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Other Trigger Nodes"
            ]
          }
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lors de la soumission du formulaire"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NiIgaGVpZ2h0PSI0MCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iIzAwQjdCQyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMzQuOTc4IDM3LjczMmExLjU2IDEuNTYgMCAwIDEtMS41NjIgMS41NjNINi4yNmExLjU2IDEuNTYgMCAwIDEtMS41NjMtMS41NjNWOS42MDdjMC0uNDA1LjE1Ny0uNzk0LjQzOC0xLjA4Nmw2LjMwNC02LjUzMXY1LjM0NEg4LjIxM2ExLjE3MiAxLjE3MiAwIDEgMCAwIDIuMzQzaDQuNDNhMS4xNyAxLjE3IDAgMCAwIDEuMTcxLTEuMTcxVi4yMzJoMTkuNjAyYTEuNTYgMS41NiAwIDAgMSAxLjU2MiAxLjU2M3YxMC4zMjdsLTIuODYgMi44Ni04LjI1MiA4LjI3NmE0MTMuMDA2IDQxMy4wMDYgMCAwIDEtMS42NTQgMS42NjJsLS4zMzcuMzM3YTIgMiAwIDAgMC0uNTU3IDEuMDhMMjAuMyAzMS45MjJjLS4xMDguNjM4LS4yMTUgMS4wNzkuMjExIDEuNDE4LjQwMy4zMi45LjE3NCAxLjU0LjA2Nmw1LjQwOC0uOTI4YTIgMiAwIDAgMCAxLjA4LS41NTZsNi40NC02LjQyOXptLTI0LjAzLTIxLjI2NWExLjE4IDEuMTggMCAwIDAgMS4xNzEgMS4xNzJoMTMuMTYzYTEuMTcyIDEuMTcyIDAgMSAwIDAtMi4zNDRIMTIuMTE5YTEuMTcgMS4xNyAwIDAgMC0xLjE3MiAxLjE3Mm03LjI5NCAxNC43NjZhMS4xNyAxLjE3IDAgMCAwLTEuMTcyLTEuMTcySDEyLjEyYTEuMTcyIDEuMTcyIDAgMSAwIDAgMi4zNDNoNC45NTFhMS4xNyAxLjE3IDAgMCAwIDEuMTcyLTEuMTcybS44Ni03LjM5MWExLjE3IDEuMTcgMCAwIDAtMS4xNzItMS4xNzJoLTUuODExYTEuMTcyIDEuMTcyIDAgMSAwIDAgMi4zNDNoNS44MWExLjE2NCAxLjE2NCAwIDAgMCAxLjE3My0xLjE3MSIgY2xpcC1ydWxlPSJldmVub2RkIi8+PHBhdGggZmlsbD0iIzAwQjdCQyIgZD0ibTMzLjUzMiAxNi4zOTcgNC4yODktNC4yODkgMy43NTggMy43MSAxLjYxNy0xLjYxNiAyLjI1OCAyLjI1N2MuMjE4LjIxOC4zNC41MTMuMzQzLjgyLS4wMDIuMzExLS4xMjUuNjA4LS4zNDQuODNsLTYuODA0IDYuNzk2YTEuMTMgMS4xMyAwIDAgMS0uODI4LjM0MyAxLjE1IDEuMTUgMCAwIDEtLjgyOC0uMzQzIDEuMTggMS4xOCAwIDAgMSAwLTEuNjU3bDUuOTc2LTUuOTY4LTEuMzEyLTEuMzEzLTEuMzgzIDEuNDE0LTEzLjE0OSAxMy4xMjUtNC42MTcuNzgyLjc4Mi00LjYxNy4zMzYtLjMzNyAyLjU2MiAyLjU1NWExLjEgMS4xIDAgMCAwIC44MjguMzQ0Yy4zMTIuMDA1LjYxMi0uMTIuODI4LS4zNDRhMS4xOCAxLjE4IDAgMCAwIDAtMS42NTZsLTIuNTYyLTIuNTYyek00NC43MzYgMTIuMjRjMCAuNDE0LS4xNjMuODEtLjQ1NCAxLjEwMmwtLjkyMi45MTQtMy44NTItMy44MjguOTMtLjkzYTEuNTYzIDEuNTYzIDAgMCAxIDIuMjAzIDBsMS42NCAxLjY0MWMuMjkxLjI5My40NTUuNjkuNDU1IDEuMTAyIi8+PC9zdmc+"
      },
      "displayName": "n8n Form Trigger",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1243,
      "icon": "file:binary.svg",
      "name": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.documentdefaultdataloader/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Document Loaders"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Chargeur de données par défaut"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3NjgiIGhlaWdodD0iMTAyNCI+PHBhdGggZmlsbD0iIzdEN0Q4NyIgZD0iTTAgOTYwVjY0aDU3NmwxOTIgMTkydjcwNHptNzA0LTY0MEw1MTIgMTI4SDY0djc2OGg2NDB6TTMyMCA1MTJIMTI4VjI1NmgxOTJ6bS02NC0xOTJoLTY0djEyOGg2NHptMCA0NDhoNjR2NjRIMTI4di02NGg2NFY2NDBoLTY0di02NGgxMjh6bTI1Ni0zMjBoNjR2NjRIMzg0di02NGg2NFYzMjBoLTY0di02NGgxMjh6bTY0IDM4NEgzODRWNTc2aDE5MnptLTY0LTE5MmgtNjR2MTI4aDY0eiIvPjwvc3ZnPg=="
      },
      "displayName": "Default Data Loader",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1247,
      "icon": "fa:comments",
      "name": "@n8n/n8n-nodes-langchain.chatTrigger",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-langchain.chattrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes",
            "Langchain"
          ]
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lors de la réception d'un message de chat"
      },
      "iconData": {
        "icon": "comments",
        "type": "icon"
      },
      "displayName": "Chat Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1248,
      "icon": "file:qdrant.svg",
      "name": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.vectorstoreqdrant/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Vector Stores",
              "Tools",
              "Root Nodes"
            ],
            "Tools": [
              "Other Tools"
            ],
            "Vector Stores": [
              "Other Vector Stores"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Magasin vectoriel Qdrant"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjU2cHgiIGhlaWdodD0iMjk2cHgiIHZpZXdCb3g9IjAgMCAyNTYgMjk2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIj4KICAgIDx0aXRsZT5xZHJhbnQ8L3RpdGxlPgogICAgPGRlZnM+CiAgICAgICAgPGxpbmVhckdyYWRpZW50IHgxPSI4MS41NjE5MDQ4JSIgeTE9IjQ0Ljg0MjEwNTMlIiB4Mj0iLTE4LjA4NTcxNDMlIiB5Mj0iNDQuODQyMTA1MyUiIGlkPSJsaW5lYXJHcmFkaWVudC0xIj4KICAgICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iI0ZGMzM2NCIgb2Zmc2V0PSIwJSI+PC9zdG9wPgogICAgICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjQzkxNTQwIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8Zz4KICAgICAgICA8cG9seWdvbiBmaWxsPSIjMjQzODZDIiBwb2ludHM9IjIwMS4zMTcwNSAyNzEuNzIyNDI3IDE5NS40MjI3MTUgMTA5LjIxMjY3IDE4NC43NDc3ODEgNjYuMzY4MjM2OCAyNTYgNzMuOTExMjU0NSAyNTYgMjcwLjQ5MjUwOSAyMTIuNDc0NzU3IDI5NS42MTI2MjYiPjwvcG9seWdvbj4KICAgICAgICA8cG9seWdvbiBmaWxsPSIjNzU4OUJFIiBwb2ludHM9IjI1NS45OTUxNTEgNzMuODk5ODEwNyAyMTIuNDY5OTA4IDk5LjAzNzM4NCAxMjIuNjQ5NjM0IDc5LjMzNDY0NzEgMTcuNTE2MDAwOCAxMjIuMTQwMjg4IDEuMTM3MDQ4NGUtMTQgNzMuODk5ODEwNyA2My45ODgzMTM3IDM2Ljk0OTkwNTMgMTI3Ljk5NjAyNCAwIDE5MS45ODYyNzcgMzYuOTQ5OTA1MyI+PC9wb2x5Z29uPgogICAgICAgIDxwb2x5bGluZSBmaWxsPSIjQjJCRkU4IiBwb2ludHM9IjAuMDAzMTAzNDA0MTIgNzMuODk5ODEwNyA0My41MjgzNDYyIDk5LjAzNzM4NCA2OC43NTkwMjE3IDE3NC4wNzM4MTYgMTUzLjk0OTQwNSAyNDIuMjM2MjA5IDEyOC4wMDEwNjcgMjk1LjU5OTI0MyA2My45OTMzNTY4IDI1OC42NDczOTggMC4wMDMxMDM0MDQxMiAyMjEuNjk3NDkyIDAuMDAzMTAzNDA0MTIgNzMuODk3ODcxIj48L3BvbHlsaW5lPgogICAgICAgIDxwb2x5bGluZSBmaWxsPSIjMjQzODZDIiBwb2ludHM9IjE1Ni44NTY5MDYgMjAyLjgwNzQ1OSAxMjguMDAxMDY3IDI0NS4zNDczNzEgMTI4LjAwMTA2NyAyOTUuNjAzMTIyIDE2OC45NDY2MDUgMjcxLjk3ODQ1OCAxOTAuMDQzOTM0IDI0MC40NzUwMjciPjwvcG9seWxpbmU+CiAgICAgICAgPHBvbHlnb24gZmlsbD0iIzc1ODlCRSIgcG9pbnRzPSIxMjguMDE4NTIzIDE5NS4xMDcxMzggODcuMDU1NTI4NyAxMjQuMTg0NjU2IDk1Ljg3ODcwMDUgMTAwLjY3ODMwOSAxMjkuNDIwNjggODQuNDE1Njk1NSAxNjguOTQ2NDExIDEyNC4xODU4MTkiPjwvcG9seWdvbj4KICAgICAgICA8cG9seWxpbmUgZmlsbD0iI0IyQkZFOCIgcG9pbnRzPSI4Ny4wNTU1Mjg3IDEyNC4xNzg4MzcgMTI4LjAwMTA2NyAxNDcuODAzNTAxIDEyOC4wMDEwNjcgMTk1LjA5MTYyMSA5MC4xMzE3NzggMTk2LjcyMDkyNyA2Ny4yMjQ3NzYzIDE2Ny40NzEzNDQgODcuMDU1NTI4NyAxMjQuMTc4ODU2Ij48L3BvbHlsaW5lPgogICAgICAgIDxwb2x5Z29uIGZpbGw9IiMyNDM4NkMiIHBvaW50cz0iMTI4LjAwMTA2NyAxNDcuNzk5NjIxIDE2OC45NDY2MDUgMTI0LjE3Njg5NyAxOTYuODEzMjM0IDE3MC41NzY2NjggMTYzLjA5MDg2OSAxOTguNDM5NDE4IDEyOC4wMDEwNjcgMTk1LjA4OTI5MyI+PC9wb2x5Z29uPgogICAgICAgIDxwYXRoIGQ9Ik0xNjguOTQ2NjA1LDI3MS45NzQ1NzkgTDIxMi40NzE4NDgsMjk1LjYwMTE4MiBMMjEyLjQ3MTg0OCw5OS4wMzkzMjM3IEwxNzAuMjI2NzU5LDc0LjY1ODIwNSBMMTI4LjAwMTA2Nyw1MC4yNzcwODY0IEw4NS43NTU5NzgyLDc0LjY1ODIwNSBMNDMuNTMwMjg1OCw5OS4wMzkzMjM3IEw0My41MzAyODU4LDE5Ni41ODEyNTUgTDg1Ljc1NTk3ODIsMjIwLjk2MjM3MyBMMTI4LjAwMTA2NywyNDUuMzQ1NDMyIEwxNjguOTQ2NjA1LDIyMS42OTk0MzIgTDE2OC45NDY2MDUsMjcxLjk3NDU3OSBaIE0xNjguOTQ2NjA1LDE3MS40NDM2ODEgTDEyOC4wMDEwNjcsMTk1LjA4Nzc0MiBMODcuMDU1NTI4NywxNzEuNDQzNjgxIEw4Ny4wNTU1Mjg3LDEyNC4xNzQ5NTcgTDEyOC4wMDEwNjcsMTAwLjUzMDg5NyBMMTY4Ljk0NjYwNSwxMjQuMTc0OTU3IEwxNjguOTQ2NjA1LDE3MS40NDM2ODEiIGZpbGw9IiNEQzI0NEMiPjwvcGF0aD4KICAgICAgICA8cG9seWdvbiBmaWxsPSJ1cmwoI2xpbmVhckdyYWRpZW50LTEpIiBwb2ludHM9IjEyOC4wMTg1MjMgMjQ1LjM2Mjg4OCAxMjguMDE4NTIzIDE5NS4wOTkzNzkgODcuMjg2MzQ0MyAxNzEuNjU3MDQxIDg3LjI4NjM0NDMgMjIxLjgzNzE0NiI+PC9wb2x5Z29uPgogICAgPC9nPgo8L3N2Zz4K"
      },
      "displayName": "Qdrant Vector Store",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1262,
      "icon": "file:google.svg",
      "name": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatgooglegemini/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Language Models",
              "Root Nodes"
            ],
            "Language Models": [
              "Chat Models (Recommended)"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Modèle de chat Google Gemini"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNDQuNSAyMEgyNHY4LjVoMTEuOEMzNC43IDMzLjkgMzAuMSAzNyAyNCAzN2MtNy4yIDAtMTMtNS44LTEzLTEzczUuOC0xMyAxMy0xM2MzLjEgMCA1LjkgMS4xIDguMSAyLjlsNi40LTYuNEMzNC42IDQuMSAyOS42IDIgMjQgMiAxMS44IDIgMiAxMS44IDIgMjRzOS44IDIyIDIyIDIyYzExIDAgMjEtOCAyMS0yMiAwLTEuMy0uMi0yLjctLjUtNCIvPjwvZGVmcz48Y2xpcFBhdGggaWQ9ImIiPjx1c2UgeGxpbms6aHJlZj0iI2EiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PC9jbGlwUGF0aD48cGF0aCBmaWxsPSIjRkJCQzA1IiBkPSJNMCAzN1YxMWwxNyAxM3oiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im0wIDExIDE3IDEzIDctNi4xTDQ4IDE0VjBIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiMzNEE4NTMiIGQ9Im0wIDM3IDMwLTIzIDcuOSAxTDQ4IDB2NDhIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik00OCA0OCAxNyAyNGwtNC0zIDM1LTEweiIgY2xpcC1wYXRoPSJ1cmwoI2IpIi8+PC9zdmc+"
      },
      "displayName": "Google Gemini Chat Model",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 48,
      "name": "IA RAG"
    },
    {
      "id": 51,
      "name": "IA multimodale"
    }
  ],
  "image": []
}