automation/i18n/fr-FR/Qualify and Enrich Leads with Octave's Contextual Insights and Slack Alerts.json
{
  "id": 7615,
  "name": "Qualifiez et enrichissez les prospects avec les insights contextuels d'Octave et les alertes Slack",
  "views": 5,
  "recentViews": 0,
  "totalViews": 5,
  "createdAt": "2025-08-19T23:52:19.899Z",
  "description": "*Ce workflow contient des nœuds communautaires qui ne sont compatibles qu'avec la version auto-hébergée de n8n.*\n\n# Qualifiez et enrichissez les prospects entrants avec des insights contextuels et des alertes Slack\n\n## Pour qui est-ce ?\nÉquipes de vente, responsables de comptes et professionnels du RevOps qui ont besoin de plus qu'un simple scoring de leads de base. Conçu pour les équipes qui souhaitent des insights contextuels approfondis sur les prospects qualifiés afin de permettre des conversations véritablement pertinentes dès le premier point de contact.\n\n## Quel problème cela résout-il ?\nLa plupart des qualifications s'arrêtent à \"bon ajustement\" ou \"mauvais ajustement\" - mais cela laisse les équipes de vente dans le flou lorsqu'il s'agit d'engager réellement le prospect. Vous savez qu'ils sont qualifiés, mais quels sont leurs points de douleur spécifiques ? Quelles propositions de valeur résonnent ? Quels clients de référence devriez-vous mentionner ? Ce workflow utilise le moteur de contexte d'Octave pour non seulement qualifier les leads mais les enrichir avec des insights exploitables qui transforment le démarchage à froid en conversations chaudes et contextualisées.\n\n## Ce que fait ce workflow\n\n**Traitement des Leads Entrants :**\n- Reçoit des informations sur les leads via webhook (prénom, nom de l'entreprise, domaine de l'entreprise, URL de profil, titre de poste)\n- Traite les leads provenant de formulaires de site web, de demandes de démo, de téléchargements de contenu ou d'inscriptions à des essais\n- Valide et structure les données des leads pour une qualification et un enrichissement intelligents\n\n**Qualification Contextualisée des Leads :**\n- Exploite le moteur de contexte d'Octave pour évaluer les leads par rapport à votre ICP spécifique\n- Analyse l'adéquation de l'entreprise, la pertinence du rôle et les indicateurs de timing\n- Génère des scores de qualification (1-10) avec une justification détaillée\n- Filtre les leads à faible score (seuil configurable - par défaut >5)\n\n**Enrichissement Profond des Leads :**\n- Utilise le moteur d'enrichissement d'Octave pour générer des insights contextuels sur les leads qualifiés\n- Identifie les responsabilités principales, les points de douleur et les propositions de valeur pertinentes\n- Suggère des clients de référence appropriés et des cas d'utilisation à mentionner\n- Fournit aux équipes de vente des points de départ pour les conversations ancrés dans le contexte de votre entreprise\n\n**Alertes de Vente Améliorées :**\n- Envoie des alertes Slack enrichies avec le score de qualification plus des insights exploitables\n- Inclut des points de discussion suggérés, des points de douleur et des clients de référence\n- Permet aux équipes de vente d'avoir des conversations contextualisées dès le premier contact\n\n## Configuration\n\n**Identifiants Requis :**\n- Clé API Octave et accès à l'espace de travail\n- Identifiants OAuth Slack avec accès au canal\n- Accès à votre système source de leads (formulaires de site web, CRM, etc.)\n\n**Configuration Étape par Étape :**\n\n1. **Configurer l'Agent de Qualification Octave :**\n   - Ajoutez vos identifiants API Octave dans n8n\n   - Remplacez `your-octave-qualification-agent-id` par votre véritable ID d'agent de qualification\n   - Configurez votre agent de qualification avec vos critères ICP et le contexte de votre entreprise\n\n2. **Configurer l'Agent d'Enrichissement Octave :**\n   - Remplacez `your-octave-enrichment-agent-id` par votre véritable ID d'agent d'enrichissement\n   - Configurez les sorties d'enrichissement en fonction des insights les plus précieux pour votre processus de vente\n   - Testez la qualité de l'enrichissement avec des leads d'échantillon de votre marché cible\n\n3. **Configurer l'Intégration Slack :**\n   - Ajoutez vos identifiants OAuth Slack à n8n\n   - Remplacez `your-slack-channel-id` par le canal pour les alertes de leads enrichis\n   - Personnalisez le modèle de message Slack avec les champs d'enrichissement les plus utiles pour votre équipe de vente\n\n4. **Configurer la Source de Leads :**\n   - Remplacez `your-webhook-path-here` par un chemin unique et sécurisé\n   - Configurez vos formulaires de site web, CRM ou source de leads pour envoyer des données au webhook\n   - Assurez-vous d'un formatage de données cohérent à travers les sources de leads\n\n5. **Personnaliser le Filtre de Qualification :**\n   - Ajustez le seuil du nœud Filtre (par défaut : score > 5)\n   - Modifiez en fonction de votre volume de leads et de vos normes de qualification\n   - Testez avec des leads d'échantillon pour calibrer le scoring\n\n**Format de Charge Utile Webhook Requis :**\n```json\n{\n  \"body\": {\n    \"firstName\": \"Sarah\",\n    \"lastName\": \"Johnson\",\n    \"companyName\": \"ScaleUp Technologies\",\n    \"companyDomain\": \"scaleuptech.com\",\n    \"profileURL\": \"https://linkedin.com/in/sarahjohnson\",\n    \"jobTitle\": \"VP de l'Ingénierie\"\n  }\n}\n```\n\n## Comment personnaliser\n\n**Critères de Qualification :** Personnalisez le scoring dans votre agent de qualification Octave :\n- **Niveau Produit :** Définissez les questions \"bon ajustement\" et \"mauvais ajustement\" qui déterminent si quelqu'un a besoin de votre offre principale\n- **Niveau Persona :** Définissez des critères pour des personas d'acheteurs spécifiques et leurs facteurs de qualification uniques\n- **Niveau Segment :** Configurez la logique de qualification pour différents segments de marché ou cas d'utilisation\n- **Qualification Multi-Niveaux :** Qualifiez par rapport à Produit + Persona, Produit + Segment, ou les trois niveaux combinés\n\n**Insights d'Enrichissement :** Configurez votre agent d'enrichissement Octave pour faire ressortir les insights les plus précieux :\n- **Responsabilités Principales :** Ce que cette personne fait réellement au quotidien\n- **Points de Douleur :** Défis spécifiques auxquels elle fait face que votre solution aborde\n- **Propositions de Valeur :** Quels avantages résonnent le plus avec son rôle et sa situation\n- **Clients de Référence :** Entreprises/rôles similaires qui ont réussi avec votre solution\n- **Points de Départ pour les Conversations :** Points de discussion contextuels pour le démarchage\n\n**Format d'Alerte Slack :** Personnalisez les données d'enrichissement incluses dans les alertes :\n- Ajoutez ou retirez des champs d'enrichissement en fonction des préférences de l'équipe de vente\n- Modifiez le formatage des messages pour une meilleure lisibilité\n- Incluez des données supplémentaires du webhook si nécessaire\n\n**Seuil de Scoring :** Ajustez le nœud Filtre pour correspondre à vos normes de qualification\n\n**Canaux d'Intégration :** Remplacez Slack par email, mises à jour CRM ou d'autres systèmes de notification\n\n## Cas d'Utilisation\n- Qualification de leads d'entreprise à forte valeur et automatisation de la recherche\n- Enrichissement des demandes de démo pour des conversations de vente contextuelles\n- Traitement des leads d'événements avec des insights exploitables immédiats\n- Qualification des visiteurs du site web et préparation des conversations\n- Enrichissement des inscriptions à des essais pour un démarchage ciblé\n- Scoring des leads de téléchargement de contenu avec préparation de suivi contextuel",
  "workflow": {
    "name": "Qualify and enrich inbound leads with contextual insights and Slack alerts",
    "tags": [],
    "nodes": [
      {
        "id": "sticky-note-main",
        "name": "Sticky Note - Main Overview",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          350,
          -640
        ],
        "parameters": {
          "color": 1,
          "width": 450,
          "height": 460,
          "content": "🎯 LEAD QUALIFICATION & ENRICHMENT\n\nFOR: Sales teams, AEs, RevOps who need deep\ncontextual insights beyond basic scoring.\n\nSOLVES: Most qualification stops at \"good/bad fit\"\nleaving sales flying blind. You know they're qualified\nbut not their pain points, value props, or references.\n\nWORKS:\n1. Webhook gets lead data\n2. Octave qualifies against ICP\n3. Filter removes low scores\n4. Octave enriches with insights\n5. Slack alerts with context\n\nSETUP: Octave qualification + enrichment agents,\nSlack OAuth, webhook config\n\nCUSTOMIZE: Configure qualification at Product/\nPersona/Segment levels. Set enrichment fields\n(responsibilities, pain points, value props,\nreferences). Customize Slack alert format."
        },
        "typeVersion": 1
      },
      {
        "id": "sticky-note-webhook",
        "name": "Sticky Note - Webhook Setup",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          40,
          -150
        ],
        "parameters": {
          "color": 2,
          "width": 190,
          "height": 100,
          "content": "🚀 START HERE\nReplace webhook path.\nConfigure lead source."
        },
        "typeVersion": 1
      },
      {
        "id": "sticky-note-qualify",
        "name": "Sticky Note - Qualification",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          240,
          -150
        ],
        "parameters": {
          "color": 4,
          "width": 190,
          "height": 100,
          "content": "🎯 QUALIFICATION\nOctave scores vs ICP.\nReplace agent ID."
        },
        "typeVersion": 1
      },
      {
        "id": "sticky-note-filter",
        "name": "Sticky Note - Filter",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          440,
          -150
        ],
        "parameters": {
          "color": 5,
          "width": 190,
          "height": 100,
          "content": "🔍 FILTER\nRemoves low scores.\nAdjust threshold (>5)."
        },
        "typeVersion": 1
      },
      {
        "id": "sticky-note-enrich",
        "name": "Sticky Note - Enrichment",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          640,
          -150
        ],
        "parameters": {
          "color": 3,
          "width": 190,
          "height": 100,
          "content": "🔬 ENRICHMENT\nExtensive insights available.\nExplore output & customize."
        },
        "typeVersion": 1
      },
      {
        "id": "sticky-note-slack",
        "name": "Sticky Note - Slack Alerts",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          840,
          -150
        ],
        "parameters": {
          "color": 6,
          "width": 190,
          "height": 100,
          "content": "📢 ENRICHED ALERTS\nContextual lead insights.\nUpdate channel & format."
        },
        "typeVersion": 1
      },
      {
        "id": "726e4640-90a0-456a-8cd2-144c04db83dc",
        "name": "Inbound Lead Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          120,
          0
        ],
        "webhookId": "your-webhook-id-here",
        "parameters": {
          "path": "your-webhook-path-here",
          "options": {}
        },
        "typeVersion": 2
      },
      {
        "id": "1f2e9101-e77e-4c28-ada6-fff180378dc9",
        "name": "Qualify Lead with Octave",
        "type": "n8n-nodes-octavehq.octave",
        "position": [
          320,
          0
        ],
        "parameters": {
          "agentOId": "your-octave-qualification-agent-id",
          "jobTitle": "={{ $json.body.jobTitle }}",
          "firstName": "={{ $json.body.firstName }}",
          "operation": "qualifyPerson",
          "companyName": "={{ $json.body.companyName }}",
          "companyDomain": "={{ $json.body.companyDomain }}",
          "linkedInProfile": "={{ $json.body.profileURL }}"
        },
        "credentials": {
          "octaveApi": {
            "name": "Octave API Credentials"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "bea7a6cc-66a5-4bd7-a5e2-1bc8ce3300e4",
        "name": "Filter Qualified Leads",
        "type": "n8n-nodes-base.filter",
        "position": [
          520,
          0
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "91ab2ad1-75cd-411f-ad07-6f2175f102bd",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $json.score }}",
                "rightValue": 5
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "93db30ee-393c-4244-b833-dc943f523abf",
        "name": "Enrich Lead with Context",
        "type": "n8n-nodes-octavehq.octave",
        "position": [
          720,
          0
        ],
        "parameters": {
          "agentOId": "your-octave-enrichment-agent-id",
          "jobTitle": "={{ $('Inbound Lead Webhook').item.json.body.jobTitle }}",
          "firstName": "={{ $('Inbound Lead Webhook').item.json.body.firstName }}",
          "operation": "enrichPerson",
          "companyName": "={{ $('Inbound Lead Webhook').item.json.body.companyName }}",
          "companyDomain": "={{ $('Inbound Lead Webhook').item.json.body.companyDomain }}",
          "linkedInProfile": "={{ $('Inbound Lead Webhook').item.json.body.profileURL }}"
        },
        "credentials": {
          "octaveApi": {
            "name": "Octave API Credentials"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "972d33c7-aeb1-4106-a083-7548f139a0bb",
        "name": "Send Enriched Lead Alert",
        "type": "n8n-nodes-base.slack",
        "position": [
          920,
          0
        ],
        "parameters": {
          "text": "=━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n🔥 *Enriched Lead Alert*\n\n👤 *Name:* {{ $('Inbound Lead Webhook').item.json.body.firstName }} {{ $('Inbound Lead Webhook').item.json.body.lastName }}\n💼 *Title:* {{ $('Inbound Lead Webhook').item.json.body.jobTitle }}\n🏢 *Company:* {{ $('Inbound Lead Webhook').item.json.body.companyName }}\n🌐 *Domain:* {{ $('Inbound Lead Webhook').item.json.body.companyDomain }}\n🔗 *LinkedIn:* {{ $('Inbound Lead Webhook').item.json.body.profileURL }}\n\n🎯 *Key Responsibility:* {{ $json.persona.data.primaryResponsibilities[0] }}\n⚡ *Main Pain Point:* {{ $json.persona.data.painPoints[0] }}\n💡 *Relevant Value Prop:* {{ $json.valueProps[0].details }}\n🏆 *Reference to Mention:* {{ $json.references[0].howTheyBenefitFromProduct }}",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "list",
            "value": "your-slack-channel-id",
            "cachedResultName": "enriched-leads"
          },
          "otherOptions": {},
          "authentication": "oAuth2"
        },
        "credentials": {
          "slackOAuth2Api": {
            "name": "Slack OAuth Credentials"
          }
        },
        "typeVersion": 2.3
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "connections": {
      "Inbound Lead Webhook": {
        "main": [
          [
            {
              "node": "Qualify Lead with Octave",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Qualified Leads": {
        "main": [
          [
            {
              "node": "Enrich Lead with Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enrich Lead with Context": {
        "main": [
          [
            {
              "node": "Send Enriched Lead Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Qualify Lead with Octave": {
        "main": [
          [
            {
              "node": "Filter Qualified Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 62,
  "workflowInfo": {
    "nodeCount": 11,
    "nodeTypes": {
      "n8n-nodes-base.slack": {
        "count": 1
      },
      "n8n-nodes-base.filter": {
        "count": 1
      },
      "n8n-nodes-base.webhook": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 6
      },
      "n8n-nodes-octavehq.octave": {
        "count": 2
      }
    }
  },
  "user": {
    "name": "Nalin",
    "username": "nalinkrishnan",
    "bio": "",
    "verified": true,
    "links": [],
    "avatar": "https://gravatar.com/avatar/01b960d67e80ed9a768d5c90dec339907ab12f10c60f830cfc807e5f49bb734c?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 40,
      "icon": "file:slack.svg",
      "name": "n8n-nodes-base.slack",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                "icon": "👦",
                "label": "Build your own virtual assistant with n8n: A step by step guide"
              },
              {
                "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                "icon": "👏",
                "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.slack/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/slack/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Slack"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgMTUwLjg1MiAxNTAuODUyIj48dXNlIHhsaW5rOmhyZWY9IiNhIiB4PSIuOTI2IiB5PSIuOTI2Ii8+PHN5bWJvbCBpZD0iYSIgb3ZlcmZsb3c9InZpc2libGUiPjxnIHN0cm9rZS13aWR0aD0iMS44NTIiPjxwYXRoIGZpbGw9IiNlMDFlNWEiIHN0cm9rZT0iI2UwMWU1YSIgZD0iTTQwLjc0MSA5My41NWMwLTguNzM1IDYuNjA3LTE1Ljc3MiAxNC44MTUtMTUuNzcyczE0LjgxNSA3LjAzNyAxNC44MTUgMTUuNzcydjM4LjgyNGMwIDguNzM3LTYuNjA3IDE1Ljc3NC0xNC44MTUgMTUuNzc0cy0xNC44MTUtNy4wMzctMTQuODE1LTE1Ljc3MnoiLz48cGF0aCBmaWxsPSIjZWNiMjJkIiBzdHJva2U9IiNlY2IyMmQiIGQ9Ik05My41NSAxMDcuNDA4Yy04LjczNSAwLTE1Ljc3Mi02LjYwNy0xNS43NzItMTQuODE1czcuMDM3LTE0LjgxNSAxNS43NzItMTQuODE1aDM4LjgyNmM4LjczNSAwIDE1Ljc3MiA2LjYwNyAxNS43NzIgMTQuODE1cy03LjAzNyAxNC44MTUtMTUuNzcyIDE0LjgxNXoiLz48cGF0aCBmaWxsPSIjMmZiNjdjIiBzdHJva2U9IiMyZmI2N2MiIGQ9Ik03Ny43NzggMTUuNzcyQzc3Ljc3OCA3LjAzNyA4NC4zODUgMCA5Mi41OTMgMHMxNC44MTUgNy4wMzcgMTQuODE1IDE1Ljc3MnYzOC44MjZjMCA4LjczNS02LjYwNyAxNS43NzItMTQuODE1IDE1Ljc3MnMtMTQuODE1LTcuMDM3LTE0LjgxNS0xNS43NzJ6Ii8+PHBhdGggZmlsbD0iIzM2YzVmMSIgc3Ryb2tlPSIjMzZjNWYxIiBkPSJNMTUuNzcyIDcwLjM3MUM3LjAzNyA3MC4zNzEgMCA2My43NjMgMCA1NS41NTZzNy4wMzctMTQuODE1IDE1Ljc3Mi0xNC44MTVoMzguODI2YzguNzM1IDAgMTUuNzcyIDYuNjA3IDE1Ljc3MiAxNC44MTVzLTcuMDM3IDE0LjgxNS0xNS43NzIgMTQuODE1eiIvPjxnIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiPjxwYXRoIGZpbGw9IiNlY2IyMmQiIHN0cm9rZT0iI2VjYjIyZCIgZD0iTTc3Ljc3OCAxMzMuMzMzYzAgOC4yMDggNi42MDcgMTQuODE1IDE0LjgxNSAxNC44MTVzMTQuODE1LTYuNjA3IDE0LjgxNS0xNC44MTUtNi42MDctMTQuODE1LTE0LjgxNS0xNC44MTVINzcuNzc4eiIvPjxwYXRoIGZpbGw9IiMyZmI2N2MiIHN0cm9rZT0iIzJmYjY3YyIgZD0iTTEzMy4zMzQgNzAuMzcxaC0xNC44MTVWNTUuNTU2YzAtOC4yMDcgNi42MDctMTQuODE1IDE0LjgxNS0xNC44MTVzMTQuODE1IDYuNjA3IDE0LjgxNSAxNC44MTUtNi42MDcgMTQuODE1LTE0LjgxNSAxNC44MTV6Ii8+PHBhdGggZmlsbD0iI2UwMWU1YSIgc3Ryb2tlPSIjZTAxZTVhIiBkPSJNMTQuODE1IDc3Ljc3OEgyOS42M3YxNC44MTVjMCA4LjIwNy02LjYwNyAxNC44MTUtMTQuODE1IDE0LjgxNVMwIDEwMC44IDAgOTIuNTkzczYuNjA3LTE0LjgxNSAxNC44MTUtMTQuODE1eiIvPjxwYXRoIGZpbGw9IiMzNmM1ZjEiIHN0cm9rZT0iIzM2YzVmMSIgZD0iTTcwLjM3MSAxNC44MTVWMjkuNjNINTUuNTU2Yy04LjIwNyAwLTE0LjgxNS02LjYwNy0xNC44MTUtMTQuODE1UzQ3LjM0OCAwIDU1LjU1NiAwczE0LjgxNSA2LjYwNyAxNC44MTUgMTQuODE1eiIvPjwvZz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Slack",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 47,
      "icon": "file:webhook.svg",
      "name": "n8n-nodes-base.webhook",
      "codex": {
        "data": {
          "alias": [
            "HTTP",
            "API",
            "Build",
            "WH"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                "icon": "👏",
                "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-custom-incident-response-workflows-with-n8n/",
                "label": "How to automate every step of an incident response workflow"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.webhook/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Webhook"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCI+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTM1IDM3Yy0yLjIgMC00LTEuOC00LTRzMS44LTQgNC00IDQgMS44IDQgNC0xLjggNC00IDQiLz48cGF0aCBmaWxsPSIjMzc0NzRmIiBkPSJNMzUgNDNjLTMgMC01LjktMS40LTcuOC0zLjdsMy4xLTIuNWMxLjEgMS40IDIuOSAyLjMgNC43IDIuMyAzLjMgMCA2LTIuNyA2LTZzLTIuNy02LTYtNmMtMSAwLTIgLjMtMi45LjdsLTEuNyAxTDIzLjMgMTZsMy41LTEuOSA1LjMgOS40YzEtLjMgMi0uNSAzLS41IDUuNSAwIDEwIDQuNSAxMCAxMFM0MC41IDQzIDM1IDQzIi8+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTE0IDQzQzguNSA0MyA0IDM4LjUgNCAzM2MwLTQuNiAzLjEtOC41IDcuNS05LjdsMSAzLjlDOS45IDI3LjkgOCAzMC4zIDggMzNjMCAzLjMgMi43IDYgNiA2czYtMi43IDYtNnYtMmgxNXY0SDIzLjhjLS45IDQuNi01IDgtOS44IDgiLz48cGF0aCBmaWxsPSIjZTkxZTYzIiBkPSJNMTQgMzdjLTIuMiAwLTQtMS44LTQtNHMxLjgtNCA0LTQgNCAxLjggNCA0LTEuOCA0LTQgNCIvPjxwYXRoIGZpbGw9IiMzNzQ3NGYiIGQ9Ik0yNSAxOWMtMi4yIDAtNC0xLjgtNC00czEuOC00IDQtNCA0IDEuOCA0IDQtMS44IDQtNCA0Ii8+PHBhdGggZmlsbD0iI2U5MWU2MyIgZD0ibTE1LjcgMzQtMy40LTIgNS45LTkuN2MtMi0xLjktMy4yLTQuNS0zLjItNy4zIDAtNS41IDQuNS0xMCAxMC0xMHMxMCA0LjUgMTAgMTBjMCAuOS0uMSAxLjctLjMgMi41bC0zLjktMWMuMS0uNS4yLTEgLjItMS41IDAtMy4zLTIuNy02LTYtNnMtNiAyLjctNiA2YzAgMi4xIDEuMSA0IDIuOSA1LjFsMS43IDF6Ii8+PC9zdmc+"
      },
      "displayName": "Webhook",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note Collante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 844,
      "icon": "fa:filter",
      "name": "n8n-nodes-base.filter",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The Filter node can be used to filter items based on a condition. If the condition is met, the item will be passed on to the next node. If the condition is not met, the item will be omitted. Conditions can be combined together by AND(meet all conditions), or OR(meet at least one condition).",
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.filter/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Filtre",
        "color": "#229eff"
      },
      "iconData": {
        "icon": "filter",
        "type": "icon"
      },
      "displayName": "Filter",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 49,
      "name": "Résumé AI"
    },
    {
      "id": 51,
      "name": "AI Multimodal"
    }
  ],
  "image": []
}