automation/i18n/fr-FR/Send Daily Real Estate Construction Updates via Gmail & WhatsApp with Google Sheets.json
{
  "id": 6694,
  "name": "Envoyer des mises à jour quotidiennes sur la construction immobilière via Gmail et WhatsApp avec Google Sheets",
  "views": 283,
  "recentViews": 1,
  "totalViews": 283,
  "createdAt": "2025-07-30T10:37:49.111Z",
  "description": "Ce modèle n8n démontre comment créer un système automatisé de notification de progression de construction pour les entreprises immobilières. Le flux de travail se déclenche quotidiennement à 8h00 IST pour vérifier une feuille Google pour les rapports de construction des entrepreneurs, traite automatiquement les données et envoie des mises à jour complètes du projet aux acheteurs par e-mail et WhatsApp. Parfait pour les promoteurs immobiliers souhaitant maintenir une communication transparente avec les acheteurs et garantir des mises à jour de statut de projet en temps voulu.\n\n## Bon à savoir\n* La surveillance automatisée quotidienne garantit qu'aucune mise à jour de construction n'est manquée\n* La communication multicanal (E-mail + WhatsApp) atteint les acheteurs par leur méthode préférée\n* Le système de filtrage intelligent ne traite que les rapports d'aujourd'hui pour des mises à jour pertinentes\n* La journalisation complète suit toutes les activités de notification à des fins d'audit\n* Le système d'alerte intégré notifie les administrateurs lorsque les entrepreneurs ne soumettent pas de rapports\n* Gère plusieurs projets et entrepreneurs simultanément sans conflits de données\n\n## Comment ça fonctionne\n\n### **Flux de travail de surveillance quotidienne**\n* Le système se déclenche automatiquement chaque jour à 8h00 IST pour vérifier les nouveaux rapports de construction\n* La configuration de la feuille Google est définie avec l'ID de la feuille, le nom de la feuille et la date d'aujourd'hui pour le filtrage\n* Toutes les données de construction sont lues à partir de la feuille Google désignée contenant les soumissions des entrepreneurs\n* Le filtrage avancé isole uniquement les rapports d'aujourd'hui en fonction de la colonne Date pour le traitement\n\n### **Flux de travail de traitement des rapports**\n* Le système vérifie si des rapports de construction ont été soumis pour la date actuelle\n* Si des rapports sont trouvés : Des notifications détaillées sont préparées et envoyées à tous les acheteurs enregistrés\n* Si aucun rapport n'est trouvé : Des notifications d'alerte sont envoyées aux administrateurs concernant les soumissions manquantes\n* Toutes les données du projet sont compilées en résumés complets avec des pourcentages de progression et des mises à jour de statut\n\n### **Flux de travail de distribution des notifications**\n* Les notifications par e-mail contiennent des résumés de construction détaillés avec toutes les informations sur le projet\n* Les messages WhatsApp fournissent des mises à jour concises avec des indicateurs de progression clés et le statut\n* Les messages sont personnalisés avec les noms des projets, les pourcentages d'achèvement et les détails des entrepreneurs\n* Plusieurs destinataires reçoivent des notifications simultanément par les deux canaux de communication\n\n### **Flux de travail de journalisation des activités**\n* Toutes les activités de notification sont enregistrées avec des horodatages précis et des informations sur les destinataires\n* Les journaux de succès enregistrent le nombre de projets, le nombre de destinataires et la confirmation de livraison\n* Les journaux d'avertissement capturent les instances où aucun rapport n'est trouvé pour un suivi administratif\n* Une piste d'audit complète maintient la conformité et le suivi pour la gestion de projet\n\n## Structure de la feuille Google\n\n### **Feuille des rapports de construction**\n* `Date` - Date de soumission du rapport (format JJ/MM/AAAA)\n* `Nom_Projet` - Nom du projet de construction\n* `Nom_Entrepreneur` - Nom de l'entrepreneur responsable\n* `Emplacement` - Emplacement du projet ou adresse du site\n* `Pourcentage_Progression` - Pourcentage d'achèvement actuel (0-100%)\n* `Statut` - Statut actuel du projet (Sur la bonne voie, Retardé, Terminé, etc.)\n* `Description_Travail` - Description détaillée des activités de construction d'aujourd'hui\n* `Problèmes` - Tout problème ou défi rencontré (optionnel)\n* `Statut_Budget` - Mise à jour du statut financier (Dans le budget, Dépassé, Sous budget)\n* `Prochain_Échéance` - Prochain jalon ou date cible du projet\n\n## Comment utiliser\n* Importez le flux de travail dans votre instance n8n et configurez l'intégration de Google Sheets\n* Configurez votre feuille Google avec la structure de colonnes requise pour les rapports de construction\n* Configurez les paramètres SMTP de l'e-mail pour une livraison professionnelle des mises à jour de construction\n* Configurez l'API WhatsApp Business pour des notifications mobiles instantanées aux acheteurs\n* Ajoutez les adresses e-mail des acheteurs et les numéros WhatsApp aux listes de destinataires de notification\n* Les entrepreneurs soumettent des rapports quotidiens à la feuille Google avant 8h00 pour un traitement le jour même\n* Le système traite automatiquement et distribue les mises à jour à tous les acheteurs enregistrés\n* Surveillez les journaux pour la confirmation de livraison et les alertes de rapports manquants\n\n## Exigences\n* Compte Google Sheets pour le stockage et la gestion des données des rapports de construction\n* Intégration de service e-mail (Gmail, SMTP ou système de messagerie d'entreprise)\n* Compte API WhatsApp Business pour des capacités de messagerie mobile\n* Instance n8n avec les connecteurs Google Sheets, E-mail et WhatsApp correctement configurés\n* Identifiants valides pour tous les services intégrés (Google OAuth, SMTP, API WhatsApp)\n\n## Personnalisation de ce flux de travail\n* L'automatisation des mises à jour de construction peut être adaptée à différents types de projets et échelles de développement\n* Essayez des cas d'utilisation populaires tels que des résumés de progression hebdomadaires, des notifications de jalons ou des alertes de construction d'urgence\n* Le flux de travail peut être étendu pour inclure des pièces jointes photo des sites de construction, des évaluations d'impact météorologique et des rapports de conformité en matière de sécurité\n* Les possibilités d'intégration incluent des systèmes CRM pour la gestion des acheteurs, des outils de gestion de projet pour la coordination des entrepreneurs et des systèmes financiers pour le suivi budgétaire\n* La planification des notifications peut être ajustée pour différents fuseaux horaires, plusieurs mises à jour quotidiennes ou des exigences de timing spécifiques au projet\n* Les fonctionnalités avancées peuvent inclure la collecte de retours d'acheteurs, des évaluations de performance des entrepreneurs et des notifications automatiques de retard avec des plans d'atténuation",
  "workflow": {
    "id": "Dj30tB9fIDgZhHm0",
    "meta": {
      "instanceId": "dd69efaf8212c74ad206700d104739d3329588a6f3f8381a46a481f34c9cc281",
      "templateCredsSetupCompleted": true
    },
    "name": "Send Daily Real Estate Construction Updates to Buyers",
    "tags": [],
    "nodes": [
      {
        "id": "1ee0759b-7485-41cb-acdb-bda40a17f3e5",
        "name": "Daily Trigger (8:00 AM IST)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -2040,
          60
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8
              }
            ]
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "640457a6-f3d3-492b-b9ca-7c3d8d0b34f8",
        "name": "Set Google Sheet Config",
        "type": "n8n-nodes-base.set",
        "position": [
          -1820,
          60
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "4669b111-8540-4de2-a5f7-672f2ad81e98",
                "name": "Sheet_ID",
                "type": "string",
                "value": "1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms"
              },
              {
                "id": "58c89ccb-2e3d-4334-9366-d0b285fdfbd8",
                "name": "Sheet_Name",
                "type": "string",
                "value": "Construction_Reports"
              },
              {
                "id": "1a2b3c4d-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
                "name": "Today_Date",
                "type": "string",
                "value": "={{ $now.format('DD/MM/YYYY') }}"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "a90e3dc3-fdcd-4d27-b1d1-02943146ad02",
        "name": "Read Google Sheet Data",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          -1600,
          60
        ],
        "parameters": {
          "options": {},
          "sheetName": "={{ $('Set Google Sheet Config').item.json.Sheet_Name }}",
          "documentId": "={{ $('Set Google Sheet Config').item.json.Sheet_ID }}"
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "rgIk6EXVdPbmPYAl",
            "name": "Google Sheets account"
          }
        },
        "typeVersion": 4.4
      },
      {
        "id": "2a48679b-71b1-4479-8080-f3e16dc3498a",
        "name": "Filter Today's Reports",
        "type": "n8n-nodes-base.filter",
        "position": [
          -1380,
          60
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "7h8i9j0k-1l2m-3n4o-5p6q-r7s8t9u0v1w2",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.Date }}",
                "rightValue": "={{ $('Set Google Sheet Config').item.json.Today_Date }}"
              }
            ]
          }
        },
        "typeVersion": 2
      },
      {
        "id": "9f461a8c-2971-44a9-bbbf-b64b9a02ea60",
        "name": "Check If Reports Found",
        "type": "n8n-nodes-base.if",
        "position": [
          -1160,
          60
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "2x3y4z5a-6b7c-8d9e-0f1g-h2i3j4k5l6m7",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $runIndex }}",
                "rightValue": "0"
              }
            ]
          }
        },
        "typeVersion": 2
      },
      {
        "id": "18c77930-ada3-43a7-9835-54a1c6fbd8c2",
        "name": "Set Notification Recipients",
        "type": "n8n-nodes-base.set",
        "position": [
          -940,
          60
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "0b0969ab-45d1-427c-bac0-bd59a43661d7",
                "name": "Notification_Users",
                "type": "string",
                "value": "user1@gmail.com,user2@gmail.com,projectmanager@company.com"
              },
              {
                "id": "4d5e6f7g-8h9i-0j1k-2l3m-n4o5p6q7r8s9",
                "name": "WhatsApp_Numbers",
                "type": "string",
                "value": "+919876543210,+919876543211,+919876543212"
              },
              {
                "id": "9t0u1v2w-3x4y-5z6a-7b8c-d9e0f1g2h3i4",
                "name": "Admin_Email",
                "type": "string",
                "value": "admin@constructioncompany.com"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "01ee5331-df8e-4fe1-9156-d1c6258b33c8",
        "name": "Create Notification Content",
        "type": "n8n-nodes-base.set",
        "position": [
          -720,
          60
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "ad95bad5-c4ac-4864-a83c-06d59d99b415",
                "name": "Report_Summary",
                "type": "string",
                "value": "=📋 **CONSTRUCTION REPORTS SUMMARY - {{ $('Set Google Sheet Config').item.json.Today_Date }}**\n\n{{ $('Filter Today\\'s Reports').all().map(item => `🏗️ **${item.json.Project_Name}**\n👷 Contractor: ${item.json.Contractor_Name}\n📍 Location: ${item.json.Location}\n📊 Progress: ${item.json.Progress_Percentage}%\n⚡ Status: ${item.json.Status}\n📝 Today's Work: ${item.json.Work_Description}\n🚧 Issues: ${item.json.Issues || 'None reported'}\n💰 Budget Status: ${item.json.Budget_Status}\n📅 Next Milestone: ${item.json.Next_Milestone}\n\n---\n`).join('') }}\n\n📊 Total Projects Updated: {{ $('Filter Today\\'s Reports').all().length }}\n⏰ Report Generated: {{ $now.format('DD/MM/YYYY HH:mm:ss') }}"
              },
              {
                "id": "5j6k7l8m-9n0o-1p2q-3r4s-t5u6v7w8x9y0",
                "name": "Email_Subject",
                "type": "string",
                "value": "🏗️ Daily Construction Reports - {{ $('Set Google Sheet Config').item.json.Today_Date }} ({{ $('Filter Today\\'s Reports').all().length }} Projects Updated)"
              },
              {
                "id": "0z1a2b3c-4d5e-6f7g-8h9i-j0k1l2m3n4o5",
                "name": "WhatsApp_Message",
                "type": "string",
                "value": "=🏗️ *Daily Construction Update*\n📅 {{ $('Set Google Sheet Config').item.json.Today_Date }}\n\n📊 *{{ $('Filter Today\\'s Reports').all().length }} Projects Updated Today*\n\n{{ $('Filter Today\\'s Reports').all().map(item => `🔸 *${item.json.Project_Name}*\n   Progress: ${item.json.Progress_Percentage}%\n   Status: ${item.json.Status}\n   Contractor: ${item.json.Contractor_Name}\n\n`).join('') }}For detailed reports, check your email.\n\n_Auto-generated from Construction Reports Sheet_"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "8fe62b99-7e70-4ae0-9ecf-fa5cd5338f10",
        "name": "Send WhatsApp Notification",
        "type": "n8n-nodes-base.whatsApp",
        "position": [
          -500,
          160
        ],
        "webhookId": "f6576fdd-1b46-4617-ae60-31c4636c38fd",
        "parameters": {
          "textBody": "={{ $('Create Notification Content').item.json.WhatsApp_Message }}",
          "operation": "send",
          "phoneNumberId": "=+919876543210",
          "additionalFields": {},
          "recipientPhoneNumber": "+919876543210"
        },
        "credentials": {
          "whatsAppApi": {
            "id": "b0PxTDPdWzznWnfG",
            "name": "WhatsApp-test "
          }
        },
        "typeVersion": 1
      },
      {
        "id": "9576da40-cab9-4a20-b3bb-332696306e30",
        "name": "Send Email Notification",
        "type": "n8n-nodes-base.emailSend",
        "position": [
          -500,
          -40
        ],
        "webhookId": "d0c3ff03-3c95-4d34-b6a2-1c8594fb080b",
        "parameters": {
          "text": "={{ $('Create Notification Content').item.json.Report_Summary }}",
          "options": {},
          "subject": "={{ $('Create Notification Content').item.json.Email_Subject }}",
          "toEmail": "={{ $('Set Notification Recipients').item.json.Notification_Users }}",
          "fromEmail": "reports@constructioncompany.com",
          "emailFormat": "text"
        },
        "credentials": {
          "smtp": {
            "id": "G1kyF8cSWTZ4vouN",
            "name": "SMTP -test"
          }
        },
        "typeVersion": 2.1
      },
      {
        "id": "47dc08b6-d4b8-4380-af14-81732c6cf598",
        "name": "Log Successful Notifications",
        "type": "n8n-nodes-base.set",
        "position": [
          -280,
          60
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "6p7q8r9s-0t1u-2v3w-4x5y-z6a7b8c9d0e1",
                "name": "Success_Log",
                "type": "string",
                "value": "{{ $now.format('DD/MM/YYYY HH:mm:ss') }} - SUCCESS: Daily construction reports sent to {{ $('Set Notification Recipients').item.json.Notification_Users.split(',').length }} users via Email & WhatsApp. Reports found: {{ $('Filter Today\\'s Reports').all().length }} projects. Sheet: {{ $('Set Google Sheet Config').item.json.Sheet_Name }}"
              },
              {
                "id": "2f3g4h5i-6j7k-8l9m-0n1o-p2q3r4s5t6u7",
                "name": "Log_Status",
                "type": "string",
                "value": "COMPLETED"
              },
              {
                "id": "log-details-001",
                "name": "Projects_Reported",
                "type": "string",
                "value": "={{ $('Filter Today\\'s Reports').all().map(item => item.json.Project_Name).join(', ') }}"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "17c027f8-e22b-4169-9562-5e9e0c253344",
        "name": "Sticky Note - Trigger",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2080,
          -120
        ],
        "parameters": {
          "width": 180,
          "height": 340,
          "content": "Triggers every day at 8:00 AM IST to check Google Sheet for new construction reports from contractors."
        },
        "typeVersion": 1
      },
      {
        "id": "5675361f-8fc5-462b-9591-3b273e5937af",
        "name": "Sticky Note - Config",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1860,
          -120
        ],
        "parameters": {
          "color": 4,
          "width": 180,
          "height": 340,
          "content": "Configure Google Sheet ID, sheet name, and today's date for filtering the latest reports."
        },
        "typeVersion": 1
      },
      {
        "id": "27d8d7b0-7fa5-4c22-9921-168c46149118",
        "name": "Sticky Note - Read Sheet",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1640,
          -120
        ],
        "parameters": {
          "color": 3,
          "width": 180,
          "height": 340,
          "content": "Read all data from the Google Sheet containing contractor reports with project details, progress, and status."
        },
        "typeVersion": 1
      },
      {
        "id": "26908522-c63d-4dd8-b50c-459e2e04389c",
        "name": "Sticky Note - Filter",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1420,
          -120
        ],
        "parameters": {
          "color": 5,
          "width": 180,
          "height": 340,
          "content": "Filter the sheet records to get only today's reports based on the Date column."
        },
        "typeVersion": 1
      },
      {
        "id": "f8cb9405-eb82-4ebc-91c6-e1d332ba3717",
        "name": "Sticky Note - Check Reports",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1200,
          -120
        ],
        "parameters": {
          "width": 180,
          "height": 340,
          "content": "Check if any reports were found for today. If yes, send notifications. If no, send alert to admin."
        },
        "typeVersion": 1
      },
      {
        "id": "75105320-736f-4c7e-bbcb-8461f26aac49",
        "name": "Sticky Note - Contacts",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -980,
          -120
        ],
        "parameters": {
          "color": 4,
          "width": 180,
          "height": 340,
          "content": "Email and WhatsApp contact lists for users who should receive daily construction report notifications."
        },
        "typeVersion": 1
      },
      {
        "id": "5a93ee43-7991-434f-a0d1-da6950826479",
        "name": "Sticky Note - Send Notifications",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -540,
          -160
        ],
        "parameters": {
          "color": 3,
          "width": 180,
          "height": 500,
          "content": "Send detailed construction reports to all users via Email and WhatsApp with project summaries."
        },
        "typeVersion": 1
      },
      {
        "id": "d4bd125e-a980-479b-9ab2-e2ba7cb01753",
        "name": "Sticky Note - Logging",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -320,
          -120
        ],
        "parameters": {
          "color": 2,
          "width": 180,
          "height": 340,
          "content": "Log all notification activities with timestamps, recipient count, and project details for audit trail."
        },
        "typeVersion": 1
      },
      {
        "id": "d13a8eb1-946d-445a-a837-32a4be084e87",
        "name": "Sticky Note - Send Notifications1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -760,
          -120
        ],
        "parameters": {
          "color": 5,
          "width": 180,
          "height": 340,
          "content": "Create detailed construction reports."
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "eadd981e-6c76-4e5d-81ae-864311a818d1",
    "connections": {
      "Check If Reports Found": {
        "main": [
          [
            {
              "node": "Set Notification Recipients",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Filter Today's Reports": {
        "main": [
          [
            {
              "node": "Check If Reports Found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Google Sheet Data": {
        "main": [
          [
            {
              "node": "Filter Today's Reports",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Email Notification": {
        "main": [
          [
            {
              "node": "Log Successful Notifications",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Google Sheet Config": {
        "main": [
          [
            {
              "node": "Read Google Sheet Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send WhatsApp Notification": {
        "main": [
          [
            {
              "node": "Log Successful Notifications",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Notification Content": {
        "main": [
          [
            {
              "node": "Send WhatsApp Notification",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Email Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily Trigger (8:00 AM IST)": {
        "main": [
          [
            {
              "node": "Set Google Sheet Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Notification Recipients": {
        "main": [
          [
            {
              "node": "Create Notification Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 19,
    "nodeTypes": {
      "n8n-nodes-base.if": {
        "count": 1
      },
      "n8n-nodes-base.set": {
        "count": 4
      },
      "n8n-nodes-base.filter": {
        "count": 1
      },
      "n8n-nodes-base.whatsApp": {
        "count": 1
      },
      "n8n-nodes-base.emailSend": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 9
      },
      "n8n-nodes-base.googleSheets": {
        "count": 1
      },
      "n8n-nodes-base.scheduleTrigger": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Oneclick AI Squad",
    "username": "oneclick-ai",
    "bio": "The AI Squad Initiative is a pioneering effort to build, automate and scale AI-powered workflows using n8n.io. Our mission is to help individuals and businesses integrate AI agents seamlessly into their daily operations  from automating tasks and enhancing productivity to creating innovative, intelligent solutions. We design modular, reusable AI workflow templates that empower creators, developers and teams to supercharge their automation with minimal effort and maximum impact.",
    "verified": true,
    "links": [
      "https://www.oneclickitsolution.com/"
    ],
    "avatar": "https://gravatar.com/avatar/848fca91367142f65f9e5c55d64e5c9952b160d7b060d103b52aa343c6bc7b3d?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 11,
      "icon": "fa:envelope",
      "name": "n8n-nodes-base.emailSend",
      "codex": {
        "data": {
          "alias": [
            "SMTP",
            "email",
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/build-your-own-virtual-assistant-with-n8n-a-step-by-step-guide/",
                "icon": "👦",
                "label": "Build your own virtual assistant with n8n: A step by step guide"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.sendemail/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/credentials/sendemail/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Envoyer un e-mail",
        "color": "#00bb88"
      },
      "iconData": {
        "icon": "envelope",
        "type": "icon"
      },
      "displayName": "Send Email",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 18,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheets",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Sheet",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                "icon": "❤️",
                "label": "Love at first sight: Ricardo’s n8n journey"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                "icon": "⏲",
                "label": "Creating triggers for n8n workflows using polling"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                "icon": "🍔",
                "label": "How Honest Burgers Use Automation to Save $100k per year"
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\",\"output\"]",
      "defaults": {
        "name": "Google Sheets"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets",
      "typeVersion": 5,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 20,
      "icon": "fa:map-signs",
      "name": "n8n-nodes-base.if",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                "icon": "🏷️",
                "label": "How to automatically manage contributions to open-source projects"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Si",
        "color": "#408000"
      },
      "iconData": {
        "icon": "map-signs",
        "type": "icon"
      },
      "displayName": "If",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 38,
      "icon": "fa:pen",
      "name": "n8n-nodes-base.set",
      "codex": {
        "data": {
          "alias": [
            "Set",
            "JS",
            "JSON",
            "Filter",
            "Transform",
            "Map"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Modifier les champs"
      },
      "iconData": {
        "icon": "pen",
        "type": "icon"
      },
      "displayName": "Edit Fields (Set)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 827,
      "icon": "file:whatsapp.svg",
      "name": "n8n-nodes-base.whatsApp",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.whatsapp/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/whatsapp/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "WhatsApp Business Cloud"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHZpZXdCb3g9IjAgMCA0OCA0OCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0ibTQuODY4IDQzLjMwMyAyLjY5NC05LjgzNWExOC45NCAxOC45NCAwIDAgMS0yLjUzNS05LjQ4OUM1LjAzMiAxMy41MTQgMTMuNTQ4IDUgMjQuMDE0IDVhMTguODcgMTguODcgMCAwIDEgMTMuNDMgNS41NjZBMTguODcgMTguODcgMCAwIDEgNDMgMjMuOTk0Yy0uMDA0IDEwLjQ2NS04LjUyMiAxOC45OC0xOC45ODYgMTguOThoLS4wMDhhMTkgMTkgMCAwIDEtOS4wNzMtMi4zMTF6Ii8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTQuODY4IDQzLjgwM2EuNS41IDAgMCAxLS40ODItLjYzMWwyLjYzOS05LjYzNmExOS41IDE5LjUgMCAwIDEtMi40OTctOS41NTZDNC41MzIgMTMuMjM4IDEzLjI3MyA0LjUgMjQuMDE0IDQuNWExOS4zNyAxOS4zNyAwIDAgMSAxMy43ODQgNS43MTNBMTkuMzYgMTkuMzYgMCAwIDEgNDMuNSAyMy45OTRjLS4wMDQgMTAuNzQxLTguNzQ2IDE5LjQ4LTE5LjQ4NiAxOS40OGExOS41NCAxOS41NCAwIDAgMS05LjE0NC0yLjI3N2wtOS44NzUgMi41ODlhLjUuNSAwIDAgMS0uMTI3LjAxNyIvPjxwYXRoIGZpbGw9IiNjZmQ4ZGMiIGQ9Ik0yNC4wMTQgNWExOC44NyAxOC44NyAwIDAgMSAxMy40MyA1LjU2NkExOC44NyAxOC44NyAwIDAgMSA0MyAyMy45OTRjLS4wMDQgMTAuNDY1LTguNTIyIDE4Ljk4LTE4Ljk4NiAxOC45OGgtLjAwOGExOSAxOSAwIDAgMS05LjA3My0yLjMxMWwtMTAuMDY1IDIuNjQgMi42OTQtOS44MzVhMTguOTQgMTguOTQgMCAwIDEtMi41MzUtOS40ODlDNS4wMzIgMTMuNTE0IDEzLjU0OCA1IDI0LjAxNCA1bTAtMUMxMi45OTggNCA0LjAzMiAxMi45NjIgNC4wMjcgMjMuOTc5YTIwIDIwIDAgMCAwIDIuNDYxIDkuNjIyTDMuOTAzIDQzLjA0YS45OTguOTk4IDAgMCAwIDEuMjE5IDEuMjMxbDkuNjg3LTIuNTRhMjAgMjAgMCAwIDAgOS4xOTcgMi4yNDRjMTEuMDI0IDAgMTkuOTktOC45NjMgMTkuOTk1LTE5Ljk4QTE5Ljg2IDE5Ljg2IDAgMCAwIDM4LjE1MyA5Ljg2IDE5Ljg3IDE5Ljg3IDAgMCAwIDI0LjAxNCA0Ii8+PHBhdGggZmlsbD0iIzQwYzM1MSIgZD0iTTM1LjE3NiAxMi44MzJhMTUuNjcgMTUuNjcgMCAwIDAtMTEuMTU3LTQuNjI2Yy04LjcwNCAwLTE1Ljc4MyA3LjA3Ni0xNS43ODcgMTUuNzc0YTE1Ljc0IDE1Ljc0IDAgMCAwIDIuNDEzIDguMzk2bC4zNzYuNTk3LTEuNTk1IDUuODIxIDUuOTczLTEuNTY2LjU3Ny4zNDJhMTUuNzUgMTUuNzUgMCAwIDAgOC4wMzIgMi4xOTloLjAwNmM4LjY5OCAwIDE1Ljc3Ny03LjA3NyAxNS43OC0xNS43NzZhMTUuNjggMTUuNjggMCAwIDAtNC42MTgtMTEuMTYxIi8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE5LjI2OCAxNi4wNDVjLS4zNTUtLjc5LS43MjktLjgwNi0xLjA2OC0uODItLjI3Ny0uMDEyLS41OTMtLjAxMS0uOTA5LS4wMTFzLS44My4xMTktMS4yNjUuNTk0LTEuNjYxIDEuNjIyLTEuNjYxIDMuOTU2IDEuNyA0LjU5IDEuOTM3IDQuOTA2IDMuMjgyIDUuMjU5IDguMTA0IDcuMTYxYzQuMDA3IDEuNTggNC44MjMgMS4yNjYgNS42OTMgMS4xODdzMi44MDctMS4xNDcgMy4yMDItMi4yNTUuMzk1LTIuMDU3LjI3Ny0yLjI1NWMtLjExOS0uMTk4LS40MzUtLjMxNi0uOTA5LS41NTRzLTIuODA3LTEuMzg1LTMuMjQyLTEuNTQzLS43NTEtLjIzNy0xLjA2OC4yMzhjLS4zMTYuNDc0LTEuMjI1IDEuNTQzLTEuNTAyIDEuODU5cy0uNTU0LjM1Ny0xLjAyOC4xMTktMi4wMDItLjczOC0zLjgxNS0yLjM1NGMtMS40MS0xLjI1Ny0yLjM2Mi0yLjgxLTIuNjM5LTMuMjg1LS4yNzctLjQ3NC0uMDMtLjczMS4yMDgtLjk2OC4yMTMtLjIxMy40NzQtLjU1NC43MTItLjgzMS4yMzctLjI3Ny4zMTYtLjQ3NS40NzQtLjc5MXMuMDc5LS41OTQtLjA0LS44MzFjLS4xMTctLjIzOC0xLjAzOS0yLjU4NC0xLjQ2MS0zLjUyMiIvPjwvc3ZnPg=="
      },
      "displayName": "WhatsApp Business Cloud",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 839,
      "icon": "fa:clock",
      "name": "n8n-nodes-base.scheduleTrigger",
      "codex": {
        "data": {
          "alias": [
            "Time",
            "Scheduler",
            "Polling",
            "Cron",
            "Interval"
          ],
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\",\"schedule\"]",
      "defaults": {
        "name": "Déclencheur de planification",
        "color": "#31C49F"
      },
      "iconData": {
        "icon": "clock",
        "type": "icon"
      },
      "displayName": "Schedule Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 844,
      "icon": "fa:filter",
      "name": "n8n-nodes-base.filter",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The Filter node can be used to filter items based on a condition. If the condition is met, the item will be passed on to the next node. If the condition is not met, the item will be omitted. Conditions can be combined together by AND(meet all conditions), or OR(meet at least one condition).",
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.filter/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Filtrer",
        "color": "#229eff"
      },
      "iconData": {
        "icon": "filter",
        "type": "icon"
      },
      "displayName": "Filter",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 46,
      "name": "Gestion de projet"
    }
  ],
  "image": []
}