automation/i18n/fr-FR/Sentiment Analysis of Product Reviews using Google Sheets & OpenAI.json
{
  "id": 6739,
  "name": "Analyse de Sentiment des Avis de Produits utilisant Google Sheets & OpenAI",
  "views": 259,
  "recentViews": 1,
  "totalViews": 259,
  "createdAt": "2025-07-31T12:03:32.652Z",
  "description": "# 🧠 Analyse de Sentiment des Avis de Produits utilisant Google Sheets & OpenAI\n\n## 🚀 Étapes d'Implémentation Rapides\n\n**Analyseur de feedback client automatisé** :\n\n- **Déclencheur** : Google Sheets déclenche sur de nouvelles lignes d'avis de produits.\n- **Analyse de Sentiment** : Le texte de l'avis est envoyé à OpenAI.\n- **Écriture** : Le sentiment résultant (Positif, Neutre, Négatif) est écrit dans la feuille.\n\nIl vous suffit de connecter vos identifiants et votre feuille — vous êtes prêt à partir !\n\n## 🔍 Ce Que Cela Fait\n\nCe flux de travail analyse automatiquement les avis de produits soumis par les utilisateurs et les classe par sentiment en utilisant les puissants modèles linguistiques d'OpenAI. Il élimine le besoin de trier manuellement les retours en étiquetant chaque avis avec un score de sentiment.\n\nLe résultat du sentiment est ensuite écrit dans la Google Sheet à côté de l'avis original, vous permettant d'obtenir un aperçu rapide et clair de la perception globale des clients, de la satisfaction et des points de douleur. Que vous surveilliez 10 ou 10 000 avis, ce processus s'adapte sans effort et se met à jour chaque minute.\n\n## 👤 Pour Qui C'est\n\nCe flux de travail est conçu pour :\n\n- **Équipes de commerce électronique** collectant des avis d'utilisateurs.\n- **Équipes produit** surveillant les retours clients.\n- **Équipes marketing** identifiant les avis à promouvoir.\n- **Équipes de support** surveillant les expériences négatives.\n- **Plateformes SaaS**, applications et outils d'enquête gérant des retours de texte structurés.\n\n## ✅ Exigences\n\nVous aurez besoin de :\n\n- Une Google Sheet avec deux colonnes : `Avis` et `Sentiment`\n- Identifiants OAuth2 de Google Sheets dans n8n\n- Clé API OpenAI (pour GPT-4o-mini ou GPT-3.5)\n- Instance n8n avec LangChain et nœuds OpenAI activés\n\n## ⚙️ Comment Cela Fonctionne\n\n1. **Déclencheur Google Sheets** : Surveille les nouvelles lignes chaque minute\n2. **Intégration OpenAI** :\n   - Utilise le nœud `Analyse de Sentiment` de LangChain\n   - Passe le texte de l'avis dans GPT-4o-mini via le nœud `Modèle de Chat OpenAI`\n3. **Mise à Jour de la Feuille** : Le résultat du sentiment (Positif, Négatif ou Neutre) est écrit dans la colonne `Sentiment` dans la même ligne.\n\nDes notes autocollantes sont incluses pour une meilleure compréhension visuelle à l'intérieur de l'éditeur de flux de travail.\n\n## 🛠️ Étapes pour Configurer et Utiliser\n\n### 1. Préparez Votre Google Sheet\n\nAssurez-vous que votre feuille est nommée `Sheet1` avec la structure suivante :\n\n| Avis                                   | Sentiment |\n|----------------------------------------|-----------|\n| Je l'adore absolument !                |           |\n| Pas à la hauteur du prix.              |           |\n\n### 2. Configurez les Identifiants\n\n- **Google Sheets** : identifiants OAuth2\n- **OpenAI** : Clé API ajoutée via l'identifiant `API OpenAI` dans n8n\n\n### 3. Importez & Activez le Flux de Travail\n\n- Importez le JSON du flux de travail dans votre instance n8n.\n- Assignez les identifiants appropriés au déclencheur et aux nœuds OpenAI.\n- Activez le flux de travail.\n\n## 🧩 Comment Personnaliser\n\n- 🛎️ **Alertes** : Ajoutez des nœuds Slack/Email pour les alertes de sentiment négatif\n- 🔄 **Déclenchement** : Changez l'intervalle de sondage pour des déclencheurs en temps réel (par exemple, webhook)\n- 📊 **Sentiment Étendu** : Modifiez les catégories de sentiment (par exemple, \"Mixte\", \"Sarcaste\")\n- 🧾 **Rapport Résumé** : Ajoutez des nœuds Cron + Agrégation pour des résumés quotidiens/hebdomadaires\n- 🧠 **Ajustement de Prompt** : Ajustez le prompt système pour une évaluation de sentiment plus profonde ou contextuelle\n\n## 🧱 Add-ons (Fonctionnalités Optionnelles)\n\n- Résumé par Email des Avis Négatifs\n- Journalisation Google Drive\n- Notification d'Équipe via Slack\n- Résumé vers Notion, Airtable ou Google Docs\n\n## 📌 Exemples de Cas d'Utilisation\n\n- **Magasins en Ligne** : Auto-étiquetez les avis pour la surveillance de la réputation\n- **Équipes Produit** : Voyez quelles versions de fonctionnalités génèrent du buzz positif ou négatif\n- **Tableaux de Bord CX** : Alimentez le sentiment en temps réel dans des outils BI internes\n- **Marketing** : Extrayez des avis élogieux pour une preuve sociale\n- **Support** : Triez les problèmes en signalant instantanément les commentaires critiques\n\n*...et de nombreuses autres applications où des retours de texte sont collectés.*\n\n## 🧰 Guide de Dépannage\n\n| Problème                  | Cause Possible                             | Solution Suggérée                                 |\n|--------------------------|-------------------------------------------|--------------------------------------------------|\n| Sentiment non mis à jour | Identifiants de feuille manquants ou mal configurés | Reconnectez Google Sheets OAuth2                 |\n| Sentiment vide           | Colonne d'avis vide ou mal alignée       | Assurez-vous que l'en-tête de colonne et la valeur sont présents |\n| Erreurs OpenAI           | Clé API invalide ou expirée               | Régénérez la clé API depuis OpenAI et ré-authentifiez |\n| Le flux de travail ne s'exécute pas | Paramètres de sondage incorrects         | Confirmez l'intervalle et l'ID de document dans le nœud de déclencheur |\n\n## 🤝 Besoin d'Aide ?\n\nSi vous avez besoin d'assistance pour\n\n- ✅ Aide à la configuration de ce flux de travail\n- ⚙️ Personnalisation des prompts ou des résultats\n- 🚀 Automatisation de votre pipeline d'avis complet\n\n👉 Contactez-nous aujourd'hui chez WeblineIndia. Nous serons heureux de vous aider.",
  "workflow": {
    "id": "ugi00HVDOW9kN81g",
    "meta": {
      "instanceId": "14e4c77104722ab186539dfea5182e419aecc83d85963fe13f6de862c875ebfa",
      "templateCredsSetupCompleted": true
    },
    "name": "Sentiment Analysis of Product Reviews with OpenAI",
    "tags": [],
    "nodes": [
      {
        "id": "a0c76f41-a0f7-4c15-88ed-9372ecac1db3",
        "name": "Sentiment Analysis",
        "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
        "position": [
          -100,
          -40
        ],
        "parameters": {
          "options": {},
          "inputText": "={{ $json.Review }}"
        },
        "typeVersion": 1
      },
      {
        "id": "4fc752b9-8dcf-4c92-9ffe-83ff63f02a6e",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          -80,
          160
        ],
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "",
            "name": ""
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "2fb5412d-bf2f-4e9c-9f99-e057b6b8c0bc",
        "name": "Google Sheets Trigger",
        "type": "n8n-nodes-base.googleSheetsTrigger",
        "position": [
          -300,
          -40
        ],
        "parameters": {
          "options": {},
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "",
            "cachedResultName": "Sheet1"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1HOq0GIqZ80rMhlDaU9B4d4Vq9BPj1WsTzfnB1kAmY2g",
            "cachedResultUrl": "",
            "cachedResultName": "Review"
          }
        },
        "credentials": {
          "googleSheetsTriggerOAuth2Api": {
            "id": "",
            "name": ""
          }
        },
        "typeVersion": 1
      },
      {
        "id": "88925ca1-3294-4655-8943-67f403044dd9",
        "name": "Updated Sentiment of Product Review",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          440,
          -60
        ],
        "parameters": {
          "columns": {
            "value": {
              "Review": "={{ $json.Review }}",
              "Sentiment": "={{ $json.sentimentAnalysis.category }}"
            },
            "schema": [
              {
                "id": "Review",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Review",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Sentiment",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Sentiment",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "type": "string",
                "display": true,
                "removed": true,
                "readOnly": true,
                "required": false,
                "displayName": "row_number",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "Review"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "update",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "",
            "cachedResultName": "Sheet1"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1HOq0GIqZ80rMhlDaU9B4d4Vq9BPj1WsTzfnB1kAmY2g",
            "cachedResultUrl": "",
            "cachedResultName": "Review"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "",
            "name": ""
          }
        },
        "typeVersion": 4.5
      },
      {
        "id": "dd0610dd-524c-4987-8fca-fc2ed6e1deb2",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -440,
          -240
        ],
        "parameters": {
          "color": 3,
          "width": 1100,
          "height": 520,
          "content": "## Sentiment Analysis of Product Review Using OpenAI"
        },
        "typeVersion": 1
      },
      {
        "id": "be858b1d-e0c6-4337-b3da-77b748b82597",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -440,
          300
        ],
        "parameters": {
          "color": 7,
          "width": 1100,
          "height": 180,
          "content": "## Description\n\nWhenever a product review is submitted, the workflow is initiated. Each review is then sent for sentiment analysis using OpenAI. Once the sentiment is determined, the result is updated alongside the review."
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "07a342c5-be90-41f9-99c3-93d918db974d",
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Sentiment Analysis",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Sentiment Analysis": {
        "main": [
          [
            {
              "node": "Updated Sentiment of Product Review",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Updated Sentiment of Product Review",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Updated Sentiment of Product Review",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets Trigger": {
        "main": [
          [
            {
              "node": "Sentiment Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 6,
    "nodeTypes": {
      "n8n-nodes-base.stickyNote": {
        "count": 2
      },
      "n8n-nodes-base.googleSheets": {
        "count": 1
      },
      "n8n-nodes-base.googleSheetsTrigger": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.lmChatOpenAi": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.sentimentAnalysis": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "WeblineIndia",
    "username": "weblineindia",
    "bio": "A Leading Software Engineering, Consulting & Outsourcing Services Company in USA & India serving Clients Globally since 1999.",
    "verified": true,
    "links": [
      "https://www.weblineindia.com/"
    ],
    "avatar": "https://gravatar.com/avatar/a229d43aefca4588581583c58bb37b4773aebbdf4c1fef86a08bb1d38eae91fa?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 18,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheets",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Sheet",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                "icon": "❤️",
                "label": "Love at first sight: Ricardo’s n8n journey"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                "icon": "⏲",
                "label": "Creating triggers for n8n workflows using polling"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                "icon": "📈",
                "label": "Migrating Community Metrics to Orbit using n8n"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                "icon": "🍔",
                "label": "How Honest Burgers Use Automation to Save $100k per year"
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\",\"output\"]",
      "defaults": {
        "name": "Google Sheets"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets",
      "typeVersion": 5,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note Autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 841,
      "icon": "file:googleSheets.svg",
      "name": "n8n-nodes-base.googleSheetsTrigger",
      "codex": {
        "data": {
          "alias": [
            "CSV",
            "Spreadsheet",
            "GS"
          ],
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.googlesheetstrigger/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Data & Storage",
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Déclencheur Google Sheets"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
      },
      "displayName": "Google Sheets Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        },
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 1153,
      "icon": "file:openAiLight.svg",
      "name": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatopenai/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Language Models",
              "Root Nodes"
            ],
            "Language Models": [
              "Chat Models (Recommended)"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Modèle de Chat OpenAI"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM2Ljg2NzEgMTYuMzcxOEMzNy43NzQ2IDEzLjY0OCAzNy40NjIxIDEwLjY2NDIgMzYuMDEwOCA4LjE4NjYxQzMzLjgyODIgNC4zODY1MyAyOS40NDA3IDIuNDMxNDkgMjUuMTU1NiAzLjM1MTUxQzIzLjI0OTMgMS4yMDM5NiAyMC41MTA1IC0wLjAxNzMxNDggMTcuNjM5MiAwLjAwMDE4NTUzM0MxMy4yNTkxIC0wLjAwOTgxNDY4IDkuMzcyNzMgMi44MTAyNSA4LjAyNTIgNi45Nzc4M0M1LjIxMTM5IDcuNTU0MSAyLjc4MjU4IDkuMzE1MzggMS4zNjEzIDExLjgxMTdDLTAuODM3NDkzIDE1LjYwMTggLTAuMzM2MjMyIDIwLjM3OTQgMi42MDEzMyAyMy42Mjk0QzEuNjkzODEgMjYuMzUzMiAyLjAwNjMyIDI5LjMzNzEgMy40NTc2IDMxLjgxNDZDNS42NDAxNSAzNS42MTQ3IDEwLjAyNzcgMzcuNTY5NyAxNC4zMTI4IDM2LjY0OTdDMTYuMjE3OSAzOC43OTczIDE4Ljk1NzkgNDAuMDE4NSAyMS44MjkyIDM5Ljk5OThDMjYuMjExOCA0MC4wMTEgMzAuMDk5NCAzNy4xODg1IDMxLjQ0NjkgMzMuMDE3MUMzNC4yNjA4IDMyLjQ0MDkgMzYuNjg5NiAzMC42Nzk2IDM4LjExMDggMjguMTgzM0M0MC4zMDcxIDI0LjM5MzIgMzkuODA0NiAxOS42MTk0IDM2Ljg2ODMgMTYuMzY5M0wzNi44NjcxIDE2LjM3MThaTTIxLjgzMTcgMzcuMzg2QzIwLjA3OCAzNy4zODg1IDE4LjM3OTIgMzYuNzc0NyAxNy4wMzI5IDM1LjY1MDlDMTcuMDk0MSAzNS42MTg0IDE3LjIwMDQgMzUuNTU5NyAxNy4yNjkxIDM1LjUxNzJMMjUuMjM0MyAzMC45MTcxQzI1LjY0MTggMzAuNjg1OCAyNS44OTE4IDMwLjI1MjEgMjUuODg5MyAyOS43ODMzVjE4LjU1NDNMMjkuMjU1NyAyMC40OTgxQzI5LjI5MTkgMjAuNTE1NiAyOS4zMTU3IDIwLjU1MDYgMjkuMzIwNyAyMC41OTA2VjI5Ljg4OTZDMjkuMzE1NyAzNC4wMjQ3IDI1Ljk2NjggMzcuMzc3MiAyMS44MzE3IDM3LjM4NlpNNS43MjY0IDMwLjUwNzFDNC44NDc2MyAyOC45ODk2IDQuNTMxMzcgMjcuMjEwOCA0LjgzMjYzIDI1LjQ4NDVDNC44OTEzOCAyNS41MTk1IDQuOTk1MTMgMjUuNTgzMiA1LjA2ODg4IDI1LjYyNTdMMTMuMDM0MSAzMC4yMjU4QzEzLjQzNzggMzAuNDYyMSAxMy45Mzc4IDMwLjQ2MjEgMTQuMzQyOCAzMC4yMjU4TDI0LjA2NjggMjQuNjEwN1YyOC40OTgzQzI0LjA2OTMgMjguNTM4MyAyNC4wNTA1IDI4LjU3NyAyNC4wMTkzIDI4LjYwMkwxNS45Njc5IDMzLjI1MDlDMTIuMzgxNSAzNS4zMTU5IDcuODAxNDQgMzQuMDg4NCA1LjcyNzY1IDMwLjUwNzFINS43MjY0Wk0zLjYzMDEgMTMuMTIwNUM0LjUwNTEyIDExLjYwMDQgNS44ODY0IDEwLjQzNzkgNy41MzE0NCA5LjgzNDE1QzcuNTMxNDQgOS45MDI5IDcuNTI3NjkgMTAuMDI0MiA3LjUyNzY5IDEwLjEwOTJWMTkuMzEwNkM3LjUyNTE5IDE5Ljc3ODEgNy43NzUxOSAyMC4yMTE5IDguMTgxNDUgMjAuNDQzMUwxNy45MDU0IDI2LjA1N0wxNC41MzkxIDI4LjAwMDhDMTQuNTA1MyAyOC4wMjMzIDE0LjQ2MjggMjguMDI3IDE0LjQyNTMgMjguMDEwOEw2LjM3MjY2IDIzLjM1ODJDMi43OTM4MyAyMS4yODU2IDEuNTY2MzEgMTYuNzA2OCAzLjYyODg1IDEzLjEyMTdMMy42MzAxIDEzLjEyMDVaTTMxLjI4ODIgMTkuNTU2OUwyMS41NjQyIDEzLjk0MTdMMjQuOTMwNiAxMS45OTkyQzI0Ljk2NDMgMTEuOTc2NyAyNS4wMDY4IDExLjk3MjkgMjUuMDQ0MyAxMS45ODkyTDMzLjA5NyAxNi42MzhDMzYuNjgyMSAxOC43MDkzIDM3LjkxMDggMjMuMjk1NyAzNS44Mzk1IDI2Ljg4MDhDMzQuOTYzMyAyOC4zOTgzIDMzLjU4MzIgMjkuNTYwOCAzMS45Mzk1IDMwLjE2NThWMjAuNjg5NEMzMS45NDMyIDIwLjIyMTkgMzEuNjk0NSAxOS43ODk0IDMxLjI4OTQgMTkuNTU2OUgzMS4yODgyWk0zNC42MzgzIDE0LjUxNDJDMzQuNTc5NSAxNC40NzggMzQuNDc1OCAxNC40MTU1IDM0LjQwMiAxNC4zNzNMMjYuNDM2OCA5Ljc3Mjg5QzI2LjAzMzEgOS41MzY2NCAyNS41MzMxIDkuNTM2NjQgMjUuMTI4MSA5Ljc3Mjg5TDE1LjQwNDEgMTUuMzg4VjExLjUwMDRDMTUuNDAxNiAxMS40NjA0IDE1LjQyMDQgMTEuNDIxNyAxNS40NTE2IDExLjM5NjdMMjMuNTAzIDYuNzUxNThDMjcuMDg5NCA0LjY4Mjc5IDMxLjY3NDUgNS45MTQwNiAzMy43NDIgOS41MDE2NEMzNC42MTU4IDExLjAxNjcgMzQuOTMyIDEyLjc5MDUgMzQuNjM1OCAxNC41MTQySDM0LjYzODNaTTEzLjU3NDEgMjEuNDQzMUwxMC4yMDY1IDE5LjQ5OTRDMTAuMTcwMiAxOS40ODE5IDEwLjE0NjUgMTkuNDQ2OCAxMC4xNDE1IDE5LjQwNjhWMTAuMTA3OUMxMC4xNDQgNS45Njc4MSAxMy41MDI4IDIuNjEyNzQgMTcuNjQyOSAyLjYxNTI0QzE5LjM5NDIgMi42MTUyNCAyMS4wODkyIDMuMjMwMjUgMjIuNDM1NSA0LjM1MDI4QzIyLjM3NDMgNC4zODI3OCAyMi4yNjkzIDQuNDQxNTMgMjIuMTk5MiA0LjQ4NDAzTDE0LjIzNDEgOS4wODQxM0MxMy44MjY2IDkuMzE1MzggMTMuNTc2NiA5Ljc0Nzg5IDEzLjU3OTEgMTAuMjE2N0wxMy41NzQxIDIxLjQ0MDZWMjEuNDQzMVpNMTUuNDAyOSAxNy41MDA2TDE5LjczNDIgMTQuOTk5M0wyNC4wNjU1IDE3LjQ5OTNWMjIuNTAwN0wxOS43MzQyIDI1LjAwMDdMMTUuNDAyOSAyMi41MDA3VjE3LjUwMDZaIiBmaWxsPSIjN0Q3RDg3Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "OpenAI Chat Model",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1272,
      "icon": "fa:balance-scale-left",
      "name": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.sentimentanalysis/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Chains",
              "Root Nodes"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Analyse de Sentiment"
      },
      "iconData": {
        "icon": "balance-scale-left",
        "type": "icon"
      },
      "displayName": "Sentiment Analysis",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 32,
      "name": "Recherche de Marché"
    },
    {
      "id": 49,
      "name": "Résumé AI"
    }
  ],
  "image": []
}