automation/i18n/fr-FR/Smart LinkedIn Job Filtering with Google Gemini, CV Matching, and Google Maps.json
{
  "id": 8539,
  "name": "Filtrage intelligent des offres d'emploi LinkedIn avec Google Gemini, correspondance de CV et Google Maps",
  "views": 0,
  "recentViews": 0,
  "totalViews": 0,
  "createdAt": "2025-09-12T16:10:12.611Z",
  "description": "## Ce que cela fait\n\nLe processus de recherche d'emploi est rempli de tâches manuelles et frustrantes : lire d'innombrables descriptions de poste pour découvrir que le niveau de séniorité est incorrect, que le poste nécessite une langue que vous ne parlez pas, ou qu'un emploi \"hybride\" a un trajet impossible.\n\nCe flux de travail agit comme un assistant IA personnel qui automatise l'ensemble du haut de votre entonnoir de recherche d'emploi. Il ne se contente pas de trouver des emplois ; il lit la description complète, vérifie le temps de trajet depuis votre domicile, filtre selon vos critères spécifiques, et compare même les exigences du poste avec votre CV pour calculer un score de correspondance. C'est un moteur de prise de décision personnalisé qui ne vous alerte que sur les opportunités qui correspondent parfaitement.\n\n## Comment cela fonctionne\n\nLe flux de travail est conçu pour être entièrement personnalisé à partir d'un seul nœud `Config` et s'exécute dans une séquence multi-couches pour trouver et qualifier des opportunités d'emploi.\n\n1.  **Gratter des emplois :** Le flux de travail se déclenche et utilise **Apify** pour trouver de nouvelles offres d'emploi sur LinkedIn en fonction d'une liste de mots-clés que vous définissez (par exemple, \"Ingénieur Workflow IA\", \"Spécialiste en automatisation\").\n2.  **Triage IA et filtrage intelligent :** Pour chaque emploi trouvé, une IA **Google Gemini** effectue un triage initial, extrayant des données clés comme la langue du poste, le modèle de travail (Télétravail, Hybride, Sur site) et le niveau de séniorité. Le flux de travail applique ensuite une série de filtres intelligents basés sur vos préférences personnelles :\n    * **Langue et séniorité :** Il rejette tous les emplois qui ne correspondent pas à votre langue cible et à votre niveau d'expérience.\n    * **Vérification du trajet :** Pour les rôles hybrides ou sur site, il utilise l'**API Google Maps** pour calculer le temps de trajet depuis votre adresse domicile et filtre ceux qui dépassent votre temps de trajet maximum souhaité.\n3.  **Analyse approfondie IA vs. CV :** Pour les quelques emplois qui passent les filtres initiaux, un deuxième agent **Google Gemini** plus avancé effectue une analyse approfondie. Il compare la description du poste avec votre CV personnel (que vous collez dans la configuration) pour générer un résumé, une liste des compétences clés requises et un **score de correspondance** final (par exemple, 8/10).\n4.  **Journaliser et alerter :** La dernière étape est l'action. L'analyse complète de chaque emploi qualifié est enregistrée dans une base de données **Supabase** pour vos dossiers. Cependant, seuls les emplois avec un score de correspondance supérieur à votre seuil défini déclencheront une alerte immédiate et détaillée dans **Telegram**, garantissant que vous vous concentrez uniquement sur les meilleures opportunités.\n\n## Instructions de configuration\n\nCe flux de travail est conçu pour une configuration facile, la plupart des préférences personnelles étant contrôlées à partir d'un seul nœud.\n\n### Identifiants requis\n\n1.  **Apify :** Vous aurez besoin d'un jeton API Apify.\n2.  **Google Cloud :** Vous aurez besoin d'identifiants pour un projet Google Cloud avec les API Google AI (Gemini) et Google Maps activées.\n3.  **Supabase :** Vous aurez besoin de l'URL de votre projet Supabase et de la clé de rôle de service.\n4.  **Telegram :** Vous aurez besoin d'un jeton de bot Telegram et de l'ID de chat pour le canal où vous souhaitez recevoir des alertes.\n\n### Configuration étape par étape\n\nPresque toute la personnalisation se fait dans le **nœud `Config`**. Ouvrez-le et définissez les paramètres suivants pour correspondre à vos critères de recherche d'emploi personnels :\n\n* `MyCV` : Collez le texte complet de votre CV ici. Cela est utilisé par l'IA pour comparer vos compétences avec les exigences du poste.\n\n* `JobKeywords` : Mots-clés de recherche pour les emplois (par exemple, \"ingénieur\", \"responsable produit\").\n\n* `JobsToScrape` : Le nombre maximum d'offres d'emploi pertinentes à gratter à chaque exécution.\n\n* `HomeLocation` : Votre ville et pays d'origine (par exemple, \"Breda, Pays-Bas\"). Cela est utilisé comme point de départ pour calculer les temps de trajet pour les emplois hybrides ou sur site.\n\n* `MaxCommuteMinutes` : Votre temps de trajet maximum personnel en minutes. Le flux de travail filtrera tous les emplois nécessitant un temps de trajet plus long.\n\n* `TargetLanguage` : Votre langue préférée pour les offres d'emploi. Le flux de travail filtrera tous les emplois non rédigés dans cette langue. Vous pouvez lister plusieurs langues, séparées par une virgule.\n\n* `ExperienceLevel` : Le niveau de séniorité que vous recherchez. L'IA validera cela par rapport à la description du poste.\nLa valeur peut être :    \n```\n\"\" → (Tout)\n\"internship\" → (Stage)\n\"entry\" → (Niveau d'entrée)\n\"associate\" → (Associé)\n\"mid_senior\" → (Niveau intermédiaire-senior)\n\"director\" → (Directeur)\n\"executive\" → (Exécutif)\n```\n\n* `Under10Applicants` : Réglez sur `true` si vous ne souhaitez voir que des emplois avec moins de 10 candidats. Réglez sur `false` pour voir tous les emplois.\n\nAprès avoir configuré le nœud `Config`, configurez les nœuds **Supabase** et **Telegram** avec vos identifiants spécifiques et les détails de table/chat.\n\n## Comment adapter le modèle\n\nCe flux de travail est un cadre puissant pour tout processus de recherche et de qualification.\n\n* **Changer la source d'emploi :** Échangez le nœud **Apify** pour gratter différents sites d'emploi, ou utilisez un nœud `RSS Feed Reader` pour obtenir des emplois à partir de sites qui fournissent des flux.\n* **Affiner la logique IA :** Les invites dans les deux nœuds **Google Gemini** sont le cœur du moteur. Vous pouvez les modifier pour extraire différents points de données, changer les critères de notation, ou même demander à l'IA d'évaluer la culture d'une entreprise en fonction du ton de la description du poste.\n* **Changer la base de données :** Remplacez le nœud **Supabase** par **Airtable**, **Google Sheets**, ou un nœud de base de données traditionnel comme **Postgres** pour enregistrer vos résultats.\n* **Modifier les alertes :** Changez le nœud **Telegram** pour envoyer des alertes via **Slack**, **Discord**, ou **Email**. Vous pourriez également ajouter une étape pour créer automatiquement une candidature ou ajouter l'emploi à un CRM personnel.",
  "workflow": {
    "meta": {
      "instanceId": "afca6c018fd85ecd6bb793dc620b1f9d2de9ea7edb2532dd2708b1a0cf01d640",
      "templateCredsSetupCompleted": true
    },
    "nodes": [
      {
        "id": "0d1ee8d1-e28c-47e6-9d60-185de0d0dcc2",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "position": [
          -416,
          16
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "171ff4c5-b238-4b4c-8a27-a5a9564bd673",
                "name": "MyCV",
                "type": "string",
                "value": "YOUR FULL TEXT CV HERE!"
              },
              {
                "id": "2be3ae0b-02f0-40c7-955f-e71b7a2881bc",
                "name": "JobKeywords",
                "type": "string",
                "value": "AI Integration"
              },
              {
                "id": "b062eed9-9fbd-4f45-9117-0ccd4b5d53db",
                "name": "ExperienceLevel",
                "type": "string",
                "value": "mid_senior"
              },
              {
                "id": "5808ab43-3551-42a0-b677-535b29bebf6c",
                "name": "JobsToScrape",
                "type": "number",
                "value": 20
              },
              {
                "id": "9076e2c5-2e23-41f5-bb73-04ab4534b960",
                "name": "HomeLocation",
                "type": "string",
                "value": "Breda, Netherlands"
              },
              {
                "id": "12b91df8-f52d-41b8-b18d-5d378942281f",
                "name": "MaxCommuteMinutes",
                "type": "number",
                "value": 75
              },
              {
                "id": "5d06b164-8c25-4e3d-8739-1900d9a4c7db",
                "name": "TargetLanguage",
                "type": "string",
                "value": "English"
              },
              {
                "id": "934fbe29-f5f0-4ca1-97ad-4e2c28e46b92",
                "name": "Under10Applicants",
                "type": "string",
                "value": false
              },
              {
                "id": "3f789658-2cfd-4c3e-9d7c-749d9e79fa65",
                "name": "ActorId",
                "type": "string",
                "value": "apimaestro~linkedin-jobs-scraper-api"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "671cf8fb-b319-4e82-99ae-181f89aa936b",
        "name": "Scrape LinkenIn Jobs",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -192,
          16
        ],
        "parameters": {
          "url": "=https://api.apify.com/v2/acts/{{ $json.ActorId }}/run-sync-get-dataset-items",
          "method": "POST",
          "options": {},
          "jsonBody": "={\n  \"date_posted\": \"day\",\n  \"experienceLevel\": {{ $json.ExperienceLevel.toJsonString() }},\n  \"keywords\": {{ $json.JobKeywords.toJsonString() }},\n  \"limit\": {{ $json.JobsToScrape }},\n  \"under_10_applicants\": {{ $json.Under10Applicants.toJsonString() }},\n  \"sort\": \"relevant\",\n  \"location\": \"91000000\",\n  \"page_number\": 1\n}",
          "sendBody": true,
          "specifyBody": "json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth"
        },
        "credentials": {
          "httpBearerAuth": {
            "id": "Fu6O8UOTEpfPXgyP",
            "name": "Apify"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "47daec05-16be-4502-a183-a444b534bada",
        "name": "Done!",
        "type": "n8n-nodes-base.noOp",
        "position": [
          224,
          -320
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "f09488e4-11b0-456c-92f2-e6804b64ea75",
        "name": "Structured Output Parser",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "position": [
          544,
          272
        ],
        "parameters": {
          "jsonSchemaExample": "{\n\"jobLanguage\": \"English\",\n\"confirmed_seniority\": \"mid_senior\",\n\"is_match\": true\n}"
        },
        "typeVersion": 1.3
      },
      {
        "id": "62f689ec-b638-4feb-8ada-74ff30cddf13",
        "name": "If Seniority Match",
        "type": "n8n-nodes-base.if",
        "position": [
          880,
          32
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "d1f7b9b9-4fd1-44d2-b799-5fae8bcee7be",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.output.confirmed_seniority }}",
                "rightValue": "={{ $('Config').item.json.ExperienceLevel }}"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "3ec3aea3-2639-4afb-a261-f81eaf0c13af",
        "name": "Deconstruct Job Data",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          384,
          32
        ],
        "parameters": {
          "text": "=You are an expert HR data analyst. Your task is to validate the seniority level of a job posting based on its full description.\n\nThe job was originally tagged with the seniority level: \"{{ $('Config').item.json.ExperienceLevel }}\"\n\nAnalyze the full job description below and determine if this tag is accurate.\n\nReturn ONLY a valid JSON object with these fields:\n- \"jobLanguage\": The primary language of the text.\n- \"confirmed_seniority\": The most accurate seniority level based on your analysis of the text. You MUST choose one from: [\"internship\", \"entry\", \"associate\", \"mid_senior\", \"director\", \"executive\"].\n- \"is_match\": A boolean (true/false) indicating if your confirmed_seniority matches the original tag.\n\nJob Description:\n\"\"\"\n{{ $('Items Loop').first().json.description }}\n\"\"\"",
          "options": {},
          "promptType": "define",
          "hasOutputParser": true
        },
        "typeVersion": 2.2
      },
      {
        "id": "78600425-b859-4c2b-b416-669bd7f6f4ce",
        "name": "If Language Match",
        "type": "n8n-nodes-base.if",
        "position": [
          1136,
          16
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "09fadd6c-b339-4173-84f4-aa0b50e3706c",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $('Config').item.json.TargetLanguage.toLowerCase().split(', ').includes($('Deconstruct Job Data').item.json.output.jobLanguage.toLowerCase()) }}",
                "rightValue": "={{ $json.output.jobLanguage.toLowerCase() }}"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "1c49665e-3444-4528-85e2-5fa2f6f1547a",
        "name": "Google Gemini",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "position": [
          368,
          272
        ],
        "parameters": {
          "options": {}
        },
        "credentials": {
          "googlePalmApi": {
            "id": "vppVWKsiofTY92Ht",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "fd7deb25-14f0-42dc-bb6f-c02a5dcd9314",
        "name": "If is not Remote",
        "type": "n8n-nodes-base.if",
        "position": [
          1392,
          0
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "95ad2f86-418a-4e1d-99df-75ef6037b072",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                },
                "leftValue": "={{ $('Items Loop').first().json.work_type.toLowerCase() }}",
                "rightValue": "remote"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "9500741a-7fff-41ec-ba2c-3d3690b3e779",
        "name": "Get Commute Time",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1744,
          -224
        ],
        "parameters": {
          "url": "=https://maps.googleapis.com/maps/api/directions/json",
          "options": {},
          "sendQuery": true,
          "authentication": "genericCredentialType",
          "genericAuthType": "httpQueryAuth",
          "queryParameters": {
            "parameters": [
              {
                "name": "origin",
                "value": "={{ $('Config').item.json.HomeLocation }}"
              },
              {
                "name": "destination",
                "value": "={{ $('Items Loop').first().json.location }}"
              }
            ]
          }
        },
        "credentials": {
          "httpQueryAuth": {
            "id": "p2ihhJSPgggiFXnI",
            "name": "Google Direction Key"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "d8b75d80-fbd0-4a4a-b4ac-35843bbc5e48",
        "name": "Is Commute Acceptable",
        "type": "n8n-nodes-base.if",
        "position": [
          1952,
          -224
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "6717790e-4c69-434c-afcc-d33cbe362789",
                "operator": {
                  "type": "number",
                  "operation": "lte"
                },
                "leftValue": "={{ $json.routes[0].legs[0].duration.value }}",
                "rightValue": "={{ $('Config').item.json.MaxCommuteMinutes * 60 }}"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "c2b71945-4bf2-48b4-be34-104bbf7e8208",
        "name": "Google Gemini Deep Analysis",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "position": [
          2464,
          240
        ],
        "parameters": {
          "options": {}
        },
        "credentials": {
          "googlePalmApi": {
            "id": "vppVWKsiofTY92Ht",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "a09b3dc1-a6d2-402d-be2e-1dcd2c7d05a1",
        "name": "Structured Output Parser Deep Analysis",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "position": [
          2656,
          240
        ],
        "parameters": {
          "jsonSchemaExample": "{\n  \"summary\": \"A 2-bullet point summary.\",\n  \"key_skills\": [\"skill1\",\"skill2\"],\n  \"match_score\": 5,\n  \"salaryInfo\": \"The extracted salary range\",\n  \"reasoning\": \"A one-sentence explanation for the score.\"\n}"
        },
        "typeVersion": 1.3
      },
      {
        "id": "b114ccb2-6d92-4e70-bd6b-dbf96379974b",
        "name": "Save Data",
        "type": "n8n-nodes-base.supabase",
        "position": [
          3056,
          16
        ],
        "parameters": {
          "tableId": "job_tracker",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "jobTitle",
                "fieldValue": "={{ $('Items Loop').first().json.job_title }}"
              },
              {
                "fieldId": "companyName",
                "fieldValue": "={{ $('Items Loop').first().json.company }}"
              },
              {
                "fieldId": "matchScore",
                "fieldValue": "={{ $json.output.match_score }}"
              },
              {
                "fieldId": "aiSummary",
                "fieldValue": "={{ $json.output.summary }}"
              },
              {
                "fieldId": "jobURL",
                "fieldValue": "={{ $('Items Loop').first().json.job_url }}"
              },
              {
                "fieldId": "salaryInfo",
                "fieldValue": "={{ $json.output.salaryInfo }}"
              },
              {
                "fieldId": "aiReasoning",
                "fieldValue": "={{ $json.output.reasoning }}"
              },
              {
                "fieldId": "applyURL",
                "fieldValue": "={{ $('Items Loop').first().json.apply_url }}"
              }
            ]
          }
        },
        "credentials": {
          "supabaseApi": {
            "id": "0Oe2tNApQI5QNswJ",
            "name": "Supabase account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "7f9b8050-305b-4bf0-a587-3816d7d11723",
        "name": "If Has High Match Score",
        "type": "n8n-nodes-base.if",
        "position": [
          3264,
          16
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "64d17e00-bada-41e9-918c-f507a1e59df9",
                "operator": {
                  "type": "number",
                  "operation": "gte"
                },
                "leftValue": "={{ $('AI Deep Analysis').item.json.output.match_score }}",
                "rightValue": 8
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "96b8e300-cb29-4ded-ad55-8b6c4cedacae",
        "name": "AI Deep Analysis",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          2480,
          16
        ],
        "parameters": {
          "text": "=Here is the candidate's resume and the job description. Please perform your analysis.\n---\n**Candidate's Resume:**\n\"\"\"\n{{ $('Config').first().json.MyCV }}\n\"\"\"\n---\n**Job Description:**\n\"\"\"\n{{ $('Items Loop').first().json.description }}\n\"\"\"",
          "options": {
            "systemMessage": "=You are an expert career coach and HR specialist. Your task is to analyze a candidate's resume against a job description and provide a detailed, structured analysis.\n\nReturn ONLY a valid JSON object with the following structure:\n{\n  \"summary\": \"A 2-bullet point summary of the role's main responsibilities.\",\n  \"key_skills\": [\"An array of the top 5 most important skills required for this job.\"],\n  \"match_score\": \"An integer from 1 to 10 of how well the resume matches the job requirements.\",\n  \"salaryInfo\": \"The extracted salary range or the string 'Not specified' if no salary is mentioned.\",\n  \"reasoning\": \"A one-sentence explanation for the score, highlighting a key strength or a potential gap in the resume.\"\n}"
          },
          "promptType": "define",
          "hasOutputParser": true
        },
        "typeVersion": 2.2
      },
      {
        "id": "ad6f8535-342b-4db8-b0d9-9b761c56ed62",
        "name": "Items Loop",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          16,
          16
        ],
        "parameters": {
          "options": {}
        },
        "typeVersion": 3
      },
      {
        "id": "b6beecb9-3cee-4647-9995-942cedc77b42",
        "name": "Send a Notification",
        "type": "n8n-nodes-base.telegram",
        "position": [
          3568,
          0
        ],
        "webhookId": "57ac8c41-a3bc-4b4e-8e22-adab496b2df0",
        "parameters": {
          "text": "=🔥 <b>High-Match Job Found! ({{ $('AI Deep Analysis').item.json.output.match_score }}/10)</b>\n\n<b>{{ $('Items Loop').item.json.job_title }}</b> at <b>{{ $('Items Loop').item.json.company }}</b>\n\n<b>AI Reasoning:</b>\n<i>{{ $('AI Deep Analysis').item.json.output.reasoning }}</i>\n\n<b>Key Skills:</b>\n<code>{{ $('AI Deep Analysis').item.json.output.key_skills.join(', ') }}</code>\n\n<b>Salary:</b> <code>{{ $('AI Deep Analysis').item.json.output.salaryInfo }}</code>\n\n<a href=\"{{ $('Items Loop').item.json.apply_url }}\">Apply Here</a> | <a href=\"{{ $('Items Loop').item.json.job_url }}\">View Job Description</a>",
          "chatId": "-4932341035",
          "additionalFields": {
            "parse_mode": "HTML",
            "appendAttribution": false
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "RDdscBadRkYP5zeG",
            "name": "Telegram (n8n)"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "191a6567-4fda-46c1-aeb8-9a1d75742a39",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -704,
          -80
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9
              }
            ]
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "15d4435b-5cd8-4081-af0b-0159d70ba342",
        "name": "Manual Executing",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          -704,
          112
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "175efaf6-2194-45e3-99f7-634d75fd7941",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1520,
          -416
        ],
        "parameters": {
          "color": 5,
          "width": 704,
          "height": 960,
          "content": "## ⚙️ Workflow Configuration\n\nThis node is the **central control panel** for the workflow. All settings are managed here.\n\n### **MyCV**\nPaste the full text of your CV/resume here. This is used by the AI to compare your skills against the job requirements.\n\n### **JobKeywords**\nSearch keywords for jobs (e.g., \"engineer\", \"product manager\").\n\n### **JobsToScrape**\nThe maximum number of relevant job postings to scrape in each run.\n\n### **HomeLocation**\nYour home city and country (e.g., \"Breda, Netherlands\"). This is used as the starting point for calculating commute times for hybrid or onsite jobs.\n\n### **MaxCommuteMinutes**\nYour personal maximum one-way commute time in minutes. The workflow will filter out any jobs that require a longer travel time.\n\n### **TargetLanguage**\nYour preferred language for job postings. The workflow will filter out any jobs not written in this language. You can list multiple languages, separated by a comma.\n\n### **ExperienceLevel**\nThe seniority level you are looking for. The AI will validate this against the job description.\n\nThe value can be:\n```\n\"\" → (Any)\n\"internship\" → (Internship)\n\"entry\" → (Entry Level)\n\"associate\" → (Associate)\n\"mid_senior\" → (Mid-Senior Level)\n\"director\" → (Director)\n\"executive\" → (Executive)\n```\n### **Under10Applicants**\nSet to `true` if you only want to see jobs with fewer than 10 applicants. Set to `false` to see all jobs."
        },
        "typeVersion": 1
      },
      {
        "id": "59daed62-8690-42a8-a3e4-ec59269a0271",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          224,
          -160
        ],
        "parameters": {
          "color": 3,
          "width": 560,
          "height": 576,
          "content": "## 🤖 AI Triage: The First Filter\nThis AI Agent acts as a quick HR screener. It reads the full job description and extracts key structured data (language, seniority, is match) that we use for the initial filtering steps. This is a fast and cheap way to eliminate bad fits."
        },
        "typeVersion": 1
      },
      {
        "id": "43c45ff1-6d5a-4513-9370-1e524e443659",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1632,
          -416
        ],
        "parameters": {
          "color": 4,
          "width": 544,
          "height": 432,
          "content": "## 📍 Geolocation Check\nThis branch handles non-remote jobs. It uses the Google Maps API to calculate the real commute time from the `HomeLocation` set in the config. Only jobs with a commute time under my `MaxCommuteMinutes` will pass this filter."
        },
        "typeVersion": 1
      },
      {
        "id": "6f4f06c5-9d2a-43d9-8c7d-2521885731e7",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2288,
          -160
        ],
        "parameters": {
          "color": 6,
          "width": 592,
          "height": 560,
          "content": "## 🧠 AI Deep Analysis: The CV Match\nThis is the core intelligence of the co-pilot. For the highly-qualified jobs that passed all filters, this AI Agent compares the job description against my full CV (from the Config node). It generates a detailed summary, key skills, and a personalized match score."
        },
        "typeVersion": 1
      },
      {
        "id": "20bae697-5188-4a27-80ab-27f71b3b9168",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2976,
          -160
        ],
        "parameters": {
          "width": 752,
          "height": 352,
          "content": "## ✅ Action & Alerting\nThe final step. All qualified jobs are saved to the Supabase database. If the AI match_score is above the configured threshold (e.g., 8/10), a real-time, detailed alert is sent to my Telegram."
        },
        "typeVersion": 1
      },
      {
        "id": "d3b4a1c4-7f39-4d9f-95c9-381d91ed9e68",
        "name": "To The Next",
        "type": "n8n-nodes-base.noOp",
        "position": [
          3792,
          272
        ],
        "parameters": {},
        "typeVersion": 1
      }
    ],
    "pinData": {},
    "connections": {
      "Config": {
        "main": [
          [
            {
              "node": "Scrape LinkenIn Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Data": {
        "main": [
          [
            {
              "node": "If Has High Match Score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Items Loop": {
        "main": [
          [
            {
              "node": "Done!",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Deconstruct Job Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To The Next": {
        "main": [
          [
            {
              "node": "Items Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini": {
        "ai_languageModel": [
          [
            {
              "node": "Deconstruct Job Data",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Deep Analysis": {
        "main": [
          [
            {
              "node": "Save Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Commute Time": {
        "main": [
          [
            {
              "node": "Is Commute Acceptable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If is not Remote": {
        "main": [
          [
            {
              "node": "Get Commute Time",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Deep Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Executing": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Language Match": {
        "main": [
          [
            {
              "node": "If is not Remote",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Items Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Seniority Match": {
        "main": [
          [
            {
              "node": "If Language Match",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Items Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a Notification": {
        "main": [
          [
            {
              "node": "To The Next",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deconstruct Job Data": {
        "main": [
          [
            {
              "node": "If Seniority Match",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scrape LinkenIn Jobs": {
        "main": [
          [
            {
              "node": "Items Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Commute Acceptable": {
        "main": [
          [
            {
              "node": "AI Deep Analysis",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Items Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Has High Match Score": {
        "main": [
          [
            {
              "node": "Send a Notification",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "To The Next",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Deconstruct Job Data",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Deep Analysis": {
        "ai_languageModel": [
          [
            {
              "node": "AI Deep Analysis",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser Deep Analysis": {
        "ai_outputParser": [
          [
            {
              "node": "AI Deep Analysis",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 1,
  "workflowInfo": {
    "nodeCount": 26,
    "nodeTypes": {
      "n8n-nodes-base.if": {
        "count": 5
      },
      "n8n-nodes-base.set": {
        "count": 1
      },
      "n8n-nodes-base.noOp": {
        "count": 2
      },
      "n8n-nodes-base.supabase": {
        "count": 1
      },
      "n8n-nodes-base.telegram": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 5
      },
      "n8n-nodes-base.httpRequest": {
        "count": 2
      },
      "n8n-nodes-base.manualTrigger": {
        "count": 1
      },
      "n8n-nodes-base.splitInBatches": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.agent": {
        "count": 2
      },
      "n8n-nodes-base.scheduleTrigger": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.lmChatGoogleGemini": {
        "count": 2
      },
      "@n8n/n8n-nodes-langchain.outputParserStructured": {
        "count": 2
      }
    }
  },
  "user": {
    "name": "Atta",
    "username": "attakhalighi",
    "bio": "Hi 👋 I design automation workflows with n8n, AI, and custom APIs. My focus is on building reliable systems that save time and boost productivity. Always happy to answer questions about my templates.",
    "verified": true,
    "links": [
      "https://www.linkedin.com/in/atakhalighi/"
    ],
    "avatar": "https://gravatar.com/avatar/5b54f911c62acd4d36edfccdcd8b3ea49752349a41b88625f2474c3f7c4fb402?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Demande HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 20,
      "icon": "fa:map-signs",
      "name": "n8n-nodes-base.if",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                "icon": "🏷️",
                "label": "How to automatically manage contributions to open-source projects"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Si",
        "color": "#408000"
      },
      "iconData": {
        "icon": "map-signs",
        "type": "icon"
      },
      "displayName": "If",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 26,
      "icon": "fa:arrow-right",
      "name": "n8n-nodes-base.noOp",
      "codex": {
        "data": {
          "alias": [
            "nothing"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.noop/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"organization\"]",
      "defaults": {
        "name": "Aucune opération, ne rien faire",
        "color": "#b0b0b0"
      },
      "iconData": {
        "icon": "arrow-right",
        "type": "icon"
      },
      "displayName": "No Operation, do nothing",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 38,
      "icon": "fa:pen",
      "name": "n8n-nodes-base.set",
      "codex": {
        "data": {
          "alias": [
            "Set",
            "JS",
            "JSON",
            "Filter",
            "Transform",
            "Map"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Modifier les champs"
      },
      "iconData": {
        "icon": "pen",
        "type": "icon"
      },
      "displayName": "Edit Fields (Set)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 39,
      "icon": "fa:sync",
      "name": "n8n-nodes-base.splitInBatches",
      "codex": {
        "data": {
          "alias": [
            "Loop",
            "Concatenate",
            "Batch",
            "Split",
            "Split In Batches"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"organization\"]",
      "defaults": {
        "name": "Boucle sur les éléments",
        "color": "#007755"
      },
      "iconData": {
        "icon": "sync",
        "type": "icon"
      },
      "displayName": "Loop Over Items (Split in Batches)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 49,
      "icon": "file:telegram.svg",
      "name": "n8n-nodes-base.telegram",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                "icon": "💪",
                "label": "Using Automation to Boost Productivity in the Workplace"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-telegram-bots-with-n8n-a-no-code-platform/",
                "icon": "💬",
                "label": "Creating Telegram Bots with n8n, a No-Code Platform"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.telegram/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/telegram/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Telegram"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjYgNjYiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZmlsbD0iIzM3YWVlMiIgZD0iTTAgMzJjMCAxNy42NzMgMTQuMzI3IDMyIDMyIDMyczMyLTE0LjMyNyAzMi0zMlM0OS42NzMgMCAzMiAwIDAgMTQuMzI3IDAgMzIiLz48cGF0aCBmaWxsPSIjYzhkYWVhIiBkPSJtMjEuNjYxIDM0LjMzOCAzLjc5NyAxMC41MDhzLjQ3NS45ODMuOTgzLjk4MyA4LjA2OC03Ljg2NCA4LjA2OC03Ljg2NGw4LjQwNy0xNi4yMzctMjEuMTE5IDkuODk4eiIvPjxwYXRoIGZpbGw9IiNhOWM2ZDgiIGQ9Im0yNi42OTUgMzcuMDM0LS43MjkgNy43NDZzLS4zMDUgMi4zNzMgMi4wNjggMGw0LjY0NC00LjIwMyIvPjxwYXRoIGQ9Im0yMS43MyAzNC43MTItNy44MDktMi41NDVzLS45MzItLjM3OC0uNjMzLTEuMjM3Yy4wNjItLjE3Ny4xODYtLjMyOC41NTktLjU4OCAxLjczMS0xLjIwNiAzMi4wMjgtMTIuMDk2IDMyLjAyOC0xMi4wOTZzLjg1Ni0uMjg4IDEuMzYxLS4wOTdjLjIzMS4wODguMzc4LjE4Ny41MDMuNTQ4LjA0NS4xMzIuMDcxLjQxMS4wNjguNjg5LS4wMDMuMjAxLS4wMjcuMzg2LS4wNDUuNjc4LS4xODQgMi45NzgtNS43MDYgMjUuMTk4LTUuNzA2IDI1LjE5OHMtLjMzIDEuMy0xLjUxNCAxLjM0NWMtLjQzMi4wMTYtLjk1Ni0uMDcxLTEuNTgyLS42MS0yLjMyMy0xLjk5OC0xMC4zNTItNy4zOTQtMTIuMTI2LTguNThhLjM0LjM0IDAgMCAxLS4xNDYtLjIzOWMtLjAyNS0uMTI1LjEwOC0uMjguMTA4LS4yOHMxMy45OC0xMi40MjcgMTQuMzUyLTEzLjczMWMuMDI5LS4xMDEtLjA3OS0uMTUxLS4yMjYtLjEwNy0uOTI5LjM0Mi0xNy4wMjUgMTAuNTA2LTE4LjgwMSAxMS42MjktLjEwNC4wNjYtLjM5NS4wMjMtLjM5NS4wMjMiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Telegram",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 545,
      "icon": "file:supabase.svg",
      "name": "n8n-nodes-base.supabase",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.supabase/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/supabase/"
              }
            ]
          },
          "categories": [
            "Data & Storage"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Supabase"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDkiIGhlaWdodD0iMTEzIiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSJ1cmwoI2EpIiBkPSJNNjMuNzA4IDExMC4yODRjLTIuODYgMy42MDEtOC42NTggMS42MjgtOC43MjctMi45N2wtMS4wMDctNjcuMjUxaDQ1LjIyYzguMTkgMCAxMi43NTggOS40NiA3LjY2NSAxNS44NzR6Ii8+PHBhdGggZmlsbD0idXJsKCNiKSIgZmlsbC1vcGFjaXR5PSIuMiIgZD0iTTYzLjcwOCAxMTAuMjg0Yy0yLjg2IDMuNjAxLTguNjU4IDEuNjI4LTguNzI3LTIuOTdsLTEuMDA3LTY3LjI1MWg0NS4yMmM4LjE5IDAgMTIuNzU4IDkuNDYgNy42NjUgMTUuODc0eiIvPjxwYXRoIGZpbGw9IiMzRUNGOEUiIGQ9Ik00NS4zMTcgMi4wNzFjMi44Ni0zLjYwMSA4LjY1Ny0xLjYyOCA4LjcyNiAyLjk3bC40NDIgNjcuMjUxSDkuODNjLTguMTkgMC0xMi43NTktOS40Ni03LjY2NS0xNS44NzV6Ii8+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiB4MT0iNTMuOTc0IiB4Mj0iOTQuMTYzIiB5MT0iNTQuOTc0IiB5Mj0iNzEuODI5IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agc3RvcC1jb2xvcj0iIzI0OTM2MSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzNFQ0Y4RSIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdyYWRpZW50IGlkPSJiIiB4MT0iMzYuMTU2IiB4Mj0iNTQuNDg0IiB5MT0iMzAuNTc4IiB5Mj0iNjUuMDgxIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3AvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PC9zdmc+"
      },
      "displayName": "Supabase",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 3,
          "name": "Data & Storage"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note autocollante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 838,
      "icon": "fa:mouse-pointer",
      "name": "n8n-nodes-base.manualTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lorsque vous cliquez sur ‘Exécuter le flux de travail’",
        "color": "#909298"
      },
      "iconData": {
        "icon": "mouse-pointer",
        "type": "icon"
      },
      "displayName": "Manual Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 839,
      "icon": "fa:clock",
      "name": "n8n-nodes-base.scheduleTrigger",
      "codex": {
        "data": {
          "alias": [
            "Time",
            "Scheduler",
            "Polling",
            "Cron",
            "Interval"
          ],
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\",\"schedule\"]",
      "defaults": {
        "name": "Déclencheur de planification",
        "color": "#31C49F"
      },
      "iconData": {
        "icon": "clock",
        "type": "icon"
      },
      "displayName": "Schedule Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1119,
      "icon": "fa:robot",
      "name": "@n8n/n8n-nodes-langchain.agent",
      "codex": {
        "data": {
          "alias": [
            "LangChain",
            "Chat",
            "Conversational",
            "Plan and Execute",
            "ReAct",
            "Tools"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Agents",
              "Root Nodes"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Agent IA",
        "color": "#404040"
      },
      "iconData": {
        "icon": "robot",
        "type": "icon"
      },
      "displayName": "AI Agent",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1179,
      "icon": "fa:code",
      "name": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "codex": {
        "data": {
          "alias": [
            "json",
            "zod"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.outputparserstructured/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Output Parsers"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Analyseur de sortie structuré"
      },
      "iconData": {
        "icon": "code",
        "type": "icon"
      },
      "displayName": "Structured Output Parser",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1262,
      "icon": "file:google.svg",
      "name": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatgooglegemini/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Language Models",
              "Root Nodes"
            ],
            "Language Models": [
              "Chat Models (Recommended)"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Modèle de chat Google Gemini"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNDQuNSAyMEgyNHY4LjVoMTEuOEMzNC43IDMzLjkgMzAuMSAzNyAyNCAzN2MtNy4yIDAtMTMtNS44LTEzLTEzczUuOC0xMyAxMy0xM2MzLjEgMCA1LjkgMS4xIDguMSAyLjlsNi40LTYuNEMzNC42IDQuMSAyOS42IDIgMjQgMiAxMS44IDIgMiAxMS44IDIgMjRzOS44IDIyIDIyIDIyYzExIDAgMjEtOCAyMS0yMiAwLTEuMy0uMi0yLjctLjUtNCIvPjwvZGVmcz48Y2xpcFBhdGggaWQ9ImIiPjx1c2UgeGxpbms6aHJlZj0iI2EiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PC9jbGlwUGF0aD48cGF0aCBmaWxsPSIjRkJCQzA1IiBkPSJNMCAzN1YxMWwxNyAxM3oiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im0wIDExIDE3IDEzIDctNi4xTDQ4IDE0VjBIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiMzNEE4NTMiIGQ9Im0wIDM3IDMwLTIzIDcuOSAxTDQ4IDB2NDhIMHoiIGNsaXAtcGF0aD0idXJsKCNiKSIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik00OCA0OCAxNyAyNGwtNC0zIDM1LTEweiIgY2xpcC1wYXRoPSJ1cmwoI2IpIi8+PC9zdmc+"
      },
      "displayName": "Google Gemini Chat Model",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 43,
      "name": "Productivité personnelle"
    },
    {
      "id": 49,
      "name": "Résumé IA"
    }
  ],
  "image": []
}