automation/i18n/fr-FR/Tesla 15min Indicators Tool (Short-Term AI Technical Analysis).json
{
  "id": 4096,
  "name": "Outil d'indicateurs Tesla 15min (Analyse technique AI à court terme)",
  "views": 985,
  "recentViews": 1,
  "totalViews": 985,
  "createdAt": "2025-05-16T09:00:47.876Z",
  "description": "⏱️ **Analysez la structure du marché à court terme de Tesla (TSLA) et la dynamique à l'aide de 6 indicateurs techniques sur une période de 15 minutes.**\nCet outil d'agent AI fait partie du système **Agent AI de Trading Quantitatif Tesla**. Il est conçu pour détecter les changements intrajournaliers de la volatilité, de la force de tendance et des signaux de retournement potentiels.\n\n ⚠️ **Pas autonome.** Cet agent est déclenché via `Exécuter le flux de travail` par l'[Outil d'Analyse des Données du Marché Financier Tesla](https://n8n.io/workflows/4094-tesla-financial-market-data-analyst-tool-multi-timeframe-technical-ai-agent/).\n\n 🔌 **Nécessite :**\n\n * [Outil de Webhooks d'Indicateurs Techniques Quantitatifs Tesla](https://n8n.io/workflows/4095-tesla-quant-technical-indicators-webhooks-tool/)\n * `Clé API Premium Alpha Vantage`\n\n---\n\n## 📊 Ce qu'il fait\n\nCe flux de travail extrait les **20 derniers points de données** pour 6 indicateurs techniques clés à partir d'une source alimentée par webhook, puis utilise **GPT-4.1** pour interpréter la dynamique et la structure du marché :\n\n### Indicateurs Connectés :\n\n* **RSI (Indice de Force Relative)**\n* **MACD (Convergence-Divergence des Moyennes Mobiles)**\n* **BBANDS (Bandes de Bollinger)**\n* **SMA (Moyenne Mobile Simple)**\n* **EMA (Moyenne Mobile Exponentielle)**\n* **ADX (Indice Directionnel Moyen)**\n\nLa sortie est un JSON structuré avec :\n\n* Résumé du marché\n* Période (`15m`)\n* Valeurs des indicateurs\n\n---\n\n### 📋 Exemple de Sortie\n\n```json\n{\n  \"summary\": \"TSLA montre une dynamique en déclin. Le RSI est tombé en dessous de 60, le MACD s'aplatit et les BBANDS se resserrent. Attendez-vous à une consolidation à court terme.\",\n  \"timeframe\": \"15m\",\n  \"indicators\": {\n    \"RSI\": 58.3,\n    \"MACD\": {\n      \"macd\": -0.020,\n      \"signal\": -0.018,\n      \"histogram\": -0.002\n    },\n    \"BBANDS\": {\n      \"upper\": 183.10,\n      \"lower\": 176.70,\n      \"middle\": 179.90,\n      \"close\": 177.60\n    },\n    \"SMA\": 178.20,\n    \"EMA\": 177.70,\n    \"ADX\": 19.6\n  }\n}\n```\n\n---\n\n## 🧠 Composants de l'Agent\n\n| Module                | Rôle                                                     |\n| --------------------- | -------------------------------------------------------- |\n| **Nœud de Données Webhook** | Appelle le point de terminaison `/15minData` pour les indicateurs Alpha Vantage |\n| **Agent LangChain**   | Analyse les charges utiles des indicateurs et génère un raisonnement        |\n| **OpenAI GPT-4.1**    | Alimente la logique AI pour interpréter la structure technique     |\n| **Module Mémoire**     | Maintient la cohérence de session pour les appels multi-agents      |\n\n---\n\n## 🛠️ Instructions de Configuration\n\n1. **Importer le Flux de Travail dans n8n**\n   Nommez-le : `Outil_Indicateurs_Tesla_15min`\n\n2. **Configurer la Source Webhook**\n\n   * Installez et publiez : `Outil_Webhooks_Indicateurs_Techniques_Quantitatifs_Tesla`\n   * Assurez-vous que `/15minData` est accessible publiquement (ou activé pour tunnel)\n\n3. **Ajouter des Identifiants**\n\n   * Clé API Alpha Vantage (`Authentification HTTP Query`)\n   * OpenAI GPT-4.1 (`Modèle de Chat OpenAI`)\n\n4. **Lier en tant que Sous-Agent**\n   Ce flux de travail n'est pas déclenché manuellement. Il est exécuté en utilisant `Exécuter le flux de travail` par :\n   👉 `Outil_Analyse_Données_Marché_Financier_Tesla`\n   Passez :\n\n   * `message` (optionnel)\n   * `sessionId` (pour le lien de mémoire à court terme)\n\n---\n\n## 📌 Résumé des Notes Collantes\n\n🟢 **Intégration de Déclenchement** – Reçoit `sessionId` et `message` du parent\n🟡 **Récupérateur Webhook** – Extrait les données Alpha Vantage de `/15minData`\n🧠 **Raisonnement GPT-4.1** – Produit un aperçu JSON structuré\n🔵 **Mémoire de Session** – Maintient le flux d'évaluation à travers les outils\n📘 **Description de l'Outil** – Explique l'utilisation des indicateurs et le format de sortie AI\n\n---\n\n## 🔒 Licence & Auteur\n\n© 2025 **Treasurium Capital Limited Company**\nToute la logique, le formatage et la conception de l'agent sont protégés par le droit d'auteur. Pas de revente ou de réutilisation publique sans autorisation.\n\nCréé par : [Don Jayamaha](https://linkedin.com/in/donjayamahajr)\nProfil du Créateur : [https://n8n.io/creators/don-the-gem-dealer/](https://n8n.io/creators/don-the-gem-dealer/)\n\n---\n\n🚀 **Construisez plus rapidement des modèles de trading intrajournaliers Tesla en utilisant des aperçus d'indicateurs propres de 15 minutes—traités par AI.**\n**Nécessaire pour l'Outil d'Analyse des Données du Marché Financier Tesla.**",
  "workflow": {
    "id": "WNeFPeTpGr4F6knx",
    "meta": {
      "instanceId": "a5283507e1917a33cc3ae615b2e7d5ad2c1e50955e6f831272ddd5ab816f3fb6",
      "templateCredsSetupCompleted": true
    },
    "name": "Tesla 15min Indicators Tool n8n",
    "tags": [],
    "nodes": [
      {
        "id": "0ce5c7ad-3c00-4df1-8acd-afb36edad51b",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          100,
          520
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "message"
              },
              {
                "name": "sessionId"
              }
            ]
          }
        },
        "typeVersion": 1.1
      },
      {
        "id": "8b3a63a1-7396-44e4-aa76-7219c9a23475",
        "name": "Simple Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          660,
          840
        ],
        "parameters": {},
        "typeVersion": 1.3
      },
      {
        "id": "7e7e41c0-6252-4b5c-b19e-b987ed062a58",
        "name": "Tesla 15min Indicators Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          540,
          520
        ],
        "parameters": {
          "text": "={{ $json.message }}",
          "options": {
            "systemMessage": "You are the **Tesla 15-Minute Technical Indicators Analyst AI**.\n\nYour role is to analyze short-term market momentum and structure for **Tesla (TSLA)** using technical indicators at the **15-minute interval**. You operate as part of a modular system using **webhook-triggered HTTP calls** that retrieve and preprocess indicator data before reaching you.\n\n---\n\n### 🔌 Data Flow Overview:\n\n* You receive your input via a **webhook**.\n* That webhook calls upstream **n8n HTTP Request Nodes** connected to **Alpha Vantage API**.\n* Each indicator is fetched independently, then passed through **Tool Code Nodes** that extract and limit the output to the **latest 20 data points**.\n* You are the final consumer of the fully formatted and clean technical data.\n\n---\n\n### 📊 Connected Indicators (6 total):\n\nYou receive and interpret the following indicators:\n\n1. **RSI (Relative Strength Index)** – Detects overbought/oversold pressure.\n2. **MACD (Moving Average Convergence Divergence)** – Measures trend reversals and momentum shifts.\n3. **BBANDS (Bollinger Bands)** – Volatility and potential breakout conditions.\n4. **SMA (Simple Moving Average)** – Baseline trend confirmation.\n5. **EMA (Exponential Moving Average)** – Captures short-term trend sensitivity.\n6. **ADX (Average Directional Index)** – Evaluates trend strength.\n\n---\n\n### 🧠 Responsibilities:\n\n1. Parse the final formatted JSON payload for each indicator.\n2. Use these indicators to assess:\n\n   * Short-term trend strength\n   * Momentum exhaustion or continuation\n   * Volatility conditions\n3. Output a compact analysis with:\n\n   * Summary of market state\n   * Most recent values for each indicator\n\n---\n\n### 🧾 Output Format:\n\n```json\n{\n  \"summary\": \"TSLA shows fading momentum. RSI dropped below 60, MACD is flattening, and BBANDS are tightening. Expect short-term consolidation.\",\n  \"timeframe\": \"15m\",\n  \"indicators\": {\n    \"RSI\": 58.3,\n    \"MACD\": {\n      \"macd\": -0.020,\n      \"signal\": -0.018,\n      \"histogram\": -0.002\n    },\n    \"BBANDS\": {\n      \"upper\": 183.10,\n      \"lower\": 176.70,\n      \"middle\": 179.90,\n      \"close\": 177.60\n    },\n    \"SMA\": 178.20,\n    \"EMA\": 177.70,\n    \"ADX\": 19.6\n  }\n}\n```\n\n---\n\nKeep your tone professional and your insights concise. Only base conclusions on clear indicator signals. This output will be passed directly to the **Tesla Financial Market Data Analyst Tool** for final trading signal generation.\n"
          },
          "promptType": "define"
        },
        "typeVersion": 1.8
      },
      {
        "id": "f27bb85f-f3c4-402a-bfe2-4d83c580df1f",
        "name": "15min Data",
        "type": "n8n-nodes-base.httpRequestTool",
        "position": [
          1040,
          840
        ],
        "parameters": {
          "url": "https://treasurium.app.n8n.cloud/webhook/15minData",
          "options": {}
        },
        "typeVersion": 4.2
      },
      {
        "id": "ded3177e-e7be-452f-87ff-6673ed49e009",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          300,
          860
        ],
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1",
            "cachedResultName": "gpt-4.1"
          },
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "yUizd8t0sD5wMYVG",
            "name": "OpenAi account"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "1bd29e02-014a-47e1-b76f-46534c1b471c",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          320
        ],
        "parameters": {
          "color": 4,
          "width": 280,
          "height": 380,
          "content": "## Trigger from Parent Workflow \nThis node activates the workflow when called to execute Workflow action from the **Tesla Financial Market Analyst Tool**. Ensure proper inputs **message, sessionId** are passed."
        },
        "typeVersion": 1
      },
      {
        "id": "a03a615f-39e6-4997-8ea2-93995051a648",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          220,
          800
        ],
        "parameters": {
          "color": 2,
          "height": 380,
          "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n## GPT Model for Reasoning \nUtilizes **OpenAI GPT-4.1** to interpret **technical indicators** and generate short-term trend analysis and structured **JSON output**."
        },
        "typeVersion": 1
      },
      {
        "id": "4dc5fcc9-e991-48dd-b0e7-23e1d4bc4afb",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          560,
          800
        ],
        "parameters": {
          "color": 3,
          "height": 380,
          "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n## Short-Term Memory Module\nMaintains context across requests within the same session. Supports consistent logic between indicator evaluations for the **Tesla Financial Market Analyst Tool**."
        },
        "typeVersion": 1
      },
      {
        "id": "19f04c94-2c21-44fd-8fe5-54472b2849a5",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          960,
          800
        ],
        "parameters": {
          "color": 6,
          "height": 500,
          "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 15-Minute Indicator Data from Alpha Vantage \nMakes an HTTP call to a secured **webhook**, which fetches Tesla 15-minute interval indicators **(RSI, BBANDS, SMA, EMA, ADX, MACD)** via **Alpha Vantage Premium API**.\nOnly the latest **20 values** are returned, cleaned and trimmed."
        },
        "typeVersion": 1
      },
      {
        "id": "6f9e64bf-e1ae-4d12-81da-cc1c0f2e8596",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          440,
          280
        ],
        "parameters": {
          "color": 5,
          "width": 480,
          "height": 440,
          "content": "## Tesla 15-minute Technical Indicators AI\n\n• Processes the **webhook data** and **performs 15min timeframe evaluation for TSLA**.\n\n• Outputs a **JSON summary** of **market condition, trend state, and all indicator values**.\n\n• This feeds into the broader **Tesla Financial Market Data Analyst**."
        },
        "typeVersion": 1
      },
      {
        "id": "e05e507d-8d73-4bbd-b147-9d1c4d8e0a81",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1360,
          -900
        ],
        "parameters": {
          "width": 1560,
          "height": 2200,
          "content": "## 📘 Tesla 15min Indicators Tool\n\n### 🔧 Purpose:\n\nThis workflow analyzes **short-term market conditions** for Tesla (TSLA) using a comprehensive set of technical indicators on the **15-minute timeframe**. It is designed for **scalping signals**, **intraday volatility**, and **momentum evaluation**, feeding its insights into the **Tesla Financial Market Data Analyst Tool**.\n\n---\n\n### 📂 Required Dependencies (to use this workflow):\n\nTo function correctly, you must also have:\n\n* ✅ **Tesla Financial Market Data Analyst Tool** (calls this agent)\n* ✅ **Tesla 15min Webhook Tool** (fetches Alpha Vantage indicator data via webhook)\n* ✅ **Alpha Vantage Premium API Key** (added as an HTTP Query Auth credential)\n\n---\n\n### 🛠️ Step-by-Step Installation:\n\n1. **Import Workflow**\n   Import this JSON file into your **n8n instance**.\n\n2. **Set up API Credentials**\n\n   * Go to **Credentials → Create New**\n   * Choose **HTTP Query Auth**\n   * Name it: `Alpha Vantage Premium`\n   * Use your **premium API key** as the query value\n\n3. **Link to Webhook Source**\n   This workflow expects **cleaned Alpha Vantage data** (latest 20 data points) from:\n   👉 `Tesla_Quant_Technical_Indicators_Webhooks_Tool`\n\n4. **Review Node Roles**\n\n   * `15min Data` → Pulls indicator data via webhook (RSI, BBANDS, SMA, EMA, ADX, MACD)\n   * `Tesla 15min Indicators Agent` → AI Reasoning (LangChain Agent)\n   * `OpenAI Chat Model` → GPT-4.1 or Gemini Pro\n   * `Simple Memory` → Stores context for session continuity\n\n---\n\n### 🧠 AI Agent Logic:\n\n* Accepts **latest 20 data points** per indicator\n* Detects:\n\n  * Overbought/Oversold (RSI)\n  * Trend Strength (ADX)\n  * Breakout Conditions (BBANDS)\n  * Moving Average Crossovers (SMA & EMA)\n  * MACD-based momentum shifts\n* Outputs structured JSON for Tesla Financial Analyst Tool like:\n\n```json\n{\n  \"summary\": \"TSLA shows fading momentum. RSI dropped below 60, MACD is flattening, and BBANDS are tightening. Expect short-term consolidation.\",\n  \"timeframe\": \"15m\",\n  \"indicators\": {\n    \"RSI\": 58.3,\n    \"MACD\": {\n      \"macd\": -0.020,\n      \"signal\": -0.018,\n      \"histogram\": -0.002\n    },\n    \"BBANDS\": {\n      \"upper\": 183.10,\n      \"lower\": 176.70,\n      \"middle\": 179.90,\n      \"close\": 177.60\n    },\n    \"SMA\": 178.20,\n    \"EMA\": 177.70,\n    \"ADX\": 19.6\n  }\n}\n```\n\n---\n\n### 🔁 Trigger Flow:\n\n* This workflow is **not triggered independently**\n* It is called using **Execute Workflow Trigger** from:\n  👉 `Tesla Financial Market Data Analyst Tool`\n\n---\n\n## 🚀 Support & Licensing\n\n🔗 **Don Jayamaha – LinkedIn**\n[http://linkedin.com/in/donjayamahajr](http://linkedin.com/in/donjayamahajr)\n\n© 2025 Treasurium Capital Limited Company. All rights reserved.\nThis AI workflow architecture, including logic, design, and prompt structures, is the intellectual property of Treasurium Capital Limited Company. Unauthorized reproduction, redistribution, or resale is prohibited under U.S. copyright law. Licensed use only.\n"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "16ea335b-279d-4b2a-8713-10fb1c28ff58",
    "connections": {
      "15min Data": {
        "ai_tool": [
          [
            {
              "node": "Tesla 15min Indicators Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "Tesla 15min Indicators Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Tesla 15min Indicators Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Tesla 15min Indicators Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 29,
  "workflowInfo": {
    "nodeCount": 11,
    "nodeTypes": {
      "n8n-nodes-base.stickyNote": {
        "count": 6
      },
      "@n8n/n8n-nodes-langchain.agent": {
        "count": 1
      },
      "n8n-nodes-base.httpRequestTool": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.lmChatOpenAi": {
        "count": 1
      },
      "n8n-nodes-base.executeWorkflowTrigger": {
        "count": 1
      },
      "@n8n/n8n-nodes-langchain.memoryBufferWindow": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Don Jayamaha Jr",
    "username": "don-the-gem-dealer",
    "bio": "With 12 years of experience as a Blockchain Strategist and Web3 Architect, I specialize in bridging the gap between traditional industries and decentralized technologies. My expertise spans tokenized assets, crypto payment integrations, and blockchain-driven market solutions.",
    "verified": true,
    "links": [
      "https://www.linkedin.com/in/donjayamahajr/"
    ],
    "avatar": "https://gravatar.com/avatar/95f70084b3fec5ed68a61eef6dc6128dfb085d865a02ed631d0853d2730696bf?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note Collante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 837,
      "icon": "fa:sign-out-alt",
      "name": "n8n-nodes-base.executeWorkflowTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.executeworkflowtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lorsqu'il est exécuté par un autre flux de travail",
        "color": "#ff6d5a"
      },
      "iconData": {
        "icon": "sign-out-alt",
        "type": "icon"
      },
      "displayName": "Execute Workflow Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 1119,
      "icon": "fa:robot",
      "name": "@n8n/n8n-nodes-langchain.agent",
      "codex": {
        "data": {
          "alias": [
            "LangChain",
            "Chat",
            "Conversational",
            "Plan and Execute",
            "ReAct",
            "Tools"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Agents",
              "Root Nodes"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Agent AI",
        "color": "#404040"
      },
      "iconData": {
        "icon": "robot",
        "type": "icon"
      },
      "displayName": "AI Agent",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1153,
      "icon": "file:openAiLight.svg",
      "name": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatopenai/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Language Models",
              "Root Nodes"
            ],
            "Language Models": [
              "Chat Models (Recommended)"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Modèle de Chat OpenAI"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM2Ljg2NzEgMTYuMzcxOEMzNy43NzQ2IDEzLjY0OCAzNy40NjIxIDEwLjY2NDIgMzYuMDEwOCA4LjE4NjYxQzMzLjgyODIgNC4zODY1MyAyOS40NDA3IDIuNDMxNDkgMjUuMTU1NiAzLjM1MTUxQzIzLjI0OTMgMS4yMDM5NiAyMC41MTA1IC0wLjAxNzMxNDggMTcuNjM5MiAwLjAwMDE4NTUzM0MxMy4yNTkxIC0wLjAwOTgxNDY4IDkuMzcyNzMgMi44MTAyNSA4LjAyNTIgNi45Nzc4M0M1LjIxMTM5IDcuNTU0MSAyLjc4MjU4IDkuMzE1MzggMS4zNjEzIDExLjgxMTdDLTAuODM3NDkzIDE1LjYwMTggLTAuMzM2MjMyIDIwLjM3OTQgMi42MDEzMyAyMy42Mjk0QzEuNjkzODEgMjYuMzUzMiAyLjAwNjMyIDI5LjMzNzEgMy40NTc2IDMxLjgxNDZDNS42NDAxNSAzNS42MTQ3IDEwLjAyNzcgMzcuNTY5NyAxNC4zMTI4IDM2LjY0OTdDMTYuMjE3OSAzOC43OTczIDE4Ljk1NzkgNDAuMDE4NSAyMS44MjkyIDM5Ljk5OThDMjYuMjExOCA0MC4wMTEgMzAuMDk5NCAzNy4xODg1IDMxLjQ0NjkgMzMuMDE3MUMzNC4yNjA4IDMyLjQ0MDkgMzYuNjg5NiAzMC42Nzk2IDM4LjExMDggMjguMTgzM0M0MC4zMDcxIDI0LjM5MzIgMzkuODA0NiAxOS42MTk0IDM2Ljg2ODMgMTYuMzY5M0wzNi44NjcxIDE2LjM3MThaTTIxLjgzMTcgMzcuMzg2QzIwLjA3OCAzNy4zODg1IDE4LjM3OTIgMzYuNzc0NyAxNy4wMzI5IDM1LjY1MDlDMTcuMDk0MSAzNS42MTg0IDE3LjIwMDQgMzUuNTU5NyAxNy4yNjkxIDM1LjUxNzJMMjUuMjM0MyAzMC45MTcxQzI1LjY0MTggMzAuNjg1OCAyNS44OTE4IDMwLjI1MjEgMjUuODg5MyAyOS43ODMzVjE4LjU1NDNMMjkuMjU1NyAyMC40OTgxQzI5LjI5MTkgMjAuNTE1NiAyOS4zMTU3IDIwLjU1MDYgMjkuMzIwNyAyMC41OTA2VjI5Ljg4OTZDMjkuMzE1NyAzNC4wMjQ3IDI1Ljk2NjggMzcuMzc3MiAyMS44MzE3IDM3LjM4NlpNNS43MjY0IDMwLjUwNzFDNC44NDc2MyAyOC45ODk2IDQuNTMxMzcgMjcuMjEwOCA0LjgzMjYzIDI1LjQ4NDVDNC44OTEzOCAyNS41MTk1IDQuOTk1MTMgMjUuNTgzMiA1LjA2ODg4IDI1LjYyNTdMMTMuMDM0MSAzMC4yMjU4QzEzLjQzNzggMzAuNDYyMSAxMy45Mzc4IDMwLjQ2MjEgMTQuMzQyOCAzMC4yMjU4TDI0LjA2NjggMjQuNjEwN1YyOC40OTgzQzI0LjA2OTMgMjguNTM4MyAyNC4wNTA1IDI4LjU3NyAyNC4wMTkzIDI4LjYwMkwxNS45Njc5IDMzLjI1MDlDMTIuMzgxNSAzNS4zMTU5IDcuODAxNDQgMzQuMDg4NCA1LjcyNzY1IDMwLjUwNzFINS43MjY0Wk0zLjYzMDEgMTMuMTIwNUM0LjUwNTEyIDExLjYwMDQgNS44ODY0IDEwLjQzNzkgNy41MzE0NCA5LjgzNDE1QzcuNTMxNDQgOS45MDI5IDcuNTI3NjkgMTAuMDI0MiA3LjUyNzY5IDEwLjEwOTJWMTkuMzEwNkM3LjUyNTE5IDE5Ljc3ODEgNy43NzUxOSAyMC4yMTE5IDguMTgxNDUgMjAuNDQzMUwxNy45MDU0IDI2LjA1N0wxNC41MzkxIDI4LjAwMDhDMTQuNTA1MyAyOC4wMjMzIDE0LjQ2MjggMjguMDI3IDE0LjQyNTMgMjguMDEwOEw2LjM3MjY2IDIzLjM1ODJDMi43OTM4MyAyMS4yODU2IDEuNTY2MzEgMTYuNzA2OCAzLjYyODg1IDEzLjEyMTdMMy42MzAxIDEzLjEyMDVaTTMxLjI4ODIgMTkuNTU2OUwyMS41NjQyIDEzLjk0MTdMMjQuOTMwNiAxMS45OTkyQzI0Ljk2NDMgMTEuOTc2NyAyNS4wMDY4IDExLjk3MjkgMjUuMDQ0MyAxMS45ODkyTDMzLjA5NyAxNi42MzhDMzYuNjgyMSAxOC43MDkzIDM3LjkxMDggMjMuMjk1NyAzNS44Mzk1IDI2Ljg4MDhDMzQuOTYzMyAyOC4zOTgzIDMzLjU4MzIgMjkuNTYwOCAzMS45Mzk1IDMwLjE2NThWMjAuNjg5NEMzMS45NDMyIDIwLjIyMTkgMzEuNjk0NSAxOS43ODk0IDMxLjI4OTQgMTkuNTU2OUgzMS4yODgyWk0zNC42MzgzIDE0LjUxNDJDMzQuNTc5NSAxNC40NzggMzQuNDc1OCAxNC40MTU1IDM0LjQwMiAxNC4zNzNMMjYuNDM2OCA5Ljc3Mjg5QzI2LjAzMzEgOS41MzY2NCAyNS41MzMxIDkuNTM2NjQgMjUuMTI4MSA5Ljc3Mjg5TDE1LjQwNDEgMTUuMzg4VjExLjUwMDRDMTUuNDAxNiAxMS40NjA0IDE1LjQyMDQgMTEuNDIxNyAxNS40NTE2IDExLjM5NjdMMjMuNTAzIDYuNzUxNThDMjcuMDg5NCA0LjY4Mjc5IDMxLjY3NDUgNS45MTQwNiAzMy43NDIgOS41MDE2NEMzNC42MTU4IDExLjAxNjcgMzQuOTMyIDEyLjc5MDUgMzQuNjM1OCAxNC41MTQySDM0LjYzODNaTTEzLjU3NDEgMjEuNDQzMUwxMC4yMDY1IDE5LjQ5OTRDMTAuMTcwMiAxOS40ODE5IDEwLjE0NjUgMTkuNDQ2OCAxMC4xNDE1IDE5LjQwNjhWMTAuMTA3OUMxMC4xNDQgNS45Njc4MSAxMy41MDI4IDIuNjEyNzQgMTcuNjQyOSAyLjYxNTI0QzE5LjM5NDIgMi42MTUyNCAyMS4wODkyIDMuMjMwMjUgMjIuNDM1NSA0LjM1MDI4QzIyLjM3NDMgNC4zODI3OCAyMi4yNjkzIDQuNDQxNTMgMjIuMTk5MiA0LjQ4NDAzTDE0LjIzNDEgOS4wODQxM0MxMy44MjY2IDkuMzE1MzggMTMuNTc2NiA5Ljc0Nzg5IDEzLjU3OTEgMTAuMjE2N0wxMy41NzQxIDIxLjQ0MDZWMjEuNDQzMVpNMTUuNDAyOSAxNy41MDA2TDE5LjczNDIgMTQuOTk5M0wyNC4wNjU1IDE3LjQ5OTNWMjIuNTAwN0wxOS43MzQyIDI1LjAwMDdMMTUuNDAyOSAyMi41MDA3VjE3LjUwMDZaIiBmaWxsPSIjN0Q3RDg3Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "OpenAI Chat Model",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    },
    {
      "id": 1163,
      "icon": "fa:database",
      "name": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.memorybufferwindow/"
              }
            ]
          },
          "categories": [
            "AI",
            "Langchain"
          ],
          "subcategories": {
            "AI": [
              "Memory"
            ],
            "Memory": [
              "For beginners"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Mémoire Simple"
      },
      "iconData": {
        "icon": "database",
        "type": "icon"
      },
      "displayName": "Simple Memory",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 25,
          "name": "AI"
        },
        {
          "id": 26,
          "name": "Langchain"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 44,
      "name": "Trading Crypto"
    },
    {
      "id": 49,
      "name": "Résumé AI"
    }
  ],
  "image": []
}