automation/i18n/fr-FR/Track New Search Queries with Zero-Click Analysis in Google Search Console.json
{
  "id": 7645,
  "name": "Suivre les nouvelles requêtes de recherche avec l'analyse des clics nuls dans Google Search Console",
  "views": 87,
  "recentViews": 1,
  "totalViews": 87,
  "createdAt": "2025-08-20T12:46:57.255Z",
  "description": "*Ce flux de travail contient des nœuds communautaires qui ne sont compatibles qu'avec la version auto-hébergée de n8n.*\n\n## Google Search Console – Découvrir de nouveaux mots-clés (7 derniers jours)\n\nCe modèle n8n démontre comment identifier **de nouvelles requêtes dans Google Search Console** qui n'avaient aucune impression dans le passé mais qui sont apparues pour la première fois au cours des 7 derniers jours.  \nIl les segmente également en deux groupes : les requêtes avec des impressions mais sans clics pour l'instant (**Clic Nul**) et les requêtes qui ont déjà des clics (**A des Clics**).\n\nLes cas d'utilisation incluent :\n- Trouver **des opportunités SEO émergentes**.  \n- Identifier des mots-clés pour lesquels vous obtenez déjà des impressions mais devez optimiser pour les clics.  \n- Suivre les nouvelles requêtes découvertes semaine après semaine.  \n\n---\n\n## Bon à savoir\n- Ce flux de travail nécessite un **compte Google Search Console** connecté.  \n- Vous pouvez ajuster les plages de dates dans le nœud **Comparer les analyses de recherche** selon vos besoins.  \n- Fonctionne mieux lorsqu'il est programmé hebdomadairement, mais dans ce modèle, nous commençons par une **exécution manuelle** pour plus de flexibilité.  \n\n---\n\n## Comment ça fonctionne\n1. **Démarrage Manuel** – Exécutez le flux de travail manuellement pour récupérer des données fraîches.  \n2. **Comparer les Analyses de Recherche** – Compare les 7 derniers jours à une période de référence personnalisée dans Google Search Console.  \n3. **Filtrer (Pas d'Impressions Passées)** – Ne conserve que les requêtes qui n'avaient aucune impression dans la période de référence.  \n4. **Clic Nul** – Filtre les requêtes avec des impressions mais sans clics.  \n5. **A des Clics** – Filtre les requêtes avec des impressions et des clics.  \n\nLa sortie finale est deux ensembles de données propres :\n- **Requêtes Clic Nul** : impressions mais pas de clics → améliorer les descriptions meta, les titres ou la pertinence du contenu.  \n- **Requêtes A des Clics** : nouvelles requêtes générant déjà des clics → envisagez de créer du contenu de soutien et d'optimiser davantage.  \n\n---\n\n## Comment utiliser\n- Commencez par le **nœud Démarrage Manuel**.  \n- Ajoutez vos identifiants Google Search Console dans le nœud **Comparer les analyses de recherche**.  \n- En option, remplacez le Démarrage Manuel par un **Déclencheur de Planification** (par exemple, hebdomadaire) pour automatiser la surveillance.  \n- Exportez les résultats ou connectez-les à Slack, Email ou Google Sheets pour le reporting.  \n\n---\n\n## Exigences\n- **Compte Google Search Console** (avec accès à la propriété).  \n- Instance n8n avec l'intégration Google Search Console activée.  \n\n---\n\n## Personnaliser ce flux de travail\n- Ajustez les **plages de dates** dans le nœud de comparaison (par exemple, les 30 derniers jours contre les 30 jours précédents).  \n- Remplacez les branches de sortie par des intégrations comme **Slack, Notion ou Google Sheets** pour livrer automatiquement des rapports de mots-clés.  \n- Étendez le flux de travail avec des filtres supplémentaires, tels que le filtrage par CTR, pays ou appareil.  ",
  "workflow": {
    "meta": {
      "instanceId": "370f0437fbf8d71caf7e9230e115239afcf5012c55ac368aa9dee29869df4a6b",
      "templateCredsSetupCompleted": true
    },
    "nodes": [
      {
        "id": "3b30f5b7-5a0a-4310-9722-663e578e4763",
        "name": "Manual Start",
        "type": "n8n-nodes-base.start",
        "position": [
          -64,
          576
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "af4d9520-25e7-48ba-9213-51ba0de3d0e1",
        "name": "Compare search analytics between two date ranges",
        "type": "n8n-nodes-google-search-console.googleSearchConsole",
        "position": [
          176,
          576
        ],
        "parameters": {
          "endDateB": "2025-08-12T00:00:00",
          "operation": "comparePageInsights",
          "startDateB": "2024-08-01T00:00:00",
          "compareMode": "custom",
          "dateRangeModeA": "last7d",
          "dateRangeModeB": "custom",
          "siteUrlCompare": "sc-domain:example.com",
          "rowLimitCompare": 10000,
          "dimensionsCompare": [
            "query"
          ]
        },
        "typeVersion": 1
      },
      {
        "id": "adc872fb-54e2-457d-b821-8a9b4edad7e2",
        "name": "Filter (No Past Impressions)",
        "type": "n8n-nodes-base.filter",
        "position": [
          416,
          576
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.impr_b }}",
                "rightValue": "0"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "70a69524-a92b-4798-83b0-6973e73465a3",
        "name": "Zero Click",
        "type": "n8n-nodes-base.filter",
        "position": [
          656,
          432
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.clicks_a }}",
                "rightValue": "0"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "f19d81ee-f725-42f0-aa0c-243da7985a02",
        "name": "Has Click",
        "type": "n8n-nodes-base.filter",
        "position": [
          656,
          720
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $json.clicks_a }}",
                "rightValue": 0
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "aaab352f-b8e6-4d64-a8f1-aaa8ef431ddf",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -464,
          368
        ],
        "parameters": {
          "width": 720,
          "height": 400,
          "content": "## 🔎 Google Search Console - New Keywords (Last 7 Days)\n\nThis workflow identifies queries that had **no impressions in the past** but appeared in the **last 7 days**. It helps you find **new keyword opportunities**.\n\n### Setup Instructions\n1. **Connect Google Search Console** → add your credentials in the `Compare search analytics` node.\n2. (Optional) Adjust the date ranges for comparison.\n3. Run manually or use the `Weekly Trigger` to automate.\n\n### Output\n- **Zero Click** → new queries with impressions but no clicks yet.\n- **Has Click** → new queries with impressions and clicks.\n\nUse these results to optimize your SEO strategy 🚀"
        },
        "typeVersion": 1
      }
    ],
    "pinData": {},
    "connections": {
      "Manual Start": {
        "main": [
          [
            {
              "node": "Compare search analytics between two date ranges",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter (No Past Impressions)": {
        "main": [
          [
            {
              "node": "Zero Click",
              "type": "main",
              "index": 0
            },
            {
              "node": "Has Click",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare search analytics between two date ranges": {
        "main": [
          [
            {
              "node": "Filter (No Past Impressions)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 62,
  "workflowInfo": {
    "nodeCount": 6,
    "nodeTypes": {
      "n8n-nodes-base.start": {
        "count": 1
      },
      "n8n-nodes-base.filter": {
        "count": 3
      },
      "n8n-nodes-base.stickyNote": {
        "count": 1
      },
      "n8n-nodes-google-search-console.googleSearchConsole": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Mohammadreza azari",
    "username": "mrazari",
    "bio": "",
    "verified": true,
    "links": [
      ""
    ],
    "avatar": "https://gravatar.com/avatar/07ca413e08043e29e9738f610062a2ee9c1993409290dbd45c0ef18488b00bd6?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 42,
      "icon": "fa:play",
      "name": "n8n-nodes-base.start",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/why-i-chose-n8n-over-zapier-in-2020/",
                "icon": "😍",
                "label": "Why I chose n8n over Zapier in 2020"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/sending-sms-the-low-code-way-with-airtable-twilio-programmable-sms-and-n8n/",
                "icon": "📱",
                "label": "Sending SMS the Low-Code Way with Airtable, Twilio Programmable SMS, and n8n"
              },
              {
                "url": "https://n8n.io/blog/automating-conference-organization-processes-with-n8n/",
                "icon": "🙋‍♀️",
                "label": "Automating Conference Organization Processes with n8n"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.start/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Démarrer",
        "color": "#00e000"
      },
      "iconData": {
        "icon": "play",
        "type": "icon"
      },
      "displayName": "Start",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note Collante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 844,
      "icon": "fa:filter",
      "name": "n8n-nodes-base.filter",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The Filter node can be used to filter items based on a condition. If the condition is met, the item will be passed on to the next node. If the condition is not met, the item will be omitted. Conditions can be combined together by AND(meet all conditions), or OR(meet at least one condition).",
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.filter/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Filtrer",
        "color": "#229eff"
      },
      "iconData": {
        "icon": "filter",
        "type": "icon"
      },
      "displayName": "Filter",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 32,
      "name": "Recherche de Marché"
    },
    {
      "id": 51,
      "name": "IA Multimodale"
    }
  ],
  "image": []
}