automation/i18n/fr-FR/Weekly Meal Planner- AI-Generated Grocery Lists with Price Comparison to WhatsApp.json
{
  "id": 8241,
  "name": "Planificateur de Repas Hebdomadaire : Listes de Courses Générées par IA avec Comparaison de Prix sur WhatsApp",
  "views": 0,
  "recentViews": 0,
  "totalViews": 0,
  "createdAt": "2025-09-04T07:35:23.149Z",
  "description": "## Planificateur de Repas Hebdomadaire avec Listes de Courses Automatiques utilisant Fillout, FluentC IA & WhatsApp 🍽️  \n### *Automatisez la Planification des Repas Familiaux Hebdomadaires avec l'IA et WhatsApp*\n\nDites adieu au stress des repas. Ce flux de travail automatise l'ensemble de votre processus de planification des repas hebdomadaires — de l'entrée de la famille à une liste de courses envoyée par WhatsApp — en utilisant l'IA et des outils sans code.\n\nParfait pour :\n- Les ménagères gérant les routines domestiques\n- Les solopreneurs équilibrant affaires et famille\n- Les parents qui souhaitent réduire la fatigue décisionnelle\n\nLe flux de travail :\n1. 🗳️ Collecte les préférences de repas via un **formulaire Fillout**\n2. 🤖 Utilise **FluentC IA** pour générer un plan de dîner de 5 jours et une liste de courses catégorisée\n3. 🛒 Vérifie les prix en utilisant **Scrappey** (Walmart, Target, etc.)\n4. 📄 Génère une **liste de courses PDF imprimable** avec **PDF4me**\n5. 📲 Envoie la liste à votre conjoint ou groupe familial via **WhatsApp** en utilisant **WhatsAble**\n\nEntièrement automatisé, convivial pour les débutants, et conçu pour apporter du calme à votre maison.\n\n---\n\n## Exigences de Configuration\n\nAvant d'utiliser ce flux de travail, assurez-vous d'avoir les comptes et outils suivants :\n\n| Service | Objectif | Offre Gratuite Disponible ? |\n|--------|--------|----------------------|\n| [Fillout](https://fillout.com) | Collecter les préférences de repas de la famille | Oui |\n| [FluentC IA](https://fluentc.ai) ou OpenAI | Génération de listes de repas et de courses alimentées par IA | Oui (si vous utilisez OpenAI) |\n| [Scrappey](https://scrappey.com) | Extraire les prix en temps réel des magasins | Oui (150 extractions gratuites) |\n| [PDF4me](https://pdf4me.com) | Générer des PDF propres et imprimables | Oui |\n| [WhatsAble](https://whatsable.com) | Envoyer des messages WhatsApp via API | Oui |\n| [n8n](https://n8n.io) | Orchestrer l'automatisation | Oui |\n\n💡 Vous aurez besoin de clés API pour : FluentC, Scrappey, PDF4me, WhatsAble  \n🔐 Toutes les informations d'identification doivent être stockées en toute sécurité dans n8n\n\n---\n\n## Instructions de Configuration Étape par Étape\n\n### 1. Créez Votre Formulaire Fillout\nVotre formulaire doit inclure les **champs** suivants pour fonctionner avec ce flux de travail :\n\n| Nom du Champ | Type | Exemple |\n|----------|------|--------|\n| `Choix de Repas` | Choix Multiples ou Long Texte | “Pâtes, Tacos, Sauté” |\n| `Notes Diététiques` | Texte Court (Optionnel) | “Pas de produits laitiers, végétarien” |\n| `Jours Préférés` | Case à Cocher | Lun, Mar, Mer |\n| `Horodatage de Soumission` | Champ Caché | Généré automatiquement |\n\n📌 **Astuce** : Nommez votre formulaire “Sondage de Repas Familiaux Hebdomadaire” et configurez-le pour enregistrer automatiquement les réponses.\n\n🔗 Après publication, copiez l'**URL du formulaire** et ajoutez-la au nœud Fillout dans n8n.\n\n---\n\n### 2. Importez le Flux de Travail dans n8n\n1. Allez sur votre tableau de bord n8n.\n2. Cliquez sur **Flux de travail &gt; Créer à partir de JSON**.\n3. Collez le JSON fourni.\n4. Cliquez sur **Importer**.\n\n---\n\n### 3. Configurez les Informations d'Identification\nPour chaque service, allez à **Informations d'Identification &gt; Ajouter Nouveau** et entrez votre clé API :\n- **FluentC IA** (ou OpenAI)\n- **Scrappey**\n- **PDF4me**\n- **WhatsAble**\n- **Fillout**\n\n🔐 Ne jamais coder en dur les clés — utilisez toujours le système d'informations d'identification de n8n.\n\n---\n\n### 4. Configurez l'Invite de l'IA\nDans le nœud **FluentC : Générer le Plan de Repas** :\n- Modifiez l'invite pour inclure les besoins diététiques et la structure de sortie :\n  ```text\n  En fonction de ces préférences de repas : {{ $json[\"Choix de Repas\"] }}.\n  Créez un plan de dîner de 5 jours (Lun-Ven) avec des recettes simples et familiales. Ensuite, générez une liste de courses catégorisée. Tenez compte des notes diététiques : {{ $json[\"Notes Diététiques\"] }}.\n  Utilisez un ton chaleureux et amical.\n\n  Format de sortie :\n  {\n    \"mealPlan\": \"Lundi : Pâtes à l'Ail Crémeux\\nMardi : Tacos aux Haricots Noirs...\",\n    \"groceryList\": \"Produits : Poivrons, oignons, épinards\\nÉpicerie : Haricots noirs en conserve, pâtes, huile d'olive...\"\n  }",
  "workflow": {
    "meta": {
      "templateCreatedBy": {
        "id": "template-creator",
        "name": "n8n Template Creator"
      },
      "templateCredentials": [
        "httpHeaderAuth",
        "openAiApi",
        "telegramApi"
      ]
    },
    "name": "Weekly Meal Planner → PDF → Telegram",
    "nodes": [
      {
        "id": "ManualTrigger",
        "name": "Trigger: Weekly Meal Workflow",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          220,
          320
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "StickyNote1",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          180,
          180
        ],
        "parameters": {
          "content": ""
        },
        "typeVersion": 1
      },
      {
        "id": "FilloutHTTP",
        "name": "Fetch Fillout Submission (HTTP)",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          460,
          320
        ],
        "parameters": {},
        "typeVersion": 3
      },
      {
        "id": "PrepPrompt",
        "name": "Prep Prompt from Fillout",
        "type": "n8n-nodes-base.code",
        "position": [
          700,
          320
        ],
        "parameters": {},
        "typeVersion": 2
      },
      {
        "id": "OpenAIHTTP",
        "name": "OpenAI Chat (HTTP)",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          940,
          320
        ],
        "parameters": {},
        "typeVersion": 3
      },
      {
        "id": "ValidateJSON",
        "name": "Validate & Shape Plan",
        "type": "n8n-nodes-base.code",
        "position": [
          1180,
          320
        ],
        "parameters": {},
        "typeVersion": 2
      },
      {
        "id": "BuildHTML",
        "name": "Build HTML for PDF",
        "type": "n8n-nodes-base.code",
        "position": [
          1420,
          320
        ],
        "parameters": {},
        "typeVersion": 2
      },
      {
        "id": "PDF4meHTTP",
        "name": "PDF4me: HTML to PDF",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1660,
          320
        ],
        "parameters": {},
        "typeVersion": 3
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "1",
    "connections": {
      "Build HTML for PDF": {
        "main": [
          [
            {
              "node": "PDF4me: HTML to PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat (HTTP)": {
        "main": [
          [
            {
              "node": "Validate & Shape Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate & Shape Plan": {
        "main": [
          [
            {
              "node": "Build HTML for PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Prompt from Fillout": {
        "main": [
          [
            {
              "node": "OpenAI Chat (HTTP)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger: Weekly Meal Workflow": {
        "main": [
          [
            {
              "node": "Fetch Fillout Submission (HTTP)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Fillout Submission (HTTP)": {
        "main": [
          [
            {
              "node": "Prep Prompt from Fillout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 1,
  "workflowInfo": {
    "nodeCount": 8,
    "nodeTypes": {
      "n8n-nodes-base.code": {
        "count": 3
      },
      "n8n-nodes-base.stickyNote": {
        "count": 1
      },
      "n8n-nodes-base.httpRequest": {
        "count": 3
      },
      "n8n-nodes-base.manualTrigger": {
        "count": 1
      }
    }
  },
  "user": {
    "name": "Shelly-Ann Davy",
    "username": "SheCodesFlow",
    "bio": "Founder of The Workflow Muse & @SheCodesFlow.\n\nI craft elegant, task-focused automations for creators, founders, and soft-tech enthusiasts.\n\n“Automate with grace. Scale with power.”",
    "verified": true,
    "links": [
      "http://tiny.cc/theworkflowmuse"
    ],
    "avatar": "https://gravatar.com/avatar/10e840c97c344b18a1b76ce8a870056c68568e2af9c961a6237d572c2f373afb?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 19,
      "icon": "file:httprequest.svg",
      "name": "n8n-nodes-base.httpRequest",
      "codex": {
        "data": {
          "alias": [
            "API",
            "Request",
            "URL",
            "Build",
            "cURL"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/world-poetry-day-workflow/",
                "icon": "📜",
                "label": "Celebrating World Poetry Day with a daily poem in Telegram"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automate-designs-with-bannerbear-and-n8n/",
                "icon": "🎨",
                "label": "Automate Designs with Bannerbear and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-use-the-http-request-node-the-swiss-army-knife-for-workflow-automation/",
                "icon": "🧰",
                "label": "How to use the HTTP Request Node - The Swiss Army Knife for Workflow Automation"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/automations-for-activists/",
                "icon": "✨",
                "label": "How Common Knowledge use workflow automation for activism"
              },
              {
                "url": "https://n8n.io/blog/creating-scheduled-text-affirmations-with-n8n/",
                "icon": "🤟",
                "label": "Creating scheduled text affirmations with n8n"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Demande HTTP",
        "color": "#0004F5"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00MCAyMEM0MCA4Ljk1MzE0IDMxLjA0NjkgMCAyMCAwQzguOTUzMTQgMCAwIDguOTUzMTQgMCAyMEMwIDMxLjA0NjkgOC45NTMxNCA0MCAyMCA0MEMzMS4wNDY5IDQwIDQwIDMxLjA0NjkgNDAgMjBaTTIwIDM2Ljk0NThDMTguODg1MiAzNi45NDU4IDE3LjEzNzggMzUuOTY3IDE1LjQ5OTggMzIuNjk4NUMxNC43OTY0IDMxLjI5MTggMTQuMTk2MSAyOS41NDMxIDEzLjc1MjYgMjcuNjg0N0gyNi4xODk4QzI1LjgwNDUgMjkuNTQwMyAyNS4yMDQ0IDMxLjI5MDEgMjQuNTAwMiAzMi42OTg1QzIyLjg2MjIgMzUuOTY3IDIxLjExNDggMzYuOTQ1OCAyMCAzNi45NDU4Wk0xMi45MDY0IDIwQzEyLjkwNjQgMjEuNjA5NyAxMy4wMDg3IDIzLjE2NCAxMy4yMDAzIDI0LjYzMDVIMjYuNzk5N0MyNi45OTEzIDIzLjE2NCAyNy4wOTM2IDIxLjYwOTcgMjcuMDkzNiAyMEMyNy4wOTM2IDE4LjM5MDMgMjYuOTkxMyAxNi44MzYgMjYuNzk5NyAxNS4zNjk1SDEzLjIwMDNDMTMuMDA4NyAxNi44MzYgMTIuOTA2NCAxOC4zOTAzIDEyLjkwNjQgMjBaTTIwIDMuMDU0MTlDMjEuMTE0OSAzLjA1NDE5IDIyLjg2MjIgNC4wMzA3OCAyNC41MDAxIDcuMzAwMzlDMjUuMjA2NiA4LjcxNDA4IDI1LjgwNzIgMTAuNDA2NyAyNi4xOTIgMTIuMzE1M0gxMy43NTAxQzE0LjE5MzMgMTAuNDA0NyAxNC43OTQyIDguNzEyNTQgMTUuNDk5OCA3LjMwMDY0QzE3LjEzNzcgNC4wMzA4MyAxOC44ODUxIDMuMDU0MTkgMjAgMy4wNTQxOVpNMzAuMTQ3OCAyMEMzMC4xNDc4IDE4LjQwOTkgMzAuMDU0MyAxNi44NjE3IDI5LjgyMjcgMTUuMzY5NUgzNi4zMDQyQzM2LjcyNTIgMTYuODQyIDM2Ljk0NTggMTguMzk2NCAzNi45NDU4IDIwQzM2Ljk0NTggMjEuNjAzNiAzNi43MjUyIDIzLjE1OCAzNi4zMDQyIDI0LjYzMDVIMjkuODIyN0MzMC4wNTQzIDIzLjEzODMgMzAuMTQ3OCAyMS41OTAxIDMwLjE0NzggMjBaTTI2LjI3NjcgNC4yNTUxMkMyNy42MzY1IDYuMzYwMTkgMjguNzExIDkuMTMyIDI5LjM3NzQgMTIuMzE1M0gzNS4xMDQ2QzMzLjI1MTEgOC42NjggMzAuMTA3IDUuNzgzNDYgMjYuMjc2NyA0LjI1NTEyWk0xMC42MjI2IDEyLjMxNTNINC44OTI5M0M2Ljc1MTQ3IDguNjY3ODQgOS44OTM1MSA1Ljc4MzQxIDEzLjcyMzIgNC4yNTUxM0MxMi4zNjM1IDYuMzYwMjEgMTEuMjg5IDkuMTMyMDEgMTAuNjIyNiAxMi4zMTUzWk0zLjA1NDE5IDIwQzMuMDU0MTkgMjEuNjAzIDMuMjc3NDMgMjMuMTU3NSAzLjY5NDg0IDI0LjYzMDVIMTAuMTIxN0M5Ljk0NjE5IDIzLjE0MiA5Ljg1MjIyIDIxLjU5NDMgOS44NTIyMiAyMEM5Ljg1MjIyIDE4LjQwNTcgOS45NDYxOSAxNi44NTggMTAuMTIxNyAxNS4zNjk1SDMuNjk0ODRDMy4yNzc0MyAxNi44NDI1IDMuMDU0MTkgMTguMzk3IDMuMDU0MTkgMjBaTTI2LjI3NjYgMzUuNzQyN0MyNy42MzY1IDMzLjYzOTMgMjguNzExIDMwLjg2OCAyOS4zNzc0IDI3LjY4NDdIMzUuMTA0NkMzMy4yNTEgMzEuMzMyMiAzMC4xMDY4IDM0LjIxNzkgMjYuMjc2NiAzNS43NDI3Wk0xMy43MjM0IDM1Ljc0MjdDOS44OTM2OSAzNC4yMTc5IDYuNzUxNTUgMzEuMzMyNCA0Ljg5MjkzIDI3LjY4NDdIMTAuNjIyNkMxMS4yODkgMzAuODY4IDEyLjM2MzUgMzMuNjM5MyAxMy43MjM0IDM1Ljc0MjdaIiBmaWxsPSIjM0E0MkU5Ii8+Cjwvc3ZnPgo="
      },
      "displayName": "HTTP Request",
      "typeVersion": 4,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Note Collante",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 834,
      "icon": "file:code.svg",
      "name": "n8n-nodes-base.code",
      "codex": {
        "data": {
          "alias": [
            "cpde",
            "Javascript",
            "JS",
            "Python",
            "Script",
            "Custom Code",
            "Function"
          ],
          "details": "The Code node allows you to execute JavaScript in your workflow.",
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Code"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Code",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 838,
      "icon": "fa:mouse-pointer",
      "name": "n8n-nodes-base.manualTrigger",
      "codex": {
        "data": {
          "resources": {
            "generic": [],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Lorsque vous cliquez sur ‘Exécuter le flux de travail’",
        "color": "#909298"
      },
      "iconData": {
        "icon": "mouse-pointer",
        "type": "icon"
      },
      "displayName": "Manual Trigger",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 43,
      "name": "Productivité Personnelle"
    },
    {
      "id": 51,
      "name": "IA Multimodale"
    }
  ],
  "image": []
}